[2017-09-07 17:36] dwoodard1 commented on #1478
Created: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=14155

[2017-09-07 19:54] ghost commented on #1377
Hi,
I am new to camel, trying to retrieve bytea file from postgreSQL and save in my local directory in xml format. I tried. I have service running which is saving xml file in postgreSQL(in bytea format) now m trying to retrieve that file in same format, but not able to. Can you please help

[2017-09-08 13:08] markoer opened #1656 "[Testing] Add wire.script.filter.provider tests"
Add a few tests of org.eclipse.kura.wire.script.filter.provider package.

[2017-09-08 14:36] DmitryChizhikov opened #1657 "Bluetooth notifications do not work"
Due to misprint in the `org.eclipse.kura.linux.bluetooth.le.BluetoothGattImpl` class notifications do not work.
Misprint in line 416 `String x = "Notification hanlde = ";` needs to be corrected.

Also, starting from some bluez version `gatttool` uses escape sequences in output. So, the line 417 in same file (see below) works incorrectly:
`String sub = line.substring(x.length()).trim();`
It seems i

[2017-09-08 15:40] pierantoniomerlino commented on #1657
@DmitryChizhikov thank you for the suggestion, I'll take a look on that. Which version of Bluez are you using? What is the output of the command?

[2017-09-08 16:03] DmitryChizhikov commented on #1657
@pierantoniomerlino  I am using 5.46, which is the latest one. But issue appeared since version 5.40 at least.
Currently the output looks like:
`[KNotification handle = 0x004e value: 2f ff ff ff c8 03 `
Due to these extra 3 chars before `Notification handle = ` substring keeps ` = 0x004e value:... ` instead of expected `0x004e value:...` and subsequent split takes `=`, not `0x004e` as handle id.

[2017-09-09 17:20] BaljeetMalik opened #1660 "the org.eclipse.osgi plug-in is missing from this configuration"

[2017-09-09 17:20] #1660 closed, assigned to nobody

[2017-09-11 08:30] pierantoniomerlino opened #1661 "The driver configuration is not applied"
When a driver configuration is applied from the "Drivers and Assets" tab, the properties are indeed applied.
<img width="620" alt="screen shot 2017-09-11 at 10 25 31" src="https://user-images.githubusercontent.com/2919570/30265182-af131a54-96db-11e7-8b78-09cd889f206f.png">

However, if the configuration is applied from the "Driver" tab in the Wires graph, the new configuration is not applied to th

[2017-09-11 09:57] OrangeAlex commented on #1633
@MMaiero  hi， MMaiero, i have change the log level to the "Verbose",and then  i found information in the log as fellows :
2017-08-31 09:54:09,386 [DefaultQuartzScheduler_Worker-7] INFO  o.e.k.i.w.l.Logger - Received WireEnvelope from org.eclipse.kura.wire.WireAsset-1504142299752-3
2017-08-31 09:54:09,387 [DefaultQuartzScheduler_Worker-7] INFO  o.e.k.i.w.l.Logger - Record List content:
2017-08-31 0

[2017-09-11 09:59] MMaiero commented on #1633
Yes. I believe we can close the issue now.

[2017-09-11 10:05] OrangeAlex commented on #1633
@MMaiero  by the way , i have another question about the kura , if i have a device based on the opc ua , i want to access it  via the kura,  so  i think , i should configure an ip and the port number in the kura , and then the device send the request to the kura through the ip and port, and i think i can browse the data from the log as same as i did before via Kura Wires ? is that right ?
what is

[2017-09-11 10:14] MMaiero commented on #1633
You can do that in the same way as done in the example: the Kura Wires component and Driver act as an OPC-UA client and connect to a remote OPC-UA server. If that is the context, you can simply change the IP and port in the driver instance to point to your remote asset. Furthermore, you'll need to update the asset with a proper set of channels.

If you need Kura to be an OPC-UA server, currently w

[2017-09-11 10:20] OrangeAlex commented on #1633
@MMaiero  OK  MMaiero, Thank you very much for your help,^_^
Best regards, Alex.wang

[2017-09-11 10:22] #1633 closed, assigned to nobody

[2017-09-11 19:41] dwoodard1 opened #1663 "Authentication Issue with Deploy V2"
Kura currently uses java.net.Authenticator to handle Basic Authentication for HTTP requests. There is a documented issue [1] in which if a successful authentication occurs, the credentials are cached, and any future authentication attempt will succeed, even if bad credentials are provided. Since the referenced bug is noted as a "won't fix", Kura should move to a different Authentication scheme. Th

[2017-09-12 14:46] pierantoniomerlino opened #1665 "Create rpm installer for Fedora"

[2017-09-13 08:32] pierantoniomerlino commented on #308
The #1528 added also support for Eddystones.

[2017-09-13 08:32] #308 closed

[2017-09-13 17:01] dwoodard1 commented on #1478
@markoer Can you please respond to this question from the Eclipse PMC:

"our of curiosity: In what way are you guys using io.dropwizard.metrics so that
it is just a test and/or build dependency that is not relevant during runtime?"

[2017-09-13 23:24] ibinshtok opened #1668 "Support 'manual' mode for network interfaces"

[2017-09-14 02:24] OrangeAlex opened #1669 "Some problem about Kura Development"
hi ,  nowdays, i wonder to development my application, according to the official Document about Development(Url:https://eclipse.github.io/kura/dev/kura-setup.html), i download the Kura User Workspace archive named "user_workspace_archive_3.0.0.zip", and then i import it into my workspace at Eclipse IDE, but i found the problem:
according to the document , when i finish the project import,  i shoul

[2017-09-14 07:28] markoer commented on #1478
It is needed for the OPC-UA driver provider tests. The implementation bundle only uses the Milo client libraries, while the tests use the server part as well. This way the driver can connect to the server and interact with it. And it seems that the client part doesn't use the library in question, so it was not necessary before.

[2017-09-14 10:25] ctron commented on #1478
But you so know that you don't need a CQ if this is only a transient dependency of another Eclipse project.

[2017-09-15 08:13] MMaiero commented on #1669
Hi,
the Kura APIs are included in the user workspace target platform. In fact, if you apply the .target definition, the project will not return errors. So, you can still build your new projects using the Kura APIs provided by the environment.
Please refer to the [Eclipse Kura Documentation](http://eclipse.github.io/kura/) for more details and, in particular, for an overview about the existing Kura

[2017-09-15 08:13] #1669 closed, assigned to nobody

[2017-09-18 07:57] ctron commented on #1644
The fix for both issues is currently tracked in apache/activemq-artemis#1539

[2017-09-18 09:08] nicolatimeus opened #1680 "getKuraMarketplaceCompatibilityVersion() always returns kura.version"
`getKuraMarketplaceCompatibilityVersion()` always returns `kura.version` instead of `kura.marketplace.compatibility.version`

[2017-09-18 12:23] nicolatimeus opened #1685 "[WebUi] Security policy fingerprint UI does not expand"
The button that allows to reload the security policy fingerprint is not shown when clicking on the **Security Policy** label in the **Settings** section

[2017-09-18 12:40] #1661 closed, assigned to MMaiero

[2017-09-18 12:41] MMaiero commented on #1413
Close by PR #1679

[2017-09-18 12:41] #1413 closed, assigned to pierantoniomerlino

[2017-09-18 14:18] #1685 closed, assigned to nobody

[2017-09-18 14:19] #1680 closed, assigned to nobody

[2017-09-18 14:20] MMaiero commented on #1665
Closed as #1672 has been merged

[2017-09-18 14:20] #1665 closed, assigned to pierantoniomerlino

[2017-09-18 14:21] MMaiero commented on #1585
Closing as #1651 has been merged

[2017-09-18 14:21] #1585 closed, assigned to cdealti

[2017-09-18 16:04] nicolatimeus opened #1689 "Instaling a dp can cause the WebUI to restart"
Installing a deployment package sometimes causes the WebUi and a few other services to be stopped and restarted:
[code]

[2017-09-19 08:23] MMaiero commented on #1429
Closed by #1461 merging

[2017-09-19 08:23] #1429 closed, assigned to nobody

[2017-09-21 16:01] MMaiero commented on #1478
I believe this can be closed. @dwoodard1

[2017-09-25 09:08] darionct opened #1695 "BeagleBone, debian9 installation error"
BegaleBone Black, latest installation image, [Debian 9.1](http://debian.beagleboard.org/images/bone-debian-9.1-iot-armhf-2017-08-31-4gb.img.xz), at the end of installation reports the following error messages:

[code]

Kura starts and runs with no problems.

[2017-09-27 09:12] markoer opened #1700 "[Kura 3.1.0 QA] Rollback doesn't restore deleted services"
Encountered during a variation of DEN-SNAP-002 on Kura 3.1.0 RC b40 on RPi3.

* Add a H2DbServer service. Configure it and apply changes.
* Make sure Java listens on the configured port.
* Delete it.
* Go to System->Settings and Rollback to the previous snapshot.
* Refresh page.
* The deleted service is not in the Services list and not started (no listener on the TCP port), but probably should be

[2017-09-28 08:03] markoer opened #1701 "[Kura 3.1.0 QA] kura-release-candidate project artifacts"
The project artifacts are missing the new TinyB-related artifacts including TiSensorTag, iBeacon and Eddystone.

On a side note, org.eclipse.kura.driver.ble.sensortag.feature.dp preview is not yet available through Marketplace.

Kura 3.1.0 RC b40

[2017-09-28 08:08] markoer opened #1702 "[Kura 3.1.0 QA] Artemis in emulator"
Artemis bundle is not selected in the default emulator configuration in user workspace. The result is that Artemis broker service is not available there.

Kura 3.1.0 RC b40 user workspace zip on Linux

[2017-09-28 08:25] markoer opened #1703 "[Kura 3.1.0 QA] Wires page jumping up and down"
Open wires graph in a browser window high enough that that graph and component configuration don't fit one page and narrow enough that components are listed on the right of the graph. Open configuration of one of the components and scroll a bit down so that view is not on the top of the page as shown below:

![image](https://user-images.githubusercontent.com/22816717/30955945-bd628484-a435-11e7-9b

[2017-09-28 09:11] markoer opened #1704 "[Kura 3.1.0 QA] TiSensorTag driver - exception reading values"
Exception occurs during reading of channel data in DRIVERS-BLE-002 test:

[code]

Setup:

![image](https://user-images.githubusercontent.com/22816717/30958540-ced23c8e-a43d-11e7-9e18-0875268d6759.png)

org.eclipse.kura.example.ble.tisensortag.tinyb, in contrast, works.

Kura 3.1.0 RC b40 on RPi3

[2017-09-28 09:28] markoer opened #1705 "[Kura 3.1.0 QA] TISensorTag failing read result"
Set up a TiSensorTag driver and asset and try to read its data via REST. Log contains the error as in #1704. Channel flag still reports successful read:
`[{"channelStatus":{"channelFlag":"SUCCESS"},"name":"Channel-1","valueType":"DOUBLE","value":0.0,"timestamp":1506584576691}]`

It's probably not related to REST, but is easily observed there.

Kura 3.1.0 RC b40 on RPi3

[2017-09-28 09:38] markoer opened #1706 "[Kura 3.1.0 QA] REST boolean read result"
Prepare a driver, asset and channel with boolean value type. Read it through REST interface. The result will be similar to `[{"channelStatus":{"channelFlag":"SUCCESS"},"name":"Channel-1","valueType":"BOOLEAN","timestamp":1506590471014}]`.

Note that there is no `value` property available regardless of the actual value.

Data tab under Asset in UI displays the proper value.

Kura 3.1.0 RC b40 on RP

[2017-09-28 11:33] markoer opened #1707 "[Kura 3.1.0 QA] BLE iBeacon* only react to company code 004c"
This is by design, but it causes incompatibility between this new advertiser/scanner and the old scanner/advertiser.

The proposed solution is to configure the old set to use 004c company code instead of 0000 by default.

Kura 3.1.0 RC b40

[2017-09-28 14:17] kamir opened #1710 "Accessing the Kura logs should be possible via Web-UI"
Instead of using the tail command in the device level, it would be great to be able to access the logs within the Kura-Web-UI - maybe linked from Status-Page.

[2017-09-28 17:04] dwoodard1 commented on #1710
@kamir Thanks for the feedback. You can use the command feature in the UI (Device->Command) to  tail or cat the log file. But I understand this is not a running log. If you are interested in implementing such a feature, we are always looking for contributions. Otherwise, we can add it to our backlog.

[2017-09-28 17:23] kamir commented on #1710
Thanks for the hint.

I tried to execute a command, but this ends with:

Error
INTERNAL_ERROR

I used the root password of the device and no password. Same issue in both
cases.

Regarding the implementation of such a log-view feature, I think this would
be a good point to start.
I know how to work with servlets, but it my take a while and some pointers,
because I am new to the GWT framework.

Chee

[2017-09-28 17:42] dwoodard1 commented on #1710
Which command did you run? You must run processes that terminate cleanly, meaning you can't use things like tail -f. You can run commands like cat, tail -n 100, ifconfig, ps aux, etc.

[2017-09-28 17:43] #1478 closed, assigned to nobody

[2017-09-28 17:56] dwoodard1 commented on #1377
@jaspannud I would recommend creating a new Issue with your question. Comments to closed Issues will not receive much attention.

[2017-09-28 18:07] dwoodard1 commented on #1648
@austindsouza Sorry for the delay, the Kura team has been busy trying to get out our latest release. Unfortunately, what you request would require an update to the upload servlet. If you feel this would be a good addition, feel free to submit a pull request and we can review it.

Alternatively, and possibly a better approach, is to use EventAdmin. The package is installed via the DeploymentAgentSe

[2017-09-28 18:17] kamir commented on #1710
I used the *cat* command, and also *ls *to see where the cmd runs.

[2017-09-29 09:20] #1706 closed, assigned to nobody

[2017-09-29 09:23] #1707 closed, assigned to nobody

[2017-10-02 06:46] MMaiero commented on #1702
This should be solved now. Ok to close? @markoer

[2017-10-02 07:28] markoer commented on #1702
I was going to wait for the new build to verify the fix, but close it, if you wish.

[2017-10-02 07:38] cdealti commented on #1700
@markoer we will add this to the list of known issues.

[2017-10-02 07:44] markoer commented on #1700
OK

[2017-10-02 07:47] cdealti commented on #1703
@markoer we will not fix this for 3.1.0

[2017-10-02 07:50] cdealti commented on #1704
@pierantoniomerlino can you please take a look

[2017-10-02 07:59] cdealti commented on #1705
@pierantoniomerlino can you please take a look?

[2017-10-02 09:09] MMaiero commented on #1704
I've tried to replicate in my environment but everything worked:

<img width="1000" alt="schermata 2017-10-02 alle 11 07 19" src="https://user-images.githubusercontent.com/10448126/31070802-fdc7d022-a761-11e7-949f-30ea5e1e7004.png">
<img width="771" alt="schermata 2017-10-02 alle 11 08 37" src="https://user-images.githubusercontent.com/10448126/31070816-0b873c84-a762-11e7-9a6b-6305bbe70c89.png">

[2017-10-02 10:56] markoer commented on #1704
Looks like 1.20 is installed.

[2017-10-03 16:04] markoer commented on #1706
Fix verified on b41.

[2017-10-04 09:10] markoer commented on #1704
I upgraded to 1.40 and now it works. But the 'old' BLE example doesn't seem to work properly - it only prints out a few values, and even those are constant.
I could try with some other versions, too, if you have the firmware files somewhere. It might be interesting to know the version in which it starts/stops working.

[2017-10-04 09:20] pierantoniomerlino commented on #1704
Hi Marko,

yes, the old BLE example doesn’t work with new the firmware. The old example reads the values using the “handles” instead UUIDs and these changed in the new firmware. The Tinyb example, instead, uses only UUIDs and they are constant. I suppose that the old example works with <=1.2.0 firmware version.

Thank you.
Pier

On 04 Oct 2017, at 11:10, markoer <notifications@github.com<mailto:no

[2017-10-04 09:37] markoer commented on #1704
OK. Then the issue is resolved, IMO.
Closing.

[2017-10-04 09:37] #1704 closed, assigned to pierantoniomerlino

[2017-10-04 09:50] markoer commented on #1701
Verified in b41. Closing.

[2017-10-04 09:50] #1701 closed, assigned to nicolatimeus

[2017-10-04 14:55] markoer commented on #1705
Due to SensorTag update to 1.40 I cannot reproduce the particular conditions any longer. A fix is provided that theoretically produces better results. I therefore recommend to close the issue and open another if we manage to reproduce the problem.

[2017-10-04 14:56] #1705 closed, assigned to pierantoniomerlino

[2017-10-04 15:09] markoer opened #1720 "[Kura 3.1.0 QA] SensorTagDriver NPE if wrong address"
SensorTagDriver throws NPE that propagates to REST service in case channel's `sensortag.address` is incorrect:

[code]

So the result is a rather uninformative
[code]

I recommend to maybe hide this exception and suggest to check e.g. the MAC.

Kura 3.1.0 RC b41 on RPi3

[2017-10-04 15:46] #1558 closed, assigned to nobody

[2017-10-05 08:27] markoer commented on #1710
Can you please try to run the commands with a full path e.g. /bin/ls, /bin/cat, /bin/pwd, etc.? You might have more success running them so.
Otherwise, which system and OS/version are you using?

[2017-10-05 10:51] markoer opened #1724 "[Kura 3.1.0 QA] WiFi DHCP: Gateway IP wrong in GUI"
Perform test NET-WIFI-001 and move to NET-WIFI-003 (WAN, DHCP, Station mode). Wait for the interface to obtain the IP from DHCP, refresh page to be sure.

GUI shows Gateway is 127.0.0.1 instead of the correct IP; route returns the proper IP/default route.
![image](https://user-images.githubusercontent.com/22816717/31223676-54640c64-a9cb-11e7-9cdc-c365b75d0e0d.png)
[code]

Restart Kura.
GUI now sho

[2017-10-05 11:01] markoer commented on #1724
Similar thing actually happens with ethernet, except that one of DNS servers is available as a label before Kura's restart.

[2017-10-05 12:44] #1702 closed, assigned to nobody

[2017-10-05 14:55] markoer opened #1725 "[Kura 3.1.0 QA] Cloud Services GUI crashes"
Certain conditions (e.g. removed deployment packages that still have some configuration) cause Cloud Services UI to crash with error:

![image](https://user-images.githubusercontent.com/22816717/31233665-6fc69dc4-a9ed-11e7-8c4e-ad245bfaee86.png)

The exception in the log is:
[code]

This may also happen when a problematic snapshot is applied.

Kura 3.1.0 RC b41 on RPi3

Note: Effort to fix this or

[2017-10-06 15:45] markoer opened #1727 "[System dependencies] Check if resolvconf causes issues with network administration"
Some gateways are not shipped with the binary in question, it's recommended to remove it for Fedora and it didn't seem to cause problems on Raspbian so far.
The expected result of this issue is to determine whether having it installed on the rest of the supported systems affects Kura in any way and should therefore be removed as a precondition for Kura installation.

[2017-10-06 18:53] kamir commented on #1710
Hello, and thanks for the hint.

I have tested it with an absolute path, but *no luck*.

OS :
- latest Raspbian + Kura 3.0.0

[image: Inline image 1]

I used the default password "kura-password" for the "kura-sys" user and
also the linux root password.

Best wishes,
Mirko

[image: cloudera] <http://cloudera.com/>
Dr. des. Mirko Kämpf
*Solution Architect*
phone: +49 176 206 35 199 <+49%20160%209668

[2017-10-09 08:26] cdealti commented on #1724
@ibinshtok @markoer I believe this is a regression added with 451370bac18cf527fa2733e43a8aa03ba77eb8ad a precisely with the refactor of `getDhcpDnsServers`.

[2017-10-09 13:33] MMaiero commented on #1710
Hi,
did you specify a password in the "Command Service"?
If not, it's not needed to provide it when running your commands in the local web UI.
In my raspberry pi, with a fresh install of Kura, if I try to run via web UI the command **ls /tmp**, it works.

Best regards,
Matteo

[2017-10-11 09:35] #1518 closed, assigned to pierantoniomerlino

[2017-10-11 09:35] MMaiero commented on #1518
Closing, since it should be solved.

[2017-10-11 09:36] MMaiero commented on #1519
I believe this can be closed, right @pierantoniomerlino ?

[2017-10-11 09:38] #1519 closed, assigned to nobody

[2017-10-11 09:38] #1520 closed, assigned to nobody

[2017-10-11 09:39] #1521 closed, assigned to nobody

[2017-10-11 09:39] #1522 closed, assigned to pierantoniomerlino

[2017-10-11 09:40] #1523 closed, assigned to pierantoniomerlino

[2017-10-12 08:25] #1720 closed, assigned to MMaiero

[2017-10-12 08:27] #1724 closed, assigned to ibinshtok

[2017-10-12 08:27] #1725 closed, assigned to MMaiero

[2017-10-12 11:13] markoer commented on #1720
Verified in 3.1.0 RC b42.

[2017-10-12 11:14] markoer commented on #1725
Verified in 3.1.0 RC b42.

[2017-10-12 11:18] markoer commented on #1724
Verified in 3.1.0 RC b42.

[2017-10-16 15:18] markoer opened #1734 "Display of asset channel data in WebUI in case of failures"
When I misconfigure one of the sensors on SensorTag (wrong address) and go to System->Drivers and Assets->asset->Data tab, the values are read from the sensors, but none are displayed. Log shows operation failure on one of the sensors (as expected). The shown warning is displayed in the UI.

The warning is appropriate, but it would be nice if the UI showed the values that were read successfully. M

[2017-10-17 14:51] austindsouza opened #1735 "Add more properties to Kura's configuration dynamically and display new configuration in web UI"
Hi,

I'm looking for a method to add new configurations to Kura's configurable properties dynamically when the  OSGI bundle starts. After adding the configurations it should display the newly created configurations in WebUI.

Is their any method to achieve this?

I have tried to do this in java like below in activate method

Map<String, Object> properties = new HashMap<String, Object>();
        p

[2017-10-17 15:37] nicolatimeus opened #1737 "CloudClient subscribes to more topics than requested"
The CloudClient API offers a subscribe() method that can be used to create subscriptions to topics starting with a same prefix defined by the CloudClient APP id.

A CloudClient instance receives all messages published on topics starting with `#account-id/#client-id/#application-id` for which the underlying CloudService is subscribed, even if the subscription was not explicitly requested using the

[2017-10-18 07:39] MMaiero commented on #1735
Hi Austin,
the changes you are doing to the configuration are done locally to the bundle but are not reflected into the configurationservice which actually manages and persists all the configurations.
Furthermore, even if persisted in the configuration service, those properties, I believe, are not declared in the component OCD description, so they will not be displayed in the Kura Web UI.

For wha

[2017-10-18 07:40] #1648 closed, assigned to nobody

[2017-10-18 07:59] austindsouza commented on #1735
Hi Matteo,

Can you provide me some pointers on SelfConfiguring Components ?

Thanks,
Austin

[2017-10-18 08:02] MMaiero commented on #1735
https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.asset.provider/src/main/java/org/eclipse/kura/asset/provider/BaseAsset.java

[2017-10-18 14:13] MMaiero opened #1742 "[Test] Position service test failure in Travis"
It happens that a position service test fails in Travis causing the build to fail. If the rebuild is restarted it is likely that the build succeeds.
Following the test log:

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running org.eclipse.kura.linux.position.GpsDeviceTest
Oct 18, 2017 1:41:47 PM org.eclipse.kura.linux.po

[2017-10-18 15:21] #1703 closed, assigned to MMaiero

[2017-10-20 08:46] MMaiero commented on #1547
@markoer Could you please update this issue? Just to know what is the current status. Thanks

[2017-10-20 08:47] MMaiero commented on #1577
@ibinshtok Any updates on this task?

[2017-10-20 09:04] markoer commented on #1547
Currently this is on hold. If/when networking will be refactored further, some additional tests will be necessary. If you feel we should close this issue and then open another one, that's fine by me.

[2017-10-20 10:23] MMaiero opened #1747 "[Kura 3.1.0] Build error due to exists-plugin"
Currently, trying to build Kura 3.1.0 from the ```KURA_3.1.0_RELEASE``` tag results in a build error like shown below:

[code]

The workaround for this exception is to disable the ```exists-maven-plugin``` both from target-platform/pom.xml and from kura/pom.xml.

This will make the build working again.

[2017-10-21 12:23] Amar82 commented on #308
I deployed the eddy stone package in my Kura 3.1.0 installed in RPi3.
package location: https://marketplace.eclipse.org/content/eddystone-advertiser-eclipse-kura

While the Eddystone URL is working fine, the UID part is not working. Google Beacon Tools is not able to detect the beacon. I guess the beacon is not working when in  UID option.

parameters:
Minimum time interval between beacons (millis

[2017-10-21 18:35] Amar82 opened #1748 "I can't see Eddystone UID in Goolge Beacon Tools"
I deployed the eddy stone package in my Kura 3.1.0 installed in RPi3.
package location:
http://download.eclipse.org/kura/releases/3.1.0/org.eclipse.kura.example.eddystone.advertiser_1.0.0.dp

While the Eddystone URL is working fine, the UID part is not working. Google Beacon Tools is not able to detect the beacon. I guess the beacon is not working when in UID option.

parameters:
Minimum time inte

[2017-10-23 07:12] MMaiero commented on #1547
I'll prefer closing this and open new issues that maybe we can keep on hold.

[2017-10-23 07:12] #1547 closed, assigned to cdealti

[2017-10-23 07:47] #1657 closed, assigned to pierantoniomerlino

[2017-10-23 07:53] pierantoniomerlino commented on #308
Hi,

I tested your parameters with the Kura Eddystone advertiser example and it seems to work.
I configured the bundle and scanned for Eddystones both with Google Beacon Tools and nRF Connect apps.

You could take a look on the kura.log and kura-console.log files to check if there are some exceptions or errors.

Best,
Pier

[2017-10-23 08:25] MMaiero commented on #1735
@austindsouza Did that help you?
Can we close this issue?

[2017-10-23 08:46] austindsouza commented on #1735
@MMaiero Is their any example available for reference?
It would be helpful.

[2017-10-23 08:48] MMaiero commented on #1735
As far as I know, we don't have self-contained examples for this.
But, I believe, the base asset is a good starting point.

[2017-10-24 03:11] Amar82 commented on #308
Hi Pier,

I redeployed the bundle, all seems fine , but cant see in the Eddystone UID, in  Google Beacon Tools or Beacon Scanner. I have deployed the kura_3.1.0_raspberry-pi-2-3_installer.deb in my Raspberry pi 3 B+. (  am I using wrong package ? )

can u please take a look at logs, I couldn't fine any error in them:

OSGI Console details - =======
**74	Active		org.eclipse.kura.example.eddystone.a

[2017-10-24 08:21] pierantoniomerlino commented on #1748
Please refer to #308 for the logs.

@Amar82 The logs are fine and they don't report any error. Could you please enable the debug messages for the BeaconManager package and take a look on the kura.log file? From the osgi console type:

[code]

It will show the command used to enable the advertising.

If all is fine, stop the advertiser from the webUI and try to enable it manually. From a terminal o

[2017-10-25 04:13] Amar82 commented on #1748
Thanks Pier,

I ll try it and will report if anything happens.

regards
Amar

On Tue, Oct 24, 2017 at 1:51 PM, Pierantonio Merlino <
notifications@github.com> wrote:

--
  --amar

[2017-10-25 09:47] ctron opened #1752 "Allow patterns for building the final MQTT topic"
Right now the final MQTT topics are structured like this: `[$EDC]/<tenant>/<client-id>/<application>/custom/topic/structure`.

For the LWT this is configurable using the MqttDataTransport service configuration. But it is not for topics in general.

So as discussed during EclipseCon with @cdealti it would be a valuable addition to Kura to make this configurable as well for data and control topics i

[2017-10-26 08:35] #1734 closed, assigned to MMaiero

[2017-10-26 09:45] austindsouza commented on #1735
Hi @MMaiero ,

I am trying this with modifying configurable component example.

My aim here is to create a component definition file with "service.pid" and other details, after that I need to specify the configurable parameters to this bundle's metatype that defines the parameters, default values, types, etc dynamically while runtime.

Not in xml file like giving
       AD id="param1.string"

[2017-10-26 09:57] MMaiero commented on #1735
Hi,
if you have a look at the [SelfConfiguringComponent interface](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/configuration/SelfConfiguringComponent.java) you will see that you need to implement the `getConfiguration` method. That one, when invoked by the framework, will return the [ComponentConfiguration](https://github.com/eclipse/kura/b

[2017-10-27 08:03] MMaiero commented on #890
Related to current web ui improvements.

[2017-10-27 08:06] MMaiero commented on #1188
Should be solved by PR #1750

[2017-10-27 08:06] #1188 closed, assigned to nicolatimeus

[2017-10-27 08:07] MMaiero commented on #1193
Should be solved by PR #1750

[2017-10-27 08:07] #1193 closed, assigned to nicolatimeus

[2017-10-27 09:11] austindsouza commented on #1735
@MMaiero
Thank you very much for your help, It worked!!!

Best regards,
Austin

[2017-10-27 09:22] MMaiero commented on #1735
Great!

[2017-10-27 09:22] #1735 closed, assigned to nobody

[2017-10-27 09:26] pierantoniomerlino opened #1753 "Typo in Eddystone provider component definition"
When the Eddystone provider bundle is deactivated, the following exception is thrown:

[code]

This is due to a misspelled method in the component definition.

[2017-10-27 15:41] pierrepitiot opened #1757 "Remove GpsClockSyncProvider in Clock Service"
It appears that the GpsClockSyncProvider is never used in the clock service and has been removed from the clock.provider config.
I propose to remove it to clean up a little bit the Clock service.
This issue can be connected with eclipse/kura#1649

[2017-10-30 08:59] #1753 closed, assigned to pierantoniomerlino

[2017-10-30 09:18] markoer opened #1758 "[Web UI] Initial page view on a narrow screen"
Open a browser and reduce width so that Web UI will show menu for narrow devices. Reload the page and the result is this:

![image](https://user-images.githubusercontent.com/22816717/32162611-e135433c-bd59-11e7-9c10-b978ce9e6ba9.png)

Menu remains open with a modal over the content that makes one think it doesn't work. It might be better to close the menu initially, after Kura loads.

3.2.0-SNAPSH

[2017-10-31 21:12] ilterpehlivan opened #1760 "Heater example for BND/Maven does not work"
Hi,

I am using  kura emulator with docker (https://github.com/ctron/kura-emulator) and i am trying to deploy heater example(Maven). It seems I can see the bundle in OSGI as Active but I cannot see any logs, especially the one when bundle is activated:
logger.info("Activating Heater...");

Here is how it looks like in Emulator:
126     ACTIVE      org.eclipse.kura.demo.bnd.heater_1.0.100.SNAPSHOT

[2017-11-01 14:59] ilterpehlivan commented on #1760
Seems like logs are coming to container /var/log/kura.log..
Closing the issue

[2017-11-01 14:59] #1760 closed, assigned to nobody

[2017-11-02 09:57] cdealti opened #1761 "NetworkAdminServiceImpl: submitFirewallConfiguration blocks for 30 seconds"
Setting the firewall configuration through `setFirewallXxx` methods of `NetworkAdminServiceImpl` always takes 30 seconds.
The `submitFirewallConfiguration` methods waits for an `org/eclipse/kura/net/admin/event/FIREWALL_EVENT_CONFIG_CHANGE_TOPIC` OSGi event but neither `NetworkAdminServiceImpl` subscribes to that event nor the event is raised in that code path.
Eventually the wait timeouts and the

[2017-11-02 17:52] mvtn opened #1762 "Problem in building the Kura Development Environment"
Hi,

I am trying to build Kura via the Oomph installer under the Linux.

- Into cd ../kura I run mvn clean install and the same command into target-platform/
- I Build without CAN support
mvn -Dmaven.test.skip=true -f pom.xml clean install

After that, the build is a success.

BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 13:07 min

[2017-11-04 16:22] Amar82 opened #1764 "Migration issue from Kura 2 to Kura 3 : I2C device reading showing exception "java.lang.IllegalArgumentException""
the code was working fine , but now showing exception post migration to Kura 3 .

Java Source File:

https://github.com/Amar82/retail-iot.github.io/blob/master/SI7021_I2C.java

Exception:
 o.s.k.s.t.SI7021_I2C - exception in i2c reading java.lang.IllegalArgumentException

please let me know if I am missing something

[2017-11-05 10:21] Amar82 commented on #1764
solved issue.
No problem with kura.
Code issue

[2017-11-05 10:21] #1764 closed, assigned to nobody

[2017-11-06 15:53] pierantoniomerlino opened #1766 "GSM modems not correctly detected after a reset"
A GSM modem that provides also net interfaces (i.e. usb0) are not correctly detected after a reset. This is due to the fact that the NetworkServiceImpl is able to detect only tty and block resources. When a net resource added event triggers the NetworkServiceImpl, the resource is added to the block list and the modem is not recognized.

[2017-11-06 16:07] #1761 closed, assigned to nobody

[2017-11-06 16:31] markoer opened #1768 "[Testing] Add REST service tests"
Add a few tests for the Asset REST service.

[2017-11-07 10:18] markoer commented on #1700
Very good. When the code is merged and build is available, I'll check it again and close.

[2017-11-07 10:18] markoer commented on #890
When the code is merged and build is available, I'll check it again and close.

[2017-11-07 11:50] #1768 closed, assigned to markoer

[2017-11-07 13:26] markoer commented on #1656
Tests implemented, PR merged.

[2017-11-07 13:26] #1656 closed, assigned to nobody

[2017-11-07 13:26] markoer commented on #1654
Tests implemented, PR merged.

[2017-11-07 13:26] #1654 closed, assigned to nobody

[2017-11-07 14:49] kartben commented on #1747
Is there an ETA for this? I would hope that this is high priority on the list for the Kura team, as not being able to build a *released* tag usually doesn't send the right message to the community. But it's good to know there is a workaround.

[2017-11-07 15:02] MMaiero commented on #1748
@Amar82 Any update on this issue?

[2017-11-07 15:28] MMaiero commented on #1268
Regarding the Firewall apply button we decided to place a Reset one to allow the possibility to refer changes without commit them

[2017-11-07 15:30] MMaiero commented on #1268
There is a hint, but effectively it disappears when the user starts writing content in the text box.
I'll open another issue just to track this.

[2017-11-07 15:32] MMaiero commented on #1268
We tried to design something but it was not successful. Indeed, the currently selected cloud service is shown in the table. So, maybe, there is no need to replicate this information.

[2017-11-07 15:37] MMaiero commented on #1268
Maybe we can keep this as a proposal

[2017-11-07 15:37] MMaiero commented on #1268
In a new issue

[2017-11-07 15:37] #1268 closed, assigned to nicolatimeus, MMaiero

[2017-11-07 15:39] MMaiero opened #1770 "CloudService instance hint should be persistent while the user writes"
Maybe the hint can be placed in another part of the interface in order to not disappear when the user starts writing the name of the new cloud service stack

[2017-11-07 15:41] MMaiero opened #1771 "[Wires] Move Wire Components selection to a New (with drop down) button."
This proposal could free up space for the canvas.

[2017-11-07 15:42] MMaiero opened #1772 "Remove the icons from the "new component" dialog"
In the New Component dialog, remove the icons from the buttons and just have them as Submit and Cancel in that order

[2017-11-07 15:46] MMaiero commented on #1758
I agree.
But I also believe we should load the status page instead of a clean page.

[2017-11-07 15:57] #890 closed

[2017-11-07 16:02] markoer commented on #1758
Correct. That would also be nice.

[2017-11-07 17:53] Amar82 commented on #1748
Hi Pier,

Sorry for my late input, was out on a vacation :)

I tried it today and got this  Kura.log below :

2017-11-07 22:43:15,875 [qtp28286371-30] INFO  o.e.k.c.c.ConfigurationServiceImpl - Writing snapshot - Saving /opt/eclipse/kura/data/snapshots/snapshot_1510076595724.xml... Done.
2017-11-07 22:44:41,706 [qtp28286371-35] INFO  o.e.k.c.c.ConfigurationServiceImpl - Loading init configurations

[2017-11-07 18:04] Amar82 commented on #1748
Even I tried the command line options, still UID is not visible in Beacon tools.
Seems some problem with my Pi3 B+ itself ...

pi@raspberrypi:/var/log $ sudo hcitool -i hci0 cmd 0x08 0x0008 1E 02 01 1A 03 03 AA FE 17 16 AA FE 00 10 6F FE CD FE C9 B3 4B 80 64 AF 18 DF 68 AA 4E E4 00 00
< HCI Command: ogf 0x08, ocf 0x0008, plen 32
  1E 02 01 1A 03 03 AA FE 17 16 AA FE 00 10 6F FE CD FE C9 B3
  4B 80

[2017-11-07 18:36] dwoodard1 opened #1773 "Kura DB Store Query"
I have noticed inconsistent behavior between a traditional DB Manager query and a query executed in the Kura Wires DB Filter. Specifically, this is related to trying to read the last value entered in the DB and determine if it is above/below a certain threshold. An example query would be something like:

`SELECT "Torq","TIMESTAMP" FROM (SELECT * FROM "WR_data" ORDER BY TIMESTAMP DESC LIMIT 1) WHER

[2017-11-08 09:45] markoer commented on #890
Verified in 3.2.0-SNAPSHOT b1242

[2017-11-08 09:46] markoer commented on #1700
Verified in 3.2.0-SNAPSHOT b1242. Closing.

[2017-11-08 09:46] #1700 closed, assigned to nicolatimeus

[2017-11-08 12:35] markoer commented on #1639
Implemented and PRs merged. Closing.

[2017-11-08 12:35] #1639 closed, assigned to nobody

[2017-11-08 16:38] pierantoniomerlino commented on #1748
Hi,

the ```Command ogf 0x08, ocf 0x000a failed. Error: Command Disallowed (0C)``` occurs when Kura tries to switch off the advertising when it is already switched off.

The commands you type on the terminal are correct and the outputs don't show any problem. I checked them on my RPi and I'm able to detect the Eddystone with nRFConnect app. So, I think that there is a problem with your system. Can

[2017-11-08 16:43] #590 closed

[2017-11-09 09:57] nicolatimeus opened #1776 "[Wires] Add a refresh button in Wire Composer"
Currently there is no way for refreshing the wire graph other that selecting another service tab and then switching back to the wire composer.
A refresh button can be added for this purpose, this button will also allow to undo non applied changes.

[2017-11-09 10:00] nicolatimeus opened #1777 "[Wires] Drag and drop glitch"
Steps to reproduce:

* Add a new wire component using drag and drop.
* Cancel the new component dialog using the 'x' button in the top right corner.

The preview of the new component will not be removed

[2017-11-09 10:08] nicolatimeus opened #1778 "[Wires] Web Ui error when deleting a not saved component"
Steps to reproduce:

* Create a new component, do not press Apply.
* Delete the component.
* Apply the changes.

An error message will be shown by the Wires Composer.

[2017-11-11 16:25] Amar82 commented on #1638
Hi Pier,

nice to meet you again :) .

my scenario is my sensors use i2c to connect to kura, and kura should connect  via wifi to internet router to connect to broker in cloud.
I am trying to connect Kura ( 3.1), via wifi ( station mode) to my home router ( router is connected to Internet).  But I am not able to do so.
I am using the wifi driver of Pi3 B+, there is NO additional wifi driver.

I ha

[2017-11-13 08:33] MMaiero commented on #1638
@Amar82 I believe your question is not related to the issue opened by @pierantoniomerlino.
I've also seen you opened a forum issue here with the same question: https://www.eclipse.org/forums/index.php/m/1776149/#msg_1776149

I believe it's better if you don't cross post. In this way, we will not have duplication.
Or, if needed, please open a specific issue in GitHub.

Thanks.

Best regards,
Matteo

[2017-11-13 08:44] cdealti commented on #1668
Closing as we need more design/requirements

[2017-11-13 08:44] #1668 closed, assigned to nobody

[2017-11-13 08:48] #1766 closed, assigned to pierantoniomerlino

[2017-11-13 08:53] MMaiero commented on #1762
Hi,
I believe those errors are due to some wrong configs in Eclipse, since the maven build seems to succeed.
You can work anyway, we will try to see if there is some configuration change that can prevent those errors to be displayed in the IDE.

Thanks.

Best regards,
Matteo

[2017-11-13 08:59] cdealti commented on #1078
Closing due to inactivity

[2017-11-13 08:59] #1078 closed, assigned to nobody

[2017-11-13 09:10] cdealti commented on #734
Closing again as there's no solution with deployment packages.

[2017-11-13 09:10] #734 closed

[2017-11-13 09:11] cdealti commented on #558
Closing due to inactivity

[2017-11-13 09:11] #558 closed

[2017-11-13 09:17] cdealti commented on #311
Closing as it is not causing any harm.

[2017-11-13 09:17] #311 closed

[2017-11-13 09:41] cdealti commented on #1214
Closing as there's nothing we can do

[2017-11-13 09:41] #1214 closed, assigned to nobody

[2017-11-13 09:48] cdealti commented on #975
Closing as support for Bluez 5 has been added with Kura 3.1.0.

[2017-11-13 09:48] #975 closed, assigned to nobody

[2017-11-13 09:49] cdealti commented on #1399
Closing. I believe it has been fixed in Kura 3.1.0.

[2017-11-13 09:49] #1399 closed, assigned to nobody

[2017-11-13 09:51] cdealti commented on #1414
Closing. Karaf will not be further developed.

[2017-11-13 09:54] cdealti commented on #1209
Closing for the time being.

[2017-11-13 09:54] #1209 closed, assigned to nobody

[2017-11-13 09:58] pierantoniomerlino commented on #975
@cdealti We didn't test any device with Bluetooth HCI 5.0. I guess that the new API will support also that version, but I've not evidence about that.

However, I think that we can close this issue for now.

[2017-11-13 10:04] cdealti commented on #1197
Closing in favor of #1578.

[2017-11-13 10:04] #1197 closed, assigned to nobody

[2017-11-13 10:09] #1758 closed, assigned to nicolatimeus

[2017-11-13 10:11] #1777 closed, assigned to nicolatimeus

[2017-11-13 10:17] MMaiero commented on #1773
It can be a good improvement. But I believe we need a flag in order to keep compatibility with the current behaviour.

[2017-11-13 10:47] ctron opened #1783 "Unable to locate source code of apache-log4j-extras-1.1.jar"
Looking at the dependency `log4j.apache-log4j-extras_1.1.0.jar` which is required by Kura I do see there are modifications being made compared to the version of Maven Central:

Maven Central: `acd91d528e26aa771198d930cf08e953  apache-log4j-extras-1.1.jar`
Kura: `2ca71cfab66acdb29a205dcd63139b96  log4j.apache-log4j-extras_1.1.0.jar`

Is there any place to find find the source code for those changes

[2017-11-13 14:52] cdealti commented on #1638
There are hardcoded "eth0", "eth1", "wlan0" and "wlan1" occurrences in the source code

[2017-11-13 15:05] cdealti commented on #1695
@markoer can you please get more details on this? If this is a bug because of the configuration files installed by Kura, please add the `bug` label.

[2017-11-13 15:05] MMaiero commented on #1783
I believe the artefact is the same as the one of the first contribution and should match the CQ approved. It only got a renaming from the original `apache-log4j-extras-1.1.jar` to `log4j.apache-log4j-extras_1.1.0.jar`.

I currently have no other detail on the md5 difference with the version available in maven central.

[2017-11-13 15:35] ctron commented on #1783
So how can we be sure it actually matches the approved CQ?

Could you look this up please.

[2017-11-13 16:08] dwoodard1 commented on #1773
I'm not sure I understand. What is the default behavior? Shouldn't the filter match standard SQL queries?

[2017-11-13 16:09] MMaiero commented on #1773
Sure, but if we change now the current behaviour we risk to break the existing graphs.

[2017-11-13 16:24] dwoodard1 commented on #1773
OK, but this seems like a bug fix to me. I don't think we can worry about breaking implementations that only work due to a bug. If you don't consider this a bug, then I would agree with you.

[2017-11-14 07:48] cdealti commented on #1451
Fixed

[2017-11-14 07:48] #1451 closed, assigned to ibinshtok

[2017-11-14 09:36] MMaiero commented on #609
For what I've found the flag is no more there. I believe we can close

[2017-11-14 09:41] cdealti commented on #466
@ctron if I read the first comment at the top, I'd say this is no longer an issue as the selection of the CloudService instance has been fixed where needed. Do you have any counter examples?

[2017-11-14 09:48] cdealti commented on #459
@pierantoniomerlino is this supported by the new BLE API of ESF 5.1.0?

[2017-11-14 09:50] cdealti commented on #866
@MMaiero can this easily be implemented?

[2017-11-14 09:54] MMaiero commented on #866
Probably. I bet it would require a session invalidation. But needs to be tested.

[2017-11-14 10:05] cdealti commented on #445
Closing as no interest exists

[2017-11-14 10:05] #445 closed

[2017-11-14 10:24] MMaiero commented on #866
https://stackoverflow.com/questions/2180206/how-to-force-jetty-to-ask-for-credentials-with-basic-authentication-after-invali

[2017-11-14 11:00] pierantoniomerlino commented on #459
@cdealti I think so, but I haven't a BLE device with a random address to test.

[2017-11-14 11:17] #1778 closed, assigned to nicolatimeus

[2017-11-14 11:46] MMaiero commented on #1757
I believe this was solved by PR #1774

[2017-11-14 11:48] #1757 closed, assigned to nobody

[2017-11-14 11:53] MMaiero commented on #1400
I've modified the build in Hudson to create the javadoc. I've modified also the job that performs the artefacts transfer to deal with the javadocs, moving them to the proper location.
I believe that we can close this issue as soon as we test that in the next release.

[2017-11-14 13:23] MMaiero commented on #1748
I think we can close for now. @Amar82 feel free to reopen it, if needed.

[2017-11-14 13:23] #1748 closed, assigned to pierantoniomerlino

[2017-11-14 13:26] MMaiero opened #1786 "Wire publisher do not include a timestamp in the message"
The existing wire publisher, when creating the Kura Message, does not fill the timestamp.

[2017-11-14 13:52] #1772 closed, assigned to MMaiero

[2017-11-14 16:39] #1776 closed, assigned to nicolatimeus

[2017-11-14 17:18] Amar82 commented on #1748
Yes ..Please close this . Thank you for your help and support .. I really appreciate your effort.
I will buy a new Pi and try it.
regards
Amar

[2017-11-15 02:32] tobiashochguertel opened #1788 "Maven Archetype does not work - or can someone show me how to use it?"
I want to use the quickstart archetype which is present from kura/tools/archetype...

I have installed this archetype via "mvn clean install" and successfully created a project from this archetype.

But the created project from this archetype does not build.

The first error which get shows me that the generated pom.xml is not up-to-date with the used equinox version, and also the copyied files fo

[2017-11-15 14:46] #1632 closed, assigned to nicolatimeus

[2017-11-15 15:27] dwoodard1 commented on #1783
@ctron Is the issue that the CQ [1] was approved as "unmodified"? Does renaming the binary count as "modifying" the library?

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7838

[2017-11-15 16:00] dwoodard1 commented on #1788
Thank you for reporting this issue. The archetype feature is experimental and has not been kept up to date with develop. We will use this issue to track the work to update the archetype. If interested, feel free to propose a fix with a PR and we can merge. Otherwise, we will get to this as soon as we can.

[2017-11-15 16:36] tobiashochguertel commented on #1788
I create a PR, maybe someone decline these PR's with some hints about what I have to change - especially the OSGi Parts is new for me.

[2017-11-15 16:41] MMaiero commented on #1223
Closing as #1525 is merged

[2017-11-15 16:41] #1223 closed, assigned to nicolatimeus

[2017-11-16 09:08] ctron commented on #1783
No it doesn't. But as the checksum doesn't match anymore it seems that the content has been altered. Which indicates that the content has been modified, as the name of file is not part of the checksum.

[2017-11-16 11:31] dwoodard1 commented on #1783
I understand. I believe we changed the manifest to make it a fragment bundle. Let me verify that is the only change.

[2017-11-16 15:29] #609 closed

[2017-11-16 16:30] MMaiero opened #1790 "Define org.eclipse.kura.driver.DriverDescriptor POJO"

[2017-11-16 16:31] MMaiero opened #1791 "Define new DriverService"
This service define few methods like:
- listDriverDecriptor(String pid)
- listDriverDescriptors()
that allow to list the Driver Descriptors. It will be used locally and remotely by the Cloudlet DRV-V1 in order to provide some information like the Channel Descriptor that can be used while developing a new Wire Graph.

These and methods should provide the DriverDescriptors without instantiating temp

[2017-11-16 16:31] MMaiero opened #1792 "Define WireGraphService and deprecate WireService"
The WireGraphService will be capable to receive a WireGraph description, persist it and interact with existing framework services to create/update or destroy components, create/destroy wires in WireAdmin.

These operations are currently performed by the GWT server updateWireConfiguration method.

All the orchestration in terms of managing of components and wires is performed by this service.

This

[2017-11-16 16:32] MMaiero opened #1793 "Update ConfigurationService API with new methods to handle factory OCDs"
ConfigurationService should be extended in order to give capability to get the OCDs of factory components without the need to create an instance.

Possible new methods can be:
- List<OCD> getFactoryComponentOCDs()
- OCD getFactoryComponentOCD(String factoryPid)
- List<OCD> getServiceProviderOCDs(Class[] clazzes)

[2017-11-16 16:33] MMaiero opened #1794 "Design of SerializationService API"

[2017-11-16 16:34] MMaiero opened #1795 "Refactor WireServiceImpl to also implement WireGraphService"
The review implementation must be capable to load the old snapshot configuration. It should be converted to the new persistence format.

This can represent a Breaking change in the WireService configuration!!!

[2017-11-16 16:35] MMaiero opened #1796 "[Wires Refactoring] Review APIs"
Review and define APIs for Wires, in order to be able to extract the Wires logic currently implemented in GWT server part into a new set of Services that are available throw all the framework.

[2017-11-16 16:36] MMaiero opened #1797 "[Wires Refactoring] Implement new Wires APIs"

[2017-11-16 16:37] MMaiero opened #1798 "Move Wires-related code out of the GWT Server part"

[2017-11-16 16:39] MMaiero opened #1799 "Modify code so GWT client calls jointjs to build graph from GwtWireGraph"

[2017-11-16 16:39] MMaiero opened #1800 "Modify Client code so GWT client prepares wire component configuration from GwtWireGraphConfiguration"

[2017-11-16 16:40] MMaiero opened #1801 "Refactor Wires js code. GWT client should be the orchestrator."

[2017-11-16 16:40] MMaiero opened #1802 "[Wires Refactoring] Wires WebUi refactoring"
Changes to GWT client side in order that js part should have minimal methods that are invoked specifically to create a component, delete it, send events, etc.

[2017-11-16 16:41] MMaiero opened #1803 "Define a DRV-V1"

[2017-11-16 16:42] MMaiero opened #1804 "Define WIRE-V1 Cloudlet"

[2017-11-16 16:42] MMaiero opened #1805 "Review CONF-V1 Cloudlet"

[2017-11-16 16:42] MMaiero opened #1806 "[Wires Refactor] Review and Define Cloudlets"

[2017-11-16 16:44] MMaiero opened #1807 "[Wires] Add Component Multi Port support"
## Definition of a multi-port component
The count of input and output ports of a component, along with their names are statically defined by mean of properties in the component DS definition:
 * input.port.count
 * output.port.count
 * input.port.names
 * output.port.names

Constraints:
input.port.count and input.port.names are ignored if the component is not a WireReceiver.
input.port.count must

[2017-11-16 16:57] MMaiero opened #1808 "Define the JSON WireService persistence form"
A new JSON persistence representation needs to be defined in order to contain both the nodes and arcs of the WireGraph. The JSON can also contain graphical details used to render the graph (i.e. component position in the canvas, rotation, number of ports, etc.)

[2017-11-17 08:27] ctron commented on #1783
If that is the case, then why not follow the approach the GWT, usb4java, JDK DIO, … modules take and re-assemble the bundle inside the Kura build system. That way we could all be sure.

[2017-11-17 11:05] nicolatimeus commented on #1808
First proposal:
[code]
The above json will be persisted in the WireServiceImpl configuration inside a single property. Since it also contains the description of the wires, it will be possible to remove the current wire related properties from WireServiceImpl.

* Wire component properties:
  * `pid`: The `kura.service.pid` of the component (mandatory)
  * `inputPortCount/outputPortCount`: The numbe

[2017-11-17 11:31] MMaiero commented on #1808
@aabramo Do you have any comments on this?

[2017-11-17 12:06] aabramo commented on #1808
As far I understand, this would be an intermediate representation from the Kura "internal" one and the rendering package, JointJs or whatever else.
The strategy is very suggestive. The only concern I have is on the possibility/risk of being exhaustive/partial including all features required to encompass the whole set of graphical variations we would like to be implemented (in future; just to menti

[2017-11-17 12:57] MMaiero commented on #1808
Yes, the idea is to create something that can be easily extended.
The current idea is to use this proposed JSON format only for persistence.

The aim now is exactly to try to think at possible extensions of the Wires and evaluate if them can be covered by this proposal (or an extended version) without the need to rewrite everything.

[2017-11-17 15:52] nicolatimeus opened #1809 "[Wires] Drag and drop should respect canvas grid"
JointJS implementation keeps wire components aligned to a grid and enforces this when existing components are dragged around the canvas.
When a new component is added using drag and drop the grid layout is currently ignored and it is possible to add the component anywhere on the Canvas. The resulting components will be not perfectly aligned to the grid, in order to fix this the user must manually

[2017-11-19 16:26] cdealti opened #1811 "Wires: Multi-port components and graph execution model"
## Current Status
As of Kura 5.1.0 an Wires graph is constituted by nodes (providing the `WireComponent` service interface) and edges (instances of `WireConfiguration`).

A node can be a pure emitter (does not accept incoming edges), a pure receiver or both.

Loops are currently detected and prevented as they might (and will) lead to infinite recursion.

An emitter can we wired to an arbitrary num

[2017-11-21 10:08] markoer commented on #1195
I can confirm that the behavior is similar in 3.2.0-SNAPSHOT on RPi3. And it happens both if NAT is enabled on wlan0 and if it is not.

Note that the initial forwarding rule from wlan0 to eth0 that is set up in `/etc/sysconfig/iptables` is not set up in snapshot 0 and is not visible in Firewall->IP Forwarding/Masquerading tab.

I can proceed to adding an additional rule that forwards from eth0 to

[2017-11-22 14:16] darionct opened #1812 "[PortFwd] Fields for internal and external ports mixed up"
Configuration dialog for port forwarding mixed up internal and external ports, as shown on the screenshot:

![portfwd](https://user-images.githubusercontent.com/26378947/33131611-63476996-cf97-11e7-92dc-368f65c29320.png)

This results in the following iptables statements:
[code]
This does not seem right, destination should be 172.16.0.5:4050?

[2017-11-23 09:19] MMaiero opened #1813 "Marketplace dp installation popup drop-zone"
As suggested by @mcarrer it would be better to have a popup drop-zone that will simplify the user interaction when trying to install a dp package from the marketplace.

[2017-11-23 14:08] #1809 closed, assigned to nicolatimeus

[2017-11-24 13:49] MMaiero opened #1815 "[Wires] Channel timestamp should be optional"
The user should be able to decide if the asset creates a wire message with the read timestamp per channel or if the message should have no timestamp.
This choice can be specified with a boolean toggle in asset configuration.

[2017-11-28 10:18] samizel opened #1816 "[Emulator] NumberFormatException while installing new packages"
Hello,

because of a wrong default value of "file.upload.size.max" in the kura.properties you receive a NumberFormatException while installing a new package.

Greetings
Andreas

[2017-11-28 10:45] samizel commented on #1816
PullRequest https://github.com/eclipse/kura/pull/1818

[2017-11-28 15:57] ibinshtok commented on #1812
@darionct I believe everything is ok here, the prerouting rule:
-A PREROUTING -i eth0 -p tcp -m tcp --dport 4050 -j DNAT --to-destination 172.16.0.5:3040;
is correct. You have specified the internal port to be 3040. This is the port at the destination host 172.16.0.5. This is a port on the host inside the firewall you are trying to reach from outside. On the other hand, the --dport parameter is a

[2017-11-29 08:14] darionct commented on #1812
@ibinshtok OK, my remark about IP tables was incorrect.
However, HTML id's on the web page are still mixed up. I suggest we fix it for consistency reasons.

[2017-11-30 10:41] kartben commented on #1747
I am not sure what to make of the silence on this issue :-)
Jens, maybe you can go ahead and merge your PR, tag the repo as 3.1.1, and someone else can take care of effectively releasing the bits? Would that work for everyone?

[2017-11-30 11:05] ctron commented on #1747
Sure I can do that by tomorrow.

[2017-11-30 13:40] MMaiero commented on #1811
Following an initial proposal for the multi-port support:

- [ ] Define a Port interface that will be handled by the wireSupporter. The Port(s) will be requested by the application and when the application that wants to emit invokes the emit method of the desired Port(s).

- [ ] The Port implementation contains the list of Wires that are attached

- [ ] Deprecate the old wireSupport APIs as not ne

[2017-11-30 13:58] MMaiero commented on #1747
Hello everyone,
I'll try to formalise here our idea on how to solve this issue. The constraints we see are the following:
- we would like to preserve the existing tag. That is the effective tag used to perform the 3.1.0 release and that should be kept as is.
- we would like to not modify the release branch. Indeed, since the changes are already merged into develop, the branch could be easily remov

[2017-11-30 14:11] kartben commented on #1747
I might be missing something but I don't think anyone as ever suggested to
"re-tag" 3.1.0? Rewriting history (well in this case it's more "moving"
history, I guess) doesn't sound like a good idea… I think it is fine, and
even advisable, to "admit" 3.1.0 is a faulty release (don't read this in a
negative way, I mean it is not faulty functionally wise, but it should be
buildable) and so the right th

[2017-11-30 15:25] ctron commented on #1747
👍

[2017-12-01 10:10] MMaiero commented on #1747
ok, so we will proceed in this way as soon as possible.

[2017-12-04 12:15] darionct opened #1820 "Modbus driver will stop working with merge of enh_wiregraph branch"
Kura 3.2.0, branch enh_wiregraph: Modbus driver is installed form the Eclipse marketplace, however driver factory component is not available in the "Drivers and assets".
API and package versions have been updated so modbus driver needs to be updated accordingly.

[2017-12-04 12:44] markoer opened #1821 "[Wires] New Wires features don't work in IE"
Not all new Wires features work in Internet Explorer (v.11):
* panning works
* zoom doesn't work (IE 9 mode; OK in IE 10 and Edge modes)
* centering doesn't work (IE 9 mode; OK in IE 10 and Edge modes)
* component drag&drop doesn't work: starts OK, but ends up not showing the dialog to enter the component name
![image](https://user-images.githubusercontent.com/22816717/33553237-315fc04e-d8f8-11e7-

[2017-12-04 13:08] markoer opened #1822 "[Wires] Faulty refresh in Chrome"
Zoom out and panning zoomed-out wire graph leaves component traces as depicted below:
![image](https://user-images.githubusercontent.com/22816717/33554006-4dcdc804-d8fb-11e7-8e2d-d1585e33e961.png)
![image](https://user-images.githubusercontent.com/22816717/33554011-514ab564-d8fb-11e7-9463-6b7e420e5c71.png)

The lingering effect was not observed when moving components as page is refreshed and trace

[2017-12-04 13:24] MMaiero commented on #1816
Closing as PR #1818 has been merged.
Thank you very much for finding it and for the PR!

[2017-12-04 13:24] #1816 closed, assigned to nobody

[2017-12-04 15:37] ibinshtok opened #1823 "Failure to submit Wifi configuration when wifi password (PSK) ends with the $."
WpaSupplicantConfigWriter.writeConfig fails when submitted PSK ends with the $.
Exception is below:
org.eclipse.kura.KuraException: An internal error occurred.
        at org.eclipse.kura.KuraException.internalError(KuraException.java:120)
        at org.eclipse.kura.net.admin.visitor.linux.WpaSupplicantConfigWriter.writeAndMoveFile(WpaSupplicantConfigWriter.java:231)
        at org.eclipse.kura.n

[2017-12-05 08:36] ctron commented on #1747
As it seems there is no progress but also no feedback which speaks against merging PR #1782

So I'm going ahead and merge this in order to restore the build.

[2017-12-05 08:37] MMaiero commented on #1747
I believe we agreed on a path in the previous comments.
Yesterday we filed the release info for 3.1.1 that will be based on maintenance-3.1 branch.
So, in theory, there should be no need to merge #1782

[2017-12-05 08:47] ctron commented on #1747
Yes, then again there was silence, so I assumed this issue got forgotten again. Great to see that there will be a solution to that soon.

[2017-12-05 08:48] ctron commented on #1783
Is there any update on this one?

[2017-12-05 09:19] markoer commented on #1695
I observed the same output on a vanilla Raspbian Stretch on RPi3. It happens during installation of dependencies, before Kura even starts installing.

[2017-12-05 09:19] #1695 closed, assigned to markoer

[2017-12-05 12:03] markoer commented on #1821
Status update.

Drag&drop was introduced already in 3.1.0 in a limited way. One could drag a component to the graph, but it was still placed automatically. Now one can drag it to the exact location.

Not even this dragging worked in IE in 3.1.0, so this behavior is not a regression.

[2017-12-05 16:19] markoer opened #1824 "[Services UI] Services menu refresh unreliable when adding components"
Scenario:
* install ExamplePublisher package
* create a new component based on ExamplePublisher factory component with ExamplePublisher name
* wait for the Services menu to auto-refresh

The last step only happens in about 20% cases on both Firefox and Chrome. The rest of the cases the menu will either only blink as if refreshed or not react at all. Page refresh does the trick.

Kura 3.2.0-SNAPSHO

[2017-12-05 22:17] ibinshtok opened #1826 "LE910 V1 doesn't turn back on at modem reset."
Kura may fail to tirn LE910 V1 back on at modem reset. Ten seconds is not enough time to wait for isOn() check.

[2017-12-06 09:44] markoer commented on #1821
I verified that D&D of components to wire graph works in the commit by @nicolatimeus. Also zoom and centering started working, for some reason.

[2017-12-06 10:18] nicolatimeus commented on #1821
Yes, the fix should also address zoom and centering

[2017-12-07 14:30] markoer commented on #1822
Update: with zoom working in IE, this still only happens in Chrome.

[2017-12-12 01:45] OrangeAlex opened #1830 "some request about OPC-UA Plugin"
hi ,
   i have read the code of the OPC -UA Plugin in kura project , i found that according the Comments of the code , the current version of plugin does not support the method access, but the milo support , so does the Kura development team have plan to implement ?

[2017-12-13 13:29] MMaiero commented on #1742
I believe we need to revamp this issue since it's few build in develop that are failing in travis for the same issue.

[2017-12-13 14:15] MMaiero commented on #1830
Hi,
I believe that the OPC-UA driver implementation can be extended with those features.
But them will only be available if the driver is used in isolation and not associated to an asset (unless we move to some new APIs for the asset).

Best regards,
Matteo

[2017-12-13 14:16] MMaiero commented on #1826
Closed by #1827. Merged both in develop and maintenance-3.1 branches

[2017-12-13 14:16] #1826 closed, assigned to ibinshtok

[2017-12-13 14:17] MMaiero commented on #1823
Closed as #1828 is now merged

[2017-12-13 14:17] #1823 closed, assigned to nobody

[2017-12-13 14:19] MMaiero commented on #1820
We decided to keep the driver APIs as they are now and to move all the new features to specific new packages.
For this reason, the old drivers should continue to work also after the wire graph update.

[2017-12-13 16:04] markoer opened #1832 "[Testing] Add unit tests for Data Service's connection monitor task"
Add tests that test connection monitor task in DataService implementation interacting with watchdog.

[2017-12-14 12:53] MMaiero commented on #1783
Can this be closed? The fixes are both in maintenance branch and develop

[2017-12-14 13:01] MMaiero commented on #1832
Can we close this since the PR is merged?

[2017-12-14 13:31] markoer commented on #1832
Yes. Closing.

[2017-12-14 13:31] #1832 closed, assigned to nobody

[2017-12-14 14:14] #1812 closed, assigned to nobody

[2017-12-15 08:23] #1783 closed, assigned to nobody

[2017-12-15 11:05] nicolatimeus opened #1834 "[OPC-UA] The OPC-UA driver should not specify timestamps on write requests"
Currently, the OPC-UA driver sends a timestamp in write requests, on some servers this might cause the request to fail with the BadWriteNotSupported status [1]

[1] https://github.com/OPCFoundation/UA-.NET/blob/master/Stack/Core/Stack/State/NodeState.cs#L3456

[2017-12-15 15:11] pierrepitiot opened #1835 "[Documentation] AWS connection needs TLSv1.2"
In Eclipse Kura Documentation -> Cloud Platforms Connection -> Amazon AWS IoT platform, the SSL Configuration parameters setting is only represented by a screen copy that is not easily readable.

AWS IoT connection requests TLSv1.2 but the default Kura version is TLSv1 that will fail to connect to the AWS broker (handshake_failure).

The documentation must specify this point more explicitly.

[2017-12-18 08:32] MMaiero opened #1836 "Jetty security issue"
Related to issue reported in Kapua project https://github.com/eclipse/kapua/issues/1189

`**CVE-2017-9735 Detail**
Current Description
Jetty through 9.4.x is prone to a timing channel in util/security/Password.java, which makes it easier for remote attackers to obtain access by observing elapsed times before rejection of incorrect passwords.`

https://nvd.nist.gov/vuln/detail/CVE-2017-9735

[2017-12-18 15:48] markoer opened #1838 "[Watchdog Service] Reboot cause may become stale"
The reboot cause may not be the one for the latest reboot. Ignore the issue if that's the intended behavior.

#1575 demanded adding a cause to every reboot started by Watchdog Service. This cause is created the first time but never again as the file existence is checked and contents is never replaced.
If #1418 is fully implemented, the reboot cause file can be deleted after it served its purpose,

[2017-12-19 08:57] MMaiero commented on #1821
@markoer Could you have a look at the new develop and check if this issue is still open?

[2017-12-19 08:58] MMaiero commented on #1808
Merged PR #1819

[2017-12-19 08:58] #1808 closed, assigned to nicolatimeus, MMaiero

[2017-12-19 09:00] markoer commented on #1821
Will check and let you know here.

[2017-12-19 09:00] MMaiero commented on #1802
Merged PR #1819

[2017-12-19 09:00] #1802 closed, assigned to MMaiero

[2017-12-19 09:01] MMaiero commented on #1801
Merged PR #1819

[2017-12-19 09:01] #1801 closed, assigned to nicolatimeus

[2017-12-19 09:01] MMaiero commented on #1800
Merged PR #1819

[2017-12-19 09:01] #1800 closed, assigned to nicolatimeus

[2017-12-19 09:01] MMaiero commented on #1799
Merged PR #1819

[2017-12-19 09:01] #1799 closed, assigned to nicolatimeus

[2017-12-19 09:02] MMaiero commented on #1798
Merged PR #1819

[2017-12-19 09:02] #1798 closed, assigned to nobody

[2017-12-19 09:02] MMaiero commented on #1797
Merged PR #1819

[2017-12-19 09:02] #1797 closed, assigned to nobody

[2017-12-19 09:02] MMaiero commented on #1796
Merged PR #1819

[2017-12-19 09:02] #1796 closed, assigned to nobody

[2017-12-19 09:02] MMaiero commented on #1794
Merged PR #1819

[2017-12-19 09:02] #1794 closed, assigned to MMaiero

[2017-12-19 09:04] MMaiero commented on #1793
Moved to a OCDService APi. Kept compatibility with existing driver.
Merged PR #1819

[2017-12-19 09:04] #1793 closed, assigned to nicolatimeus

[2017-12-19 09:04] MMaiero commented on #1792
Merged PR #1819

[2017-12-19 09:04] #1792 closed, assigned to MMaiero

[2017-12-19 09:05] MMaiero commented on #1791
Created a new DriverDescriptorService in a new API package to keep compatibility with existing drivers.

Merged PR #1819

[2017-12-19 09:05] #1791 closed, assigned to MMaiero

[2017-12-19 09:05] MMaiero commented on #1790
Merged PR #1819

[2017-12-19 09:05] #1790 closed, assigned to MMaiero

[2017-12-19 09:12] nicolatimeus opened #1840 "[OPC-UA] Improve type conversions in OPC-UA driver"
In case of a write, the OPC UA driver currently performs an automatic mapping between Java types and OPC UA types, this mapping is performed automatically by the Milo library.
The mapping is performed as follows:

Java  -> OPCUA

BOOLEAN -> Boolean
DOUBLE -> Double
FLOAT -> Float
INTEGER -> Int32
LONG -> Int64
STRING -> String
BYTE_ARRAY -> SByte[]

This implies that only a limited subset of the O

[2017-12-19 10:29] markoer commented on #1821
Exception aside, it works. Closing.
Verified in Kura 3.2.0-SNAPSHOT b1264.

[2017-12-19 10:29] #1821 closed, assigned to nobody

[2017-12-19 10:34] nicolatimeus opened #1843 "BaseChannelDescriptor contains some inconsistencies"
* the value type options include `BYTE`, which is not a valid type for an Asset channel
* the value type options do not include the `FLOAT` type
* The default value type for a channel is `STRING`

After #1819 this is reflected to the Web ui, since BaseChannelDescriptor is now used to render Asset configuration.

[2017-12-19 16:52] #1834 closed, assigned to nicolatimeus

[2017-12-19 17:04] #1840 closed, assigned to nicolatimeus

[2017-12-20 10:02] #1836 closed, assigned to MMaiero

[2017-12-21 07:42] kandrej opened #1849 "SSL Configuration - Keystore path change doesn't work"
When I try to change the keystore path the property is saved, but the default java keystore is used.
There is a warning inside kura.log saying "null old password"

[2017-12-21 08:57] pierrepitiot commented on #1835
Done, @nicolatimeus please check and close the issue if it is ok.

[2017-12-21 13:01] #1843 closed, assigned to nicolatimeus

[2017-12-21 13:34] MMaiero commented on #1795
Done with PR #1819

[2017-12-21 13:34] #1795 closed, assigned to MMaiero

[2017-12-21 14:09] MMaiero commented on #1820
Closing for now due to API compatibility preserved.

[2017-12-21 14:09] #1820 closed, assigned to nobody

[2017-12-22 14:54] #1773 closed, assigned to nicolatimeus

[2017-12-22 14:56] #1835 closed, assigned to nicolatimeus

[2017-12-22 15:18] MMaiero commented on #1849
Hi,
which version of Kura are you using?
What are the exact steps you did to perform the operation?

I've just done the change of keystore from /opt/eclipse/kura/security/cacerts.ks (the referenced file did not exist) to /opt/eclipse/security/cacerts.ks, setting also the proper password for the new keystore and this is the log I get in kura.log file:

[code]

[2017-12-22 16:30] pierantoniomerlino opened #1853 "SensorTagDriver sometimes fails to connect to the SensorTag"
The SensorTag Driver sometimes fails to connect to the SensorTag causing the device to be lock by the connection attempts. The kura.log file is filled by Timeout exception during connection.
This issue is partially fixed by #1852, but it needs more investigation.

To reproduce the issue, create a Wire graph with a Timer, an Asset binded to the SensorTagDriver and a Logger. Start it and check the l

[2017-12-22 17:03] #1822 closed, assigned to nobody

[2017-12-22 20:25] kandrej commented on #1849
Kura version is 3.1.0
The step are:
1. Create a keystore at the default location /opt/eclipse/kura/security/cacerts.ks
2. In SSL Configuration change the password for this keystore
3. Create a new keystore. Let's say /opt/eclipse/kura/security/cacerts2.ks
4. In SSL Configuration change the keystore path to /opt/eclipse/kura/security/cacerts2.ks and set the new password

2017-12-22 19:56:41,547 [qt

[2017-12-25 13:12] hyperion-thou opened #1855 "A generic unrecoverable error happened. Please refer to the device log. -- when open System->Status"
2017-12-25 20:52:36,567 [qtp12354839-72] WARN  o.e.k.w.s.GwtNetworkServiceImpl - Get network status failed
org.eclipse.kura.web.shared.GwtKuraException: An internal error occurred. {0}
	at org.eclipse.kura.web.shared.GwtKuraException.internalError(GwtKuraException.java:99)
	at org.eclipse.kura.web.server.util.KuraExceptionHandler.handle(KuraExceptionHandler.java:27)
	at org.eclipse.kura.web.server

[2017-12-27 14:36] kandrej opened #1856 "DEPLOY-V2: download always uses the defalut java keystore"
Deploy-v2 always uses the default java keystore to connect to the server to download a deployment package.

To reproduce the issue:
1. Create your own ca certificate
2. Add the ca certificate to kura's truststore
3. Use the certificate to sign a server certificate
4. Try to download a deployment package from the server using deploy-v2

[2017-12-28 10:24] markoer commented on #1822
Verified in build 1278.

[2017-12-28 10:50] MMaiero commented on #1856
Closing as #1829 got merged

[2017-12-28 10:50] #1856 closed, assigned to MMaiero

[2017-12-28 11:38] MMaiero commented on #1822
Sorry @markoer to have closed the issue without commenting that I've performed tests with Chrome for Mac and Windows verifying that the fix works.

[2018-01-05 01:46] OrangeAlex commented on #1830
hi, MMaiero
    Does your team have plan to  implement the method access?  Actually to say , we deeply hope to use it

[2018-01-08 09:32] markoer opened #1857 "Possible issue with BLE return code processing"
The rest of the failure codes produce KuraBluetoothCommandException, except for this one. Is this intentional? If so, just close the issue, otherwise I can submit the update with a PR resulting from #1514.

[2018-01-08 10:03] pierantoniomerlino commented on #1857
@markoer Thanks for the clarification.
From the official documentation the "0c" means "The Command Disallowed error code indicates that the command requested cannot be executed because the Controller is in a state where it cannot process this command at this time." This error code is usually used when a command is run twice. If the app calls a stop discovery command twice, the second call returns

[2018-01-08 10:03] #1857 closed, assigned to pierantoniomerlino

[2018-01-08 10:11] markoer commented on #1857
Thanks for the info. I will add it to the code comment.

[2018-01-10 11:32] pierantoniomerlino opened #1859 "[Drivers and Assets] The channels names and labels in dropdown lists aren't sorted"
In the Asset configuration tab the channel names are sorted in an unpredictable way. The same issue happens with the dropdown lists. So, it's quite difficult to find a specific channel if a high number of channels are configured.

[2018-01-11 17:58] cdealti opened #1861 "Implement a WireAsset reacting to channel changes"
In the current implementation an WireAsset can only be used to pull readings from its Driver.
This works well for some protocols, like Modbus which are strictly request/response but it cannot cope with those protocols that have notifications, like Bluetooth Low Energy.
Another example is a driver for the Linux GPIO API where an input can be configured to notify the state upon its changes (rising,

[2018-01-12 14:35] markoer opened #1863 "IBeacon decoder index out of bounds"
If by any chance this check:

https://github.com/eclipse/kura/blob/961029abd4c86aa6c738f2b2aaf733d1c3bdedbc/kura/org.eclipse.kura.ble.ibeacon.provider/src/main/java/org/eclipse/kura/internal/ble/ibeacon/BluetoothLeIBeaconDecoderImpl.java#L68

succeeds on the first pass, an ArrayIndexOutOfBoundsException (-1) is bound to be thrown here:

https://github.com/eclipse/kura/blob/961029abd4c86aa6c738f2b2

[2018-01-15 14:52] #1813 closed, assigned to nicolatimeus

[2018-01-15 16:00] #1737 closed, assigned to nicolatimeus

[2018-01-15 16:33] #1516 closed, assigned to markoer

[2018-01-15 16:33] #1514 closed, assigned to markoer

[2018-01-15 16:34] #1515 closed, assigned to markoer

[2018-01-16 13:51] iyanmv opened #1868 "Add support for WPA2-Enterprise"
In the docs it is mentioned that:

However, in the network tab is not possible to configure the wireless interface to connect to a WPA2-Enterprise network. These types of networks are very common in business and industrial environments.

It is easy to create a `wpa_supplicant.conf` file and add it to `/etc/network/interfaces` but is this considered safe when the gateway is managed trhough Kura?

[2018-01-17 13:34] pierantoniomerlino commented on #1863
@markoer The iBeacon advertisement packet format is as follows:

02 01 1a 1a ff 4c 00 02 15 aa aa aa aa bb bb cc cc dd dd ee ee ee ee ee 00 00 00 00 00

where
02 Data length
01 Data type
1a LE and BR/EDR flags
1a Data length
ff Data type
4c 00 02 15 manufacturer code
aa aa aa aa bb bb cc cc dd dd ee ee ee ee ee UUID
00 00 major
00 00 minor
00 tx power

So, the BluetoothLeIBeaconDecoderImpl (line 6

[2018-01-17 13:41] pierantoniomerlino commented on #1863
@markoer Why you said that the decoder cannot decode the encoder's output?

[2018-01-17 14:07] markoer commented on #1863
@pierantoniomerlino Try this test to see what I meant:
https://github.com/eclipse/kura/blob/351ae0fbc8a1dc8dc2f7bcbe313dd52d9e27e617/kura/test/org.eclipse.kura.internal.ble.ibeacon.test/src/test/java/org/eclipse/kura/internal/ble/ibeacon/BluetoothLeIBeaconEncoderDecoderImplTest.java#L46

[2018-01-17 14:17] markoer commented on #1253
Duplicated in #1608 and implemented in #1609.

[2018-01-17 14:17] #1253 closed, assigned to nobody

[2018-01-17 15:33] pierantoniomerlino commented on #1863
@markoer Ahh! The encoder and decoder are not symmetric indeed.

During the encoding process, the iBeacon is processed to obtain a byte stream that can be directly passed to the hcitool command. So, it doesn't contain only the reports but also the header.

During the decoding process, the byte stream is filtered by BluetoothLeUtil.parseLEAdvertisement that extracts the advertisingReportRecords and

[2018-01-17 15:58] markoer commented on #1863
Of course, go ahead :)
Thanks for the explanation(s).

[2018-01-18 08:36] MMaiero commented on #1805
Objectives:
- match the cloudlet with the current APIs available
- introduce support for instance creation starting from a factory

[2018-01-18 08:43] pierantoniomerlino opened #1870 "Develop a GPIO Driver for Kura Wires"
Kura exposes a GPIO service to manage the digital GPIOs on the device. However, this feature is not available on Kura Wires.

Kura should support a GPIO driver to be used in Kura Wires.

[2018-01-18 08:52] MMaiero commented on #1644
The issue seems to be closed in the official Artemis repo.
We should try to see if there is a possibility to move a newest version of Artemis in order to close this issue.

[2018-01-18 09:00] MMaiero commented on #1195
@ibinshtok Can you take a look at this?

[2018-01-18 09:09] MMaiero commented on #1742
@markoer I'm closing this since the fix seems to work well

[2018-01-18 09:09] #1742 closed, assigned to markoer

[2018-01-18 09:11] nicolatimeus commented on #1815
This requirement is included in #1861

[2018-01-18 09:12] MMaiero commented on #1838
@markoer I would say that this is the intended behaviour for the current implementation.

[2018-01-18 09:15] MMaiero commented on #1855
@markoer Could you please do a triage of this issue?

[2018-01-18 09:19] markoer commented on #1838
OK, then.

[2018-01-18 09:23] #1164 closed, assigned to pierantoniomerlino

[2018-01-18 09:49] markoer commented on #1855
At first sight it's hard to see, but a typo is the reason for this:
[code]
should be
[code]

Note the change from 'o' to '0' on line 2. Just update that and you're good to go.

[2018-01-18 12:42] #1863 closed, assigned to pierantoniomerlino

[2018-01-18 12:43] #1786 closed, assigned to nicolatimeus, MMaiero

[2018-01-22 21:07] dwoodard1 commented on #1868
Hello,

WPA2-Enterprise is not officially supported in Eclipse Kura. However, your solution should work in most conditions. The documentation just provides a recommendation.

Unless you see a specific issue, could you close this issue?

[2018-01-24 09:56] MMaiero commented on #1824
I've tried with the latest 3.2.0 and the example publisher in marketplace and it worked every time in my Chrome (63). @markoer could you please check if the is still an issue for you?

[2018-01-24 10:43] markoer commented on #1824
Hmm... I cannot reproduce it anymore. Works in both FF and Chrome, now.
Closing the issue. If it reappears, I can still reopen it.

[2018-01-24 10:43] #1824 closed, assigned to MMaiero

[2018-01-24 11:22] MMaiero opened #1874 "Change the reboot cause string"
Currently, when a Critical component fails to ping the watchdog, the following string is persisted:

This can determine strange messages.
I believe that a simpler approach that registers only the name of the Critical Component is safer.

[2018-01-24 11:34] #1859 closed, assigned to nobody

[2018-01-24 11:35] MMaiero commented on #1855
@qinghaibo Any update on this? Can this be closed?

[2018-01-24 11:37] MMaiero commented on #1838
Closing this issue for now

[2018-01-24 11:37] #1838 closed, assigned to nobody

[2018-01-24 21:38] Bertola87 commented on #1573
Hello , I receive the same error message when trying to selct the CloudService
osgi services status is :

osgi> ls
All Components:
ID      State                   Component Name                  Located in bundle
1       Active          org.eclipse.equinox.event                       org.eclipse.equinox.event(bid=7)
2       Active          org.eclipse.kura.data.DataService                       or

[2018-01-25 07:19] MMaiero commented on #1573
Hello,
could you please provide a set of steps in order to reproduce the issue?
Which version of Kura are you using?

Best regards,
Matteo

[2018-01-25 08:20] Bertola87 commented on #1573
Hello Matteo 
the last thing I did , I installed Modbus drivers and OPC-UA driver and server , following the tutorial in Kura website. OPC UA Driver

I'm running Kura 5.0.0 on an Eurotech Reliagate
thank you kind regards

[2018-01-25 13:39] MMaiero commented on #1573
Removing the installed bundles does not solve the issue?

[2018-01-25 14:09] #1868 closed, assigned to nobody

[2018-01-25 15:16] MMaiero opened #1876 "Packages URL downloader does not use Kura's SSLContext"

[2018-01-25 21:00] ibinshtok opened #1878 "Add support for "Unmanaged" mode for network interfaces."
Add the "Not Managed" option to the 'Status'  select box of the TCP/IP interface configuration tab to indicate that interface should not be managed by Kura.

[2018-01-25 22:53] ibinshtok opened #1879 "Provide support for "Layer 2 Only" interface configuration mode."

[2018-01-26 13:16] #1770 closed, assigned to MMaiero

[2018-01-26 14:07] markoer opened #1880 "[Testing] Implement SensorTag tests"
Implement tests - example and driver.

[2018-01-26 14:44] MMaiero commented on #1830
Hi,
we currently have not verified the feasibility of this integration. Especially in terms of integrating it in the current Drivers/Assets abstraction model.
Have you tried to have a deeper look at it?
Are you willing to do a proof of concept or an integration to be contributed to the project?

Thanks.
Best regards,
Matteo

[2018-01-26 15:40] mirquintilianus opened #1881 "Local client constantly disconnected by built-in broker"
Hello there,

Using the built-in Simple Artemis MQTT Broker in the Kura Lunix Emulator, I am trying to control a Broadlink MP1 device.
To this purpose I use the Eclipse python Paho client library along with a python client config reader and a python module for controlling Broadlink MP1 devices.

[https://github.com/eclipse/paho.mqtt.python](url)
[https://github.com/eschava/broadlink-mqtt](url)
[ht

[2018-01-27 07:48] mirquintilianus commented on #1881
Thank you Matteo,

I didn't believe it since it doesn't make much sense, but setting a username and a pass did INDEED solve the problem.

Just for the record, I also tried using an empty client ID, as advised here:
[https://issues.apache.org/jira/browse/ARTEMIS-1218](url)
In my case, it was just the user and pass, though.

This has been nagging me for quite while now.
A million thanks!

[2018-01-27 07:48] #1881 closed, assigned to nobody

[2018-01-27 14:03] weborld opened #1883 "s"

[2018-01-27 14:09] #1883 closed, assigned to nobody

[2018-01-29 09:50] #1874 closed, assigned to MMaiero

[2018-01-29 10:54] MMaiero commented on #1213
I believe this has been managed by PR #1851.
@cdealti Ok for you to close?

[2018-01-29 13:39] TheBeachMaster commented on #362
Solved by  (use `sudo` if necessary)
   `killall java hostapd named dhcpd`
   `rm -fr /opt/eclipse/kura*`
  `rm -fr /tmp/.kura/`
  `rm /etc/init.d/firewall`
  `rm /etc/dhcpd-*.conf`
  `rm /etc/named.conf`
  `rm /etc/wpa_supplicant.conf`
  `rm /etc/hostapd.conf`
  `rm /tmp/coninfo-*`
  `rm /var/log/kura.log`
Then `dpkg --purge kura`

[Ref link](https://wiki.eclipse.org/Kura/Getting_Started#Reinstal

[2018-01-29 13:52] #1876 closed, assigned to MMaiero

[2018-01-29 18:05] #1213 closed, assigned to nobody

[2018-01-30 22:52] Bertola87 commented on #1573
Hello MMAiero , 
back on this topic ( apologize for the delay but I had to solve some other buisiness in the meantime) 
how can I de-insintall bundles from command line without using the web interface of kura? 
I'm still facing the same issue described , here's the kura-console.log file : 

!ENTRY org.eclipse.kura.core.cloud 2 0 2018-01-30 22:50:43.812!MESSAGE [SCR] ComponentReference.unbind(): co

[2018-01-31 08:46] MMaiero commented on #1573
Hi,
it seems to be a trouble on the data service service. It should be good to know which were the exact actions that took to this result.
I might be wrong, but I doubt that installing the OPCUA driver can break the cloud service stack. It seems more a wrong configuration of the data service / Mqtt data service bundles.

In any case, as you are using a commercial product, I would suggest you to re

[2018-01-31 16:23] darionct opened #1886 "Package unistall error"
If package is installed form the EC web console, when "uninstall" is attempted from Kura, error message pops up and the following exception is logged:
2018-01-31 09:18:22,495 [DeploymentAgent:Uninstall] ERROR o.e.k.d.a.i.DeploymentAgent - Exception uninstalling package org.eclipse.kura.demo.heater
[code]

[2018-02-05 09:53] MMaiero commented on #1886
@darionct Could you please verify if it works for you?

[2018-02-05 11:38] nicolatimeus opened #1892 "Add SenseHat Driver"
Create a Driver for the SenseHat based on the `org.eclipse.kura.raspberrypi.sensehat` bundle

[2018-02-05 15:54] nicolatimeus opened #1894 "Show Wire Component description in the Web Ui"
The description of Wire Components should be shown in the Wire Composer

[2018-02-05 20:09] ctron commented on #362
@TheBeachMaster I agree that you can do this manually, but providing a Debian or RPM package, the uninstall operation should take care of this.

[2018-02-07 13:12] #1861 closed, assigned to nicolatimeus

[2018-02-07 14:03] darionct commented on #1886
Verified and confirmed on Raspberry Pi and BeagleBone black.

[2018-02-07 17:22] MMaiero opened #1898 "Change the release build process to correctly publish javadocs"

[2018-02-08 08:31] markoer commented on #1880
In addition to test implementation Jenkins configuration needed to be updated in order to acknowledge the results of the new example tests.

[2018-02-08 08:31] #1880 closed, assigned to markoer

[2018-02-08 08:34] markoer opened #1899 "[Testing] BLE Util test erratic"
BluetoothLeUtilTest.testKillCmd has a tendency to fail on CI. Remove it.

[2018-02-08 09:24] pierantoniomerlino opened #1900 "[Cloud Service] Configurable message encoders and topic namespaces"
In order to make the CloudService more flexible, the user should have the possibility to configure parts of the cloud stack. In particular, these options should be added to the CloudService:

- a configurable pattern for the topic namespace, as suggested in #1752
- the possibility to plug custom encoders/decoders for message payload

[2018-02-08 10:43] nicolatimeus opened #1902 "Allow to enable/disable channels in asset configuration"
An `enabled ` boolean flag can be added to Asset configuration that allows to disable a specific channels.

A disabled channel is not readable, not writable and does not produce any channel event.

This would improve usability by allowing the user to define an Asset configuration once and then enable/disable specific channels without being forced to actually remove and redefine them.

[2018-02-08 12:38] kartben commented on #1186
I have just recently (successfully) run Kura 3.2.0 on Java 9 but it requires upgrading to Oxygen.1a.
Note that Equinox now ships Apache Felix SCR instead of the Equinox implementation. This didn't seem to cause any obvious regression but may require some extra testing.

I am happy to provide a patch if people are interested.

[2018-02-08 12:52] #1892 closed, assigned to nicolatimeus

[2018-02-08 13:16] #1886 closed, assigned to MMaiero

[2018-02-08 16:27] nicolatimeus opened #1904 "Add support for the enabled channel flag in ASSET-VX cloudlet and in REST APIs."
We should discuss if the new `enabled` Asset configuration flag should be made available also in REST APIs and in the Asset Cloudlet.

The current version of these components should probably work without modifications even after the introduction of the new flag.
Reading and writing disabled channels will be prohibited by the underlying BaseAsset implementation, and calls performing this operations

[2018-02-08 17:38] cdealti opened #1905 "[WirePublisher] Add option to publish the geographic position"
As we have added the option to set the publish timestamp in the KuraPayload, we will add also the option to set the geographic position.

[2018-02-08 17:59] cdealti opened #1906 "[Wires] Download graph as a (partial) configuration snapshot"
Sometimes you want to download your graph and save it in on your PC as a partial configuration snapshot.

Currently this can be achieved by downloading a full configuration snapshot and manually editing the XML, keeping only the configurations that are relevant to the graph. This partial configuration snapshot can then be uploaded to another gateway to create the graph (assuming that no graph exis

[2018-02-09 10:43] nicolatimeus opened #1907 "[WireAsset] Implement Driver generated single timestamp"
In the current implementation the WireAsset can be configured to emit a single timestamp instead of per-channel timestamps, but the single timestamp is Asset-generated and unrelated to driver generated timestamps.
The support for emitting a driver-generated single timestamp should be added as well.

[2018-02-09 10:54] #1902 closed, assigned to nobody

[2018-02-09 11:26] #1894 closed, assigned to nicolatimeus

[2018-02-09 12:45] #1907 closed, assigned to nicolatimeus

[2018-02-10 08:51] ctron commented on #1186
Sounds like a good idea!

[2018-02-12 12:28] MMaiero opened #1911 "[Artemis] Upgrade to version 2.5.0"
This is an epic to group and track all the issues related to the Upgrade of the current Artemis 2.3.0 to 2.5.0.

[2018-02-12 12:28] MMaiero commented on #1911
This work will likely close issue #1644

[2018-02-13 15:31] ibinshtok opened #1914 "User should be able to set PDP context number for setting APN."
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb):
    - Platform (e.g. Raspberry pi 2):
    - Kura version affected (e.g. Kura 3.1.0):
    - Java

[2018-02-13 15:41] ibinshtok commented on #1914
User should be able to set PDP context number for setting APN when configuring cellular modems. Currently PDP context number is hard coded to 2 for LE910 V2 modem and to 1 for all other GSM/LTE modems. Also dial string is hard coded as atd*99***2# for LE910 V2 modem. The current issue is configuring LE910 V2 for Verizon where both PDP context 1 and 2 are reserved. I think we should keep the idea o

[2018-02-13 16:40] #1906 closed, assigned to nicolatimeus

[2018-02-13 19:26] MMaiero commented on #1186
Hi Benjamin,
I believe it's a great idea!

We are considering anyway an upgrade of Equinox in one of the next releases (for now it's an idea, it still needs to be carefully planned) so it could be a good starting point to have a branch targeting the integration of a new Equinox and Java 9.

[2018-02-14 08:23] ctron commented on #1186
I would really like to see an updated version of SCR sooner rather than later. I would be happy to review and merge a PR.

@MMaiero Maybe you could explain what is required beyond a working PR from @kartben

[2018-02-14 08:59] kartben commented on #1186
I am not sure upgrading equinox and enabling Java9 compatibility has to be part of the same effort?
But yeah I will submit a PR starting with the upgrade to Equinox Oxygen.2 (which will bring Apache Felix SCR)

[2018-02-14 09:06] MMaiero commented on #1186
As you probably understand, such set of changes require a full round of QA tests to verify that everything works and probably has also effects on dependent projects.
We are a project that is quite stable and widely used in production so we must be very careful in terms of changes we perform.
Having a separate PR allows us to have it split from develop and mergeable at the right time, depending als

[2018-02-14 09:28] ctron commented on #1186
My understanding is that there is an upcoming release of Kura. Which requires QA to be performed anyway. As this change wouldn't introduce any incompatibilities (and if we could make a decision based on that) I don't see any reason which speaks against merging such a PR.

Which effects on which dependent projects do you exactly mean? I think it is important for the community to understand what cou

[2018-02-14 16:11] markoer commented on #1899
Done.

[2018-02-14 16:11] #1899 closed, assigned to markoer

[2018-02-14 16:43] kartben commented on #1186
Please see PR #1916 for the proposed update to Equinox Oxygen.2.
It would be great to get this merged sooner than later - fwiw I doubt that this is in any way "riskier" than the Jetty bump which happened a few months back? Equinox is pretty stable, no?

[2018-02-14 18:45] #1855 closed, assigned to markoer

[2018-02-14 18:58] MMaiero commented on #1878
Closing as #1882 is now merged

[2018-02-14 18:58] #1878 closed, assigned to ibinshtok

[2018-02-14 18:58] #1870 closed, assigned to pierantoniomerlino

[2018-02-14 18:59] #1815 closed, assigned to nicolatimeus

[2018-02-14 19:00] MMaiero commented on #1811
Closing as multipart support is now part of the codebase

[2018-02-14 19:00] #1811 closed, assigned to nobody

[2018-02-14 19:01] MMaiero commented on #1807
Closing as merged

[2018-02-14 19:01] #1807 closed, assigned to nobody

[2018-02-15 09:05] cdealti commented on #1879
@ibinshtok I believe this issue has been opened to add support for bridging network interfaces.
Do you believe this can be realistically achieved by end of February?

[2018-02-15 09:07] ctron commented on #1186
Yes, I see it the same way.

I am currently giving the PR a test run. So far no issues, everything looks fine.

[2018-02-15 09:15] cdealti commented on #1752
@ctron since EclipseCon, the Hono project has created an MQTT Adapter for Eclipse Kura.
We also wanted to make the topic namespace of the Kura default CloudService more configurable to support other Cloud platforms but it turned out that this is too difficult.
The Kura way to address this is to develop a new CloudService implementation.

About Hono, Kapua and Kura, we are talking together and we w

[2018-02-15 09:17] ctron commented on #1752
That is sad to hear, as others might have had a benefit from that as well. But if there is no other way, then go ahead and close it.

[2018-02-15 09:19] cdealti commented on #1092
@markoer @darionct is this something you have noticed?

[2018-02-15 09:22] cdealti commented on #1752
Seemed a good idea and we tried with a commercial Cloud platform and decided it's not worth.
Thanks for understanding.

[2018-02-15 09:22] #1752 closed, assigned to nobody

[2018-02-15 11:05] #1900 closed, assigned to nobody

[2018-02-15 11:08] cdealti commented on #1424
Keeping this open due to:
1. Offline buffering of messages is now built-in in Paho
2. Topic namespaces and QoS will be addressed with Kapua and Hono projects

[2018-02-15 11:10] cdealti commented on #1398
Closing due to inactivity

[2018-02-15 11:10] #1398 closed, assigned to nobody

[2018-02-15 11:14] cdealti commented on #1219
@nicolatimeus any update on this topic coming with Kura 3.2.0?

[2018-02-15 11:16] cdealti commented on #1217
Closing as Kura 3.2.0 will allow downloading a full Wires snapshot (and re-uploading it)

[2018-02-15 11:16] #1217 closed, assigned to nobody

[2018-02-15 11:18] cdealti commented on #833
@markoer I don't see a lot of discussion about this topic. Closing it. Feel free to re-open it.

[2018-02-15 11:18] #833 closed

[2018-02-15 11:20] svilenvul opened #1918 "[Deployment Agent] No install order of Deployment Packages in the DPA config file"
Hello, I have started using Eclipse Kura recently and I find it really great, thanks for your efforts !

I tried to make use of the OSGi Deployment Package(DP) functionality to install several DP on system start up, but I faced a small issue with that. The order in which these packages are installed is crucial, when the packages depend on each other.

I faced the problem that the current implement

[2018-02-15 11:24] cdealti commented on #547
@dwoodard1  This is unlikely to be fixed with the current implementation of the ConfigurationService without creating a monster. Feel free to re-open it.

[2018-02-15 11:24] #547 closed

[2018-02-15 11:26] cdealti commented on #418
Closing due to inactivity. The problem is reported by Sonar etc.

[2018-02-15 11:26] #418 closed

[2018-02-15 11:37] cdealti commented on #1016
@ctron it might be temporarily fixed by checking the Equinox clean start property and avoiding updating the configurations read from the snapshot 0. For some historical reasons (corruption of the OSGi storage are) at Eurotech, clean start has always been the choice for embedded systems.
Things may have changed and we should verify if this is till the case.

[2018-02-15 12:49] cdealti commented on #1539
Closing as a duplicate of #715

[2018-02-15 12:49] #1539 closed, assigned to nobody

[2018-02-15 12:55] cdealti commented on #1320
@ctron I don't see any interest in doing this. Can we close?

[2018-02-15 13:48] cdealti commented on #945
I don't see any references to the `org.eclipse.equinox.io`bundle in the MANIFEST.MF of the Kura bundles but in `org.eclipse.kura.protocol.modbus` and `org.eclipse.kura.core.test`. In both cases I would not be worried too much. Closing

[2018-02-15 13:48] #945 closed

[2018-02-15 13:51] cdealti commented on #569
@ctron not a lot of interest about this. Can we close?

[2018-02-15 14:06] cdealti commented on #655
@ctron don't you think we should not instantiate an null Password instead?

[2018-02-15 15:00] ctron commented on #655
What do you mean by that? If the password is `null` it will not create a new instance of `Password` but return `null` instead.

[2018-02-15 15:01] ctron commented on #569
There is a +1 from @kartben, which is more interest than some other issues. But please, go ahead and close it.

[2018-02-15 15:02] ctron commented on #1320
If you don't see interest, then please go ahead and close it.

[2018-02-15 16:09] cdealti commented on #655
I mean changing Kura checking is password is not null before creating a Password:
``
if (password != NULL) {
   p = new Password(password);
}
``
But if you think otherwise, please go ahead submitting your changes above. It looks you only added new methods and the change looks backward compatible for the API consumers and I believe there are classes extending Password (`@ProviderType`).

[2018-02-15 16:14] cdealti commented on #569
I'm trying to close some old issues. If you think it is important, can you please submit a PR. It should be backward compatible.
Note however that the KuraPayload might contain "confidential information" that might end up in the log file. I understand this could be a concern for @MMaiero ;-)

[2018-02-15 16:15] cdealti commented on #1320
OK, thanks. We can always reopen it

[2018-02-15 16:15] #1320 closed, assigned to nobody

[2018-02-15 23:31] ibinshtok commented on #1879
@cdealti yes this is for bridging network interfaces as well as handling wireless interface with IOS to allow Kura to configure Layer 2 portion (i.e. hostapd and wpa_supplicant). I am still testing my changes, but planning to submit a PR tomorrow.

[2018-02-16 14:15] #1905 closed, assigned to MMaiero

[2018-02-16 15:01] kartben opened #1921 "Consider using EquinoxLauncher instead of the EclipseStarter"
Currently, the OSGi/Equinox framework is started using o.e.osgi.jar's main class, EclipseStarter.
I *think* the EquinoxLauncher (o.e.equinox.launcher) is more lightweight than EclipseStarter and, more importantly, it has the benefit to be compatible with Java 9 (hence needed for #1186) for framework extensions (see https://bugs.eclipse.org/bugs/show_bug.cgi?id=502108)

[2018-02-16 23:55] ibinshtok commented on #1914
@MMaiero do you know if European version of LE910 V2 modem supports the at#fwswitch? command?
If so, what what it returns? For example on US version it returns 0 for AT&T FW image and 1 for Verizon as shown below:
at#fwswitch?
#FWSWITCH: 0

OK

[2018-02-19 09:45] pierantoniomerlino opened #1923 "Add listeners to SensorTag driver"
Currently the SensorTag Driver for Kura Wires doesn't support notifications.
Since #1871 has been merged, the SensorTag driver should be updated including also this feature.

[2018-02-19 11:55] ctron commented on #1911
As the Artemis release 2.5.0 is imminent, I would like to change this to an upgrade to 2.5.0.

[2018-02-19 12:42] nicolatimeus opened #1924 "[Wires] Script Filter and Conditional use different syntax"
Currently the Script Filter and the Conditional component use different syntax to access Wire Record properties, the syntax should be unified for consistency.

[2018-02-19 12:54] MMaiero commented on #1914
@ibinshtok In our test device it returns error:

ERROR

[2018-02-19 13:57] markoer commented on #1092
One test actually touched this issue, but (wrongly) assumed it expected behavior.

[2018-02-19 15:19] nicolatimeus opened #1928 "Removing and reinstalling the Script Filter dp causes a lot of components to be restarted"
- Component affected:
  - [X] Distribution
    - Installer name kura_3.2.0-SNAPSHOT_raspberry-pi-2-3_installer.deb:
    - Platform: observed on Raspberry pi 3 and emulator
    - Kura version affected Kura 3.2.0 snapshot (probably also previous versions)
    - Java version: java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) Client VM (build 25.65-b01, mixe

[2018-02-20 08:32] #1924 closed, assigned to nicolatimeus

[2018-02-20 08:33] #1092 closed, assigned to markoer

[2018-02-20 10:14] nicolatimeus commented on #1928
This issue is likely caused by the localisation, in particular it is caused by the fact that all localisation resources bundles are currently fragments of the `org.eclipse.kura.localization` bundle.

According to the OSGi spec a bundle/fragment is updated OSGi performs a refresh (stop and restart) of the bundles in its _dependency closure_. The dependency closure contains the list of bundles that

[2018-02-20 14:06] pierantoniomerlino commented on #1928
@nicolatimeus Great explanation! It also happens with different types of bundles (i.e. SensorTag Driver).

[2018-02-20 23:09] kartben commented on #1414
This is more than a Karaf issue and is an actual bug, that just happens to be ignored by Equinox and only gets picked up when using Felix which I guess is more strict.

As part of their activate code, Kura WireComponents typically do something like "wireHelperService.newWireSupport(this)", however the way newWireSupport is implemented triggers a getService() on the very component that is already i

[2018-02-21 14:27] nicolatimeus commented on #1928
A short term solution to this issue can be removing localisation from core components in order to prevent them from being restarted.

[2018-02-21 17:24] kartben commented on #1911
I would expect this is too late to get this done for Kura 3.2.0, right?

[2018-02-22 13:08] MMaiero commented on #1911
I agree, we are going a little bit too far. Let's postpone for the next release, if @ctron agrees.

[2018-02-23 09:35] kartben opened #1932 "SystemAdminService.getUptime() returns SystemAdminService#UNKNOWN on MacOS when locale is not English"
Since the code to figure out the uptime on Mac uses string pattern matching to parse the result of uptime (which contains "days", "hours", and things like that), it doesn't work when the local is not 'en'.

The implementation should be replaced to use the kernel boottime as a reference and compute the uptime from there (see `sysctl kern.boottime`)

[2018-02-26 08:23] ctron commented on #1911
Whatever works for you. I would prefer to have Artemis 2.5.0 over 2.4.0.

I think it would make sense though to have an understanding when the best time is for Kura to make such changes and when not. So what does "next release" mean time-wise?

[2018-02-26 16:40] scottslewis opened #1933 "Support SCR/Declarative Services 1.3+"
Currently, the target platform included in the Kura Developers Workspace (3.1.1) zip is:

org.eclipse.equinox.ds_1.4.400.v20160226-2036

This version of the equinox ds impl supports 1.2 of the OSGi SCR (Declarative Services) specification.

There have been a number of very useful improvements in version 1.3 of the SCR specification, including prototype scope services and configuration property typ

[2018-02-26 16:46] kartben commented on #1933
PR #1916 provides a fix for this issue.

[2018-02-28 13:49] cdealti commented on #1928
@nicolatimeus can you please start removing the dependencies from org.eclipse.kura.localization so that the Configuration Service and the Web UI are not deactivated?
This should provide a temporary fix for 3.2.0.

[2018-02-28 13:51] cdealti commented on #1914
Fixed by #1930.

[2018-02-28 13:51] #1914 closed, assigned to ibinshtok

[2018-02-28 13:54] cdealti commented on #1911
Well, Artemis 2.1.0 is not usable, being affected by the stealing link bug. However, the time frame is too tight now to start CQs. It will be for the next time.

[2018-03-01 10:03] MMaiero commented on #1918
Hi, the dependencies between bundles should be solved by DS.
So, after the loading of all the dps, all the declared dependencies should be resolved and your bundles working.
Isn't it?

Best regards,
Matteo

[2018-03-01 10:09] ghost commented on #488
Hello,
I'm trying to use the CMD-V1 service through mqtt but I have no idea about how build the payload.
I'm doing a test trying to run a simple directory listing (ls -al) on my device.
I'm publishing on the topic "$EDC/[account-name]/[client-id]/CMD-V1/EXEC/command" using as payload:

{"metrics":{"client.id":"0123456789","requester.client.id":"mqttspy","command.command":"ls -al"}}

I get no error

[2018-03-01 15:34] nicolatimeus opened #1934 "Add notification support to OPC-UA driver"
The OPC-UA Driver can be extended to include support for OPC-UA subscriptions and notifications using the `ChannelListener` APIs.

[2018-03-02 08:27] svilenvul commented on #1918
Thanks for your response, Matteo.

I will definitely setup a quick test later to illustrate the issue that I had.

But in the best case I think they will be in RESOLVED state, not in ACTIVE which is the desired result.

[2018-03-02 09:20] nicolatimeus opened #1936 "[Driver] Improve the way Driver instances are shared between consumers"
The Driver API currently provides the `connect` and `disconnect` methods which are callable by consumers unconditionally. Calling one of this method (in particular `disconnect`) might cause relevant side effects on other components use the driver.

For example, the current implementation of the `deactivated` method of `BaseAsset` unconditionally disconnects the attached Driver instance, even if th

[2018-03-02 09:25] AhmedGhar opened #1937 "GPIO example not working:: java.lang.NullPointerException"
java.lang.NullPointerException
[org.eclipse.kura.blink.zip](https://github.com/eclipse/kura/files/1774423/org.eclipse.kura.blink.zip)
[org.eclipse.kura.blink.zip](https://github.com/eclipse/kura/files/1774424/org.eclipse.kura.blink.zip)

Hello guys,
I am just starting with Kura and I wanted to start with simple manipulation of the GPIOs,
However when I run the GPIO example:
https://github.com/ecli

[2018-03-02 10:10] MMaiero commented on #1937
Hi,
first of all thank you for trying Kura.

I would ask you to do not cross post your issues (https://www.eclipse.org/forums/index.php/t/1092003/) otherwise it's difficult to track them down and also help other people that may have the same issue.

I believe you are not correctly getting the gpioService. Comparing your component definition in OSGI-INF folder with what defined in the provided exam

[2018-03-02 11:11] AhmedGhar commented on #1937
Thank you dear for your reply,
It works now,
I had to add the GPIOService to the Referenced Services in my OSGI-INF/component.xml
Thank you for helping

[2018-03-02 14:10] #1937 closed, assigned to nobody

[2018-03-02 17:15] dwoodard1 opened #1941 "[DbDataStore] Stale messages not purged with timezone other than UTC"
Kura uses a HouseKeeper thread to purge messages from the internal data store once they have been published. The query to find these messages (QoS == 0) is of the form:

`DELETE FROM <table_name> WHERE qos = 0 AND publishedOn <= DATEADD('ss', 5, NOW()) AND publishedOn IS NOT NULL;"`

The NOW() function returns the current time from the underlying OS. However, when updating the "publishedOn" column

[2018-03-02 22:09] dwoodard1 commented on #488
@insanefurion Thanks for your interest in Kura. For these types of questions, I would encourage you to use the Eclipse Kura mail list instead of adding to closed Issues.

There is a lot of documentation around remote management in Kura that can be found [here](http://eclipse.github.io/kura/ref/mqtt-namespace.html). The issue I see with your payload is the use of client.id instead of request.id. Th

[2018-03-05 13:19] cdealti commented on #1941
I've only found this for *H2*:

https://stackoverflow.com/questions/13176251/set-default-timezone-h2-database

Not sure if this is the expected behaviour

[2018-03-07 07:02] spnettec opened #1946 "karaf-emulator can't login to web ui"
When i run
       cd emulator-instance
       mvn exec:java -Prun
It's work well.But i can not login to web ui using admin:admin.
Only login to karaf webconsole using karaf:karaf

[2018-03-07 10:20] pierantoniomerlino commented on #1853
The issue seems to be caused by an error during disconnection. If the device is not properly disconnected, bluez/tinyb keep it connected. So, further attempts to connection fail. A simple workaround is to manually disconnect it:

`bluetoothctl`
`disconnect <address>`
`exit`

[2018-03-07 16:19] #1879 closed, assigned to ibinshtok

[2018-03-08 08:38] #1941 closed, assigned to nobody

[2018-03-08 15:34] kartben opened #1948 "'Packages' tab of the Web UI should link to the Eclipse Marketplace"
![image](https://user-images.githubusercontent.com/128251/37159598-93d5221a-22ee-11e8-92a4-d45c1dc3ae90.png)

It would be great if the "Eclipse Marketplace" text would be clickable.

[2018-03-08 15:42] kartben commented on #1948
Never mind it looks like this is done in 3.2 :-)

[2018-03-08 15:42] #1948 closed, assigned to nobody

[2018-03-09 08:08] #1934 closed, assigned to nobody

[2018-03-09 09:25] ctron opened #1950 "Service description missing in the Web UI"
- Component affected:
  - [X] Emulator container
    - Kura version affected: 3.1.0

  - If needed to replicate the issue, please provide references for the browser used:
    - Name: Firefox
    - Version: 58.0.2

- Textual description of the issue:

A configurable service, having a description, will only have its name shown in the Web UI, although the Kura Web UI supports this in general.

IIRC t

[2018-03-09 09:37] MMaiero commented on #1950
@markoer Could you please do a triage of this issue?

[2018-03-09 10:25] ctron commented on #1950
I created PR #1951 which fixes this issue.

[2018-03-09 11:35] MMaiero commented on #1950
Hi Jens,
maybe I've missed something. If so, I'm sorry. But, isn't the fix already in the 3.2.0 codebase?
I believe we added with PR #1525 and in particular, adapted and made uniform with the rest of UI with commit e2de4847e4ca66181fa84c121ac9514d71c243dc.

This is what I see with the latest build from develop and Firefox 58.0.2:
<img width="1432" alt="screen shot 2018-03-09 at 12 30 24 pm" src="h

[2018-03-09 11:40] ctron commented on #1950
Which is interesting, because I didn't see anything like that before making the PR. Thus my assumption was that there was some issue with the "div" being between the two "panel" elements. Which probably isn't the way bootstrap wants it to be.

But I can give it another try, using the `develop` branch.

[2018-03-09 11:48] ctron commented on #1950
I guess it was some kind of refresh issue. Switching back to "develop" of doing a full rebuild shows the description. Sorry.

[2018-03-09 11:48] #1950 closed, assigned to nobody

[2018-03-09 12:51] ctron opened #1952 "Incompatible use of OSGi Designate element"
I think that Kura currently uses the `<Designate>` element in a way that is incompatible with the OSGi specification.

The result is that you cannot use e.g. the maven-bundle-plugin/bndtools to create a Kura factory component. Eclipse PDE doesn't offer support for editing Metatypes, so it simple is ignored.

Looking at "105.6.2" (R4)of the OSGi compendium specification is says that:

The OSGi R6 a

[2018-03-12 09:21] ctron opened #1955 "[Wires] New Wire Component name entry field is broken"
- Component affected:
  - [X] Kura Wires

  - If needed to replicate the issue, please provide references for the browser used:
    - Name: Firefox
    - Version: 58.0.2

- Textual description of the issue:

The name entry field of the "New Wire Component" has several defects:
* It is not possible to move the cursor using the arrow keys on the keyboar
* It is not possible to insert "special" chara

[2018-03-12 09:31] ctron opened #1956 "[Wires] Creating a component named ")" is possible"
- Component affected:
  - [X] Kura Wires

  - If needed to replicate the issue, please provide references for the browser used:
    - Name: Firefox
    - Version: 58.0.2

- Textual description of the issue:

Kure Wires doesn't prevent one from creating a component named `)`. The Web UI fails with an empty stack track. The component gets created:

[code]

But it doesn't show up in the Wires canvas.

[2018-03-12 09:45] ctron opened #1957 "[Wires] Allow using the component name as label"
Currently the Wires UI only allows to use the internal factory ID, which probably isn't very user friendly.

IMHO the Wires UI should use the component name (which is actually available in OSGi) and only fall back to the internal ID when necessary.

This would also allow to drop the hard coded list of service names which is available in Kura right now (`WiresPanelUi.java`):

[code]

[2018-03-12 09:48] ctron opened #1958 "[Wires] Use alphabetical ordering for Wires components"
IMHO the current ordering of Wire components is not really intuitive. I guess using an alphabetical ordering based on the label would make sense.

[2018-03-12 10:01] ctron opened #1959 "[Web] Escaping doesn't seem to work properly"
Using the "new component" dialog it is possible to create components with names like `)`, and `"`.

While `)` can be deleted afterwards the `"` (and also others like `&` or `'`) gets expanded to `&quot;` and then can no longer be deleted as a component named `&quot;` doesn't exist. I guess at some point this gets escaped twice.

[2018-03-12 10:10] ctron opened #1960 "[Web] Unable to identify component type after creation"
After creating a new component with the Kura Web UI, the component type is no longer visible and the user has to figure out the component type based on the structure of the service's attributes. Of course this will only work if the services do have different attributes.

IMHO the service type/component type should be visible in the UI alongside the service/component ID.

[2018-03-12 10:38] ctron opened #1961 ""master" branch of Kura looks dead"
IIRC Kura follows the "git flow" model [1]. With that I would expect that the "master" branch is up to date with the most recent released version. [2]

Looking at the master branch of Kura however I can only see a last update "a year ago" with a version of "2.1.0" [3].

[1] https://github.com/eclipse/kura/tree/master#development-model
[2] http://nvie.com/posts/a-successful-git-branching-model/
[3]

[2018-03-12 10:45] MMaiero commented on #1961
Hi, please have a read at the following document: https://github.com/eclipse/kura/wiki/New-Kura-Git-Workflow

[2018-03-12 10:48] ctron opened #1962 "[Web] Broken form validation"
- Component affected:
  - [X] Kura Web UI

  - If needed to replicate the issue, please provide references for the browser used:
    - Name: Firefox
    - Version: 58.0.2
    - Name: Chrome
    - Version: 64.0.3282.167 (Official Build) (64-bit)

- Textual description of the issue:

Having a properly filled out form causes a validation error when pressing the apply button:

![image](https://user-im

[2018-03-12 11:02] MMaiero commented on #1962
Hi, could you please provide a test case o something in the develop codebase that can allow us to validate the issue report and work on a fix?

Thanks

[2018-03-12 11:36] ctron commented on #1961
Then I think you make this very prominent in the master branch. Currently is simply looks dead.

[2018-03-12 23:29] dwoodard1 opened #1965 "[QA] - v3.2.0 Platform QA"
Let's try using this issue to track the QA for this release. Below are the platforms listed on the Eclipse Kura website:

- Raspbian (RPi 2/3)
- Raspbian (RPi B+)
- BeableBone Black
- Fedora (RPi 2/3)
- Intel Edison
- Aarch 64

@markoer Can you provide a link to the latest QA spreadsheet?

@feclare Will you be able to perform QA on the Aarch 64 platform? We are targeting the Kura release for the e

[2018-03-12 23:54] kartben commented on #1965
What is the status of Kura for Windows? I always tell people Kura is supported on Windows but I understand it might not be true (anymore?), or at least the messaging to the community needs improving, I guess.
See eg. https://www.eclipse.org/forums/index.php/t/1092077/ - I think the fact that distributing a proper Kura installer for Windows is not possible is completely unrelated, and should not pr

[2018-03-13 09:11] markoer commented on #1965
#637, #1023, #1204 are just some of the issues going against Windows support. And yes, the 'best' one is the one exposing the legal issues.

Here's the link to [Kura QA](https://eclipse.github.io/kura/assets/qa/system-test/qa_kura.ods) spreadsheet.

[2018-03-15 08:18] nicolatimeus commented on #1962
@ctron does this apply to the current develop/release-3.2.0 branch?

[2018-03-15 08:21] nicolatimeus commented on #1960
The component type should be visible in the heading of the configuration section
<img width="493" alt="screen shot 2018-03-15 at 09 19 46" src="https://user-images.githubusercontent.com/8960773/37451548-263af3f8-2832-11e8-8f11-9615c79377ec.png">

[2018-03-16 08:00] ctron commented on #1960
You are just looking at the Wires UI I assume:

![image](https://user-images.githubusercontent.com/202474/37509605-43d492b8-28f8-11e8-8c67-966fd3138d82.png)

I agree that (if the service has a description) with Kura 3.2 this will be a bit improved. Still you have to deduct it from the description. And if that is empty you are back to the original problem.

[2018-03-16 08:00] ctron commented on #1962
I will test this when I do the test for Fedora.

[2018-03-19 00:59] pstanton commented on #1161
Just in case it wasn't clear in my previous reply - the real issue here is the unrecoverable state the environment falls into. if the cast fails, that can be logged/thrown, but the entire change to the state should be rolled back and allow the component to continue functioning in its last good state.

[2018-03-19 01:09] pstanton opened #1969 "Install/Update a bundle from the command line without restart of kura"
There is currently no way (I know of) to install or replace a bundle from the command line (while kura is running) that will work 100% including after kura is subsequently re-started.

You can install/update via the osgi terminal but that is not persistent into the next re-start/execution of kura.

The web and mqtt interfaces both seamlessly update/install bundles in a way that is persistent.

The

[2018-03-19 13:51] MMaiero opened #1970 "[Kura 3.2.0 QA] Multiple handling of PositionLocked"
Having the position service running and the cloud service set to manage the position fix could determine an increasing number go Handlers for the PositionLockedEvent.

Having a look at the log, you can end up with something like:
[code]

[2018-03-20 13:29] kartben commented on #1961
I agree this is confusing. @MMaiero the link you provided makes it hard to understand what the actual flow is expected to be for the project? For example there is a header that reads "Kura QA and Release Using the GitFlow Model" and another that reads "Kura QA and Release Using the Anti-GitFlow Model", plus the very last one that adds even more confusion :-)

Am I correct in assuming that 'master'

[2018-03-20 23:14] ibinshtok opened #1971 "EthernetMonitor can't monitor more than two ethernet interfaces"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb):
    - Platform (e.g. Raspberry pi 2):
    - Kura version affected (e.g. Kura 3.1.0):
    - Java

[2018-03-21 09:54] cdealti opened #1973 "[Kura 3.2.0 QA] Wire graph snapshot includes the Meta Type OCD"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name: kura_3.2.0_raspberry-pi-2-3_installer.deb
    - Platform (e.g. Raspberry pi 2): Raspberry Pi 3
    - Kura version affected (e.g. Kura 3.1.0): Kur

[2018-03-21 11:30] cdealti opened #1975 "[Kura 3.2.0 QA] Warning logged uploading and old Asset snapshot"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name: kura_3.2.0_raspberry-pi-2-3_installer.deb
    - Platform (e.g. Raspberry pi 2): Raspberry Pi 3
    - Kura version affected (e.g. Kura 3.1.0): Kur

[2018-03-21 12:47] darionct opened #1976 "[Kura 3.2.0 QA] Wires, adding component produces warning that component already exists"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name: kura_3.2.0_beaglebone_debian_installer.deb
    - Platform : BBB
    - Kura version affected (e.g. Kura 3.1.0): Kura 3.2.0
    - Java version : ja

[2018-03-21 16:18] markoer commented on #1976
We now have the cause for the issue.

One of the tests creates a graph with Timer component named Timer01, works with it and never deletes anything (neither the components nor the graph). The next test uploads a partial snapshot of a previously saved graph, that doesn't have a Timer01-named component. This graph is then properly deleted. If you try to create Timer01 now, it will fail with that mes

[2018-03-21 16:43] MMaiero commented on #1969
Hi,
thank you for your comments and ideas.

The osgi console works on the storage area and, since we start clean, it is fully wiped at every start.
We provided a service (deployment service) that leverages the deployment admin to perform the installation outside of the storage area. Currently, this is also exposed and invokable from the cloud on specific topics.

Originally, the command line inter

[2018-03-22 13:50] markoer opened #1981 "[Kura 3.2.0 QA] Wire graph deletion also deletes related asset(s)"
- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb): kura_3.2.0_raspberry-pi-2-3_installer.deb
    - Platform (e.g. Raspberry pi 2): Raspberry Pi 3
    - Kura version affected (e.g. Kura 3.1.0): 3.2.0 milestone build
    - Java version (paste the result of **java -version**: java version "1.8.0_65"
    - Host OS (e.g. Debian): Raspbian

[2018-03-23 11:18] #1971 closed, assigned to ibinshtok

[2018-03-23 11:19] #1973 closed, assigned to nobody

[2018-03-23 11:51] mgogic opened #1983 "Modbus write to asset channel problem"
Component affected:

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb): Kura_3.2.0-SNAPSHOT_raspberry-pi-2-3_installer.deb
    - Platform (e.g. Raspberry pi 2): Raspberry pi 3
    - Kura version affected (e.g. Kura 3.1.0): 3.2.0
    - Java version (paste the result of **java -version**: openjdk 1.8.0_40-internal
    - Host OS (e.g. Deb

[2018-03-23 13:08] MMaiero commented on #1981
It's a behaviour introduced with the Wires refactoring. The idea is that once in wires, the component is managed as Wire component. So, when the graph or the specific component is deleted in the composer, is deleted also from the framework.

A possibility is to add a message asking if the component needs to be removed from the composer only or from the framework. But, I believe, it will make the i

[2018-03-23 13:10] MMaiero commented on #1983
Hi,
could you please provide a description of the steps taken, in order to reproduce the issue? Are you using the asset in the wire composer or only in drivers and assets? In which way are you interacting with the asset?

Thanks.
Best regards,
Matteo

[2018-03-23 13:22] mgogic commented on #1983
- First I installed com.eurotech.modbus.driver , version 1.0.101.
- Added two modbus drivers ( on first, I added two channels, on second one channel), and managed driver parameters (access.type, modbus.tcp-udp.ip, modbus.tcp-udp.port (1502), etc.)
- After that, I downloaded ModbusPal 1.6b and added one ModbusSlave (For Port option I used same port from drivers setup )
- Channels are all enabled,

[2018-03-23 13:25] MMaiero commented on #1983
Yes, that tab does not perform checks on fields changed, but simply writes all the values. In any case, the APIs support the writing of a simple channel (wires too).
We can take this as a possible improvement of the Data tab in Drivers and Assets.
Thanks for reporting that.

Maybe someone is willing to contribute that change.

[2018-03-26 09:42] #1970 closed, assigned to MMaiero

[2018-03-26 09:43] #1975 closed, assigned to nobody

[2018-03-26 09:58] #1928 closed, assigned to nicolatimeus

[2018-03-26 09:59] #1689 closed, assigned to nobody

[2018-03-26 10:03] #1936 closed, assigned to nobody

[2018-03-26 10:27] #1955 closed, assigned to nobody

[2018-03-26 10:28] MMaiero commented on #1956
I believe this can be closed now

[2018-03-26 10:36] zengbiao opened #1986 "kura not support bluetooth2.0 api"
all existing api are for  ble device

[2018-03-26 10:49] markoer commented on #1983
As it turns out, Kura doesn't work properly if assets/channels are not configured properly (i.e. all channels point to the same memory location). After @mgogic reconfigured the channels, all was fine.
If you want to keep the issue as a UI enhancement, that's OK, otherwise please close it.

[2018-03-26 11:56] MMaiero commented on #1983
Let's close it for the time being. We'll reopen it when needed.

[2018-03-26 11:56] #1983 closed, assigned to nobody

[2018-03-26 12:01] pierantoniomerlino commented on #1986
Hi @zengbiao.
Kura Bluetooth APIs were indeed developed for connecting to BLE devices. The old APIs had a small support for Bluetooth 2.1, but there isn't any implementation in Kura.

If you want to contribute, take a look here [1] and [2]. BTW, there aren't many java libraries supporting classic Bluetooth around Internet. There is a very old lib [3], but is largely deprecated and supports only Bl

[2018-03-27 13:29] nicolatimeus opened #1989 "[RPI3] Bind permission related issues"
- Component affected:
  - [ ] Distribution
    - Installer name kura_3.2.0_raspberry-pi-2-3_installer.deb:
    - Platform (e.g. Raspberry pi 2): Raspberri PI 3
    - Kura version affected (e.g. Kura 3.1.0): 3.2.0
    - Java version (paste the result of **java -version**:
    - Host OS (e.g. Debian): Raspbian
    - Host OS version: Raspbian GNU/Linux 9 (stretch)

  - [ ] Development environment

[2018-03-27 13:31] nicolatimeus commented on #1989
@markoer can you please check if the issues above are present also in the Rasbian version used for the Kura QA?

[2018-03-27 15:48] markoer commented on #1989
The behavior is the same on Raspbian 9.

[2018-03-28 07:37] zengbiao opened #1991 "bluetoothGattImpl.java writeCharacteristicValue can not success notify"
in BluetoohGattImpl.java:
    @Override
    public void writeCharacteristicValue(String handle, String value) {
        if (this.proc != null) {
            this.charValueUuid = null;
            String command = "char-write-cmd " + handle + " " + value + "\n";
            sendCmd(command);
        }
    }

I want to enable notification, only way is call "writeCharacteristicValue" and it will call

[2018-03-28 07:43] zengbiao commented on #1986
thanks, i will try

[2018-03-28 09:47] pierantoniomerlino commented on #1991
@zengbiao The writeCharacteristicValue uses indeed the char-write-cmd under the hood.
However, it shouldn't be any difference between the two commands (-cmd vs -req). The only difference is that -req returns the result of the operation, while -cmd doesn't return anything.

I checked on my TiSensorTag and here are the results:
[code]

[2018-03-28 13:21] zengbiao commented on #1991
@pierantoniomerlino , thanks for your reply, i don't know why i can't see any notification via "char-write-cmd" , but "char-write-req" can get notification.
may it be that my bluez version is 5.43?

[2018-03-28 13:51] pierantoniomerlino commented on #1991
@zengbiao I tested it on a RPi 3 with Bluez 5.43 and a TiSensorTag.

[2018-03-29 09:20] ctron opened #1993 "Search Domains Are Not Supported"
While testing NET-ETH0-003 on Fedora I ran into the follow error when applying the configuration:

![image](https://user-images.githubusercontent.com/202474/38080865-e86adcf2-3342-11e8-8a8f-74e3aa119375.png)

Looking at the exception I do think that the search domain field validation is broken:

[code]

The entered information is actually part of hostname, not a hostname itself and thus cannot nec

[2018-03-29 09:26] ctron opened #1994 "NET-ETH0-005 unclear"
The QA test 'NET-ETH0-005' says:

However if is unclear to what it should reconnect. To the network, as this is the current context. Or to the MQTT broker, because that was used in the last step.

If the latter is the case, then this test has to fail because all previous steps keep the default setting of "connect on startup" set to "false" and thus the gateway **must not** re-connect on startup.

[2018-03-29 12:46] ctron opened #1995 "Failed NET-WIFI-003 on Fedora"
Test NET-WIFI-003 failed on Fedora.

The device never connected to the WiFi. However following test other tests, the device did connect to the WiFi after doing a reboot.

[2018-03-29 14:01] nicolatimeus opened #1997 "Improve dhcpd shutdown logic"
The dhcp server shutdown logic in `DhcpServerManager` is aimed at trying to stop `dhcpd` with `SIGTERM`, and, if the server does not stop, with `SIGKILL`.

Currently the `SIGKILL` signal is sent only if the return value of the `kill` command used to send `SIGTERM` is non-zero. The fact that `kill` returns 0 only implies that the signal has been correctly sent, but not that the target process actua

[2018-03-29 14:53] ctron opened #1999 "Connection refresh sometimes causes duplicate entries"
Pressing the refresh button on the connections view sometimes causes duplicate entries:

![image](https://user-images.githubusercontent.com/202474/38095832-aa868aa6-3371-11e8-9d86-abcc9345c572.png)

[2018-03-29 15:51] MMaiero commented on #1993
@ibinshtok Could you please triage this?

[2018-03-29 23:40] ibinshtok commented on #1993
@MMaiero yes, I recreated this exception if "Search Domain" is a name that can't be resolved (i.e. google, instead of google.com or IP address).

[2018-03-30 13:16] darionct commented on #1959
"New Cloud Service Pid" is not validated. Ne service dialog allows you to enter anything and then Kura shows error popup "A generic unrecoverable error happened. " and it is no longer able to list cloud services, not even those properly named, so service list is empty. There seem to be no way to recover form this situation.
However it does show warning "Must match regex" if the field is blank.
Val

[2018-04-03 08:37] cdealti commented on #1993
Please note that search domains were broken, see #923.
NET-ETH0-003 does not specify to set Search Domains.

Should we just disable or remove the field from the Web UI?

[2018-04-03 09:10] #1997 closed, assigned to nobody

[2018-04-03 09:28] ctron commented on #1993
Well the tests asks you to add set all other kinds of settings from your local settings. This is one of them. So maybe adding that field to the test explicitly makes sense.

I think fixing the issue would be the appropriate action.

[2018-04-03 11:14] ctron opened #2001 "DEN-DEPLOY-001 is unclear"
The text of DEN-DEPLOY-001 is unclear, at some point is states:

However the context before and after this sentence is the actual DP. There is no "services" window and the DP is actually visible in the package list. However the next test will fail unless a new service instance was created.

So the test should explicitly mention to create a service. And IMHO this should be an explicit step in the t

[2018-04-03 11:26] ctron opened #2002 "DEN-DEPLOY-005 failed"
Undeploying the DP does remove the package and the created service. But it doesn't stop the publishing:

![image](https://user-images.githubusercontent.com/202474/38246456-26f6408a-3742-11e8-975f-b151970dbae0.png)

The log is flooded with the following message:

[code]

The full Kura logs are here: [kura-logs-20180403-130413.tar.gz](https://github.com/eclipse/kura/files/1871275/kura-logs-20180403-

[2018-04-03 11:32] ctron opened #2003 "Issue with DEN-DEPLOY-005"
Although that is also not part of DEN-DEPLOY-005, the result for me is that the package got upgraded (at least it seems that way), but the old package is still in the `packages` folder. But not in the `dpa.properties` file.

So that might or might not be an issue.

[2018-04-03 11:35] ctron opened #2004 "DEN-DEPLOY-008 kind of fails"
I am not sure what the "planned for installation" location is, but dropping a link on the footer does open a webpage of the Eclipse Marketplace and navigates away from the Kura admin web page.

True, the installation isn't triggered by that, but IMHO this is not the correct behavior.

[2018-04-03 11:58] ctron opened #2005 "DEN-CONF-002 kind of fails"
Setting the time interval to "500" ms lets the publisher still publish at 1 second.

Looking at the payload you discover that the timestamp actually has a 500 ms difference. Stopping the publisher doesn't actually stop the publishing. So my assumption is that some internal buffer is filling up.

[2018-04-03 12:06] pierantoniomerlino commented on #2005
@ctron Did you tried to disable the rate limit? Take a look at the **enable.rate.limit** here [1].

[1] : https://eclipse.github.io/kura/config/data-service-configuration.html

[2018-04-03 12:19] ctron opened #2006 "Something seems odd with the internal database/buffer"
While testing Kura 3.2 RC, I saw a strange behavior of the internal Kura buffer. May that is "as designed", but it still seems odd to me.

Using the example publisher and having a successful connection to "iot.eclipse.org" the message buffer was full at some point. Messages got published successfully and I could see them in the MQTT tool I was using. Also were those the most recent messages, not s

[2018-04-03 12:26] ctron opened #2007 "Array validation doesn't work properly"
This is related to DEN-CONF-036, I know it is not part of the test, still I think it is a bug.

The field `metric.short.array` states that is has a range of "Metric range min -32760 max 32760". Entering "32761" causes a proper error to appear, but selecting the next field in the array makes the error disappear again. The (out of range) value can be saves and gets applied to the service:

[code]

I

[2018-04-03 12:42] ctron opened #2008 "DEN-CONF-037 fails"
After the reboot the publisher does publish against a filled buffer, although the MQTT connection is established:

[code]

However there are no published messages received from the MQTT broker. Maybe this is related to #2006.

What I find interesting is that the service seems to publish faster then the configured period of 1500 ms.

[2018-04-03 12:47] ctron opened #2009 "DATA-LIMIT-001 fails"
Setting the period to 1000 ms causes the publisher to spit out messages way faster:

[code]

[2018-04-03 13:06] ctron commented on #2005
No, that wasn't mentioned in the test so far. But my assumption would be that in this case exceeding messages would be dropped and not buffered. As the default setting for the example publisher is QoS 0.

But I will try this next.

[2018-04-03 13:41] ctron opened #2010 "Exception when disabling watchdog"
Disabling the watchdog causes the following exception in the Kura log:

[code]

[2018-04-03 13:52] ctron opened #2011 "DATA-CRIT-004 fails"
I can see the connection refused message in the log:

[code]

As well as the reboot message:

[code]

But the reboot doesn't occur in this test.

[2018-04-03 14:25] ctron opened #2012 "DB-H2-012 fails"
In DB-H2-012 I am unable to create a new instance. Using the dialog works, however no instance gets created and the seems to me as if the config admin doesn't get triggered.

[2018-04-03 14:30] ctron commented on #2012
Here is a screen recording:

![output](https://user-images.githubusercontent.com/202474/38255525-4fcd7b6c-375c-11e8-8deb-f31b837de739.gif)

[2018-04-03 14:32] ctron opened #2013 "Unsaved changes dialog triggers incorrectly"
While testing Kura 3.2 RC I noticed a few times that the "there are unsaved changes" dialog triggers incorrectly. Making a change, pressing "Apply" applies the changes, the "apply" button even gets disabled. Yet the Web UI asks to discard changes when moving away from the service.

[2018-04-03 14:45] ctron opened #2014 "Deleting a component keeps tab open"
Tested with Kura 3.2 RC:

* Create factory service instance
* Select service
* Delete service -> tab remains open
* Make changes to configuration
* Press "Apply" -> Error

![image](https://user-images.githubusercontent.com/202474/38256300-3b40f8ca-375e-11e8-823d-b9a8fd3cc1dd.png)

I think there are two things wrong here:

1. The service tab should be closed when the service is deleted
1. A proper

[2018-04-03 15:51] MMaiero commented on #2013
Could you please provide a replicable set of actions in order to identify the issue?

[2018-04-03 15:56] MMaiero commented on #2011
The reboot, if the watchdog service is working properly, will not happen immediately. Some time will be needed. If I'm not wrong it will take 5* the connect delay.

[2018-04-03 15:58] MMaiero commented on #2010
Never seen that in other systems. Is that causing issues?

[2018-04-03 16:02] cdealti commented on #2006
What you describe is the expected behavior and how it has worked since the beginning.

Messages are not deleted from the message store as soon as they have been sent or delivered to the broker, based on the publish QoS, but only when the house keeper task runs.

The store message capacity, the house keeper interval and the message purge age can be tuned from the configuration of the DataService.

[2018-04-03 16:28] cdealti commented on #2007
I totally agree on this.

However the simple Meta Type validation is still insufficient for most use cases, for example where a string is used to represent an IP address or an XML or JSON document.

In these cases, the application receiving the configuration is still responsible for validating it.

If you think it is critical, we could evaluate fixing this issue in the Web UI first and postpone th

[2018-04-03 17:59] darionct opened #2015 "New Factory Component - drop-down-list item missing for a installed package"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Platform: observed on multiple platforms
    - Kura version affected (e.g. Kura 3.2.0):

  - [ ] Development environment
    - Version:  3.2.0 RC #445
    - Depl

[2018-04-04 07:41] cdealti commented on #2010
For sure the KuraException is not properly built.

The format message is intended to produce something like `Command 'sync' failed with code -1` but here the wait for the command `sync` to complete is interrupted so there's no exit code.
An example is [here](https://github.com/eclipse/kura/blob/release-3.2.0/kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/util/IpAddrShow.j

[2018-04-04 07:47] ctron commented on #2010
As there are other issues with the watchdog, I am not sure this didn't have any impact. So short answer: I don't know.

The full set of logs is here: [kura-logs-20180404-090416.tar.gz](https://github.com/eclipse/kura/files/1874733/kura-logs-20180404-090416.tar.gz)

[2018-04-04 07:48] ctron commented on #2011
Well I did wait quite a bit after the last message .... and the reboot did work before. Maybe this is connected to #2010.

[2018-04-04 07:54] ctron commented on #2007
IMHO it is necessary to fix all layers of this. If a service requires more than the Meta Type service provides, then it is the responsibility of the service to validate. But this is not about "on top" validation.

However if Kura provides an API then the consumer of this API should be able trust the contract of it. I don't think that consumers should be required to enforce those contracts.

Of cou

[2018-04-04 07:56] ctron commented on #2006
It is "works as designed".

[2018-04-04 07:56] #2006 closed, assigned to nobody

[2018-04-04 07:59] ctron commented on #2013
I thought that would be clear by:

As this is an issue which sporadically appears (at least I haven't found a pattern yet) I cannot give you a set of instructions to replicate this with with 100% certainty.

[2018-04-04 08:01] cdealti commented on #2009
@ctron what was the ExamplePublisher rate before setting it back to 1000ms? I don't see anything in the code explaining this behavior.

[2018-04-04 08:11] ctron commented on #2010
So looking at the code shows that this probably wasn't happening when disabling the watchdog, but when the watchdog wanted to reboot:

[code]

Now if the call to `sync` fails, then the reboot command it not being executed. However the watchdog is disabled at the same time.

I am not sure why the call to `sync` returns a non-zero result, but in any case the reboot should be executed IMHO.

[2018-04-04 08:11] ctron commented on #2010
Which I think also explains the follow up issues like #2011.

[2018-04-04 08:34] ctron commented on #2010
Ok, looking more closely the issue gets more complex.

The exception is not coming from the call to `sync`, but to the combination of modifying the watchdog and a reboot being in progress. The call to sync took a while (as it might happen) and at the same time (not intentionally) I did disable the watchdog (which causes an update). Which then causes a call to `cancel` on the poll task, which was b

[2018-04-04 10:19] ctron opened #2017 "PTC-BLE-024 fails"
The test `PTC-BLE-024` fails on Fedora:

[code]

However the output of `hciconfig` is:

[code]

bluez version:

[code]

[2018-04-04 10:34] pierantoniomerlino commented on #2017
@ctron It seems to me that the Bluetooth adapter on your device has some problems, since the "AA:AA:AA:AA:AA:AA" is not a valid address. Have you tested it via command line?

I'd some issues with the internal BT adapter on my RPi and I ended up to use an external USB BT adapter.

[2018-04-04 10:49] ctron commented on #2009
I think it was 1500ms

[2018-04-04 10:50] ctron commented on #2017
Well I can do e.g. `hcitool lescan` and it seems to work:

[code]

Is there any other way to test?

[2018-04-04 12:08] pierantoniomerlino commented on #2017
You can try to connect to your SensorTag using ```gatttool``` to check that all work fine.
So, please use this command:

[code]

where XX:XX:XX:XX:XX:XX is the address of your SensorTag. Then type ```connect``` to connect and ```primary``` and ```characteristics``` to check if the device replies to some requests.

[2018-04-04 12:24] ctron opened #2018 "DRIVERS-BLE-002 unclear"
In `DRIVERS-BLE-002` it says:

But what address is that?

[2018-04-04 12:29] ctron opened #2019 "Deleting an asset component from the Wires UI also deletes the actual asset"
Again, maybe this is intended that way, but I stumbled over the following, IMHO weird, behavior:

* Create new driver
* Create new asset
* Add asset to write graph
* Apply wire graph
* Delete asset from wire graph
* Apply wire graph

The result is that both the wire asset component **and** the asset is gone. I would expect the asset to survive in order to (maybe) use it with different APIs of Kura

[2018-04-04 12:34] MMaiero commented on #2019
I believe it is a duplicate of #1981

[2018-04-04 12:40] ctron commented on #2017
I don't have a sensor tag, the test is about scanning for Eddystone beacons. But maybe I just don't understand it.

I tried to use `gatttool` to connect to my local laptop and mobile phone. Both without success:

[code]

However I can use `hcitool` to scan for both devices. Maybe it has something to do with `gatttool`?

[2018-04-04 12:43] cdealti commented on #2009
@ctron BTW, did you forget to mention that you have created four configurations of `ExamplePublisher` with the same `EXAMPLE_PUBLISHER` app ID?

At least this is my guess looking at the short log excerpt above?
The full log should show the log portion above repeated every second.

[2018-04-04 12:44] pierantoniomerlino commented on #2018
@ctron The address of your SensorTag, of course. The one that you can get from a scanning ;-)

[2018-04-04 12:44] ctron opened #2020 "Wrong column content in assert/driver view"
Maybe it is actually intended that way, but I assume that the content of the Factory PID column in the driver/asset table is filled incorrectly:

![image](https://user-images.githubusercontent.com/202474/38308169-88c1227e-3816-11e8-956d-0aee9e528f4c.png)

I would assume that the factory PID should be filled with the actual ID of either the OPC UA driver: `org.eclipse.kura.driver.opcua` instead of

[2018-04-04 12:46] ctron commented on #2018
I guess "set the address of your sensor tag" would make it more clear, at least to me. As I don't have a sensor tag, I am out of luck anyway.

[2018-04-04 12:48] ctron commented on #2009
No, I only created one. But I did change the app ID a few times. Maybe there is a cleanup issue in Kura.

[2018-04-04 12:49] ctron commented on #2019
True!

[2018-04-04 12:49] #2019 closed, assigned to nobody

[2018-04-04 12:52] MMaiero commented on #2020
Yes, that is definitely a regression

[2018-04-04 12:57] pierantoniomerlino commented on #2017
Yes, it is a test for the Eddystones, but it seems to me that there are some problems related to the Bluettooth adapter. So, I suggested to use a SensorTag for checking your connection.
You cannot connect to your laptop or mobile phone using ```gatttool``` unless you don't have a GATT server running on them :-)

Have you tried to perform an Eddystone or iBeacon advertisement (i.e. PTC-BLE-004/007

[2018-04-04 12:58] pierantoniomerlino commented on #2018
I'll take note of that. Thanks

[2018-04-04 13:01] ctron commented on #2018
Awesome. Thanks.

[2018-04-04 13:01] cdealti commented on #2009
@markoer, can you please recreate this?

[2018-04-04 13:04] ctron commented on #2017
I see ... I tried the advertisement as well. But was unable to detected the beacon with the suggested Android application. However I saw a few complaints in the playstore mentioning exactly that behavior. So I am not sure if this is a problem of Kura or the Android app.

I have a FiPy though which should support running a GATT server. I guess I will try that then.

[2018-04-04 13:10] cdealti commented on #1993
@ibinshtok are you confident in a proper fix to this issue and to #923?
I personally think this is not so critical (never had customers complaining about it) and can be postponed.
However I'll let @dwoodard1 decide.

[2018-04-04 13:17] cdealti commented on #1994
To the broker.

NET-ETH0-003 says:

and NET-ETH0-004 does not modify this setting.

Do I miss something obvious?

@markoer can you please comment?

[2018-04-04 13:17] pierantoniomerlino commented on #1853
Both the SensorTag example and Driver had been updated here [1]. The modifications increase the reliability of the code, but there are still some connection problems.

Using the ```org.eclipse.kura.example.ble.sensortag.tinyb```, there is a recurring error on kura.log:

[code]

It seems that the device successfully connect with SensorTag, but it fails to retrieve the exposed GATT Services and it i

[2018-04-04 13:21] cdealti commented on #2001
@markoer please fix it

[2018-04-04 13:24] ctron commented on #2017
Seems I have no luck with that either.

[2018-04-04 13:24] pierantoniomerlino commented on #1853
A possible solution is to increase the timeout for retrieving GATT resources from a BLE device or make it configurable (but a change on the API is needed). In the current implementation of ```BluetoothLeAdapterImpl```, ```BluetoothLeDeviceImpl```, ```BluetoothLeGattCharacteristicImpl``` and ```BluetoothLeGattServiceImpl```, a fixed timeout of 5 seconds is set. Increase it to 30 seconds will improv

[2018-04-04 13:28] cdealti commented on #2002
I believe @markoer observed this behavior but it's not mentioned in the QA spreadsheet of the RPI 3 on Raspian.

I also think that this started after `ExamplePublisher` has been converted to a factory DS.

@markoer can you confirm?

[2018-04-04 13:35] cdealti commented on #2003
It is expected that the old package is removed from the `dpa.properties` file, otherwise it would be reinstalled at the next Kura start.

Deleting uninstalled/upgraded packages from the `packages` directory would be a good idea too but not critical for the release, I believe.

[2018-04-04 13:38] cdealti commented on #2004
Agreed but not critical.

[2018-04-04 13:42] cdealti commented on #2005
@ctron If you don't mind, I will remove the `bug` label for now.

@markoer can you please add a clarification about the rate limit in the QA spreadsheet?

[2018-04-04 13:52] ctron opened #2022 "Factories don't get removed from creation dialog"
Using Kura 3.2 RC:

* Install "Example Publisher for Eclipse Kura" from the marketplace
* Open + Dialog, verify the factory ID is present
* Uninstall the example publisher
* Wait
* Reload the Web UI
* Open the + Dialog -> The factory ID is still present

[2018-04-04 13:56] ctron commented on #2003
The behavior seems a bit asymmetrical with the package uninstallation, in which case the package is actually removed from the file system.

[2018-04-04 14:34] ctron commented on #2017
So after trying a few things, I assume this is a Fedora issue. At least I have no luck connecting to anything, including using command line tools.

So from a Kura perspective, lets close it.

[2018-04-04 14:34] #2017 closed, assigned to nobody

[2018-04-04 14:52] cdealti commented on #2010
This is what I was asking in my first comment.

The outcome of this race condition, disabling the `WatchdogService` while it was running the shutdown actions, effectively canceled the shutdown. It does not look a bug.

I agree that the current code may be improved with your suggestions and we will consider them for the next development cycle.

[2018-04-04 15:43] cdealti commented on #1993
As agreed in the weekly call, let's start removing the `Search Domains` field from the Admin UI.
@ibinshtok can you do that?

[2018-04-04 16:10] cdealti commented on #2022
@ctron as agreed in the weekly call we will evaluate a simple fix to the `ConfigurationService`.
If it turns out this is too hard the problem will be documented as a known issue in the release notes, as we always do.

Note that the factory ID goes away at the next Kura start.

[2018-04-04 16:11] nicolatimeus commented on #2012
@ctron I've tried to repeat DB-H2-001, DB-H2-002 and DB-H2-012 in sequence and I wasn't able to reproduce, the db instance was successfully created.
This is quite strange, from your screen recording it seems like the backend is not receiving the request for creating the component, do you have more context information that might help reproducing this?

[2018-04-04 16:31] cdealti commented on #2015
@markoer it seems that most of the problems of Kura 3.2.0 are about ExamplePublisher.
Also see #2002 and #2009. Can you please thoroughly review/debug it with highest priority?

[2018-04-04 16:33] cdealti commented on #2020
Seems an easy fix. Let's do it

[2018-04-04 16:35] cdealti commented on #2018
@markoer can you please add this clarification to the QA spreadsheet?

[2018-04-04 16:48] cdealti commented on #2011
@ctron can we conclude that that the reboot did not happened because it was canceled by #2010?

[2018-04-04 17:24] cdealti commented on #2008
Do you mean that immediately after the reboot, the message store was still at full capacity?
By default the H2 DB should be in memory and so its contents should be wiped out when Kura is restarted.
What was the H2DBService configuration?

**This is important. We need to check this condition. If the message store is already at full capacity when ESF restarts and the connection is established, messa

[2018-04-04 17:33] #1986 closed, assigned to nobody

[2018-04-05 07:33] markoer commented on #1994
@cdealti It's exactly as you commented. The tests in a certain group are meant to be executed in order so as not to set everything from scratch in each test.

[2018-04-05 07:52] markoer commented on #2004
The original design expected link to be dropped in this location (intended for installation):
![image](https://user-images.githubusercontent.com/22816717/38353302-55e31614-38b6-11e8-9e80-745f2151f228.png)

In the last release it was updated to include the larger part of the window, obviously excluding the footer and menu to the left as indicated by a different-color div:
![image](https://user-imag

[2018-04-05 08:04] markoer commented on #2009
@cdealti I sent you the logs on 22 March.

[2018-04-05 08:17] markoer commented on #2022
I believe this issue is a duplicate of #2015's alternative manifestation.

[2018-04-05 09:07] ctron commented on #2012
I have a feeling that this is related to #2022. I think that I did use the component name `foo` before in another test. Now what would happen is a component `foo` was configured before, I uninstalled the package. The component would probably be still present but not visible in the menu.

This is just an idea and I will try to test this.

[2018-04-05 09:09] ctron commented on #2004
Is there any reason for that?

[2018-04-05 09:10] ctron commented on #1994
So maybe using:

would be more precise.

[2018-04-05 09:13] ctron commented on #2011
Yes. But I think that #2010 describes a broken watchdog. Not a canceled one, as the watchdog was enabled later on. But then it was broken.

[2018-04-05 10:40] cdealti commented on #2009
@markoer OK, we didn't look at them. Do you have an idea of what's going on?
Try to recreate this again and:
1. From the OSGi console inspect the number of component configurations of ExamplePublisher (there should be only one)
2. Using `kill -3 <pidof Java>` check the number of threads running the ExamplePublisher. The output of the command goes to kura-console.log (there should be only one threa

[2018-04-05 10:43] cdealti commented on #2022
I don't think so. We know, by code inspection, that factories cached by the ConfigurationService are not removed.

[2018-04-05 10:48] cdealti commented on #2011
OK, let's close this then and focus on #2010.

[2018-04-05 11:42] markoer commented on #2009
[code]

In my latest testing 7 threads are sending messages:
[code]

All of them can be found in kura-consol.log:
[code]

Procedure followed to reproduce:
* don't connect Kura to the broker (I don't suppose this part really matters)
* install package
* add component
* wait for the logs to start coming in
* reboot
* observe the issue

I can see from the log that ExamplePublisher's activate() is cal

[2018-04-05 11:54] ctron commented on #2009
What you reported exactly matches what I experienced as well.

I do think there are two issues here. One is the fact that Kura, during the startup, re-activates components. I have seen this with Kura 3.1 already.

The other one is that the example publisher doesn't properly clean up after itself. So it keeps running although being deactivated.

I do think that the threads are actually irrelevant,

[2018-04-05 12:45] nicolatimeus commented on #2012
Reproduced. If the `foo` component already exists, `ConfigurationServiceImpl.createFactoryConfiguration()` will fail as expected throwing an exception reporting that a component with that name already exists.

The exception is forwarded to the Web UI but no error messages are shown there due to a glitch. I will provide a fix.

[2018-04-05 12:55] cdealti commented on #2009
@markoer

You can drag and drop a zip file with the logs here in the comment ;-).

Is there any exception in `kura-console.log`?

We all know there are unnecessary activations/updates. However the application must be able to perform the necessary cleanup. Also note that the component deactivation is logged with DEBUG level so activation and deactivation log lines are not balanced.

Marko, can you

[2018-04-05 13:30] markoer commented on #2009
In this case, here they are.
[kura-console_2009.log](https://github.com/eclipse/kura/files/1880086/kura-console_2009.log)
[log_2009.txt](https://github.com/eclipse/kura/files/1880087/log_2009.txt)

There are plenty of exceptions there.

I will check if I can find something.

[2018-04-05 14:00] cdealti commented on #2011
Reopening...

Let me try to recap:

After disabling the `WatchdogService`, which caused #2010, you re-enabled it for this QA test and the expected reboot did not happen.

I still cannot understand how the InterruptedException of #2010  prevents reenabling the watchdog later on.

If you disable the `WatchdogService` without causing the InterruptedException and you re-enable it, do you get different

[2018-04-05 14:06] cdealti commented on #2009
I believe that exception will shed some light on this issue and all the others involving the ExamplePublisher.

[2018-04-05 14:53] markoer commented on #2009
@cdealti Good hint. It seems that when component activation failed with an exception, framework tried to activate it again and again until it gave up with 6-7 publishers running.

[2018-04-05 16:56] cdealti commented on #2007
@markoer can you please check? Fixing this in the Admin UI should not be too hard. Do you want to try?

[2018-04-06 09:26] markoer commented on #2002
I suppose #2025 should take care of this issue, too. There should be no rogue ExamplePublisher threads running after that PR is applied.

[2018-04-06 09:33] #2012 closed, assigned to nobody

[2018-04-06 09:35] MMaiero commented on #1993
Temporary covered by PR #2023.

Let's keep this issue open in order to provide a proper fix in one of the next releases.

[2018-04-06 09:36] #1959 closed, assigned to nobody

[2018-04-06 09:36] #2020 closed, assigned to nicolatimeus

[2018-04-06 13:11] #1923 closed, assigned to pierantoniomerlino

[2018-04-06 13:18] pierantoniomerlino commented on #1853
The #2030 introduces the modifications suggested in these comments. However, there are still some problems related to connection that can cause in some situation a JVM crash or a disconnection error.
It should be investigated if they are caused by the type of device (SensorTag) or by the underlying library (TinyB) or something else.

[2018-04-06 13:40] markoer commented on #2008
I, too, believe it's a result of #2009.

I didn't manage to reproduce the immediately-filled buffer part...

[2018-04-06 14:06] cdealti commented on #2008
You can do that by configuring the H2DBService to create a file-based DB.

[2018-04-06 14:13] markoer commented on #2008
True. But at the point this test is executed, the default (in-memory) database should still be used.

[2018-04-06 14:20] cdealti commented on #2008
@ctron can you clarify the DB persistence settings you used?

[2018-04-06 15:21] MMaiero commented on #2022
Merged. Let's wait a new RC and close the issue if the problem is solved

[2018-04-06 16:17] cdealti commented on #2010
@ctron OK, I should give up with software ;).

If the WatchdogService is re-enabled later on, the damned flag `watchdogToStop` remains set to true (I hate flags), preventing further watchdog actions.

It must be fixed for 3.2.0.

[2018-04-09 08:28] MMaiero commented on #2018
Can this be closed now?

[2018-04-09 08:32] #1989 closed, assigned to nobody

[2018-04-09 08:32] MMaiero commented on #1991
@zengbiao Any update? Can this be closed?

[2018-04-09 08:34] MMaiero commented on #1962
@ctron Any update on this?

[2018-04-09 15:51] markoer commented on #1965
I'll use this issue to highlight the changes between release candidate builds 44 and 45, so that we can focus on those just a bit more when RC 45 is available. If there are some others, please add them (add new or update this comment).

ISSUE | RPi Raspbian | RPi Fedora | BBB
------|---------------|------------|----
factory PID cleanup (#2022, 'Another variant' part of #2015) | OK |  | OK
turning

[2018-04-09 17:26] MMaiero commented on #1965
Fedora .sh scripts are available in the workspace: https://hudson.eclipse.org/kura/job/kura-release-candidate/ws/kura/distrib/target/
I'll update the build job of both RC and release to distribute them as well (if needed, @ctron could you give us some feedback on that?).

[2018-04-10 07:54] ctron commented on #1962
I didn't encounter this at all.

[2018-04-10 07:54] #1962 closed, assigned to nobody

[2018-04-10 07:57] ctron commented on #2008
No special settings.

[2018-04-10 16:20] darionct commented on #2015
Fix confirmed on RC build #45. Tested on RPi and BBB.

[2018-04-10 16:20] #2015 closed, assigned to markoer

[2018-04-11 09:11] pierantoniomerlino commented on #520
A quick and dirty fix is to release the PppService after a modem reset:

[code]

The PppService will be created again by the PppFactoy with the updated port at the next monitor run.

[2018-04-12 10:06] MMaiero commented on #2022
It seems to be verified on the supported platforms. Let's close for now

[2018-04-12 10:06] #2022 closed, assigned to nobody

[2018-04-12 10:06] MMaiero commented on #2014
It seems to be verified on the supported platforms. Let's close for now

[2018-04-12 10:06] #2014 closed, assigned to MMaiero

[2018-04-12 10:07] MMaiero commented on #2011
It seems to be verified on the supported platforms. Let's close for now

[2018-04-12 10:07] #2011 closed, assigned to nobody

[2018-04-12 10:07] MMaiero commented on #2010
It seems to be verified on the supported platforms. Let's close for now

[2018-04-12 10:07] #2010 closed, assigned to nobody

[2018-04-12 10:08] MMaiero commented on #2009
It seems to be verified on the supported platforms. Let's close for now

[2018-04-12 10:08] #2009 closed, assigned to markoer

[2018-04-12 10:08] MMaiero commented on #2008
It seems to be verified on the supported platforms. Let's close for now

[2018-04-12 10:08] #2008 closed, assigned to markoer

[2018-04-12 10:09] MMaiero commented on #2007
It seems to be verified on the supported platforms. Let's close for now

[2018-04-12 10:09] #2007 closed, assigned to markoer

[2018-04-12 10:09] #2005 closed, assigned to markoer

[2018-04-12 10:10] #2001 closed, assigned to markoer

[2018-04-12 10:10] #1994 closed, assigned to markoer

[2018-04-12 10:11] #1956 closed, assigned to nobody

[2018-04-12 10:14] MMaiero commented on #1853
@pierantoniomerlino Maybe we can close this, since it seems mitigated now and open another issue for the JVM crash?

[2018-04-12 10:35] pierantoniomerlino commented on #1853
Ok. The JVM crash issue should be investigated anyway...

[2018-04-12 10:35] #1853 closed, assigned to pierantoniomerlino

[2018-04-12 10:55] #2018 closed, assigned to markoer

[2018-04-12 13:27] pierantoniomerlino opened #2037 "The interface number for usb tty devices should be retrieved by the native library"
The #2036 fixes a weird behavior with the modem serial ports, ordering the ports based on the usb tty interface number.

However, that value should be retrieved by the Linux Udev Native library instead of running a command like this:

    udevadm info --query=property --name=/dev/ttyACM0

[2018-04-12 14:08] markoer opened #2038 "[Kura 3.2.0 QA] Package uninstallation log"
A message is entered into kura-console.log when a deployment package is uninstalled. Applies to locally installed packages as well as for those installed from marketplace. The package is uninstalled OK.

- Component affected:
  - [x] Distribution
    - Installer name: kura_3.2.0_raspberry-pi-2-3_installer.deb
    - Platform: Raspberry Pi 3
    - Kura version affected: 3.2.0 RC 45
    - Java versio

[2018-04-13 07:25] nicolatimeus opened #2040 "[Kura 3.2.0 QA] PositionService does not switch between GPS and static position"
Steps to recreate:

1. Connect a GPS device to a Kura device.
2. Enable PositionService and configure to use GPS device.
3. Wait for a GPS fix and check that GPS position is reported.
3. Switch to static position.

Expected behaviour:

Static position is reported in Web UI

Actual behaviour:

GPS position is still reported in the Web UI

[2018-04-13 08:39] #2002 closed, assigned to markoer

[2018-04-13 10:26] MMaiero commented on #1898
@dwoodard1 Did you have the chance to have a look at this?

[2018-04-13 22:30] dwoodard1 commented on #1898
No, not yet. I will try and have a look over the weekend.

[2018-04-13 22:42] dwoodard1 commented on #1898
@MMaiero I just checked the publish build, the portions to push the javadocs are commented out, but not sure why. Let me know when you run the release build and I can verify that the expected directory structure is present.

[2018-04-16 06:20] ibinshtok opened #2042 "Switching network interface status from 'L2Only' to 'Unmanaged' doesn't work."
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb):
    - Platform (e.g. Raspberry pi 2):
    - Kura version affected (e.g. Kura 3.1.0):
    - Java

[2018-04-16 10:43] #2042 closed, assigned to ibinshtok

[2018-04-16 11:24] kandrej opened #2045 "Add support for CloudConnectionStatus with inverted gpio LED"
Currently the CloudConnectionStatus gpio indicator LED is supposed to work when
1=active
0=inactive

It would be good to support configurations where LEDs are wired to be
0=active
1=inactive

[2018-04-16 13:18] MMaiero commented on #1771
Closing for now.
The current model seems to be working pretty well. No need to change now.

[2018-04-16 13:18] #1771 closed, assigned to nobody

[2018-04-16 13:23] #1991 closed, assigned to nobody

[2018-04-16 14:05] MMaiero commented on #1830
Closing due to inactivity.
Please feel free to reopen, if needed

[2018-04-16 14:05] #1830 closed, assigned to nobody

[2018-04-16 14:08] pierantoniomerlino opened #2047 "IfcfgConfigReader semplification"
The PR #2043 fixes the issue described in #2042. The following code was changed:

[code]

However is not clear how this code is reached, since the only case is when the **netInterfaceStatus** has been already set to **netIPv4StatusL2Only**. Is this true?
My proposal is to remove this else statement, as done here bc995c7ea0cf909f7805d61362ea6f74723077fe .
Here are the outputs of ```ip addr``` and `

[2018-04-16 14:17] pierantoniomerlino opened #2049 "I don't understand the IfcfgConfigWriter..."
The IfcfgConfigWriter is responsible to write the configuration files for network interfaces.
The method ```debianWriteUtility``` writes the Debian-style config files in the case of the Raspberry Pi and adds some commented lines for **ONBOOT** and **BOOTPROTO** properties:

[code]

As far as I understand, this is done to prevent the OS to start the ```dhclient``` utility and assign an IP address o

[2018-04-16 14:18] MMaiero commented on #459
@tohosokawa Could you please perform some testing with the new Kura APIs?
On how to build and execute the framework, you can find more details in the Official Kura documentation: https://eclipse.github.io/kura/

Best regards,
Matteo

[2018-04-17 08:00] MMaiero opened #2050 "Modem monitor in Not connected state does not trigger reset"
I the latest RC of Kura I've noticed that, when the modem is unable to connect (due to low signal or the modem itself is not responding), if the ppp invocation ends before the next monitor polling, the monitor itself remains always in a NOT_CONNECTED state, continuously trying to connect.

[code]

In my opinion, after a certain number of retries, the modem should be resetted, trying to recover the

[2018-04-17 18:12] Amar82 opened #2052 "Building Kura Source code from Git"
Please describe the issue you are encountering in Kura.

I have been developing Kura plugins for time being.

But I now want to try my hand in Kura source code. Want to build my own executable set up of  Kura.
How to do that,  can you please guide me .

I follwed the steps mentioned here... but the source code is not getting checked out

Getting Started
The simplest way to start developing on Ecli

[2018-04-18 17:39] dwoodard1 commented on #1898
There was a permissions issue on one of the folders. Seems to be working now.

[2018-04-18 17:39] #1898 closed, assigned to dwoodard1

[2018-04-19 07:52] MMaiero commented on #2052
Hello,
could you please provide a more detailed overview of what is failing and which errors are you getting?

[2018-04-19 09:13] #1965 closed, assigned to nobody

[2018-04-19 09:14] #1747 closed, assigned to MMaiero

[2018-04-19 09:14] MMaiero commented on #1788
Closing as #2041 is now merged in develop

[2018-04-19 09:14] #1788 closed, assigned to MMaiero

[2018-04-19 13:53] nicolatimeus opened #2055 "DefaultCloudServiceFactory manages all CloudServiceImpl instances"
Currently `DefaultCloudServiceFactory.getManagedCloudServicePids()` returns the pids of all instances of the `org.eclipse.kura.cloud.CloudService` component factory.

If a custom `CloudServiceFactory` that uses the default `CloudService` implementation is defined, the `DefaultCloudServiceFactory.getManagedCloudServicePids()` method will incorrectly return the `CloudService` instances managed by th

[2018-04-19 14:43] ctron opened #2057 "Upgrade Camel version to 2.21.1"
Tracking issue for performing a Camel runtime upgrade

[2018-04-19 14:45] ctron opened #2058 "Cleanup Fedora instructions"
We need to clean up the installation instructions for Fedora. Key concerns are that having a version number in links can cause broken links and "fedora" doesn't really specify which platform/architecture/hardware is meant.

[2018-04-20 12:40] #1999 closed, assigned to nicolatimeus

[2018-04-20 13:10] #2055 closed, assigned to nobody

[2018-04-20 14:01] #2045 closed, assigned to nobody

[2018-04-23 07:43] svilenvul opened #2062 "Is MQTT 5 migration for Cloud Service planned ?"
I was reading the documentation about Eclipse Kura MQTT namespace and asked myself are there any plans for migration to MQTT 5 ?

From what I read so far MQTT 5 adds support for application specific headers and standardizes Requst/Response pattern with Reply topic. Correct me if I am wrong, but as these features are not available in MQTT 3.x, Eclipse Kura's implementation relies on Reply topic in

[2018-04-23 14:49] ctron commented on #2057
The next best version for Camel would be 2.21.x from my perspective.

[2018-04-23 15:05] nicolatimeus opened #2065 "[Web2] AlertDialog causes duplicate ids"
- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb):
    - Platform (e.g. Raspberry pi 2):
    - Kura version affected (e.g. Kura 3.1.0): 3.2.0
    - Java version (paste the result of **java -version**:
    - Host OS (e.g. Debian):
    - Host OS version

  - [ ] Development environment
    - Version:
    - Operating system (Mac OS, Windo

[2018-04-24 08:16] pierrepitiot opened #2067 "DataService enable.recovery.on.connection.failure is causing a reboot systematic on first boot"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Kura 3.2 and previous
    - Platform : Reliagate 10-11

- Textual description of the issue:

WAN interface = Cellular
Configuration of the DataService enabling "

[2018-04-24 12:07] pierantoniomerlino opened #2068 "The duration of Beacon scan should be in seconds"
The javadoc of the ```startBeaconScan``` method in ```BluetoothLeBeaconScanner``` is

[code]

However, its implementation uses the ```duration``` variable as milliseconds:

[code]

[2018-04-25 13:25] markoer opened #2069 "Marketplace install when LAN-only"
When Kura is in LAN-only mode, it will permit package drop from Marketplace, but then fail with this dialog:
![image](https://user-images.githubusercontent.com/22816717/39248033-5628a202-489b-11e8-9ab0-c65c5690a154.png)
There's nothing in the log on info level or higher, but plenty on debug, which is not enabled in the default installation, so the GUI message about the log is a bit misleading.
A l

[2018-04-26 15:23] #2065 closed, assigned to nobody

[2018-04-26 15:47] cdealti commented on #1952
@ctron isn't this fixed by PR #1952?

[2018-04-26 16:14] cdealti commented on #1946
@spnettec running Kura on Karaf is no longer maintained. @dwoodard1 @MMaiero @ctron At some point we should discuss removing unsupported/untested builds and platforms from the codebase.

[2018-04-26 16:23] cdealti commented on #2047
@ibinshtok  Let's fix this while it is still hot

[2018-04-26 16:25] cdealti commented on #2049
@ibinshtok any ideas why the Raspberry Pi is special?

[2018-04-26 17:10] cdealti commented on #2062
Hi. There are no plans to migrate to MQTT v5 yet. I've heard that Paho will have a release supporting it by July.

You are right, a long time ago Kura developed its own request/response protocol on top of MQTT v3.
On top of that, Kura, Kapua and Hono have committed to develop an alternative protocol, but still on top of MQTT v3.1.1.

[2018-04-27 06:52] ctron commented on #1952
#1952 actually is this issue … but there was PR #1953 who's commits got directly merged by ceb6e3cf39d86f5dc497e1c6e87f2606b952f340

But yes, it is merged into `develop` and I think we can close this now.

[2018-04-27 06:52] #1952 closed, assigned to nobody

[2018-04-27 09:27] cdealti commented on #1981
Closing

[2018-04-27 09:27] #1981 closed, assigned to nobody

[2018-04-27 09:42] cdealti commented on #1976
This is hard to fix as the configuration service always merges configurations. We can keep this open as a requirement on how the configuration service should work.

[2018-04-27 09:55] #569 closed

[2018-04-27 09:56] #76 closed

[2018-04-27 10:03] #466 closed

[2018-04-27 10:03] #206 closed

[2018-04-27 10:04] cdealti commented on #208
@ctron what's the status of this?

[2018-04-27 10:04] #207 closed

[2018-04-27 10:05] #232 closed

[2018-04-27 10:12] cdealti commented on #923
Closing favoring #1993.

[2018-04-27 10:12] #923 closed

[2018-04-27 10:18] #924 closed

[2018-04-27 10:20] cdealti commented on #944
@darionct can you please confirm this is still true?

[2018-04-27 10:25] cdealti commented on #1004
I believe the legacy BLE API and implementation will be soon phased out, preferring the Tinyb one.

[2018-04-27 10:28] cdealti commented on #960
@markoer are you willing to fix the remaining issues in this area (and avoid breaking the test automation)?

[2018-04-27 10:39] cdealti commented on #1219
Implemented in 3.2.0

[2018-04-27 10:39] #1219 closed, assigned to nobody

[2018-04-27 10:40] cdealti commented on #1374
@darionct what's the status of this?

[2018-04-27 10:43] cdealti commented on #1373
Scenario 1 is fixed in 3.2.0.
No interest in fixing scenario 2.

[2018-04-27 10:43] #1373 closed, assigned to nobody

[2018-04-27 11:01] ctron commented on #208
I will check.

[2018-04-27 11:02] darionct commented on #1374
Documentation has been updated:
http://eclipse.github.io/kura/intro/beaglebone-quick-start.html

[2018-04-27 11:02] #1374 closed, assigned to nobody

[2018-04-27 11:12] darionct commented on #944
Web  form accepts both lower and upper case and firewall is properly configured. However, still no info (tooltip) about the delimiter.

[2018-04-27 14:59] ibinshtok commented on #2049
@cdealti Configuration for wlan0 interface in the /etc/network/interfaces file on Raspberry Pi was commented out to prevent wpa_supplicant from starting dhclient. I need to retest this on the most recent Raspbian image though. It is possible that we no longer need it.

[2018-04-30 07:22] ctron commented on #208
I will do this in combination with #2057

[2018-04-30 13:23] ctron commented on #2057
Note: we need to upgrade SLF4J to 1.7.25 in order to provide the new Apache Commons Logging API 1.2.0. We do not need a new CQ for SLF4J as this is only a service release update and is covered by the existing SLF4J CQ.

[2018-04-30 14:31] ctron opened #2070 "Icon not working for factory components"
It looks like the "Icon" from the MetaType model is not working when the component is a factory component. It only shows a "broken image" image.

[2018-04-30 15:00] ctron commented on #2057
@MMaiero @cdealti @dwoodard1 I created a feature branch on my fork. I didn't create a PR yet as I am waiting for #2060 to be merged first. But I would ask you to have a look at this branch already in order to merge this later on in quick way. Thanks.

[2018-05-01 21:37] ibinshtok commented on #2047
@cdealti  Ok, working on cleaning up IfcfgConfigReader and IfcfgConfigWriter ...

[2018-05-03 08:10] pierantoniomerlino opened #2072 "Weird behaviour on webUI when click on CloudServices"
- Component affected:
  - Distribution
    - Installer name : **kura_3.2.0_raspberry-pi-2-3_installer.deb**
    - Platform : **Raspberry PI 3**
    - Kura version affected : **Kura 3.2.0**
    - Java version (paste the result of **java -version**): **java version "1.8.0_65"**
    - Host OS : **Raspbian**
    - Host OS version : **Linux raspberrypi 4.14.30-v7+ #1102 SMP Mon Mar 26 16:45:49 BST 2018

[2018-05-04 09:11] ctron commented on #2070
It looks like the Web UI is requesting the icon by the "service PID" and not by the "factory PID". Which of course won't work.

[2018-05-04 10:37] #2062 closed, assigned to nobody

[2018-05-04 12:39] #2072 closed, assigned to nicolatimeus

[2018-05-04 14:10] #1358 closed, assigned to nicolatimeus

[2018-05-04 14:10] #2040 closed, assigned to nicolatimeus

[2018-05-04 16:52] dwoodard1 opened #2078 "Native Support for UP Development Kit"
Let's use this issue to track adding native support for the UP Development Kit [1]. The kit is based on Ubuntu 16.04 server and the Intel Celeron processor. So, adding support for this should also allow support for other x86 64-bit platforms.

[1] https://software.intel.com/en-us/iot/hardware/up-squared-grove-dev-kit

[2018-05-04 18:05] #2047 closed, assigned to ibinshtok

[2018-05-04 18:06] #2049 closed, assigned to ibinshtok

[2018-05-07 08:55] pierantoniomerlino opened #2079 "Empty channel descriptor"
In some cases a Driver doesn't need more options than the default ones (enabled, name, type, value.type, listen) for its channels. However, it isn't possible to develop a Driver without custom options.
The result, indeed, is that a new channel is added, but after a refresh it disappear.

It seems that the BaseAsset handles an empty DriverDescriptor in getDriverDescriptor() and getDefinition() as a

[2018-05-07 09:41] ctron commented on #2057
Raised CQs:

https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16193
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16194

https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16239
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16240
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16241
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16242
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16243
https://

[2018-05-08 14:15] nicolatimeus opened #2085 "[NetAdmin] Fix AT escape sequence timings in TelitModem"
The GPS disable logic for Telit Modems currently does not perform a 1 second pause after sending the `+++` escape sequence for switching serial port from GPS to AT mode.
This can cause the ModemMonitorService code to miss the `NO_CARRIER` modem response at the `+++` command and can cause the GPS disable process to fail.

[2018-05-08 14:17] nicolatimeus opened #2087 "[NetAdmin] Race condition between NetAdmin and PositionService after modem reset"
During the reset of a USB modem with GPS enabled that uses the same port for AT and GPS data, a race condition can occur between 2 threads that contend access to modem serial port.

The process is initiated by the ModemMonitor thread, that resets the modem and immediately enables GPS and posts ModemGpsReadyEvent.
The following threads are involved in the race condition:

1 - the PositionSerivce th

[2018-05-08 14:21] nicolatimeus opened #2089 "[NetAdmin] Some state of the logic that manages modems persists across resets"
A part of the logic that manages modems is provided by the `CellularModem` subclasses, that are instantiated by a `CellularModemFactory` and are cached.
Currently a `CellularModemFactory` always returns the same `CellularModem` instance for a given modem, even if the managed modem has been reset.
This behaviour can cause problems because some of the `CellularModem` implementations keep internal st

[2018-05-08 14:34] nicolatimeus commented on #181
A position service refactor has been performed in #2074.
#2086, #2088 and #2090 should improve situation for modem resets with GPS enabled.
If Kura is restarted with the modem GPS enabled, the modem will still be reset during startup. This should bring it back to a consistent state.

[2018-05-08 16:04] ctron opened #2091 "version `GLIBCXX_3.4.20' not found"
It looks like `libjavatinyb.so` is linked against a libstdc++ which will not be available on CentOS/RHEL.

[code]

[2018-05-09 13:01] nicolatimeus opened #2096 "[NetAdmin] Issues using GPS if modem has never been enabled"
Steps to reproduce:

1. Perform a fresh Kura install
2. Connect a supported Telit modem with GPS
3. Enable modem GPS without enabling the modem
4. Disable GPS without enabling the modem

After step 3, the following exception occurs:

[code]

This is caused by the fact that since the modem has never been enabled, the dial string provided by the Web Ui will be empty (no validation is performed in th

[2018-05-09 14:55] iyanmv opened #2098 "[Sense HAT driver] Unable to read to I2C device"
- Component affected:
  - [x] Distribution
    - Installer name: `kura_3.2.0_raspberry-pi-2-3-nn_installer.deb`
    - Platform: Raspberry Pi 3
    - Kura version affected: 3.2.0
    - Java version: `openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-1~deb9u1-b11)
OpenJDK Client VM (build 25.171-b11, mixed mode)`
    - Host OS: Raspbian Stretch Lite
  - [x] Add-ons

[2018-05-09 15:12] nicolatimeus commented on #2098
The log reports `Locked by other application`.

Do you have other applications trying to use the i2c bus (for example the SenseHAT driver and SenseHAT example running at the same time)?

Can you please try to start from a fresh Kura 3.2.0 install and then installing and using only the SenseHAT driver? Try also not to use the pyhton library to avoid interference.

[2018-05-09 15:20] ctron commented on #2078
There is PR #2093 for supporting this on CentOS 7

[2018-05-09 15:21] iyanmv commented on #2098
I will try to uninstall the python library and the packages I installed in the Raspbian and try again. That is the first thing I thought, but I don't see how having theses packages installed in the system can lock the i2c bus.

Also, I am not sure to understand the first thing you mentioned. What do you mean with _SenseHAT driver and SenseHAT example running at the same time_?

[2018-05-09 15:33] nicolatimeus commented on #2098
I was referring to the **Sensehat Example Bundle for Eclipse Kura** available from Eclipse Marketplace [1].
Yes, please try to start from a clean setup first, If the problem persists we can investigate further.

[1] [https://marketplace.eclipse.org/content/sensehat-example-bundle-eclipse-kura](https://marketplace.eclipse.org/content/sensehat-example-bundle-eclipse-kura)

[2018-05-09 22:11] iyanmv commented on #2098
Ok, I tried the bundle before the driver but I uninstalled it before trying to install the driver. Anyway, I will try tomorrow from a clean setup frist and I will comment here if it works.

[2018-05-10 07:41] iyanmv commented on #2098
Same issue and same execptions in the log from a clean setup.

[2018-05-10 07:49] nicolatimeus commented on #2098
Ok, I will try to replicate the issue.

[2018-05-10 08:10] iyanmv commented on #2098
More details. I hope they are useful. First time I try to create a new driver after installing the sensehat package I get the following error:
<details><summary>kura.log</summary>
<p>

[code]

</p>
</details>

Then I tried some things.

1. I enable I2C interface using `raspi-config` tool -> Same exception as shown in the first comment.
2. I left `dtparam=i2c_arm=on` while commenting `i2c-dev` in `

[2018-05-10 08:41] pierantoniomerlino opened #2100 "Add tests for Bluetooth"
We should add tests for Bluetooth features:

- iBeacon Driver/API
- Eddystone Driver/API
- BLE

[2018-05-10 08:51] nicolatimeus commented on #2098
Replicated by installing the `openjdk-8-jre-headless` package which provides the JVM version you reported.
In my setup the driver works if the `oracle-java8-jdk` package is installed, which provides the following java version:
[code]
There might some issue regarding using the `jdk.dio` library either with `openjdk` itself or with some JVM version more recent than `1.8.0_65`.

Moreover, I've found

[2018-05-10 09:40] iyanmv commented on #2098
Ok, great! It works with Oracle's JVM. Thank you very much.

[2018-05-10 09:56] cdealti opened #2101 "[Web UI | Driver and Assets]: Show the Asset Read Error Message"
The message shown in the Web UI | Driver and Assets | Data could be improved to indicate the error message returned by the read.

<img width="1183" alt="screen shot 2018-05-10 at 11 46 50" src="https://user-images.githubusercontent.com/1225835/39863955-7de8c58e-5448-11e8-8899-e3d7f5a31b93.png">

[2018-05-10 10:32] #2079 closed, assigned to pierantoniomerlino

[2018-05-10 10:33] #2070 closed, assigned to ctron

[2018-05-10 12:26] #2085 closed, assigned to nicolatimeus

[2018-05-10 12:28] #2087 closed, assigned to nicolatimeus

[2018-05-10 12:37] pierantoniomerlino opened #2102 "emitAllReadChannels method doesn't handle Runtime exceptions"
The `emitAllReadChannels` method in `WireAsset` class doesn't handle the unchecked exceptions, but only `KuraException`. So, if an unchecked exception as `RuntimeException` is thrown, it is simply passed to the upper layer and this can stop the current thread.

For example, if a Driver doesn't support readings, the `emitChannelRecords` throws an `IllegalArgumentException` that is not caught by the

[2018-05-10 13:13] nicolatimeus commented on #2102
FYI if any unchecked exception is thrown during the `update()` method of a `Wire`, (for example inside a `onWireReceive()` method), and it is not handled, it will be eventually handled by the WireAdmin [1] which will emit an event that can be received by registering a WireAdminListener, but might not be logged.

For the WireAsset I agree that we can catch and log any unchecked exceptions emitted b

[2018-05-10 13:39] #2089 closed, assigned to nicolatimeus

[2018-05-10 13:40] #2096 closed, assigned to nicolatimeus

[2018-05-10 18:23] kartben commented on #1946
@ctron thoughts? I can confirm I can't login either. Not sure there is a trivial fix or not, but in general I agree that the karaf emulator doesn't look in such a good shape, which is too bad cause it is super handy :)

[2018-05-11 08:32] #2102 closed, assigned to pierantoniomerlino

[2018-05-11 14:17] kartben commented on #2078
@ctron niiice! I think it would be nice to also support Ubuntu (although I of course get where you're coming from :-)) as asking people to reflash their entire system is not the best "sales pitch" for promoting how easy it is to install Kura. Even better might actually be to make the main "distro" and x86 docker image?

[2018-05-11 14:25] MMaiero opened #2106 "Integrate the new Eclipse IoT WG Messaging Protocol"
As defined in [the following document](https://docs.google.com/document/d/1YUSftwifAMqXd73eTiEYUdRQgnicP18VzLnsPR2_DJw/edit#), Kura should be able to integrate the specified Messaging Interactions in order to communicate seamlessly with other Eclipse IoT projects.

This issue is an Epic to group all the issues related to the process of integration.

[2018-05-11 14:26] MMaiero opened #2107 "Integrate Device to Cloud (D2C) Interaction Type"

[2018-05-11 14:31] MMaiero commented on #2107
To evaluate if this needs to create a completely new API to supersede the CloudClient APIs or to simply extend the existing one.
This, obviously, has effects on the end applications: a new API would mean that all the existing applications will not be able to take advantage of the new Device-to-Cloud Messaging.

[2018-05-11 14:36] MMaiero opened #2108 "Create a new Cloud Stack for the new D2C Messaging"
This will use the existing CloudClient APIs. Maybe some extension is needed to support the mapping of the current numerical definition of Priority with the Low/High/Very High one defined by the new specification.
Could be seen as an initial evaluation for the complete integration.
The new Cloud Stack will be available as an alternative to the default one that currently Kura provides out of the box

[2018-05-11 14:39] MMaiero opened #2109 "Integrate Cloud to Device (C2D) Interaction Type"

[2018-05-11 15:15] nicolatimeus opened #2110 "Add Dummy Driver"
A Dummy Driver can be added to the codebase, serving as a starting point that can be used to quickly start writing a new Driver.

This driver can also be useful when used together with a `WireAsset` to inject arbitrary values on the wire.

Its configuration contains a single configuration parameter, **value**. The value entered in this field as a `String` will be converted to the value type specif

[2018-05-11 15:33] nicolatimeus commented on #181
Closing, we can reopen if needed.

[2018-05-11 15:33] #181 closed

[2018-05-14 06:53] ctron commented on #1946
Well I would love to see support for Karaf. As I agree, it is a valuable addition IMHO. However there are a bunch of issues in Kura which prevent you from actually using it, the biggest one being the concept of the ConfigurationService. But I think we iterated over them for few times in the past and this situation probably won't change soon. So I agree that removing support for Karaf seems like th

[2018-05-14 10:22] kartben commented on #2078
cc @fromgilbert

[2018-05-15 06:52] ctron commented on #2078
@kartben If you want Kura in a container you can use: https://hub.docker.com/r/ctron/kura-emulator/ which is based on https://github.com/ctron/kura-emulator

[2018-05-15 09:41] kartben commented on #2078
That's great but neither of these seem to maintained by the project. I
think this would have a much bigger impact to maintain whatever is in your
personal repo as part of the Kura repo, and have the documentation and
website refer to an Eclipse Kura branded image :-)

Le lun. 14 mai 2018 à 23:52, Jens Reimann <notifications@github.com> a
écrit :

[2018-05-15 09:54] pierantoniomerlino opened #2113 "Update TinyB and Bluetooth API"
The TinyB library used by the BluetoothService should be updated to the last version (CQ needed).
Since the new version adds more methods, also the Kura Bluetooth API should be updated.

[2018-05-15 10:03] pierantoniomerlino commented on #2113
The following method in TinyB are not exposed by the Bluetooth API.

BluetoothAdapter:

- `enablePoweredNotifications` and `disablePoweredNotifications`
- `enableDiscoverableNotifications` and `disableDiscoverableNotifications`
- `enablePairableNotifications` and `disablePairableNotifications`
- `enableDiscoveringNotifications` and `disableDiscoveringNotifications`
- `setDiscoveryFilter` and `setR

[2018-05-15 10:06] ctron commented on #2078
Oh I completely agree that is would be better to have something offered by the project itself. I just wanted to mention that, if you need one right now, you don't have to start from scratch to make your own docker image.

[2018-05-16 15:20] MMaiero opened #2114 "Review supported platforms"
I believe we should have a review of the supported platforms, maybe cleaning out the current list.

[2018-05-16 15:40] MMaiero opened #2115 "Artemis 2.5.0 and dev-env"
I was trying the dev-env and I've figured out that Artemis seems not to be working there.
The following dependencies errors are found
![screen shot 2018-05-16 at 17 38 33](https://user-images.githubusercontent.com/10448126/40127698-4506ceb8-5930-11e8-91e9-bc38b9f8ee42.png)

and, after starting the framework, the following errors are provided in the log:
[code]

[2018-05-17 03:27] Amar82 opened #2116 "H2DbServer instance web console is not opening"
Please describe the issue you are encountering in Kura.

i have created H2DB instance and H2DB server as per the guideline in the link:
https://eclipse.github.io/kura/builtin/h2-database.html#enabling-the-tcp-server
settings for web console:
db.server.enabled: true
db.server.type:WEB
db.server.commandline: -webPort 9123 -webAllowOthers -ifExists

also I have created the TCP server accordingly, wit

[2018-05-17 07:24] nicolatimeus commented on #2116
Hi, please perform the following steps and you should be able to access the instance:

1. Two H2DbServer instances cannot run on the same port, so if you want to have both a WEB and a TCP instance running please use different ports (for example 9123 for the WEB instance and 9124 for the TCP one). Note: if you are only interested to the Web console, there is no need to create a TCP instance as well

[2018-05-17 11:32] #1414 closed, assigned to nobody

[2018-05-17 11:35] MMaiero opened #2117 "Remove Windows bundles"
In the context of cleanup we are trying to achieve, I believe it's needed to remove the windows bundles.
Currently, those are not used and are perhaps misleading for people that want to try to use Kura and can believe there is support for that platform.

[2018-05-17 13:26] #2110 closed, assigned to nicolatimeus

[2018-05-18 07:45] pierantoniomerlino opened #2120 "BeaconScanner example publishes with qos 2"
The BeaconScanner example uses qos 2 for publishing. I think that it should be set to 0.

[2018-05-18 12:13] #2120 closed, assigned to pierantoniomerlino

[2018-05-18 13:33] #2100 closed, assigned to pierantoniomerlino

[2018-05-18 13:38] MMaiero commented on #2098
@nicolatimeus Let's document this in the official documentation.

[2018-05-18 13:51] pierantoniomerlino commented on #650
Closed by PR #1034

[2018-05-18 13:51] #650 closed

[2018-05-19 07:53] MMaiero opened #2125 "Impossible to upload device key pair"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb):
    - Platform (e.g. Raspberry pi 2):
    - Kura version affected (e.g. Kura 3.1.0): 3.2.0
    -