[2016-09-09 11:23] cdealti commented on #262
@dwoodard1 any updates?

[2016-09-09 11:25] malikm commented on #492
Should be fixed by #532

[2016-09-09 11:26] cdealti commented on #281
@ctron I think we can close this one.

[2016-09-09 11:34] cdealti commented on #189
@ctron Let's keep this open as a reminder to remove the custom creation service when we will have #515.

[2016-09-09 11:35] cdealti commented on #339
To be rechecked as part of #515.

[2016-09-09 11:38] cdealti commented on #181
@ibinshtok any chance to review the PR and retest? I see potential benefits in having this merged.

[2016-09-09 11:43] ctron commented on #251
Not really. But doing nothing isn't a good idea either.

[2016-09-09 11:45] cdealti commented on #342
@LucaDazi If this already work we should update the Javadoc.

[2016-09-09 11:45] ctron commented on #253
Yes #530 is exactly that.

Beside violating the spec :wink:  …

Looking at Equinox's implementation this can happen:

[code]

Now MAX_VALUE is quite a number, but running for some time, constantly getting called, you eventually reach it.

For ServiceFactory objects, they won't get garbage collected.

You probably won't run into any memory leaks, since everything seems to be reference counted.

But

[2016-09-09 11:48] ctron commented on #281
Merged in PR #472

[2016-09-09 11:48] #281 closed

[2016-09-09 11:48] ctron commented on #189
I would rather like to create a new one with an explicit title of this task.

[2016-09-09 11:54] #492 closed

[2016-09-09 12:01] cdealti commented on #497
@malikm Can you please sanitize this as soon as you have a chance?

[2016-09-09 12:59] ibinshtok commented on #181
@cdealti, @pierantoniomerlino  sure, I'll review this. Is this a PR ##224, kura_gps branch?

[2016-09-09 13:00] ibinshtok commented on #403
@cdealti ok

[2016-09-09 13:10] malikm commented on #497
Fixed by #533

[2016-09-09 13:17] pierantoniomerlino commented on #181
@ibinshtok Yes!

[2016-09-09 14:01] dwoodard1 commented on #166
Yes, approved: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=10983

[2016-09-09 14:01] #166 closed

[2016-09-09 14:02] malikm commented on #497
Updated accordingly.

[2016-09-09 14:05] pgufAtIBM commented on #496
today I saw a mail from Merlino Pierantonio:
Hi guys,

in the last months the mToolkit site appeared to be down or intermittently up.
Moreover, the mToolkit plugin for Eclipse is not updated and it does not support the new Eclipse Neon.

So, we created a couple of new Update Sites in order to make the mToolkit plugin available to all.
The installation procedure is the same as the old site, but the

[2016-09-09 14:13] dwoodard1 commented on #292
I think that is part of the confusion, we only have two launch files (one for OSX and one for Linux). For some reason, they are shown multiple times in Eclipse. @ctron Any ideas on why this happens?

Another issue is related to keeping the selected bundles up to date. As we change versions of bundles, this isn't always reflected in the *.launch files. That is why I propose creating the *.launch fi

[2016-09-09 14:15] dwoodard1 commented on #262
I need to look into this again. The archetype module can't build unless the target-platform has been created, hence the dependency on dev-env. I will likely just move the archetype module into a profile. I will try and give it a look today.

[2016-09-09 15:42] ctron commented on #292
Eclipse does pick up those files, not depending on the location in the file system but in the workspace. Having them multiple time in the workspace, by using child projects, makes them appear multiple times. And then you have the issue of files being copied over from some resource location to "target". Which in addition gets picked up. Searching through your workspace probably brings up a few more

[2016-09-12 08:22] cdealti commented on #497
Thanks Martin.

[2016-09-12 08:22] #497 closed

[2016-09-12 09:21] cdealti commented on #399
See #514

[2016-09-12 09:32] cdealti opened #535 "[Legal] Missing CQs for slf4j.jdk14 1.6.4"
The [CQ](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11952) has been filed

David Woodard wrote:

Jens Reimann wrote:

[2016-09-12 09:40] cdealti commented on #335
@LucaDazi can you confirm the [above CQ](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11675) is the only one required by #360?

If so, can we close this?

[2016-09-12 09:42] cdealti commented on #159
@LucaDazi Can we close this?

[2016-09-12 09:42] cdealti commented on #158
@LucaDazi Can we close this?

[2016-09-12 09:43] cdealti commented on #333
@LucaDazi Is this in #360? Can we close it?

[2016-09-12 09:44] cdealti commented on #334
@LucaDazi Is this in #360? Can we close it?

[2016-09-12 09:45] cdealti commented on #163
@LucaDazi Is this present in #360? Can we close it?

[2016-09-12 09:46] cdealti commented on #332
@LucaDazi Is this present in #360? Can we close it?

[2016-09-12 09:47] cdealti commented on #162
@LucaDazi Is this present in #360? Can we close it?

[2016-09-12 09:50] cdealti commented on #165
@LucaDazi I believe this can we closed.

[2016-09-12 09:51] cdealti commented on #161
@LucaDazi I think this is in progress on @amitjoy fork

[2016-09-12 10:44] cdealti opened #536 "[Configuration] Greenhouse demo not properly tracked by the Configuration Service"
Affected releases: Kura >= 2.0.0

[2016-09-12 13:07] dwoodard1 commented on #535
@cdealti Unfortunately, the CQ you referenced was filed by Jens for the updated version of SLF4J-JDK. We may still need to file a CQ for the version used in previous releases.

[2016-09-12 13:07] ctron opened #537 "Make Equinox version configurable in Windows launcher"
Extracting task from #499: Fix up the windows launcher to not hard-code the Equinox version. Allow some way to specify the Equinox version which should be started.

This should work hand in hand with the Kura build to use different Maven profiles for different Equinox versions.

[2016-09-12 14:16] MMaiero commented on #262
@dwoodard1 Do we need to keep this issue open? Or we close it and, eventually, open another for the tools and dev-env correlated profiles?

[2016-09-12 14:25] dwoodard1 commented on #262
@MMaiero I think close this and we can review later. This would only be an issue if someone is specifically trying to build the archetypes and doesn't use -Ptools,dev-env. I would also like to investigate using PackageDrone to collect the target-platform instead of getting it from the build. This may be the best solution, but probably a low priority item at the moment.

[2016-09-12 14:33] #262 closed

[2016-09-13 09:56] MMaiero commented on #324
Proposed formatter and cleanup profiles agreed with Kapua team:
[Kura_ide_profiles.zip](https://github.com/eclipse/kura/files/469436/Kura_ide_profiles.zip)

[2016-09-13 11:24] ctron opened #538 "Create a CQ for build and test dependencies"
Please assembly a list of all build and test dependencies and start a works-with CQ.

A few dependencies I stumbled over are:
- MsBuild (?)
- jdeb 1.3
- The maven checksum plugin

[2016-09-13 12:26] MMaiero opened #539 "[Cloud] Required changes in CloudServiceFactory"
While working on #515 I've noticed the impossibility to relate a CloudServiceFactory instance with its cloud stacks.
In my opinion we should change that API moving its package to version 1.1.0, including a new variable named `kura.cloud.service.factory.pid` and a new method `getComponentConfigurations(String pid)`.

The `kura.cloud.service.factory.pid` will be used by the compliant cloud services

[2016-09-13 13:20] pierrepitiot opened #540 "[Web UI] Empty Integer field in a configuration (not required) is causing a NumberFormatException"
During the development of a modbus application I have to configure several slave addresses that can be left empty. When a field is modified and the configuration applied the following exception is thrown
(this was not the case with kura 1.3 release) :

java.lang.NumberFormatException: For input string: ""
	at java.lang.NumberFormatException.forInputString(Unknown Source)
	at java.lang.Integer.pars

[2016-09-13 13:22] MMaiero commented on #540
@pierrepitiot Probably this is solved in #516.
Could you check with the develop build?

[2016-09-13 13:45] cdealti commented on #538
Please see https://wiki.eclipse.org/Development_Resources/IP/Test_and_Build_Dependencies.

[2016-09-13 14:19] pierrepitiot commented on #540
Right the issue has been solved. Unfortunately another issue occurs when configuring the RS485 service on a RG10-20:

java.lang.NumberFormatException: For input string: "Half Duplex"
	at java.lang.NumberFormatException.forInputString(Unknown Source)
	at java.lang.Integer.parseInt(Unknown Source)
	at java.lang.Integer.parseInt(Unknown Source)
	at org.eclipse.kura.web.server.GwtComponentServiceImpl.

[2016-09-13 15:19] pierrepitiot commented on #540
The bug is occuring on a configuration field using Options:
        <AD id="rs485.port.1"
            name="rs485.port.1"
            type="Integer"
            cardinality="0"
            required="true"
            default="0"
            description="Enable RS485 communication on port /dev/ttymxc1 (Serial1 DB9)">
			<Option label="Disabled" value="0"/>
			<Option label="Half Duplex" value="1"/>

[2016-09-14 12:12] ctron opened #543 "Fix MQTT test credentials"
Currently the `AllCoreTests` have some hardcoded MQTT credentials pointing towards a eurotech hosted MQTT server which is not reachable anymore:

[code]

This should be fixed to use some publicly available server for testing.

[2016-09-14 12:12] ctron commented on #543
I would suggest to make this configurable, pointing to some default like "iot.eclipse.org".

[2016-09-14 12:22] ctron opened #544 "Web UI shows red-connector although state is CONNECTED"
Having a state of CONNECTED still shows a red connector for me:

![kura_red](https://cloud.githubusercontent.com/assets/202474/18511882/997baf0c-7a86-11e6-96cc-9fed10ef5702.png)

Reloading the page did not help.

[2016-09-14 12:56] cdealti opened #545 "[Legal] Found IP issue in the Kura port for Windows"
Two legal/IP issues have been found in the following commit:

https://github.com/eclipse/kura/commit/741220741bf613a43040afaa890f37f96ccf0c6d

* In ``kura/distrib/src/main/resources/Win64-nn/Kura_x64.nsi`` the macro ``_ReplaceInFile`` is not an original work by Martin Malik but has been copied from the [NSIS web site](http://nsis.sourceforge.net/ReplaceInFile). No CQ has been filed for this code s

[2016-09-14 13:08] dwoodard1 commented on #543
@ctron I think this can be tracked in issue #519 . I agree, making the MQTT credentials configurable is a good idea.

@cdealti Did you have a chance to look into #519? If you agree this is duplicated for no reason, I can clean it up today.

[2016-09-14 13:14] ctron commented on #545
I was just browsing through the code base and recognized that you are using MinGW. You will probably also need a full CQ for MinGW, since you ship code linked against it. Unless you don't link in MinGW libraries, then a build&test CQ would suffice.

[2016-09-14 13:43] cdealti commented on #543
@ctron if your plan is to review the existing test please hold on.
I have a local branch improving a little the mess.

[2016-09-14 14:36] ibinshtok commented on #396
@cdealti I tried to checkout the lmarshall-eth:fix-iw-scan-parsing but got this:
ibinshtok@T560:~/eurotechdev/kuradev/kura$ git checkout lmarshall-eth:fix-iw-scan-parsing
error: pathspec 'lmarshall-eth:fix-iw-scan-parsing' did not match any file(s) known to git.

[2016-09-14 14:59] dwoodard1 commented on #396
Hi Ilya,

That branch is not in the Eclipse repo, it is in Lee’s repo. If you want to test it, you would have to do something like:

git checkout -b lmarshall-eth-fix-iw-scan-parsing develop
git pull https://github.com/lmarshall-eth/kura.git fix-iw-scan-parsing

Thanks,
--Dave

On Sep 14, 2016, at 10:36, ibinshtok <notifications@github.com<mailto:notifications@github.com>> wrote:

@cdealti<https:/

[2016-09-14 15:19] ctron commented on #543
@cdealti No, I just wanted to open a task so that it doesn't get forgotten.

[2016-09-15 09:20] ctron commented on #539
Why not simply make the requirement that every service belonging to that group has to register an additional OSGi property, like `kura.cloud.service.pid`. All services sharing the same value are grouped together.

That way you would avoid adding another method.

[2016-09-15 09:31] cdealti commented on #536
@dwoodard1 The root cause of this is that the ``org.eclipse.iot.greenhouse.publisher.GreenhousePublisher`` component has ``configuration-policy = optional``. This is perfectly legal but it's not common for a Kura ``ConfigurableComponent``.

This is a regression introduced with Kura 2.0.0.
The problem is that the Kura ``ConfigurationServiceImpl`` assumes that the property ``kura.service.pid`` intro

[2016-09-15 09:34] cdealti opened #547 "[Configuration] Configuration Service may miss configuration-policy=optional components"
See #536

[2016-09-15 10:46] giuseppeferro opened #548 "Kura 2 Webui on BeagleboneBlack Problem"
@dwoodard1
Hi,
I have this issue on kura webui-2:

ErrorLogger INFO: : INTERNAL_ERRORorg.eclipse.kura.web.shared.GwtKuraException: INTERNAL_ERROR
at Unknown.gd(http://192.168.0.15/kura)
at Unknown.pd(http://192.168.0.15/kura)
at Unknown.CUb(http://192.168.0.15/kura)
at Unknown.HUb(http://192.168.0.15/kura)
at Unknown.g2(http://192.168.0.15/kura)
at Unknown.c2(http://192.168.0.15/kura)
at Unknown.B

[2016-09-15 13:55] ctron opened #549 "Convert textile documentation to markdown"
GitHub has deprecated textile as a markup language. Still the Kura documentation contains textile content.

GitHub sends out an e-mail every time the Kura documentation is updated that this functionality will stop working at any time.

This content should be converted to markdown, since this is the most used format in the Kura documentation right now.

Also see: https://github.com/blog/2100-github

[2016-09-15 13:57] pierantoniomerlino opened #550 "[Modbus] String evaluation returns false"
In org.eclipse.kura.protocol.modbus.ModbusProtocolDevice the following code returns always false because of the wrong string comparison.

[code]

However, this snippet checks if the configuration contains the gpio per tx/rx switching, but for some serial drivers we don't need them.

[2016-09-15 14:00] pierrepitiot commented on #550
Actually this RS485 management has been made a long time ago for a specific hardware. Now we generally use system with automatic direction control and the serial port is always considered as RS232. This RS485 option should be removed.

[2016-09-15 15:28] #396 closed

[2016-09-15 15:31] cdealti commented on #396
Closed via #477.

[2016-09-15 16:19] dwoodard1 commented on #536
Thanks for finding the cause of the problem. It seems we should address this as configuration-policy = optional should be allowed, even when implementing ConfigurableComponent. Wouldn’t you agree?

On Sep 15, 2016, at 05:31, Cristiano De Alti <notifications@github.com<mailto:notifications@github.com>> wrote:

@dwoodard1<https://github.com/dwoodard1> The root cause of this is that the org.eclipse.i

[2016-09-15 16:26] cdealti commented on #536
I sadly agree. I've opened #547 to track this bug.

[2016-09-15 18:06] dwoodard1 commented on #548
@giuseppeferro I believe I have reproduced the error. Could you please post the output of the /var/log/kura-console.log file?

[2016-09-15 19:03] dwoodard1 commented on #548
@giuseppeferro Based on your 'ls' output, I am pretty sure you are having the same problem. These steps resolved the issue for me:

1. Stop Kura
2. Execute: ln -s /lib/arm-linux-gnueabihf/libudev.so.1 /lib/arm-linux-gnueabihf/libudev.so.0
3. Start Kura

We are investigating a long term solution.

[2016-09-15 20:42] dwoodard1 commented on #549
Cleaning this up now. Should push something within the next day.

[2016-09-16 07:03] malikm commented on #545
I wasn't able to find a specific license for NSIS wiki examples, so I believe the general NSIS license applies (zlib/libpng): http://nsis.sourceforge.net/License
Any Stack Overflow contributions are governed by the CC BY-SA 3.0 license: https://creativecommons.org/licenses/by-sa/3.0/ with Attribution Required: http://blog.stackoverflow.com/2009/06/attribution-required/

[2016-09-16 07:08] malikm commented on #545
Yes, we do link against MinGW too. I believe other components like org.usb4java and soda.dk.comm (which were in the repo long ago) do the same.

[2016-09-16 07:37] giuseppeferro commented on #548
@dwoodard1 Issue resolved.
Thanks.
I hope you will find a long term solution.

[2016-09-16 09:28] ctron commented on #548
Seems like a duplicate of #321

[2016-09-16 13:32] dwoodard1 commented on #548
Closing this issue. We will track the long term fix with #321 .

[2016-09-16 13:32] #548 closed

[2016-09-16 13:48] dwoodard1 commented on #321
This issue is impacting the latest Debian release for the Beaglebone Black, so it will need to be resolved in the next release.

@cdealti @ibinshtok We can add a fix to the installer as outlined in #548, but we may need to consider better support for systemd. Thoughts?

[2016-09-16 16:00] ctron commented on #321
I would suggest not playing around with symlinks like that. A proper fix seems more appropriate.

[2016-09-16 16:12] cdealti commented on #321
systemd support should be forthcoming ;)

[2016-09-16 17:32] ctron commented on #321
That sounds great!

[2016-09-16 21:12] dwoodard1 commented on #549
99% Done. The textile has been removed and everything is now markdown. I still need to clean up the syntax in the namespace document, but it is a large document and will take a little longer.

[2016-09-19 09:28] cdealti commented on #538
@dwoodard1 I understand you checked other Eclipse projects. What are your findings?

[2016-09-19 10:16] cdealti commented on #545
@malikm What MinGW libraries are you linking exactly?

[2016-09-19 11:22] malikm commented on #545
@cdealti Standard for a Windows GUI build.
Analysis of the build process shows the following MinGW libs:
lib/crt2.o
crtbegin.o
crtend.o
gcc_eh
moldname
mingwex
msvcrt
advapi32
shell32
user32
kernel32
iconv
mingw32
gcc

[2016-09-19 14:45] ctron opened #551 "Checksum generation broken"
PR #526 which should have fixed issue #523 did actually break the checksum generation. I do think we should take the approach from PR #527:

[code]

[2016-09-19 21:13] dwoodard1 commented on #538
There are projects that definitely have them. For example [1]. Jens mentioned we could collapse all build/test dependencies into a single CQ. @ctron Could you elaborate on this?

[1]https://dev.eclipse.org/ipzilla/show_bug.cgi?id=9425

[2016-09-20 08:12] ctron commented on #538
I am not sure what I can say in addition to the link @cdealti already shared. Yes, you can throw all your build and test dependencies into one CQ. And that should be done in order to speed up things.

Maybe have a look at: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=10825

[2016-09-20 08:52] pierrepitiot opened #553 "[Modbus] Refactoring of Modbus example"
We have currently 2 projects that are Modbus examples : org.eclipse.kura.protocol.modbus.test and examples/org.eclipse.kura.demo.modbus.

examples/org.eclipse.kura.demo.modbus is old and buggy and needs some refactoring.

org.eclipse.kura.protocol.modbus.test is actually the old devkit program and is doing a bit more than modbus example, demonstrating the remote control of the device using MQTT. M

[2016-09-20 12:51] cdealti commented on #545
OK but this is another legal issue brought up by merging [a13eea6](https://github.com/eclipse/kura/commit/a13eea65f78d102070a4f1bb2158f38315409bb1#diff-380e5046a652c029aaa834cfe318edef)

Analysis of the build process shows the following MinGW libs:
lib/crt2.o
crtbegin.o
crtend.o
gcc_eh
moldname
mingwex
msvcrt
advapi32
shell32
user32
kernel32
iconv
mingw32
gcc

@malikm
1. are **all** these librarie

[2016-09-20 12:58] ctron commented on #538
Please add "de.dentrassi.maven:osgi-dp:0.3.0" to that final list.

[2016-09-20 13:07] malikm commented on #545
All those libraries are from MinGW, but some of them are dynamically linked against Win32 API:
    ADVAPI32.dll
    KERNEL32.dll
    msvcrt.dll
    USER32.dll
You can't build a Windows application without using the Win32 API.

I have used MinGW version 5.2.0.

[2016-09-20 13:40] malikm commented on #545
According to Eclipse Project Handbook, also code invoking a "command line" tool needs to be approved.
In this case we might have another issues:
- The NSIS script (`Kura.nsi`) invokes the "sc" and "schtasks" tools of Windows
- `SystemAdminServiceImpl.java` invokes the following Windows tools: "shutdown", "wmic"
- `NtpdClockSyncProvider.java` of `org.eclipse.kura.windows.clock` invokes: "w32tm"

[2016-09-20 14:11] malikm commented on #545
`org.eclipse.soda.dk.comm`: The original version in the repo includes Windows binaries there were built using Microsoft Visual Studio, linking against WS2, MSVCR71 and others.
In the original Windows PR, I have modified this and rebuilt using MinGW.

`org.usb4java_1.0.0.jar`: Includes libraries for Windows, probably built via MinGW. Links against standard Windows libraries and additionally seems t

[2016-09-20 16:19] dwoodard1 opened #555 "CAN bus bundle only supports 11-bit identifiers"
Currently, the CAN bus bundle only supports 11-bit identifiers (SFF). This should be extended to include 29-bit identifiers (EFF). The code to be updated is here:

[code]

[2016-09-20 16:26] dwoodard1 commented on #535
The CQ has been approved: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11974

I have reached out to Wayne to determine what needs to happen next.

[2016-09-20 16:28] dwoodard1 commented on #496
@cdealti @MMaiero We can close this, correct? The documentation has been updated and it appears to work for at least Mars and Neon.

[2016-09-20 17:54] MMaiero commented on #496
Yes. Closing

[2016-09-20 17:54] #496 closed

[2016-09-21 08:20] federicobaldo opened #556 "Add WebSocket as alternative mqtt transport"
As Paho introduced support for WebSocket and secure WebSocket it would be useful to have Kura support both as well.

Nowadays all the major IoT platforms provide mqtt over websocket or over secure websocket e.g. Eurotech Everyware Cloud, AWS IoT, etc.., this feature turns out to be especially useful for environments in which opening port 1883 or 8883 may be a problem.

Additional work may be co-or

[2016-09-21 08:36] ctron commented on #545
So I am digging through that pile of messages we exchanged earlier this year regarding Paho's CQs for C/C++ and all other kind of dependencies.

One CQ for example is for [1] glibc, stating that the final result also does not contain dynamic linking code. Same for the MSVCRT [2]. So that DLL is used in the compile process, but not distributed.

Dynamically loading libraries can be covered by a wor

[2016-09-21 12:18] ctron opened #557 "Add SLF4J jcl-over-slf4j"
Camel AMQP requires Spring and Spring requires "Apache Commons Logging"

I think if Kura does use SLF4J is therefore also should bring in JCL over SLF4J.

[2016-09-21 12:35] ctron opened #558 "Update of DPs seems not to work"
To me it looks like the update functionality for DP packages in the Web UI seems not to work.

Steps to reproduce:
- Select installed package
- Press "Install/Update"
- Select new package
- OK

Result:
Package is not being updated. Old version still in place.

[2016-09-21 12:37] cdealti commented on #545
In this case we might have another issues:

    The NSIS script Kura.nsi invokes the "sc" and "schtasks" tools of Windows. The new replacement of the RIF function invokes "wscript" to execute a JavaScript file.
    SystemAdminServiceImpl.java invokes the following Windows tools: "shutdown", "wmic"
    NtpdClockSyncProvider.java of org.eclipse.kura.windows.clock invokes: "w32tm"
    CommandServiceI

[2016-09-21 12:48] cdealti commented on #545
In the initial Windows PR, I have modified this and rebuilt using MinGW.

The CQs for these libraries have been approved by Eclipse.

[2016-09-21 13:04] cdealti commented on #558
I think this is due to OSGi caching the bundle in the DP.
Can you please try to uptick the Bundle-Version?

[2016-09-21 13:16] cdealti commented on #545
@ctron thank you so much for your research.

Any reason why a full CQ for NSIS would be rejected [1]?
You suggested an alternative installer. Can you provide more details?

[1] http://nsis.sourceforge.net/License

[2016-09-21 13:24] malikm commented on #545
OK, so we have approvals for other components compiled via MinGW, even those compiled via MS VS.
Can we get similar CQ+approvals for our own EXEs/DLLs compiled via MinGW (windows.launcher, windows.service, windows.system) ? It would make life much simpler.

+1 wondering too

[2016-09-21 13:40] ctron commented on #558
The DP version is already upticked automatically. I will give it a try with the Bundle-Version.

[2016-09-21 13:40] ctron commented on #558
Btw, removing and re-adding works.

[2016-09-21 13:45] ctron commented on #545
I suggested WIX [1]

Looking at [2] it looks a bit like that the amount of source code and dependencies was too extensive. Don't forget that you also have to create CQs for all the dependencies of NSIS. Which may or may not be under the same license. And you would need works-with requests for all the build tools. I guess that pretty soon may sum up a few dependencies. On the other hand you have to

[2016-09-21 14:00] malikm commented on #545
Thanks, Jens!
WiX looks interesting, but I'd need to dig much deeper to find out whether it would meet our requirements for setup.
It looks like WiX is available for Windows only, so we would not be able to build a full installer during Kura build process on a Linux machine. This was one of our major requirements.

[2016-09-21 14:05] amitjoy opened #559 "Update Tycho Compiler Plugin to the latest version"
The current version 0.20.0 doesn't have a support for modules compiled with JDK 8 features.

[2016-09-21 14:07] ctron commented on #545
That is true. You need a windows machine to run WIX.

[2016-09-21 14:07] ctron commented on #559
PR #469 upgrades Tycho to 0.25.0

[2016-09-22 11:56] MMaiero commented on #544
Commit 4b9d9b979e403c824dc6131708f76374d1a1b866 broke this.
Should be solved by PR #561

[2016-09-22 13:32] MMaiero commented on #324
After discussion during the weekly calls, we end up with a new version of the proposed Kura formatter: this consist in a set of modifications of the standard Eclipse formatter, in order to be simpler and adaptable for other IDEs. In [Kura Code Style.xlsx](https://github.com/eclipse/kura/files/487311/Kura.Kapua.Code.Style.xlsx) we addressed the differences between our proposed formatter and the Ecl

[2016-09-22 23:29] amitjoy opened #562 "Services UI not getting updated with new properties"
Any Service UI in the Web Console is not reflecting the updated changes of its properties even if I change it from the Web Console. I tried to change few properties in the Web Console and the properties are actually getting updated in OSGi but the updated properties are not shown on the respective Service UI in Web Console.

**For example**, CloudService -> device.display-name

**N.B**: The input

[2016-09-23 08:23] MMaiero commented on #562
It's a regression from 2.0.1.
@cdealti I'm starting to work on it

[2016-09-23 12:54] MMaiero commented on #539
I've created a new branch named enh_cloudServices-separate-ui where I've implemented a first version of the cloud services Ui for web2.

It required to move the api and core packages to version 1.0.10 (snapshot) and upgrading org.eclipse.kura.cloud.factory to version 1.1.0.

At the end, the CloudServiceFactory api required the definition of a new property, KURA_CLOUD_SERVICE_FACTORY_PID and the de

[2016-09-23 13:40] pierantoniomerlino opened #564 "[Configuration] ConfigurationService doesn't set properly the kura.service.pid"
If a component has not a kura.service.pid property in the snapshot, the ConfigurationService is not able to assign the service.pid value to it. The result is that the component is not shown on the webUI.

[2016-09-23 15:00] cdealti commented on #539
@pgufAtIBM Can you give it a try?

[2016-09-24 06:53] amitjoy opened #567 "build-all script needs to incorporate the user selection of specific profile"
Currently build-all script builds Kura distribution for all platforms. I believe, the script must include a choice based on whether user needs to build the distribution at all or the user needs the distribution for all platforms or for any specific platform.

[2016-09-24 07:11] ctron commented on #567
You already can push any arguments to the build-all script. Those arguments will be passed on to all mvn calls.

So calling buil-all -Pfoo will activate profile "foo" on all builds.

[2016-09-24 07:19] amitjoy commented on #567
That also constrains users to know all the profiles beforehand. This could be easily solved if we provide a script which actually prompts users with proper information about whether the user wants to build the distribution or not and if yes, user would be able to choose a profile from a list of available ones.

I have been confronting this problem since months and finally I had modified the build-

[2016-09-24 08:11] ctron commented on #567
Which is bad for automated processes ;-)

Of course you could add a second script for that.

I would rather like to see more documentation around the build, than adding just another layer of complexity which has to be maintained. Just think what happens when you add another target platform. This adds another location which you have to think of.

[2016-09-24 09:40] amitjoy commented on #567
For automated processes, you are right but for user-centric needs, I believe, we should provide an easy-to-use utility **build-selective.sh** script.

[2016-09-24 12:01] ctron commented on #567
Yes, that would work. And I agree that there should be a way to speed up things.

But IMHO it should be done in a way which makes the build less complicated.

[2016-09-24 12:12] amitjoy commented on #567
Yeah you are right. The script must not complicate the build process. That is the reason, it would be really helpful for developers to use such **build-selective.sh** script to build the selective distribution build.

The problems which I have been confronting since months is that I am changing something on WebUI bundle and I want a distribution build for RPi. And if I mistakenly forget to include

[2016-09-24 14:24] ctron commented on #567
I agree, the build process has to be more simple. But not only from an end user perspective. Also from a maintainer perspective. Right now, everything is just built. A process taking more time than necessary, but adding a new target is covered by that.

Now adding some selection mechanism should not add another location where all the possible targets are listed as well. Otherwise you end up with t

[2016-09-24 14:29] amitjoy commented on #567
I understand your concern but until we create a target, we should provide an intermediate way to do such things. My perspective on this is to make it simple for everyone and we don't have simplicity now. Before we create a target which simplifies the situation, we can provide an interim way. What is your opinion on that?

[2016-09-24 14:45] ctron commented on #567
Well I am totally fine with having a documented interim solution. But most interim solutions run for decades :wink:

But I agree, if it is a quick fix, do it. All I say is, that there a always two sides which need to be simplified.

[2016-09-26 15:06] ctron opened #569 "Implement toString on KuraPayload"
I do think that adding a proper toString method for KuraPayload would help in various debugging scenarios.

[2016-09-26 16:07] ctron opened #570 "Cleanup Base64 generation in CryptoServiceImpl"
I really do think that the way base64 encoding is done in `CryptoServiceImpl` should be cleaned up.

First of all this should not be done as a service, rather using a static method. Second this should be done is simple manner, either commit to Java 8 and using the out of the box mechanism or by using Apache Commons Codec or Google Guava.

[2016-09-26 17:47] dwoodard1 commented on #570
@ctron What is the reason for using static methods over services? We do expose some static utility methods in org.eclipse.kura.core, but I find users of Kura find these harder to use as they are not exposed through the Kura API bundle.

@MMaiero What was the reason for not using Apache Commons? It is Apache licensed, so getting a CQ approved should be no problem. I know some of this was inherited

[2016-09-26 21:09] #544 closed

[2016-09-26 21:11] #562 closed

[2016-09-27 07:40] ctron commented on #570
@dwoodard1 I would reverse that question. Why use a service, registered with OSGi, using service lookup for a simple algorithm with holds no state in the service instance? Why do you need to dynamically register a service which will never really get registered or unregistered.

As an example, Java 8 goes the way. As do Google Guava and Apache Commons. I do understand that you (as Kura) want to pro

[2016-09-27 07:53] MMaiero commented on #540
I think that this issue is now solved by #566: it was caused by commit a3837922a27499f3216f7de2f7def757b30e7f77
Is it ok for you, @pierrepitiot?

[2016-09-27 08:07] pierrepitiot commented on #540
Yes the issue is solved for me

[2016-09-27 08:42] #540 closed

[2016-09-27 09:10] MMaiero commented on #147
I think this can be closed since also the Camel page has been updated.

[2016-09-27 09:10] #147 closed

[2016-09-27 09:17] #399 closed

[2016-09-27 09:18] #485 closed

[2016-09-27 09:20] MMaiero commented on #511
I think we can close, right?

[2016-09-27 11:19] cdealti commented on #511
Yes per #514.

[2016-09-27 11:19] #511 closed

[2016-09-27 12:14] ctron opened #571 "Convert files from dos 2 unix format"
The following file is DOS formatted:

kura/kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/linux/util/LinuxProcessUtil.java

Please do this *after* merging: #542

[2016-09-27 12:36] ctron opened #572 "Unreadable errors in Web UI"
Causing an error in the Web UI (e.g. pressing the "Connect" button when there is configuration missing) shows an error dialog which shows an "error message" which is of no help to the user:

![kura_web_err_dlg](https://cloud.githubusercontent.com/assets/202474/18873447/cb13d36c-84bf-11e6-8c46-73d9c5c6246d.png)

[2016-09-27 12:53] ctron opened #573 "Commit 41c3180 breaks data entry"
One of the recent changes seems to have broken the input of integers. It fails now with the following error:

[code]

[2016-09-27 12:59] MMaiero commented on #573
@ctron Is this happening for all the services? I've tried with a build done this morning and I have no issues

[2016-09-27 13:02] ctron commented on #573
Not with all. I just dropped my DP int a fresh build of Kura and now run into this issue. But I guess I have to dig deeper.

[2016-09-27 13:29] ctron commented on #573
I do have the same error now when running Kura from the IDE. So this has to come from one of the recent commits.

[2016-09-27 13:31] MMaiero commented on #573
I'll try to do some tests. Could you share the dp you are using, in order to test in the same conditions?

[2016-09-27 13:34] ctron commented on #573
I am not sure it is the integer field. I do have three fields: boolean, integer and string.

[2016-09-27 13:36] ctron commented on #573
https://tresor.it/s#EdRf67lEQoxJkW3Ol7uJVg

[2016-09-27 14:26] ctron commented on #573
Setting the generation to "DETAIL" I do get:

[code]

[2016-09-27 14:29] ctron commented on #573
Just spotted the following code, is that really necessary?

[code]

[2016-09-27 14:32] ctron commented on #573
Sorry, the above log was missing the following lines in the header:

[code]

[2016-09-27 14:34] ctron commented on #573
That is the one:

[code]

Introduced by commit 41c3180c9054ac1871687cff00bf36df8c22f5a1

[2016-09-27 14:45] ctron commented on #573
So this is not limited to inputs but a general problem.

[2016-09-27 14:47] ctron commented on #573
@MMaiero I would say the fix would look like this:

[code]

[2016-09-27 14:56] ctron commented on #573
So what was the reason for commit 41c3180 anyway? I don't see any description.

[2016-09-27 15:08] MMaiero commented on #573
https://github.com/eclipse/kura/pull/566

[2016-09-27 15:09] MMaiero commented on #573
Let me work tomorrow on it: the code I've replaced was taken from the old Kura 2.0.1 code to solve issue #566.

[2016-09-27 16:18] dwoodard1 commented on #570
@ctron I agree with you regarding Apache Commons/Guava, and certainly don't disagree with the additional overhead incurred by registering the OSGi Service, but this gets back to our common theme of not wanting to break backwards compatibility. For those making use of the CryptoService, they would have to update their applications to handle a new scheme. If we decide to make a release that truly br

[2016-09-28 07:29] ctron commented on #570
Well I think there are three things we can do right now:

1) Clean up the implementation of the service. Use Guava, Apache Commons or Java 8 to clean up what is currently there
2) Offer an alternative, either by simply describing what to do, or provide an alternative API
3) Mark the current API as deprecated, pointing users to 2)

This will not break *anything* right now, but work into the right d

[2016-09-28 07:33] ctron commented on #571
The full list of files should be:

[code]

[2016-09-28 07:48] ctron commented on #571
I suggest to read [1] so that this does not happen again.

[1] https://help.github.com/articles/dealing-with-line-endings/

[2016-09-28 07:53] MMaiero commented on #573
@ctron Testing on my raspberry I get: `gogo: BundleException: The bundle "org.eclipse.kura.example.camel.quickstart_1.1.0.201609271246 [78]" could not be resolved. Reason: Missing Constraint: Import-Package: org.eclipse.kura.camel.component; version="[1.1.0,2.0.0)"`
Am I missing something?

[2016-09-28 08:01] ctron commented on #573
Yes, damn. That component is coming from a branch of mine. But you should be able to reproduce the issue with the "Camel cloud service" component as well. Of by using a different value in "name" than "id" for the "metatype" models.

[2016-09-28 08:18] MMaiero commented on #573
Creating it from the Camel cloud factory?

[2016-09-28 08:24] ctron commented on #573
Just pick some metadata and put a real label into the "name" attribute of a string. That will cause the client side NPE.

[2016-09-28 08:25] MMaiero commented on #570
We used this approach for base64 in order to support java 8 compact 2 installations. The code will first try to go by javax.xml.bind.DatatypeConverter and, if not available tries to fallback to the java8 api. The reflection is limited to private methods and allowed us to have java8 code to be compiled and compliant with java 6+ machines.

We did not integrate other third party libraries in order t

[2016-09-28 10:18] ctron commented on #570
Simplifying a developers work would be (in order of google results):
1) `Base64.getEncoder().encodeToString(`??)` : java 8
2) `Base64.encodeBase64String(??)` : Apache Commons Codec
3) `BaseEncoding.base64().encode(??)` : Guava

Performing an OSGi service lookup and using a Kura specific API for doing base64 encoding doesn't seem to simplify anything IMHO.

Adding Guava will cost you around 2MB and

[2016-09-28 10:27] amitjoy commented on #570
I completely agree with @MMaiero that the usage of Guava would burden Kura distribution. Instead, we could write utility classes for such encoding and decoding operations. Even, the CryptoService has been developed a long back and that's the current standard of such encoding and decoding. The idea is to have Kura as light as possible. And I had a long discussion with the other committers and final

[2016-09-28 10:32] ctron commented on #570
If you don't want to invest 2MB, fine. The alternative is 278kb for Commons Codec. Or using plain Java 8. Which would reduce the code size of Kura even more since you could drop your custom implementation.

But if you really want to keep Kura small, drop the 30 MB of GWT :wink:

[2016-09-28 10:38] amitjoy commented on #570
:smile: That would be really nice to drop GWT and have the Web Bundle developed in a more modular way. I would really want it. As we already have the implementation ready for performing encryption and decryption operations, I think we can create an utility class which provides the same functionalities. It would not be much of a work as I have already created a generic utility bundle for Kura which

[2016-09-28 11:30] ctron commented on #570
Which would already be a step into the right direction! :+1:

Still, you are re-implementing an API which is already there and proven. Or simply deprecate that functionality and upgrade to Java 8.

[2016-09-28 12:03] #573 closed

[2016-09-28 13:53] ctron commented on #567
I did made a test with "dialog" and it turned out to work rather well. There is now the `build-menu.sh` script which will detect all Maven profiles in the "distrib" project and show a menu selection. The user can activate all profiles he wants and the build is then triggered with the selected profile configuration and additional profiles provided on the command line.

@amitjoy May you can give it

[2016-09-28 14:01] amitjoy commented on #567
@ctron It would be nice if you can incorporate install commands for `Dialog` based on the current running platform.

[2016-09-28 14:50] ctron commented on #567
I am not sure I understand.

[2016-09-28 14:50] ctron commented on #567
Oh .. you mean `yum install dialog` .. in case it is missing?

[2016-09-28 14:56] ctron commented on #567
Ok .. I did just add a plain list without OS detection, for RHEL, Fedora and Ubuntu

[2016-09-28 15:31] amitjoy commented on #567
Looking forward to the integration of commands for other platforms as well :thumbsup:

[2016-09-28 15:33] ctron commented on #567
if you have some let me know ... contributions welcome :wink:

[2016-09-28 15:36] ctron commented on #567
Ok .. I even found a command for Mac OS

[2016-09-28 16:09] amitjoy commented on #567
That's really a nice script. I have added sugar to it. Now, it would be able to determine the running platform and execute the relevant commands to install `Dialog` if not present.

[2016-09-28 20:28] amitjoy commented on #572
The stack trace is actually obfuscated by GWT. This obfuscation is configurable through the maven plugin Web Bundle.

[2016-09-28 20:31] amitjoy commented on #570
I would still prefer the way it is now and it still works without overwhelming Kura Distribution with more dependencies. Even the transition to Java 8 would still take time and it would not be a smooth transition though.

[2016-09-28 20:34] amitjoy commented on #498
@cdealti Would you kindly update this issue with the CQ reference link?

[2016-09-28 20:36] amitjoy commented on #375
@ctron @cdealti @MMaiero @dwoodard1 any one of you kindly update this issue to have `Kura Wires` label.

[2016-09-28 20:39] amitjoy commented on #164
I have already written test cases for the implementation bundles as well.

[2016-09-29 07:30] ctron commented on #572
I completely understand the technical implications. But from an end user perspective this just looks broken.

[2016-09-29 07:30] cdealti commented on #498
CQ 12019

[2016-09-29 07:31] ctron commented on #570
Why would a transition to Java 8 not be smooth?

[2016-09-29 08:17] amitjoy commented on #570
I actually meant that it would take time to actually understand all the pros and cons in switching to Java 8 all of a sudden. It would definitely be beneficial in respective to enhanced programming and multicore systems. We just need to figure out if it can be easily integrated or not. I just don't want to use it as a hammer and think of everything as nails.

[2016-09-29 08:23] amitjoy commented on #572
Considering the user perspective, a probable solution would be to show the exception message instead of the complete stack trace.

[2016-09-29 08:30] ctron commented on #567
I added commit 6e9225d5ed589e13b632417e30db589b91f5c427 which takes over the OS detection and prints out appropriate help. See PR #576 for more information.

I think we can close this now?!

[2016-09-29 09:00] amitjoy opened #577 "build-menu script does detect Darwin systems"
The script is not able to determine MacOSX system.

The check in the script would be `"$OSTYPE" == "darwin"*`

[2016-09-29 09:12] ctron commented on #572
A solution would be to show a proper, end user friendly message, explaining what is wrong and how to fix it. A stack trace could be added in some "collapsible" form which is hidden by default.

[2016-09-29 09:16] ctron commented on #577
Thanks :+1:

[2016-09-29 09:16] #577 closed

[2016-09-29 09:26] #551 closed

[2016-09-29 10:05] amitjoy opened #579 "build-menu script issue in MacOSX"
Detecting profiles...
Available profiles: Win64-nn beaglebone beaglebone-nn can dev-env dio.skip extra-dps intel-edison intel-edison-nn raspberry-pi raspberry-pi-2 raspberry-pi-2-nn raspberry-pi-bplus raspberry-pi-bplus-nn raspberry-pi-nn tools web web-classic
build-menu.sh: line 73: readarray: command not found

[2016-09-29 10:28] ctron commented on #579
Oh come on .. Mac OS .. can you give the me version of bash which is present.

[2016-09-29 10:29] amitjoy commented on #579
GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin16)
Copyright (C) 2007 Free Software Foundation, Inc.

[2016-09-29 10:32] ctron commented on #579
The really know how so sell outdated software ... I will try to reproduce this

[2016-09-29 12:01] amitjoy commented on #375
Fixed by #580

[2016-09-29 12:02] amitjoy commented on #334
Fixed by #580

[2016-09-29 12:02] amitjoy commented on #333
Fixed by #580

[2016-09-29 12:02] amitjoy commented on #332
Fixed by #580

[2016-09-29 12:03] amitjoy commented on #164
Fixed by #580

[2016-09-29 12:04] amitjoy commented on #163
Fixed by #580

[2016-09-29 12:12] amitjoy commented on #162
Fixed by #580

[2016-09-29 12:12] amitjoy commented on #159
Fixed by #580

[2016-09-29 12:12] amitjoy commented on #158
Fixed by #580

[2016-09-29 12:37] cdealti commented on #498
@amitjoy do you have access to [1]?

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12019

[2016-09-29 12:39] amitjoy commented on #498
I don't think so. I tried to use my usual username and password which I use for Eclipse but that doesn't work for IPZilla.

[2016-09-29 12:48] cdealti commented on #498
Ok, we are required to remove from **these** sources:

https://github.com/quartz-scheduler/quartz/tree/quartz-2.2.3

all the source code not needed by:

1. https://mvnrepository.com/artifact/org.quartz-scheduler/quartz/2.2.3
2. https://mvnrepository.com/artifact/org.quartz-scheduler/quartz-jobs/2.2.3

Can you please do that?

Hi Christiano,

I would suggest to avoid any "ahead of time" approvals -

[2016-09-29 12:49] ctron commented on #498
Can't you just attach the maven source attachments?

[2016-09-29 17:59] dwoodard1 commented on #570
This conversation seems to be going in a circle. I move we add this to the agenda for next Tuesday's call.

[2016-09-29 19:10] dwoodard1 commented on #498
I can't find where they have made the source jars available for download, but the build is using the maven-source-plugin. So, if you build the project you should get the source jar. I have found source jars are the best/quickest way for Eclipse to review CQs.

[2016-09-29 20:42] amitjoy commented on #498
Here it goes: https://repo1.maven.org/maven2/org/quartz-scheduler/quartz/2.2.3/

[2016-09-29 20:46] amitjoy commented on #498
@cdealti @MMaiero @dwoodard1 @ctron @LucaDazi  Could you kindly assign `Kura Wires` and `CQ` labels to this issue? It would be easy to track.

[2016-09-29 20:48] dwoodard1 commented on #498
@amitjoy Thanks! Don't know why I couldn't find it.

[2016-09-29 21:15] amitjoy commented on #324
I believe the Code Style for Kura should not obligate developers to always use `Add 'this' qualifier to unqualified field accesses`. I personally prefer adding `this` to unqualified field accesses as it makes it very easy for new developers to distinguish between local variable and field access. On the contrary, it makes code a bit verbose in case of inner classes and local classes.

[code]
It sho

[2016-09-29 22:13] amitjoy opened #581 "Missing Package Info in few packages in API Bundle"

[2016-09-30 07:37] MMaiero commented on #324
I agree with @amitjoy: trying the refactoring and cleanup profiles with the new Cloud tab branch, the code becomes really nasty and difficult to read. An example:
`private void getCloudServicePidRegex(final String factoryPid) {
        this.gwtCloudService.getCloudServicePidRegex(factoryPid, new AsyncCallback<String>() {

            @Override
            public void onFailure(Throwable caught) {

[2016-09-30 09:00] ctron commented on #581
Could you list them? That would help a lot!

[2016-09-30 09:10] ctron commented on #324
The problem is see is, that this really prevents people from introduction bugs. It so easy to miss that. If people think about that, it is less likely to happen. If they don't, they tend to make exactly those kinds of mistakes.

So letting the developer choose on this one actually defies its purpose, catching bugs which people do not think about.

I agree, it makes the code more verbose. But looki

[2016-09-30 09:44] ctron opened #582 "Publish Kura artifacts to Maven Central"
I think it would be beneficial for Kura to publish artifacts (at least API artifacts) to Maven Central.

Making those artifacts available on Maven Central will make it easier for developers to consume them, implementing their solutions based on Kura.

[2016-09-30 12:02] Coduz commented on #324
Hi @ctron,

you are talking about bugs that can be introduced by not using `this`, right?
I'm not an experienced developer as you probably are, but it never happened to me to encounter bugs or problems by not adding `this`. Moreover I'm not able to see or imagine which kind of mistakes you can fall in by not adding it.

As far as i can see it is improbable to easily encounter those problems and I

[2016-09-30 12:32] ctron commented on #324
@Coduz So maybe I have seen more code than you :wink:

In general a field may be hidden by a parameter or local variable. You can imaging all kinds of bugs which that may cause.

I will give you some examples which pop into my mind:

[code]

So if you think a bit about this, you will come up with all kind of other scenarios where stuff like this could happen.

[2016-09-30 13:14] Coduz commented on #324
Hi @ctron ,

uhm... I see, but this is a situation in which any IDE warns you that you are hiding properties (unless you're using nano or vim 😆 😆 😆 ) and you can rapidly fix it.

I think that this problem is overrated. The chance of problems that will require a lot of time to resolve is negligible. I would like to keep it as a developer preference or force it only when is necessary. In this way we

[2016-09-30 14:00] ctron commented on #324
How does your IDE warn you about:

[code]

And of course, this is easily fixed, if you are aware of it, which is the issue in the first place. But if you are unaware of it, mistakes happen.

I think that is better to accept a little bit less "stylish" code, or a little bit more verbose code than to accept possible bugs.

The point is, if you enforce this, and just always require it, then it cannot

[2016-09-30 14:30] Coduz commented on #324
Yes you are right on that one, there is no warning, but (using Eclipse at least) I can clearly see the difference between blue and black writings :nerd_face:
It can be the case that not everyone sees it, anyway :)

I was exposing my opinion on the fact that it is very difficult that all this bugs can occurs :)

Regards,

_Alberto_

[2016-09-30 14:32] amitjoy commented on #324
@ctron To avoid such situation, the developer can use `final` for the parameters and I personally like using `final` for parameters and local variables. But my personal opinion is to leave it for developers rather forcing it.

[2016-09-30 15:15] ctron commented on #324
@amitjoy I agree :smile:  I do like `final` as well. I I would also enforce the use of that, as you know :wink: But there we had the same discussion.

And in the end, it is not an issue if the developer thinks about such cases and decides to use against it. Problems arise when developers to not think about it at all and wonder why it is not working.

So all that I am saying is, that from a project

[2016-09-30 15:46] ctron commented on #324
Just as an example of what I mean, have a look at `org.eclipse.kura.core.deployment.download.impl.HttpDownloadCountingOutputStream`

Pay attention to `is`:

[code]

And now have a look at the source code, and please tell me a reason why "is" is a field. If, by saving the file, it would turn into:

[code]

Someone would scratch his head and wonder why. So far, no IDE has warned about that one.

[2016-09-30 22:18] amitjoy opened #583 "CQ for Eclipse Milo and its dependencies"
It is required for OPC-UA Driver of Kura Wires. We could at least have this driver included in Eclipse Kura.

[2016-09-30 22:44] kartben commented on #583
fwiw you do not need a CQ for consuming other Eclipse.org projects

[2016-09-30 22:48] amitjoy commented on #583
Eclipse Milo also requires its users to use its several other dependencies as well as it depends on them.
Such as, jOOL, Guava and so on. Do we have to file CQ for them?

[2016-09-30 23:37] kartben commented on #583
"If your code makes indirect use of a third party library through another
Eclipse project’s code, you do not require a CQ for that library." - see
https://www.eclipse.org/projects/handbook/#ip-cq

On Fri, Sep 30, 2016 at 3:48 PM, Amit Kumar Mondal <notifications@github.com

[2016-09-30 23:39] amitjoy commented on #583
@kartben Thanks for information. 👍

[2016-10-01 06:23] ctron commented on #583
But please be aware of the fact that there is no release for Milo yet. So AFAIK you cannot consume it yet as a dependency in a release if Kura.

[2016-10-01 06:28] ctron commented on #583
And you will need guava, which brings us back to the discussion on #570 ;-)

[2016-10-01 07:40] amitjoy commented on #583
Guava is required by Eclipse Milo and that's why we need it for the OPC-UA Driver of Kura Wires. But due to the overwhelming dependencies required by Eclipse Milo, Kura Wires OPC-UA Driver would not be packaged inside Kura Distribution but it would still be in the Kura Github repository.

[2016-10-01 13:52] MMaiero commented on #324
I've proceeded to the formatting and cleanup operations.
During this step I've had to slightly modify the formatter to increase the readability of enums. In particular, in 'enum' declaration -> constants, I've set:

- Line wrapping to all elements, every element on a new line

- Force split

- Default indentation

Due to these changes I've submitted the modifications as a PR #584 waiting for feedb

[2016-10-01 13:53] ctron commented on #583
So how do you handle a car then where two components require Milo or guava?

[2016-10-01 13:58] #567 closed

[2016-10-01 13:58] amitjoy commented on #583
My proposition is to have our OPC-UA driver packaged with Eclipse Milo and all its dependencies, uploaded as a reusable installable component in Eclipse Marketplace (IoT market especially). This actually doesn't require Guava or Milo to be present in the Kura target platform, instead we could package these dependencies in the OPC-UA driver bundle classpath.

[2016-10-01 14:00] ctron commented on #583
So you want to embed Milo and guava and not export it?

[2016-10-01 14:02] amitjoy commented on #583
Yes. That's my proposition.

[2016-10-01 23:30] amitjoy opened #586 "Upload Modbus Driver to Eclipse Marketplace"
Due to the usage of j2mod library in the Modbus Driver implementation, the driver expectantly would not be approved by Eclipse for inclusion in Kura distribution. This is due to the usage of incompatible LGPL v3 license in j2mod's serial dependency - jSerialComm.

That's why my proposition is to upload the driver implementation as a deployment package to Eclipse Marketplace. I am open to suggestio

[2016-10-01 23:33] amitjoy commented on #581
- ssl
- security
- linux.udev
- crypto
- certificate

[2016-10-02 00:07] MMaiero commented on #581
Added in #584

[2016-10-02 07:55] ctron commented on #586
You could use the Eclipse NeoSCADA implementation of modbus. That would give you at least modbus TCP out of the box. Modbus RTU over serial can be added by dropping in rxtx.

[2016-10-02 08:02] amitjoy commented on #586
I have already implemented the Modbus Driver for Kura Wires. Before I start working on a complete new Modbus Driver implementation which would be Eclipse friendly, it would be better to have the implemented one uploaded to Eclipse Marketplace as a quick start. What do you think?

[2016-10-02 22:39] amitjoy opened #587 "Upload OPC-UA Driver to Eclipse Marketplace"

[2016-10-03 10:57] msaiducar opened #588 "Documentation for Eclipse Kura"
Hi,

In the Documentation for Eclipse Kura [1], on the bottom section for 'Making Deployment Permanent', the entry should be;
`package_name=file\:/opt/eclipse/kura/kura/packages/package_filename.dp`
instead of;
`package_name=file\\:/opt/eclipse/kura/kura/packages/package_filename.dp`

[1] = http://eclipse.github.io/kura/doc/deploying-bundles.html#making-deployment-permanent

[2016-10-03 14:38] #324 closed

[2016-10-03 16:35] MMaiero opened #589 "[Camel] Camel related exceptions on Kura startup"
Recently I've found that Eclipse Kura log is full of Camel-related exceptions at framework boot.
@ctron could you please take a look?

http://pastebin.com/g3wYUrW7

Thanks

[2016-10-03 17:41] MMaiero opened #590 "[Cloud] CloudConfigurationHandler casts to ComponentConfigurationImpl without type check"
Testing the latest build of Kura, I've found that if I try to get the device configuration from the cloud, the message arrives at the device, but is not processed and a reply is not provided. Following the log excerpts with Camel bundles working:
`2016-10-03 17:33:20,956 [Start Level Event Dispatcher] INFO  o.e.k.c.c.ConfigurationServiceImpl - Seeding updated configuration for pid: org.eclipse.kur

[2016-10-03 20:52] #581 closed

[2016-10-04 05:29] amitjoy commented on #156
These are the relevant blog posts to show a sneak peek on the Kura Wires UI.

https://dzone.com/articles/kura-wires-a-sneak-peek
http://blog.amitinside.com/Kura-Wires-First-Look/

[2016-10-04 08:19] ctron commented on #589
Started from inside the IDE?

[2016-10-04 08:33] MMaiero commented on #589
No, from a raspberry pi 2

[2016-10-04 09:22] ctron commented on #589
Looks like a start order issue. I will increment the BSL. In the end the services run fine. But I agree, it doesn't look good in the log.

[2016-10-04 11:37] ctron commented on #589
The Camel component for "kura-cloud" is only registered after a CloudService instance is registered. It seems that  `org.eclipse.kura.core.cloud` does not register the CloudService instance during the startup although it does have a BSL of 4.

Maybe it is good idea to ditch the "default" `CloudService` handling in any case since you never are sure which service you get.

[2016-10-04 15:56] ctron opened #592 "Again Java 7 code in BREE 6 bundle"
Please fix or switch to Java 7:

KuraJDBCPooledDatasource:

[code]

`getParentLogger` in not defined in Java 6

[2016-10-05 10:22] ctron opened #595 "ComponentMetaTypeBundleTracker is processing every bundle twice on startup"
The implementation of `ComponentMetaTypeBundleTracker` is overriding the `open` method an manually processing all bundles a second time during the `open` call. In the log file you can see that all bundles get processed twice. Once by the "adding" method (since the call to `super.open` comes first) and second by the open call itself.

[code]

[2016-10-05 10:39] ctron opened #596 "Replace all calls to ConfigurationAdmin.getConfiguration(String)"
All calls to `org.osgi.service.cm.ConfigurationAdmin.getConfiguration(String)` should be replaced to calls of `org.osgi.service.cm.ConfigurationAdmin.getConfiguration(String, String)` providing `null` as the location parameter.

Most calls in Kura already are already migrated to that call, but not all. Using Apache Felix ConfigAdmin actually enforces the default binding which is generated otherwis

[2016-10-05 11:54] ctron opened #599 "WebUI fails completely is `PositionService` is not registered"
If there is no instance of `PositionService` registered with OSGi, then the whole Web UI fails with an "internal error".

Although the code checks for a `null` reference:

[code]

The actual call to `org.eclipse.kura.web.server.util.ServiceLocator.getService(ServiceReference<T>)` will throw an exception.

[2016-10-05 12:18] ctron opened #601 "Provide a way to adding arbitratry links to the Web UI"
There should be a way to add arbitrary links into the Web UI menu of Kura. Registering an additional servlet with the HttpService could provide additional entry points which could then be rendered by the Web UI as a simple link in the menu on the left. Maybe in a separate box.

[2016-10-05 14:42] ctron opened #603 "Can "json 20090211" be removed?"
A few bundles declare a dependency on "json 20090211":

[code]

But to me it seems it is not used. Can it be removed?

[2016-10-05 16:34] cdealti commented on #603
If it still builds and runs after removing it, yes!

[2016-10-05 17:40] ctron commented on #603
Ok, then I will work on that.

[2016-10-06 08:10] ctron commented on #603
Looks like it.

[2016-10-06 09:23] ctron commented on #589
Should be closed by PR #606

[2016-10-06 09:23] #589 closed

[2016-10-06 13:07] ctron opened #608 "Modularize Kura by replacing switch blocks"
As @kartben and @dwoodard1 suggested in issue #552 the way Kura currently handles alternate variants of the operating system, by using big switch blocks, is not optimal. This issue should track an enhancement of following a modular approach.

[2016-10-06 13:11] ctron commented on #608
Depending on the actual requirement his could come from either a properties file or from a custom service implementation. OSGi is made exactly for that cause.

So for example with `LinuxNamed` this could be a service which has different service implementations. Depending which target image is assembled, either existing services can be deployed or a new service can be implemented. Of course it is n

[2016-10-06 16:28] kartben commented on #608
Yes, please! :-)

On Thu, Oct 6, 2016 at 6:11 AM, Jens Reimann <notifications@github.com>
wrote:

[2016-10-07 14:13] cdealti commented on #545
Can I try to summarize this again?

1. Native libraries will be recompiled with Visual Studio and distributed with Kura in source and binary form.
1.1 Only dynamic linking of MS libraries is allowed.
1.2 Create a **full list** of the MS libraries dynamically linked and file a works-with CQ for these libraries.
1.3 If you need to distribute with Kura a makefile or bat file to build the native libra

[2016-10-07 14:19] ctron commented on #545
I would stick to  **do not copy it**

You will also need to add all tools to the "build and test" CQ (like Make, VisualStudio, …)

[2016-10-07 14:24] cdealti commented on #545
@malikm @markcullen does the above make sense to you?

[2016-10-07 14:27] malikm commented on #545
OK, so binaries compiled with MS VS are approved (unlike MinGW) ? I wouldn't expect this...
Is there a particular VS version that should be used ?
No reason to copy makefiles from Stack Overflow, we can do that ourselves.

WiX can't be compiled under Linux and would cause additional effort to develop a new installer. I'd be much more happy with the existing NSIS if approved.
So if we either use MS

[2016-10-07 14:31] malikm commented on #545
Oh, and I believe that if we would use dynamic linking with VS libraries, we'd need to ship the proper MS VS Redistributable Package along with Kura. @markcullen - that's right, isn't it?

[2016-10-07 14:32] ctron commented on #545
Which you can't ... that would be a pre-requisite which the user has to install before.

[2016-10-07 14:32] ctron commented on #545
I do think the first step should be to get rid of the copied code from the repository.

[2016-10-07 14:33] malikm commented on #545
AGREE

[2016-10-07 14:34] malikm commented on #545
but.. if we sanitize those functions, we'd still have an IP problem with NSIS and MinGW there...

[2016-10-07 14:36] ctron commented on #545
Ok, the "exe" files should be removed as well. It is a matter of "what is being distributed". The NSIS scripts are distributed, but (mostly) authored by you. So it is just the case of "you cannot use it" not of "you cannot distribute it".

[2016-10-07 14:38] cdealti commented on #538
@ctron Is the following the full list of build & test dependencies?

1. All maven plugins in the Kura POM files
2. The build & test dependencies of the jars in the target-platform project
3. The build & test dependencies of #545
4. The tools to compile the Kura native libraries. Do we need to specify versions for Make, GCC etc?

What else?

[2016-10-07 14:40] malikm commented on #545
OK then let's do the following first:
- Replace the offending functions with new ones (there are commits for this already)
- Remove all binary files (DLLs and EXEs) from repo
This should be done by replacing the original Windows commits (https://github.com/eclipse/kura/pull/499/commits/73e8e8ab81f17c415fafd28f6161521d0bb4afb6 and https://github.com/eclipse/kura/pull/499/commits/7693bd1b7dc26074cc8

[2016-10-07 14:42] cdealti commented on #535
@dwoodard1 any updates from Wayne?

[2016-10-07 14:53] dwoodard1 commented on #535
@cdealti @waynebeaton Since the CQ was approved, we are good to go. I am closing.

[2016-10-07 14:53] #535 closed

[2016-10-07 14:57] cdealti commented on #545
I'm curious on the result of the rebase. You will first try it on a test branch of your fork.

[2016-10-07 15:00] malikm commented on #545
Not even sure how exactly should we do that. Should the rebase be done on the original PR1/PR2 branches of our fork, or on the kura/develop ?
We will need to discuss this exactly and +guidance...

[2016-10-07 15:02] ctron commented on #538
Yes, you need versions. The versions should be the versions you where using. If the user chooses different versions, then he may do that. But still you need the versions of the tools you required.

I do think there are some dependencies for the "jdk.dio" build chain as well. For "usb"? "soda"?

In general all tools which are required by Kura to build it from scratch, in all variants. Including all

[2016-10-07 15:05] ctron commented on #545
As Wayne suggested I would contact "webmaster" for help. I don't think there is a point in doing this in a separate branch, but you can test this in a local clone of the repository. You are using Git after all :wink:

[2016-10-07 16:10] cdealti commented on #538
A lot of fun

[2016-10-07 16:32] cdealti commented on #545
No matter where you do this (on a local repo obviously) I think we need to try the rebase ourselves before asking the help to the webmaster who has no context about this. If you have hints on the rebase strategy please let us know. As far as I know the rebase will change the history and will screw up all the forks and pull requests when forced on the upstream repo. I think this cannot be avoided.

[2016-10-07 16:32] ctron commented on #538
That's why it is a good idea to always check first, and then pull in dependencies.

[2016-10-07 16:34] ctron commented on #545
I agreed, test it first! But I don't think a new branch will make the test more realistic.

Again, I would ask webmaster for help. Gladly I've never been in that situation.

[2016-10-10 07:56] ctron opened #609 "Remove extra compiler flags '[+|-]warning_tokens_separated_by_comma'"
The extra compiler flags `'[+|-]warning_tokens_separated_by_comma'` are effectively ignored:

[code]

[2016-10-10 08:12] cdealti commented on #545
Please confirm if this describes the issue **exactly** in order to sanitize the commits. If not, please edit this comment making the changes needed.

**Some legal/IP issues have been found in the following commit:**

https://github.com/eclipse/kura/commit/741220741bf613a43040afaa890f37f96ccf0c6d

* In ``kura/distrib/src/main/resources/Win64-nn/Kura_x64.nsi`` the macro ``_ReplaceInFile`` is not an

[2016-10-10 11:49] ctron opened #611 "Can native binaries for "armv5sf" be removed?"
It looks like as if currently no target uses native binaries for `armv5sf`. Can those be removed?

[2016-10-10 12:43] cdealti commented on #538
* Do we **only** need to include the **direct** dependencies?
* Can we exclude Equinox bundles?
* Can we exclude dependencies released under the EPL?

[2016-10-10 14:11] dwoodard1 commented on #538
We only need to include direct dependencies, no transitive dependencies. We don't have to include any Eclipse projects. We should probably include EPL licensed dependencies if they are not Eclipse projects.

[2016-10-10 15:46] ctron commented on #538
@dwoodard1 correct!

[2016-10-10 16:01] cdealti commented on #538
@dwoodard1 can you take care of putting together this list?

[2016-10-10 16:11] cdealti commented on #611
These libraries are needed by the ESF build. I understand this is not elegant and that using fragments, as mentioned in another issue, would be a better solution.

[2016-10-10 16:16] ctron commented on #611
I am currently working on migrating to fragments. That is why I did find no reference to those binaries. So I wondered if they are just left over or actually in use.

[2016-10-10 16:17] dwoodard1 commented on #538
@cdealti Yes, it has been on my to-do list. I will try and get it done today. For some reason the maven dependency tool appeared to be missing several dependencies, have been trying to figure out why that is. @ctron Are there options you use for these types of multi-module projects to get reliable results?

[2016-10-11 07:18] ctron opened #612 "Upgrade HIPP instance to a more recent version of Hudson"
I would like to upgrade the Hudson instance at Eclipse to a more recent version of Hudson.

This is "self-service" can be done by clicking a link on the developer portal at portal.eclipse.org.

Any objections?

[2016-10-11 11:33] ctron opened #613 "Recent addition of checkstyle fails the build"
The recent addition of checkstyle fails the build on hudson.eclipse.org. And it doesn't look to me as if this is on purpose.

[code]

@MMaiero please have a look

[2016-10-11 11:37] ctron opened #614 "Addition of checkstyle plugin causes errors in the IDE"
[code]

[2016-10-11 12:23] MMaiero commented on #613
It works fine in my environment.
I can find two possible solutions: stick on plugin version 2.14 and try to solve the issue like specified [here](http://stackoverflow.com/questions/15874503/maven-checkstyle-plugin-and-guava-google-collections-dependency-clash) or try to upgrade to 2.17 and see if the problem is still the same. I'll try with this last since the CQ already in place for 2.14 is not u

[2016-10-11 12:26] ctron commented on #613
AFAIK Kura currently doesn't have any build & test dependencies CQ. So it doesn't matter.

Unless I missed something, please try upgrading to 2.17 since it currently does fails the main build on the Hudson instance.

[2016-10-11 12:26] #614 closed

[2016-10-11 12:39] ctron opened #618 "Recent CR/LF fix causes 182 file modification pending"
It seems that the CR/LF issue was not only specific to .java files, but also to others. However the change did not properly clean up the repository!

Doing a plain "git clone" on Kura currently leaves the git repository with 182 changes files due to CR/LF conversion.

I would suggest to directly push an update to "develop" in order to fix this!

[2016-10-11 12:42] MMaiero commented on #613
it seems not to be the plugin version the cause of the issue in hudson

[2016-10-11 12:42] ctron opened #619 "Duplicate version of maven-antrun-plugin"
I suggest to use pluginManagement for this:

[code]

[2016-10-11 12:43] ctron commented on #613
Yes. So I suggest you put it in a profile and enable it only for the travis build at the moment.

[2016-10-11 12:43] ctron commented on #613
Any maybe just directly push to `develop`

[2016-10-11 13:32] MMaiero commented on #613
ok, now the build does not seem to fail due to the check style plugin

`[INFO] o.h.m.e.h.MavenExecutionResultHandler - Build failed with exception(s)
[INFO] o.h.m.e.h.MavenExecutionResultHandler - [1] org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:0.20.0:compile (default-compile) on project org.eclipse.kura.core: Compilation f

[2016-10-11 13:34] ctron commented on #613
Yes, now it fails due to the BREE validation. Which is correct. I can now fix issue #592

As posted on the mailing list today, the BREE will now be validated and will fail the build is validation fails.

[2016-10-11 13:39] #592 closed

[2016-10-11 15:30] MMaiero commented on #590
@ctron Could you take a look at this issue?

[2016-10-11 15:48] ctron commented on #590
I wasn't even aware that I was supposed to.

So tell me what should happen where, how I can test it and I can try to see what I can find out. From the initial comment I have no idea what is expected to happen in which component.

[2016-10-11 15:55] MMaiero commented on #590
Just connect a device to, for example, EDC and try to get the device configuration from there. Then, I think, you will see what I mean ;‑)

[2016-10-11 15:58] ctron commented on #590
How do I get the device configuration from there?

[2016-10-11 16:03] MMaiero commented on #590
Oh, sorry, I've compressed too much. I meant:

![configuration](https://cloud.githubusercontent.com/assets/10448126/19278239/d42734a8-8fdc-11e6-8aa7-22eca7ea177e.png)

[2016-10-11 16:08] ctron commented on #590
So you mean that something is wrong in the everyware cloud? Sorry but I really don't get what the issue here is with Camel. Clicking on a connected device I get something like "The selected Device is not online or it does not support remote configuration." Although the device is shown green.

[2016-10-12 04:58] MMaiero commented on #590
Ehm, no.
Let me try to detail you the steps I followed in order to have a common understanding of the issue:

1. Start from a freshly built Kura from develop and connect it to the cloud

2. Accessing the cloud platform and selecting the device, you will end up with something like this (you should be able to see the details in the description tab. If not, there is a problem in your setup):
![img1](

[2016-10-12 06:49] cdealti commented on #498
@amitjoy The Quartz CQ [1]
Is still pending waiting for the "depopulated" Quartz sources (see my comment above). Can you please prepare this package?

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12019

[2016-10-12 07:38] ctron commented on #590
So what is happening at the device level. I am pretty sure that Camel doesn't respond to such a request.

[2016-10-12 08:05] ctron commented on #603
This affects the deployment on Karaf.

[2016-10-12 10:38] MMaiero commented on #590
I think that org.eclipse.kura.camel.cloud.factory can be related to this issue: stopping only that bundle allows the get configuration requests to succeed.

[2016-10-12 10:52] ctron commented on #590
So what is happening on the device side when the command is being issued?

[2016-10-12 12:35] MMaiero commented on #590
I've not looked at the code, but maybe that bundle is a configurable component. So, it's possible that it is involved when the configuration is requested. Maybe the investigation should start from that point.

[2016-10-12 12:47] ctron commented on #590
AFAIK the ConfigurableComponent is only a marker interface, no method is actually called.

So which component does process the request coming from the Everyware Cloud?

[2016-10-12 14:39] cdealti commented on #590
Not to talk on behalf of @MMaiero but I think he means the ``SelfConfiguringComponent`` implemented by the [CamelManger](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.camel.cloud.factory/src/org/eclipse/kura/camel/cloud/factory/internal/CamelManager.java)

When you request the device configuration remotely, the request is handled by the [CloudConfigurationHandler](https://gith

[2016-10-12 15:45] ctron opened #627 "Fix Bundle-Vendor to "Eclipse Kura""
The Eclipse Release Review guide [1] says that all OSGi bundles must have a `Bundle-Vendor` of `Eclipse <Name>`, in this case `Eclipse Kura`.

However this is currently not the case.

[1] https://wiki.eclipse.org/Development_Resources/HOWTO/Release_Reviews#Checklist

[2016-10-12 15:47] ctron commented on #590
Ah .. now I see! Thanks for explaining!

So what happens then is a call to `doGetConfigurations`? Then I would try to create a unit test which reproduces this issue.

[2016-10-12 16:58] amitjoy opened #629 "Add Bundle-Copyright manifest header"
We have bundles which consists of several types of files and adding copyright header to every file is a bit tedious task and sometime the files get bloated. And also sometimes, developers mistakenly forget to add the header to all the files. The files can be anything, for instance, `.xml, .js, .html, .java, .properties, .ini,` and so on. I always prefer using `Bundle-Copyright` which inherently ap

[2016-10-12 17:09] ctron commented on #629
We can use the bundle header. But Eclipse policy requires a license header anyway.

[2016-10-12 17:15] amitjoy commented on #629
Oh ok. I was not aware of that. I knew only about the intention behind this specific header. I believe such manifest header would still be a good practice even if we forget to add one. There exists some html files in Web Bundle in which the license header is still missing and this could have been prevented if we use this manifest header.

[2016-10-12 17:36] ctron commented on #629
I agree, adding such a header would be a great addition.

[2016-10-12 17:45] amitjoy commented on #579
@ctron @cdealti  I think we can close this. I have tried the script in MacOSx Sierra and El Capitan. It is working as expected.

[2016-10-12 18:24] #579 closed

[2016-10-12 18:25] ctron commented on #618
I think we can close this one as well.

[2016-10-12 18:25] #618 closed

[2016-10-13 07:27] #613 closed

[2016-10-13 07:33] ctron commented on #612
It seems no longer "self-service". Opened a ticket [1]

[1] https://bugs.eclipse.org/bugs/show_bug.cgi?id=505841

[2016-10-13 07:34] #603 closed

[2016-10-13 20:10] waynebeaton commented on #627
+1

The Bundle-Vendor should most certainly not be an organization. The general idea is to ensure that it is obvious that the project is vendor-neutral, operating in an open and transparent manner.

[2016-10-13 20:18] dwoodard1 commented on #627
Thanks Wayne. This has been addressed and merged with #628 . It will be in the v2.1.0 release.

[2016-10-13 20:18] #627 closed

[2016-10-14 08:22] cdealti commented on #558
@ctron can we close this?

[2016-10-14 08:23] djurodrljaca opened #631 "Building of eclipse project files fails if you run it two times"
Steps to reproduce the issue:
1. `git clone git@github.com:eclipse/kura.git Kura_eth`
2. `cd Kura_eth`
3. `./build-all.sh`
4. `cd kura`
5. `mvn -f manifest_pom.xml eclipse:clean && mvn -f manifest_pom.xml eclipse:eclipse`
6. `mvn -f pom_pom.xml eclipse:clean && mvn -f pom_pom.xml eclipse:eclipse`
7. `mvn -f manifest_pom.xml eclipse:clean && mvn -f manifest_pom.xml eclipse:eclipse`

The last step f

[2016-10-14 08:27] pierrepitiot commented on #631
Yeah! it has been a long time that I have this issue but never took time to fix it :-(

[2016-10-14 08:29] cdealti commented on #599
@ctron what is the state of this issue? If you are using Zenhub please update the fields on the left column (Pipeline, Milestone, Assignee etc) so that we can properly track the progress.

[2016-10-14 09:01] djurodrljaca commented on #631
I originally suspected that build-all script will also fail if I run it two times in a row, but it does build without problems. So as far as I see, building eclipse project files two times to make it fail also makes the complete build fail for some reason...

[2016-10-14 09:06] markoer opened #632 "[Core] Linux primary network interface name"
When running org.eclipse.kura.core.test bundle tests on the current develop branch HEAD the following exception occurs on CentOS 7 Linux:

[code]

I traced the origin of the exception to `MqttDataTransport.buildConfiguration()`. This method then calls

[code]

`SystemServiceImpl.getPrimaryMacAddress()` calls `getPrimaryNetworkInterfaceName()`. This last method hardcodes eth0 as the network interfa

[2016-10-14 09:52] amitjoy opened #633 "Issue while Building Kura"
I encountered the following while building Kura.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:2.17:check (checkstyle-validation) on project com.codeminders.hidapi: Failed during checkstyle execution: There are 2 errors reported by Checkstyle 6.11.2 with ../checkstyle_checks.xml ruleset. -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed

[2016-10-14 09:53] amitjoy commented on #633
It actually failed while building `Java API for working with Human Interface USB Devices (HID) `

[2016-10-14 10:21] cdealti opened #634 "[GPIO] Improve org.eclipse.kura.gpio Javadoc"
No description available for the [GpioService]( http://download.eclipse.org/kura/releases/2.0.0/docs/apidocs/org/eclipse/kura/gpio/GPIOService.html) methods.

Methods come with two different signatures ``getPinByName(String pinName)`` and
``getPinByName(String pinName, KuraGPIODirection direction, KuraGPIOMode mode, KuraGPIOTrigger trigger)``

Javadoc should document what is the default configurat

[2016-10-14 10:36] cdealti commented on #632
@markoer Thanks. This has also been reported for #568.

[2016-10-14 10:41] cdealti commented on #631
I don't use ``eclipse:clean`` or ``eclipse:eclipse`` anymore. Is this still needed? I assume we mention it in our documentation.

[2016-10-14 10:59] djurodrljaca commented on #631
It is still mentioned here: http://wiki.eclipse.org/Kura/Getting_Started

So is the usual way to just import "existing maven projects"?

[2016-10-14 11:14] ctron commented on #558
I didn't test any further. But the problem still exists.

[2016-10-14 11:16] ctron commented on #599
This one was merged already.

I don't use Zenhub.

[2016-10-14 11:16] #599 closed

[2016-10-14 11:20] ctron commented on #631
This think this could be removed. I would favor to use the Eclipse installer.

I think would should point people to [1]

[1] https://wiki.eclipse.org/Kura/Getting_Started#For_the_Eclipse_Installer_based_setup_2

[2016-10-14 11:37] ctron commented on #633
Can you post which rules got violated?

[2016-10-14 11:43] amitjoy commented on #633
The `checkstyle:check` phase showed me the following:

`[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Java API for working with Human Interface USB Devices (HID) 1.1.2-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-checkstyle-plugin:2.17:check (default-cli) @ com.codeminders.h

[2016-10-14 11:46] cdealti commented on #558
It's not a Kura specific problem. I think it's documented somewhere. I'll try to find some links.

[2016-10-14 11:46] ctron commented on #633
@MMaiero could you have a look at this

[2016-10-14 15:29] PeterTaylor01 opened #635 "ExecCommand in org.eclipse.kura.linux.bluetooth.BluetoothAdapterImpl Index Out Of Bounds"
The method:

`public void ExecuteCmd(String ogf, String ocf, String parameter)`

In org.eclipse.kura.linux.bluetooth.BluetoothAdapterImpl gives an index out of bounds error.

It works as intended if you change the loop code from:

[code]

To:

[code]

Thanks,
Peter

[2016-10-16 18:58] Qballl opened #636 "Cannot download dependencies"
Im trying to download eclipse kura for my raspberry pi 2 but it cannot download the dependencies and when I try to download them manually it cannot find the packages. Can you please help?

[2016-10-16 20:36] Qballl commented on #636
Update turns out my sources.list was all messed up I got that fixed after about 2 hours of googling

[2016-10-16 20:36] #636 closed

[2016-10-17 08:07] cdealti commented on #545
@ctron @malikm @markcullen I'm testing this on a personal fork.
The plan is to **remove** the following files (see above) from the history:

1. kura/distrib/src/main/resources/Win64-nn/Kura_x64.nsi
2. target-platform/org.eclipse.kura.windows.launcher/src/main/c/main.c
3. target-platform/org.eclipse.kura.windows.service/src/main/c/main.c
4. target-platform/org.eclipse.kura.windows.system/src/main/b

[2016-10-17 08:27] amitjoy commented on #498
@cdealti The quartz sources are as follows:

http://search.maven.org/remotecontent?filepath=org/quartz-scheduler/quartz-jobs/2.2.3/quartz-jobs-2.2.3-sources.jar
http://search.maven.org/remotecontent?filepath=org/quartz-scheduler/quartz/2.2.3/quartz-2.2.3-sources.jar

[2016-10-17 08:35] ctron commented on #545
@cdealti I cannot make that confirmation. It looks good to me. If someone did copy code from somewhere else without proper IP handling than I think __now__ is the chance to correct this!

[2016-10-17 08:38] malikm commented on #545
@cdealti Yes, that's it. But do you really need to completely remove the mentioned .nsi and .c files rather than just replacing the problematic functions there?

[2016-10-17 08:42] malikm commented on #545
Or is the plan to first remove and then push a new sanitized version of .nsi and .c files ?

[2016-10-17 09:00] cdealti commented on #545
@malikm  Yes, we first need to remove them because rebasing (to sanitize the commits) is now impossible.
So yes, first we nuke the above files from the history and then you will be able to push new commits.

[2016-10-17 09:53] malikm opened #637 "[Windows] Use of NSIS and MinGW"
The use of **NSIS** is currently not covered by a CQ. Thus it's currently not possible to distribute an NSIS-based installer from Eclipse servers.
As an alternative, WiX has been suggested, which is approved. However a setup based on WiX is not possible to build on Linux-based machines (only Windows is supported). This doesn't fulfill the initial requirement to build a complete Windows installatio

[2016-10-17 10:13] MMaiero commented on #633
I've tried to reproduce the issue but, also cloning and building from scratch, I've no issues.

The errors obtained invoking the check style with `checkstyle:check` are due to the fact that, without parameters, the check style plugin performs the checking with the default policy, while in the pom file we are referencing a specific checkstyle_checks.xml file

[2016-10-17 11:46] #596 closed

[2016-10-17 11:56] #595 closed

[2016-10-17 15:34] MMaiero opened #640 "[Modem] NoClassDefFoundError: Could not initialize class org.eclipse.kura.linux.net.modem.SupportedUsbModems"
This issue is caused by commit 9f5870537e36afa6641dc6d3d237686e82407f02
Everything works right if the device has no internal modem, while, if the modem is available, the execution will stop at boot due to a `NoClassDefFoundError` on class `org.eclipse.kura.linux.net.modem.SupportedUsbModems`.

The issue is triggered by `SupportedUsbModemsInfo.isSupported` that tries to call `SupportedUsbModems.isS

[2016-10-17 15:56] MMaiero commented on #640
This is the stack trace:

`!ENTRY org.eclipse.equinox.ds 4 0 2016-10-17 14:28:09.260
!MESSAGE [SCR] Exception while activating instance org.eclipse.kura.linux.net.NetworkServiceImpl@13b2f29 of component org.eclipse.kura.net.NetworkService
!STACK 0
java.lang.reflect.InvocationTargetException
	at sun.reflect.GeneratedMethodAccessor4.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl

[2016-10-17 16:07] MMaiero opened #641 "[Camel] KuraCloudConsumer - Failed to subscribe exception"
At boot the following exception is thrown

`2016-10-17 16:02:41,581 [Component Resolve Thread (Bundle 7)] WARN  o.e.k.c.c.KuraCloudConsumer - Failed to subscribe
org.eclipse.kura.KuraNotConnectedException: Not connected.
    at org.eclipse.kura.core.data.transport.mqtt.MqttDataTransport.subscribe(MqttDataTransport.java:445)
    at org.eclipse.kura.core.data.DataServiceImpl.subscribe(DataServiceImp

[2016-10-18 06:22] NargesMHM opened #642 "Raspbian Pi3"
As I have inquired, Kure Raspbian Pi2 package also works fine with Raspberry Pi3. Therefore, it would be more beneficial if you mention to Raspberry Pi3 as well.

[2016-10-18 09:19] ctron commented on #640
@MMaiero can you describe a reproducible case for this?

[2016-10-18 09:54] ctron opened #645 "Clean up internal dependencies in Kura"
IMHO dependencies in Kura are currently … hard to understand.

The super-uber SytemService provides network functions, depends on the NetworkService, which depends on some Linux helper tools which are located in the "kura.core" bundle. And this is just one issue.

[2016-10-18 09:56] ctron opened #646 "[Dependencies] Move all "linux" classes to "linux" bundles"
All functionality which is specific to Linux (having "linux" in its package name) have to be moved to bundles which are "linux" specific (having "linux" in their BSN)

See also #645

[2016-10-18 10:02] ctron opened #647 "[Dependencies] Clean up and modularize the SystemService"
The system service should be split up in a set of smaller services:
- Kura configuration
- System information

The Kura configuration must not depend on other services and it must be possible to implement this in different ways (e.g. system properties, configuration file, …)

The system information service implementation must be split up into smaller modular provides as well (also see #608).

Both

[2016-10-18 10:15] ctron commented on #641
That wouldn't be an atomic operation then and the exception could happy anyway.

I will lower if to "info" in the case of a `KuraNotConnectedException`.

[2016-10-18 11:50] cdealti commented on #641
Is the subscribe retried if it fails?

[2016-10-18 11:51] ctron commented on #641
Yes.

[2016-10-18 11:53] ctron commented on #641
https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/cloud/KuraCloudConsumer.java#L82

[code]

IHMO this should be a functionality of the CloudClient though.

[2016-10-18 11:53] ctron commented on #641
And the log message is not correct! Just saw that.

[2016-10-18 12:16] ctron opened #649 "Missing copyright headers"
The files in `/kura/org.eclipse.kura.linux.usb/src/main/c/udev` are missing proper copyright headers

@dwoodard1 @mcarrer @cdealti Please check

[2016-10-18 12:25] ctron opened #650 "Possible bug in "LinuxUdev.c""
At `LinuxUdev.c:121` is the following code:

[code]

Which results in the case that if the item could not be added to the list, the function returns, not freeing the current element and not returning the list.

Beside that the boolean type should be checked against `JNI_FALSE`.

To me it looks like a copy and paste error from the code segments above where the "if" actually makes sense:

[code]

St

[2016-10-18 12:27] ctron opened #651 "Call to "exit()" in native code"
In `LinuxUdev.c:49` is a call to `exit()` in the case `udev` cannot be initialized.

[code]

IMHO exiting the JVM in such a very is a very, very bad idea. I think throwing an exception should be the way to go.

[2016-10-18 14:17] #571 closed

[2016-10-18 19:58] ccustine commented on #133
I was looking for a way to install bundles/dps from command line and found this issue. I also 👍  as I think this would satisfy the requirement to do command line install (consider Ansible, Puppet, Chef, etc). This may be impacted by #558 depending on how the update lifecycle is implemented in the Felix file install code.

Any further discussion on this issue?

[2016-10-18 20:27] ctron commented on #133
We do have an experimental branch with Karaf now. And it does contain all the goodies Karaf has. Including file install.

I will try and document it over the next days.

[2016-10-19 06:49] ctron commented on #538
I would like to see on that list:

[code]

In addition:

[code]

[2016-10-19 09:08] ctron opened #654 "Clean up static initialization around "modem" functionality"
Currently the initialization of the whole "modem" functionality is a cascade of static initialization blocks which, IMHO, has to be cleaned up.

`SupportedUsbModemsInfo.java` : triggers -> `SupportedUsbModems`
- No real difference to `SupportedUsbModems`

`SupportedUsbModems`: triggers -> `SupportedUsbModemInfo`
-  depends on "lsusb", fails if this is not present
- iterates through a

`SupportedUs

[2016-10-19 13:19] ctron opened #655 "Fix `Password` class to properly handle `null`"
IMHO the Password class should be refactored as follows:

[code]

This would allow for easy null handling. Right now lots of places in Kura just pass "null" to the constructor, which may result in a NPE later on calling toString();

[2016-10-19 14:05] ctron commented on #590
This is actually a bug in the `CloudConfigurationHandler`. It takes instances of `ComponentConfiguration` and casts them to `ComponentConfigurationImpl`, which in this case doesn't work.

[2016-10-20 07:30] dhwalters423 opened #657 "No ability to set security level with Bluetooth API"
The Kura Bluetooth API does not support setting the security level when accessing a GATT table. For example, if the security on the BLE device is set to high, the command 'sec-level high' must be sent using `gatttool` before any characterisitcs can be read.

When that device is called with the default security level (low) from `gatttool` the following error occurs:
"Read characteristics by UUID fa

[2016-10-20 12:21] MMaiero opened #660 "[kura-build] jdk.dio deployment fails in Hudson"
The Hudson build fails with the following error:

`[INFO] o.h.m.e.h.MavenExecutionResultHandler - [1] org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:2.7:deploy (default-deploy) on project jdk.dio-parent: Deployment failed: repository element was not specified in the POM inside distributionManagement element or in -DaltDep

[2016-10-20 17:38] #660 closed

[2016-10-20 17:40] MMaiero commented on #633
@amitjoy Is this issue still pending for you?

[2016-10-20 17:42] MMaiero commented on #611
@ctron We can close this, right?

[2016-10-20 17:44] amitjoy commented on #633
@MMaiero Just tested it and it is working. You can close this.

[2016-10-20 17:45] MMaiero commented on #590
I think we can close this and open another issue for the ComponentConfigurationImpl cast

[2016-10-20 17:45] #633 closed

[2016-10-20 17:46] MMaiero commented on #564
@pierantoniomerlino Can this be closed?

[2016-10-20 17:46] ctron commented on #590
I changed the title already. Let's keep it open.

[2016-10-20 17:47] #611 closed

[2016-10-20 17:48] MMaiero commented on #590
I've seen that. But, in my opinion, a clean and well documented issue is more understandable.

[2016-10-20 17:51] MMaiero commented on #539
Closing since #626 was merged

[2016-10-20 17:52] MMaiero commented on #515
Closing due to #626 merging

[2016-10-20 17:52] #515 closed

[2016-10-20 17:53] MMaiero commented on #498
@amitjoy We can close this, right?

[2016-10-20 17:54] amitjoy commented on #498
@MMaiero Yeah you can. It has already been approved.

[2016-10-20 17:54] #498 closed

[2016-10-20 17:58] MMaiero commented on #408
@ctron This can be closed, right?

[2016-10-20 18:02] MMaiero commented on #380
No updates since a long time. Closing it.

[2016-10-20 18:02] #380 closed

[2016-10-20 18:02] #375 closed

[2016-10-20 18:05] MMaiero commented on #335
@amitjoy Can we close this?

[2016-10-20 18:06] #334 closed

[2016-10-20 18:06] #333 closed

[2016-10-20 18:06] #332 closed

[2016-10-20 18:06] #326 closed

[2016-10-20 18:09] #318 closed

[2016-10-20 18:13] MMaiero commented on #231
@ctron Can we close this? Maybe this plugin has to be documented somewhere in our documentation. What you think?

[2016-10-20 18:15] MMaiero commented on #210
Closing this as not needed, due to the upcoming cleanup of the visual appearance in web2 bundle

[2016-10-20 18:15] #210 closed

[2016-10-20 18:17] #164 closed

[2016-10-20 18:17] #163 closed

[2016-10-20 18:17] #162 closed

[2016-10-20 18:18] #159 closed

[2016-10-20 18:18] #158 closed

[2016-10-20 18:19] MMaiero commented on #156
@amitjoy Do you think we can close this?

[2016-10-20 19:10] amitjoy commented on #156
Yeah We can

[2016-10-20 19:15] #156 closed

[2016-10-20 19:26] ctron commented on #231
I guess we can close it. There is some documentation with the plugin already.

https://ctron.github.io/osgi-dp/

[2016-10-21 06:23] ctron commented on #408
I am not sure about that one. Since the default behavior is still the same.

I would suggest we add a bug error message in the console if we can detect this and start a depreciation process around that. Then we can close this.

[2016-10-21 06:24] ctron commented on #590
So create a new issue then, referencing this one and setting the target to 2.2.

[2016-10-21 07:32] #231 closed

[2016-10-21 07:34] MMaiero commented on #77
Closing as for long time we had received no negative feedback. Eventually we will reopen it later.

[2016-10-21 07:34] #77 closed

[2016-10-21 07:35] pierantoniomerlino commented on #564
@MMaiero : Yes!

[2016-10-21 07:35] MMaiero commented on #123
@ctron Is this solved?

[2016-10-21 07:37] #152 closed

[2016-10-21 07:38] #161 closed

[2016-10-21 07:38] #165 closed

[2016-10-21 07:40] MMaiero commented on #186
@ctron Do you have any plan on this?

[2016-10-21 07:42] MMaiero commented on #216
Since it seems that it works with the Raspberry Pi 3, I think we can close this. We will announce the support in the release notes. We will also modify the raspberry pi 2 installer name specifying that it supports also raspberry pi 3.

[2016-10-21 07:42] #216 closed

[2016-10-21 07:45] #239 closed

[2016-10-21 07:48] MMaiero commented on #308
@pierantoniomerlino Do we have something for this?

[2016-10-21 07:48] MMaiero commented on #251
Closing this as superseded by #466

[2016-10-21 07:48] #251 closed

[2016-10-21 07:53] MMaiero commented on #317
@dwoodard1 I agree with your position. So I think this issue can be closed, right?

[2016-10-21 08:00] MMaiero commented on #321
I think that @ccustine PR should have solved this. So, I would like to close it.

[2016-10-21 08:00] #335 closed

[2016-10-21 08:01] MMaiero commented on #342
@LucaDazi Do you have any update on this? Thanks

[2016-10-21 08:02] pierantoniomerlino commented on #308
@MMaiero We have the API to run a custom hcitool command, so we can develop a example bundle to do that.

[2016-10-21 08:06] MMaiero commented on #364
The only possibility we see here is to install monit.
We think that if the Kura user wants to have the framework restarted, probably he will install monit by himself.

[2016-10-21 08:07] MMaiero commented on #384
Closing this in favor of #460

[2016-10-21 08:07] #384 closed

[2016-10-21 08:09] MMaiero commented on #403
@ibinshtok Can this be closed? Thanks

[2016-10-21 08:17] MMaiero commented on #419
@ctron Can this be closed?

[2016-10-21 08:18] #442 closed

[2016-10-21 08:20] #462 closed

[2016-10-21 08:23] MMaiero commented on #536
Closing in favor of #547

[2016-10-21 08:23] #536 closed

[2016-10-21 08:26] #564 closed

[2016-10-21 08:34] pierrepitiot opened #664 "Misconfiguration of eth0 (as dhcp server) filling /var/log directory and finally crashing kura"
After a incorrect configuration applied on eth0 (enabled for LAN with a manual address 10.129.3.2 AND DHCP and NAT enabled with a pool range 172.16.0.100 - 172.16.0.110), Kura try to start dhcpd but dhcpd is failing and reporting the following error in syslog and daemon.log:

Oct 18 23:18:53 rg-10-20 dhcpd: Internet Systems Consortium DHCP Server 4.2.4-P1
Oct 18 23:18:53 rg-10-20 dhcpd: Copyright

[2016-10-21 08:43] amitjoy opened #665 "Add Kura Wires Web Visualization Support"
This would add the visualization support to create dataflow graphs in Kura Wires using the Kura Web Console.

[2016-10-21 08:44] amitjoy commented on #665
@cdealti @MMaiero Could you kindly assign "Kura-Wires" label to this? It needs to be tracked as this is the remaining part of Kura Wires that needs to be committed.

[2016-10-21 09:02] ctron commented on #123
No, but I am also not sure if this should be. From what I know the `CloudService` is the proposed interface to use. I will chat with Henryk about that.

[2016-10-21 09:03] ctron commented on #186
No. But I can start writing something up when we approach the relase date of 2.1.

[2016-10-21 09:06] ctron commented on #321
Partly. Regarding `libudev` that was just a workaround. The real fix was in commit 156998fad87a04b28a3c1c75d0c1959a0d7181e9 . However this commit only provided a fix for x64_86 and we do need updates for ARM as well.

[2016-10-21 09:07] ctron commented on #364
I can think of a lot way to resolve this. A "forever loop script". A proper systemd configuration.

[2016-10-21 09:07] #419 closed

[2016-10-21 09:12] ctron opened #666 "Document all scripts and command line application which get called by Kura"
Right now Kura calls a bunch of command line applications. Those calls should be documented somewhere and also the expected behavior should be, at least briefly, documented.

So for example when I started up Kura on RHEL 7, parts stopped working since, by default, `lsusb` is not installed. However that fact is hidden deep inside the source code.

[2016-10-21 10:10] cdealti commented on #545
I've rewritten the repository history.
This can be closed.

[code]

[2016-10-21 10:10] #545 closed

[2016-10-21 11:40] LucaDazi commented on #342
@MMaiero I guess this can be closed. It has been thoughroughly tested during Kura Wires development.

[2016-10-21 11:47] #342 closed

[2016-10-21 13:46] dwoodard1 commented on #317
I think this is still an issue. Let me try and summarize:

- We are currently only distributing installers that include the web UI. It may be useful to include an installer without the UI bundle
- If we do provide this type of installer, we should make it clear in the installer name that the UI is not included
- There is a similar issue with the user workspace. Currently the version number is not

[2016-10-21 16:26] ctron opened #668 "Use gson instead of org.json"
I just saw that one of the new wires modules, which seems not to be in the main build, requires the "org.json" package. Now since that has been removed, with good reason, I would suggest to go with gson instead or something different which comes with OSGi support and is available from maven central out of the box.

[2016-10-22 06:43] amitjoy opened #670 "Missing Javadoc Comments in Wire Asset"

[2016-10-23 18:52] amitjoy commented on #670
@MMaiero Can you close this?

[2016-10-23 18:52] #670 closed

[2016-10-24 14:51] cdealti opened #671 "[Release 2.1.0] Create release branch"
I would create the release branch from develop commit 4e88d164891a1eee2d5382be8bed960bfa8e1258.

The history up to this commit will include #552 and #626 (needed for 2.1.0) but not include #580 #622 #602 #409 (not needed for 2.1.0).

[2016-10-24 15:49] nicolatimeus opened #672 "Improve Web Interface support for mobile devices"
This would improve Web Interface usability by adding a button to the header bar that allows to toggle the left panel on devices with small screen size. This would also make the UI look more compact reducing the size of margins and paddings.

![screen shot 2016-10-24 at 17 47 32](https://cloud.githubusercontent.com/assets/8960773/19652698/1784b236-9a12-11e6-8440-fed55fc4ba9a.png)
![screen shot 2016

[2016-10-24 15:56] ctron commented on #672
That looks great.

[2016-10-24 15:59] ctron commented on #671
So that would leave out Karaf support out of 2.1. and I really do think it would be great to get this started. Beside it doesn't hurt the default Kura.

[2016-10-24 18:46] dwoodard1 opened #673 "CloudServiceFactory deleteConfiguration"
We are currently exposing the createConfiguration(String pid) method in the OSGi console. I know this was a temporary work around until the UI was updated. However, if it is going to remain a console command, we should also include the deleteConfiguration(String pid) in the console.

[2016-10-24 19:02] dwoodard1 commented on #671
@ctron Are you referring to this commit a8cf4f791bb40d7d4bf9211e0733830e09680fd7? If so, I don't see a clean way of including that in the release branch. It was merged after several Kura Wires commits.

[2016-10-25 04:33] ctron commented on #671
I mean several commits after the wires commit. I don't think it hurts having Kura wires stuff in the next release. As long as it is not active and not advertised. But keeping the other commits out would mean that I have to maintain a fork of Kura for another full release cycle and always point people to my fork of Kura for demonstrations and examples. So more and more blog post and tweets will con

[2016-10-25 05:40] MMaiero commented on #671
@ctron Maybe I'm wrong, but the code for 2.2 will be in develop and all the changes will be there. So, why you will have to keep a separate fork of Kura? You can just point out that the code is in develop, because actually is in a development process and people can try out from there.

[2016-10-25 06:00] ctron commented on #671
Of course you are right. The code itself will be, or probably stay, in the development branch. So there would be no need to keep the forked repository, but we would still have to live with -SNAPSHOT dependencies.

Not too bad. Let's go with that. And let's try to get all the artifacts on maven central for 2.2.

[2016-10-25 11:05] cdealti commented on #539
I've given this a try. Nice work.
A few notes:
1. Trying with another CloudService provider I've obtained as a preview by @pgufAtIBM the order of the tabs representing the configurations of the stack layers in the **Cloud Services** menu appears to be alphabetical. Not a big deal but I guess it would be better to use the order returned by ``CloudServiceFactory.getStackComponentsPids`` i.e. the lef

[2016-10-25 18:12] amitjoy commented on #335
Yes

Amit Kumar Mondal
Phone: +49 176 8081 5427 Email: admin@amitinside.com(mailto:admin@amitinside.com)
Skype: arsenalnerk GitHub: a(http://blog.amitinside.com/)mitjoy
Blog: blog.amitinside.com(http://www.amitinside.com/)

Am 20. Oktober 2016 um 20:05:57, MMaiero (notifications@github.com(mailto:notifications@github.com)) schrieb:

[2016-10-25 18:35] dwoodard1 commented on #671
Created.

[2016-10-25 18:35] #671 closed

[2016-10-26 12:29] cdealti opened #674 "[Asset] Javadoc for Asset mentions BaseAsset"
@amitjoy Can you please correct?

[2016-10-26 13:46] amitjoy commented on #674
@cdealti Done.

[2016-10-26 13:57] #674 closed

[2016-10-26 20:39] dwoodard1 commented on #538
The CQ has been created: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12200

[2016-10-27 07:50] amitjoy opened #677 "Minify Wires Javascript Resource"

[2016-10-27 07:51] ctron commented on #677
Why should they be obfuscated?

[2016-10-27 07:55] amitjoy commented on #677
@ctron Because it's the core functionality for Wires Visualization. It incorporates the functionalities on how it is communicating with the Async calls and Server Sent Events for the wiring functionalities. So, I believe we can obfuscate it to prevent malicious users to potentially exploit it. Furthermore, it saves bandwidth eventually as the size gets smaller as well.

[2016-10-27 07:57] amitjoy opened #678 "Add Blog Post on Gogo Shell Commands for Kura Wires"

[2016-10-27 07:59] amitjoy opened #679 "CQ for Kura Wires Web Integration"
#676 includes the Web Integration for Kura Wires Visualization and Factory Instance creation.

[2016-10-27 07:59] amitjoy commented on #679
@cdealti @ctron @dwoodard1 @MMaiero Could you kindly file a CQ for the PR #676?

[2016-10-27 08:52] MMaiero opened #680 "[Legal] Update contributing.md file to specify header guidelines"
The contributing.md file should be updated to help contributors to provide a proper header for their contributions.
The contributing.md file should define rules for
- general structure,
- copyright years ranges,
- contributor names

that need to be placed in the contributed files.

[2016-10-27 10:00] amitjoy opened #681 "CQ for JointJS Updated Library"
We need to file a CQ for JointJS 0.9.9.

https://www.versioneye.com/javascript/clientio:jointjs/0.9.9

[2016-10-27 10:46] amitjoy commented on #681
@cdealti @dwoodard1 @ctron Would you kindly have a look at this?

[2016-10-27 11:08] kartben commented on #680
maybe also use this as an opportunity to add a quick blurb on how to look at, and use ZenHub?

[2016-10-27 11:37] amitjoy commented on #681
Actually we need to file CQ for the following files of the JointJS distribution.

- joint.min.js
- joint.min.css
- joint.shapes.devs.js

These files are inside the aforementioned distribution of JointJS.

[2016-10-27 12:51] dwoodard1 commented on #681
We have already filed a [CQ for JointJS](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12200) that was approved. Is this not sufficient?

[2016-10-27 13:09] dwoodard1 commented on #677
@amitjoy I assume you mean we will obfuscate the JS files during the build process, correct? We want to leave the plain text JS files in the repo so others can contribute.

[2016-10-27 13:11] MMaiero commented on #677
We meant minification first. We could also obfuscate later during the build, in order to give people that are forking Kura the capabilities to obfuscate their customized code.

[2016-10-27 13:12] MMaiero commented on #677
In any case, we plan to have it as a build step. The code, like for gwt, will be plain in the repository

[2016-10-27 13:18] dwoodard1 commented on #677
That makes sense for me. However, I think we should consider making minification optional in the build. Trying to debug minified JS is a nightmare. We could examine how Eclipse Smarthome is doing this, they use quite a bit of JS in their project.

[2016-10-27 13:21] amitjoy commented on #677
There is actually no need for obfuscation but minification. But for now, we can keep it as an open discussion. The current file size (w/o minification) is around 50 KB which is also less which would not create any problem apparently. If we minify, the structure and the variable names get changed as well. The comprehensive comments also get removed. So eventually it would be difficult for other con

[2016-10-27 13:22] MMaiero commented on #677
@dwoodard1 I agree: a look at their project can give us an idea on how to proceed

[2016-10-27 13:23] amitjoy commented on #677
@dwoodard1 @MMaiero I would have a look at it and let you know the procedure they have adopted.

[2016-10-27 13:36] amitjoy commented on #677
I browsed thorough the SmartHome repository and apparently they are keeping the plain JS files and the project is not at all using any such maven plugin or any ant task to minify those files. I am convinced that we need to leave room for other contributors to contribute as well. The minification would definitely make it difficult for contributors or commiters to further contribute.

[2016-10-27 13:41] dwoodard1 commented on #677
We absolutely must leave the JS in plain text in the repository. However, I think it would be wise to have the JS minified/obfuscated in the binary distributions (installers). There are several Maven tools to do this. Example: https://github.com/samaxes/minify-maven-plugin

[2016-10-27 13:45] ctron commented on #677
So I am against storing a minified version only in the repository. At least the original file should be there to allow further development. Not only from other contributors.

Adding this as a build step makes sense to me. But seeing this as a kind of security seems completely wrong to me. Security by obfuscation is not security.

I think we should in general think about modularization of the web U

[2016-10-27 13:46] ctron commented on #681
Also I think we need to submit non-minified versions.

[2016-10-27 15:35] amitjoy commented on #681
I think we need to refile a CQ for the specified version. I talked to Benjamin today about the probable time of getting it approved if we file it soon. He confirmed that as we have already filed a CQ for old version, it would not take time.

Amit Kumar Mondal
Phone: +49 176 8081 5427(tel:+49%20176%208081%205427) Email: admin@amitinside.com(mailto:admin@amitinside.com)
Skype: arsenalnerk GitHub: a(

[2016-10-27 15:35] amitjoy commented on #677
Yes you are right. That's what my intention is. For build, we can minify it as well.

Amit Kumar Mondal
Phone: +49 176 8081 5427(tel:+49%20176%208081%205427) Email: admin@amitinside.com(mailto:admin@amitinside.com)
Skype: arsenalnerk GitHub: a(http://blog.amitinside.com/)mitjoy
Blog: blog.amitinside.com(http://www.amitinside.com/)

Am 27. Oktober 2016 um 15:09:19, dwoodard1 (notifications@github.c

[2016-10-27 15:35] kartben commented on #680
maybe also a quick blurb on how to look at and use ZenHub?

On Thu, Oct 27, 2016, 10:52 MMaiero <notifications@github.com> wrote:

[2016-10-27 15:38] kartben commented on #677
Do you mean minimize, maybe? Because otherwise I have the same question as
Jens :-)

On Thu, Oct 27, 2016 at 9:51 AM, Jens Reimann <notifications@github.com>
wrote:

[2016-10-27 15:39] ctron commented on #681
Yes you need to file a CQ for each specific version and diff reviews are normally pretty quick.

[2016-10-27 15:44] amitjoy commented on #677
There is actually no need for obfuscation but minification. But for now, we can keep it as an open discussion. The current file size (w/o minification) is around 50 KB which is also less which would not create any problem apparently. If we minify, the structure and the variable names get changed as well. The comprehensive comments also get removed. So eventually it would be difficult for other con

[2016-10-27 15:45] amitjoy commented on #677
My proposition now is not to minify it at all for the development but we can use plugins as suggested by @dwoodard1 for minifying it for binaries.

[2016-10-27 15:46] amitjoy commented on #665
Fixed by #676

[2016-10-27 15:48] amitjoy commented on #681
It's actually in the archive as found in the aforementioned download link

Amit Kumar Mondal
Phone: +49 176 8081 5427(tel:+49%20176%208081%205427) Email: admin@amitinside.com(mailto:admin@amitinside.com)
Skype: arsenalnerk GitHub: a(http://blog.amitinside.com/)mitjoy
Blog: blog.amitinside.com(http://www.amitinside.com/)

Am 27. Oktober 2016 um 15:46:50, Jens Reimann (notifications@github.com(mailt

[2016-10-27 15:48] ctron commented on #677
I am less concerned about the 50kb for the JS file, but more about the complete bundle size including the GWT code.

[2016-10-27 15:57] amitjoy commented on #677
I believe we need a proper design discussion for modularizing Web Bundle. But it would definitely take time before we proceed modularizing it. We can use all the components as pluggable components to the Web Bundle. It is going to be  a complete revamp of the web bundle design.

[2016-10-27 16:00] ctron commented on #677
So, is there a number of how many bytes this PR will add? So maybe there is no need to think about this yes. If we know how much this is, we can make a decision.

[2016-10-27 18:02] dwoodard1 commented on #681
The filed CQ was approved for 0.9.9. I posted the wrong URL earlier, [here is the correct CQ](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=10983). You have to read through the entire CQ. We originally requested 0.9.6, but due to some problematic dependencies, we requested a change from the code author. They made the requested changes, and we requested to use a newer version (0.9.9). The last li

[2016-10-27 18:04] ctron commented on #681
That look all good already!

[2016-10-27 18:05] #681 closed

[2016-10-27 20:26] dwoodard1 opened #683 "Control Prefix in Request/Response"
The control prefix in CloudService was made configurable as many MQTT brokers didn't like the '$' prefix. However, this prefix is still coded in parts of Kura. This is impacting Request/Response communication in the CloudConfigurationHandler. The CloudService uses [KuraTopic](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/message/KuraTopic.jav

[2016-10-28 05:16] pstanton opened #684 "stopping via osgi> exit causes reboot via watchdog"
Kura 1.4.

Stopping kura via the "exit" command in the osgi console results in the machine rebooting shortly after.

I am assuming this is because the watchdog is not closed properly.

[2016-10-28 14:17] amitjoy commented on #679
@cdealti Any update on the CQ filing?

[2016-10-28 14:36] pierrepitiot commented on #684
We just realized that there was a nasty bug in watchdog service: when the watchdog is disabled the thread is terminated before having disabled the watchdog. I will create a PR to fix it in the next release.

Concerning osgi exit command it is working like a kill and do not stop the services cleanly.You should use osgi>shutdown or call /etc/init.d/kura stop. In this case the watchdog will be disabl

[2016-10-28 15:07] cdealti commented on #679
@amitjoy are there prerequisite CQs for #676?

[2016-10-28 15:17] amitjoy commented on #679
The dependencies required for this CQ:

1. JointJS 0.9.9 and its transitive dependencies such as Jquery and Backbone (Already approved in a CQ #681)
2. org.json which has been readded for Wires

[2016-10-28 15:32] cdealti commented on #679
Ah, OK. So it's just a matter of creating the CQ for this PR

[2016-10-28 15:33] cdealti commented on #679
@dwoodard1 can you take care of doing this today?

[2016-10-28 15:39] dwoodard1 commented on #679
Yes, but I don't really have time to go over all the changes (>6000 lines of code). I assume we can address issues after the CQ is approved.

[2016-10-28 15:58] cdealti commented on #683
@dwoodard1 The ``CloudCallService`` should not even be an API. It was only meant for testing purposes.
There are also some other things to consider given that CloudService is not a singleton anymore (MutlipleCloudConnections)

[2016-10-28 16:00] cdealti commented on #679
I think @LucaDazi is well aware of the PR and already checked everything is OK. But he is out of office today.

[2016-10-28 16:46] dwoodard1 commented on #683
@cdealti I agree regarding the CloudCallService, so the change here is less important. For the CloudService, I was thinking if we changed the constructor (or added an overload) of KuraTopic to to accept the control prefix from the CloudService, that should take care of Factories as well. This would also prevent API breakages if we overload.

[2016-10-28 17:06] amitjoy commented on #679
@cdealti You are completely right that @LucaDazi is well aware of this PR as he also has contributed to it in my fork.

[2016-10-28 19:24] dwoodard1 commented on #679
CQ created: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12201

[2016-10-29 08:57] amitjoy opened #686 "Copyright Header Guideline"
I am creating this issue to follow the conversation for copyright guidelines. So far, Kura uses the following copyright header for its source base.

[code]

Some projects (such as JUnit5) uses the following paradigm

[code]

So, clearly we need to have a fixed copyright header format to use in our source base.

[2016-10-29 08:59] MMaiero commented on #686
@amitjoy please continue on issue #680.

[2016-10-29 08:59] #686 closed

[2016-10-29 08:59] cdealti commented on #683
+1

[2016-10-29 09:00] amitjoy commented on #680
So far, Kura uses the following copyright header for its source base.

[code]

Some projects (such as JUnit5) uses the following paradigm

[code]

So, clearly we need to have a fixed copyright header format to use in our source base.

[2016-10-29 09:03] cdealti commented on #680
I believe this is the reference:
http://www.eclipse.org/legal/copyrightandlicensenotice.php

[2016-10-29 09:10] amitjoy commented on #680
So I believe it would be as follows for Kura -

[code]

[2016-10-29 09:12] MMaiero commented on #680
I think we have only to reference the fact that we use the Eclipse Copyright tool. So other contributors can align on it.
We can also point out the [reference](https://wiki.eclipse.org/Development_Resources/How_to_Use_Eclipse_Copyright_Tool) for this tool and [the official description](http://www.eclipse.org/legal/copyrightandlicensenotice.php) by the Eclipse Foundation, as correctly pointed out b

[2016-10-29 09:22] amitjoy commented on #680
Exactly! That would be good to use Eclipse Copyright Tool or JAutodoc for specifying the copyright header in the sources. But for the existing sources, we need to specify the header and how it should be done. For example, **_Kura Wires Core_** and **_Kura Asset Model_** currently use the following copyright:

[code]

but it needs to be changed according to Eclipse Copyright Guideline. I believe it

[2016-10-29 10:08] ctron commented on #680
+1 @amitjoy ... I would remove the email address though, I did that too in the past, but it clutters up the header pretty easily.

In addition I would however describe the contribution. That can be a bit vague, but just probide a hint about what was done.

[2016-10-29 10:15] amitjoy commented on #680
@ctron I agree completely that the email address clutters up the header. My proposition would be also not to add detailed information about every change made to the source as it clutters up the header too. I can write initial contribution as the description but if every other committer starts following the similar notion to add description to the header for every change, then it would be another m

[2016-10-29 10:17] MMaiero commented on #680
I agree with @amitjoy the description could make it a mess in a while and usually determines conflicts when rebasing.

[2016-10-29 10:38] ctron commented on #680
So I agree with you, yet most core Eclipse projects follow that way. And I think the basic idea is to describe changes made in bigger context. It is not a commit message.

I think that things like fixed bugs, bigger refactoring or major extensions should be mentioned. Problematic is the first time a new legal party is added, you shoukd write something. An empty line looks strange to me.

In the en

[2016-10-29 11:09] MMaiero commented on #680
@kartben As you have a clear overview between all the projects, what's your opinion on this topic?

[2016-10-29 15:19] amitjoy commented on #680
@ctron I understand your concern. If you consider any Web Bundle source file, it had been actually modified several times that the header would have been very large. Even if we go for description like "Fixed Bug #xxx" in the header, within few months, it would be accumulated to a big mess and that's where my concern underlies.

I believe, if we follow, the natural paradigm of adding proper git com

[2016-10-29 22:17] amitjoy opened #687 "Modify Kura Wires Core and Kura Asset Model Copyright Header"
I would love to work on it before the Wires Web Integration CQ gets approved.

[2016-10-29 22:18] amitjoy opened #688 "Modify Kura Wires Web Copyright Header"
I would work on it after the CQ approval.

[2016-10-31 09:06] ctron opened #689 "Upgrade to Camel 2.18.x"
There are a few fixes in Camel 2.18.x, most interestingly the dropped dependency on "sun.misc".

[2016-10-31 09:30] ctron opened #690 "Document how to get services into the Cloud Services UI"
I couldn't find any documentation on how to let a CloudService instance show up in the new cloud service UI. I would expect such information:

* In the javadoc of CloudServiceFactory
* In the Wiki
* In the documentation

I think this should be fixed in 2.1 release of Kura.

[2016-10-31 09:55] ctron opened #691 "NPE when CloudService isn't configured"
I can't fully grasp the situation at the moment. But it somehow seems that the new multi-cloud-service-ui cannot handle the situation where the actual CloudService instance is not configured by the ConfigurationService. The UI runs into a NPE.

Since most methods in the Web UI are undocumented, it is hard to figure out what is expected from the different services.

[2016-10-31 10:11] ctron commented on #680
As I tried to explain, I wouldn't expect full commit messages there. More like a group of work. And maybe this is just "bugfixing". But if you do look at other Eclipse git repositories, they do it too, even core Eclipse project which are way older than Kura [1], [2].

I just do think that we should follow the way most other Eclipse project do, instead of each and every time questioning that and go

[2016-10-31 10:31] ctron commented on #691
So to me it looks a bit like as if the UI does not take into account the actual configured components. It takes the "id" of the CloudInstance instance and assumes that it has some configuration in the ConfigurationService. However as far as I understood, the new method `getStackComponentsPids` should be in charge to return the actual PIDs of what makes up the stack.

[2016-10-31 10:38] ctron commented on #691
So when the Web UI is being built, I would expect the `getStackComponentsPids` to be called at least once. However a breakpoint being set at that methods does not get triggered.

[2016-10-31 10:53] ctron commented on #691
I think the issue is located in the method `void selectConnection(GwtCloudConnectionEntry selection)`, where, instead of the factory id is used, it is fishing for factory ID by reading out the configuration.

I would assume that a direct get with the method `selection.getCloudFactoryPid()` should already provide the factory ID.

[2016-10-31 11:39] ctron opened #692 "Drop default to 255 characters on data entry"
Currently there is a default limit to 255 characters when entering data in the Web UI. So if a component does not specify an upper bound, 255 is being used.

IMHO the upper limit in that case should be `Integer.MAX_VALUE`.

[2016-10-31 11:42] amitjoy commented on #680
@ctron For small classes containing less LoC, it would not create any problem but for classes of more than 500 LoC, I wonder that how many times that class would be modified and every time if we mention the bug in the header, it would eventually be a problem for other contributors to rebase. In Kura, the micro-service implementations, the controller classes in web bundle are huge. So, the header w

[2016-10-31 11:47] ctron commented on #680
Again, I am *not* saying that we should put a line for every change. But for groups of changes! Bigger topics. *Not* replicate git commit messages.

And I did make the suggestion to drop this altogether.

[2016-10-31 11:59] amitjoy commented on #680
So, in **Kura Wires** and **Kura Asset Model**, we have sources some of which have headers as follows:

[code]

and

[code]

The sources (all sources in **Kura Asset Model**) written solely by me contain only the **1st copyright header** and in **Kura Wires**, there exists sources which @LucaDazi and I worked on it together. Those sources contain the **2nd copyright header**.

In both the cases, t

[2016-10-31 12:05] ctron commented on #680
No, it doesn't. Either you (Amit) are the author or it is Eurotech. Both is fine, but then it must be in sync with the copyright line.

If you are counted as Eurotech staff, then the contributor is Eurotech and not you as a person.

If you (Amit) are the main author and Luca helped, the it would by "Amit and others".

This information has also to be in sync with the Eclipse IP log. So if this was

[2016-10-31 12:10] amitjoy commented on #680
But according to [1],

[code]

The {INITIAL COPYRIGHT OWNER} is Eurotech and {INITIAL AUTHOR} is Amit Kumar Mondal. This is what I understood from the detailed descriptions as mentioned in [1].

[1] - http://www.eclipse.org/legal/copyrightandlicensenotice.php

[2016-10-31 12:57] ctron commented on #680
So please take into account the full document then:

And:

Not just pick the things you like best.

[2016-10-31 13:26] amitjoy commented on #680
@ctron +1 for the comprehensive comment.

I would prefer adding names to the sources as it would be easier to know the concerned persons for further assistance. But I am open to suggestions.

@mcarrer @cdealti @dwoodard1 @MMaiero What do you guys think?

[2016-10-31 13:46] ctron commented on #680
So, let's follow the default of the Eclipse Foundation:

Copyright header line -> Legal entity + " and others"
Contributors -> Author (Legal Entity) + description of contributions

[2016-10-31 14:01] ctron commented on #668
The re-introduction of org.json effectively kills the Karaf compatibility.

[2016-10-31 16:28] ctron opened #696 "FileServlet fails with NPE when there is no MetaTypeInformation"
When the MetaTypeService returns a null pointer, the FileServlet fails with a NPE.

[2016-10-31 18:23] MMaiero commented on #680
In [1], [2] and [3] few references taken from current mainstream projects currently under development in the Eclipse foundation. Maybe I'm wrong, but honestly I've not found a common and always applied approach.
Personally I agree on Jens' suggestion for the copyright header line.
For the Contributors line I would leave the possibility to have the author name with legal entity or only the legal en

[2016-10-31 18:26] MMaiero commented on #691
@ctron could you point me to an example that causes this issue? Why that component has not to be tracked by the configuration service? Thanks

[2016-10-31 19:24] ctron commented on #680
@MMaiero you are just pointing to IoT projects. And I think only smart home actually has a release done. Neither of them has graduated. So I don't think they are good candidates.

But looking at smart home, it would completely remove legal entities from the copyright header. For vorto it would remove the authors. So it would only be Eurotech.

Only Milo, which I think is s bad example because it i

[2016-10-31 19:31] ctron commented on #691
Just use the camel cloud service factory.

[2016-10-31 19:35] MMaiero commented on #691
ok, tomorrow I'll do some tests

[2016-10-31 19:36] ctron commented on #691
Wednesday 😉

[2016-10-31 19:37] MMaiero commented on #691
yes, it's time for me to go to bed :-D

[2016-11-02 08:34] ctron commented on #680
EMO pointed me towards license@eclipse.org with that question.

Btw, the referenced document is dated 2005, but still is referenced in the more recent "Project handbook" in the same way [1].

And not to forget, it is true that Kura is using Git, which can track contributions. But also the Kura repository does host code which is authored outside the Kura git repository, like the "soda comm" depende

[2016-11-02 09:37] pierrepitiot commented on #684
PR #700 is fixing this bug

[2016-11-02 09:39] pierrepitiot commented on #684
@pierantoniomerlino could you please review this PR

[2016-11-02 10:11] amitjoy commented on #680
@ctron As you suggested, our proposition would be to have a copyright header as follows:

[code]

The contributors list is an optional element as it is mentioned in [1] and we believe it would be nice to not include it in the header at all.

[1] - https://www.eclipse.org/projects/handbook/#ip-copyright-headers

[2016-11-02 10:58] amitjoy commented on #688
Fixed by #676

[2016-11-02 10:59] amitjoy commented on #688
@ctron I have amended all the copyright headers in #676. Could you kindly have a look at it?

[2016-11-02 12:10] ctron commented on #680
And the other document you were referring to strongly suggested to use it anyway.

My proposal was to a) wait for Eclipse License to respond and use a standard header without explicit naming, b) go with the eclipse default way, complete, not just partially.

[2016-11-02 13:04] ctron commented on #672
Can you provide a PR?

[2016-11-02 13:06] MMaiero commented on #672
A PR is on the way, but it will not be available for 2.1.0

[2016-11-02 13:08] amitjoy commented on #672
I had a conversation with @nicolatimeus and it is currently in progress. @nicolatimeus is interested to work on making Wires Composer UI compatible with the current changes. So, my speculation is that there will be a PR after the Wires Web gets integrated to develop.

[2016-11-02 13:16] amitjoy commented on #680
@ctron The document [1] that you referred is the recently updated document and the other one [2] is very old. That's why I believe we can use the proposed copyright header as it doesn't create any further confusion regarding the contributors and contributions. On the other hand, the headers in all sources would be clean and identical everywhere.

[1] - https://www.eclipse.org/projects/handbook/#ip

[2016-11-02 13:30] ctron commented on #691
Ok, I think this can be fixed by refactoring the Web UI 2 in way that the factory ID is discovered and not provided. `org.eclipse.kura.web.server.GwtCloudServiceImpl.findStackPidsByFactory(String, String)` could use the actual property from the service referenced instead.

I will give it a try.

[2016-11-02 13:46] MMaiero commented on #539
@cdealti I've created PR #703 to address those issues. In particular for points 1 and 3.
Regarding point 2 it was caused by commit  ff8000ecfbf8557184869dbf488dfb53f38e0c2f. I suppose that that duplication is not needed so, in the PR, I've removed the code.

[2016-11-02 13:48] MMaiero commented on #539
As pointed in another issue, we are missing some integration documentation that should be published in Kura site, in order to help people to integrate their cloud services, but I think that what described in this issue is a good starting point.

[2016-11-02 14:07] ctron commented on #680
@amitjoy [1] actually points [2] .. so why do you think it is outdated?

[2016-11-02 14:10] amitjoy commented on #680
The last updated date of [2] is quite old and whereas the last updated date of [1] is quite recent.

[2016-11-02 14:13] ctron commented on #691
So with the bugfix it works for me both ways. I did create a PR on the release branch.

[2016-11-02 14:50] ctron opened #706 "Run unit tests on Travis"
The Travis CI build should be configured to run unit tests for validation.

[2016-11-02 14:50] ctron commented on #680
And since [1] points to [2] I don't think it supersedes [2].

[2016-11-02 14:55] amitjoy commented on #680
@ctron I believe as [1] mentions that the contributors list is just an optional one then we can remove that section. The documents [1] and [2] don't even mandate developers to use the contributors list as well. It would definitely make life easier 😉.

[2016-11-02 15:04] MMaiero commented on #678
@amitjoy Maybe we can close this as we will merge soon the webUI integration?

[2016-11-02 15:04] ctron commented on #680
So I will sum up up again ....

* [1] points to [2]
* No one supersedes the other
* Both make it optional
* Still [2] strongly recommends projects to make use of proper attribution
* [2] also gives reasons why to do it
* Using Git doesn't solve the issue when files get ripped out of the repository, then proper attribute by the use of Git is lost
* Most Eclipse projects follow that and seem to have

[2016-11-02 15:07] MMaiero commented on #664
@pierrepitiot Do you think this issue should be addressed in 2.1.0?

[2016-11-02 15:15] amitjoy commented on #678
Yeah sure.

[2016-11-02 15:16] amitjoy commented on #680
👍

[2016-11-02 15:19] MMaiero commented on #642
We will change the raspberry pi 2 distribution renaming it as raspberry-pi-2-3

[2016-11-02 15:24] pierrepitiot commented on #664
As the logrotate policy active on gateways currently produced is taking care of the disk filling I don't think it is urgent. We can postpone it.

[2016-11-02 15:27] MMaiero commented on #631
Hi all, is this still an issue?

[2016-11-02 15:29] pierrepitiot commented on #631
Not for me

[2016-11-02 15:29] MMaiero commented on #612
Ticket closed. Closing the issue

[2016-11-02 15:29] #612 closed

[2016-11-02 15:33] MMaiero commented on #583
Closing for now

[2016-11-02 15:33] #583 closed

[2016-11-02 15:37] MMaiero commented on #572
For 2.1.0 we can remove the stack trace. This will at least improve readability.
For 2.2.0 or later we can try to find out a better way to communicate errors to users.

[2016-11-02 15:41] MMaiero commented on #557
@ctron could we move this to 2.2?

[2016-11-02 15:44] MMaiero commented on #547
@cdealti Do we plan to fix this in 2.1.0 or 2.2.0?

[2016-11-02 15:50] MMaiero commented on #631
Ok, so closing for now

[2016-11-02 15:50] #631 closed

[2016-11-02 15:51] ctron commented on #557
If possible I would like to add this in 2.1, otherwise I would need to distribute it with the AMQP package and the will create a clash in future versions.

I will create a PR right away.

[2016-11-02 16:02] MMaiero commented on #466
@ctron Could we close this as the web ui now supports the removal of cloud services?

[2016-11-02 16:03] MMaiero commented on #465
I think that now this is solved, right @ctron?

[2016-11-02 16:07] MMaiero commented on #339
Closing, as status menu does not manage connections

[2016-11-02 16:07] #339 closed

[2016-11-02 16:09] MMaiero commented on #297
@LucaDazi Could you please repost the PR that solves this issue?

[2016-11-02 16:11] #403 closed

[2016-11-02 16:12] ctron commented on #466
I think this is still an issue. True, the Web UI can let you configure multiple instances now.

But with every start there is still an unconfigured instance, throwing MQTT errors and providing a non-working instance.

But this is not something we should target for 2.1 anymore.

[2016-11-02 16:13] ctron commented on #465
@MMaiero Yes, I've seen that a few minutes ago.

[2016-11-02 16:13] #465 closed

[2016-11-02 16:14] MMaiero commented on #222
@LucaDazi Could you please repost the PR?

[2016-11-02 16:15] MMaiero commented on #136
@kartben Do you have some suggestions on this topic?

[2016-11-02 16:17] #176 closed

[2016-11-02 16:18] MMaiero commented on #181
@ibinshtok @pierantoniomerlino What we should do for this issue? Do you have a PR that solves it? Or we move it to 2.2.0?

[2016-11-02 16:18] #174 closed

[2016-11-02 16:33] MMaiero commented on #684
@pierrepitiot Can we close this now?

[2016-11-02 16:37] #684 closed

[2016-11-02 16:39] MMaiero commented on #355
@cdealti this issue is pretty old, referring to release 2.0. Do we need to solve in 2.1.0?

[2016-11-02 17:10] ctron opened #709 "Remove 'additional.bundles' from 'build.properties'"
Since tycho doesn't make use of this property I suggest to remove it and keep using the actual package imports, which are required anyway.

Having `additional.bundles` in addition only lets you run into issues where the IDE successfully compiles, while Tycho will fail.

The only reason to actually use those are compile time dependencies like the OSGi DS annotations.

[2016-11-02 17:50] MMaiero commented on #315
http://eclipse.github.io/kura/doc/raspberry-pi-quick-start.html
http://eclipse.github.io/kura/doc/beaglebone-quick-start.html
Done.
@dwoodard1 If it is ok, I think we can close

[2016-11-02 18:16] EndruBoy commented on #153
Hello,
can I ask what's the status of this feature? I plan to deploy a bundle with a simple REST API to Kura but still investigating if it's possible.

[2016-11-02 18:41] dwoodard1 commented on #692
Addressed with #693

[2016-11-02 18:41] #692 closed

[2016-11-02 19:30] ctron commented on #153
I think we could go two ways. I know that the whole JAX-RS stack with swagger and the "hstaudacher" implementation is approved by the Eclipse Foundation. So we could just add that.

Or we could leverage some functionality from Karaf.

[2016-11-02 19:31] ctron commented on #315
+1

[2016-11-02 19:37] #315 closed

[2016-11-03 09:42] pierantoniomerlino commented on #635
@PeterTaylor01 Thank you for reporting this bug. The issue is indeed in the loop condition. PR #713 fixes the bug.

[2016-11-03 14:15] ibinshtok commented on #181
@MMaiero @pierantoniomerlino I think we should probably move it to 2.2.0

[2016-11-03 14:31] pierantoniomerlino commented on #181
@ibinshtok @MMaiero I agree on postponing the issue.

[2016-11-03 14:32] MMaiero commented on #181
Thank you guys, postponed to 2.2.0

[2016-11-03 15:15] ctron opened #714 "Deprecate the use of Kura*Exception"
I would like to start a discussion around the use of Kura*Exceptions.

To me it seems this is no longer really used in Kura and I would like to suggest to (not technically) but deprecate the use of it. New functionality uses existing, standard Java exception likes NullPointerException, IOException, … instead of wrapping everything inside a Kura*Exception which actually hides the real reason.

@cde

[2016-11-03 15:35] amitjoy commented on #714
I am not sure if I am correct but so far according to my opinion, I believe the use of such custom exceptions are meant for specifying a segregation between lower layer and higher layer. I believe such specification on custom exceptions are required to never let the implementation specific checked or unchecked exceptions escalate to the higher layers.

My proposition is to never throw lower level

[2016-11-04 07:50] ctron commented on #714
So I do think that the authors/designers/architects of Java mostly did a good job in designing exceptions over the last years. People do know what the mean and when a NullPointerException comes along, they now what to look for. There is whole bunch of well documented exceptions for different scenarios.

From what I have learned over many years is that, every now and then, with a new project, some

[2016-11-04 08:35] Coduz commented on #714
Hi @ctron,

you mean remove the usage of all Kura*Exception and start throwing Java exception? Or deprecate the usage of KuraException and wrap exceptions on more specific exception (i.e: KuraConfigException("Cannot find config file xyz", IOException ioe)?

_Alberto_

[2016-11-04 11:17] #619 closed

[2016-11-04 11:20] #538 closed

[2016-11-04 11:21] #265 closed

[2016-11-04 12:54] MMaiero commented on #557
Merging now. As discussed with @ctron, this change will be in develop branch as soon as the release of 2.1.0 will be completed.

[2016-11-04 12:54] #557 closed

[2016-11-04 14:04] ctron commented on #714
So after having a chat with @MMaiero and @cdealti we agreed on the following proposal:

1) If there is an exception in `java.**` already then it can be used or re-thrown, also on Kura APIs
2) If the author wants to make use of Kura\*Exception, then this is ok, but has to be done in specific way, using an actual error code, not just "internal error". Otherwise use a standard Java exception. If new

[2016-11-04 14:34] ctron commented on #668
As discussed today the plan is as follows:

1) Merge Kura Wires CQ
2) Replace with GSON right afterwards
3) Do this before the first milestone of 2.2.0

[2016-11-04 14:39] ctron commented on #460
Migrate to Equinox 3.11 and set Java 8 as a minimum requirement for Kura.

I think it would be a good idea to put the minimum requirement in the README.md file?!

[2016-11-04 14:41] ctron opened #715 "Provide P2 repository of Kura on download.eclipse.org"
We should provide a P2 repository (zipped and unzipped) on download.eclipse.org for Kura.

This can be a manual step after the release has been performed. Of course it should involve as little manual interaction as possible.

[2016-11-04 14:43] ctron opened #716 "Create a simple Camel Java DSL based example publisher"
We create a simple Camel Java DSL based example publisher which can take care of switching the CloudService instance.

This could be a simple copy of the Camel quickstart, but simply providing one component (java, no XML) and adding more data types maybe.

[2016-11-04 15:16] amitjoy commented on #714
@ctron +1

I completely agree that the `KuraErrorCode` must be enhanced with more context specific Error Codes so that the higher level application would know what the exception is.

[2016-11-04 18:45] dwoodard1 commented on #640
@ctron @MMaiero Can we close this with the #644 merge?

[2016-11-04 19:27] MMaiero commented on #640
I think we can close. Eventually we can reopen it later.

[2016-11-04 19:27] #640 closed

[2016-11-04 20:37] dwoodard1 commented on #588
Fixed, thanks @msaiducar

[2016-11-04 20:37] #588 closed

[2016-11-04 21:00] dwoodard1 commented on #715
Do we want the P2 on PackageDrone and download.eclipse.org? Is there a reason to have it in both?

[2016-11-04 21:09] ctron commented on #715
No. Let's just have it on download.eclipse.org. It is the proper download location and can be used with the mirror system. The public Package Drone instance is more for use in the build process. It cannot scale like the download infrastructure.

[2016-11-04 22:51] ibinshtok opened #721 "Unnecessary toggles eth0 interface when wlan0 interface is disabled on Raspberry Pi."
I saw this when testing release-2.1.0 on Raspberry Pi 2.

[2016-11-05 10:08] #642 closed

[2016-11-05 11:24] MMaiero commented on #641
Merged PR #648 into develop

[2016-11-05 11:33] MMaiero commented on #641
Change actually cherry-picked also to release-2.1.0.
Closing issue

[2016-11-05 11:33] #641 closed

[2016-11-07 08:38] ctron opened #722 "Create a container image for cross compiling all Kura native code"
There should be a docker/vagrant/foobar container which can compile all Kura binaries.

IMHO this should be:
* some sort of Makefile for creating the binary container image
* some binary container image which can be uploaded to some sort of repository
* some sort of Makefile which can then be used to build/rebuild all Kura native binaries in that container with a single step

I would vote for this

[2016-11-07 08:38] ctron commented on #722
The first step should be to list the cross compilers and libraries which are required.

@dwoodard1 @MMaiero @cdealti  Can you help with this?

[2016-11-07 09:25] cdealti commented on #189
@ctron this will be closed once #704 is merged and the Camel Cloud Factory is removed from the generic Web UI Services

[2016-11-07 09:52] ctron commented on #189
Exactly, so after all the pending PRs around the Web UI are merged into the release branch, I will issue another PR which removes the custom Web UI.

[2016-11-07 10:51] #635 closed

[2016-11-07 14:13] dwoodard1 commented on #722
This is a good idea and work we started some time ago. After the v2.1.0 release, l will revive the work we have already done so we aren't starting from scratch.

[2016-11-07 14:44] cdealti opened #724 "[Release 2.1.0] Check API packages versions"

[2016-11-07 16:41] nicolatimeus opened #725 "Serial receive timeout is not forwarded to javax.comm.CommPort"
The timeout parameter specified in a CommURI currently is not forwarded to javax.comm.CommPort and so the read() calls performed on an ImputStream associated with a serial port will not time out.
The timeout can be enabled using the javax.comm.CommPort.enableReceiveTimeout() method.

[2016-11-07 17:01] ctron commented on #725
This is indeed a bug in Kura:

The serial port is opened with:
[code]
However this timeout is the timeout for opening the com port: [1]

The only quick fix I would see is to use the same timeout value for opening and the actual communication.

[1] https://docs.oracle.com/cd/E17802_01/products/products/javacomm/reference/api/javax/comm/CommPortIdentifier.html#open%28java.lang.String,%20int%29

[2016-11-08 08:55] #683 closed

[2016-11-08 09:11] ctron opened #726 "Release notes of Kura 2.0.2 point to 2.0.1"
The release notes of Kura 2.0.2 on [1] point to "2.0.1"

[1] https://www.eclipse.org/kura/downloads.php

[2016-11-08 09:13] ctron opened #727 "Unable to download older releases of Kura"
On the website of Kura you can only see the most recent version of Kura. It seems not possible to list or download older versions.

[2016-11-08 09:17] ctron opened #728 "Add the existing Oomph setup to the Eclipse catalog"
The already existing Oomph setup should be added to the Eclipse Installer catalog. This has to be done by raising an issue [1] and pointing to the raw file in the git repository.

I there are no objections I would trigger this is in the next weeks.

[1] https://wiki.eclipse.org/Eclipse_Oomph_Authoring#Contributing_to_a_Project_Catalog

[2016-11-08 09:32] ctron opened #729 "Fix website to follow trademark guidelines"
Currently the website does not follow the Eclipse trademark guidelines at all [1].

At least in the header it should the "Eclipse Kura™ is an iot.eclipse.org" project.

[1] https://eclipse.org/legal/logo_guidelines.php

[2016-11-08 12:30] PeterTaylor01 commented on #635
@pierantoniomerlino Thank you for resolving that.

[2016-11-08 16:59] ctron opened #732 "Unable to configure CloudService instance when component gets unregistered"
I think this is the same situation as with the `ConfigurableComponent`. If the `CloudServiceFactory` wants to create a new instance, it **must** result in the creation of a CloudService instance with OSGi, if it is usable or not. Otherwise the Mulit-Cloud-Service Web UI can no longer configure the instance in order to correct the issue.

To me it looks like the issue with `ConfigurableComponent` w

[2016-11-08 21:39] dwoodard1 commented on #714
I believe the rules defined by @ctron will help improve error handling in Kura. Should we take the step of removing unhelpful error codes (i.e. "internal error")? Maybe this is not necessary as it could break applications using the code, but I agree these types of error codes should not be used in the Kura framework.

[2016-11-09 08:16] ctron commented on #714
I wouldn't actually remove "internal error". But maybe place a comment that it is discouraged to use. And later on maybe even technically deprecate "internal error".

@MMaiero  @cdealti  @dwoodard1 So can be close this with the resolution of my comment above?

[2016-11-09 08:25] ctron commented on #732
@MMaiero @cdealti I would like to have a short chat with you about this one. Since it somehow seems to me that we are replicating the mistakes of the configuration service again. And there may still be time to fix this.

[2016-11-09 10:24] ctron opened #734 "Unable to deploy two DPs which share the same bundle"
If you deploy two DPs which share the same bundle, the second DP will not be activated but fail with an exception. For example:

[code]

I do know that, from an OSGi perspective, this "works as designed". But with Kura targeting the Eclipse Marketplace it may get difficult to get some addons working together.

I think we should look into the direction of something like OSGi subsystems which could

[2016-11-09 10:29] cdealti commented on #734
This is expected and documented in the Deployment Admin spec.
If a bundle is already installed or is managed by the Deployment Admin as part of a different Deployment Package then what you describe above is correct.
Closing this because it's not a bug.

[2016-11-09 10:30] amitjoy commented on #679
@ctron @cdealti Any update on this CQ?

[2016-11-09 10:32] amitjoy commented on #680
@ctron Did you get any response from the Eclipse Legal Team on this regard?

[2016-11-09 13:38] ctron commented on #734
I still think that we should somehow, in the future, support this. By having an alternative to the current deplyoment admin.

[2016-11-09 13:40] #714 closed

[2016-11-09 13:41] ctron commented on #680
Yes I did.

So both documents [1] and [2] are still valid. Not outdated. The way SmartHome did this is not an option.

So I would vote for letting it is as: Copyright <legal entity> and others, Contibutor: <legal entity>

[2016-11-09 13:41] MMaiero commented on #714
We can maybe open an issue only to track the effective implementation of what we decided

[2016-11-09 13:43] ctron commented on #714
@MMaiero So is there some sort of "code style" document where this could be added?

[2016-11-09 13:57] MMaiero commented on #714
not really. For now I would create a section in the contributing.md file. When we will have a sufficient number of directives we will eventually create a separate document

[2016-11-09 14:05] dwoodard1 commented on #679
It is still waiting for PMC approval. We have asked Eclipse legal to focus on CQs related for the v2.1.0 release. After these are closed, we can ask for a status update on this.

[2016-11-09 14:17] dwoodard1 commented on #680
I also reached out to Eclipse Legal. The agreed upon header will be:

Copyright (c) 2016 <Company> and/or its affiliates and others

  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

If contributors have a s

[2016-11-09 14:50] ctron opened #736 "Kura installer continues despite errors occurred"
Despite errors occur during the run of the Kura installer, the script continues to run:

[code]

[2016-11-09 14:50] ctron commented on #736
I do think that such scripts should be run with `set -e`

[2016-11-09 15:21] ctron opened #737 "Fedora distribution fails to start up"
It seems as if the Fedora distribution fails to start up due to the linker error with `libudev.so.0`

[2016-11-09 16:06] cdealti commented on #737
Duplicate of #321?

[2016-11-09 16:27] ctron commented on #737
Well I would count #321 as the root of all evil. But AFAIK there should be some workaround in 2.1 which creates a symlink. Seems this workaround is not working.

The proper fix for this would have been in PR #622, but it seems not to be in the 2.1 release branch.

[2016-11-09 16:33] ctron commented on #714
Ok fine .. I will prepare a PR after #731 has been merged.

[2016-11-09 16:37] cdealti commented on #737
Isn't libudev.so.0 available from any package in Fedora?
If not, cannot you add the recompiled library linking libudev.so.1 from your #622 to the 2.1 release branch?

[2016-11-09 16:41] kaikreuzer commented on #680
Yeah, many thanks for pointing them to us 😛

@dwoodard1 Isn't there the initial legal entity missing?

[2016-11-09 18:48] ctron commented on #737
No. I can do that, yes.

[2016-11-09 18:50] ctron commented on #680
I really like @MMaiero idea. I would've liked to do the same. Sorry for that.

[2016-11-09 19:57] dwoodard1 commented on #680
@kaikreuzer That was a copy/paste/markdown mishap. The legal entity was enclosed in <> which didn't show up. The legal entity absolutely needs to be there. The header would look like this:

Copyright (c) 2016 Eurotech and/or its affiliates and others

  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which a

[2016-11-09 21:21] dwoodard1 commented on #679
@amitjoy I spoke too soon, it looks like this is getting approved soon. Please make sure the header information is updated to be consistent with #680. I will let you know when we get the official go ahead.

[2016-11-09 21:24] amitjoy commented on #679
@dwoodard1 The current header in #686 is as follows:

[code]
I believe this has been discussed in #680.

[2016-11-09 21:26] amitjoy commented on #679
and in modified files, it contains the first year and modification year in the header also.

[code]

[2016-11-09 21:29] amitjoy commented on #687
I would amend the copyright headers within this week.

[2016-11-09 21:35] dwoodard1 commented on #679
Yes. Perfect. Thanks.

[2016-11-10 09:06] kaikreuzer commented on #680
Did license@eclipse.org come up with any legal reason WHY this needs to be there?

Btw, using

is not correct according to [2], in case a file is first created by e.g. someone from RedHat. So I would claim that your decision does not fullfil the requirements in [2] - although seeing that almost every Eclipse project handles it that way of course...

[2016-11-10 09:12] ctron opened #741 "Remove MaxPermSize argument"
Every time I start up Kura I get a reminder that MaxPermSize is deprecated:

[code]

I think it time to remove this for Kura 3.0

[2016-11-10 09:20] ctron commented on #680
Not really. I would see "and others" the same as "respective" ...  and am waiting for an answer myself.

Yes ... so the template should not be `Copyright (c) 2016 Eurotech and/or its affiliates and others` but `Copyright (c) 2016 <Initial Copyright Holder> and others` or `Copyright (c) 2016 <Initial Copyright Holder>`

And I do think it is important since I already saw PRs from "others" marking th

[2016-11-10 09:28] cdealti commented on #732
@ctron before opening new bugs, is this somewhat related to the latest part of the discussion of #466?
Unless this is an entirely new issue (you did not describe the use case in this PR) I believe it does not need to be addressed for 2.1.0?

[2016-11-10 09:30] kaikreuzer commented on #680
...although this is the procedure in 95% of the Eclipse project as far as I can see.
And this was exactly the issue I tried to address with the "respective" - it would allow to have the same copyright header on all files of the project, thus making it easy to automatically check for its existence and to update e.g. the year. I don't feel it is beneficial to anyone to end up with 50 different heade

[2016-11-10 09:42] ctron commented on #732
I don't think this is related to usse #466. And I do think this should be addressed for 2.1.0. If we define and release an interface and behavior now, we will be bound to it for some time and I do think this requires a small change in `CloudServiceFactory` in order to resolve it.

Beside it could explain the issue @MMaiero encountered.

[2016-11-10 09:45] ctron commented on #680
I fully agree. And I do like the approach. No need to think about this anymore. I really had hoped to get this approved.

[2016-11-10 09:46] cdealti commented on #732
Can you please prepare a live demo of what's going on before the call?

[2016-11-10 10:18] ctron commented on #732
So the proposal is to add a method to the `CloudServiceFactory` API which allows the factory to provide a list of service PIDs for `CloudService` instances it covers. The Web UI will query the `CloudServiceFactory` instances for their services instead of finding them out by itself.

This allows each factory implementation to provide custom logic on its `CloudService` instances.

[2016-11-10 10:20] ctron commented on #721
It looks like I am running in the same issue while testing with the 2.1 release branch. Any ideas on that one?

[2016-11-10 10:21] ctron commented on #721
Is there a workaround?

[2016-11-10 10:28] ctron commented on #737
The question is just how to change the platform filter?

[2016-11-10 10:39] ctron opened #742 "Unable to establish stable network connection on Fedberry"
This may be related to #721 but I am not sure.

While testing with Fedberry 24 I constantly run into issues where the network connection to the Raspberry PI is terminated and the PI is not evening pingable anymore.

I dug a bit through the Kura code and found a few locations where there are special cases for "Intel Edison", although they are more related to "systemd" instead.

Maybe there is an is

[2016-11-10 10:43] ctron commented on #742
@ccustine Do you have any idea what could go wrong?

[2016-11-10 10:44] ctron opened #743 "WLAN not detected as WLAN on Fedberry"
While investigating issue #742 I recognized that the interface `wlan0` is not being detected as a wireless interface.

[2016-11-10 13:02] #687 closed

[2016-11-10 14:00] dwoodard1 commented on #680
@kaikreuzer The legal entity would be with respect to the original creator of the file. So, yes, if Red Hat was the initial contributor, the header would have Red Hat, Inc as the legal entity. I am not sure what you mean by "respective", do you have an example of this?

Certainly it would be ideal to have one header for all files in the project. I don't think Eclipse legal is to strict on the lega

[2016-11-10 14:32] kaikreuzer commented on #680
This was only referring to the [link given above](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.id/src/main/java/org/eclipse/smarthome/core/id/InstanceUUID.java#L2).

But ok, thanks for clarifying. So the decision for Kura actually IS to have different headers, depending on who first created a file.

[2016-11-10 14:46] dwoodard1 commented on #680
Yes, exactly. As you said, this is not ideal because we could have many different headers in our source code. However, this method does provide proper credit to the originator of the work. Due to the latter is why we decided to use this approach. I have not researched this, but I am hoping some of the Maven licensing plugins are "smart enough" to handle this for updating years when needed.

[2016-11-10 18:18] cdealti commented on #680
Kai, it's dangerous to use this verb here... ;)

[2016-11-10 20:10] kaikreuzer commented on #680
Haha, you are not trying to tell me that you even write the license header letter by letter yourself ;-)

[2016-11-10 21:50] dwoodard1 commented on #679
The CQ has been approved, please move forward with merge.

[2016-11-10 22:20] dwoodard1 commented on #680
I have updated the Kura [contributing.md file](https://github.com/eclipse/kura/blob/develop/CONTRIBUTING.md). I would like to close this issue. I feel if we want to continue discussing options we should do so on a mailing list that includes the rest of the working group and Eclipse legal.

[2016-11-11 09:10] ctron commented on #680
I think there are two typos in the change you made ... see PR #748

[2016-11-11 13:29] #680 closed

[2016-11-11 15:22] #649 closed

[2016-11-11 15:40] dwoodard1 commented on #136
Done: http://www.slideshare.net/eclipsekura.

[2016-11-11 15:40] #136 closed

[2016-11-12 07:32] ctron commented on #716
Provided in PR #746

[2016-11-12 07:32] ctron commented on #204
This was done by PR #365

[2016-11-12 07:32] #204 closed

[2016-11-13 00:48] amitjoy opened #749 "CQ for minimal-json"
The idea is to replace `org.json` with `minimal-json` as it is very lightweight and it is used by many other eclipse projects.

The Github URL: https://github.com/ralfstx/minimal-json
The Source Code: https://github.com/ralfstx/minimal-json/releases/download/0.9.4/minimal-json-0.9.4-sources.jar

The benchmark comparison with other renowned JSON libraries: http://bit.ly/2fuGlFf

[2016-11-13 00:49] amitjoy commented on #668
#749

[2016-11-14 02:42] amitjoy opened #750 "Replace org.json references with minimal-json"
This is to track the progress of replacing `org.json` references with `minimal-json` from all kura sources.

[2016-11-14 02:51] amitjoy commented on #668
#750

[2016-11-14 03:13] amitjoy commented on #749
#750

[2016-11-14 08:42] cdealti opened #751 "[DbDataStore] defrag and checkpoint are not per-table operations"
DbDataStore exposes two methods ``defrag`` and ``checkpoint`` that act on the entire DB and not on the DB table associated with the DbDataStore.
When multiple ``DbDataStore`` instances exists (since the introduction of the multiple cloud connections feature), each ``HouseKeeperTask`` instance will periodically call ``defrag``, potentially concurrently.

[2016-11-14 08:44] ctron commented on #749
This should be an easy piggyback.

Can we wait until the IP log for 2.1 is approved?

[2016-11-14 08:57] cdealti opened #752 "[DbDataStore] repair is very slow on big tables"
The ``repair`` operation contains a DB query to detect duplicates of the primary key (which should not occur).
The operation was added due to this [bug](https://sourceforge.net/p/hsqldb/discussion/73674/thread/a08046eb/).

The query has shown to take a very long time (in the order of minutes) on relatively large **file** databases (for example enabling the "almost persistent" configuration in kura

[2016-11-14 09:35] pierantoniomerlino opened #753 "libhidapi not correctly compiled for armv5"
The libhidapi.so library is not correctly compiled for armv5 platforms.
The programs that use it output a "Illegal instruction" error.

[2016-11-14 09:53] amitjoy commented on #749
@ctron 👍

[2016-11-14 14:46] dwoodard1 commented on #749
The IP log for v2.1.0 has been approved: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12250

[2016-11-14 14:49] amitjoy commented on #749
@dwoodard1 @ctron @cdealti We can go ahead in filing the CQ for minimal-json. I would try to make a pull request amending all the necessary changes for #750.

[2016-11-14 14:58] ctron opened #757 "There should be a way to start/stop OSGi bundles from the Web UI"
Currently there is list of OSGi bundles on the Web UI, but there is no way to stop or start bundles. There should be way to stop and start OSGi bundles from the Web UI as well, like it is available from the command line.

[2016-11-14 15:04] dwoodard1 commented on #757
Agreed. This is a deprecation. We had this feature in the old UI ( <v2.0.0), but it was lost in the transition. The code can be revived from the deprecated org.eclipse.kura.web bundle.

[2016-11-14 15:07] ctron commented on #749
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=12262

[2016-11-14 15:09] dwoodard1 commented on #757
https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.web/src/main/java/org/eclipse/kura/web/client/device/BundlesTab.java

[2016-11-14 15:29] ctron commented on #728
Started process:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=507482

[2016-11-14 15:40] dwoodard1 commented on #721
This has been a persistent issue in Kura for some time. I don't think we can address this before the v2.1.0 release.

[2016-11-14 15:51] dwoodard1 commented on #355
This will be covered by #724

[2016-11-14 15:51] #355 closed

[2016-11-15 08:58] ctron commented on #721
So do we also drop support for Fedora then?

[2016-11-15 09:09] MMaiero commented on #721
uhm, why? I tested very briefly the distribution on my raspberry pi 2 with fedberry, but I had no big issues. Or, at least, eth0 was working fine.

[2016-11-15 09:12] ctron commented on #721
When I dropped it into Fedberry 24, then the eth0 was constantly being dropped.

[2016-11-15 10:33] #716 closed

[2016-11-15 10:50] ctron commented on #728
Done.

[2016-11-15 10:50] #728 closed

[2016-11-15 10:52] cdealti commented on #737
Since we have a new ``fedorapi`` profile where ``kura.os.version`` is set to ``fedora`` I would set the filter to the one below.

```lib/linux/x86_fedora/libEurotechLinuxUdev.so; osname=Linux; processor=x86; selection-filter="(&(kura.os.version=fedora))"```

[2016-11-15 12:51] nicolatimeus opened #763 "Improve the network configuration section of the Web UI"
The current implementation of the help system in the network configuration section is not usable on mobile devices.

This would address this issue by adding help buttons next to the configuration items that trigger a pop-up panel containing the help text. The buttons will be visible only on mobile devices.

![screen shot 2016-11-15 at 12 23 19](https://cloud.githubusercontent.com/assets/8960773/20

[2016-11-15 13:12] MMaiero commented on #753
Closing as #754 merged

[2016-11-15 13:12] #753 closed

[2016-11-16 02:39] wbowers opened #767 "Change Housekeeping schedule from scheduleAtFixedRate to scheduleWithFixedDelay"
The DbDataStore currently schedules the Housekeeping task to run at regular intervals using scheduleAtFixedRate.  If the Housekeeping process takes longer than the configured interval (for example if there is a very large data store), the the housekeeping task is continuously running.

It would be better to have the housekeeping task delay the configured interval after it completes.  That seems cl

[2016-11-16 08:45] ctron commented on #668
Going with minimal-json

[2016-11-16 08:45] #668 closed

[2016-11-16 10:32] ctron opened #769 "Version problems for org.eclipse.kura.api"
Currently both `release-2.1.0` and `develop` declare version `1.0.10` for `org.eclipse.kura.api`.

However the content is actually different and the "release" branch is missing the wires additions.

This causes the problem locally when you are working with both versions that Maven will choose 1.0.10 over 1.0.10-SNAPSHOT, so the Web UI module doesn't compile anymore.

IMHO the version for `org.ecli

[2016-11-16 11:51] #691 closed

[2016-11-16 11:52] #539 closed

[2016-11-16 11:52] #732 closed

[2016-11-16 12:41] ctron opened #770 "Following the Eclipse versioning schema for OSGi"
I would suggest to follow the following version schema for Kura [1].

I have no strong feelings on this one, but I would assume that it would make your life easier for maintaining Kura on the long run.

The main reason is, assume you have a "bundle.a" with version 1.1.0, and you branch off a release A, Now both branches go on with 1.1.0 as long as no change is being made. Now assume you will be ma

[2016-11-16 12:51] ctron opened #771 "Web UI fails with INTERNAL_ERROR when WireHelperService is not registered"
Currently the Web UI fails with an "INTERNAL_ERROR" when the WireHelperService is not registered with OSGi.

I would suggest to provide a helpful error message and maybe declare a dependency on that service, as it seems that absolutely necessary.

[code]

[2016-11-16 15:55] amitjoy commented on #749
@ctron Any update on the CQ? I believe it should not take time as it is already in Eclipse Orbit repository.

[2016-11-16 16:39] ctron commented on #749
It should. But it is still pending. Approved by PMC though.

[2016-11-16 16:40] pablochacin opened #773 "client-id parameter for MqttDataTransport must be marked as mandatory in web consol"
The web console doesn't shows the client id as required. If the configuration is updated without providing one value, the following error is generated in the kura log:

[2016-11-16 16:52] ctron commented on #749
Approved.

[2016-11-16 16:52] #750 closed

[2016-11-16 17:06] ctron commented on #749
Merged

[2016-11-16 17:06] #749 closed

[2016-11-16 17:45] dwoodard1 commented on #773
Did you get this error strictly working with the web UI? If no client-id is specified in the UI, the default behavior is to use the MAC address of the primary network interface.

[2016-11-16 19:12] dwoodard1 commented on #769
Historically work on the develop branch stops once we have created the release branch. When we merged the release branch back to develop, we would take care of updating the develop versions. As the team grows, this may no longer work.

I am surprised Maven can't distinguish between snapshot bundles (1.0.10-SNAPSHOT) and release bundles (1.0.10), though I believe you. This should be a problem for a

[2016-11-16 23:40] amitjoy opened #774 "Move Utility classes to the respective bundle"
Currently several utility classes reside in `org.eclipse.kura.core` bundle (`org.eclipse.kura.core.util` and `org.eclipse.kura.core.linux.util` packages). We can deprecate these classes and move these to `org.eclipse.kura.util` bundle.

My proposition is to move these classes to its respective utility bundle rather than putting it inside `org.eclipse.kura.core`. It is more cohesive if kept inside

[2016-11-17 07:50] ctron commented on #774
Agreed! Also I think there are more locations which we should check. Like the "web" bundle.

I would suggest though that utility functions should not have OSGi service character. If that is the case it should be in a different bundle. With API and implementation bundle.

[2016-11-17 08:05] ctron commented on #769
Well Maven can, if you use it right. The web bundle imports the Kura API like this:

[code]

So Maven has the choice to use 1.0.10 or 1.0.10-SNAPSHOT. It decides for 1.0.10, because this one is released.

Now IMHO Kura API should be 1.1.0 .. because of semantic versioning. But it still got merged as is.

[2016-11-17 10:39] MMaiero opened #776 "Serialization issue in cloud window"
This issue was introduced by PR #704 and is due to the fact that the `GwtCloudConnectionState` enum cannot be serialized between GWT server and client part.
The web ui will end up with the following error:
<img width="1184" alt="schermata 2016-11-17 alle 11 29 12" src="https://cloud.githubusercontent.com/assets/10448126/20385992/ed9bfd8e-acb9-11e6-9136-9942b12cbe68.png">

while the kura.log file r

[2016-11-17 13:20] cdealti opened #778 "[Net] Refactor needed in org.eclipse.kura.core.net"
This includes:

* Parameter validation
* Refactor to remove code duplication
* Consistent byte order

It will be submitted by @djurod

[2016-11-17 13:24] cdealti opened #779 "[Testing] Unit Tests for org.eclipse.kura.core.net"
It will be submitted by @djurod.
Requires #778.

[2016-11-17 13:32] ctron commented on #776
@MMaiero please check PR #780 and verify that the problem is solved for you as well. I would like to merge this then.

[2016-11-17 13:35] markoer opened #782 "[Testing] Create unit tests for configuration service"
Add unit tests for configuration service implementation.

Test behavior of JUnit categories e.g. PublicTests (test API - or maybe all methods), PrivateTests (run only private implementation method tests), PublicOnlyTests (use only public API for setup with no private field modification).

[2016-11-17 14:09] dwoodard1 commented on #769
I see, that is a problem. It looks like your PR addresses this. I will see if we can get this merged ASAP.

[2016-11-17 14:18] MMaiero commented on #742
@ctron Any update on this? Did you have time to test what I passed you? I'm trying to push hard to close PR 720, in order to finally release, but we need some info about fedora work.

[2016-11-17 14:32] cdealti opened #784 "[Testing] Move existing test bundles and fragments under test/"

[2016-11-17 15:24] cdealti opened #785 "[Testing] Integration Tests: Service test in isolated and mocked runtime"
The current integration tests in org.eclipse.kura.core.test require a full Kura runtime and cannot be tested in  isolation.
In these conditions it's nor always clear what the service under test is.
Another problem is that each test may affect the result of another test.

We should experiment with a simple test, for example for the ConfigurationService only where only a minimal runtime is started a

[2016-11-17 15:51] ctron commented on #742
So I did try out your image. Installing the RPM packages you mentioned and during the startup it already lost the network connectivity.

However I did not try with the Oracle JVM. I will install it and re-try.

[2016-11-17 16:05] ctron commented on #742
So whatever this image did. It is even worse than the Kura image. It completely disabled the network interface.

[2016-11-17 16:30] #741 closed

[2016-11-17 16:30] #769 closed

[2016-11-17 16:32] ctron commented on #742
So using the Oracle Java JVM is falls back to the original behavior of dropping the eth0 connection every now and then

[2016-11-18 01:32] amitjoy opened #786 "Services Search throws Exception"
Searching for services using the Service Search Input Field throws Exception

[2016-11-18 08:23] cdealti opened #787 "[Kura 2.1.0] Release Notes"

[2016-11-18 08:30] cdealti opened #788 "[Kura 2.1.0] QA for the Raspberry PI 3"
http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

Assigned to @markoer.

[2016-11-18 08:35] cdealti opened #789 "[Kura 2.1.0] QA for the Raspberry PI 2"
http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

Assigned to @djurod

[2016-11-18 08:38] cdealti opened #790 "[Kura 2.1.0] QA for the Raspberry Pi Model B+"
http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

Assigned to @markoer

[2016-11-18 08:39] cdealti opened #791 "[Kura 2.1.0] QA for the Beaglebone Black"
http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

Assigned to @djurod.

[2016-11-18 08:39] ctron opened #792 "Switch to Tycho Java profile validation"
Since we now have a more recent Tycho version we could try to use Java profiles with the BREE.

Also see: [1]

From what I understood we would specify e.g. `JavaSE/compact2-1.8` as the BREE and Tycho would perform a validation based on that.

What do you think?

[1] https://bugs.eclipse.org/bugs/show_bug.cgi?id=437923

[2016-11-18 08:41] cdealti opened #793 "[Kura 2.1.0] QA for the User Workspace"
TODO: add section to:

http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

Assigned to @markoer.

[2016-11-18 08:44] cdealti opened #794 "[Kura 2.1.0] QA for the Raspberry Pi Model B"
http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

Assigned to @djurod.

[2016-11-18 08:45] ctron commented on #559
Done with PR #766

[2016-11-18 08:45] #559 closed

[2016-11-18 08:46] cdealti opened #795 "[Kura 2.1.0] QA for the Intel Edison"
http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

Assigned to @markoer.

[2016-11-18 08:47] markoer commented on #795
We didn't discuss Intel Edison yesterday. Did you discuss it with Dragan?

[2016-11-18 08:53] cdealti commented on #795
It's lower priority (P2). Only if we have time. I'll update Dragan separately.

[2016-11-18 09:10] cdealti commented on #791
Assigned to @djurod.

[2016-11-18 09:32] cdealti opened #796 "[Kura 2.1.0] QA for the the Raspberry PI 3 and Fedberry"
http://www.eclipse.org/downloads/download.php?file=/kura/docs/qa/Kura_Test_Specification.xlsx

[2016-11-18 09:33] ctron commented on #796
So as long as issue #742 is unsolved this is untestable

[2016-11-18 09:43] pablochacin commented on #773
I have only tried it using the web UI.

[2016-11-18 09:48] cdealti commented on #785
@markoer, @muros did something similar for the [Kapua tests](https://github.com/muros/kapua/blob/cucumber_tests/service/user/internal/src/test/java/org/eclipse/kapua/service/user/internal/UserServiceSteps.java)

There are commonalities...

[2016-11-18 10:05] ctron opened #797 "Design of ServiceUtil is broken"
I just wanted to check out the new `ServiceUtil` class and found out that it is completely broken:

* It doesn't compile anymore on Java 8

[code]

OSGi has provides proper methods for returning `Collection<ServiceReference<T>>` which should be used instead.

* The call for `get` and `unget` is completely imbalenced:

A call to `getServiceReferences` returns all service **references** while a call

[2016-11-18 10:15] ctron commented on #773
This error pops up for me every time you start up a fresh Kura

[2016-11-18 10:28] amitjoy commented on #797
The idea was to wrap the necessary methods in `ServiceUtil` to reuse if necessary. The `getServiceReferences(Class<T>)` method which returns `Collection<ServiceReference<T>>` is indeed more advanced as it uses collection instead of an array. I agree with that. As there doesn't exist any method such as `ungetServiceReferences` (_plural_ version), we thought of having such utility method in `Service

[2016-11-18 13:57] dwoodard1 commented on #773
@ctron I have seen that error as well, but I think it is a different error. This seems to be happening after a configuration is passed to MqttDataTransport.

@pablochacin What Kura version and hardware are you using?

[2016-11-18 16:28] ctron commented on #773
Oh ok. I thought it is the error which pops up when starting.

[2016-11-18 16:29] ctron commented on #245
I think this can be closed.

Any objections?

[2016-11-19 01:43] amitjoy opened #801 "Remove WireService from Web Console Service List"

[2016-11-19 23:23] amitjoy opened #804 "Remove DataService, CloudService and MqttDataTransport from the Factory Popup Dialog"
Currently the `+` button to create factory instances also enlists the `DataService`, `CloudService` and `MqttDataTransport` services. For these aforementioned services, there already exists a dedicated UI. Hence, these services must not be enlisted in the popup dialog box.

[2016-11-21 09:38] #801 closed

[2016-11-21 12:02] cdealti commented on #724
Compared to org.eclipse.kura.api v1.0.9:

* ``org.eclipse.kura.message``: Added constructor ``KuraTopic(String fullTopic, String controlPrefix)``. Package minor version already increased (OK).
* ``org.eclipse.kura.cloud.factory``: Added ``KURA_CLOUD_SERVICE_FACTORY_PID`` constant, getStackComponentsPids, getManagedCloudServicePids.

The minor number of the bundle version should be increased

[2016-11-21 12:24] cdealti commented on #724
See #809

[2016-11-21 15:54] cdealti commented on #189
@ctron Will be closed by #810?

[2016-11-21 16:22] ctron commented on #743
Not from my side. I am not sure how this detection really works. But if you like I can try to dig through the WLAN code stack.

[2016-11-21 16:23] ctron commented on #189
Yes. And #810 is merged now.

[2016-11-21 16:23] #189 closed

[2016-11-21 17:34] cdealti opened #812 "[Kura 2.1.0] Restore Javadoc generation"
There was a first refactor by me where this worked:
https://github.com/eclipse/kura/commit/242e8b969767c82ed50517d8b74dee0bb715e65e

But the change was partially reverted in this merge:
https://github.com/eclipse/kura/commit/76054e125f318865f888b98253bbbe923768d58c

[2016-11-21 18:57] dwoodard1 commented on #812
@cdealti I don't understand why those PRs are relevant. Are we sure this change didn't cause the problem: https://github.com/eclipse/kura/pull/350/commits/ef5f38e59aa621fecc774db0cd96ce13668af9b8

[2016-11-21 20:02] dwoodard1 commented on #812
Ignore my previous comment.

[2016-11-22 13:38] cdealti commented on #812
@dwoodard1 I believe the real problem is that the pom first build deleted the target directory so deleting the site/apidocs generated by the manifest first build :-(

[2016-11-22 14:48] #776 closed

[2016-11-22 16:35] #724 closed

[2016-11-22 17:49] cdealti commented on #743
Yes, please (but with moderation). Please also share the logs with Matteo.

[2016-11-22 22:25] dwoodard1 commented on #812
@cdealti I don't think the pom first build is the problem. If I just perform the manifest_pom build, the target/site directory is deleted. If I build an individual project (ex: org.eclipse.kura.api), the site directory remains. This issue was added somewhere, as historically the API docs were pulled directly from the Hudson build server from the API bundle target/site directory.

I think your chan

[2016-11-22 23:12] amitjoy opened #817 "Fix Exception Javadoc"
In `KuraException` and `KuraRuntimeException`, `KuraErrorCode` has not been updated and it is mentioned as `EdcErrorCode`. Furthermore, `KuraException` is mentioned as `EdcException`.

[2016-11-23 08:30] cdealti commented on #812
I've just tried with develop, release-2.1.0 and the KURA_1.4.0_RELEASE and they all behave the same.
The target/site directory is populated if I limit the build to the manifest_pom.xml.

Then when I build mvn -f pom_pom.xml **clean** install the target directory is wiped out.

Then I think something has changed in the Hudson build.

[2016-11-23 08:39] markoer commented on #790
Cannot test on B+ as it is not available for purchase.

[2016-11-23 08:41] markoer commented on #795
Don't know what to purchase for it to even turn on.

[2016-11-23 08:44] ctron opened #819 "Replace version ranges in Web UI project with properties from 'config.properties'"
Maven version ranges are evil [1].

The Kura Web 2 project should be refactored to use the version properties from the global `config.properties` file.

The issue which I current have is that the API bundle now got incremented to 1.2.0-SNAPSHOT. Now I know for sure that the Web UI can't work with API 1.1 or 1.0 anymore. Yet putting in a version range from 1.1 or 1.2 is impossible since Maven does

[2016-11-23 09:58] #757 closed

[2016-11-23 12:52] #804 closed

[2016-11-23 17:00] cdealti commented on #795
The Intel Edison Breakout Board
http://www.intel.com/content/www/us/en/support/boards-and-kits/intel-edison-boards/intel-edison-breakout-board.html
https://www.amazon.com/Intel-Edison-Breakout-Components-EDI1BB-AL-K/dp/B00ND1KNXM

[2016-11-23 17:07] cdealti commented on #790
In Italy this is still available.
However i wonder if we should drop its support (disabling the profile in the build and not publishing the installer). @dwoodard1 any thoughts?

[2016-11-23 17:08] cdealti commented on #794
Same as #790.

[2016-11-23 22:41] dwoodard1 opened #823 "Network Emulator getNetworkInterfaces"
The network emulator bundle uses java.net.NetworkInterface.getNetworkInterfaces() for retrieving a list of network interfaces. This method has a shortcoming in that it only returns configured interfaces. Interfaces that have not been configured are not returned. This is not ideal for those using the "no networking" versions of Kura. The emulator getNetworkInterfaces() method should be updated to u

[2016-11-23 23:09] amitjoy opened #824 "SelfConfiguringComponent are not registered properly"
Due to continuous changes in Configuration Service, some codes got missing and wrongly replaced. This caused SelfConfiguringComponent to be registered with errors.

[2016-11-24 14:25] cdealti opened #828 "Target definition still points to Equinox 3.8.1"
``kura/target-definition/kura-equinox_3.8.1.target`` needs to be updated to point to the new Equinox 3.11.1

[2016-11-24 15:12] ctron commented on #828
PR created. Sorry, I was never using this.

[2016-11-24 15:12] cdealti commented on #828
Too bad ;-)

[2016-11-24 15:25] cdealti opened #831 "[Testing] Fix and re-enable tests"
We need to fix and re-enable existing tests recently disabled in manifest_pom.xml.
The tests occasionally pass, at least locally.
**One of the elements of unreliability is the connection to the MQTT broker**

@markoer can you start looking into this in terms of fixing them a bit before reimplementing them?

[2016-11-24 15:58] cdealti commented on #743
@ctron ping

[2016-11-24 16:27] cdealti opened #833 "[Testing] Discussion on the Kura testing framework"
Following the discussion in #800, here's is a first difference:

### UT in src/test/java of the org.eclipse.kura.camel plugin
* Tests run fine in CI with **maven-surefire-plugin** (OSGi is not needed)
* Tests cannot be run from Eclipse due to resolution errors for imported packages. Note that these packages are not imported in the MANIFEST of ``org.eclipse.kura.camel``.

![image](https://cloud.git

[2016-11-24 16:28] cdealti commented on #833
@ctron @djuro @markoer comments?

[2016-11-24 16:51] ctron commented on #743
I will send you the logs via e-mail. I only found this one:

[code]

It looks like as if bluetooth is working differently on Fedora.

[2016-11-24 17:03] #828 closed

[2016-11-24 17:18] cdealti commented on #823
To me, on Linux, this happens if the Ethernet interface has no link (cable unplugged) disregarding if the interface is configured or not. Plugging the Ethernet cable is enough as a workaround.

Emulator bundles should be pure Java. For example I believe they are used in the Windows port @malikm

[2016-11-25 08:37] pierantoniomerlino opened #835 "[Kura 2.1.0] Bind/Named service doesn't work properly on Fedora"
On the RPi3 with Fedberry, the bind service doesn't start properly,
due to wrong writing permissions on log files. Probably Kura modifies the named
configuration to set the log file in a wrong location.

[2016-11-25 09:23] markoer commented on #833
Another option is to add test dependencies to bundle.properties - additional.bundles. This way we can remove them from the MANIFEST.MF and they will still show up in Eclipse. And add the rest to pom.xml as dependencies. This way maven will see them.

[2016-11-25 09:32] cdealti commented on #833
Remember that we want to run these fragments on the target and we don't have Maven there.

[2016-11-25 09:47] markoer commented on #833
Sorry, I thought we were only talking about unit tests, here, and that integration tests will remain in their own separate bundles/fragments.

[2016-11-25 09:51] cdealti commented on #833
do we really need separate test fragments for IT?

[2016-11-25 09:57] cdealti opened #837 "[Testing] Start Mosquitto in Travis CI"
I'd like to add Mosquitto to the Travis CI build.
It's needed for the tests requiring an Mqtt connection.

[2016-11-25 10:04] pablochacin commented on #773
@dwoodard1  I'm using Kura 2.0.2 on a Docker container, based on the [raspberry-pi installer.](https://www.eclipse.org/downloads/download.php?file=/kura/releases/2.0.2/kura_2.0.2_raspberry-pi_installer.deb)

I can confirm that after modifying the default configuration to connect on startup without setting the client id produces the same error:

[code]

[2016-11-25 10:24] nicolatimeus opened #838 "[Web-UI] Invalid XSRF token exception when adding factory components"
Clicking on the "+" button for adding factory components in the left panel may cause exceptions regarding invalid XSRF tokens.
This is caused by the fact that `EntryClassUi.initServicesTree()` is used in various parts of the code to refresh the services list, the problem is that this method also adds event handlers to the ui elements of the left panel.
This makes possible that when the "+" button

[2016-11-25 10:40] MMaiero commented on #773
Hi @pablochacin, I would suggest you to use the nn installer for [raspberry-pi](https://www.eclipse.org/downloads/download.php?file=/kura/releases/2.0.2/kura_2.0.2_raspberry-pi-nn_installer.deb) or [raspberry-pi-2](https://www.eclipse.org/downloads/download.php?file=/kura/releases/2.0.2/kura_2.0.2_raspberry-pi-2-nn_installer.deb) inside your docker container: in that particular environment you don

[2016-11-25 12:01] pablochacin commented on #773
Hi @MMaiero  I suppose you mean this kind of errors

[code]
I confirm that with the nn installer these errors are not present in the log.

[2016-11-25 12:03] pablochacin commented on #773
@dwoodard1  I injected the client-id in the default configuration modifying the snapshot_0.xml (it's not present) and the problem is fixed. Therefore, the problem is that the parameter is required and not set by default.

[2016-11-25 12:14] ctron commented on #186
https://dentrassi.de/2016/11/24/providing-telemetry-data-with-opc-ua-on-eclipse-kura/

[2016-11-25 12:16] MMaiero commented on #773
@pablochacin Exactly.
The nn profile uses so called "emulator" bundles that, if not specified, fetch the client id using java primitives to get the mac address of the primary interface.
The Kura build, with network and firewall enabled, uses a different approach and that can cause some issues, as you have seen.
I've just created and tried a docker container based on debian:jessie-backports where I

[2016-11-25 12:18] markoer commented on #833
The correct Djuro is @djurod ...

[2016-11-25 12:19] djurod commented on #833
@cdealti Yes, the other Djuro notified me that he is apparently getting Github notifications meant for me :)

[2016-11-26 01:57] amitjoy opened #841 "Add Discouraged Access in Javadoc for INTERNAL_ERROR error code"
We need to deprecate the use of `KuraErrorCode#INTERNAL_ERROR`

[2016-11-28 08:07] ctron commented on #823
I agree that the emulator bundle should be capable of running on all platforms.

I could imagine however that the emulator bundle does not use any network interfaces at all. Just uses a dummy set of interfaces. Like the other emulator bundles do.

[2016-11-28 09:01] ctron commented on #838
I have seen those errors every now and then even before using the + button. So maybe this is not solely related to it.

[2016-11-28 11:47] amitjoy opened #846 "Replace INTERNAL_ERROR with suitable error code in Kura Wires"
This is to refactor Kura Wires and Kura Asset Model to replace the references to `KuraErrorCode#INTERNAL_ERROR` with other suitable error codes.

[2016-11-28 12:54] ctron opened #848 "Fix up file upload dialog"
Currently the file input is styled as `form-control`, which is not supported by bootstrap [1], [2] and renders for me as:

![screenshot from 2016-11-28 13-47-53](https://cloud.githubusercontent.com/assets/202474/20669002/0417c82a-b572-11e6-9602-d9170d1ddf7b.png)

And easy fix would be to render the input field without the `form-control` class and inside a `well`:

![screenshot from 2016-11-28 13-4

[2016-11-28 12:59] MMaiero commented on #848
@nicolatimeus  could you take a look at it? Thanks

[2016-11-28 13:13] nicolatimeus commented on #848
Sure, I'll take a look

[2016-11-28 13:15] markoer opened #850 "[Kura 2.1.0 QA] Kura 2.1.0 installation dependencies"
https://wiki.eclipse.org/Kura/Raspberry_Pi doesn't list ethtool and unzip dependencies on Debian/Raspberry Pi (both are mentioned in #316).

[2016-11-28 13:19] MMaiero commented on #850
@markoer If you follow the instructions available [here](http://eclipse.github.io/kura/doc/raspberry-pi-quick-start.html) you'll see that the dependencies are completely resolved when performing `sudo apt-get install -f`.
However, we are aware that we should simplify our sites and provide a single source of information to our users and we are working in this direction.

[2016-11-28 13:32] markoer commented on #850
In this case, let me rephrase.
Step 5 (Install Kura with:) [here](http://eclipse.github.io/kura/doc/raspberry-pi-quick-start.html) should probably mention that the dpkg command might fail and that that is perfectly normal installation flow.

[2016-11-28 13:40] nicolatimeus opened #851 "[Web-UI] Label is sent instead of value for metatype parameters with options"
If a metatype AD is declared with predefined options having a label and a value defined, the web ui will send to the server the text of the selected label instead of the actual value.
This also breaks the device display name configuration in the Cloud Services section.

[2016-11-28 13:47] ctron commented on #850
A failing dpkg command should not be perfectly normal.

It is possible to install a dpkg with dependencies. You can e.g. use "gdebi" to install a DEB file with dependencies at the same time.

[2016-11-28 15:16] #851 closed

[2016-11-28 17:11] #848 closed

[2016-11-28 18:25] #838 closed

[2016-11-29 13:37] cdealti commented on #743
@ctron we have temporarily run out of RPI3.  Can you please send the whole /var/log directory when wlan0 is not detected?

[2016-11-29 13:40] cdealti commented on #812
@dwoodard1 we still need to move the Javadoc elsewhere before the pom_pom.xml is built, don't we?

[2016-11-29 13:41] cdealti commented on #737
@ctron Can we close this?

[2016-11-29 13:43] cdealti commented on #742
@ctron @MMaiero please update with the latest findings.

[2016-11-29 15:03] ctron commented on #186
https://dzone.com/articles/providing-telemetry-data-with-opc-ua-on-eclipse-ku

[2016-11-29 15:42] dwoodard1 commented on #812
Yes. We could put them into a tmp directory (kura/tmp) and move them to kura/distrib/target or kura/target after the execution of pom_pom. I can give this a try unless you already have a proposed solution.

[2016-11-30 08:53] ctron opened #857 "Clean up ValidationUtils vs Preconditions"
Currently there seem to be two ways of validating parameters. And existing one (ValidationUtils) and a new one introduced with the Kura Wires PR (Preconditions).

Now first of all I don't really understand why "Preconditions" is in "API" and not in the "Utils" bundle. Second I think that there should be only one. I don't see a benefit of having two in Kura.

ValidationUtils provides proper error c

[2016-11-30 11:22] #737 closed

[2016-11-30 11:22] ctron commented on #742
It seems to be stable now. However I am not sure what resolved this issue.

[2016-11-30 11:24] ctron commented on #743
@MMaiero did have a look at it yesterday. I did send the screenshots afterwards. He didn't find anything interesting in the log files though.

[2016-11-30 11:55] markoer opened #859 "[Kura 2.1.0 QA] Installation warnings/errors on Raspberry Pi 3"
After installation of Kura 2.1.0 build 12 install log (kura_install_<timestamp>.log) contains errors:
insserv: warning: script 'firewall' missing LSB tags and overrides
insserv: There is a loop between service monit and firewall if stopped
insserv:  loop involving service firewall at depth 2
insserv:  loop involving service monit at depth 1
insserv: Stopping firewall depends on monit and therefore

[2016-11-30 12:27] markoer opened #860 "[Kura 2.1.0 QA] JUnit in Raspberry Pi 3's installation package"
junit bundle is included in .deb for Raspberry Pi 3
Kura 2.1.0 build 12

[2016-11-30 12:30] markoer opened #861 "Kura's WEB bundles detection"
When Kura starts, the /var/log/kura.log contains the following:
```o.e.k.c.s.SystemServiceImpl - Kura has web interface? true```
even if web interface wasn't even built

[2016-11-30 12:38] markoer opened #862 "[Kura 2.1.0 QA enh] NTP configuration on Raspberry Pi 3"
Recurring warning in Kura log:
[code]

Default configuration could probably read system-defined NTP servers that work instead of forcing the use of 0.pool.ntp.org.

[2016-11-30 12:43] markoer opened #863 "[Kura 2.1.0 QA] Kura bundle dependencies on Raspberry Pi 3"
Dependencies of one of the bundled seem not to be entirely satisfied:
[code]

Kura 2.1.0 build 12 on Raspberry Pi 3

[2016-11-30 12:57] markoer opened #864 "[Web UI] Settings pages"
System->Settings page has no password change capability. It is hidden under Services->WebConsole.

Now for the actual issue...
If I want to modify the password, I update the password field. If I click apply while still in the updated password field, it is not applied. The click only enables the buttons. The second click works. I doubt that's by design, but happens all over the GUI. This provides f

[2016-11-30 13:01] markoer opened #865 "[Kura 2.1.0 QA errata] Various errata"
* Device->Profile page data

It is normal for the following fields to be populated like so:
[code]

Multiple platforms behave this way.

* NET-ETH0-001 test case from #788

Test eth0: In Networking (Denali) -> Configure the eth0 interface as follows:
     Status: Enabled for LAN
     Configure: Manually
     IP Address: [some_static_address_allowed_on_your_network]
     Subnet Mask: [appropriate_m

[2016-11-30 13:12] markoer opened #866 "[Web UI] Logout missing"
While it is true that Kura web UI can be run in Incognito mode/Private window, logout functionality is something users such as myself expect from a web UI.

[2016-11-30 13:26] markoer opened #867 "[Kura 2.1.0 QA] Ethernet interface gateway configuration on Raspberry Pi 3"
2 problems were found here:
* NET-ETH0-001: Configure eth0: (in System->Network->eth0 set interface as follows)
     Status: Enabled for LAN
     Configure: Manually
     IP Address: [some_static_address_allowed_on_your_network]
     Subnet Mask: [appropriate_mask_for_your_network]

  * here Gateway cannot be set, but when changes are applied, it is not removed from system routing tables i.e. ```r

[2016-11-30 13:58] markoer opened #871 "[Kura 2.1.0 enh] Position of tabs in Kura web UI - configuration"
NET-ETH0-003 test case from #788 instructs to
Modify eth0 status...
Configure MqttDataTransport to connect to mqtt://iot.eclipse.org:1883 broker.
Configure DataService to enable connect.auto-on-startup

MqttDataTransport and DataServce are tabs under System->Cloud Services. MqttDataTransport configuration tab's position is right of DataService configuration tab, but DataService seems to depend on

[2016-11-30 14:09] markoer opened #873 "[Kura 2.1.0 QA] Almost default SSL configuration of MQTT"
Test case NET-ETH0-004 from #788 specifies use of mqtts://iot.eclipse.org:8883 broker-url (and no other changes). In this case, when the changes are applied the following is logged:

[code]

Kura 2.1.0 build 12, Raspberry Pi 3, Raspbian GNU/Linux 8, `Linux raspberrypi 4.1.18-v7+ #846 SMP Thu Feb 25 14:22:53 GMT 2016 armv7l GNU/Linux`
Java is Oracle's JDK 8:
[code]

[2016-11-30 14:19] markoer opened #874 "[Kura 2.1.0 QA] eth0 DNS server configuration"
If a new DNS server is added in eth0 configuration it is expected to show up in /etc/resolv.conf file. It seems it is only stored in Kura configuration, because /etc/resolv.conf is not modified after the configuration is applied.

Kura 2.1.0 build 12, Raspberry Pi 3