[2014-05-22 10:01] bontorhumala opened #3 "org.eclipse.kura.protocol.can cannot find de.entropia.can.*"
All other packages are built ok, except org.eclipse.kura.protocol.can. de.entropia.can.\* is not available.

[2014-05-22 16:39] bontorhumala opened #4 "Cannot connect to OSGi console"
I build Kura according to instruction (clone git, mvn clean install), copy the resulting kura-raspberry-pi-jars_0.2.0-SNAPSHOT.zip to my RPi, then unzip the content to /opt/eclipse. But when I run Kura (sudo sh /opt/eclipse/kura/bin/start_kura_background.sh), I cannot connect to the OSGi console (connection refused). In the log file, I see that there is problem with jetty server and port 5002:

`!

[2014-05-23 04:16] #4 closed, assigned to nobody

[2014-05-23 05:10] #3 closed, assigned to nobody

[2014-05-29 08:39] bontorhumala opened #5 "Failed to build bundle using Maven"
Tried to build heater example using Maven. Also, try to build my own project using Maven. All encounter error, cannot resolve target platform specification. Tried to access the maven-metadata.xml and target-definition-0.0.1-SNAPSHOT-kura-equinox_3.8.1.target, but the raw,guthub.com URL is not working. Does the URL should be changed?

Log: https://gist.github.com/bontorhumala/f0037980fccf0d5cac7a.

[2014-05-29 14:38] #5 closed, assigned to nobody

[2014-06-04 08:53] darugnaa opened #6 "Emulator does not run in emulation mode on OSX"
When starting the emulator in eclipse on OSX, the emulator says "Framework is not running in emulation mode".
_Emulator.java:30_ reads the wrong property
`String mode=props.getProperty("eurotech.framework.mode");`
but the _Kura_Emulator_OSX.launch_ file specifies the correct flag
`-Dorg.eclipse.kura.mode=emulator`.
_Kura_Emulator_Linux.launch_ has the old eurotech flag.
_Kura_Core_Test.launch_ has

[2014-06-04 09:20] darugnaa opened #7 "org.eclipse.soda.dk.comm_1.2.0.jar cannot resolve on 64 bit OSX Kura Emulator"
_org.eclipse.soda.dk.comm_ library doesn't start on 64bit OSX emulator, giving this error in console.

[code]

[2014-06-04 12:52] darugnaa opened #8 "HTTP 404 error on Raspberry"
After building Kura from commit 467ee53 and deploying it to Raspberry, accessing the web interface on the device gives

[code]

I'm using Eclipse Kepler 4.3, Google Web Toolkit SDK 2.6.0 and can't recognize the web project. Is this configuration supported or is GWT 2.4.0 a strict requirement?

**edit**
using a higher log level for jetty bundle, this is what I see in kura.log

[code]

[2014-06-10 05:31] #8 closed, assigned to nobody

[2014-06-11 12:45] darugnaa opened #9 "Kura Web interface shows no network interfaces"
Kura built from commit 983da0e.
Kura installed and running on RaspberryPi. When accessing the web admin interface the Network tabs shows no network interfaces and this stacktrace shows up in kura.log:

[code]

[2014-06-11 21:40] #6 closed, assigned to nobody

[2014-06-11 21:40] #7 closed, assigned to nobody

[2014-06-16 14:49] darugnaa opened #10 "Accessing serial devices from emulator (OSX 64bit/Eclipse Kepler 64bit)"
I have some troubles instantiating a serial connection to a modbus device using the emulator. The hardware is a Serial-to-USB FTDI cable with a modbus device attached.
This works on the raspberry (I see the FTDI cable as /dev/ttyUSB0) and the modbus data connection is fine.

However if I try to use the same FTDI cable on my development machine things don't work.
In my "Run configuration" I specifi

[2014-07-17 08:04] unverbraucht opened #13 "Cannot compile on OSX"
I'm running "mvn -e -Dmaven.test.skip=true -f manifest_pom.xml clean install && mvn -f manifest_pom.xml" in the kura folder. My java version is

java version "1.7.0_65"

[INFO] --- tycho-compiler-plugin:0.20.0:compile (default-compile) @ org.eclipse.kura.core ---
[INFO] Compiling 27 source files to /Users/kread/git/kura/kura/org.eclipse.kura.core/target/classes
[INFO] -----------------------------

[2014-07-17 09:55] #13 closed, assigned to nobody

[2014-07-17 21:35] kartben opened #14 "/org.eclipse.kura.core/OSGI-INF/metatype/org.eclipse.kura.ssl.SslManagerService.xml has default values mentioning 'eurotech'"
When trying Kura for the first time, people might be confused to see the SslManagerService configured with two settings (keystore and truststore location) defaulting to /opt/eurotech/...

[2014-07-18 21:42] williamlion opened #15 "Errors after Importing into Eclipse"
Hi there,

I could maven build Kura successfully on my computer. But after imported into Eclipse,
lots of errors showed up. I couldn't find files listed below.

org.eclipse.kura.web.client.messages.Messages;
org.eclipse.kura.web.shared.service.GwtComponentServiceAsync;
org.eclipse.kura.web.shared.service.GwtDeviceServiceAsync;
org.eclipse.kura.web.shared.service.GwtNetworkServiceAsync;
org.eclipse

[2014-07-24 20:20] #15 closed, assigned to nobody

[2014-07-31 17:13] #14 closed, assigned to nobody

[2014-07-31 17:14] #10 closed, assigned to nobody

[2014-07-31 17:14] #9 closed, assigned to nobody

[2015-12-21 17:21] dwoodard1 opened #75 "Intel Edison with Networking Support"
Kura with networking support does not work properly with the latest Intel Edison image. Two issues identified thus far:

1. The installation uses the single WiFi interface to set the Edison up as a WiFi Access Point. If a client connects to the access point, the web UI (172.16.1.1:8080/kura) is not operating correctly. The services are not available to configure Kura.
2. The DataTransportService i

[2016-01-06 21:50] dwoodard1 opened #76 "Modem Additions"
This was originally filed as bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=461555.

Original comments from bug:

Modem addons for USB and serial devices
    Huawei USB Exxx E220, E620, E173
    Telit serial GE865
    Serial modem communication for Raspberry

Commitet at Fork https://github.com/devNbis/kura.git

[2016-01-06 21:52] dwoodard1 opened #77 "Data Service will not connect for other locale than an english one"
This bug was originally filed at: https://bugs.eclipse.org/bugs/show_bug.cgi?id=463915.

Message from original bug:

The data service will not start up/connect once you have a non-english locale defined, since it searches for the keyword „"metric" within the output of ifconfig <interface>. Unfortunately if you have another locale configured, for example german, ifconfig returns "metrik" (german wo

[2016-01-06 21:54] dwoodard1 opened #78 "iwScantool.java sets invalid values on WifiAccessPoints strength property"
This bug was originally filed as: https://bugs.eclipse.org/bugs/show_bug.cgi?id=474906.

Original message:

The WifiAccessPoint interface says for getStrenght() method: "The current signal quality of the access point, in percent."

http://download.eclipse.org/kura/releases/1.2.0/docs/apidocs/org/eclipse/kura/net/wifi/WifiAccessPoint.html#getStrength()

This does not match when using iwScanTool to

[2016-01-06 21:56] dwoodard1 opened #79 "Update MQTT Namespace guidelines in the online doc"
This bug was filed as: https://bugs.eclipse.org/bugs/show_bug.cgi?id=480530.

Original message:

As of Kura 1.3, the $EDC prefix is not set in stone anymore, so it would be great to update the doc so as to make it clear that the prefix is customizable.

[2016-01-06 21:57] ibinshtok commented on #76
We only support Telit HE910, LE910, DE910, GE910, and CE910 modems on Eurotech platforms.
Those modems have not been tested on Raspberry Pi.

[2016-01-06 21:58] dwoodard1 opened #80 "Multiple bluetooth le devices connection problem"
This bug was original reported at https://bugs.eclipse.org/bugs/show_bug.cgi?id=480434.

Original messages:

In the release version 1.2.2 or version 1.3.0 RC1, one bluetooth le device (e.g. TI SensorTag) works well, but if you try to connect 2 or more bluetooth le devices, the second one couldn't connect. However, due to bluetooth specs, it should be OK to connect several bluetooth le devices at t

[2016-01-06 22:04] dwoodard1 opened #81 "getEthernetDriver exception in Kura no network version"
This bug was originally reported at https://bugs.eclipse.org/bugs/show_bug.cgi?id=480606.

Original message:

The nn version will throw out an exception when booting up, caused by not able to get EthernetDriver which is used to get eth0 MAC address for default MQTT client-id (if leave empty in UI setting).

Suggest to add ethtool dependency if possible.

[2016-01-06 22:06] dwoodard1 opened #82 "Consider providing a Maven archetype for Kura bundle scaffolding"
This bug was originally filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=440544.

Original message:

I don't know what are the plans regarding a possible contribution of PDE plug-ins that would ease the creation of new Kura bundles from the Eclipse IDE, but it would be really great to have some basic tools helping in bootstrapping a Kura bundle. Maybe a Maven archetype would be even better t

[2016-01-06 22:09] dwoodard1 opened #83 "Stopping Kura with Monit"
This bug was originally reported at https://bugs.eclipse.org/bugs/show_bug.cgi?id=450214.

Original message:

At present, when stopping Kura, the init.d script telnets into the OSGi container and stops the framework. If Monit is being used to control Kura, it will restart the framework when it detects the missing process. The init.d script should be enhanced to correctly shutdown Kura even if cont

[2016-01-06 22:23] dwoodard1 opened #84 "Unable to add same open port in firewall for tcp and udp"
This bug was originally posted at https://bugs.eclipse.org/bugs/show_bug.cgi?id=459361.

Original message:

I use kura on debian (PI) and I try to open port 514 in the firewall config page for both udp and tcp.

After I add entry 514 / udp/ eth0, save, apply, all ok, I try to do the same for 514 / tcp / eth 0.

On Submit I get the error Duplicate Entry - Not adding to the list of Open Port.

Looks

[2016-01-06 22:27] dwoodard1 opened #85 "Concurrency problem in deployment agent service ?"
This bug was originally filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=480484.

Original Message:

Hi guys !

We faced of a serious problem with the Deployment Agent service (in all version)

Sometimes this service is blocked and don't deploy our ".dp". Last log we have from the service is :

2015-10-23 12:59:23,389 [Component Resolve Thread (Bundle 6)] INFO  o.e.k.d.a.i.DeploymentAgent -

[2016-01-06 22:29] dwoodard1 opened #86 "a detailed exception should be thrown whenever a component is 'unresolved'"
This bug was originally filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=477275.

Original Message:

there can be many reasons for a component to fail to load, leading to it being 'unresolved'. in two examples:

1. I had a 'default' access level method named 'activate' which was not defined within the Component.xml
2. I had a private constructor

.. I had no idea at the time why the componen

[2016-01-06 22:30] dwoodard1 opened #87 "Kura NN should not depend on ethtool, bind9, isc-dhcp-server, hostapd"
This bug was originally filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=476616.

Original Message:

Unless I'm missing something, I believe the "no network" .deb package should not be depending on any networking tool, right?

Agree.
However, just one exception, it seems that ethtool is still needed for LinuxNetworkUtil bundle to get ethernet MAC address for kura MQTT default client-id.

I a

[2016-01-06 22:32] dwoodard1 opened #88 "Pure Java Kura"
This bug was originally filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=481529.

Original Message:

This bug will track a feature request to create a minimal version of Kura with no native code dependencies. At present, the SystemService in Kura depends on native libraries to start. This dependency restricts the possibility of running Kura on very resource constrained devices. This request

[2016-01-06 22:33] dwoodard1 opened #89 "Increase Configurability of CloudService"
This bug was originally filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=481526.

Original Message:

Some users of Kura have found the static settings of the CloudService to restrictive. This bug is to track the proposal to expose more internal settings of the CloudService. Below is a listing of options to expose. Please use this bug to suggest additional options to expose or options to remo

[2016-01-06 22:35] dwoodard1 opened #90 "[website] Images in "Solution Showcases" should be clickable"
This bug was originally filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=456781.

Original Message:

The new "Solution Showcases" section is very cool!
It would be great if the images were clickable in addition to the text, since I believe many people are trying to click on them as a first intent.

A related suggestion would be to put the labels below the images rather than next to them, and

[2016-01-07 05:27] devNbis commented on #76
Ok, but we use it and tested it in our prototype. From my point of view it's sharing the results to the community so that others don't wast time in implementing.

[2016-01-07 09:09] cdealti commented on #86
Can this be closed? As observed this can be done using the ```component``` command of the OSGi console.

[2016-01-07 09:12] cdealti commented on #85
@MMaiero: Can you please take a look?

[2016-01-07 09:23] kartben commented on #86
+1

[2016-01-07 09:46] cdealti commented on #77
Unfortunately the textual output of a command is not an API and there is no formal specification for it.
Another example is that currently Kura is not able to parse the output of the ```ifconfig``` program of Fedora based distributions, even when the English locale is used. We have a couple of ideas on how to improve the situation but nothing scheduled in the short term.

[2016-01-07 10:00] cdealti commented on #75
We don't have plans to try to fix this port. It would be a good exercise for anyone willing to contribute to Kura.

[2016-01-07 10:04] cdealti commented on #89
Can we close this one? I haven't heard anything new on this topic.

[2016-01-07 10:18] cdealti commented on #83
I don't see the need to fix this. Just stop monit and control Kura as desired.

[2016-01-07 11:22] pierantoniomerlino commented on #80
The issue is related to Bluetooth LE example, not to the bluetooth service.
The bug is already fixed in the develop branch and it will be included in the next Kura release.

[2016-01-07 11:22] #80 closed

[2016-01-07 14:28] dwoodard1 commented on #88
I think the idea is to remove dependencies that can't be controlled with Java, specifically the native libraries. Most of the OS system file references are due to the networking bundles. If someone doesn't need networking support, they are still gated by dependencies on native libraries.

More importantly, I believe the core of Kura should start without loading native libraries. If a service is ne

[2016-01-07 14:31] dwoodard1 commented on #86
Since OSGi bundle/component issues can be tracked easily using the OSGi console, this issue is being closed.

[2016-01-07 14:31] #86 closed

[2016-01-07 14:33] #83 closed

[2016-01-07 15:42] MMaiero commented on #87
This should be now fixed in Kura 1.4.0: the emulator splitting into different bundles permitted to add the net emulator bundle into kura nn. In this way we don't need to use ethtool to get the MAC address and the networking bundles are, also, not needed to have Kura dependencies satisfied.

[2016-01-08 15:30] ibinshtok commented on #84
This is fixed in the Kura 1.4.0 release.

[2016-01-08 15:30] #84 closed

[2016-01-12 18:23] MMaiero commented on #85
Modified Kura code in release-1.4.0 branch, in order to try to prevent this error.

[2016-01-18 04:58] hndave commented on #83
Hello 
Has anybody faced this issue with the PositionService. Most likely I am not doing something right, but can't pin point what it is.
Here is my situation.
- I have successfully added a USB GPS sensor to Raspberry Pi. I can see the GPS coordinates in the Kura Status page.- I modified the heater.xml  to include a reference to the PositionService and added the bind/unbind methods in the heater.j

[2016-01-18 15:08] dwoodard1 commented on #83
Hello,

Could you please open a new Issue? This issue is closed and not related to your question.

For reference, it appears you are not importing org.eclipse.kura.position in your MANIFEST.MF. Doing so should resolve your issue.

Thanks,
--Dave

[2016-01-18 15:20] hndave commented on #83
Thanks for your quick response. I compared the manifest files of the emulator and figured out the missing entries under imported packages.
Thanks again.
Hitesh

Sent from Yahoo Mail on Android

  On Mon, Jan 18, 2016 at 9:08 AM, dwoodard1<notifications@github.com> wrote:
Hello,

Could you please open a new Issue? This issue is closed and not related to your question.

For reference, it appears you

[2016-01-18 17:31] cdealti opened #93 "[Configuration] Empty Values In Service Properties"
If I set the value of a service property to an empty string in the web UI and hit Apply the empty string is accepted and the corresponding service gets the empty string. When KURA gets restarted the value reverts to the default value from the metatype file. If I change the value to a non empty string the value is preserved across a KURA restart.
I'm changing command.working.directory but see the s

[2016-01-18 17:43] cdealti commented on #93
As far as I know if the configuration with an "empty" value is validated by the Web UI, it means that the ```required``` attribute of the property in the service metatype is set to false.

* Does the service receives the ```null``` or the empty (```""```) String?

* How the value of the property is represented in the new xml snapshot that is created after applying the configuration change?

This s

[2016-01-27 03:41] kartben opened #96 "Fix date in the copyright mention of the Web UI"
"Copyright © 2011-2014 [...]" certainly give people a bad impression by making them believe the code project may be old/outdated (I can tell I had the remark more often than not!)

[2016-02-05 16:51] dougmeredith commented on #81
I can confirm that I am also encountering this. Stack trace is as follows:

2016-02-05 11:40:16,382 [DataServiceImpl:ReconnectTask] INFO  o.e.k.c.d.DataServiceImpl - New session established. Unpublishing all in-flight messages. Disregarding the QoS level, this may cause duplicate messages.
2016-02-05 11:40:16,654 [DataServiceImpl:ReconnectTask] WARN  o.e.k.c.c.LifeCyclePayloadBuilder - Error while

[2016-02-05 17:29] MMaiero commented on #81
Hi Doug,
Are you having this issue in Kura 1.4.0?
Thanks.
Matteo

[2016-02-05 18:03] dougmeredith commented on #81
Sorry Matteo, I should have specified that upfront. 1.3.0, on Raspbian Jessie, with Oracle 8 JDK from the Raspbian repository.

[2016-02-05 19:45] MMaiero commented on #81
Have you had the chance to test the 1.4.0? (It's not released yet, you have to compile it from source)

[2016-02-23 09:31] MMaiero opened #98 "DEPLOY-V2: download package do not start but 100% status reported"
As can be seen in attachments, the downloading of the package did not start but the UI reports 100% for the download status value. (Refer to the event happened at 2:50:26 PM)

[2016-02-23 13:26] MMaiero commented on #98
Solved. Commit in develop

[2016-02-23 13:26] #98 closed

[2016-02-23 13:27] #89 closed

[2016-02-23 13:27] #75 closed

[2016-02-23 13:31] #87 closed

[2016-02-23 13:32] MMaiero commented on #96
Closing. It's fixed in release-1.4.0 and improved in Develop.

[2016-02-23 13:32] #96 closed

[2016-02-23 13:33] #85 closed

[2016-02-23 13:33] MMaiero commented on #81
Closing. It should be fixed in release 1.4.0

[2016-02-23 13:33] #81 closed

[2016-02-25 10:01] kartben opened #99 "Provide a Karaf feature"
In order to ease the installation of Kura in a Karaf container, it would be great to add a Karaf feature definition to the repo and Maven build.
Hopefully, it's not too difficult, see eg https://github.com/eclipse/smarthome/blob/master/features/karaf/pom.xml

Having Kura available in the form of a Karaf feature would make it much easier to install it in the same OSGi container as e.g Eclipse Smart

[2016-03-13 11:59] wnagele opened #104 "org.eclipse.kura.linux.net.ConnectionInfoImpl is IPv4 only"
Throws ClassCastExceptions if you are on a network with IPv6 capabilities - see example below. Even worse - can never work on IPv6 only network. :(

`java.lang.ClassCastException: org.eclipse.kura.net.IP6Address cannot be cast to org.eclipse.kura.net.IP4Address
    at org.eclipse.kura.linux.net.ConnectionInfoImpl.getDnsServers(ConnectionInfoImpl.java:123)
    at org.eclipse.kura.linux.net.NetworkS

[2016-03-14 08:50] cdealti commented on #104
@wnagele Kura does not support IPv6 (yet).
Can you please attach to the issue the latest configuration snapshot?
Assuming you are using the Kura version with the Web UI you can download the latest configuration snapshot from **Settings**.

Can you also describe your setup:
* Platform (e.g. Raspberry PI 2)
* Network configuration of the interface attached to you IPv6 LAN
* Kura version/installer us

[2016-03-15 22:18] wnagele opened #108 "CloudCallServiceImpl - call methods setting requester.client.id to #client-id sends response to local device"
I just tried using `CloudCallServiceImpl` to send `CONF-V1` requests to a Kura device. It seems to me that there is a bug in that implementation.

On line 122 it sets the `requester.client.id` to the topic placeholder `#client-id`. This in turn is send to the remote Kura device which then replaces it with its own client-id when sending the response. Not the intended outcome. This prevents the resp

[2016-03-15 22:19] wnagele commented on #104
Well if there is no IPv6 support yet that's a shame. :) I would still recommend to perform a instanceof check in there to ensure that only actual IPv4 addresses are trying to be cast. This will at least ensure that Kura works on a dualstack network.

[2016-03-21 16:45] cdealti commented on #77
We are replacing most of the ``ifconfig`` calls with ``ip``.
This change should fix the above issue and make the Kura network stack more portable across Linux distributions.
These changes have been pushed to the ``develop`` branch.
Feedback is appreciated.

[2016-03-31 21:00] amitjoy opened #110 "Easy Installation of Development Environment"
To ease the setup of Development Environment, an **Oomph Catalogue** can be provided. Many eclipse projects, for instance, **E4 Tools**, **EMF** provide **Oomph Catalogue**s for a hassle free development environment setup.

Another solution could be to create an **Yatta Profile** to package an **Eclipse Installation** which abstracts all the required steps for Development Environment setup.

[2016-04-02 17:34] mcarrer commented on #110
+1 great idea.

Is anybody in the community willing to help us getting it started?

Thanks.
-Marco

On Mar 31, 2016, at 11:00 PM, Amit Kumar Mondal <notifications@github.com<mailto:notifications@github.com>> wrote:

To ease the setup of Development Environment, an Oomph Catalogue can be provided. Many eclipse projects, for instance, E4 Tools, EMF provide Oomph Catalogues for a hassle free developm

[2016-04-02 17:45] amitjoy commented on #110
For my personal use, I have created an **_Yatta Profile_** which comprises all the necessary plugins and the bundles from a specific branch (_**kura2**_) for the Development Environment setup.

You can find it in [https://marketplace.yatta.de/](https://marketplace.yatta.de/).

[2016-04-02 20:55] mcarrer commented on #110
Thanks Amit, that’s great.

@Dave - can we advertise this in the Kura web site?
https://marketplace.yatta.de/profiles/l6NV

@Amit - is the Yatta Profile something that can be automated with the Kura build so we can have this automatically created in every build?

-Marco

On Apr 2, 2016, at 7:45 PM, Amit Kumar Mondal <notifications@github.com<mailto:notifications@github.com>> wrote:

For my persona

[2016-04-02 22:43] amitjoy commented on #110
So far what I have explored, I couldn't find any such maven integration to create automated build for a Yatta Profile. But if there is a change in the specified kura branch, for instance, new bundles are added, then all the bundles including the new ones will automatically be imported while setting up new development environment.

For instance, the Yatta Profile that I have created tracks **_kura2

[2016-04-04 10:08] mcarrer commented on #110
If we create a yotta profile on the master branch, we should be able to have a it following the product releases.

Would that work?

On Apr 3, 2016, at 12:43 AM, Amit Kumar Mondal <notifications@github.com<mailto:notifications@github.com>> wrote:

So far what I have explored, I couldn't find any such maven integration to create automated build for a Yatta Profile. But if there is a change in the s

[2016-04-04 10:17] amitjoy commented on #110
Yeah, we can create an Yatta Profile on the Master branch as well, so that in the following releases it would track the released changes on the branch. That would work.

[2016-04-05 02:55] dwoodard1 commented on #110
Hi Amit,

I just tried the profile and it worked great! Very cool stuff. Maybe we should setup a profile for the master and develop branch. I would be happy to promote this on the Kura website.

One question, the profile seems to tie the Kura source code location to the Eclipse installation directory. Is that configurable? It is not a big deal, it was just a bit confusing for me.

Thanks and let m

[2016-04-05 08:04] amitjoy commented on #110
Hi Dave,

As you suggested, I have created two Yatta Profiles for _master_ as well as _develop_ branches.

https://marketplace.yatta.de/profiles/4d0a - Develop
https://marketplace.yatta.de/profiles/1B8n - Master

As the profile is tied to the branch provided in the configuration, it clones the complete repository in its Eclipse installation folder. I couldn't find any such configurable property to

[2016-04-08 09:43] kartben opened #112 ""How to use WatchdogService" documentation"
See https://www.eclipse.org/forums/index.php?t=rview&goto=1728853#msg_1728853
The documentation of the WatchdogService should probably be moved (or duplicated? but meh...) to Kura? See https://esf.eurotech.com/docs/how-to-use-watchdog

[2016-04-08 10:02] hekonsek opened #113 "CamelContext should not be restarted on the service properties update"
Currently `MetatypePropertiesFunction` restarts `CamelContext` when SCR properties are updated. We should not do it, as it interrupts messages flow.

[2016-04-08 10:11] hekonsek commented on #113
I plan to remove support for `MetatypePropertiesFunction` until somebody (@gautric?) would like to create the version of that function which doesn't restart router.

[2016-04-08 10:12] hekonsek commented on #113
I vote for temporary removal of that function, as Camel context uptime is more important for production applications than having SCR-properties.

[2016-04-08 14:06] kartben commented on #104
+1 to @wnagele's suggestion

[2016-04-11 09:48] hekonsek opened #114 "Ignore welcome message for Camel SCR XML routes"
We should support certain welcome message for Camel SCR XML routes. For example `"...Insert XML Camel route..."`. This message should be displayed in the Kura web UI, but should not be parsed by Camel module.

[2016-04-12 15:33] hekonsek opened #116 "CamelRouter should load core components and languages"
Equinox doesn't export OSGi services defined in MANIFEST file. It means that Camel can't resolve components and languages by name without prior manual registration of those.

So apparently equinox ignores [1] exports defined in manifest, as declarative services are supposed to be used to register services.

We could created a dedicated declarative service responsible for registering the components

[2016-04-13 09:10] hekonsek opened #117 "Add CamelKuraClient to Camel module"
We need to migrate those [1] two [2] modules from Rhiot to Kura.

[1] https://rhiot.gitbooks.io/rhiotdocumentation/content/gateway/camel_components/kura_cloud.html
[2] https://rhiot.gitbooks.io/rhiotdocumentation/content/gateway/camel_components/camel_kura_cloud_service_bridge.html

[2016-04-13 09:22] cdealti commented on #117
@kartben do you see any IP issues in migrating the source code mentioned above in the Kura github repository? Does it need a CQ?
Henryk is the original author of the work being migrated.

[2016-04-13 09:40] cdealti commented on #114
We do not support this because there is no support in the metatype schema.

You can define your welcome message as the ``default`` value in the ``<AD/>`` element of the metatype (see [1]) and this will be displayed in the Web UI.

Note however that your ``ConfigurableComponent`` will receive this default value in the configuration properties Map (e.g. in the ``activate`` method). Your component wi

[2016-04-13 09:51] cdealti commented on #113
By SRC you mean SCR? Do you mean the configuration properties of your ``ConfigurableComponent``?

The properties can be received both in the ``activate`` and ``updated`` methods of your declarative service. ``activate`` is called once while ``updated`` is called at every configuration change.

Can you describe your context in greater detail?

[2016-04-13 10:00] cdealti commented on #104
We made changes to the Kura networking that might have fixed the bug (but no IPv6 support yet - sorry).
@wnagele can you try a build from the ``develop`` branch?

[2016-04-13 10:17] cdealti commented on #108
Nice catch! The ``CloudCallService`` is only used by JUnit tests and this passed unnoticed.

The right fix would be to get the client ID from the Kura ``DataTransportService`` [1].

Can you submit a PR with such a fix?

[1] http://download.eclipse.org/kura/releases/1.3.0/docs/apidocs/

[2016-04-13 10:26] cdealti commented on #78
@ibinshtok can you take a look?

[2016-04-13 11:49] gautric commented on #113
the main idea is the reuse of Metatype configuration in order to inject some attributes to configure Camel route via some placeholder.
The current component could be improved and should manage configuration update as well as possible.

[2016-04-13 16:29] hekonsek commented on #113
Yes, I mean SCR :)

Currently Camel Context is restarted on every `updated` invocation. Unfortunately it is unacceptable behavior as it interrupts flow of the messages in a gateway. So if we want to support Metatype-based properties for Camel (which could be a nice addition) then we should find a way to feed SCR properties into Camel without restarting Camel Context.

[2016-04-13 16:44] cdealti commented on #113
Understood. Can you start the Camel Context on ``activate`` and just update it (without restarting it - assuming this is possible) on ``updated``?
Is this a Camel or OSGi/Kura limitation?

[2016-04-13 17:38] ibinshtok commented on #78
This should be already fixed in commit 03661a211189098ba7c5ea5a25405abd87f3b2b7
(Added signal strength conversion lookup for cases when scan reports signal strength as percentage).
the only thing that needs to be done is to modify javadocs for the getStrength() method of the WifiAccessPoint interface to reflect that we are returning signal strength in dBm.

[2016-04-14 13:15] hekonsek commented on #114
I think we could add extra condition to `CamelRouter` which will ignore XML route definitions not containing `<route ` element. Such validation should solve the issue, as "welcome messages" usually doesn't contain `<route` elements.

This way `CamelRouter` will parse only real routes and ignore non-route default values.

[2016-04-15 13:06] amitjoy commented on #110
@dwoodard1 @mcarrer @cdealti

Please do find the new updated Yatta Profiles for _**Kura Development Environment setup**_.

https://marketplace.yatta.de/profiles/X4Wj - _develop_ branch
https://marketplace.yatta.de/profiles/OqmT - _master_ branch

These profiles now perform all the **manual tasks** (_importing projects, building the target platform, building all the bundles, setting up custom targe

[2016-04-18 10:39] hekonsek commented on #113
I think it should be possible just to update without Context restart. I just don't have time right now to investigate it, so I would prefer to have `MetatypePropertiesFunction` removed for a while. It is better not to support `MetatypePropertiesFunction` for some time then to restart Camel context on every properties update event.

[2016-04-20 08:05] hekonsek commented on #113
Done. The support for `MetatypePropertiesFunction` has been removed for a while. @gautric Feel free to create a pull request with `MetatypePropertiesFunction` which doesn't require to restart `CamelContext`.

[2016-04-20 08:05] #113 closed

[2016-04-20 08:16] hekonsek opened #119 "[Camel] Migrate CamelRouter tests from Rhiot to Kura"
We have some nice unit tests for CamelRouter which should be migrated from Rhiot to Kura. That would give us some safety net against regressions.

[2016-04-20 08:18] hekonsek opened #120 "[Camel] Migrate CamelRouter documentation from Rhiot to Kura"
We should migrate this [1] page from Rhiot documentation to Kura Wiki.

[1] https://rhiot.gitbooks.io/rhiotdocumentation/content/gateway/camel_kura_router.html

[2016-04-20 08:19] hekonsek commented on #114
Done.

[2016-04-20 08:19] #114 closed

[2016-04-20 08:28] hekonsek opened #121 "Kura quickstart seems to be handing when uninstalling the bundle"
Quickstart example [1] seems to be hanging when uninstalling/redeploying bundle. I suspect that thread executor may not be properly closed.

[1] https://rhiot.gitbooks.io/rhiotdocumentation/content/quickstarts/kura_camel_quickstart.html

[2016-04-21 07:51] hekonsek opened #123 "[Camel] Create Kura DataService component"
I would be nice to have a dedicated wrapper around `DataService`.

[2016-04-21 07:52] hekonsek commented on #116
Done.

[2016-04-21 07:52] #116 closed

[2016-04-21 12:00] hekonsek commented on #121
It's not a bug - it was just graceful shutdown [1] waiting for in-flight messages to be processed.

[1] http://camel.apache.org/graceful-shutdown.html

[2016-04-21 12:00] #121 closed

[2016-04-21 12:07] hekonsek opened #125 "[Camel] "BundleContext is no longer valid" error after restarting/reinstalling Camel+Kura quickstart bundle"
[code]

[2016-04-21 15:09] cdealti commented on #117
@hekonsek Nice contribution!
I guess all this needs now to be integrated in the Kura ``CloudService`` to provide an alternate path for messages (``KuraPayloadS``) published and received through a ``CloudClient`` instance.

The ``CloudClient`` implementation, either the current one (let's call it the native CloudClient) or the ``CamelCloudClient`` decides where the message will be "routed".

With t

[2016-04-21 15:40] kartben commented on #117
The license needs to be EPL.
Normally, the code would need to go through a CQ as it was not developped under the supervision of the Eclipse IoT PMC, and Henryk was not a committer at the time the code was written.
That being said, it looks like when the headers will have been switched to EPL license, it will likely be less than 1000 lines of code, so CQ is not needed :)

[2016-04-21 15:41] hekonsek commented on #117
Mea culpa. I will change headers to EPL :) .

[2016-04-21 15:46] cdealti commented on #117
Nooooo. Another CQ, please no :(.

[2016-04-21 17:30] cdealti commented on #117
Before moving on, do you have comments on my above commit?

[2016-04-22 09:02] hekonsek opened #126 "[Camel] Create kura-modbus Camel component"
There is a demand for Camel wrapper around Kura modbus support.

[2016-04-22 09:07] hekonsek commented on #117
BTW I have fixed the license headers to match Eclipse license.

[2016-04-22 09:17] hekonsek commented on #117
I really like your change [1] Cristiano. Good stuff!

[1] https://github.com/eclipse/kura/commit/9ca6be0b6376f748da72036387106ae4c3482c0c

[2016-04-22 09:18] hekonsek opened #127 "[Camel] Prefer throwing KuraException over RuntimeException"
We should avoid throwing unchecked Exceptions (like `RuntimeException` or `UnsupportedOperationException`) from methods already throwing a KuraException.

[2016-04-22 09:19] hekonsek commented on #117
I have created #127 to remember about KuraException refactoring. Thanks, Cristiano!

[2016-04-22 09:21] hekonsek commented on #117
@cdealti What do you mean by "Kura logger"? :)

[2016-04-22 09:51] cdealti commented on #117
In Kura we usually create a per-class slf4j Logger e.g.:
[code]

[2016-04-25 12:27] kartben opened #128 "Client ID is limited to 23 characters (MQTT 3.1 constraint that was relaxed in 3.1.1) preventing connection to some 3.1.1 servers"
https://github.com/eclipse/kura/blob/7d17a281acf0d8b8406a97992a23f9466e29d562/kura/org.eclipse.kura.core/OSGI-INF/metatype/org.eclipse.kura.core.data.transport.mqtt.MqttDataTransport.xml#L61 constraint should be removed, so as people can use client IDs longer than 23characters if they're using MQTT 3.1.1

[2016-04-25 15:06] hekonsek commented on #117
I have fixed the logger convention - https://github.com/eclipse/kura/commit/41f5fe68fa9f06854c2ef2d6c29b5143e88c99fd .

[2016-04-25 15:06] hekonsek commented on #117
I propose to close that task. We can work on the additional features in separated tasks to make our life easier.

[2016-04-25 15:06] #117 closed

[2016-04-25 15:18] hekonsek opened #129 "[Camel] Kura XML route consuming from in-memory "kura-cloud" endpoint can't be restarted"

[2016-04-25 15:28] hekonsek commented on #127
Done.

[2016-04-25 15:28] #127 closed

[2016-04-26 10:00] IOOOTA opened #130 "Kura Bluetooth LE support and Bluez 5.x"
I'm trying to use the "org.eclipse.kura.linux.bluetooth" module inside a Linux x86 environment (Debian Jessie).

Debian Jessie comes with bluez 5.23 per default and incidentally I'm obliged to stick to the 5.* version because of specific project's requirements.

Using the methods offered by the org.eclipse.kura.linux.bluetooth.le.BluetoothGattImpl class I have noticed that the it tries to parse th

[2016-04-26 10:56] pierantoniomerlino commented on #130
Currently Kura supports bluez-4.101 and it expects that the gatttool output is in the "right" format.
In particular, the issue is related on the connect command output. Kura tries to parse the [CON] string, but with Bluez-5.x the connection status is shown with a different font color on gatttool.

So, to support Bluez-5.x, Kura has to manage this different response and check if there are more diff

[2016-04-27 07:11] hekonsek opened #131 "Provide default value for XML route in Kura Camel quickstart"

[2016-04-27 07:17] hekonsek opened #132 "[Camel] Create Camel BLE component"
It will be nice to have a Camel component hiding the boilerplate from BLE example [1]. So end users could just define Camel routes consuming BLE messages.

[1] https://eclipse.github.io/kura/doc/bluetooth-le-example.html

[2016-04-27 07:36] hekonsek commented on #125
Hi @cdealti

I install our quickstart:

    install file:///home/pi/rhiot-kura-camel-1.0.0-SNAPSHOT.jar
    start 73

Then I uninstall it:

  uninstall 73

Now Camel waits for 5 minutes to give inflight messages chance to be processed. After 5 minutes quickstart bundle is stopped and uninstalled. So far so good :) .

Now I install the same bundle again:

    install file:///home/pi/rhiot-kura-came

[2016-04-27 07:47] hekonsek commented on #125
Can it be somehow related to SRC lifecycle? Anu thoughts?

[2016-04-27 09:31] kartben commented on #125
I don't think the problem is with the bundle you are starting, but rather
the previous bundle (#73 in your case). An invalid bundle context
 exception is pretty much always a sign that you have some java code
manipulating a stale BundleContext reference.

On Wed, Apr 27, 2016 at 9:47 AM, Henryk Konsek <notifications@github.com>
wrote:

[2016-04-27 17:36] kartben commented on #125
I would check in the log whether the previous CamelRouter component
properly deactivated. My guess is the error is due to the previous timer
still "ticking" within the previous CamelContext.

On Wed, Apr 27, 2016 at 11:31 AM, Benjamin Cabé <kartben@gmail.com> wrote:

[2016-04-28 06:38] hekonsek opened #133 "[Discussion] Add Felix Install to Kura"
Hi,

I'd like to add Felix Install [1] to Kura. And configure it to automatically pick up and install bundles dropped into `/opt/eclipse/kura/kura/deploy` directory. This way we could achieve Karaf-like deployment experience.

What do you think guys? Any objections?

Cheers!

[1] http://felix.apache.org/documentation/subprojects/apache-felix-file-install.html

[2016-04-28 10:04] mcarrer opened #134 "Retain kura build artifacts in the CI workspace available for downloads"
Retain kura build artifacts, especially Kura installers for various platforms, in the CI workspace available for downloads.

[2016-04-28 10:05] mcarrer opened #135 "Improve README.md to include Quick Start info"
Improve README.md to include Quick Start info for both:
- Kura Application Developers
- Kura Framework Developers

[2016-04-28 10:17] mcarrer opened #136 "Create an EclipseKura account in slideshare"
Create an EclipseKura account in slideshare and share slides from EclipseCON conferences and Kura tutorials

[2016-04-29 08:00] dwoodard1 opened #137 "[Kura App Store] Add Kura Apps Deployment Packages to Eclipse Marketplace"
Store apps from Kura examples to Eclipse Marketplace.

[2016-04-29 08:33] kartben commented on #137
An MPC URL (the one that's in the "INSTALL" button that one drags&drop into Eclipse IDE (or Kura!!!) looks something like: http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=150453

When catching this URL in the drop event, what is important here is the ID of the solution: here 150453.
Next step is to make an HTTP GET call to http://marketplace.eclipse.org/node/150453/api/p

The r

[2016-04-29 08:42] dwoodard1 commented on #82
List of features to include in archetype:

- Enable CI Builds
- Compatible with Tycho build
- Maven clean install should build application bundle
- Maven package for creating DP
- Include Emulator in Eclipse
- Include example unit test
- Include target platform
- Factor out parent pom

[2016-04-29 08:46] dwoodard1 opened #138 "[Web] Enable app installation through drag & drop from Eclipse Marketplace"

[2016-04-29 08:47] kartben commented on #138
An MPC URL (the one that's in the "INSTALL" button that one drags&drop into Eclipse IDE (or Kura!!!) looks something like: http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=150453

When catching this URL in the drop event, what is important here is the ID of the solution: here 150453.
Next step is to make an HTTP GET call to http://marketplace.eclipse.org/node/150453/api/p

The r

[2016-04-29 08:48] dwoodard1 opened #139 "Ask Eclipse webmaster to create apps repository for Kura"

[2016-04-29 08:49] dwoodard1 opened #140 "Move Kura apps from examples to new kura/apps repository"
Update poms for application projects to use archetype.

[2016-04-29 08:49] kartben commented on #139
Please create a new bugzilla ticket: https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Community&component=GitHub asking for a new repo for the Kura project.

[2016-04-29 08:54] dwoodard1 commented on #137
Apps to upload and announce to mailing list:

- [x] SensorTag

- [x] Sensehat

- [x] Modbus

- [x] iBeacon

- [x] iBeacon Scanner

[2016-04-29 09:02] dwoodard1 opened #141 "Update Kura website to indicate using Github Issues instead of Bugzilla"

[2016-04-29 09:04] dwoodard1 opened #142 "[Website] Presentation of downloads"
Create table for filtering download options.

[2016-04-29 09:06] dwoodard1 opened #143 "[Website] Fix release dates for last Kura release"

[2016-04-29 09:07] dwoodard1 opened #144 "Document release process"

[2016-04-29 09:08] dwoodard1 opened #145 "[Website] Fix link for Shoot-A-Pi demo"
Link to slideshare presentation.

[2016-04-29 09:11] dwoodard1 opened #146 "Add adopters to Kura website"
Potential adopters to add:
Eurotech
Red Hat
Microsoft
Solair
Omsense

[2016-04-29 09:14] kartben commented on #146
In case you want to display logos (which could be great!) of the companies involved, you may want to have a quick look at https://www.eclipse.org/org/documents/Recognizing_Project_Contributions_Policy_2008.pdf

[2016-04-29 09:15] dwoodard1 opened #147 "[Web UI] Create screenshots of new web UI"

[2016-04-29 09:19] dwoodard1 opened #148 "Create an FAQ in Github Wiki"

[2016-04-29 09:32] dwoodard1 opened #149 "Kura v2.0.0 Release"
- [x] Release new web UI
- [x] Enhanced Camel integration
- [x] Multitons Support
- [x] Connection to multiple Cloud Platforms
- [x] Drag & Drop of apps from Eclipse Marketplace
- [x] Archetypes for Kura setup
- [x] Support for WiFi multi mode on supported modules

[2016-04-29 09:43] dwoodard1 opened #150 "Update OSGi runtime"
Update Kura OSGi container to newer version.

[2016-04-29 09:43] dwoodard1 opened #151 "OSGi clean.start = true"
Investigate impact of OSGi clean start in Kura.

[2016-04-29 10:12] dwoodard1 opened #152 "Enable connections to multiple Cloud platforms"

[2016-04-29 10:13] dwoodard1 opened #153 "Add JAX-RS to target platform"
Adding JAX-RS to target platform will allow creation of REST APIs to Kura services.

[2016-04-29 10:15] dwoodard1 opened #154 "Merge Multitons services from kura2 branch to develop"

[2016-04-29 10:19] dwoodard1 commented on #154
Setting multiton name should be required by the MultitonService as to provide a unique identifier for instance across restarts.

[2016-04-29 10:42] dwoodard1 opened #155 "Create blog posts for Multitons"
Blog post should explain what Multions are, the services exposed, and highlight that multitons are persisted across restarts.

[2016-04-29 10:47] dwoodard1 opened #156 "[Wires] Create blog post for Kura Wires"
The blog post should include:

Simple Flow
- Converting heater demo to wire emitter
- Show how to instantiate CloudPublisher wire receiver
- Show how to create a wire between heater and publisher

Complex Flow
- Show how to instantiate DbWireRecordStore
- Show how to instantiate DbWireRecordFilter
- Show how to instantiate Timer
- Create wire between heater and record store
- Create flow between t

[2016-04-29 10:49] dwoodard1 opened #157 "[Wires] Create blog post for Kura Wire Devices"
Document creation of modbus driver
Document creation of modbus wire device
Show working flow of modbus

[2016-04-29 11:13] hekonsek commented on #153
So do plan to have a REST API for all Kura services exposed on the device?

[2016-04-29 12:38] MMaiero opened #158 "[Wires] Core implementation bundle"
remove unused apis and change selfconfiguring component to configurable component

[2016-04-29 12:40] MMaiero opened #159 "[Wires] API with Javadoc"

[2016-04-29 12:42] MMaiero opened #160 "[Wires] Add Kura Wire data to JointJS object models"

[2016-04-29 12:42] MMaiero opened #161 "[Wires] Styling and usability for Kura Wires/JointJS"

[2016-04-29 12:43] MMaiero opened #162 "[Wires] Testing of adding/removing/loading from snapshot"

[2016-04-29 12:44] MMaiero opened #163 "[Wires] Add unit test for Kura Wires apis"

[2016-04-29 12:46] MMaiero opened #164 "[Wires] Do we need Unit Tests for internal packages?"

[2016-04-29 12:47] MMaiero opened #165 "[Wires] Merge Web UI support for Kura Wires from kura2 branch"

[2016-04-29 12:48] MMaiero opened #166 "[Wires] Check CQ status for the external javascript libraries"

[2016-04-29 12:49] MMaiero opened #167 "Test iptables injection and other security related fixes"

[2016-04-29 13:04] dwoodard1 commented on #153
Not for now. In the short term we want to include JAX-RS to enable the ability to add REST endpoints as needed in Kura. We will provide examples on how to do this. If anyone is interested in contributing a more robust/secure solution, we would be happy to help with the effort.

[2016-04-29 13:40] MMaiero opened #168 "Support SensorFusion on senseHat"

[2016-04-29 13:41] MMaiero opened #169 "SenseHat: code refactor and package rename"

[2016-04-29 13:58] MMaiero opened #170 "Wifi configuration files should not have passwords inside"
Kura will instrument the passwords when needed

[2016-04-29 14:03] MMaiero opened #171 "Modem: If the Telit modem is manually turned off, kura does not attempt to turn it back on"

[2016-04-29 14:04] MMaiero opened #172 "Modem: manually killing pppd with Kura running never triggers a modem reset"

[2016-04-29 14:08] MMaiero opened #173 "[Network] WiFi channels > 11 missing in scan results."
Howerver, the WiFi will associate on channels > 11

[2016-04-29 14:36] MMaiero opened #174 "Networking: check why sometimes eth0 is toggled on wlan0 reconfiguration"

[2016-04-29 14:39] MMaiero opened #175 "Wifi: dhcp is still running after switching from AP to station mode"
wlan0 enabled for LAN with static IP addr, AP mode and DHCP+NAT. Switching to Station Mode leaves dhcpd running.

[2016-05-02 09:49] #78 closed

[2016-05-02 09:56] mcarrer opened #176 "Kura App Store"
The Kura App Store epic story enable Kura application developer to:
- Quick start the development of a new Kura Application from a Kura App maven archetype
- The Kura App maven archetype creates a maven tycho project with a Kura App skeleton stub, unit test, kura emulator, and DP packaging
- Kura apps can be uploaded into the Eclipse Marketplace
- Kura apps can be installed into a Kura runtime by

[2016-05-02 12:35] MMaiero opened #177 "Upgrade Kura version from 1.5 to 2.0"
Manage the versioning of Kura from current version 1.5.0-SNAPSHOT to 2.0.0-SNAPSHOT

[2016-05-02 15:57] MMaiero commented on #104
@wnagele Have you got any feedback on this bug? Is the exception solved?

[2016-05-02 16:10] ibinshtok commented on #110
Use profiles to new web page.

[2016-05-02 16:40] #139 closed

[2016-05-03 12:50] MMaiero commented on #134
Since Build #570 Hudson build will retain the artifacts of Kura-snapshot builds. Following the list of .deb and .sh files available from the build page:

- kura_{version}_beaglebone-nn_debian_installer.deb
- kura_{version}_beaglebone_debian_installer.deb
- kura_{version}_intel-edison-nn_installer.sh
- kura_{version}_raspberry-pi-2-nn_installer.deb
- kura_{version}_raspberry-pi-2_installer.deb
- ku

[2016-05-03 12:50] #134 closed

[2016-05-03 12:54] #177 closed

[2016-05-03 13:25] gavinying opened #179 "BluetoothLE: compatibility issue"
There are at least 2 different types of gatttool response so far, however the existing code only works with the first scenario,

Scenario 1:
[   ][BC:6A:29:AE:CC:33][LE]> connect
[CON][BC:6A:29:AE:CC:33][LE]>

Scenario 2:
[54:4A:16:5A:14:C6][LE]> connect
Attempting to connect to 54:4A:16:5A:14:C6
Connection successful
[54:4A:16:5A:14:C6][LE]>

It took me quite a few hours to figure it out, neverth

[2016-05-03 15:23] pierantoniomerlino opened #181 "[GPS] position service: code review"
`org.eclipse.kura.linux.position.PositionServiceImpl` has become messy.
Its configuration suggests an exclusive access to a serial port (UART, USB-to-serial) providing the NMEA sentences. This works well with standalone GPS receivers (for example an Ublox GPS receiver).

In the course of time we had to support NMEA sentences provided by Telit modems which combine a modem and a GPS receiver in the

[2016-05-03 15:44] cdealti commented on #130
Possibly duplicate of #179

[2016-05-03 16:42] cdealti commented on #147
Screenshots have been asked on the Kura mailing list.

[2016-05-03 17:05] LucaDazi opened #182 "Move Multitons API and implementation from kura2 to develop"

[2016-05-03 18:01] cdealti commented on #152
Currently Kura only allows a single Cloud connection at a time (i.e. a single MQtt connection).
The typical Kura app depends, often as a Declarative Service, on the ``CloudService`` to publish and subscribe to MQtt topics.
The ``CloudService`` is a singleton and uses the ``DataService`` (in turn a singleton) to connect to the Cloud through the ``DataTransport`` (another singleton). Their current i

[2016-05-04 08:40] MMaiero opened #183 "[Test] Kura tests exception when executed with Java 8"
It seems that the tycho-surefire-plugin in version 0.20
fails to run when invoked with Java 8. Following the stack trace resulting when running the tests with Maven (3.0.5)

[INFO] --- tycho-surefire-plugin:0.20.0:test (default-test) @ org.eclipse.kura.core.test ---
[INFO] Expected eclipse log file: /Users/matteo.maiero/git_eclipse/kura/kura/org.eclipse.kura.core.test/target/work/data/.metadata/.l

[2016-05-04 13:34] MMaiero opened #184 "[Web UI] File upload in web2 always return "File upload failed""
However, no exception is shown in the log and the operation seems to be correctly performed

[2016-05-04 15:28] cdealti commented on #184
Please also check execution from the cloud

[2016-05-04 15:39] pierantoniomerlino commented on #169
The refactor is done. There is a bug on the i2c write procedure. It seems that the write is not performed.
To check it use the following command on the RPi shell:
i2cdump -y 1 0x64

[2016-05-05 08:17] MMaiero commented on #184
@pierantoniomerlino could you check the pull request #185 ?

[2016-05-05 09:24] cdealti opened #186 "[Camel] Create a blog post to announce the upcoming Camel integration in Kura 2.1.0"
OK but where?

[2016-05-05 09:41] cdealti commented on #173
@ibinshtok Is this really a bug? Isn't it enough to change the property in kura.properties?

[2016-05-05 10:25] MMaiero opened #187 "[Web UI] Refresh of firewall table is not performed correctly"
In web 2, if you add an entry to the Port forwarding and IP forwarding tabs, the row is added to the table (the apply button is enabled), but the "No Ports Forwarded" message is not removed.

[2016-05-05 10:29] MMaiero opened #188 "[Web UI] Inconsistency between expected null value and received "" value"
In web 2 the updateDeviceFirewallNATs method of GwtNetworkServiceImpl expects to receive srcNetwork == null and dstNetwork == null to apply default "0.0.0.0/0" values to the corresponding values. The new web2, instead returns "".

The GwtNetworkServiceImpl should cover both null and "" values to match the values received both by the old and new Gwt client part

[2016-05-05 10:30] cdealti opened #189 "[Camel] Camel integration in the Kura CloudService"
@hekonsek this feature leverages the Kura multiple connections feature recently added on the develop branch.

You need to implement a new [CloudServiceFactory](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/cloud/factory/CloudServiceFactory.java) and a component registering a `CloudService` in the OSGi framework.

The Camel implementations wil

[2016-05-05 13:10] bportaluri opened #191 "client-id configuration parameter is too short"
The client-id parameter in the MqttDataTransport configuration page is 24 chars.
For IBM IoT Platform the deviece id is composed as d:org_id:device_type:device_id so it can be a quite long string. See http://iotf.readthedocs.io/en/latest/devices/mqtt.html
This is too small and should be at least 32 characters.

[2016-05-05 13:16] MMaiero commented on #191
Hi,
this issue has already been addressed in #128 and will be solved in next Kura release.
Thanks for your report.
Regards,
Matteo

[2016-05-05 13:16] #191 closed

[2016-05-05 13:19] bportaluri commented on #191
Thank you

[2016-05-05 13:49] pierantoniomerlino commented on #169
Review Gyroscope calibration

[2016-05-05 14:41] ibinshtok commented on #173
I think it is a bug. It would not be enough to modify the kura.wifi.top.channel option in the kura.properies since we have this code in the web2 (note that MAX_WIFI_CHANNEL is 13):
channelDataProvider.getList().remove(MAX_WIFI_CHANNEL - 1);
channelDataProvider.getList().remove(MAX_WIFI_CHANNEL - 2);

[2016-05-05 15:35] #184 closed

[2016-05-05 15:39] #187 closed

[2016-05-05 15:39] #188 closed

[2016-05-05 15:53] ibinshtok opened #193 "Modify the restore() method of IptablesConfig.java to re-throw KuraException."
We need to re-throw the exception here: https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/iptables/IptablesConfig.java#L189, and, in this way, prevent the saving of a new snapshot if something goes wrong.

[2016-05-06 10:14] cdealti opened #196 "[Connection Status] Provide info on whether Kura is connected to Internet"
The connection status, which is output by the Kura `CloudConnectionStatusService` does not indicate if the gateway is connected to Internet (e.g. can ping www.google.com).
Among the reasons why Kura cannot connect is that there is not Internet connectivity (cable disconnected, missing DNS servers, firewall-related problems, etc).
This information is useful for initial troubleshooting of connectivi

[2016-05-06 10:46] kartben commented on #196
+1! 😊

[2016-05-06 12:51] #193 closed

[2016-05-06 14:15] cdealti opened #198 "[Camel] Contribute RHIOT quickstart to Kura examples"
The [RHIOT quickstart code] (https://rhiot.gitbooks.io/rhiotdocumentation/content/quickstarts/kura_camel_quickstart.html) should be contributed to Kura examples.

[2016-05-06 15:03] #169 closed

[2016-05-09 08:49] cdealti commented on #182
@LucaDazi
* org.eclipse.kura.multiton**s** -> org.eclipse.kura.multiton
* ``MultitonService``: add a lengthy Javadoc to describe how the MultitonService works, for example:
  * What does the ``factoryPid`` parameter mean? I think we should mention the ``Metatype`` here.
  * Does a "multiton" need to be a ``ConfigurableComponent``?
  * How does it play with the ``ConfigurationService`` and ``Config

[2016-05-09 09:12] hekonsek commented on #120
Add documentation here - https://github.com/eclipse/kura/tree/gh-pages/_posts/doc .

[2016-05-09 11:48] cdealti commented on #154
Closed as duplicate of #182

[2016-05-09 11:49] #154 closed

[2016-05-09 13:58] cdealti commented on #125
As @kartben  suggested I'd take a look to the unistall of the previous bundle.
For example there is a WARN message in kura.log (see below). Is this expected?

[code]

[2016-05-09 14:09] cdealti opened #199 "[Camel] Camel bundles are in RESOLVED state and must be manually started"
63	RESOLVED    org.apache.camel.camel-core_2.16.0
64	RESOLVED    org.apache.camel.camel-core-osgi_2.16.0
65	RESOLVED    org.apache.camel.camel-kura_2.16.0

Please fix [config.ini](https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/ant/build_equinox_distrib.xml).

Please submit through a Pull Request

[2016-05-09 14:15] hekonsek commented on #199
I don't think we need to start them. Those just provide dependencies to customer modules. Do you see any issue related to the fact that these bundles are not started?

[2016-05-09 14:22] cdealti opened #200 "[Camel] Do we need to add sun.*,com.sun.* bootdelegation to Kura?"
As explained in the [quickstart](https://rhiot.gitbooks.io/rhiotdocumentation/content/quickstarts/kura_camel_quickstart.html) bootdelegation must be added to config.ini:

[code]

Are there alternatives to bootdelegation?

[2016-05-09 14:36] cdealti opened #201 "[Camel] Disable JMX"
[code]

Kura should be lean and mean. I believe we should begin with JMX disabled.

[2016-05-09 14:45] cdealti commented on #199
I assumed that they needed to be started since they can be started and they become ACTIVE.
I had this impression installing the quickstart and this needs to be manually started.
Should I close the issue?

[2016-05-09 14:46] hekonsek commented on #199
Yes, you don't need to start them. I think we can close this.

[2016-05-09 15:39] cdealti commented on #199
OK, thanks.

[2016-05-09 15:39] #199 closed

[2016-05-10 09:36] cdealti commented on #125
@hekonsek I've also tried various uninstall/install of the other camel bundles without success.
In one of these attempts the quickstart DS component remained in the **Unstatisfied** state due to some strange classloading problem. There must be something nasty here, I've never encountered this problem before.

Is there any cleanup needed by the quickstart component on ``deactivate``?

[2016-05-10 10:49] ccustine commented on #179
I have a similar fix which still uses the regex with an OR and should work for both versions.
https://github.com/ccustine/kura/commit/7a1fba0182656f0859ea99011c2bbb4e9a69eb24

I'm not sure that I understand 80e0512 but I think you guys have that figured out on the PR thread.

If you need any help testing this let me know.  I am using BlueZ 5.39.

[2016-05-11 07:23] MMaiero opened #202 "[Web UI] The new web2 should validate fields max length"
Check should be based on metatype values and match what done in classic web UI

[2016-05-11 09:33] hekonsek opened #203 "CamelRouter should register all core components"
Currently we register only subset of components Camel Core components. All the others have to be manually registered by end-user. We should register all core components by default.

[2016-05-11 09:43] hekonsek commented on #203
Done.

[2016-05-11 09:43] #203 closed

[2016-05-11 10:09] hekonsek opened #204 "All data formats from Camel Core should be loaded by CamelRouter"

[2016-05-11 10:09] hekonsek opened #205 "All languages from Camel Core should be loaded by CamelRouter"

[2016-05-11 10:11] hekonsek opened #206 "Include camel-netty4-http component jar in base distribution"

[2016-05-11 10:12] hekonsek opened #207 "Include camel-snmp component jar in base distribution"

[2016-05-11 10:13] hekonsek opened #208 "Include camel-amqp component jar in base distribution"

[2016-05-11 12:20] pierantoniomerlino opened #209 "[Bluetooth] add compatibility with Bluez-5.x"
Currently Kura supports only Bluez-4.101.
In order to support also Bluez-5.x, the BluetoothGattImpl class must be modified to
- correctly parse the connection successful string in gatttool;
- detect the disconnect event;
- check the connection.

[2016-05-11 12:21] pierantoniomerlino commented on #179
@ccustine
Thank you for the suggestion. Indeed this is the right regex.

Since the compatibility with Bluez-5.x needs some work, I open a new issue on it #209

[2016-05-11 13:27] pierantoniomerlino commented on #209
Tests:
- [ ] Bluez 4.101
- [ ] Bluez 5.23
- [ ] Bluez 5.33
- [ ] Bluez 5.39

[2016-05-11 14:33] pierrepitiot commented on #128
I removed the limit on client-id size in MqttDataTransport metatype definition.

Be aware that for the moment, a limit still exists in Eurotech MQTT broker filter, the client id size must not exceed 64 characters. This limit is specific to Eurotech and should be fixed in a next release.

[2016-05-11 14:50] MMaiero opened #210 "[Web UI] Modify Web 2 buttons"
in order to have a more bootstrap-like visual appearance

[2016-05-11 15:40] #128 closed

[2016-05-12 07:37] ccustine commented on #209
👍  I tested your branch and this seems to be working better than my quick fixes. I am running some longer tests with multiple devices connected but I think this fix looks good.

[2016-05-12 08:39] hekonsek opened #211 "Test Kura Camel on Religate board"
I'd like to test Camel Kura integration on non-RaspberryPi board. I have EuroTech Religate in my house, so I will do some testing against it.

[2016-05-12 08:41] MMaiero opened #212 "[Bluetooth] Beacon scanner bundle code review"
Check script on /tmp/BluetoothUtil.btsnoopdump.sh

[2016-05-12 08:42] MMaiero opened #213 "[Bluetooth] Add beacon and beacon scanner documentation"

[2016-05-12 09:56] cdealti commented on #211
@hekonsek Kura for Eurotech gateways is a commercially supported product called ESF.
I'm not saying that you should not try to do that, everybody is allowed to do that.

An ESF distribution for your Reliagate is not yet available. It will be supported starting from ESF 4.0 (based on Kura 2.0).

If you want to make this yourself you are basically doing some of the work we are currently doing here r

[2016-05-12 16:04] cdealti opened #214 "[Multiple Clouds] Share a design document for connecting Kura to multiple clouds"

[2016-05-13 09:34] pierantoniomerlino opened #215 "[Bluetooth] Expose buzzer and leds on SensorTag Example"

[2016-05-13 09:35] LucaDazi commented on #182
- Add references to OSGi Service Factories in the ``ConfigurationService`` API javadoc

[2016-05-13 09:36] pierantoniomerlino opened #216 "[Test] Test Kura on RaspberryPi 3"

[2016-05-13 09:40] pierantoniomerlino commented on #209
@gavinying
Have you had a chance to take a look on it?
Thank you.

[2016-05-13 10:13] MMaiero opened #218 "[Web UI] Open ports table and rule editing"
The editing of a rule takes to a new rule, but the old is not removed. This seems not to happen in the other firewall tabs

[2016-05-13 13:11] hekonsek commented on #131
Done.

[2016-05-13 13:11] #131 closed

[2016-05-13 16:02] cdealti opened #221 "[Camel] Do we need a Camel API in the org.eclipse.kura.api bundle?"
@hekonsek in Kura we package APIs in the ``org.eclipse.kura.api`` bundle. Typically, implementation bundles do not export API packages and where they do that it's only for internal use by other Kura bundles.

For Camel we don't have anything in the API bundle.

It looks to me that the Camel "API" is [CamelRouter](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.camel/src/main/jav

[2016-05-13 16:58] gavinying commented on #209
I haven't tested yet, but the code looks good. I hope could find some time to test it over weekend :)

Maybe only one thing that I want to point out here,

    else if (checkString(line.toLowerCase(), CONNECTED)) {
        m_ready = true;
        m_connected = true;
    }

Shall we change to

    else if (checkString(line.toLowerCase(), CONNECTED)) {
        m_connected = true;
        m_ready = t

[2016-05-15 00:44] kartben opened #222 "CloudConnectionStatusServiceImpl does not cancel workers on component deactivation"
If the GPIOService disappears at runtime (e.g in emulator mode, one will stop or uninstall the emulator.GPIO bundle), the CloudConnectionStatusService keeps using a stale EmulatedPin.
notificationWorker should be canceled on deactivation of the component.

[2016-05-15 07:26] gavinying commented on #209
Just tested on bluez 5.39, works fine.

[2016-05-16 05:56] hekonsek commented on #120
Done.

[2016-05-16 07:47] pierantoniomerlino commented on #209
@gavinying @ccustine
Thank you very much for the tests and comments.
I agree on the modification for the multi-thread context.

[2016-05-16 07:54] #202 closed

[2016-05-16 07:58] #218 closed

[2016-05-16 08:49] pierantoniomerlino commented on #120
Hi,
I take a look on the documentation site and it seems that the Camel page has a different layout.
Could you please fix it? I think that in the document the header is missing (see the other posts in the _posts/doc directory). Moreover, could you move the images in the asset folder?

Finally, since the documentation server orders the post chronologically, could you adjust the date to move the pos

[2016-05-16 09:01] cdealti commented on #222
@kartben a PR with the fix is welcome ;-)

[2016-05-16 09:27] pierantoniomerlino commented on #181
P1: check reliable operation when GPS is provided by the modem and:

- [ ] The modem is reset by net admin
- [ ] Kura is restarted
Postponed:

- [ ] When Kura is restarted and GPS service was enabled, the network service can't communicate with the modem and reset it
- [ ] How to manage USB and built-in modem GPS device
- [ ] Modify GPS enable AT command
- [ ] Filter USB events
- [ ] Check the conf

[2016-05-16 14:18] dwoodard1 commented on #147
I believe @MMaiero  has already done this and posted to the mail list. Can this be closed?

[2016-05-16 15:05] MMaiero commented on #147
Yes, if they are enough, I think it can be closed

[2016-05-16 15:08] #112 closed

[2016-05-16 15:24] pierantoniomerlino commented on #120
Hi,
I reopen the issue to track the modifications.

[2016-05-16 15:28] kartben commented on #147
I guess at some point all the screenshots in the documentation will need to
be updated though (or maybe at least add somewhere a warning to indicate
that the documentation may feature screenshots from an old version of Kura)

On Mon, May 16, 2016 at 10:05 AM, MMaiero <notifications@github.com> wrote:

[2016-05-16 20:43] #167 closed

[2016-05-16 20:54] dwoodard1 commented on #143
https://www.eclipse.org/kura/downloads.php

[2016-05-16 20:54] dwoodard1 commented on #141
https://www.eclipse.org/kura/community.php#contributing

[2016-05-16 23:20] ccustine commented on #215
@pierantoniomerlino Are you working on this currently?  If not, I may be able to do this for you in the next 1-2 weeks. Let me know!

[2016-05-17 07:30] pierantoniomerlino commented on #215
@ccustine
Hi,
thank you for the proposal!
I'm not working on it, so feel free to work on it.

BTW, time ago I developed a Android app based on the official TI SensorTag app and I used the buzzer and leds. Here the code: https://github.com/eurotech/edc-examples/tree/master/SensorTag

[2016-05-17 07:54] pierantoniomerlino commented on #209
@cdealti
Could you please take a look at this PR?

[2016-05-17 12:46] LucaDazi commented on #182
Pull Request updated.

[2016-05-17 13:52] pierantoniomerlino commented on #181
Partially solved in #224

[2016-05-17 13:58] pierantoniomerlino commented on #120
👍

[2016-05-17 13:59] #120 closed

[2016-05-17 14:01] mcarrer commented on #82
Hi David.
   that's great!

How about keeping the interview process aligned with the maven quickstart archetype?

-Marco

[mcarrer@mcarrer-mbp] ~ % mvn archetype:generate -DarchetypeGroupId=org.apache.maven.archetypes -DarchetypeArtifactId=maven-archetype-quickstart

[INFO] Generating project in Interactive mode
[INFO] Archetype [org.apache.maven.archetypes:maven-archetype-quickstart:1.1] found in

[2016-05-17 15:22] #143 closed

[2016-05-17 15:22] #141 closed

[2016-05-17 16:17] dwoodard1 commented on #82
Hello,

The interview portion is already setup that way. Let me know if you are seeing something different.

I updated the request changing the class name from KuraExample to KuraApp.

--Dave

[2016-05-18 15:25] cdealti commented on #214
We don't have a fancy class diagram showing how Kura is going to support this but it's very simple and we will provide its service API soon

[2016-05-18 16:05] pierantoniomerlino commented on #181
The configuration provided by the configurable component is relative to the USB GPS. When a modem GPS is enabled, the latter is used. When the modem GPS is disabled, the USB is used.

[2016-05-18 16:22] hekonsek commented on #129
I think I have found something. I can see this via jstack:

[code]

This thread blocks other threads from updating the XML route.

[2016-05-18 16:26] hekonsek commented on #129
We should try to use VM component instead of SEDA before proceeding.

[2016-05-19 17:25] cdealti opened #226 "[API] We should review how we use OSGi Semantic Versioning"
For the Kura API we use OSGi Semantic Versioning of packages.
Every exported package is qualified with a version that we upgrade if something changes.

Since we aim to backward compatibility we only make changes to the API that require a change in the minor number of the exported package.

For example in #194 we are adding methods to `org.eclipse.kura.configuration.ConfigurationService`.
Due to th

[2016-05-20 00:32] LucaDazi commented on #226
Agree on putting marker interfaces, abstract classes and listeners on dedicated packages.

We could start duplicating classes where needed and deprecating the old ones.
We'll have to take that step, sooner or later.

[2016-05-20 10:01] hekonsek opened #227 "Camel Router should use shorter shutdown timeout period"
Currently Camel waits 5 minutes for in-flight messages to be processed when closing the `CamelContext`. I think that we can reduce this time to 5 seconds by default. End-users still can change this value if needed.

[2016-05-20 10:02] hekonsek commented on #227
Done.

[2016-05-20 10:02] #227 closed

[2016-05-20 10:04] hekonsek opened #228 "Camel CloudService should use VM routes, instead of SEDA"
I think that we would like to make it possible to route internal `CamelCloudClient` messages even between different bundles. We should change `SEDA` queue to `VM` [1].

[1] http://camel.apache.org/vm.html

[2016-05-20 10:05] hekonsek commented on #228
Done.

[2016-05-20 10:05] #228 closed

[2016-05-20 10:07] hekonsek opened #229 "Camel CloudClient should stop internal queues asynchronously"
Currently Camel `CloudClient` stops in-memory queues routes synchronously. That can lead to the deadlocks if some other thread attempts to close in-memory route at the same time.

We should schedule closing those routes instead.

[2016-05-20 10:07] hekonsek commented on #229
Done.

[2016-05-20 10:07] #229 closed

[2016-05-20 10:09] hekonsek commented on #129
Resolved by #229. It was deadlock caused by Camel CloudClient closing in-memory queue routes synchronously.

[2016-05-20 10:09] #129 closed

[2016-05-20 10:39] hekonsek opened #230 "Prepare Camel aggregation demo"
Action points:
- add documentation
- remove Rhiot references

[2016-05-20 10:41] hekonsek opened #231 "Create Maven plugin capable of wrapping regular bundles in DP packages"
Majority of Camel users are used to using plain OSGi bundles. We should provide plugin wrapping such bundles into DP packages.

[2016-05-20 12:10] pierantoniomerlino commented on #215
Hi @ccustine!

Did you have the possibility to work on this issue? Do you need some testing?

[2016-05-23 08:07] hekonsek opened #232 "Add Groovy support to Kura Camel"

[2016-05-23 08:39] lmarshall-eth opened #233 "wireless-tools dependency"
Kura seems to call iwlist, which is part of the wireless-tools package in debian. It's not listed in the deb dependencies for raspberry pi or intel edison.

[2016-05-23 08:48] kartben commented on #232
Can you guys please make sure these extra/non-core bundles are brought by a
dedicated profile at build time, or something equivalent? These days I'm
running Kura on a device with hardly enough flash to fit Kura 1.3. Amy
additional MB to the Kura distro means saying goodbye to compatibility (out
of the box at least) with the most constrained gateways, and that would be
too bad.

Le lun. 23 mai 2016

[2016-05-23 08:59] lmarshall-eth opened #234 "[Web UI] web2 network configuration glitch"
Steps to reproduce:
- Go to network configuration area
- Select an interface, eth0
- Change a property without hitting Apply
- Select another interface, wlan0
- See "There are unsaved changes..." box
- Click "No"

Expected Behaviour:
We are returned to the eth0 configuration

Actual Behaviour:
The wlan0 interface is selected

[2016-05-23 10:59] kartben opened #235 "LinuxNetworkUtil#toolExists() should check for tool's existence in PATH"
I recently ported Kura to a target that has no ethtool, etc. out-of-the-box so I had to compile those manually and put them on my filesystem. Since /sbin, /usr/sbin etc. are on read-only partition, I ended up putting the executables in ~/bin.
However, LinuxNetworkUtil#toolExists() only checks for the tool's existence in "/sbin/", "/usr/sbin/" and "/bin/" (while later on, it doesn't really matter w

[2016-05-23 13:27] hekonsek commented on #232
If we decide to use Karaf in Kura at some point, we could use Karaf "features" [1]. That would mean that by default Kura will contain only "core" modules. Then users could install additional modules (i.e. set of bundles) bu executing shell commands like:

    feature:install camel
    feature:install groovy
    feature:install webui
    feature:install camel

...and so forth. With approach we coul

[2016-05-23 13:59] dwoodard1 commented on #232
I think adding support for Karaf is important, and installing Camel via features would be great. But isn't Karaf itself a fairly large container when compared to Equinox? Also, the default installers (Debian packages, etc) that we distribute use Equinox.

I agree with @kartben, we should be mindful of the the size of Kura. We are already increasing the size of the next release with the new GWT lib

[2016-05-24 12:52] MMaiero opened #238 "[Dev env] Web2 bundle not in dev-env"

[2016-05-24 13:37] #179 closed

[2016-05-24 13:39] MMaiero commented on #209
Closed as PR #217 merged to develop.

[2016-05-24 13:39] #209 closed

[2016-05-24 13:49] MMaiero opened #239 "[Can bundle] Can protocol bundle should be a configurable component"
In the configuration, the user should be able to specify can-related parameters like bitrate

[2016-05-24 15:04] cdealti commented on #198
@hekonsek I Henryk, any progress on this?

[2016-05-24 15:35] cdealti commented on #221
This issue is postponed and will be addressed in Kura-2.1.0

[2016-05-24 15:38] #214 closed

[2016-05-24 15:41] #82 closed

[2016-05-24 15:48] cdealti commented on #136
Postponed to Kura 2.1.0

[2016-05-24 15:49] cdealti commented on #125
@hekonsek Any progress on this?

[2016-05-24 15:50] cdealti commented on #119
Postponed to Kura 2.1.0

[2016-05-24 15:54] cdealti commented on #77
I've contacted the user who originally opened the bug but I've haven't received a reply.
The situation has been improved as described above.
I'll keep the issue open postponing it to Kura 2.1.0.

[2016-05-24 15:56] cdealti commented on #222
@kartben ping

[2016-05-24 15:57] cdealti commented on #201
This is not critical. Postponed to Kura 2.1.0.

[2016-05-24 16:06] cdealti commented on #110
@dwoodard1 Can we close or postpone this?

[2016-05-24 16:11] cdealti commented on #104
No feedback from the user. Postponed to Kura 2.1.0.

[2016-05-24 16:29] cdealti commented on #149
@dwoodard1
* **Enhanced Camel integration** most of the code has been already committed by Henryk on the develop branch. We still need to migrate an example (the author is Henryk) from the RHIOT project (see #198)

* **Multitons Support** the PR #194  will be corrected and merged tomorrow

* **Connection to multiple Cloud Platforms** a new PR will be created tomorrow and merged to develop

* **Dra

[2016-05-24 18:47] dwoodard1 commented on #138
This issue is addressed with pull request #240 .

--Dave

[2016-05-24 19:52] hekonsek commented on #125
You mean bundles like camel-core? Or camel-core-osgi? There is not cleanup needed, so that would be strange. I will work on this again after PTO.

[2016-05-25 09:50] MMaiero opened #241 "[Web 2] Remove wires references from UI"
Wires will not be part of this release.

[2016-05-25 10:24] pierantoniomerlino commented on #215
Hi @ccustine,

did you work on this issue? Since we need it for a demo, could you share something? Otherwise it is not a problem for me to work on it.

Thank you!

[2016-05-25 10:37] pierantoniomerlino commented on #212
We should add the company name option. So the scanner can search for specific beacons, not only iBeacons.

[2016-05-25 11:45] MMaiero commented on #238
Already solved by previous commit

[2016-05-25 11:45] #238 closed

[2016-05-25 11:45] MMaiero commented on #241
Done

[2016-05-25 11:45] #241 closed

[2016-05-25 14:21] pierrepitiot opened #242 "[Web UI] Help is not always visible in the new web ui"
Help says "Mouse over enabled items on the left to see help" but the vertical spacing is too large and at a certain point help is not more visible

[2016-05-26 15:00] MMaiero commented on #233
@pierantoniomerlino Could you check this?
@lmarshall-eth is it ok for you?

[2016-05-26 15:06] pierantoniomerlino commented on #233
@MMaiero : for me it is ok.

[2016-05-27 08:47] pierrepitiot opened #244 "[Web UI] Alphabetical ordering of metatype labels option in ListBoxes"
In a custom bundle I have a configuration parameter setting the local timezone. This parameter proposes a long list of timezone names. In the current configuration this list is not ordered, the drop down list of labels is extracted from the xml file in a random order and will be very difficult to use by the user.

I propose to add an alphabetical ordering of the drop down list options .

Do you th

[2016-05-30 07:15] hekonsek opened #245 "Split Camel quickstart example into "bridge" and "native cloud client" examples"

[2016-05-30 07:54] #138 closed

[2016-05-30 09:58] hekonsek commented on #232
Karaf distribution is 19 MB. I guess that what you get in return for those few extra megabytes it worth it :) .

The big plus of Karaf is that we could start to manage many Kura modules as "features" which will be downloaded only when needed, so we may actually end-up with smaller distribution than Equinox (which includes all the modules now, even if you don't need them).

So even if the initial s

[2016-05-30 12:40] pierantoniomerlino commented on #215
Solved by #246.

[2016-05-30 14:35] pierantoniomerlino commented on #212
- [ ] when the example bundle is stopped, the BTSnoopParser throws an exception;
- [ ] add enable property;
- [ ] the /tmp/BluetoothUtil.btsnoopdump.sh can be replaced?

[2016-05-30 15:20] pierrepitiot commented on #147
@dwoodard1, I updated all the screenshots in the rev 4.0 documentation if you have time to take a look

[2016-05-31 08:17] hekonsek commented on #198
Done. Documentation is here [1].

[1] http://eclipse.github.io/kura/doc/kura-camel.html

[2016-05-31 08:17] #198 closed

[2016-05-31 08:18] hekonsek commented on #230
Done.

[2016-05-31 08:18] #230 closed

[2016-05-31 13:17] pierantoniomerlino commented on #212
Solved by #248.

[2016-05-31 13:28] pierantoniomerlino opened #249 "[Bluetooth] getBluetoothAdapter doesn't return null if the interface does not exist"
When the getBluetoothAdapter is used by the BluetoothService to retrieve the adapter and the interface (e.g. hci0) does not exists, an instance of BluetoothAdapter is created.

It seems that the output of "hciconfig hciX version" is null and no exceptions are thrown.

[2016-05-31 22:12] ccustine opened #250 "KuraCloudComponent should allow more than 2 topic levels"
#The code in KuraCloudComponent only allows 2 topic levels (appId/topic) which is fine when using the bridged mode, but this hampers portability if you change the camel route to use native cloud client.  Code in question is [here](https://github.com/eclipse/kura/blob/9701210c393e818c13cc2d4f198b2495139304f7/kura/org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/cloud/KuraCloudComponent.j

[2016-06-01 04:52] hekonsek commented on #250
Many thanks, Chris. I will pick it up from here.

[2016-06-01 09:08] hekonsek commented on #201
Done. JMX is now disabled by default.

[2016-06-01 09:08] #201 closed

[2016-06-01 15:56] LucaDazi opened #251 "All the example bundles shall use the default CloudService"
With the introduction of multiple connections now the example and demo bundles should be changed so to use the default communication stack by default.

[2016-06-01 16:01] LucaDazi opened #252 "Seed initial configuration when running the Emulator"
With the introduction of Multiple Connection the default communication stack is created starting from the snapshot_0.

When running the Emulator Kura starts without a snapshot_0, thus leading to the lack of a communication stack, which can be created later by the gogo shell commands.

A snapshot_0 for the emulator should be created as part of the Emulator bundle resources and used to seed initial

[2016-06-01 16:04] LucaDazi opened #253 "Check if bundle contexes correctly unget services after invoking getService"
Several OSGi Services are acquired using the bundle context.
After the services are no more needed they should be released calling ungetService(...) in order to keep the reference count of said services consistant.

[2016-06-01 16:06] LucaDazi opened #254 "[Web UI] Icons for multiple communication stacks"
Icons for multiple `CloudService`, `DataService` and `MqttDataTransport` should be the same for all the instances. Right now only the "default communication stack" is represented by proper icons.

[2016-06-01 16:09] LucaDazi opened #255 "[Web UI] Connect/Disconnect button on the WebUI should take into consideration Multiple Connections"
Connect and Disconnect buttons on the Status tab of the Web UI should be changed to be dropdown buttons.

Each dropdown should include all the communication stacks available, and should let the user choose to which communication stack it should connect.

[2016-06-01 16:11] LucaDazi opened #256 "[Web UI] Show connection status for each Communication Stack"
The Status tab of the WebUI should include the information for all the available Communication Stacks.
Right now only the default communication stack information is represented.

[2016-06-02 09:21] hekonsek opened #257 "KuraComponent can't resolve its collaborators"
Some user reported that he need to programatically call `KuraComponent.setCamelContext(...)` and `KuraComponent.getCloudService()` before using the component.

[2016-06-03 08:14] MMaiero opened #258 "[Web UI] Password and alias parameters in DeviceCertsTabUi are swapped"
in the storePublicPrivateKeys gwt call

[2016-06-03 14:53] #182 closed

[2016-06-03 14:55] #258 closed

[2016-06-06 07:59] cdealti commented on #181
@ibinshtok can you please review?

[2016-06-06 08:03] hekonsek opened #260 "Investigate why Camel quickstarts cannot be started anymore"
After merging new cloud service factories into Kura upstream, Camel quickstarts don't seem to work anymore. Camel SCR component is not started properly.

[2016-06-06 08:28] #233 closed

[2016-06-06 08:39] cdealti commented on #147
@pierrepitiot we are talking about the Kura documentation here. Can you update the screenshots of the Kura documentation?

[2016-06-06 09:28] MMaiero commented on #152
@cdealti I think we should document this in Kura site reporting how to create a new stack (programmatically until we modify the web UI).

[2016-06-06 11:30] lmarshall-eth opened #262 "Maven failure when dev-env isn't built"
When building without dev-env, for example with:
mvn -f pom_pom.xml -Pweb,raspberry-pi-2
the staging/target-definition directory isn't created.
This causes a build failure for the new maven archetype module.

[2016-06-06 12:02] cdealti commented on #211
@hekonsek can we close this?

[2016-06-06 12:16] MMaiero commented on #252
@LucaDazi Could you check this? Thanks

[2016-06-06 12:16] cdealti opened #265 "Camel Examples: review"
@hekonsek
A few notes:
- We use a manifest-first approach (i.e. we use Tycho) for our maven builds. The structure of the Camel example projects, `quickstart` and  `aggregator`, should follow those used for the other examples.
  You might want to check the [heater](https://github.com/eclipse/kura/tree/develop/kura/examples/org.eclipse.kura.demo.heater)
- The EPL licence header must be added to ever

[2016-06-06 12:25] cdealti commented on #226
Something has been done for the Data Service and Data Transport Service listeners.
New ``org.eclipse.kura.data.listener`` and `` org.eclipse.kura.data.transport.listener`` have been created to properly support the multiple connections feature.
The old [listeners](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/data/DataServiceListener.java) in

[2016-06-06 12:35] cdealti commented on #257
@hekonsek do we need to fix this for Kura 2.0?

[2016-06-06 12:37] MMaiero commented on #254
@LucaDazi Could you check also this?

[2016-06-06 12:40] cdealti commented on #90
@dwoodard1 do you think we can close this?

[2016-06-06 12:49] cdealti commented on #110
@dwoodard1 I think so.

[2016-06-06 12:58] cdealti commented on #200
@hekonsek as you reported this is necessary (for now). Please **submit this as a pull-request**.
You can create a PR branch directly in the upstream Kura repository

[2016-06-06 13:44] cdealti opened #267 "[SSL Manager] Do we need multiple service instances"
In the multiple connections scenario it makes sense to have multiple instances of the ``SslManagerService``, one per connection. It should be a trivial change.

[2016-06-07 05:32] hekonsek commented on #250
Fixed.

[2016-06-07 05:32] #250 closed

[2016-06-07 05:34] hekonsek commented on #260
Hi Christiano,

Sorry, but this fix doesn't seem to work for me. Can you see Camel Context starting and messages being printed to logs?

[2016-06-07 06:54] cdealti commented on #260
@hekonsek yes, I can see logs like these:
[code]
Are you sure you have built the ``pr_fix_issue_260`` branch?

What is the output of ``ls`` in the OSGi Console, are the quickstart and aggregator components in the ``Satisfied`` state? If you are on the RPI the OSGi Console is available via ``telnet localhost 5002``.

[2016-06-07 09:31] cdealti commented on #267
@dwoodard1 @wbowers
I've checked and having multiple ``SslManagerService`` instances is tricky, requiring changes to both the Web UI, and the Certificates Manager.

The proposal is to keep a single instance of ``SslManagerService`` and add the following properties to the ``MqttDataTransport`` configuration:

1. ssl.default.protocol
2. ssl.default.cipherSuites
3. ssl.hostname.verification

When set

[2016-06-07 11:50] #252 closed

[2016-06-07 14:12] #254 closed

[2016-06-08 07:44] pierantoniomerlino opened #270 "[WebUI] Remove Network Information from Device tab"
In the Device tab the Network Information shows the first active network interface. Often it is the loopback interface. Do it make sense?

[2016-06-08 08:01] cdealti opened #271 "[Bluetooth] BluetoothUtil always use the default adapter (e.g. hci0)"
The adapter specified in the configuration of the BluetoothLE Sensor Tag app is not respected.
BluetoothGattImpl and BluetoothUtil always assume the default (hci0) adapter.

[2016-06-08 08:16] pierantoniomerlino opened #272 "[WebUI] Change message on client-id under MqttDataTransport tab"
The . (dot) is not allowed in the client-id. Add it to the message.

[2016-06-08 08:26] pierantoniomerlino commented on #271
When the gatttool command is run, no adapter is specified. In BluetoothUtil.java the startSession method must be modified adding -i hciX.

[2016-06-08 09:35] hekonsek commented on #260
Oh, I built the `develop`! Let me check against `pr_fix_issue_260`.

[2016-06-08 09:55] hekonsek commented on #260
OK Cristiano. It works now. Many thanks!

[2016-06-08 09:56] #260 closed

[2016-06-08 14:46] cdealti opened #275 "[Dev Env] Add org.eclipse.kura.linux.bluetooth to the target-platform."
Given that the ble apps are distributed with the Dev Env workspace, Linux users can run these apps if the org.eclipse.kura.linux.bluetooth is present. Mac users, sorry!

[2016-06-08 15:18] cdealti commented on #267
@dwoodard1 can you review?
@wbowers can you test?

[2016-06-08 15:19] ibinshtok commented on #181
@pierantoniomerlino , I am getting these exceptions when switching from modem GPS back to onboard GPS. This is on HE910 modem.
2016-06-08 14:31:24,336 [GpsSerialCommunicate] ERROR o.e.k.l.p.GpsDevice - Exception in gps read - {}
java.lang.NullPointerException
	at org.eclipse.kura.linux.position.GpsDevice$SerialCommunicate.doPollWork(GpsDevice.java:325)
	at org.eclipse.kura.linux.position.GpsDevice

[2016-06-08 15:24] pierantoniomerlino commented on #181
Ok. I'll take a look at this. On which device did you see this exception?

[2016-06-08 15:25] ibinshtok commented on #181
On HE910

[2016-06-08 16:41] #270 closed

[2016-06-08 17:01] ccustine commented on #215
I tested this thoroughly yesterday and everything works well.

[2016-06-08 17:09] cdealti commented on #215
@ccustine Thanks!
By the way how is the buzzer on your SensorTag 2? On mine is very weak and unstable.
It has a firmware dated July 2015. I've downloaded the latest BLE stack from TI to see if there is a later version or if we can improve the situation by compiling a new one.

[2016-06-08 18:15] dwoodard1 commented on #262
@cdealti This is not a trivial fix. The archetype portion of the build relies on the target platform generated by the dev-env profile. I suggest postponing this until after the 2.0.0 release as all CI builds use the dev-env profile.

@lmarshall-eth your RPI2 installers were still generated even though the build failed. The archetype creation is the last step in the build.

[2016-06-08 19:32] #256 closed

[2016-06-08 19:32] #267 closed

[2016-06-08 19:47] ccustine commented on #215
@cdealti Yeah it seems like the frequency is very low so the sound is quite bad. Maybe that is for reduced power requirements :-)

[2016-06-08 20:44] cdealti commented on #215
@ccustine you know the alarm on cheap quarz watches... They are loud and run off a coin battery. Tomorrow i'll take a look to the firmware. I'm pretty sure it can work better. I'll let you know my findings
________________________________
Da: Chris Custine <notifications@github.com>
Inviato: mercoledì 8 giugno 2016 21.47.50
A: eclipse/kura
Cc: De Alti, Cristiano; Mention
Oggetto: Re: [eclipse/kura

[2016-06-10 16:04] cdealti opened #278 "[Kura 2.0.0 Release notes]"
We'll keep here notes

### Know Issues
- Multiple connections: updating a service (e.g. MqttDataTransport) of a connection has the effect to cause the unwanted reactivation of the next higher layer service (i.e. DataService) of the other connection(s). This in turn will cause the reactivation of all dependent components. This is not desired and not yet understood (Equinox bug?).

- Modem: Ublox Li

[2016-06-13 08:07] cdealti commented on #215
@ccustine I have a new firmware with improved buzzer support [here](https://github.com/cdealti/sensortag). Sounds good!

[2016-06-13 08:19] cdealti commented on #222
@kartben we are ready to cut a release branch. If you have a PR for develop, we will be glad to merge it

[2016-06-13 08:28] cdealti opened #279 "[Web UI] Cloud connection icon should show the connection status of the default connection"
For the time being the red/green cloud connection icon will only show the status of the default connection.

[2016-06-13 08:35] MMaiero commented on #279
@cdealti Do we have to apply changes only to web2 or also to the old web bundle?

[2016-06-13 09:07] hekonsek opened #280 "Add missing licenses to Camel quickstarts"

[2016-06-13 09:25] hekonsek opened #281 "Add XML routes configuration per Camel CloudService"

[2016-06-13 10:21] cdealti commented on #279
@MMaiero I believe at this point the classic web UI is behind web2. For example, it misses the changes to properly display multiple cloud connections (I guess).
I would not update web and see what happens ;)

[2016-06-13 12:17] #272 closed

[2016-06-13 12:42] pierantoniomerlino opened #284 "[WebUI] Empty strings in arrays are not managed"
When I try to save changes in the publisher demo, the kura.log reports an exception due to empty strings in short array.

[2016-06-13 14:03] pierantoniomerlino commented on #284
Solved by #285.

[2016-06-13 14:30] #215 closed

[2016-06-14 10:00] #284 closed

[2016-06-14 10:35] #271 closed

[2016-06-14 15:36] pierrepitiot opened #288 "[Modbus] Implement the MBAP header for TCP/IP communication"
According to modbus.org, the MBAP header is required for TCP/IP communication, when sending a PDU. The MBAP header contains transmission ID, protocol identifier, length information and a unit identifier.
Without the header the slave device rejects the transmission when checking the header content.
See: http://www.modbus.org/docs/Modbus_Messaging_Implementation_Guide_V1_0b.pdf

[2016-06-14 16:13] #279 closed

[2016-06-15 07:12] cdealti opened #289 "[Web UI] Wireless Password disappears after verification"
In the WiFi configuration, the Wireless Password entered (shown as dots) is deleted after you press the verification button.

[2016-06-15 07:16] cdealti opened #290 "[Web UI] Refresh button in network configuration deselects the currently selected interface"
The refresh button deselects the currently selected interface, for example wlan0,  and sets it to the loopback interface.

[2016-06-15 09:23] dwoodard1 opened #292 "Update emulator launch configs"
The emulators should be updated to include the Camel libraries and use the new web UI by default.

[2016-06-15 11:46] #255 closed

[2016-06-16 15:58] cdealti opened #296 "[Web UI] Status | Connection: if the connection username is not set, "null" is shown"
If the username is not set (left blank) in the MqttDataTransport, it is shown as "null" in the Connection Status page of the Web UI.

This was found in an 2.0.0 SNAPSHOT so it might have already been fixed.

[2016-06-16 16:41] cdealti opened #297 "[Status led] What connection instance controls the status led?"

[2016-06-20 17:24] kartben opened #299 "On Red Hat Fedora, network-scripts can contain double quotes"
On my Samsung Artik board, `/etc/sysconfig/network-scripts/ifcfg-eth0` contains:

[code]

The double-quotes are causing issues e.g in org.eclipse.kura.linux.net.util.GenericNetworkInterface.getCurrentConfig() since `""yes""` is certainly not equal to `"yes"`. I guess org.eclipse.kura.net.admin.visitor.linux.IfcfgConfigReader.parseRedhatConfigFile() could be adapted to remove double-quotes from the

[2016-06-21 13:48] pierrepitiot opened #300 "[Network] dhcpd not restarted when switching from WAN to LAN/DHCP Server mode"
On ESF first start, eth0 and wlan0 are configured as dhcp+nat mode, and dhcpd and named services are running.
If the dhcp/nat mode is disabled on the 2 interfaces (eg disabling wlan0 and configuring eth0 as WAN/DHCP client), it is never restored when switching back to LAN/DHCP+NAT server mode. dhcpd and named are never restarted even after rebooting the system.

[2016-06-24 08:32] kartben opened #302 "OSGi console "help" command fails"
[code]

This is because the "createConfiguration" command is not registered properly.
Would be nice to see this fixed for 2.0.0, as it's quite annoying to lose access to the OSGi console help.

I will submit a PR.

[2016-06-24 08:37] kartben commented on #302
Well actually it seems to be something that's been fixed in Gogo command 0.12.0, or at least they implemented a more flexible way to parse the "osgi.command.function" property, and it can now be either a single String, or a String array.
Since Kura still relies on Gogo command 0.8.0, the fix for now should be to just make sure the "osgi.command.function" property is a String array, as it's what Go

[2016-07-01 19:30] pstanton opened #306 "DEPLOY-V2 documentation incorrect"
After testing out this feature I found a few behaviours which do not match the documentation at https://eclipse.github.io/kura/ref/mqtt-namespace.html#deploy-v2

1. "job.id" is missing.
2. "dp.download.protocol" should not say "default HTTP" this suggests it is not mandatory. Maybe "e.g. 'HTTP'" would be better, or make it default/non-mandatory in the implementation.
4. "dp.install.system.update"

[2016-07-01 19:40] dwoodard1 opened #307 "CloudCallService overrides client ID"
The current implementation of CloudCallService overrides the requester client ID with "#client-id" in the passed in KuraRequestPayload. This causes the remote Kura device to respond to the wrong control topic. This should be updated to only call setRequesterClientId() if the KuraRequestPayload is null.

[2016-07-02 19:58] pstanton commented on #306
in addition, the dpName and dpVersion should definitely be split and sent in different metrics to match the input parameters, as considered in the comment in the below snippet:

[code]

[2016-07-06 08:48] kartben opened #308 "Add a BLE example for advertising as an Eddystone (Google) beacon"
It would be nice to be able to have a Kura gateway behave as an Eddystone beacon, e.g broadcasting it's admin URL. See:
- https://github.com/google/eddystone/blob/master/protocol-specification.md
- hcitool command example: https://hackaday.io/project/10314-raspberry-pi-3-as-an-eddystone-url-beacon

[2016-07-11 13:46] cdealti opened #309 "[Configuration Service] SelfConfiguringComponentS not tracked"
The recent refactoring of the ConfigurationService broke tracking of SelfConfiguringComponents.
For example, they are not displayed in the list of services in the Kura Web UI and changes to their configuration are not saved to snapshots.

[2016-07-11 13:57] cdealti commented on #309
@ibinshtok can you please review?

[2016-07-11 14:03] cdealti commented on #152
Please see the Kura [Wiki](https://github.com/eclipse/kura/wiki/Multiple-Cloud-Connections).

[2016-07-11 16:43] cdealti commented on #302
Fixed by PR #304.

[2016-07-11 16:43] #302 closed

[2016-07-11 16:46] cdealti opened #311 "[Multiple Cloud Connections] Spurious component reactivations upon configuration change"
Multiple connections: updating a service (e.g. MqttDataTransport) of a connection
has the effect to cause the unwanted reactivation of the next higher layer service (i.e. DataService)
of the other connection(s). This in turn will cause the reactivation of all dependent components.
This is not desired and not yet understood (Equinox bug?).

[2016-07-12 06:39] cdealti commented on #309
Closed by #310.

[2016-07-12 06:39] #309 closed

[2016-07-12 13:09] ctron opened #314 "The Camel Quickstart example is not working"
Copied over from: https://bugs.eclipse.org/bugs/show_bug.cgi?id=497752

I tried to walk through the Camel quickstart tutorial [1]. However this fails early in the "mvn install" step:

[code]

[1] http://eclipse.github.io/kura/doc/kura-camel.html

[2016-07-12 13:11] ctron opened #315 "The Kura documentation should mention the default login credentials admin/admin"
Copied over from: https://bugs.eclipse.org/bugs/show_bug.cgi?id=497751

Right now neither the Raspberry Pi Quickstart nor the "Getting started" section mention that the default credentials are admin/admin.

[2016-07-12 13:12] ctron opened #316 "Debian package should declare dependency on java"
Copied over from: https://bugs.eclipse.org/bugs/show_bug.cgi?id=497749

Since the Kura platform does require Java as a runtime it should declare a dependency on `java7-runtime-headless`, which will provide a suitable JRE.

Currently the Kura package only depends on:

   hostapd, isc-dhcp-server, iw, dos2unix, bind9, unzip, ethtool, telnet

[2016-07-12 13:13] ctron opened #317 "Assign different name to "extended" packages"
Copied over from: https://bugs.eclipse.org/bugs/show_bug.cgi?id=497746

Currently the installer packages for Kura are available in a "normal" and "extended" version.

However the file names offered for download do not make this visible to the user. So your cannot decide, from the name of the package, if it is the normal or extended version.

e.g.: "kura_1.4.0_raspberry-pi-2_installer.deb" is used

[2016-07-12 13:22] ctron opened #318 "There should be Oomph based setups for Kura"
Looking at the documentation I think it would be nice to have Oomph based setups for developing for and with Kura.

I think you would need two setups:
* One for people writing applications for Kura
* One for people working on Kura

This should remove the requirement to download and unzip a complete workspace.

[2016-07-12 14:09] kartben commented on #318
fwiw I think @amitjoy has worked on a Yatta profile https://marketplace.yatta.de/profiles/l6NV

[2016-07-12 15:33] cdealti commented on #314
@hekonsek can you please take a look?

[2016-07-13 11:39] ctron commented on #318
Thanks @kartben for bringing this to my attention. However, as I looked into the description, this still leaves a few things to do. Also, to my knowledge, Yatta profiles cannot be edited as Oomph setups can be. In the past I had to ask Yatta to do this.

[2016-07-13 11:57] amitjoy commented on #318
After having a conversation with the Yatta guys, they are coming with a GUI support to customize your own Yatta Profile. It's in progress and I believe it would definitely be helpful for developers to use Yatta Profile for setting up development environment.

[2016-07-13 12:02] ctron commented on #318
Sure that would a great enhancement. I mean they can also convert it now using the Ommph setup in PR #320, this should do the trick and you don't have to wait.

[2016-07-14 07:11] ctron opened #321 "No support for systemd based systems"
Right now it seems that Kura does not support Linux distributions which are based in systemd.

This includes:
- A dependency on `libudev.so.0`
- The requirement to have a startup script named `/etc/init.d/named`

[2016-07-14 12:45] ctron commented on #318
I did enhance the Oomph setup in way that the user has the ability to choose in the initial setup dialog whether he wants the full Kura setup (developer) or just the Getting started modules (user).

[2016-07-15 09:21] ctron opened #324 "Create code style guide/settings"
Maybe there already is, but I did not find anything in the GitHub Wiki, the Eclipse Wiki, the `CONTRIBUTING.md` file or the `README.md` file.

What are the requirements for code style when submitting changes? And were do I find those?

Maybe it would also be nice to have an Eclipse code formatter settings file, so that I can be applied automatically on each save.

[2016-07-15 09:54] ctron opened #326 "org.eclipse.kura.web2 is missing about.html"
The project `org.eclipse.kura.web2`is missing the required `about.html` file.

Since there seem to be some icon resources in the project, this has to be explicitly mentioned in the "Third Party Content" section.

[2016-07-15 10:59] cdealti commented on #324
+1. Do you have suggestions?

[2016-07-15 11:00] cdealti commented on #321
And maybe more ;)

[2016-07-15 11:16] cdealti opened #329 "[DEPLOY-V2] Review/refactoring needed"
- Uncaught Exceptions
- Unnecessary Exception handling already done by the Cloudlet
- Unnecessary use of static fields
- Unnecessary xxxOptions class hierarchy
- Does not handle properly concurrent download requests. A second request arriving when a previous one is pending will corrupt the download state
- Uses Kura internal packages org.eclipse.kura.core.util
- Many warnings by Sonar Lint
- Incon

[2016-07-15 11:18] ctron commented on #324
In general it looks to me as if you are pretty close to the Eclipse standard profile. So I guess going with that would be fine.

Personally I don't really like it that much, but I guess you can argue about personal preferences on code style for ages :wink:

[2016-07-15 11:29] ctron opened #330 "Setting Maven compiler settings to Java 7"
As described in the Eclipse Wiki [1] Kura has a dependency on Java 7.

However the maven compiler settings are still at Java 6.

I would like to raise this to Java 7 for Kura 2.0.

[1] https://wiki.eclipse.org/Kura/Getting_Started#Java

[2016-07-15 11:32] cdealti commented on #330
@ctron see my comment to #327

[2016-07-15 11:44] cdealti commented on #324
We have style inconsistencies everywhere. Personally, I would just select all the code and hit Shift-Ctrl-F in Eclipse. However everyone has preferences on braces, tabs and spaces, line breaks, final keyword everywhere, s_static vs STATIC_ALL_UPPERCASE, m_.  I'd like to consider a formatter (and everyone should install Sonar Lint).

[2016-07-15 11:49] cdealti commented on #317
@dwoodard1 can you please take a look?

[2016-07-15 11:52] ctron commented on #324
I am not sure if you can force everybody to install it.

I do know that everybody has preferences on code style :wink: But I would just say that the project decides on a code style. So that not everybody brings in his own style. Many projects do that. So it is a valid approach.

The way people do apply this style is a different topic. Manually? Fine! But the project could help in providing a setti

[2016-07-15 11:52] cdealti commented on #311
I wonder if we should consider upgrading Equinox at some point

[2016-07-15 11:53] ctron commented on #330
Maybe I do continue here ...

So what is the reason for that sticking with source level compatibility on 1.6?

Since this would mean that I can switch to EE 7, but cannot use "try-with-resources"?

[2016-07-15 12:10] cdealti commented on #79
@dwoodard1 to be done just after the release.

[2016-07-15 12:10] cdealti commented on #213
@pierantoniomerlino to be done after the release

[2016-07-15 12:11] cdealti commented on #149
@dwoodard1 ready to go

[2016-07-15 12:20] cdealti commented on #170
@ibinshtok @MMaiero On a related topic, for Ethernet interfaces we rely on /etc/network/interfaces to configure interfaces at boot.

For wireless (WiFi, cellular) we don't. Any reason for this asymmetry?

 And if we did it and we encrypted the wireless passwords it would not work.

[2016-07-15 12:22] cdealti commented on #292
@dwoodard1 Launch configs are always broken. I've never found a working launch config for Linux in my life. Ideas?

[2016-07-15 12:33] cdealti commented on #235
@kartben I believe we should externalize this stuff in configuration files, e.g. in ``kura.properties``

kura.os.prog.chmod=/bin/chmod

[2016-07-15 12:59] cdealti commented on #93
See #109.

[2016-07-15 12:59] #93 closed

[2016-07-15 13:02] cdealti commented on #186
@hekonsek  @dwoodard1 is there anything announcing this?

[2016-07-15 13:06] cdealti commented on #253
@LucaDazi do you remember what was the conclusion?

[2016-07-15 13:18] cdealti commented on #166
@dwoodard1 Can you please check IPZilla? It looks like the CQ for ``JointJs Version: 0.9.6`` has been closed due to inactivity.

[2016-07-15 13:35] cdealti commented on #158
@amitjoy FYI

[2016-07-15 13:36] cdealti commented on #163
@amitjoy FYI

[2016-07-15 13:39] cdealti opened #332 "[Wires] Implement Timer emitter"

[2016-07-15 13:40] cdealti opened #333 "[Wires] Implement Publisher Receiver"

[2016-07-15 13:43] cdealti opened #334 "[Wires] Implement DataStore Receiver (with JUnit tests)"
@amitjoy FYI

[2016-07-15 13:45] cdealti commented on #332
@amitjoy FYI

[2016-07-15 13:50] cdealti opened #335 "[Wires] CQ for Kura Wires API and core bundle"
# c10n

Name:           c10n
Version:        1.2
Description:    C10N (Cosmopolinat) is a Java library, focused on making
internationalisation more modular, easier to evolve and maintain,
robust-to-change and IDE-friendly without excess of external tools.

https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11675

@amitjoy FYI

[2016-07-15 14:02] amitjoy commented on #324
According to the Eclipse Code Style as provided in Eclipse IDE, I excerpted few important factors which would be great if followed.

- Add 'this' qualifier to unqualified field accesses
- Add 'this' qualifier to unqualified method accesses
- Convert control statement bodies to block
- Convert 'for' loops to enhanced 'for' loops
- Add final modifier to private fields
- Add final modifier to method

[2016-07-15 14:04] cdealti commented on #245
@hekonsek what do you exactly mean?

[2016-07-15 14:05] cdealti commented on #257
@hekonsek ping

[2016-07-15 15:01] ctron commented on #324
I wouldn't add a file adder automatically though. That sometimes goes wrong and may cause more issues than it helps.

[2016-07-15 15:03] amitjoy commented on #324
I have been using **JAutodoc** in several projects since last year and it works fine. You can try and check it. It's really good.

[2016-07-15 15:40] dwoodard1 commented on #166
@cdealti  Yes, there was a bit of a long story to this. Whenever we are ready to move forward with JointJS, I can re-open the CQ.

[2016-07-15 15:42] cdealti commented on #297
- Multiple instances of the status service?
- One instance handling multiple LEDs, one per connection, (or dummy LED if there are no other LEDs)?

[2016-07-15 16:05] cdealti commented on #330
Exactly

[2016-07-15 16:15] cdealti commented on #130
Duplicate of #179

[2016-07-15 16:15] #130 closed

[2016-07-15 16:19] cdealti commented on #173
@ibinshtok I believe changing the property worked for me. Let's fix it.

[2016-07-15 16:24] ctron commented on #330
I don't see any reason at all. The other way round, maybe.

So let's do it of nobody objects with a real reason.

[2016-07-15 16:29] dwoodard1 commented on #311
I think we should consider upgrading. I believe we are 5 versions behind at this point.

On Jul 15, 2016, at 07:52, Cristiano De Alti <notifications@github.com<mailto:notifications@github.com>> wrote:

I wonder if we should consider upgrading Equinox at some point

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com

[2016-07-15 16:29] cdealti commented on #216
@pierantoniomerlino ping

[2016-07-15 16:29] ibinshtok commented on #173
@cdealti ok, I will work on the fix.

[2016-07-15 16:34] dwoodard1 commented on #317
This is definitely confusing. However, with Kura 2.0, we will no longer need the extended downloads. There will only be two installers per platform (with or without networking). Do you think we should try and clean up the old downloads?

[2016-07-15 16:38] cdealti commented on #234
@lmarshall-eth Possible duplicate or related to #290

[2016-07-15 16:45] cdealti commented on #317
@dwoodard1 Shall we provide only the installer with the Web UI?

[2016-07-15 16:57] ibinshtok commented on #170
Yes, it is possible to setup the /etc/network/interfaces file to launch wpa_supplicant or hostapd automatically. The respective lines are:
wpa-conf /etc/wpa_supplicant-wlan1-wpa2-eap-tls.conf
hostapd /etc/hostapd-wlan0.conf
I am using this approach for King County to provide a reliable and simple way to ensure that wireless interface is ready for the c5921 router to use.
I think that this approach

[2016-07-15 17:11] dwoodard1 commented on #317
@cdealti  The build is not currently setup to create a "no web UI" installer. This would delay the release by a bit if we want to provide this. It may be simpler to give instructions on how to remove the web bundle if it is not needed.

[2016-07-15 17:35] MMaiero commented on #317
@dwoodard1 for this release we can build it without the web profile (as usual) and simply rename the files as _no_web.dp. Eventually we can think to see if we can automate this stuff. Maybe with a specific device_profile in the distrib pom file: we could have full build, nn and no web. The cost will be a longer build and a little bit of effort when adding a new device...

[2016-07-15 19:44] dwoodard1 commented on #317
@MMaiero @cdealti We have never created "no web UI" builds before, why now? The only reason for the separate downloads previously was due to the license issue with GXT. Seems to me we should just do a standard build and add the "no web UI" installers later if needed.

[2016-07-18 08:38] pierantoniomerlino commented on #216
@cdealti No RPi 3 is available for test. Can we add this issue for the next release?

[2016-07-18 08:54] kartben commented on #216
I am not sure what kind of tests you guys are looking for, but I have been
running Kura on RPi 3 for quite a while without any problem I can think of.

On Mon, Jul 18, 2016 at 10:38 AM, Pierantonio Merlino <
notifications@github.com> wrote:

[2016-07-18 09:58] ctron opened #337 "[Web2]: Field validation errors not shown"
If a field validation fails the error message for that field is not shown.

The error message if set using `setPlaceholder`, which sets the text in case the field is empty. However in most cases the field is not empty when data validation fails.

While I would prefer to have a separate box, it should be set at least using `setTitle` in order to have the error message in the tooltip.

[2016-07-18 10:05] ctron opened #338 "[Web2]: String input forced to a maximum length of 255"
Input fields of type "String" are forced to a maximum limit of 255 characters. Although components may specify more in their metatype description, the following code will not allow text input with more than 255 characters:

[code]

[2016-07-18 10:38] cdealti opened #339 "[Web UI] The Disconnect button in the Status menu disconnects all connections"
As in the title, the disconnect button always disconnects all the cloud connections. See repeated log lines below:

[code]

[2016-07-18 10:47] cdealti opened #340 "[Configuration] Metatype not updated in the Web UI"
How to recreate:

1. Install a Deployment Package containing a bundle with a ConfigurableComponent
2. Update the metatype of the ConfigurableComponent, for example by changing the description in an ``AD`` element
3. Uninstall/Install the Deployment Package again
4. The metatype is not updated in the Web UI until Kura is restarted

I guess it's a bug of the ConfigurationService.

[2016-07-18 11:22] cdealti opened #341 "[Configuration] Review ConfigurationService (yes, again)"
1. `ConfigurableComponent` should be deprecated. The `ConfigurationService` should only scan the Meta Type files in a bundle and (properly) determine the component PID from the Meta Type.
2. Clarify what a `SelfConfiguringComponent` is:
   - It should provide (register) the `SelfConfiguringComponent` service interface to the OSGi framework
   - It can return a **dynamic** configuration (and Meta T

[2016-07-18 11:26] cdealti opened #342 "[Configuration] Support multiple configurations for SelfConfiguringComponentS"
The ``ConfigurationService`` needs to support creating configurations (via ``createFactoryConfiguration``) for ``SelfConfiguringComponent``S too.

[2016-07-18 11:50] ctron opened #343 "[Web2]: Setting the "name" property to anything different than the "id" sets an empty value"
Setting the "name" attribute to anything different than the "id" attribute in the metatype model will cause the "name" to rendered as label, but fail to retrieve the data from the generated form since the label is used as ID:

[code]

A possible workaround would be to set the ID into the title an also retrieve it from there, making the label just a label:

[code]

and:

[code]

[2016-07-18 11:51] cdealti commented on #216
@kartben Probably we only need to run the formal QA for this platform.

[2016-07-18 11:56] pierantoniomerlino commented on #216
@cdealti and @kartben : yes, we should run the QA tests as we did with the new devices.

[2016-07-18 13:27] kartben commented on #216
Where can one find the QA tests? :-)

On Mon, Jul 18, 2016 at 1:56 PM, Pierantonio Merlino <
notifications@github.com> wrote:

[2016-07-18 15:31] cdealti commented on #289
Just fix the password being cleared and the hint moving over the button

[2016-07-19 06:20] cdealti commented on #300
@pierrepitiot Please try to recreate.

[2016-07-19 06:32] cdealti commented on #172
@ibinshtok Can you please check this? If you keep killing ``pppd`` while Kura is running, the modem is never reset. Do not fix it for now, only understand the behavior and the effort required.

[2016-07-19 06:35] cdealti commented on #174
@pierrepitiot Can you try to just recreate this, please? It's been there since a long time and might have already been fixed.

[2016-07-19 06:36] cdealti commented on #175
@pierrepitiot Can you just try to recreate this, please?

[2016-07-19 09:48] pierrepitiot commented on #300
I tried several times to reproduce the sequence that gave me the issue but never had the issue again.
I think this problem is a side effect occurring randomly in a very special config, I don’t think we should spend more time on it. Do we need to keep the issue open in case someone encounters it again ? (personaly I don't think so)

[2016-07-19 10:23] pierrepitiot commented on #296
The bug is still present. Null is returned by org.eclipse.paho.client.mqttv3.MqttConnectOptions.getUserName().

[2016-07-19 13:42] pierrepitiot commented on #175
I was not able to reproduce. The dhcpd still running is the one associated to eth0 if the default config is unchanged.

[2016-07-19 13:42] #175 closed

[2016-07-19 14:30] pierrepitiot commented on #174
I was not able to reproduce the problem.

[2016-07-19 15:20] cdealti commented on #300
Closing because it cannot be recreated.

[2016-07-19 15:20] #300 closed

[2016-07-19 15:32] wbowers commented on #216
Benjamin,

I have been running Kura on the Pi3 with no problems for a while as
well.    I can run the QA tests as well (once we locate them :-))

Regards,
Walt

On 7/18/2016 9:27 AM, Benjamin Cabé wrote:

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2016-07-19 15:34] cdealti commented on #174
@pierrepitiot @ilya Let's keep this in progress till the QA. During the net QA let's take also a look to the kura.log field.

[2016-07-19 15:53] cdealti commented on #289
@ibinshtok please bring up a pop up saying if the password verification succeeded or not (both cases).
Do NOT clear the password field or invalidate it.

[2016-07-19 15:53] amitjoy commented on #183
#336 solves this issue.

[2016-07-19 17:57] kartben opened #348 "WpaSupplicantConfigReader.getWifiClientConfig() should support cases where key_mgmt scheme is not set"
As per the documentation of wpa_supplicant.conf, the "key_mgmt" entry defaults to "WPA-PSK WPA-EAP" when it is not set.
Therefore, there may be cases where "psk=......" entry is set event though no key_mgmt has been explicitely defined.
Currently, the WpaSupplicantConfigReader will not properly detect the `WifiSecurity` mode for those wpa_supplicant.conf that don't have a key_mgmt scheme explicitl

[2016-07-20 16:41] cdealti opened #352 "[Semantic Versioning] Enable analysis through bnd-baseline-maven-plugin"
We've started exploring [here](https://github.com/bndtools/bnd/issues/1553).

[2016-07-21 10:38] cdealti opened #354 "[Debug] Document Eclipse remote debugging"
[The mailing list post](https://www.eclipse.org/forums/index.php/t/971127/) should be promoted to Kura documentation.

[2016-07-21 11:44] cdealti commented on #221
@hekonsek  I believe we need to extract a Java interface from the ``CamelRouter`` and add it to the ``org.eclipse.kura.api`` bundle. Let's rename the current ``CamelRouter`` to ``CamelRouterImpl`` and reserve ``CamelRouter`` for the interface.

 Consumers will not extend ``CamelRouterImpl``. Instead they will request a new ``CamelRouter`` to a ``CamelService`` via a ``newCamelRouter`` factory meth

[2016-07-21 11:58] cdealti opened #355 "[Semantic Versioning] org.eclipse.kura.net.wifi version should be increased from 1.2.0 to 1.3.0"
Both on develop and on the release-2.0.0 branch

[2016-07-21 12:12] pierrepitiot opened #356 "Script downloaded using the Command service must be run using "bash""
Using the Command service, it is possible to embed in the zip file that will be downloaded a shell script that is supposed to be executed after decompressing on the gateway. Unfortunately, unzip removes the executable flag from the initial script file, The only possibility to keep this functionnality will be to add the execution of the script in the Execute parameter of the Command tab using bash

[2016-07-21 13:04] cdealti commented on #226
To clearly state the requirements:

1. Apps should only import packages exported by the ``org.eclipse.kura.bundle``. Ideally Kura implementation bundles should not export anything and if they have they should contain the word **internal** in their names (for new designs). An app should not import internal packages because they can be frequently subject to incompatible changes.

2. Apps should impo

[2016-07-21 14:16] ibinshtok commented on #173
all I had to do to enable channels 12 and 13 was to set the kura.wifi.top.channel configuration property in the /opt/eurotech/esf/kura/kura.properties file to 13. After that I was able to scan and connect to access point that was set to channel 13.

[2016-07-21 16:03] cdealti commented on #173
@ibinshtok  OK. I'm closing this and adding an issue to add a documentation page for the kura.properties file.

[2016-07-21 16:03] #173 closed

[2016-07-21 16:04] cdealti opened #357 "[Documentation] Document kura.properties"
See also #173.

[2016-07-21 16:09] kartben commented on #357
Probably already what you had in mind but I think the best way would be by adding comments directly in the kura.properties file, to document each entry and its role

[2016-07-21 16:37] LucaDazi commented on #342
This may actually already be working without any change.
Putting a "service.factoryPid" property in the ComponentDefinition xml, and having the Component to require configuration seems to do the trick.
More on that: no need for the Component to be a ConfigurableComponent or a SelfConfiguringComponent.

I'll perform some more test on it and report back.

[2016-07-21 17:13] LucaDazi opened #358 "createFactoryConfiguration seems to always save snapshots"
The new `createFactoryConfiguration` method in the CloudService generates a snapshot even if the `takeSnapshot` flag is set to false.

e.g. when creating a new communication stack, the result is three new snapshots in the snapshots folder, instead of just one, as expected.

On another note, the `deleteFactoryConfiguration` seems to correctly handle the `takesnapshot` flag.

[2016-07-21 17:21] cdealti commented on #357
Agreed. But also one has to know that the file exists.

[2016-07-21 17:24] cdealti commented on #342
Great! Thanks!

[2016-07-22 07:56] ctron commented on #231
I found one [1] ... although I didn't try it.

[1] http://mvn-dp-plugin.sourceforge.net/site/index.html

[2016-07-22 07:58] ctron commented on #110
I think this is solved by PR #320 using the Eclipse Installer.

[2016-07-22 13:26] ctron opened #362 "Uninstaller leaves most of the files"
Uninstalling Kura 1.4.0 from a Raspberry PI 2 leaves most of the file on the file system:

The following files remain after a `dpkg --purge kura`

[code]

[2016-07-25 07:51] ctron opened #364 "Kura main process does not automatically restart"
If anything happens to the main Kura process (JVM) then the process is not being restarted.

[2016-07-25 11:28] ctron commented on #200
I do think that this one is resolved with PR #365.

[2016-07-25 11:48] ctron commented on #221
I would strongly recommend against adding another technology to the "org.eclipse.kura.api" bundle. It already seems overloaded with functionality to me, and the idea of OSGi is to keep thing modular. Adding every technology in Kura to the "api" bundle will simply create a "super bundle".

Right now (with the PR #365) it is possible to simply add "Camel" as a dependency without triggering any servi

[2016-07-25 12:17] cdealti commented on #221
Well, retrospectively I would agree on this. The API should be ideally split in multiple bundles.
However, having API bundles, **only** containing interfaces and POJOs, still looks a good idea to me.
Note that, even with the monolithic API bundle there will be no issues in adding another API because this does not add any new dependencies (take a look to the Import-Package header in the API MANIFES

[2016-07-25 12:33] ctron commented on #221
I do think it makes quite a big difference. If you offer the API, and if you put this into the "super bundle" then you always offer it, you should also offer an implementation. But if you want to make a distribution without providing Camel, then you are lost, since you don't have any chance to configure a system which is simply leaving out that API.

And then just imagine you want to make a V2 of

[2016-07-25 13:55] ctron commented on #125
This seems like a deadlock situation to me which is in the end "resolved" by running into a timeout. Maybe not properly cleaning up by that.

The `CamelCloudClient` is unsubscribing from topics and for this executing a call on the `CamelContext` inside a thread the executor of the `cloudClientExecutor` executor service. Which belongs to the `CamelContext`.

The other thread is the service itself,

[2016-07-25 15:19] pierrepitiot commented on #147
As soon as Kura 2.0 will be released I'll update the screenshots in the documentation.

[2016-07-26 10:57] cdealti opened #366 "[Kura 2.0.0] Update Kura site"
- [x] The project home page still claims the latest is v1.4.0
- [x] The release notes have not been updated

[2016-07-26 11:11] cdealti opened #367 "[Kura 2.0.0] Merge release-2.0.0 on develop"
- [x] Merge the ``release-2.0.0`` branch on ``develop``
- [x] Uptick pom versions

[2016-07-26 11:23] cdealti commented on #156
The Kura Wires announcement has been posted:

1. https://dzone.com/articles/kura-wires
2. http://blog.amitinside.com/Industry-4-with-Kura

[2016-07-26 13:40] dwoodard1 commented on #367
Done.

[2016-07-26 14:43] ibinshtok opened #368 "ESF doesn't detect LE910 LTE modem at startup."

[2016-07-26 15:15] #367 closed

[2016-07-26 15:20] #366 closed

[2016-07-26 15:21] #149 closed

[2016-07-27 10:26] LucaDazi commented on #358
@cdealti can you review when you have some spare time?

[2016-07-28 09:48] cdealti opened #370 "[API] Wrong API package versions on develop after merging the release-2.0.0 branch"
API package versions look good on the [release-2.0.0 branch](https://github.com/eclipse/kura/blob/release-2.0.0/kura/org.eclipse.kura.api/META-INF/MANIFEST.MF)

and on the [master branch](https://github.com/eclipse/kura/blob/master/kura/org.eclipse.kura.api/META-INF/MANIFEST.MF)

but not on the [develop branch](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.api/META-INF/MANIFES

[2016-07-28 12:41] Erwan-S opened #372 "[BLE] BluetoothGattImpl.getCharacteristics(String startHandle, String endHandle) and getServices() methods return empty list"
It seems that ANSI Escape sequences send by gatttool (according to https://git.kernel.org/cgit/bluetooth/bluez.git/tree/attrib/interactive.c) remain in strings treated by BluetoothGattImpl.

Response data filter corresponding to `getCharacteristics` is `startsWith("handle:")`  but received string begin by `[Khandle:` (with [K from the erase line escape sequence). So the method returns an empty lis

[2016-07-28 12:47] LucaDazi opened #373 "Kura 2.0.0 distribution for Raspberry-Pi includes emulator.gpio instead of linux.gpio"
The distribution package for the Raspebrry-Pi does not include the org.eclipse.kura.linux.gpio bundle.
It uses instead the org.eclipse.kura.emulator.gpio bundle.

[2016-07-28 12:58] dwoodard1 commented on #370
@cdealti It looks ok to me, what is the problem?

[2016-07-28 13:17] amitjoy commented on #370
@dwoodard1 The package versions of some of the packages got increased even though I believe it shouldn't have been increased. For instance, the **_org.eclipse.kura.listener_** had a package version of **1.0.0** whereas it got increased directly to **1.0.9**. It also occurred to some of the other packages as well.

[2016-07-28 13:26] dwoodard1 commented on #370
@cdealti @amitjoy I see, I believe I know what happened. I will get this cleaned up.

[2016-07-28 14:01] dwoodard1 commented on #370
@cdealti @amitjoy Should be fixed, can you merge the PR?

[2016-07-28 14:06] #370 closed

[2016-07-28 14:32] amitjoy opened #375 "[Wires] Add Gogo shell commands to create, delete and list Wire Configurations"
Before an GUI gets developed, an utility command needs to be provided to create and delete Wire Configuration and list the available ones.

[2016-07-28 16:00] #278 closed

[2016-07-28 18:48] dwoodard1 commented on #79
@cdealti Can you have someone review this? http://eclipse.github.io/kura/ref/mqtt-namespace.html

[2016-07-28 18:49] dwoodard1 commented on #306
@pstanton The requested changes have been made: http://eclipse.github.io/kura/ref/mqtt-namespace.html . Let me know if you see any errors.

[2016-07-28 21:21] pstanton commented on #306
great, thanks david

[2016-08-01 09:16] hekonsek commented on #330
Actually even Camel requires Java 1.7 to work. :) It will be nice to upgrade to Java 7.

Anybody has something against upgrading JDK to 1.7 for Kura 2.0? @kartben @mcarrer @dwoodard1 ?

[2016-08-01 10:24] Mahmoud-Ammar opened #380 "Security Issues"
Hello !!

Could I ask how to get in deep in the security architecture of Kura in order to analysis it ? I've looked deeply in the documentations and other resources but  security is not mentioned at all.

Any tips ??

[2016-08-01 10:41] MMaiero commented on #380
Hi,
currently Kura provide some apis for security like:

- org.eclipse.kura.crypto
- org.eclipse.kura.security
- org.eclipse.kura.ssl

Regarding these, you can find the implementation of [ssl apis](https://github.com/eclipse/kura/tree/develop/kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/ssl) and [crypto apis](https://github.com/eclipse/kura/tree/develop/kura/org.eclipse.kura.core

[2016-08-01 12:07] hekonsek commented on #125
Fixed by Jens pull request.

[2016-08-01 12:07] #125 closed

[2016-08-01 12:26] bportaluri commented on #216
Kura 1.4 was running fine on my RasPi.
The new Kura 2.0 is not working at all.
I'm having this issue: https://www.eclipse.org/forums/index.php/t/1079720/
Can you please try?

[2016-08-01 12:57] ctron opened #384 "Upgrade to a more recent Jetty version"
Currently Kura uses Jetty 8.1.3 ... the most recent 8.1.x version is 8.1.19 and Jetty 8.x is EOL since the beginning of the year [1]. This includes security patches.

I would recommend to at least upgrade to Jetty 8.1.19 and following up with an upgrade to Jetty 9.3.x

[1] https://webtide.com/jetty-7-and-jetty-8-end-of-life/

[2016-08-01 15:32] MMaiero commented on #275
@pierrepitiot Could you review this PR?

[2016-08-01 20:03] dwoodard1 commented on #216
Hello,

You could please provide the following:

1. The output of /var/log/kura.log and /var/log/kura-console.log
2. From the OSGi console, the output of the ‘ss’ and ‘ls’ commands

I will respond to the forum post as well.

Thanks,
--Dave

On Aug 1, 2016, at 08:26, Bruno <notifications@github.com<mailto:notifications@github.com>> wrote:

Kura 1.4 was running fine on my RasPi.
The new Kura 2.0 is

[2016-08-02 07:36] aeisma opened #389 "Missing source in developer workspace"
Please build the target platform plugins for the developer workspace with source included.

[http://www.eclipse.org/downloads/download.php?file=/kura/releases/2.0.0/user_workspace_archive_2.0.0.zip] no longer contains org.eclipse.kura.api as a project, but only as a target platform plugin. Therefore the target platform plugins should contain source to support dynamic help and debugging in Eclipse.

[2016-08-02 08:28] cdealti commented on #330
For the build we use Tycho. If I change the plugin configuration in ``manifest_pom.xml`` to compile Java 7 code:

[code]

I get:

[code]

Our industrial grade gateways all ship Oracle Java SE Embedded 7 and 8 so we could set both ``source`` and ``target`` to 1.7.

I cannot exclude however that there aren't gateways in the field with a Java 6 VM and/or if Kura can still run on a Java 6 VM.

[2016-08-02 08:35] #275 closed

[2016-08-02 08:39] MMaiero commented on #147
@pierrepitiot Maybe we can also update this image with the new webUI: http://eclipse.github.io/kura/doc/intro.html

@hekonsek Could you please update the Kura screenshot [here](http://eclipse.github.io/kura/doc/kura-camel.html) with the new web UI? Maybe It's also better to remove the Everyware cloud console screenshot.

[2016-08-02 08:45] ctron commented on #330
I agree both source and target level should be the same.

Currently Kura states it requires Java 7, the Web UI 2 and Camel will only run on Java 7. So as of now, Kura 2.0.0 cannot run on Java 6 anymore.

So what is the strategy for Java compatibility then? Or the roadmap? Can we agree that for Kura 2.1.0 we start going with Java 7?

[2016-08-02 09:51] cdealti commented on #330
Just set 1.7 where you really need it (Camel) for the time being.

[2016-08-02 12:47] MMaiero opened #393 "[NN] NN profiles are broken in Kura 2.0.0"
The added dependency between kura.emulator and the different kura.emulator.x bundles to have the dev-env working break the nn profiles.

[2016-08-02 14:02] lmarshall-eth opened #396 "iwScanTool fails to parse scan results"
There's a network in my area which causes iwScanTool to fail when parsing the results of `iw dev wlan0 scan`.

The following error is produced:
[code]

The failure is caused by the following item in the list:
[code]

Specifically, the line:
`IBSS ATIM window: 0 TUs	Extended supported rates: 24.0 36.0 48.0 54.0`

This seems like a bug in iw (version 3.11), and it is really supposed to be two separa

[2016-08-02 15:10] MMaiero commented on #316
@pierrepitiot

[2016-08-02 16:05] pierrepitiot commented on #147
Intro.html has been updated.

[2016-08-03 07:07] #296 closed

[2016-08-03 07:23] ctron commented on #221
I think we can close this one as we agreed in the F2F meeting that Camel will not be placed in the "org.eclipse.kura.api" bundle.

[2016-08-03 07:25] ctron opened #398 "Modularize Web UI 2"
Currently the Web UI 2 is a monolithic block. It is not possible to remove e.g. the DeploymentAgentService.

[2016-08-03 07:28] ctron opened #399 "Upgrade to SLF4J 1.7.x"
I would recommend to upgrade to SLF4J 1.7 and clean up few logging statements.

If you like I can work on this.

[2016-08-03 09:13] MMaiero commented on #373
The bug is related to the build process: the jdk.dio dependency is a workswith dependency that cannot be included in the hudson build. For this reason we will need an extended version built externally that will include the jdk.dio and the linux.gpio bundles

[2016-08-03 09:13] #338 closed

[2016-08-03 09:39] #90 closed

[2016-08-03 10:25] ibinshtok opened #403 "Fix javadoc for the getKuraVersion() method of the SystemService."
Here is what we have in the http://download.eclipse.org/kura/releases/2.0.0/docs/apidocs/ right now:

String getKuraVersion()
Gets the product version for this unit. The product version is defined as the version in the release.xml file. The release.xml file is stored in /etc/kura/ and has the format: PRODUCT_NAME_release-VERSION-VERSION_NUMBER.xml For example this is a valid product name: helios_d

[2016-08-03 11:43] #306 closed

[2016-08-03 11:43] #79 closed

[2016-08-03 11:56] hekonsek commented on #330
I'm closing the PR then, as we apparently need to stick as many Kura elements to Kura 1.6 as we can :( . The reason here would be the possible customer constrains.

[2016-08-03 11:56] #330 closed

[2016-08-03 13:04] ctron commented on #338
:+1:  thanks!

[2016-08-03 13:05] #316 closed

[2016-08-03 13:23] ctron opened #406 "Replace System.get* with calls to SystemService.getProperties"
From what I have seen the methods SystemService.getProperties() provides the actual set of system properties. And it is possible to replace the implementation of SystemServiceImpl with a custom one.

However in many cases Kura does just make calls to the System.get\* calls.

Unless I misunderstood the concept, calls to System.get\* should be replaced by calls to SystemService.getProperties().

[2016-08-03 13:42] #289 closed

[2016-08-03 14:20] ctron opened #408 "All ConfigurableComponent and SelfConfiguringComponent should actually export their interfaces properly"
All services which implement ConfigurableComponent or SelfConfiguringComponent should actually register those interfaces when they register their service.

Otherwise it is not possible for the ConfigurableComponentTracker to actually track those services. Right now the ConfigurableComponentTracker falls back to just tracking all services, getting all services and testing manually. This also causes

[2016-08-03 18:21] dwoodard1 commented on #373
The jdk.dio library was approved [1] for distribution with Eclipse, it can be part of the standard build.

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=9194

[2016-08-03 19:09] cdealti commented on #358
@mmaiero can you keep this in QA/Review until every possibile api test has been performed? Can you also run JUnit tests?

[2016-08-03 19:12] cdealti commented on #373
Isn'it a Workswith dependency?
Ciao,
  Cristiano
________________________________
Da: dwoodard1 <notifications@github.com>
Inviato: mercoledì 3 agosto 2016 20.21.17
A: eclipse/kura
Oggetto: Re: [eclipse/kura] Kura 2.0.0 distribution for Raspberry-Pi includes emulator.gpio instead of linux.gpio (#373)

The jdk.dio library was approved [1] for distribution with Eclipse, it can be part of the standar

[2016-08-03 20:44] dwoodard1 commented on #373
Originally yes, but it was later changed to fall under GPL+CPE. Read through the comments and you will eventually see where we received approval from the Eclipse board to distribute with Kura.

[2016-08-03 21:04] cdealti commented on #373
Thanks Dave. I missed that update.

Ciao,

  Cristiano

________________________________
Da: dwoodard1 <notifications@github.com>
Inviato: mercoledì 3 agosto 2016 22.44.42
A: eclipse/kura
Cc: De Alti, Cristiano; Comment
Oggetto: Re: [eclipse/kura] Kura 2.0.0 distribution for Raspberry-Pi includes emulator.gpio instead of linux.gpio (#373)

Originally yes, but it was later changed to fall under GPL

[2016-08-04 07:03] MMaiero commented on #373
ok, so we could remove the dio-skip profile from the production build?

[2016-08-04 15:57] pierantoniomerlino commented on #213
Beacon docs are available on Kura website.

[2016-08-04 17:06] cdealti opened #418 "[Exception handling] Avoid catching Throwable"
We should avoid this and maybe set an [UncaughtExceptionHandler](http://docs.oracle.com/javase/6/docs/api/java/lang/Thread.UncaughtExceptionHandler.html)

[2016-08-05 07:03] cdealti commented on #221
Let me just keep this open to make sure we add this bundle to the Javadoc generation.

[2016-08-05 07:18] hekonsek commented on #200
Resolved by Jens and Camel upgrade.

[2016-08-05 07:18] #200 closed

[2016-08-05 07:46] hekonsek opened #419 "Migrate ASF camel-kura code to Eclipse"

[2016-08-05 09:15] #249 closed

[2016-08-05 09:26] ctron commented on #265
I just thought about the last bullet point ... I don't think we can add the Camel logo since this belongs to Apache.

[2016-08-05 10:08] ctron opened #421 "Remove "kura-sonar" build job on HIPP"
I would suggest to remove the "kura-sonar" [1] build job on the hudson instance.

It is confusing that there is a job which is failed since 2014. While there actually is a working sonar integration on the "kura-develop" job.

[1] https://hudson.eclipse.org/kura/job/kura-sonar/

[2016-08-05 13:31] MMaiero commented on #373
I've modified the build. Now it seems to have the correct gpio packages

[2016-08-05 13:52] MMaiero commented on #358
@cdealti The JUnit tests are running fine with this change

[2016-08-05 13:58] MMaiero commented on #393
Addressed by PR #422

[2016-08-05 13:58] #393 closed

[2016-08-05 14:04] #183 closed

[2016-08-08 08:22] ctron commented on #265
@cdealti In order to provide a proper, self contained, quickstart with a manifest first approach it would be necessary to point to a publicly available P2 repository. Is there already one on the Eclipse download servers?

If not should we enhance to build in order to provide one? Or should we simply us the Package Drone instance at Eclipse [1]?

[1] https://packagedrone.eclipse.org/

[2016-08-08 13:44] dwoodard1 commented on #421
@ctron Thanks! It was a legacy test build that needed to be deleted. It is now gone.

[2016-08-08 13:44] #421 closed

[2016-08-08 14:30] ctron commented on #221
@cdealti I just tried to find where the Javadoc is being generated. However I cannot find anything "javadoc" related in the build. Maybe you can point me into the right direction. Thanks.

[2016-08-08 14:40] ctron opened #434 "Kura API docs show 1.0.8 for Kura 2.0.0"
Looking at [1] it shows API docs for Kura 1.0.8.

[1] http://download.eclipse.org/kura/releases/2.0.0/docs/apidocs/?d

[2016-08-08 15:27] cdealti commented on #221
@ctron it should be under ``target/site/apidocs`` in the parent project (the one with ``manifest_pom.xml``)

[2016-08-08 15:56] ctron commented on #221
Ok, so then it already is being generated.

[2016-08-08 16:06] ctron commented on #221
The actual content will be in the PR which comes after the upgrade to Camel 2.17.0

[2016-08-08 16:52] #280 closed

[2016-08-09 08:10] ctron commented on #324
I just pushed a change in order to provide a basis for discussion. I do think we need to move forward on this topic.

I would suggest that we first start with an Eclipse settings file for cleanup and code formatting and then formalize this in a document.

The code style is based on the Eclipse style with the following main differences:
- Use spaces instead of tabs
- The line width is 180 character

[2016-08-09 08:11] ctron commented on #324
I would also suggest to not use prefixed (m_, s_, ...) on variable names.

[2016-08-09 08:11] ctron commented on #324
@mcarrer @dwoodard1 Please have a look at this and give some feedback so that we can move forward on this one.

[2016-08-09 09:45] ctron commented on #189
@cdealti Maybe you can help a little bit here. I am trying to look for code referencing the `CloudServiceFactory` interface. And to me it seems as if it is not really used in Kura. There is the "default" implementation. But not more. No one seems to call or use the interface. Unless I have missed a spot.

[2016-08-09 12:06] #373 closed

[2016-08-09 12:07] #213 closed

[2016-08-10 13:04] amitjoy commented on #156
Overview on Kura Wires:

https://dzone.com/articles/kura-wires-a-different-perspective-to-develop-iiot
http://blog.amitinside.com/Kura-Wires-bits-and-pieces/

[2016-08-10 14:33] amitjoy opened #442 "CQ for required Modbus libraries"
The Modbus driver is currently developd on j2mod [1] library which is pretty well maintained and very active. j2mod internally uses jSerialComm [2] for serial communications which doesn't mandate users to install any external tools or libraries in the client machine.

I am just wondering if it is possible to have a look at the libraries for getting those included in the distribution.

[1] https://

[2016-08-10 14:47] #340 closed

[2016-08-10 16:04] pgufAtIBM opened #444 "Multiple Cloud Support - Web UI does not allow to select new installed cloud service"
I have created a bundle that allows to connect to Watson IoT Cloud (based on https://github.com/eclipse/kura/wiki/Multiple-Cloud-Connections and with help of Cristiano De Alti).
I successfully installed my bundle on Kura gateway on my Raspberry Pi (https://eclipse.org/kura/downloads.php -> Raspbian (Model 2) - Stable version).
When I start the bundle, no errors are shown and the bundle changes to

[2016-08-10 16:10] cdealti commented on #444
@pgufAtIBM I copy here the contents of the email I've just set you:

I've installed your bundle.
There are no configurations of your ``org.eclipse.kura.core.cloud.watsoniot.WatsonIoTCloud`` (see below).

You have to create at least one configuration or nothing will show up in the Web UI.
The simplest way is to add a gogo shell command in declarative service of your CloudServiceFactory. Please take

[2016-08-10 16:42] cdealti commented on #444
You don't need to deactivate the default Kura connection. You CloudServiceFactory should create its own instances of the DataService and MqttDataTransport.

[2016-08-11 07:06] cdealti opened #445 "[Cloud] Dependency on CloudConnectionStatusService should be optional"
Blinking a led is just cosmetic stuff.

[2016-08-11 09:52] cdealti commented on #189
@ctron it is mostly intended for the Web UI so that it can get registered ``CloudServiceFactory`` OSGi services and present a consistent UI to create connection instances and show their configurations.

Can you create an issue for this? See also #444

[2016-08-11 09:55] cdealti commented on #231
@ctron I think I tried it three years ago but it did not work for what we had in mind at that time (Kura itself was a big dp)

[2016-08-11 09:56] cdealti commented on #211
Closing due to inactivity and lack of interest

[2016-08-11 09:56] #211 closed

[2016-08-11 11:49] cdealti commented on #231
@ctron Can you confirm the decision we make for Camel?
1. org.apache.camel:camel-core
2. org.apache.camel:camel-osgi
3. org.apache.camel:camel-kura
4. org.apache.camel:camel-stream
5. org.eclipse.kura.camel

These will be included in the Kura runtime by default.

Other Camel components will be added as extended downloads (Deployment Packages, Features etc).

[2016-08-11 20:30] dwoodard1 commented on #290
Should be fixed in #448 .

[2016-08-11 20:43] pgufAtIBM commented on #444
I have modified now my bundle project and added a cloudServiceFactory.xml in folder OSGI-INF with following content:
`<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.eclipse.kura.core.cloud.watsoniot.factory.WatsonIoTCloudServiceFactory">
   <implementation class="org.eclipse.kura.core.cloud.watsoniot.factory.WatsonIoTCloudServiceFac

[2016-08-11 21:29] pstanton opened #451 "setting a payload metric to null should throw an exception immediately"
If you set a metric to null:

`KuraPayload.addMetric("xyz", null);`

The payload is a ticking time bomb and will throw an exception when it is encoded later:

[code]

It should either:
a) be skipped when encoding later (ignored)
b) throw an exception on the 'addMetric' call

[2016-08-11 21:32] dwoodard1 commented on #290
@cdealti @ibinshtok Can one of you review this?

[2016-08-11 21:45] dwoodard1 commented on #242
@pierrepitiot Can you give a specific example of this? All of the help text I see looks okay.

[2016-08-11 21:54] cdealti commented on #451
@pstanton thanks. Maybe a) would be the preferred option. Option b) would require an unchecked exception for API backward compatibility and these exceptions are dangerous.

Are you going to submit a pull request?

Ciao,
  Cristiano

[2016-08-12 13:44] dwoodard1 commented on #242
@cdealti @MMaiero @pierantoniomerlino @ibinshtok @LucaDazi I believe Pierre is on Holiday. Has anyone else seen this issue? Can you provide instructions for repeating?

[2016-08-12 14:03] pierantoniomerlino commented on #242
@dwoodard1 I tried to replicate the issue, but I have never seen it.

[2016-08-12 14:03] MMaiero commented on #242
I have no ways to test here but, if I remember well, if you go in the modem tab and scroll down, the help box does not scroll down. So, you cannot get help.

[2016-08-12 14:26] ctron commented on #389
I am currently working on modifying the build in order to pull in the source bundles for external dependencies and also for generating a full P2 repository at the end of the build. It will contain the source bundles as well.

In the meantime you can already use the Oomph based setup in order to have a quick way to set up a full workspace with all sources as actual projects.

[2016-08-12 14:40] cdealti commented on #242
Yes. Select Network | <modem> | Cellular and scroll down the configuration. The help box does not scroll down accordingly. I believe we can postpone it.

[2016-08-12 14:47] pierantoniomerlino commented on #242
Ah! Now I understand.

[2016-08-12 15:05] dwoodard1 commented on #242
@cdealti I have a fix, it is pretty simple. As long as we don't want to release today it can stay.

[2016-08-12 15:37] cdealti opened #453 "[Kura 2.0.1] Release Notes"

[2016-08-12 20:30] mcarrer commented on #324
Ok, we will review.

[2016-08-12 21:33] dwoodard1 commented on #242
@MMaiero @pierantoniomerlino Should be better now, please confirm.

[2016-08-12 22:13] Yusuf-Mai-Eurotech opened #455 "Password being readable in plain text in kura.properties"
Noticed in kura.properties, password is in plain text and being readable anyone even he/she does not have any technical background.  Probably should be in some form of hash at the minimum

[2016-08-16 07:28] ctron commented on #231
I am not sure this comment was intended for this issue. But yes, that would be the plan. Beside that we want to try setting up Kura with Karaf and when the need for some important bundle arises we can add it to the default distribution.

In general I think it would be great to split up Kura itself for distributing parts of it as DPs. Or using P2.

Maybe it would be a good idea to rethink the way t

[2016-08-16 07:33] ctron commented on #189
I have to admit I fail to see the basic idea behind the way this is done. On the one hand there is a common interface, on the other hand it is not used but every component has to create it own way of adding services.

Maybe you have some description, beside the Javadoc, what the intended use cases of this construct is. As far as I understood, once the method is called in order to create that servi

[2016-08-17 10:59] aeisma commented on #389
I managed to do the Oomph based setup for the kura 'developer' configuration, and the Kura_Emulator_OSX launch runs without errors in the console. However, when I open http://localhost:8080/kura the following error message pops up in the browser while rendering the web ui:

Error
Wed Aug 17 12:47:36 GMT+200 2016 ErrorLogger INFO: org.eclipse.kura.web.client.ui.EntryClassUi: The response could not

[2016-08-17 16:17] ctron commented on #389
I am not sure what the other "Kura Emulator" launch configurations actually do ..

Can you try the launch configuration "Eclipse Kura Emulator (Linux)" ... You may need to make some modifications for Mac OS. If you run into troubles let me know and I try to help.

[2016-08-18 07:08] aeisma commented on #389
You're right, the Kura_Emulator_OSX launch configuration is not correct. It selects bundle com.gwt.user-0.2.0 instead of com.gwt.user-1.0.0, as required by web2.
There are other differences, so if it is the intention to keep Kura_Emulator_OSX.launch around, clone it from the Linux version.

[2016-08-18 07:22] ctron commented on #389
If you have a working version for Mac OS, please post it, or if you have an Eclipse CLA signed make a pull request. That would help a lot. ... For people not using Linux :wink:

[2016-08-18 07:30] ctron commented on #442
I just gave them a brief check.

[1] is APL2, that is fine, [2] is LGPL, that is a problem. It is currently not approved [3]

[3] https://www.eclipse.org/legal/EclipseLegalProcessPoster.pdf

[2016-08-18 08:02] ctron commented on #231
@cdealti Ok, I created a Maven plugin which will simply create a DP from an Eclipse Feature built with Tycho during the build process.

[code]

We just do need to add this in the next build-and-test-CQ!

[2016-08-18 08:35] aeisma commented on #389
The launch configuration for Mac OS X is literally the same as for Linux.

Consider either:
(a) renaming "/setups/launchers/Eclipse Kura Emulator (Linux).launch" to "Eclipse Kura Emulator.launch" and dropping the OSX launch configurations, or
(b) clone "Eclipse Kura Emulator (Linux)" to "Eclipse Kura Emulator (OSX)".

Same for each of the 3 "Kura_Emulator_Linux" launch configurations:
(1) /emulato

[2016-08-18 13:15] ctron opened #456 "Clean up launch configurations"
In a freshly checkout out Kura workspace there are 26 launch configuration present.

This has to be cleaned up.

Following up #389

[2016-08-18 13:16] ctron commented on #389
I did create a new issue for cleaning this up. I also organized for a Mac book for testing the OS X launch configuration. So I can either re-name or duplicate a tested version.

[2016-08-18 22:08] dwoodard1 opened #457 "Post Eclipse Kura QA Process"
The methodology for testing and validating Eclipse Kura during a release should be made public. Comments on the format of this information are welcome.

[2016-08-19 07:18] ctron commented on #457
Depending on the size of that document a few markdown files, checked in to GitHub, in the same repository may be fine.

I think the most important, first step, is to list what Kura is intended to support. OS, Java, architecture, …

[2016-08-19 09:14] tohosokawa opened #459 "Random device address cannot be connected"
I want to connect BLE device which has random device address.
But kura can connect only public device address.

I think that this is caused by the following fixed command.
https://github.com/eclipse/kura/blob/07a77c2d730465844f2ddcb3fe6920a046be994a/kura/org.eclipse.kura.linux.bluetooth/src/main/java/org/eclipse/kura/linux/bluetooth/util/BluetoothUtil.java#L308

`String[] command = { GATTTOOL, "-i

[2016-08-19 09:44] ctron commented on #455
If you think this is a security vulnerability, please do report it to the Eclipse Security team [1]

[1] https://www.eclipse.org/security/

[2016-08-19 10:08] ctron opened #460 "Upgrade Equinox to 3.11 and use Java 8 a minimum requirement"
The current Equinox version (3.8.1) does not support Java 8.

Equinox should be upgraded to a more recent version

[2016-08-19 12:21] ctron opened #461 "Registering a component which has a PID without dot crashes the Web UI 2"
Registering an OSGi component with a PID that does not contain a dot (.) crashes the Web UI:

[code]

[2016-08-19 13:01] dwoodard1 commented on #110
Closing this issue. We now have a Yatta profile and Oomph installer for Kura. Any issues with these methods should be tracked separately.

[2016-08-19 13:01] #110 closed

[2016-08-19 13:03] dwoodard1 commented on #160
Closing this issue. The architecture for the Kura Wire architecture has changed and this issue is no longer needed.

[2016-08-19 13:03] #160 closed

[2016-08-19 13:13] dwoodard1 commented on #133
@hekonsek @ctron Is this the same request as #99? I would love to have Kura Karaf ready, but would like input on the best way to implement this. Is the Smarthome feature approach the best model?

[2016-08-19 13:16] dwoodard1 commented on #136
@mcarrer @cdealti You must create a LinkedIn account in order to have a Slideshare account. Not sure this makes sense for a project. Thoughts?

[2016-08-19 13:21] dwoodard1 commented on #147
@MMaiero @pierrepitiot Can we close this?

[2016-08-19 13:27] ctron commented on #133
No. This is something different. This one is about adding "Felix file install", which allows dropping in bundles into a directory, which get's then picked up by OSGi. A Karaf feature is something different.

As discussed in the F2F meeting I am already working on a proof-of-concept for Karaf. Right now the biggest issued are the System.exit() issue and the way the SystemService is used. I am alrea

[2016-08-19 13:37] ctron opened #462 "ConfigurationServiceImpl cannot handle cardinality >1 for SelfConfiguringComponent"
Having a cardinality >1 with a SelfConfiguringComponent causes the ConfigurationServiceImpl to ignore the property altogether since it thinks that the type "String" does not match the type "String[]".

[2016-08-19 14:01] ctron commented on #419
CQ created -> https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11853

[2016-08-19 18:19] dwoodard1 opened #464 "Beaglebone install script not creating /etc/sysconfig"
The kura_install.sh script for the Beaglebone is missing a step to ensure the /etc/sysconfig directory exists. This directory is required for the firewall/iptables.

[2016-08-19 19:02] ctron commented on #464
Shouldn't the Debian package create that?

[2016-08-19 21:17] dwoodard1 commented on #464
Kura still produces a kura_*installer.sh file as part of the build. This script can be used to install Kura without a package manager. The Debian package more or less wraps this script and provides additional dependency checking. Steps that are mandatory for Kura to be installed correctly we typically keep in these shell scripts.

On Aug 19, 2016, at 15:02, Jens Reimann <notifications@github.com<m

[2016-08-20 06:23] ctron commented on #464
Just to understand, what is the benefit of doing it that way, instead of using the Debian package manager?

[2016-08-22 07:24] MMaiero commented on #147
@dwoodard1 We have updated our part. We are waiting for the screenshot updates for the Camel part.

[2016-08-22 08:35] cdealti commented on #189
What do you exactly mean?

The Javadoc and the [Multiple Cloud Connections Wiki page](https://github.com/eclipse/kura/wiki/Multiple-Cloud-Connections) are the only source of information about this topic.

The intended use is providing a service interface that the Web UI would use to allow to:
1. Discover registered ``CloudServiceFactory`` services, for example the Kura ``DefaultCloudServiceFactory

[2016-08-22 09:38] ctron commented on #189
What I mean is, that currently there is an interface `CloudServiceFactory`, which is never used in the Web UI. The create command `kura.cloud:createConfiguration`, which suggests being generic (by its naming) however is directly implemented by `DefaultCloudServiceFactory`, without using any interface. So the only possible way, as of now, is to make a complete manual implementation. Not using the i

[2016-08-22 13:09] dwoodard1 commented on #464
For systems that may not have package managers installed. To keep the build uniform, we create install scripts for all platforms (RPi, BBB, Intel Edison, etc.). For systems that typically have support for easily installing from DEB files (RPi, BBB), we wrap the installer in a DEB package. For those that don't (Edison), we just distribute the installer.

This is mostly a historical artifact. The De

[2016-08-22 14:32] ctron opened #465 "CloudService.isConnected not shown in Web UI"
The Web UI currently does not show `CloudService.isConnected()`. Instead the `CloudService` is expected to reference to a `DataService` whose state is used instead.

[2016-08-22 15:51] ctron opened #466 "There is no way to disable the default CloudServiceImpl"
When using a different implementation than `CloudServiceImpl` it is not possible to actually disable `CloudServiceImpl`.

The result is that two services with the interface `CloudService` will be registered and all default components, which only define a service dependency on `CloudService`, will just get any _random_ service.

[2016-08-22 18:18] cdealti commented on #466
Selecting a specific CloudService is discussed in the Multiple Cloud Connection wiki page.

[2016-08-22 19:23] ctron commented on #466
Agreed. But, for example, the ExamplePublisher dies bit make use of that. It just references the CloudService. So it becomes a 50:50 chance which service it gets.

[2016-08-22 19:30] cdealti commented on #466
There is an issue on github to set the CloudService reference to the default one for the examples. But we did not implement it because maybe the user wants the Camel one.

[2016-08-23 06:35] ctron commented on #466
Well I think there should be a way for the user to choose. So by configuring the ExampleProducer, not by making code changes.

Right now if you are following the path of using references you end up with just any service. If you only want to have one, then it would be fine if you switch on Camel and can _disable_ the default service. Which is currently not possible and which is the topic of this is

[2016-08-23 07:48] ctron commented on #466
But that would only fix the issue for the ExamplePublisher. Still the issue remains with all other components which make use of the same pattern. As soon as you register a second CloudService instances it is no longer guaranteed that you receive the correct CloudService instance.

[2016-08-23 08:52] ctron opened #467 "Web UI cannot handle Integer with cardinality 0/optional"
Currently the Web UI cannot handle an Integer (probably other types as well) which are optional/cardinality 0.

When applying the configuration nothing happens in the Web UI and the server side console shows:

[code]

[2016-08-23 10:32] cdealti opened #468 "[Web] NPE in GwtNetworkServiceImpl"
[code]

[2016-08-23 14:11] ibinshtok commented on #468
@cdealti I believe this is the same as kura_eth issue #143 I created last week.

[2016-08-23 14:13] cdealti commented on #468
@ibinshtok are you sure it's #143?

[2016-08-23 14:28] ibinshtok commented on #468
@cdealti Based on this:
Caused by: java.lang.NullPointerException
    at org.eclipse.kura.web.server.GwtNetworkServiceImpl.findNetInterfaceConfigurations(GwtNetworkServiceImpl.java:109)

exception on the same line ...

[2016-08-23 21:02] dwoodard1 commented on #265
@cdealti @ctron Are we good to close this now?

[2016-08-24 06:45] #468 closed

[2016-08-24 13:38] ctron opened #473 "org.eclipse.kura.linux.net.modem.ModemDriver uses Java 7 API but has BREE of Java 6"
The bundle specifies a BREE of Java 6, however Java 7 API is being used by the source code:

https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/modem/ModemDriver.java#L585

[2016-08-24 18:29] cdealti commented on #473
Thanks Jens. @MMaiero shouldn't this nave been caught by jdeps?

[2016-08-25 10:20] ctron opened #476 "Kura makes use of system properties when filtering for native code libraries which is not supported"
At several locations Kura filters for native code libraries using system properties (kura.arch), however that is not supported by OSGi, still it works with Equinox 3.8.1. It is only possible to filter for "launching properties".

However other OSGi implementations more recent Equinox version don't support this anymore and fail to load the native libraries.

[2016-08-25 12:43] cdealti commented on #473
@ctron Nice catch! How did you find it?
Should be fixed by #474

[2016-08-25 13:58] ctron commented on #473
I simply had the source code in an Eclipse IDE which had all three JDKs configured. PDE will do the validation for you.

To be honest, this was the only workspace I had configured with all three JDKs up until now.

Tycho could so some validation as well when multiple JDKs are configured [1], but I never tried it out. So I am not sure how good and easy that works,

[1] https://eclipse.org/tycho/sit

[2016-08-25 17:33] dwoodard1 commented on #396
@ibinshtok Can you take a look at this when you get a chance?

[2016-08-25 19:35] ibinshtok commented on #396
@dwoodard1 sure, I will take a look.

[2016-08-26 06:17] amitjoy commented on #156
Comparing Kura Wires with Notable Dataflow Programming Frameworks:

https://dzone.com/articles/different-dataflow-programming-approaches-and-comp
http://blog.amitinside.com/Different-Dataflow-Programming-Approaches/

[2016-08-26 08:41] lmarshall-eth commented on #396
I already had the fix but didn't get around to making a PR; I'll do so now.

[2016-08-26 14:06] #290 closed

[2016-08-26 14:07] #242 closed

[2016-08-26 14:44] #464 closed

[2016-08-29 08:21] amitjoy opened #481 "CQ for Apache Sling Scheduler Service"
Currently there exists 3 solutions which wrap Quartz Scheduler as an OSGi Bundle and which can be be used through annotations on thread tasks.

* OSGi enRoute
* Amdatu
* Apache Sling

1. **OSGi enroute** uses OSGi Promise specification which has been introduced in R6 : http://enroute.osgi.org/services/osgi.enroute.scheduler.api.html
2. **Amdatu** (Apache Licensed) provides all necessary annotation

[2016-08-29 12:14] #358 closed

[2016-08-29 14:01] #368 closed

[2016-08-29 14:19] cdealti commented on #434
This is actually the version of the org.eclipse.kura.api bundle which, admittedly does not make much sense.

[2016-08-29 14:28] #473 closed

[2016-08-29 15:07] ctron opened #485 "Change b02bc9a7615ca559349f2b05485ea84fd80d6e77 breaks deployment of "sun.misc" bundles"
I think it was the change b02bc9a7615ca559349f2b05485ea84fd80d6e77 which does change the bundle versions of the two "sun.misc" fragments to "-SNAPSHOT", breaking the deployment.

However the Kura "distrib" scripts cannot handle non-Tycho bundles with "_SNAPSHOT". It get's converted to ".SNAPSHOT". This causes the following error during startup:

[code]

[2016-08-29 16:01] scottslewis commented on #460
FWIW it does not have to be equinox 3.11 to support Java8 EE.   It could be org.eclipse.osgi 3.10.100 (mars release) as well.

[2016-08-29 17:34] #453 closed

[2016-08-29 19:15] cdealti commented on #485
@dwoodard can you check if everything is OK on release-2.0.1?

[2016-08-29 20:09] dwoodard1 commented on #485
Seems to be ok on the release-2.0.1 branch:

64	RESOLVED    org.eclipse.kura.camel.sun.misc_1.0.0
	            Master=65
65	RESOLVED    org.apache.camel.camel-core_2.16.0
	            Fragments=64
66	RESOLVED    org.apache.camel.camel-core-osgi_2.16.0
67	RESOLVED    org.apache.camel.camel-kura_2.16.0
68	ACTIVE      org.eclipse.kura.camel_1.0.1

[2016-08-29 22:01] dwoodard1 opened #486 "Build environment broken on Windows"
A complete Kura build is no longer possible for Windows build environments. The distrib project fails when trying to build for targets.

[2016-08-30 12:07] ctron commented on #473
Has this been merged in `develop`?

[2016-08-30 12:12] cdealti commented on #473
Fixed on the release-2.0.1 branch that accordingly to our github flow will be merged on develop after the Kura 2.0.1 release.

________________________________
Da: Jens Reimann <notifications@github.com>
Inviato: martedì 30 agosto 2016 14.07.57
A: eclipse/kura
Cc: De Alti, Cristiano; State change
Oggetto: Re: [eclipse/kura] org.eclipse.kura.linux.net.modem.ModemDriver uses Java 7 API but has BREE

[2016-08-30 12:13] ctron commented on #460
But what would be the benefit over using 3.11?

[2016-08-30 12:14] ctron commented on #485
I don't see `org.eclipse.kura.sun.misc` in that list

[2016-08-30 12:30] ctron opened #487 "Uploading a DP will not always refresh the view"
I am currently playing around with uploading DPs to Kura. And every now and then the package screen does not refresh after a DP was uploaded.

Manually refreshing the screen works.

[2016-08-30 13:11] Coduz opened #488 "Command cloud App Null Pointer Exception"
Hi all,

I've found a problem with Kura v1.4.0.

I'am working with the CMD-V1 application installed on Kura 1.4.0, trying to replicate the cloud management for the command.

The problem was showing when I was missing the metric `command.command` in the message payload sent to the device and this was causing a Null pointer exception on the device and it was not responding with an error message.

He

[2016-08-30 14:01] ctron commented on #189
This one is covered now the PR #472

[2016-08-30 19:14] cdealti commented on #485
We will check tomorrow first thing

[2016-08-30 19:19] cdealti commented on #473
About the Tycho stuff above, we tried that but we have not been able to properly setup a Jenkins build. A local build works though. Se need to try it again. I believe it's important

[2016-08-30 19:37] dwoodard1 commented on #485
Apologies, it was at the top of the list:

0	ACTIVE      org.eclipse.osgi_3.8.1.v20120830-144521
	            Fragments=2
1	ACTIVE      org.eclipse.equinox.cm_1.0.400.v20120522-1841
2	RESOLVED    org.eclipse.kura.sun.misc_1.0.0
	            Master=0

[2016-08-31 03:31] scottslewis commented on #460
The only benefit would be if some Kura adopters were able to adopt older versions of equinox, but not be ready for using 3.11 yet   Actually, if your consumers are like ECF's then probably what is more important than the equinox version is the OSGI framework version...for example:  v5 (lunaI think), v6 (mars and Neon).   We have some consumers for example that want to use on Felix/R5, and so they

[2016-08-31 05:37] ctron commented on #473
I can imagine that. The easiest way is to just register all JDKs in the IDE. That way it will pop up pretty quickly.

[2016-08-31 06:36] ctron commented on #485
Ok, so that looks fine.

[2016-08-31 06:58] ctron opened #491 "Develop branch – build broken"
Currently the build on "develop" is broken:

[code]

[2016-08-31 08:14] MMaiero commented on #491
@ctron It should be fine now

[2016-08-31 08:14] #491 closed

[2016-08-31 08:15] cdealti opened #492 "[Windows] org.eclipse.kura.windows.system bundle is installed in every distrib"
@markcullen @malikm
...while it should only be installed on Windows related distributions.

[2016-08-31 08:20] MMaiero commented on #485
#452 was meant to solve that in develop. In release branch the bundles are not in -SNAPSHOT form, so the issue does not arise.

[2016-08-31 08:22] cdealti opened #493 "[Windows] Review versions of Windows related bundles"
@malikm @markcullen

On the develop branch:
1. the `<version>` in pom files MUST have `-SNAPSHOT`
2. the `Bundle-Version` in the bundle MANIFEST MUST have the `.qualifier`
3. update distrib/config/kura.build.properties
4. update target-platform/config/kura.target-platform.build.properties

[2016-08-31 11:46] cdealti commented on #486
@markcullen @malikm you are probably building your Kura distrib for Windows on a Windows host.
Can you please take a look when you have a chance?

[2016-08-31 11:49] cdealti opened #495 "[Windows] Announce Windows distrib on the Kura mailing list"
@malikm @markcullen Can you please do that?

[2016-08-31 16:27] mcarrer opened #496 "mToolkit Eclipse Plugin does not work under Eclipse Neon"
The mToolkit Eclipse Plugin is no longer downloadable from the original location and it no longer works under Eclipse Neon.

We have put together the following remediation plan:

1. We will update the Kura development guides documenting the limitation of mToolkit for Eclipse Neon and Mars.

2. In the same documentation pages, we will add a note on how to create a deployment package outside of Ecli

[2016-09-01 08:15] cdealti commented on #265
@ctron the ``kura-release`` Hudson build of Kura 2.0.1 release failed yesterday on the Camel quickstart:

[code]

Can you please take a look to the [first build failed](https://hudson.eclipse.org/kura/job/kura-release/40/console)?
Note that due to the failure we had to poke the release build configuration so it currently does not match the one of the above build anymore.

We will reenable the ``ku

[2016-09-01 08:16] cdealti commented on #314
@ctron OK to close this?

[2016-09-01 08:18] cdealti commented on #281
@ctron does this makes sense to you?

[2016-09-01 08:52] ctron commented on #205
This one should be closed by  #387

[2016-09-01 08:52] #205 closed

[2016-09-01 08:54] ctron commented on #281
This one is provided by PR #472

[2016-09-01 08:54] #314 closed

[2016-09-01 09:15] ctron commented on #245
The first step is done by letting the `kura-cloud` component pick up an instance of `CloudService` from OSGi.

[2016-09-01 09:16] ctron commented on #231
This is available in the PR #469

[2016-09-01 09:16] ctron commented on #245
https://ctron.github.io/osgi-dp/

[2016-09-01 09:32] ctron commented on #257
I think this should be gone by the different handling of the in PR #381 [1]

Let's re-open is this issue comes back.

[1] https://github.com/eclipse/kura/pull/381

[2016-09-01 09:32] #257 closed

[2016-09-01 09:48] ctron commented on #265
The cause for this was the fact that those quickstarts, since they are standalone now, don't inherit the distribution repositories from "manifest_pom.xml" anymore. Same as the Tycho version conflict.

Now I see a few options here:

1) We split off those quickstarts from the main build
2) We make them "less standalone" and again inherit "manifest_pom.xml"

There are pros and cons for both ways. Spl

[2016-09-01 11:36] hekonsek commented on #119
Hi Jens,

I was thinking about this [1] test. Also migrating `io.rhiot.component.kura.test.TestKuraServer` from Rhiot to Kura might be useful.

[1] https://github.com/rhiot/rhiot/blob/master/gateway/components/camel-kura/src/test/java/io/rhiot/component/kura/router/RhiotKuraRouterTest.java

[2016-09-01 12:07] cdealti commented on #265
My preference goes to option 2) since the same argument applies to all the examples.

[2016-09-01 12:12] cdealti commented on #281
Then it's time I give it a try.

[2016-09-01 12:13] ctron commented on #265
True. But applying all those special things from the Kura build to someone who is completely new and wants to learn how to get things done doesn't really help IMHO. But technically we can do it that way.

[2016-09-01 13:00] ctron opened #497 "SystemServiceImpl uses method from Java 7 but declares a BREE of Java 6"
org.eclipse.kura.core.system.SystemServiceImpl makes a call to  `java.net.NetworkInterface#getIndex()` [1] which is only available since Java 7.

However the bundle declares an execution environment of Java 6.

[1] http://download.java.net/jdk7/archive/b123/docs/api/java/net/NetworkInterface.html#getIndex%28%29

[2016-09-01 13:05] ctron commented on #231
https://ctron.github.io/osgi-dp/

[2016-09-01 14:37] ctron commented on #119
I just browsed through the code. It looks to me that there are some Felix specific things in there. And the class is rather small. Starting another CQ for that ... I don't know.

I think in the same time I can replicate what you are doing by starting from scratch. What do you think?

[2016-09-01 14:42] cdealti commented on #466
I've made a proposal to configure the desired ``CloudService`` at runtime in the [Kura Multiple Connections Wiki page](https://github.com/eclipse/kura/wiki/Multiple-Cloud-Connections#selecting-a-connection-at-runtime)

[2016-09-01 15:07] ctron commented on #466
Sounds like a good idea! I will give it a try on the branch an see what happens.

[2016-09-01 16:17] cdealti commented on #189
I've fetched #472 and started it in the emulator.
I think I need a few clarifications:

1. It looks like ``CloudServiceFactory`` is not used and you implemented a parallel method to create and delete ``CamelCloudService``S? I'm not saying this is wrong and I understand you don't agree on the design of the Cloud Service Factory but I don't think this is a good reason to "boycott" it.
We are open to

[2016-09-01 17:17] dwoodard1 commented on #265
Not to muddy the water, but I think I would prefer option 1. We already created a separate repository for hosting examples and demos: https://github.com/eclipse/kura-apps. The idea was to move all the examples here and have a build that produced DPs for each. We could then add relevant examples and demos to the Eclipse Marketplace.

I also think this would be a good opportunity to try and tie the

[2016-09-01 19:00] cdealti commented on #265
I've realized I've been too conservative. I think I understand the intention now. I just want to make sure we have a consistent way of building things and the current kura build is already complex/messy. If there's an advantage let's extend the method to all the examples then
________________________________
Da: dwoodard1 <notifications@github.com>
Inviato: giovedì 1 settembre 2016 19.18.00
A: ecl

[2016-09-02 00:11] amitjoy opened #498 "CQ for Quartz Scheduler"
http://www.quartz-scheduler.org

[2016-09-02 00:12] amitjoy commented on #481
duplicate as it would be tracked in #498

[2016-09-02 00:12] #481 closed

[2016-09-02 07:44] #299 closed

[2016-09-02 08:14] ctron commented on #189
1. I don't try to boycott it, but I also try to get some functionality out of that implementation. Right now if I do implement that interface I cannot make use of that feature. So I decided to add an additional layer to actively provide an interface which does enable a user to make use of that functionality. I can make an implementation of that interface rather quickly, but then again, it simply i

[2016-09-02 08:36] ctron commented on #189
So the interface is implemented.

[2016-09-02 08:39] ctron commented on #265
@dwoodard1 So that would mean I should migrate the examples over to that repository?!

[2016-09-02 08:40] malikm commented on #493
Should be resolved with 8f58b7b8931c841f95daebe316568a34292557d5

[2016-09-02 09:30] malikm commented on #486
Should be resolved by #499

[2016-09-02 09:51] cdealti commented on #189
Clearly mine was a joke and "boycott" was between quotes. I didn't intend to flame the discussion.

Let's try to fix 3 and everything is needed to make the experience consistent.

I just want to stress that I agree that the current design is not perfect but dictated by the need to quickly respond to specific customer use cases in a backward compatible way.

I also like your idea of having a centra

[2016-09-02 10:06] cdealti commented on #497
@ctron nice catch again!
@malikm It looks like this has been added merging [the Windows port](https://github.com/eclipse/kura/commit/741220741bf613a43040afaa890f37f96ccf0c6d).

Can you please provide a patch to avoid dependencies on Java 7 runtime?

[2016-09-02 11:21] malikm commented on #495
Done

[2016-09-02 12:04] ctron commented on #189
:wink:

So I could also got that way with point 3) to simply fail first, if the user tries to create something which is not possible, then I fail when the component is created. That would still let the user run into an error, but would be consistent from a PID perspective. And once the Web UI is fixed, we can remove that.

[2016-09-02 13:56] dwoodard1 commented on #265
That is what we discussed a few months back. Moving everything in kura/examples to the new repository. The top reasons were:

1.) Separate Kura "application" code from the framework source code, as this is likely how many users are interacting with Kura
2.) This may encourage the community to contribute interesting projects/bundles they have created

I guess the question is, is there a reason not

[2016-09-02 14:05] dwoodard1 commented on #326
Which icon resources are you referring to? I believe all the icons/images (except Kura logo) come from the bootstrap js/css. Are you seeing something different?

[2016-09-02 14:08] dwoodard1 commented on #498
@amitjoy Are you saying we need to create a CQ for the Quartz scheduler or that it is already done?

[2016-09-02 14:56] #495 closed

[2016-09-02 15:14] ctron commented on #326
The files under org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/client/ui/resources/icons

[2016-09-02 15:14] ctron commented on #326
That is fine if they come from bootstrap. But still external dependencies have to be named in the `about.html`

[2016-09-02 15:15] ctron commented on #326
Also see https://www.eclipse.org/legal/epl/about.php

[2016-09-02 15:18] ctron commented on #265
@mcarrer This would also include the Camel examples, so finding a solution for the emulator would be a good idea.

[2016-09-02 15:24] amitjoy commented on #498
@dwoodard1 We need to create a CQ for it as the **Timer** logical block in Kura Wires is using it for extensive functionalities

[2016-09-02 17:11] cdealti commented on #189
About item 3 above and the current UI limitations... When we added the Cloud Service Factory we had in mind to create some other things. Informally these are:

a. The Configurable Components created by Cloud Service Factory will not be shown as plain **Services** in the Web UI. They will be shown in a dedicated **Connections** part of the Web UI.

a.1 This **Connections** section will get all the

[2016-09-02 20:30] dwoodard1 commented on #326
@ctron I forgot about the icons directory. Those do not come from bootstrap and I am not sure they are needed.

@MMaiero Can we get rid of these icons? My quick search shows we are only using two (for connection status). Seems like a lot of icons to only be using two.

[2016-09-02 20:52] dwoodard1 commented on #292
@cdealti I think it just has to become part of the release process. We need to test the emulators and make sure they work for each release. If we change bundle versions but don't update the *.launch files, the emulators won't work.

[2016-09-03 07:01] cdealti opened #502 "[Windows] Add documentation"
See
http://dev.eclipse.org/mhonarc/lists/kura-dev/msg00523.html

[2016-09-03 07:04] cdealti commented on #502
@malikm @markcullen it should be submitted as a PR to the [Github Pages](https://github.com/eclipse/kura/tree/gh-pages) branch.

[2016-09-03 07:14] cdealti commented on #498
It's a 3.2MB jar. Quite heavy.

Cristiano

On 02/09/2016 17:24, Amit Kumar Mondal wrote:

[2016-09-03 07:16] amitjoy commented on #498
@cdealti You just have to file a CQ for quartz-2.2.3.jar (660 KB) and quartz-jobs-2.2.3.jar (34 KB).

[2016-09-03 07:26] cdealti commented on #498
Yes, I've realized that. Of course the SimpleTimer will not need it, right?

________________________________
Da: Amit Kumar Mondal <notifications@github.com>
Inviato: sabato 3 settembre 2016 09.16.11
A: eclipse/kura
Cc: De Alti, Cristiano; Mention
Oggetto: Re: [eclipse/kura] CQ for Quartz Scheduler (#498)

@cdealti<https://github.com/cdealti> You just have to file a CQ for quartz-2.2.3.jar (660 K

[2016-09-03 07:30] amitjoy commented on #498
@cdealti We thought of extending the Timer functionalities to incorporate CRON jobs along with basic scheduling functionalities using simple seconds. This would definitely make Timer more powerful and flexible for Industrial IoT Scenarios.

[2016-09-05 08:23] MMaiero commented on #326
@dwoodard1 Yes, I think we can remove them

[2016-09-05 08:49] ctron commented on #189
I would take a different approach. I do understand that the existing interfaces and services should stay present, as they are required by existing application logic. However you are mixing Web UI related issues with the backend architecture.

I don't think it is a limitation to have three services backup up your backend stack. But I agree that, from a UI perspective this is not something which is

[2016-09-05 08:49] ctron commented on #189
I just updated the PR in order to pass through the user entered PID to the CloudService.

[2016-09-05 11:08] ctron commented on #119
I re-created the actual unit test. Sticking to JUnit4 components.

[2016-09-05 13:49] ctron commented on #221
PR #508 contains some updated javadoc

[2016-09-05 14:11] MMaiero opened #509 "[Web 2] ServicesUi validation"
The validation step for the fields in ServicesUI is performed only onValueChange. This means that if a  required field is empty but is not changed by the user, the validation will not be performed and the configuration will be accepted.

The isValid check should go through all the fields and evaluate if they are in a correct state.

[2016-09-05 15:07] cdealti commented on #150
Closing because duplicate of #460.

[2016-09-05 15:07] #150 closed

[2016-09-05 15:14] cdealti commented on #251
@ctron Do you thing we should implement the CloudService selection for all the examples as described in the [Kura Multiple Connections Wiki](https://github.com/eclipse/kura/wiki/Multiple-Cloud-Connections#selecting-a-connection-at-runtime)?

[2016-09-05 15:56] ctron commented on #251
I would say so :+1:

[2016-09-06 07:07] ctron opened #511 "Upgrade SLF4J to 1.7.21"
Apache Camel 2.17.2 requires SLF4J 1.7.21

[2016-09-06 08:09] ctron commented on #511
Started CQs:
* https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11943
* https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11944

[2016-09-06 08:45] ctron commented on #208
Started CQs:

11939 – Apache Camel AMQP Version: 2.17.2
11940 – Apache Qpid Client Version: 0.28
11941 – Apache Qpid Common Version: 0.28
11942 – Apache Camel JMS Version: 2.17.2
11945 – Apache Camel Spring Version: 2.17.2
11946 – org.springframework.jms Version: 4.2.4.RELEASE (using Orbit CQ10971)
11947 – org.springframework.context Version: 4.2.4.RELEASE (using Orbit CQ10966)
11948 – org.springf

[2016-09-06 10:00] cdealti commented on #189
The following mockup illustrates how we planned to modify the Web UI to support multiple CloudService providers (Kura default, Camel, WatsonIoT etc.). It's still based on the classic web UI but it gives the feeling:

![image](https://cloud.githubusercontent.com/assets/1225835/18269129/1cdab368-7427-11e6-856c-b1b7aba5ceaf.png)

Your PR implements things in a different way. There is a new Camel Clou

[2016-09-06 10:11] ctron opened #512 "Fix or remove "jdeps" build step"
It seems that the "jdeps" build step does not work as expected (see #473 and #497), however it takes quite some time during the Kura build.

So it should either be fixed or removed.

[2016-09-06 10:23] ctron commented on #189
I completely understand the idea behind that. But currently the Web UI does not support that. So we can remove that behavior once the new Web UI is available. Do you have a timeframe for that?

[2016-09-06 11:37] cdealti opened #515 "[Web UI] Implement Cloud Services UI"
The Web UI lacks the ability to create, configure and manage Cloud Services.
See #444 and #189 for a discussion on the requirements.

![image](https://cloud.githubusercontent.com/assets/1225835/18272119/667012b6-7436-11e6-9cbc-b06159f50c99.png)

[2016-09-06 11:52] cdealti commented on #343
Closed by #345.

[2016-09-06 11:52] #343 closed

[2016-09-06 11:56] cdealti commented on #444
@pgufAtIBM Closing this because the issue is not tracked in #515. Please comment #515.

[2016-09-06 11:56] #444 closed

[2016-09-06 11:57] cdealti commented on #465
This will be addressed in #515. OK to close it?

[2016-09-06 12:12] ctron commented on #465
So let's keep it open until this is resolved. Currently this is not mentioned in #515 as a requirement.

[2016-09-06 12:55] cdealti commented on #465
Sure. The "CONNECTED" column in the table will call ``CloudService.isConnected()``.
The Web UI will only see ``CloudService``S.

[2016-09-06 13:35] #451 closed

[2016-09-06 13:39] MMaiero commented on #512
@ctron Jdeps step has the purpose to verify that the code is compliant with Java 8 compact 2 profile. Currently we need a step in our build to verify that the code is Java 6 or 7 compliant.

[2016-09-06 13:39] #512 closed

[2016-09-06 15:42] pierrepitiot commented on #488
I made the test using Rest API but I received an error message and I did not see an exception on the device. I sent an "empty" xml file (without command metric) with the curl command:
https://api-sandbox.everyware-cloud.com/v2/devices/00:60:0C:82:52:70/command.xml

and I received the following message:
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><error xmlns="http://eurotech.com/edc/2.0

[2016-09-06 16:47] #467 closed

[2016-09-07 07:53] cdealti opened #518 "[Net] Modem monitor concurrency issue with multiple modems"
`ModemMonitorServiceImpl` is meant to monitor and manage **multiple** modem interfaces concurrently.
However, the modem reset logic uses a single state instance that would be shared by all the monitored modems.

[code]

[2016-09-07 07:57] #337 closed

[2016-09-07 07:57] ctron opened #519 "Fix Sonar build step"
Currently the sonar build step on the kura-develop [1] build job fails.

[code]

This should be fixed.

[1] https://hudson.eclipse.org/kura/job/kura-develop/

[2016-09-07 08:03] #461 closed

[2016-09-07 08:04] #509 closed

[2016-09-07 08:42] cdealti opened #520 "[Net] PppFactory is not a factory and its design is wrong"
`PppFactory` is used by `ModemMonitorServiceImpl` to both create new instances and return already created instances. There are several defects:
1. It's not a factory. It's more similar to the [Multiton Pattern](https://en.wikipedia.org/wiki/Multiton_pattern).
2. `obtainPppService(String iface, String port)` is misleading and error prone. Internally only the interface name, for example `ppp0` is us

[2016-09-07 08:45] ctron opened #521 "Device -> Threads shows empty list"
Opening the Web UI 2 view "Devices" -> "Threads" shows an empty list/table.

[2016-09-07 08:53] cdealti opened #522 "[Net] Modem monitor should monitor interfaces, not modems"
From a logical standpoint it seems more correct to monitor interfaces ppp0, ppp1 etc vs modems.
Currently the monitor loop iterates over

[code]

[2016-09-07 09:02] ctron opened #523 "[Speed up build] Checkums are generated multiple times"
To me it looks the process of generating checksums (which is rather time consuming and CPU intensive) is generating checksums of the same artifacts over and over again during one build process:

The following snippet from a standard Kura build shows that both executions (raspberry-pi-2-deb-checksums and raspberry-pi-2-nn-deb-checksums) generate the checksums for the same files.

So instead of gene

[2016-09-07 09:44] cdealti commented on #523
I think the either the MD5 or the the SHA-1 is enough. Let's just keep one.

[2016-09-07 10:39] Coduz commented on #488
Hi @pierrepitiot

The message that you are seeing comes from EDC validation. In my case I don't receive any response from the device and then I got a timeout exception from the MqttClient.

@MMaiero: I'm trying to bring up the env to test the fix.

Regards,

_Alberto_

[2016-09-07 11:32] ctron commented on #523
I am less concerned about SHA-1 and MD5. It is more the fact that each step processes all other artifacts in addition.

[2016-09-07 11:51] cdealti commented on #418
The Java API provides different ways to handle uncaught exception.
The typical pattern in Kura is to have a try/catch block in the Runnable run method just logging the Throwable.

Whether to catch Throwable is a bad practice is debatable.
* At least the Throwable must be logged
* Rethrowing the Throwable will silently kill the Thread or terminate the task if you are using an Executor and this need

[2016-09-07 12:57] #488 closed

[2016-09-07 13:20] #521 closed

[2016-09-07 15:22] ctron commented on #466
I just tried to implement that proposal on one of the gateway examples and it does not work.

In general it works, but when you configure a service which currently cannot be looked up, the component get disabled by the DS manager, what is expected. But then there is no more way to configure it using the Web UI.

So once you make a mistake, you cannot undo it.

[2016-09-07 16:04] cdealti commented on #466
I think this is clearly stated in the Wiki. On the other hand you have this feature comes for free.

[2016-09-07 16:05] ctron commented on #466
Ok, sorry. I totally overlooked that!

[2016-09-07 18:20] cdealti commented on #466
Another idea could be to have a manager application in the UI that discovers all the components depending on a ``CloudService``, all the components providing a ``CloudService`` and updating the configuration of the consumers setting the .target property to the one of the pids of the providers.
This property should be automatically persisted so you don't need to do that at every reboot.

[2016-09-07 20:32] dwoodard1 commented on #519
Yep, this is a know problem. I thought we had an issue tracking this, but I guess not. One known issue is that we have JUnit tests failing because we are pointing to an MQTT server outside of the Eclipse domain. We just need to use iot.eclipse.org.

@cdealti I just noticed we have duplicate test code in [1]. Do you know why? The tests appear to be identical. I was going to address this issue, but

[2016-09-08 08:51] ctron commented on #466
That sounds like really complex solution that will definitely break at some point.

I think there should really be a way to split up configuration vs service instance. There is no need to have a service if it cannot be or is not configured. So let the configuration service work without the need to have an actual instance of the component. Just using the metadata. Or at least allow the component to

[2016-09-08 14:22] ctron commented on #466
There seems to be another issue with the ".target" approach. When I do set the cardinality to "0..1", order be able to work with a missing reference, then setting a proper reference again seems not to activate that reference afterwards. Did you experience something like that?

[2016-09-08 16:19] cdealti commented on #466
I believe you are exploring the dark side of the force ;) I haven't tried with the "0..1" cardinality. Are you testing with the ExamplePublisher?

[2016-09-08 18:50] cdealti commented on #466
I think you need to specify a dynamic service injection along with cardinality 0..1 that should work

[2016-09-08 18:54] alisajedi opened #531 "Question: What is the difference between issues here and in Bugzilla?"
Hello

- This is not a bug report. I just have a question. I am a researcher at University of Alberta, doing research on bug assignment in Github and Bugzilla.

This project is also on Mozilla ( https://bugs.eclipse.org/bugs/buglist.cgi?component=Core&product=Kura ) and there are some issues there.

What is the difference between the bugs reported in Bugzilla and the issues reported here in Github

[2016-09-08 18:59] cdealti commented on #531
Hi,
Se used to use Bugzilla for bug tracking initially but then we migrated them to Github issues.
Github issues are intended to be used by everyone.

[2016-09-08 19:02] alisajedi commented on #531
Thank you @cdealti .

[2016-09-08 19:02] #531 closed

[2016-09-09 08:24] cdealti commented on #515
@ctron Matteo will take care of this. Please coordinate with him if you plan to work on the affected parts of the Web UI.

[2016-09-09 08:34] cdealti commented on #166
@dwoodard1 any updates?

[2016-09-09 08:40] cdealti commented on #156
@LucaDazi @amitjoy Can we close this issue?

[2016-09-09 08:57] pgufAtIBM commented on #515
its true, if connection to cloud (in multiple cloud support) is there, is not visible in web ui. you can see it in log file kura.log.
currently you also cannot select which cloud service is currently active in system -> status of web ui.
I have used DataService -> autoconnect = true. Then your cloud instance connects to desired cloud (if connection is successful you can see only in your cloud plat

[2016-09-09 09:07] malikm commented on #492
Would a custom profile for target-platform to build Windows components be the right solution ?

[2016-09-09 09:17] amitjoy commented on #156
@cdealti I believe we can but we still can create other issues to create blog posts on Kura Wires usage.

[2016-09-09 09:25] kartben commented on #156
I think the point mentioned in the initial ticket are still very valid. It would be great to have at least one blog post in the form of a mini tutorial about how to effectively use Kura Wires :)

[2016-09-09 09:47] #523 closed

[2016-09-09 10:09] ctron commented on #466
I was testing with one of the camel examples. But it should be the same for the example publisher.

Yes going with dynamic works. But then you really have to take care of the state and handle modifications. With static you would be stopped and started if I understood it correctly.

In the end I think that the whole ConfigurationService setup will have a hard time getting this done properly. Having

[2016-09-09 10:30] cdealti commented on #515
@pgufAtIBM thanks for the feedback. Do you agree on the plan to modify the Web UI as shown in the above mockup? As you can see in the mockup your WatsonIoT Cloud Service Factory is listed.

[2016-09-09 10:36] cdealti commented on #492
@malikm I don't think this is necessary for now. Just make sure that during the build of ``distrib`` Windows specific bundles are not copied to Linux based distribs.

[2016-09-09 10:47] cdealti commented on #466
Of course we prefer 1..1 static where possible. Minimum application complexity and maximum benefit from DS.

Exactly. it slightly defeats the advantage of using declarative services

[2016-09-09 11:01] ctron commented on #466
I think if the ConfigurationService would be reworked to only work only metadata and configuration data from the ConfigurationAdmin that would work in most combinations.

[2016-09-09 11:04] cdealti commented on #466
+1. Is your thinking in line with #341?

[2016-09-09 11:06] cdealti commented on #119
@ctron Can we close it?

[2016-09-09 11:09] ctron commented on #119
Yes we can! :smile:

[2016-09-09 11:09] #119 closed

[2016-09-09 11:10] cdealti commented on #155
Multitons was only an internal nickname here. It does not match the Wikipedia definition.
The concept is actually implemented as "Multiple configurations of a component (declarative service).
It has been used to support the Multiple Connection Feature added by Kura 2.0.0. There is a Wiki page so I believe we can close this.

[2016-09-09 11:10] #155 closed

[2016-09-09 11:10] cdealti commented on #221
@ctron Can we close this?

[2016-09-09 11:11] ctron commented on #466
Re-reading 1.) in that context, yes!

[2016-09-09 11:11] pgufAtIBM commented on #515
I like this approach, so a user can select the cloud component, and not x services on the left side are listed.
What would be good: able to provide logging parts to web ui. So the user can see that diagnostic logs for example are published to cloud. or why a device cannot be instanciated on cloud

[2016-09-09 11:12] cdealti commented on #251
@ctron. Still of this idea? Also see #466

[2016-09-09 11:12] ctron commented on #221
:+1:

[2016-09-09 11:12] #221 closed

[2016-09-09 11:13] cdealti commented on #292
@dwoodard @ctron @MMaiero  Anyone has an idea on how to fix this crap?

[2016-09-09 11:16] cdealti commented on #253
@ctron can you take a look. I noticed you fixed something related in #530.

[2016-09-09 11:20] ctron commented on #292
Not to a 100%. But I think an important first step is to reduce the number of launcher. That is how is looks in my workspace:
![kura_launcher](https://cloud.githubusercontent.com/assets/202474/18385252/c04ead14-768f-11e6-9cd7-4584bc755953.png)

Doing that will help maintaining a working launcher configuration. Next, I you check in changes for the launcher, explain what was done. So that you can un