[2017-03-27 22:29] dwoodard1 commented on #142
Done: https://www.eclipse.org/kura/downloads.php

[2017-03-27 22:29] #142 closed

[2017-03-28 15:09] nicolatimeus commented on #1220
I've performed a quick benchmark on a Raspberry PI 3 running Oracle JVM (build 1.8.0_65-b17), using the following wire graph:

**Timer** -> **DummyAsset** -> **Sink**

where:

*   **Timer** is a Timer component configured to tick every 20ms.

*   **DummyAsset** is an Asset attached to a driver instance that simply fills the provided DriverRecords with a constant value of the proper Java type.
  Al

[2017-03-28 15:14] MMaiero commented on #1220
Maybe we could name `ChannelRecord` as `DataRecord`, or something like that, in order to try to abstract the concept of Channel that is proper only for the Asset

[2017-03-28 15:15] MMaiero commented on #1220
Anyway, the difference is really impressive and, in my opinion, we should definitely move for this set of refactorings.

[2017-03-29 16:56] MMaiero opened #1277 "PR #1126 breaks changes to wire graph that were not saved"
Commit aa2913dc1031e783d09779dae503018da55889f6 in PR #1126 basically breaks the storage of changes that were performed before saving of the wire graph.
In brief, if you drop a component to the graph, perform some changes to the component configuration, than click outside the component. When you re-click again to the component, the changes done before will be lost.

@amitjoy Could you give it a lo

[2017-03-30 05:53] azzadin7 commented on #1015
Hello, may i know what version of fedora you used and it works with kura ? And is the installation way of kura will be the same with raspberry installation.

Thanks

[2017-03-30 07:22] MMaiero commented on #1015
@azzadin7 Please have a look here: https://github.com/eclipse/kura/tree/develop/kura/distrib/src/main/resources/fedora25

[2017-03-30 09:33] MMaiero commented on #1139
Checked in Kura 3.0.0-SNAPSHOT and the issue seems solved.
Closing.

[2017-03-30 09:33] #1139 closed, assigned to cdealti, MMaiero

[2017-03-30 13:35] darionct commented on #1267
Fixed with #1271

[2017-03-30 13:35] #1267 closed, assigned to nobody

[2017-03-30 14:27] ghost opened #1280 "Why metrics in KuraPayload is a Map<String,Object> instead of Map<String,KuraMetric> ?"
Hello,

Everything is on title. Is it mandatory to have this Map abstract ? Because we have problem with a customer who build a OSGI bunddle and pass a String instead of metric structure. Protobuf deserializing had failed and we spent lot of time to understand where it comes. The API is confusing.

Thanks,

[2017-03-31 13:56] dwoodard1 opened #1282 "Apache FileUpload Upgrade"
We should upgrade Apache FileUpload to the latest version (v1.3.2).

[2017-03-31 15:42] #1240 closed, assigned to MMaiero

[2017-03-31 15:42] #1239 closed, assigned to MMaiero

[2017-03-31 18:18] dwoodard1 commented on #1280
@FabGre Maybe you can explain the problem a little more. What do you mean they passed a String instead of a metric structure? How would using Map<String, KuraMetric> instead of Map<String, Object> solve this problem?

[2017-04-01 07:34] ghost commented on #1280
Hi @dwoodard1 , we are working on this problem for now and it was not solved. It seems that we have a missunderstanding between us and Eurotech guys whose try to help us with our Protobuf deserializing problem. In a first time they confirmed our hypothesis about KuraMetric but they miss understood our question and finally explained us that it's possible to pass a simple object to Kurapayload metri

[2017-04-01 13:41] maul5 opened #1284 "I saw docker ctron/kura"
Hello.

I have a question.

I saw ctron/kura in Docker Hub.

Does this run in Raspbian (Model 2 or 3)?

[2017-04-01 15:52] amitjoy commented on #1277
As far as I checked quickly that this functionality was not present since beginning. On clicking on any Wire Component in the Wire Graph simply invokes a properties retrieval function. In case the Wire Component is not available in the OSGi runtime, it shows the default properties. If you drop a Wire Component to the Wire Graph, on clicking on it, every time only the associated properties are retr

[2017-04-01 18:12] #729 closed

[2017-04-02 21:59] mcarrer commented on #1246
The proposal makes sense to me. As commented by Cristiano, it is a necessary enhancement to allow Kapua to be able to subscribe and query for the data published by a specific Asset.

[2017-04-03 07:33] ctron commented on #1280
Well I tend to agree with @FabGre that there is room for improvement.

If you look at the KuraPayload class, then the metrics are stored in a `Map<String,Object>`. However if you for example would put in a `KuraMetric` class or a `Short` value, then, while encoding, the method `setProtoKuraMetricValue` would simply throw an exception. IMHO the API Kura provides should only allow metric to be added

[2017-04-03 07:34] ctron opened #1288 "Clean up JavaDoc of KuraPayload"
Looking at the Javadoc of `KuraPayload` you still see a lot terms like `EdcPayload`, Eurotech, Everyware Cloud platform.

I think it would be appropriate to clean this up.

[2017-04-03 08:24] ctron commented on #1284
No the `ctron/kura` images only run on x86_64 targets.

Maybe it would be interesting though to create a docker image for "arm" as well.

[2017-04-03 09:11] maul5 commented on #1284
1) Is that possible? and Is there no problem?

2) How can I make it?

[2017-04-03 10:41] MMaiero commented on #1284
I think you can have a look at this: https://hub.docker.com/r/mmaiero88/kura-armv7hf/
It's an initial porting. But maybe it can be a starting point.

There is also a more optimized version: https://hub.docker.com/r/mmaiero88/kura-armv7hf-opt/

[2017-04-03 12:18] maul5 commented on #1284
Can I make kura docker image?

How can I make it?

[2017-04-03 12:50] MMaiero commented on #1284
There are some tutorials online.The real issue here is that you need to create an image with a raspberry pi. The cross compiling is an option, but I've never tried it.

[2017-04-03 14:25] amitjoy commented on #1246
I agree with @cdealti that Wires should be relegated to first class citizens. It will be flexible enough to provide such customizable properties so that Kapua can subscribe to specific properties of specific assets.

[2017-04-03 17:03] #664 closed

[2017-04-04 05:09] maul5 commented on #1284
I saw this page(http://eclipse.github.io/kura/doc/raspberry-pi-quick-start.html) and made docker image in Raspberry Pi 3 (Raspbian).

But I could not find start command in docker image.

How can I kura start?

[2017-04-04 09:23] cdealti commented on #1246
Edited the original comment to version the namespace:
``W`` -> ``W1``
``A``  -> ``A1``

[2017-04-04 16:19] cdealti opened #1294 "[Wires] Remove ByteValue and ShortValue as they do not map to KuraPayload metric types"
The above types do not map to the KuraPayload types potentially causing lossy type conversions translating an WireRecord to a KuraPayload and vice-versa.

Hence they should be removed.

[2017-04-04 16:28] cdealti opened #1295 "[Wires] Wires DataType lacks the KuraPayload float type"
Wires DataType only supports double precision floating point numbers (why?).
The single precision floating point type of a KuraPayload cannot be removed for backward compatibility reasons.

* Add the float type to DataType or
* Document that metrics of type float received by a WirePublisher will be converted to a float DataType when converting the KuraPayload to a WireRecord

[2017-04-04 17:33] #1277 closed, assigned to nobody

[2017-04-04 17:56] MMaiero commented on #1295
The official HSQLDB documentation states (http://hsqldb.org/doc/1.8/guide/ch09.html):

[2017-04-04 18:54] #1241 closed, assigned to MMaiero

[2017-04-04 21:24] amitjoy commented on #1295
Single precision floating point doesn't provide large degree of precision and to retain accuracy in performing precise calculations, wires didn't include `floats`.

The idea was to include primitive types (except `floats`) to be used as the datatypes in wires. And keeping this in mind, the existent datatypes were included. Previously while designing, I was not aware of the backward compatibility i

[2017-04-05 07:23] ctron commented on #989
Is there any update on this?

[2017-04-05 08:52] maul5 opened #1297 "Is Running Kura 2.1.0 possible in Docker of Raspbian(used Raspberry Pi 3)?"
I try to make Kura Docker image **in Raspberry Pi 3**.

Is Running Kura 2.1.0 possible in Docker of Raspbian? (**used Raspberry Pi 3**)

**My Dockerfile**

[code]

**Running error message**

![kura_error](https://cloud.githubusercontent.com/assets/7858036/24697604/c26c8f98-1a28-11e7-8160-b55ade0d5a7a.png)

[2017-04-05 09:15] MMaiero commented on #1297
Yes, it is possible. In the link provided in a previous issue, you have also the docker image with Kura 2.1.0.
I would also suggest to refer to the forum or mailing list for this kind of issues. Thanks

[2017-04-05 12:53] #1013 closed, assigned to MMaiero

[2017-04-05 12:53] #1294 closed, assigned to MMaiero

[2017-04-05 12:54] #1295 closed, assigned to MMaiero

[2017-04-05 12:54] #1282 closed, assigned to dwoodard1

[2017-04-05 13:18] dwoodard1 commented on #989
I will work on this today.

[2017-04-06 08:33] #657 closed

[2017-04-06 08:55] #1210 closed, assigned to nobody

[2017-04-06 09:47] #1211 closed, assigned to amitjoy

[2017-04-06 09:51] #1284 closed, assigned to nobody

[2017-04-06 13:53] #1202 closed, assigned to nobody

[2017-04-06 16:29] #1212 closed, assigned to MMaiero

[2017-04-07 22:12] amitjoy opened #1310 "Fix source directory build configuration in test fragments"
The build configuration of the unit test fragments show that the source directory is set to `src/main/java`. This needs to be changed to `src/test/java`.

[2017-04-10 12:06] #1220 closed, assigned to nobody

[2017-04-12 08:16] ctron opened #1320 "Provide CentOS 7 based image"
We would like to have a CentOS 7 based image of Kura.

[2017-04-12 08:50] ctron opened #1321 "64bit Linux version broken"
To me it looks like as is Kura is currently broken on all current 64bit Linux versions. Including Ubuntu, Fedora and CentOS/RHEL.

This is due to the change in PR #1230 which dropped the "libudev.so.1" compatible library of the "usb" bundle.

[2017-04-13 06:35] #770 closed

[2017-04-13 06:38] #784 closed

[2017-04-13 06:41] cdealti commented on #779
@djurod can this be closed now?

[2017-04-13 06:42] #782 closed

[2017-04-13 06:42] #785 closed

[2017-04-13 07:25] djurod commented on #779
No, not yet. I still have to prepare a pull request (should be the last one for core.net) with the already written tests.

[2017-04-13 15:02] cdealti opened #1325 "[Wires] Exception if an Channel Descriptor contains in Option of Integer type"
This happens for example if the Channel Descriptor is built like this:

[code]
and its ``Tad`` is:

[code]

[code]

[2017-04-14 08:43] markoer opened #1326 "[Kura App Store] Modbus driver deployment package version"
The currently available Eclipse Marketplace Modbus driver (https://marketplace.eclipse.org/content/modbus-driver-eclipse-kura) claims to be version 1.0.0, but when installed Kura reports version 0.1.0. The reason is that DP's manifest reports 0.1.0 instead of 1.0.0.

[2017-04-14 08:46] markoer opened #1327 "[Kura App Store] Modbus and OPC-UA driver deployment packages"
The drivers currently available on Eclipse Marketplace (https://marketplace.eclipse.org/taxonomy/term/4397%2C4396/title) are only compatible with Kura 3.0.0-M1. Versions for 3.0.0 are not available, yet.

[2017-04-14 13:23] markoer commented on #923
The annoying part of this for the user is the warning in the log:
[code]

[2017-04-15 01:28] ardmn opened #1328 "Raspberry pi zero w"
Hello. Can you help me please . I want install kura on Raspberry pi zero w.  I try install [url=http://www.eclipse.org/downloads/download.php?file=/kura/releases/2.1.0/kura_2.1.0_raspberry-pi_installer.deb]Raspbian - Stable[/url] from download page but rpi  freezes when it try setting up kura. I don't understent what from this list i need:
-Raspbian (Model 2 or 3) - Stable,
-Raspbian (Model 2 or 3

[2017-04-15 16:54] MMaiero commented on #1328
Hi,
raspberry pi zero is currently not a supported platform but, as stated here: https://www.eclipse.org/forums/index.php?t=msg&th=1085140&goto=1758188&#msg_1758188
downloading the installer for raspberry pi 2/3 and changing few properties it should be possible to have it working.

I think this is an error, the `Raspbian - Stable` should refer to raspberry pi model b. @dwoodard1 Maybe we need to c

[2017-04-15 17:26] ardmn commented on #1328
@MMaiero  Thank you. I see that rpi B+ and rpi zero have simmilar hardware . And I install b+ version. https://www.eclipse.org/forums/index.php?t=msg&th=1085140&goto=1758188&#msg_1758188  - help me to have access to kura by wifi . But i can't  connect by ethernet and get ssh connection raspberian . though before installing kura i has normal ethernet ssh (by usb).  If I try get ssh connection by wi

[2017-04-17 17:02] ibinshtok opened #1329 "Need to respect /etc/network/interfaces command options"
Debian write utilities need to be modified to respect /etc/network/interfaces command options (i.e. pre-up, up, post-up, pre-down, down, post-down), and if such option exist, copy them from original interfaces file to modified one.

[2017-04-18 17:53] ctron commented on #862
Well the pool servers should work.

[2017-04-19 12:07] markoer opened #1333 "[Kura 3.0.0 QA] Wire DB store component maximum size"
Cleanup period was replaced with maximum table size (capacity) since 3.0.0-M1 and QA spreadsheet was not updated for this :(

The issue now is that the way cleanup is implemented, it will always allow 2 rows more in the table:
* the check happens when wire is received, but before it is stored,
* it checks > instead of >= max.

And you can probably never be sure whether the wire that triggered the

[2017-04-19 13:28] markoer opened #1334 "[Kura 3.0.0 QA] Example publisher on Amazon"
The example publisher package posted on Amazon (https://s3.amazonaws.com/esf-resources/securityQA/org.eclipse.kura.example.publisher.dp) worked with Kura up to 3.0.0-M1, now it shows this issue. The bundle provided with the Hudson build works OK.

When installed, the log shows successful installation and it even publishes messages, but it doesn't show up among the services in the UI. It doesn't sh

[2017-04-19 14:05] markoer opened #1335 "[Kura 3.0.0 QA] User workspace plugins BREE"
UW-SETUP-002 requires no errors to be present after the imported projects build. There are however a few warnings: org.eclipse.kura.example.publisher is the only project with BREE=1.8, the rest have it set to 1.6 and/or 1.7. And even org.eclipse.kura.api now requires Java 1.8.

Kura 3.0.0 b22

Low priority

[2017-04-19 14:43] MMaiero commented on #1334
The example publisher is now a factory and instances need to be created with the + button on the left

[2017-04-19 14:54] markoer commented on #1334
In this case (if the package on Amazon has already been updated), the issue is more severe: it's not possible to select the example publisher factory component in +'s dialog on the left when it's installed from the mentioned URL, but it still publishes messages.

When I uninstall package from URL and install bundle 1.0.100 from b22 an instance of ExamplePublisher is added immediately (and is visib

[2017-04-20 06:24] MMaiero commented on #1334
No, the packages in the QA report and the ones in the marketplace will be updated after the release.
Only the dps produced by the build should be used in this case, due to the breaking changes in the configuration service and driver implementations.

[2017-04-20 13:39] nicolatimeus commented on #1203
The documentation on the ASSET-V1 namespace is available on the Kura wiki: https://github.com/eclipse/kura/wiki/ASSET-V1-MQTT-Namespace

[2017-04-20 13:39] #1203 closed, assigned to nobody

[2017-04-20 13:55] cdealti opened #1338 "[Kura 3.0.0] camel.aggregation and camel.quickstart examples should be "normalized""
These two projects have caused and are causing a couple of problems:

1. After importing the classical user_workspace_archive_3.0.0.zip, they contain errors (see picture below)

![screenshot from 2017-04-20 15 44 11](https://cloud.githubusercontent.com/assets/1225835/25233869/9847942e-25e0-11e7-9f85-982e30e1ce42.png)

2. They require an extra manual step when deployed to Nexus which is not require

[2017-04-22 06:16] amitjoy opened #1342 "Update Modbus and OPC-UA Drivers in Marketplace"

[2017-04-23 23:07] marentwickler commented on #1023
I find great difficulties with kura installation,I use eclipse Installer  .I can't to build kura project by installing, the issue is :' Failed to load p2 repository with ID 'p2-repo-equinox_3.11.1' from location    ......     No repository found at  file://..../ iot-kura-develop/git/kura/kura/org.eclipse.kura.api/../target-definition/equinox_3.11.1/repository. -> [Help 1]'.
![screen shot 2017-04-2

[2017-04-24 07:20] MMaiero commented on #1329
Closed by merging of #1332

[2017-04-24 07:20] #1329 closed, assigned to ibinshtok

[2017-04-24 07:21] MMaiero commented on #1342
Duplicate of #1327

[2017-04-24 07:21] #1342 closed, assigned to nobody

[2017-04-24 07:29] MMaiero commented on #1269
Solved by #1323

[2017-04-24 07:29] #1269 closed, assigned to nobody

[2017-04-24 07:43] #1246 closed, assigned to MMaiero

[2017-04-24 07:43] MMaiero commented on #1246
We need to improve the documentation with this new topic design.

[2017-04-24 07:49] MMaiero commented on #1163
Can this be closed @djurod?

[2017-04-24 07:50] #1160 closed, assigned to pierrepitiot

[2017-04-24 07:50] djurod commented on #1163
Yes

[2017-04-24 07:52] MMaiero commented on #1069
Closing since the related PR was merged

[2017-04-24 07:52] #1069 closed, assigned to nobody

[2017-04-24 08:00] MMaiero commented on #1009
@djurod Can this be closed?

[2017-04-24 08:06] #950 closed

[2017-04-24 08:08] MMaiero commented on #948
@markoer Could you please have a look and confirm if this is an issue also for you? Thanks

[2017-04-24 08:10] #918 closed

[2017-04-24 08:25] MMaiero commented on #673
I would close this and open another issue to remove the `createConfiguration(String pid)` since now it is not needed. What do you think @dwoodard1 ?

[2017-04-24 08:33] MMaiero commented on #519
@dwoodard1 @cdealti Sonar is broken again and I cannot perform RC builds. Could you please keep in touch with Eclipse Webmaster to solve it? Thanks.

[2017-04-24 08:38] #372 closed

[2017-04-24 08:38] #352 closed

[2017-04-24 09:49] djurod commented on #1009
Yes

[2017-04-24 09:56] #1009 closed, assigned to nobody

[2017-04-24 13:25] dwoodard1 commented on #673
How would a user create a new CloudService component if they were not using the Kura web UI.

[2017-04-24 19:18] marentwickler opened #1346 "great difficulties with kura installation"
I find great difficulties with kura installation,I use eclipse Installer .I can't to build kura project by installing, the issue is :' Failed to load p2 repository with ID 'p2-repo-equinox_3.11.1' from location ...... No repository found at file://..../ iot-kura-develop/git/kura/kura/org.eclipse.kura.api/../target-definition/equinox_3.11.1/repository. -> [Help 1]'.
![screen shot 2017-04-24 at 00 0

[2017-04-26 07:58] nicolatimeus commented on #1346
Hi,

I have tested the Oomph installer, and I can confirm the issue. It is a temporary problem caused by the fact that the mirror that provides the Equinox package for the build does not work.

This causes the build of the `develop` branch (the one that is used by the Oomph installer) to fail, because the `p2-repo-equinox_3.11.1` local repository cannot be created.

This issue has already been fix

[2017-04-27 08:31] MMaiero commented on #1346
I think we can close now.

[2017-04-27 08:35] MMaiero commented on #1335
I think this can be closed due to #1351 merging. Is it ok for you @markoer?

[2017-04-27 08:39] markoer commented on #1335
Let's wait till I try it with the next build. I'm sure it will work, but still... I'll close it right after I test it.

[2017-04-27 08:41] MMaiero commented on #519
Can we close this now, since Eclipse webmaster made some changes to the Sonar installation?

[2017-04-27 13:14] #519 closed

[2017-04-28 13:01] cdealti commented on #1346
Reopening this because it must be fixed. What if one wants the installer for the KURA_3.0.0_RELEASE tag?

[2017-04-28 14:56] cdealti opened #1354 "Document default tracking of services registering Configurable/SelfConfiguringComponent"
Update Kura documentation due to #1174.

[2017-04-28 18:16] markoer commented on #1335
Verified in Kura 3.0.0 b28 release candidate. Closing the issue.

[2017-04-28 18:16] #1335 closed, assigned to nobody

[2017-04-29 17:01] markoer commented on #1333
Verified in Kura 3.0.0 b28
Closing the issue.

[2017-04-29 17:01] #1333 closed, assigned to nobody

[2017-05-02 12:05] cdealti commented on #1262
The updated documentation is online.

[2017-05-02 12:05] #1262 closed, assigned to pierantoniomerlino

[2017-05-02 12:06] cdealti commented on #1242
All issues complete.

[2017-05-02 12:06] #1242 closed, assigned to nobody

[2017-05-02 12:10] cdealti commented on #582
I haven't tested this and I do not know hot to deploy to Maven Central. However this is a release engineering step.

[2017-05-02 12:24] dwoodard1 commented on #920
@ctron Can we postpone this issue until the next release?

[2017-05-02 13:15] ctron commented on #920
I think those should be in a build and test CQ for Kura 3.0.0, so from what I know this should be included in the IP log for Kura 3.0.0.

I would ask to you check with the Eclipse IP team or EMO if this is ok to be postponed.

[2017-05-02 14:37] cdealti commented on #989
Closed by #1299.

[2017-05-02 14:37] #989 closed, assigned to nobody

[2017-05-02 20:50] dwoodard1 commented on #920
@ctron Could you create the CQ? EMO said they would try to get it reviewed quickly.

[2017-05-03 09:42] ctron commented on #920
Giving the Kura build setup a brief check showed up to additional dependencies to me which seemed to haven been forgotten. The full request should be:

[code]

However, before we do a re-re-spin of the IP log, I would kindly ask you to check this as well and amend the list with any additions I did not pick up.

[2017-05-03 10:14] cdealti commented on #920
@ctron thanks!
Please add the following build and test dependencies. They are all from the Orbit R20160520211859 drop.
[code]

[2017-05-03 10:28] cdealti commented on #434
The latest Javadoc released for Kura 2.1.0 shows ``Eclipse Kura 2.1.0``.
I believe this is what you want to see even if for Semantic Versioning the Kura version is irrelevant (and also the ``Bundle-Version`` of ``org.eclipse.kura.api``.

[2017-05-03 10:28] #434 closed

[2017-05-03 13:09] ctron commented on #920
CQ created – https://dev.eclipse.org/ipzilla/show_bug.cgi?id=13380

[2017-05-03 13:15] dwoodard1 commented on #920
EMO stated we did not need to re-submit the IP log since these are build/test dependencies.

Anything else before I ask them to expedite the review?

[2017-05-03 13:50] cdealti commented on #920
Not on my side. I've added what I was aware of

[2017-05-03 21:29] diegovisentin opened #1357 "Invalid link in the pom.xml of p2-repo-equinox_3.11.1 project"
Hi,
in [https://github.com/eclipse/kura/blob/develop/target-platform/p2-repo-equinox_3.11.1/pom.xml](https://github.com/eclipse/kura/blob/develop/target-platform/p2-repo-equinox_3.11.1/pom.xml) the "equinox.download.url" address is no more valid.
I successfully replaced it with [http://archive.eclipse.org/equinox/drops/R-Neon.1-201609071200/equinox-SDK-Neon.1.zip](http://archive.eclipse.org/equino

[2017-05-03 21:32] diegovisentin commented on #1357
After a minute I realized that in v3 branch the link has been correct using [https://s3-us-west-2.amazonaws.com/kura-repo/R-Neon.1-201609071200/equinox-SDK-Neon.1.zip](https://s3-us-west-2.amazonaws.com/kura-repo/R-Neon.1-201609071200/equinox-SDK-Neon.1.zip)

[2017-05-03 21:32] #1357 closed, assigned to nobody

[2017-05-04 00:42] diegovisentin commented on #1346
Hi,
on a brand new installation made via oomph and based on "release-3.0.0" branch, the only way to resolve all errors in Eclipse has been to run "build-all.sh" script.
But the emulator doesn't work :-(
Could you be so kind to give me some tips to fix this?

Thanks, Diego

[2017-05-04 09:53] nicolatimeus commented on #1346
Hi,

Which operating system are you using for development? We tested the Oomph installer on OSX and Linux and it seems to be working. The Windows platform is currently unsupported as development environment.

The fact that after the initial build Eclipse still reports errors for some projects shouldn't be harmful, the errors are related to the fact that Eclipse is unable to discover lifetime mappi

[2017-05-04 09:54] pierantoniomerlino opened #1358 "[GPS] With a USB GPS device, the position service keeps reporting the old position"
PR #1233 solves issue #918 only for modem GPS. If an USB GPS device is used, the position is not correctly updated.

[2017-05-04 10:31] pierantoniomerlino opened #1359 "[Documentation] Add Configuration section in Kura documentation"
A section describing how to configure the device using Kura should be added. Possible contents can be:
* Gateway Status
* Network Configuration
* Ethernet Configuration
* Wi-Fi Configuration
* Cellular Configuration
* Firewall Configuration
* Position Service Configuration

[2017-05-04 10:32] pierantoniomerlino opened #1360 "[Documentation] Add Administration section in Kura documentation"
A section describing how to administrate the device using Kura should be added. Possible contents can be:
* Directory Layout
* Snapshot Management
* Application Management

[2017-05-04 10:32] pierantoniomerlino opened #1361 "[Documentation] Improve Kura wires documentation"
The Kura Wires documentation should be improved:
* Basic concepts on Kura Wires: WireComponents, WireEnvelops, WireFields and WireRecords
* Tutorial on FIFO component

[2017-05-04 10:32] pierantoniomerlino opened #1362 "[Documentation] Kura documentation improvements"
PR #1355 tries to re-organise the Kura documentation, dividing documents in sections. However, many documents and tutorials are missing.

[2017-05-04 12:13] pierantoniomerlino opened #1363 "[Documentation] Add tutorial on Eclipse Kapua connection"
Kura documentatio should include also a document on how to connect Kura to Eclipse Kapua.

[2017-05-04 12:15] diegovisentin commented on #1346
I'm using OpenSUSE (fixed at last level ;->).
Just for your information, I followed the steps descried in "For the Eclipse Installer based setup" of "Getting_Started" wiki page.

[2017-05-04 12:55] nicolatimeus commented on #1346
Can you please try to perform a clean installation again?

Remove the previous Eclipse installation and then run the installer using the setup file posted above instead of the one specified in the Getting Started guide:

https://raw.githubusercontent.com/nicolatimeus/kura/fix_oomph-setup/kura/setups/kura.setup

Before doing that make sure to clean the cache of the Oomph installer:

`rm -rf $HOME/.

[2017-05-04 15:09] cdealti commented on #920
build/test dependencies have been approved so this can be closed.
Thanks @ctron @dwoodard1.

[2017-05-04 21:57] marentwickler commented on #1346
Hi, and thanks for your interactions ,

I've also gone the same way for kura setup from "Getting_Started" wiki page, but today I have restarted eclipse, then I lost kura-emulator.
I try again to install kura , How can I use Started guide with Oomph installer?
https://raw.githubusercontent.com/nicolatimeus/kura/fix_oomph-setup/kura/setups/kura.setup.
Kura installation costs a lot of time.
in kura/g

[2017-05-05 06:17] ctron commented on #920
I don't see any approval up until now. Could you please point me towards this.

[2017-05-05 06:56] cdealti commented on #920
You already know it's not been approved yet ;-). I've been to enthusiast seeing a couple of +1s.

[2017-05-05 09:38] ctron commented on #1346
@marentwickler Could you try to setup up Kura in develop and then switch the branch to release-3.0.0?

[2017-05-05 12:05] marentwickler commented on #1346
Hi all,
I tried kura to install with Oomph installer  and kura.setup from release-3.0.0 ,the building is successful, But I got this issues:
'Description	Resource	Path	Location	Type
Plugin execution not covered by lifecycle configuration: org.codehaus.mojo:properties-maven-plugin:1.0-alpha-1:read-project-properties (execution: read-previous-release-versions, phase: initialize)	pom.xml	/org.eclipse.

[2017-05-05 12:14] ctron commented on #1346
Seems like some missing m2e declarations. You can ignore those errors, or "fix" them with the Quick fix, marking them as ignored.

[2017-05-05 16:06] amitjoy commented on #1346
As far as I remember, I also encountered such issue and got it resolved by installing `Tycho m2e Connector` from `Eclipse Preferences->Maven->Discovery->Open Catalog`

[2017-05-05 20:39] marentwickler commented on #1346
Hi,
only two issues,
one is refers to package  org.eclipse.kura.protocol.can ,the packege
![screen shot 2017-05-05 at 21 20 35](https://cloud.githubusercontent.com/assets/11528983/25763400/cb5655c0-31da-11e7-9dec-8f47c62520ac.png)
libsocket-can-java.jar is not in lib from org.eclipse.kura.protocol.can What is problematic for building,
![screen shot 2017-05-05 at 21 20 35](https://cloud.githubuserc

[2017-05-06 06:34] marentwickler commented on #1346
hi,
Kura Emulator not work:
org.osgi.framework.BundleException: Could not resolve module: org.eclipse.kura.emulator [3]
  Unresolved requirement: Import-Package: org.apache.commons.io; version="2.4.0".

Every project missing something!

org.osgi.framework.BundleException: Could not resolve module: org.eclipse.kura.test [2]
  Unresolved requirement: Import-Package: junit.framework.

!ENTRY org.ecli

[2017-05-07 21:44] #1346 closed, assigned to nobody

[2017-05-08 07:24] diegovisentin commented on #1346
@marentwickler thanks for your hints.
Unlike my previous attempts, the cache cleanup and the use of the "Eclipse Kura Emulator" seems to have solved the problems. Therefore in next days I'll do other tests.
Thanks a lot for the support.

[2017-05-08 12:34] ghost opened #1366 "java.lang.IllegalStateException: Invalid MQTT client configuration"
hello ,

i am trying work on sample hello world example ,i followed the step which is there in the Kura web site https://eclipse.github.io/kura/doc/hello-example.html
but when i try to test in and emulator i got following
17:09:13,854 [Component Resolve Thread] ERROR MqttDataTransport:774  - Invalid configuration
17:09:13,855 [Component Resolve Thread] ERROR MqttDataTransport:197  - Invalid client

[2017-05-08 13:21] cdealti commented on #1366
Hello,
  This usually happens on Linux if the link on you Ethernet port is down (no cable or other end of the cable not connected to switch/router).
Either provide link to the Ethernet port **or** manually configure the **client-id** property from the Kura Web UI @locahost:8080.
The **client-id** is available under **Cloud Services**. Select the connection in the table and click on the **MqttDataT

[2017-05-09 21:42] ibinshtok opened #1369 "WiFi password (PSK) can't contain '&'"
WiFi password (PSK) can't contain '&' . Example the value of ``Math&Science`` in "Wireless Password" field of the "Wireless" configuration tab is converted into ``Math&amp;Science`` in "psk" option of the /etc/wpa_supplicant.conf file.

[2017-05-10 15:21] dwoodard1 commented on #920
The CQ has been approved. Closing the issue.

[2017-05-10 15:21] #920 closed

[2017-05-11 13:35] markoer opened #1372 "[Kura 3.0.0 QA] Superfluous libraries in Raspberry Pi 2-3 install"
There are a few files in the RPi3 installation that don't really belong there as they are related to x86 architecture:
* /opt/eclipse/kura/plugins/org.eclipse.soda.dk.comm.x86_64_1.2.100.jar
* /opt/eclipse/kura/plugins/com.codeminders.hidapi.x86_64_1.1.100.jar
* /opt/eclipse/kura/plugins/jdk.dio.x86_64_1.0.100.jar

Not really top priority as these fragments are not large and don't get deployed any

[2017-05-12 07:56] markoer opened #1373 "[Kura 3.0.0 QA] Configuration service: mixing configurable services with factory components"
I will describe 2 scenarios that may occur when I want to use ExamplePublisher with Kura 3.0.0. Both show some issue.

Scenario 1:
New Kura installation.
Install example publisher bundle from OSGi console (install file:///.../ org.eclipse.kura.example.publisher-1.0.100.jar). Don't start the bundle, yet. Try to add a new service (+). It's not listed. Start the bundle (e.g. start 95). Try to add it

[2017-05-15 14:15] darionct opened #1374 "BeagleBone Black, dnsmasq disrupts kura's DHCP service"
Installation image

[bone-debian-8.7-iot-armhf-2017-03-19-4gb.img.xz](https://debian.beagleboard.org/images/bone-debian-8.7-iot-armhf-2017-03-19-4gb.img.xz)

 has dnsmasq service enabled by default. It prevents kura's DHCP service from running. Documentation should be updated with instruction to disable dnsmasq service:
`sudo systemctl disable dnsmasq.service`

[2017-05-17 12:18] samrah1031 commented on #997
Hi,

I am trying to setup eclipse kura on windows 7 using eclipse installer. But having this error :
Internal error: java.lang.RuntimeException: Failed to load p2 repository with ID 'p2-repo-equinox_3.11.1' from location file:////C:/Users/Samrah/iot-kura-develop/git/kura/kura/org.eclipse.kura.api/../target-definition/equinox_3.11.1/repository/: URI has an authority component -> [Help 1]

Please he

[2017-05-17 13:58] nicolatimeus opened #1376 "[Wires] Asset configuration is not updated after a ChannelDescriptor change."
If a BaseAsset instance is attached to a driver, and the channel descriptor of a driver is changed by adding new properties (for example by installing a new version of the driver with a different channel descriptor), the configuration of the existing Asset will not be updated.

The expected behaviour would be that the old configuration of the Asset gets merged with the default values of the new pr

[2017-05-17 15:16] austindsouza opened #1377 "Kura.Camel : jdbc No bean found in the registry for: dataSource of type: javax.sql.DataSource"
Hi

I have started learning Eclipse Kura. I understood the basics of it. Now I want to give a try to read streaming data and sinking to Oracle database, using Kura-Camel runner.
However, I couldn't find example of how to add a dataSource to Kura Context .

I'm implementing this using kuraCamelQuickstart example deployed in Kura Emulator, and my approach is like this

String url = "jdbc:oracle:thin

[2017-05-17 15:29] ctron commented on #1377
I am not sure if I fully understand what you are doing by that snippet. But I think that the data source you put into the context is named `myDataSource` in your example instead of `dataSource`.

[2017-05-18 04:15] austindsouza commented on #1377
Hi Ctron,

Thanks for your reply, Here is my full code.

public class GatewayRouterJava implements ConfigurableComponent {
    private static final Logger logger = LoggerFactory.getLogger(GatewayRouterJava.class);

    String url = "jdbc:oracle:thin:@myserver:1521:myDB";
    DataSource dataSource = setupDataSource(url);

    private static final RouteBuilder NO_ROUTES = new RouteBuilder() {

[2017-05-18 08:15] #1360 closed, assigned to nobody

[2017-05-18 08:15] #1359 closed, assigned to nobody

[2017-05-18 08:16] #354 closed

[2017-05-18 08:17] #1354 closed, assigned to nobody

[2017-05-18 08:40] ctron commented on #1377
Ok, I think I understood the problem.

Your are manually creating a Camel context, but should rather be using the one provided by the `CamelRunner`.

The `CamelRunner.Builder` allows you to provide your own registry:

[code]

[2017-05-18 08:50] MMaiero commented on #1366
Hi @Roopa-Siddaveerappa, can this be closed?
Thanks

[2017-05-18 09:17] austindsouza commented on #1377
Hi ctron,
Thanks for your reply,  will try this.

Meanwhile If I want to use Camel XML Router in Kura web UI, how to set jdbc Datasource definaton in spring configuration.

I tried to do this like this:
==== XML ====
routes xmlns="http://camel.apache.org/schema/spring"
  bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
	property name="driverClassName" value=

[2017-05-18 09:52] markoer opened #1378 "[Wires] DB store primary key"
DbWireRecordStore creates the table to store data in using `CREATE TABLE IF NOT EXISTS {0} (TIMESTAMP BIGINT NOT NULL PRIMARY KEY)`.

insertDataRecord() in line 462 calls the following:
[code]
where TIMESTAMP column is set to the current system time.

Now, if the insertions would happen to be performed more than once per ms, the following error would occur:

[code]

I realize it's unlikely for tha

[2017-05-18 11:17] ctron commented on #1377
You can't use spring in the XML router. Just plain routes.

[2017-05-18 11:31] austindsouza commented on #1377
Hi ctron,

I tried your suggestion like this

SimpleRegistry reg = new SimpleRegistry() ;
reg.put("myDataSource",dataSource);
builder.registryFactory(createOsgiRegistry(ctx, reg));

and the previous error is gone now, However I'm getting  java.lang.ClassNotFoundException for JDBC driver.

I tried to add it manually including external jar from the build path and also by adding the jar in Target-def

[2017-05-18 12:28] ctron commented on #1377
Well for this to work you either need an OSGi capable version of a JDBC driver, like IIRC postgresql. Or you will need to wrap this yourself.

You can also add the JAR file to your local bundle and add them via the `MANIFEST.MF` entry `Bundle-Classpath: `.

[2017-05-18 15:28] mvtn commented on #1023
Hello,

I'm installing eclipse Kura with eclipse committers on windows 10 machine, I use eclipse installer and it is giving me below error:

![image](https://cloud.githubusercontent.com/assets/28703294/26209451/3b56a144-3bc3-11e7-943f-4d6b7f8ae170.png)

Thanks in advance.

[2017-05-19 12:17] austindsouza commented on #1377
Hi ctron,

1) I tried to add the JAR file by creating lib folder in my project and added the jdbc JAR inside that, and then added -> Bundle-ClassPath: lib/mysql-connector-java-5.1.15.jar, .  in MANIFEST.MF file

2) Created a OSGI capable jar file in Eclipse File -> new -> Plug-in from Existing Archives.
both approach is giving me the following error.

org.apache.commons.dbcp.SQLNestedException: Ca

[2017-05-19 12:29] ctron commented on #1377
The mysql connector already is an OSGi bundle. There is no need to wrap this one. Simply define an OSGi package or bundle dependency.

[2017-05-19 12:57] austindsouza commented on #1377
1) My build.properties file looks like this

output.. = target/classes
source.. = src/main/java/
bin.includes = META-INF/,\
               .,\
               OSGI-INF/,\
               about.html
additional.bundles = org.apache.commons.dbcp,\
                     org.apache.commons.pool,\
                     com.mysql.jdbc

2) MANIFEST.MF is like this

Manifest-Version: 1.0
Bundle-ManifestVersion

[2017-05-19 13:10] ctron commented on #1377
Import-Package: com.mysql.jdbc

[2017-05-20 06:37] austindsouza commented on #1377
HI ctron,

I've added the mysql JDBC jar, now  I'm getting java.sql.SQLException: No suitable driver Exception.

My updated code looks like this now.

String url = "jdbc:mysql://localhost:3306/testing";

  private static final RouteBuilder NO_ROUTES = new RouteBuilder() {
        @Override
        public void configure() throws Exception {
        }
    };
    private CamelRunner camel;
    privat

[2017-05-20 06:58] ctron commented on #1377
So if you enforce the class loader of this jar, then the pool seems to have a problem to find your class. I would suggest to not work around OSGi, but to set the class loader returned by your class. This should be the correct OSGi class loader for your bundle. If you bundle properly imports all packages, you should be good to go.

[2017-05-20 07:24] austindsouza commented on #1377
Hi ctron,

Thanks for your time and support, I'm bit lost here. Can you please tell me what exactly I need to do here.

[2017-05-20 07:27] ctron commented on #1377
So in general you need to wire up OSGi dependencies. If you can give me a sample project (e.g. on GitHub) I can try to fix it for you.

[2017-05-20 08:51] austindsouza commented on #1377
Please find my GitHub repo https://github.com/austindsouza/Eclipse-Kura

[2017-05-22 06:17] austindsouza commented on #1377
Hi ctron,
Did you get a chance to look into my GitHub project?

[2017-05-22 09:59] ctron commented on #1377
Not on the weekend sorry. I will look into this in the next days.

[2017-05-22 15:45] #1366 closed, assigned to nobody

[2017-05-22 15:59] MMaiero commented on #1328
@ardmn Did you solve your issue?

[2017-05-22 15:59] MMaiero commented on #1297
@maul5 Can this be closed? Thanks.

[2017-05-23 10:11] kartben opened #1382 "[website] "Downloads > Debian Packages" should be renamed"
The dropdown menu for Downloads on the Kura website says "Debian Packages"  - i would suggest renaming to "Packages" since there are now also RPMs served from there…

[2017-05-23 10:26] nicolatimeus opened #1383 "OPC UA Driver only supports string node ids"
According to the OPC UA specification node ids can have different types (numeric, string, guid..). The OPC UA Driver only supports string node ids for now, support for more types should be added.

[2017-05-23 10:39] nicolatimeus opened #1384 "OPC UA Driver channel descriptor property ids shouldn't be localised"
Localised property ids do not allow channel configuration to be ported across different locales.

[2017-05-23 12:06] austindsouza commented on #1377
Hi ctron,
Sorry to bother you again. Did you checked the issue?

[2017-05-23 12:35] ctron commented on #1377
I am sorry but I cannot put any priority on this task, I will check this in the next few days, as I said. If it is that urgent, then I suggest that your invest a little bit of time into OSGi, which will help you understand the underlying issue and fix the issue. Otherwise please be patient until I can find some time to solve your issue.

[2017-05-23 13:30] amitjoy commented on #1377
I am not sure if the mysql-connector jar is OSGi-fied properly. You can also add the simple jar (non OSGi-fied) in a folder in your project (e.g lib) and add Bundle-Classpath in your manifest (MANIFEST.MF) to point to this lib folder. And then you can manually set the `DataSource`'s `URLClassLoader` in the following way. This should set the proper classloader to the `DataSource` to load the mysql

[2017-05-23 14:29] nicolatimeus opened #1386 "[Wires] Null properties in channel configuration are not properly handled"
Null properties in channel configuration are not properly managed, even if the property is not marked as required.
This causes various glitches, both in the Web UI and in the configuration management part of the Wires.

[2017-05-23 17:00] marentwickler opened #1388 "eclipse kura and AWS IoT™ platform : aws device ssl certificate error"
I try to connect kura and aws, but no success,
I get this error:
ILLEGAL_ARGUMENTorg.eclipse.kura.web.shared.GwtKuraException: ILLEGAL_ARGUMENT
at Unknown.gd(denali-0.js)
at Unknown.pd(denali-0.js)
at Unknown.SYb(denali-0.js)
at Unknown.XYb(denali-0.js)
at Unknown.f3(denali-0.js)
at Unknown.b3(denali-0.js)
at Unknown.A1(denali-0.js)
at Unknown.h2(denali-0.js)
at Unknown._n(denali-0.js)
at Unknown.

[2017-05-23 17:03] MMaiero commented on #1388
Hi, did you follow the tutorial available here: http://eclipse.github.io/kura/cloud/kura-aws-cloud.html ?

[2017-05-23 17:07] marentwickler commented on #1388
thanks,
yes, i have entered all steps from this guid, but by tab Device SSL Certificate comes this error.

[2017-05-23 17:10] MMaiero commented on #1388
Is the keystore correctly set and linked by the SSL tab in Kura?

[2017-05-23 17:15] marentwickler commented on #1388
thanks,
yes, default:/opt/eclipse/kura/security/cacerts.ks.
I have also tried with /opt/eclipse/kura/security/cacerts, but same error.

[2017-05-23 17:17] MMaiero commented on #1388
but, is there the corresponding file in one of these locations?

[2017-05-23 17:18] MMaiero commented on #1388
Kura, by default, is provided without a specific keystore file. You need to create that, as described in the documentation file.

[2017-05-23 17:21] marentwickler commented on #1388
now i used /opt/eclipse/kura/security/cacerts as keystore, but same error.

[2017-05-23 17:22] marentwickler commented on #1388
at the beginning I have worked with this document :https://blog.benjamin-cabe.com/2015/10/23/tutorial-connecting-eclipse-kura-to-aws-iot.
by them the keystore is the default value.

[2017-05-23 17:26] MMaiero commented on #1388
That guide was used as a reference for the new one here http://eclipse.github.io/kura/cloud/kura-aws-cloud.html that is more up to date.
Looking at point 7, it suggests to create a directory: `sudo mkdir /opt/eclipse/security`. Did you follow this step? If so, the path you provided in the Kura web ui is not correct.

[2017-05-23 17:29] marentwickler commented on #1388
yes,  i have entered all steps from 1 to 9, but always same error.

[2017-05-23 20:06] #1388 closed, assigned to nobody

[2017-05-23 20:32] dwoodard1 commented on #1388
@marentwickler I noticed you closed this issue, did you resolve your issue? If so, could you share your solution? It may help others who run into the same problem.

[2017-05-23 21:44] marentwickler commented on #1388
@dwoodard1,@MMaiero   thanks, yes i resolved my issue, on tab MqttDataTransport-AWS  the parameter  lwt.retain was on true, solution is  lwt.retain=false, then  Raspberry-Pi device is connected with AWS platform IoT.
I have used guid :https://eclipse.github.io/kura/cloud/kura-aws-cloud.html.

[2017-05-24 09:25] ctron commented on #1377
Hi @austindsouza, I found some time to prepare an example with JDBC + MySQL.

As I find the Tycho approach rather complicated I built that based on plain Maven. You can find the source here: https://github.com/ctron/kura-examples/tree/master/camel/camel-example-2

There is a readme and a simple way to test this. The component itself should rather straight forward, and you should be able to take th

[2017-05-24 10:55] austindsouza commented on #1377
Hi Ctron,

This example worked fine as expected...
Thank you so much for your time and continuous support.

[2017-05-24 11:55] ctron commented on #1377
Sorry that I couldn't to that earlier. If you encounter any problems let me know and I will take a look.

Thanks for the feedback!

[2017-05-24 11:55] #1377 closed, assigned to nobody

[2017-05-24 15:00] markoer opened #1391 "[Wires] Fifo is really FIFO only while it's full"
Fifo component takes the last element out of the queue making it partially a LIFO.

[code]
Until it's full it will behave erratically, when it fills up, it works properly, if it doesn't discard the inbound envelopes. When it starts to empty, it emits the oldest few elements.

Kura 3.1.0, develop branch

[2017-05-24 21:48] marentwickler opened #1393 "Connecting Heater Example with AWS-Platform"
hello,
I can't  transfer data from kura Heater Example to AWS-platform.
-device:Raspberry Pi
-kura cloud is connected to AWS IoT platform
-on kura-cloud web console: Tab MqttDataTransport-AWS=>
                                                  lwt.topic=$aws/things/client_id/shadow/update
-on Heater web console: publish.semanticTopic=sample/topic
-on AWS Platform: Subscribe to a topic=sample/topic

[2017-05-25 07:17] austindsouza opened #1394 "Build from source Failed"
Hi I am trying to build Kura from source with a single build step

$ ./build-all.sh

[INFO] Reactor Summary:
[INFO]
[INFO] target-platform .................................... SUCCESS [  5.113 s]
[INFO] Camel :: Core :: Import sun.misc ................... SUCCESS [  5.195 s]
[INFO] System extension fragment for 'sun.misc' ........... SUCCESS [  0.277 s]
[INFO] com.codeminders.hidapi-parent .......

[2017-05-25 07:45] MMaiero commented on #1394
Hi,
which branch are you building?
Which is the host system where the build is running?
And what are the maven and Java versions?

Thanks.
  Matteo

[2017-05-25 07:52] MMaiero commented on #1393
Hi,
I think that the heater example takes the default cloud service. If you added the AWS cloud stack in addition to the default one, the heater demo will take the latter to publish.
I would suggest using the [Example publisher](https://marketplace.eclipse.org/content/example-publisher-eclipse-kura). It is a little bit complex, in comparison to the heater demo, but it allows to select the cloud se

[2017-05-25 08:13] austindsouza commented on #1394
Hi Matteo,
My setup environment is like this

Branch : release-3.0.0
Host System : CentOS 7
Java version : 1.8.0_45
Maven : 3.3.9

[2017-05-25 11:24] marentwickler commented on #1393
thanks,
I have run the Example publisher  on raspberry pi, I can't transfer data from kura-device to aws-platform, I need the right parameters such as lwt.topic from MqttDataTransport-AWS, publish.appTopic from Example publisher modul, Subscribe to a topic from AWS Platform...

--------------------                                  --------------------
 Kura-device-Topic  ,MQTT parameters        <=

[2017-05-25 11:50] MMaiero commented on #1393
Hi,
could you share an excerpt of your kura.log file? In theory, if you have followed the guide you should be able to be connected and you should also be able to publish. What you could more, is to modify the cloud service preference to publish in JSON, so the data would be readable using the AWS console tooling.

At this time, the cloud service or the example publisher do not support device shado

[2017-05-25 12:11] marentwickler commented on #1393
Hi,
my kura.log file:
2017-05-25 12:07:15,392 [pool-26-thread-1] INFO  o.e.k.c.d.DataServiceImpl - Storing message on topic :#account-name/#client-id/EXAMPLE_PUBLISHER/data/metrics, priority: 5
2017-05-25 12:07:15,394 [pool-26-thread-1] ERROR o.e.k.c.d.s.DbDataStore - Store capacity exceeded
2017-05-25 12:07:15,394 [pool-26-thread-1] ERROR o.e.k.e.p.ExamplePublisher - Cannot publish topic: data/me

[2017-05-25 12:31] MMaiero commented on #1393
Could you please link the entire file? The snippet is not sufficient to understand what is going on

[2017-05-25 12:42] marentwickler commented on #1393
Hi,
These errors are always repeated,
kura-console.log:

!ENTRY org.eclipse.kura.core.cloud 2 0 2017-05-25 11:37:47.973
!MESSAGE [SCR] ComponentReference.unbind(): component instance not bound! It is: org.eclipse.equinox.internal.ds.impl.ComponentInstanceImpl@e52dc
	Details:
	Problematic reference = Reference[name = DataService, interface = org.eclipse.kura.data.DataService, policy = static, cardi

[2017-05-25 12:48] cdealti commented on #1373
Scenario 1 is due to the ConfigurationService implementation not tracking bundle uninstall.
Scenario 2 no idea yet

[2017-05-25 12:55] cdealti commented on #1369
@MMaiero does it happen to prevent JS injection?

[2017-05-25 13:02] cdealti commented on #1338
@ctron any thoughts on this?

[2017-05-25 13:06] cdealti commented on #1334
The new example publisher has been published to the Eclipse Marketplace in the IoT category [1]

[1] https://marketplace.eclipse.org/content/example-publisher-eclipse-kura

[2017-05-25 13:06] #1334 closed, assigned to nobody

[2017-05-25 13:12] cdealti commented on #1327
The official OPC-UA driver for Kura 3 has been published on the Eclipse Marketplace [1].
The Everyware Software Framework (ESF) Modbus Driver - Community Edition for Kura 3 will be available soon.

[1] https://marketplace.eclipse.org/content/opc-ua-driver-kura

[2017-05-25 13:12] #1327 closed, assigned to nobody

[2017-05-25 13:16] cdealti commented on #1326
That driver has not been officially released by Kura and will not work with Kura 3.0.0.
The Everyware Software Framework (ESF) Modbus Driver - Community Edition for Kura 3 will be published soon on the Marketplace.

@amitjoy I believe it should be removed.

[2017-05-25 13:19] cdealti commented on #1325
@amitjoy can you please take a look?

[2017-05-25 13:28] MMaiero commented on #1393
Those errors in kura-console.log are related to some bug into multiple cloud connections, but I believe it is tracked in an issue.

I would like to have a look at the entire kura.log file (maybe you can share it via s3 or dropbox) to understand what is going on.

Thanks.

[2017-05-25 13:28] kcsj17 opened #1395 "Write to Modbus Asset Channel"
I can successfully read from Modbus asset channel and publish to the cloud, but How do I subscribe to cloud service and be able to write to SPECIFIC Modbus Asset Channels when the topic value changes?

[2017-05-25 13:34] cdealti commented on #1320
@ctron are you willing to provide and maintain this Kura port (with and without network support)?

[2017-05-25 13:42] cdealti commented on #1310
@amitjoy I believe this is discussed in [1].
@markoer can explain this in greater detail.

[1] https://github.com/eclipse/kura/wiki/Development-Environment-Tips-and-Tricks#in-ide

[2017-05-25 13:46] amitjoy commented on #1310
I have created this issue as most of the unit tests as of now comprise `src/main/java` as source directory in `build.properties` whereas it should be `src/test/java`

[2017-05-25 13:49] markoer commented on #1310
In short, if `src/test/java` is added to source.., its classes will be compiled into `target/classes` instead of `target/test-classes` and therefore be picked up by tycho-surefire-plugin instead of surefire-plugin. And this would be wrong.

[2017-05-25 13:57] MMaiero commented on #1395
Hi,
you can use the Subscriber block or, otherwise, you can leverage the ASSET-V1 cloudlet to send commands directly to the asset (please have a look here: https://github.com/eclipse/kura/wiki/ASSET-V1-MQTT-Namespace).

Best regards,
Matteo

[2017-05-25 14:37] cdealti commented on #727
The web site now allows to download older releases.

[2017-05-25 14:37] #727 closed

[2017-05-25 14:39] cdealti commented on #715
@ctron @dwoodard1 @MMaiero I'd like to start this discussion.

[2017-05-25 14:53] cdealti commented on #226
Wiki page created [here](https://github.com/eclipse/kura/wiki/Kura-Semantic-Versioning)

[2017-05-25 14:53] #226 closed

[2017-05-25 16:45] dwoodard1 commented on #715
So, what is the point of having a hosted P2 repository? As I see it, there are two use cases to consider.

1. Developer using Kura. For this user, they are likely to either use a plain Maven build or the Kura user workspace. For the former, there are a few public examples of how to do this. We do need to publish Kura artifacts to Maven Central to make this easier, but the Eclipse Nexus repo also w

[2017-05-25 17:42] cdealti commented on #715
@dwoodard1

It's not a valid p2 repo/site. It does not contain p2 metadata. And the user workspace is not installed through any standard Eclipse install method (Oomph installer or from the IDE Help | Install New Software"). Also does not provide any Maven/CI capability.
The hosted p2 repo would allow to install the user workspace through standard Eclipse methods.
@ctron has already started this wo

[2017-05-25 18:58] dwoodard1 commented on #715
Tried editing my comment, but didn't seem to work.

I understand the limitations of what we currently do. I think the real question is do we want to commit fully to a Tycho/PDE environment (features, etc) or use a more traditional Maven based build. There are certainly advantages/disadvantages to both.

[2017-05-26 06:53] cdealti commented on #408
Closing as this is the default behavior of Kura 3.0.0.

[2017-05-26 06:53] #408 closed

[2017-05-26 07:11] #493 closed

[2017-05-26 07:14] cdealti commented on #752
This will be addressed as part of the switch to the H2 Database.

[2017-05-26 07:16] cdealti commented on #751
This will be addressed as part of the switch to the H2 Database.

[2017-05-26 07:21] cdealti commented on #993
@amitjoy can you confirm #1349 works form you?

[2017-05-26 08:19] cdealti commented on #1014
@ctron duplicate of #1321?

[2017-05-26 08:24] cdealti commented on #253
@nicolatimeus can you please find all occurrences of these unbalanced calls and provide a list of the unbalanced calls for estimating the effort?

[2017-05-26 08:31] cdealti commented on #773
Closing this as it's a duplicate of #823.

[2017-05-26 08:31] #773 closed

[2017-05-26 08:56] nicolatimeus commented on #1325
I will add a commit fixing this to #1387

[2017-05-26 09:52] cdealti commented on #823
@dwoodard1: This is a total mess. Background:

The only need for all this is the auto-configuration of the MQTT client ID from the MAC address of the primary network interface whose name is different on the Mac, Windows and Linux. On Linux this is further complicated by the [Consistent Network Device Naming](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Networking_G

[2017-05-26 09:58] cdealti commented on #1201
@ibinshtok can you asses the effort needed to fix this?

[2017-05-26 10:03] cdealti commented on #348
@kartben I know this is old but do you remember the steps to recreate this? @ibinshtok is this a known issue or has it been already fixed?

[2017-05-26 10:30] cdealti commented on #456
In a freshly imported Kura 3.0.0 user workspace there are two Linux launch configurations and two OSX launch configurations. Is this OK?

![screenshot from 2017-05-26 12 29 01](https://cloud.githubusercontent.com/assets/1225835/26491258/2302b40a-420f-11e7-82ef-6ac04dd0142d.png)

[2017-05-26 10:33] cdealti commented on #632
Closing as duplicate of #823.

[2017-05-26 10:33] #632 closed

[2017-05-26 10:35] cdealti commented on #646
See also #823.

[2017-05-26 10:36] MMaiero commented on #1394
Hi,
I've just built Kura using build-all.sh both on develop and release-3.0.0 branch on a vanilla CentOS 7 system with Maven 3.3.9 without any issue.
I've also tried a build with maven 3.5.0 and again without issues.
Unfortunately, I could not build with the same Java version you have.

Following, the result of `mvn -version`
`Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-1

[2017-05-26 10:41] cdealti commented on #673
@dwoodard1 how would a user configure the newly created CloudService without the Kura Web UI?

[2017-05-26 10:45] ctron commented on #1338
I think the were scheduled to be moved to some extra repository. What is the status on this one?

[2017-05-26 12:02] cdealti commented on #819
I believe this has been fixed by converting web2 to a manifest-fist project.
See #872.

[2017-05-26 12:02] #819 closed

[2017-05-26 12:09] cdealti commented on #975
@tomislavi do you have feedback on this?

[2017-05-26 12:13] cdealti commented on #981
Closed by #1064.

[2017-05-26 12:13] #981 closed, assigned to nobody

[2017-05-26 12:19] cdealti commented on #997
@samrah1031 unfortunately Windows is not a supported development platform. However, @markoer uses Windows and may be able to confirm your issue.

[2017-05-26 12:27] cdealti commented on #1204
I don't believe we should make this binaries available until we cannot build the Kura port for Windows on Hudson and this does not seem possible for various legal issues. I would also add that we are considering removing the Windows-specific code from Kura and making it available in Everyware Software Framework (commercial license)

[2017-05-26 12:27] #1204 closed, assigned to nobody

[2017-05-26 12:32] cdealti commented on #1096
Manually merged. See #92f7ea9

[2017-05-26 12:32] #1096 closed, assigned to nobody

[2017-05-26 12:36] cdealti commented on #1252
PR is welcome ;-)

[2017-05-26 12:37] cdealti commented on #1253
@markoer any idea about this?

[2017-05-26 12:47] cdealti commented on #1263
The proper way of importing the user workspace is via ``File | Import | General | Existing Projects into Workspace`` and then ``Select archive file``.

[2017-05-26 12:48] markoer commented on #1253
Well, I have to agree with @amitjoy that when implementation is updated, tests should be, too. We currently don't have problems with this (test) module, because it's commented out.

[2017-05-26 13:02] cdealti opened #1396 "[Beaglebone Black] Log4j log level set to DEBUG"
Change to INFO.

[2017-05-26 13:22] cdealti opened #1397 "[Distrib] Add CI/SCM data to Kura"
CI build number and SCM commit ID could be added to Kura and visible from the Kura Web UI.
The CI build number is not a unique ID. It is reset to 0 if the build is made through a new Hudson/Jenkins build job...

[2017-05-26 13:33] dwoodard1 commented on #673
The same way you would configure the default CloudService without a web UI. Either through uploading a snapshot or performing a remote configuration.

I think the main point is that we don't want to make the UI a requirement for using Kura (other than Kura Wires obviously). This may be another argument for a Kura REST add-on.

[2017-05-26 13:40] cdealti opened #1398 "[CI Build] Review/fix kura-release job on Hudson"
Deploying artifacts to Nexus must be reviewed to have a build step **only** deploying the artifacts at the end of the release QA. See [1].

In the meantime we should understand why the deploying to Nexus failed in Kura 3.0.0.

See [build 49](https://hudson.eclipse.org/kura/job/kura-release/49/)

It looks like Maven tries to upload an artifacts twice (why?) to Nexus and this cause the build to fail

[2017-05-26 13:42] markoer commented on #997
@samrah1031: I can confirm it won't build with these settings on Windows - neither in cmd nor Cygwin. Note that 4 slashes work well in Linux while 3 may not. So you can update `manifest_pom.xml` and `features/pom.xml` and replace all `////` with `///`. You will get a bit farther, but likely not by much.

I would recommend to run the maven-related builds on Linux while you can still use IDE on Wind

[2017-05-26 13:47] cdealti opened #1399 "[Build] features and bundles artifact ID collision"
This happens if you try to import all the Maven projects manually in an Eclipse workspace.
The org.eclipse.kura.api feature "overrides" the org.eclipse.kura.bundle" and you will have ``unresolved blah blah`` errors.

[2017-05-26 14:45] cdealti opened #1400 "[Releng] Automate publishing the Kura Javadoc"

[2017-05-26 15:58] MMaiero commented on #1393
@marentwickler Any update?

[2017-05-26 18:26] marentwickler commented on #1393
@MMaiero hi,
today I solved the problem, my new  configuration is so:

on kura cloud configuration:
-lwt.topic is empty file
-lwt.retain=false
-topic.control-prefix=$aws

 On Example Publisher Modul
-cloud.service.pid=org.eclipse.kura.cloud.CloudService-AWS
-app.id=EXAMPLE_PUBLISHER
-publish.retain=false
-publish.appTopic=data/metrics

on AWS platform
-Subscribe to a topic= IoT account-name(accoun

[2017-05-26 21:18] ibinshtok commented on #348
@cdealti no, as far as I know this has never been addressed.

[2017-05-27 07:58] #1393 closed, assigned to MMaiero

[2017-05-27 08:00] MMaiero commented on #1393
Thanks for the update.
In your opinion, do we need to change something in the documentation? Is there something unclear that we need to change?

For now, I will close the issue.

[2017-05-27 10:43] marentwickler commented on #1393
@MMaiero Hi ,
yes,The documentation is very good, but is not complete, because  the other platforms changes also, and there are many use cases,It will be easier for beginners, if the question 'why' will be answerd .That's great Effort from you and from your team.Thanks so much.
and i am on kura for next issue and next difficulty :-).

[2017-05-29 07:04] MMaiero commented on #1394
@austindsouza Any update?

[2017-05-29 07:59] nicolatimeus commented on #253
The table below reports the the invocations to `BundleContext.getService()`.

| Call Location | Released on all normal control paths | Always released on exception |
|----------|-----------------------------|---------------------|
|[ShellScriptResourceProcessorImpl.java:72](https://github.com/eclipse/kura/blob/1a3cf8e326a22250ec87ca31cf38f65d9c229d84/kura/org.eclipse.kura.deployment.customizer/src

[2017-05-29 10:01] MMaiero commented on #1391
Merged PR #1392. Closing then.

[2017-05-29 10:03] #1391 closed, assigned to nicolatimeus

[2017-05-29 10:25] MMaiero commented on #1378
Closing as PR #1380 has been merged. @markoer Ok for you?

[2017-05-29 10:25] #1378 closed, assigned to nobody

[2017-05-29 10:27] MMaiero commented on #1384
Closing as #1385 was merged

[2017-05-29 10:27] #1384 closed, assigned to nicolatimeus

[2017-05-29 10:28] MMaiero commented on #1383
Closing as #1385 was merged

[2017-05-29 10:28] #1383 closed, assigned to nicolatimeus

[2017-05-29 10:29] MMaiero commented on #1395
@kcsj17 any updates?

[2017-05-29 11:19] markoer commented on #1378
OK

[2017-05-29 13:12] kcsj17 commented on #1395
To be honest, I dont quite understand as yet how to use the Subscriber block to receive write messages to a specific channel. Specifically, 1) the format the mqtt message has to take. 2) the necessary configuration of the subscriber block.

[2017-05-29 14:22] cdealti opened #1404 "Remove dead code from network bundles"
@ibinshtok please coordinate with @markoer before doing this?
Let me know if you think this can be scheduled for the 3.1 milestone.

[2017-05-29 14:27] cdealti opened #1405 "Fix trivial Sonar Lint problems in the network bundles"
@ibinshtok we could try to fix some of the most trivial Sonar Lint problems in the network bundles.
Before fixing the others (e.g. cyclomatic complexity) it would be good to have some code coverage by @markoer to avoid regressions.
Please let me know if we can schedule this for the next 3.1 milestone.

[2017-05-29 14:40] cdealti commented on #1338
the status is that they will not be moved until we have decided how to build them:

1. Manifest-first (Tycho/PDE)
2. POM-first (maven-bundle-plugin)

how to include them in the user workspace zip archive (if this still makes sense).
As all the examples are still in eclipse/kura I'd prefer if they all built the same.

[2017-05-29 14:40] MMaiero commented on #1369
@ibinshtok I've opened #1406 to try to solve this issue. Could you please give it a look?

[2017-05-29 14:42] cdealti commented on #348
@ibinshtok is it clear what @kartben describes?

[2017-05-29 15:00] kartben commented on #348
Let me reformulate, with what I remember:
An *existing* wpa_supplicant.conf file may *not* have the "key_mgmt" entry set, as it is not supposed to be mandatory, and yet have a "psk" set to do WPA PSK / WPA EAP auth. Kura always adds it to the file when changes are made to it, but a "vanilla" Pi or Samsung ARTIK may not have the entry set.

An easy way to reproduce should be to just remove the key_

[2017-05-29 15:47] MMaiero opened #1407 "Karaf dependency versions should match kura.build.properties values"
In order to keep consistency between the distrib of Kura and the Karaf build, the versions in Karaf features poms must match the ones specified in kura.build.properties and kura.target-platform.build.properties

[2017-05-29 16:07] nicolatimeus commented on #1250
@IanSkerrett I've tried to find some documentation describing the Marketplace REST APIs regarding sending back the successful install count, but I wasn't able to find anything on this topic.
Can you please provide some more information about this?

[2017-05-29 17:13] IanSkerrett commented on #1250
Chris can you please help with this request.

On 5/29/2017 12:07 PM, nicolatimeus wrote:

[2017-05-30 06:09] ibinshtok commented on #348
@cdealti I will try to recreate this tomorrow and let you know.

[2017-05-30 06:10] ibinshtok commented on #1369
@MMaiero I'll look at this. Thank you!

[2017-05-30 06:55] cdealti commented on #1326
The ESF Modbus Driver - Community Edition has been published to the Eclipse Marketplace. @amitjoy can you remove yours?

[2017-05-30 07:06] cdealti commented on #1407
There was an issue opened by @ctron stating that Maven will not be able to resolve locally compiled -SNAPSHOT dependencies (if any in kura.build.properties and kura.target-platform.build.properties). But it seems I cannot find this issue.

[2017-05-30 07:07] amitjoy commented on #1326
Will do. 👍

[2017-05-30 07:48] #1326 closed, assigned to nobody

[2017-05-30 08:02] cdealti opened #1409 "New Bluetooth Low Energy API"
The current ``org.eclipse.kura.bluetooth`` will be deprecated in favor of a new BLE-only API inspired from the TinyB one.

[2017-05-30 08:05] cdealti opened #1410 "CQ for TinyB"
See https://github.com/intel-iot-devkit/tinyb

[2017-05-30 08:07] cdealti opened #1411 "GATT Implementation of the new Bluetooth Low Energy API"
The GATT implementation will use TinyB.

[2017-05-30 08:12] cdealti opened #1412 "Beacon/advertisement implementation of the new BLE API"
This implementation for Linux will continue using the ``hcidump`` and ``hciconfig`` command line utilities as the capabilities of advertising or scanning beacons is not supported by TinyB.
This approach is definitely not ideal because of the need of parsing the standard output of  the above utilities.

[2017-05-30 08:15] cdealti opened #1413 "Implementation of a SensorTag Kura Driver"
This Driver will be implemented using the new BLE API.

[2017-05-30 08:17] cdealti commented on #1164
@pierantoniomerlino what are the system requirements of TinyB?

* Bluez version?
* Glib version?

[2017-05-30 08:47] cdealti opened #1414 "SCR exception running Kura Wires in Karaf"
An attempt to use Kura Wires in Karaf result in the following SCR exception:

[code]

[2017-05-30 08:56] cdealti opened #1415 "Karaf tuning"
* Karaf persistence options (full persistence, Karaf persistence + OSGi clean, no persistence). Boot time and reliability on Karaf restart, OS reboot, power-cycling
* JVM (OpenJDK vs Oracle JRE) on x86_64/arm
* JVM Xmx, Xms
* logging (analogous to kura.log)
* logging of the JVM stdout stderr (analogous to kura-console.log)
* Long running test monitoring resources

[2017-05-30 09:10] cdealti opened #1416 "Limit the rate of messages published by the DataService"
The idea is to manage the rate and burst of messages published by the DataService implementation using the Token Bucket algorithm.

The DataService implements offline buffering of messages published by applications.
When the MQTT connection is re-established the buffered messages are published to the broker as fast as possible. However cloud platforms may disconnect the client if the publish rate

[2017-05-30 09:51] cdealti opened #1417 "Implement DataService connection monitor as a CriticalComponent"
The DataService is responsible to keep the gateway connected to the cloud platform, re-connecting if the connection is lost.

The DataService is either in the **connecting** or **connected** state and there are several reasons why the connection cannot be established:

1. The MQTT connection is refused by the broker
2. The TCP connection cannot be established due to network problems (link, transpo

[2017-05-30 10:43] cdealti opened #1418 "Notify the reboot cause to the cloud platform"
The original requirement is to send an Alert message to the cloud platform on the occurrence of a system reboot/reset caused by the Watchdog service.
There are some aspects to consider:

1. The WatchdogService implementation must be independent from other services. So it cannot directly  publish an alert.
2. The WatchdogService always tries to cleanly reboot (as opposed to reset) the system. When

[2017-05-30 10:54] cdealti opened #1419 "Scheduled reboot service"
Embedded systems are unattended and need to implement self-healing strategies.
In some applications it could be wise to reboot the system if it's known it's not used, for example at night.

This helps preventing big uptimes or waiting until resources are exhausted.

The scheduled reboot service allows to enter a Cron expression to schedule the system reboot.

[2017-05-30 12:15] #1396 closed, assigned to MMaiero

[2017-05-30 13:46] cdealti opened #1420 "Promote Assets and Drivers like Cloud Services in the Web UI"
This is an initial discussion on how to manage Driver and Asset instances from the Web UI.

1. Configurations of Drivers and Assets will be moved from the generic **Services** section of the Web UI to and dedicated **Drivers and Assets** section similarly to what we did with **Cloud Services**.
2. In theory, Drivers and Assets can be used without Kura Wires so it should be desirable if they could

[2017-05-30 14:40] ibinshtok commented on #1405
@cdealti yes, we can

[2017-05-30 16:11] cdealti commented on #418
Anyone having strong opinions on how this should be addressed?
I'd like to come up at least with a plan for the next milestone.
As far as I can see we use this to prevent a periodic thread or task from being killed if an unchecked exception is thrown.
The WatchdogService/CriticalComponent could be a possible approach

[2017-05-30 16:59] dwoodard1 commented on #1250
@IanSkerrett I'm not sure Chris will get your message. Do you know his Github ID?

[2017-05-30 17:00] cdealti opened #1421 "Replace HSQLDB with H2"
Using H2 would allow an external application to share the Kura DB enabling new interprocess communication scenarios and integration with external processes (maybe some Python library for edge analytics).

In some scenarios it would be useful to have more that one database, for example an in memory database frequently updated and another one providing some guarantees that rare updates are persisted

[2017-05-30 17:03] cdealti commented on #1250
@dwoodard1 I believe @nicolatimeus succeeded updating the counters via REST by looking at the Oomph implementation. However I believe it would be good if this info would be publicly available.

[2017-05-30 17:32] IanSkerrett commented on #1250
Sorry I don't know his github id.

On 5/30/2017 12:59 PM, dwoodard1 wrote:

[2017-05-30 17:36] kartben commented on #1250
adding @chrisguindon to the thread :-)

[2017-05-31 07:29] nicolatimeus commented on #1250
I was able to find some code that reports a successful installation feedback in [this](https://github.com/eclipse/epp.mpc/blob/792fe72194e147eb9abb8c2e047bcc9b3a1c9753/org.eclipse.epp.mpc.core/src/org/eclipse/epp/internal/mpc/core/service/DefaultMarketplaceService.java#L810) part of the Eclipse Marketplace Client source code.
Can I use the same REST call also for Kura? If yes do I need to supply a

[2017-05-31 10:03] austindsouza commented on #1394
Hi @MMaiero ,

I was on vacation so I could not be able to try your suggestion.

Today I tried to build it in another system, which built successfully without any issues.
I think the problem was with my system installation.

Thanks

[2017-05-31 11:59] #1394 closed, assigned to MMaiero

[2017-05-31 13:45] chrisguindon commented on #1250
I am concerned about how we flag a successful install on marketplace. With this said, I created Bug 517546 - Protect successful install endpoint on marketplace to discuss this (https://bugs.eclipse.org/bugs/show_bug.cgi?id=517546).

This bug is currently flagged as a security bug. @kartben, can you add @cdealti and @nicolatimeus to the cc list of this bug to allow them to read it?

[2017-06-01 11:43] cdealti opened #1424 "DataService (and CloudService/CloudClient) contract with apps"
When the gateway connects to the MQTT broker with **clean session**=true (which is the only supported mode by AWS) the DataService will behave as follows:

* QoS=0 messages are buffered by the DataService and published once the connection is established.
The DataService will pass messages **only once** to the MQTT library so it will not cause duplicates.
* QoS=1 messages are buffered by the DataSe

[2017-06-02 06:18] austindsouza opened #1426 "Kura: Camel-Ignite Could not resolve module Exception"
Hi,

I am trying to to create a "camel route" that listens to mqtt data and publishes to a Ignite-cache within kura context, using the below code snippet.

public void configure() throws Exception {

            	from("mqtt:bar?subscribeTopicName=test&host=tcp://localhost:1883")
				.process(new Processor() {
					public void process(Exchange exchange)throws Exception {
						exchange.getIn().setH

[2017-06-02 07:25] ctron commented on #1426
Do you have something to reproduce this?

[2017-06-02 07:33] austindsouza commented on #1426
In Kura Emulator try to install the following jar's 1) ignite-core-2.0.0.jar  2) cache-api-1.0.0.jar

install file:///home/user/Downloads/cache-api-1.0.0.jar
install file:///home/user/Downloads/ignite-core-2.0.0.jar

[2017-06-02 08:23] ctron commented on #1426
From which locations did you get those two files?

[2017-06-02 08:42] austindsouza commented on #1426
http://central.maven.org/maven2/org/apache/ignite/ignite-core/2.0.0/ignite-core-2.0.0.jar
http://central.maven.org/maven2/javax/cache/cache-api/1.0.0/cache-api-1.0.0.jar

[2017-06-02 09:05] ctron commented on #1426
Ok, I will try to reproduce this.

[2017-06-02 09:11] ctron commented on #1426
So looking at those two bundles I think the result is correct:

[code]

The bundle `cache-api` does not export `javax.cache.configuration`.

You can reproduce this by:

[code]

So it looks like you are missing some other bundle.

[2017-06-02 11:55] ctron opened #1427 "Missing CQs for native code binaries"
Kura seems to distribute the following artifacts for which I could not locate license information or CQs:

https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/resources/intel-edison/bind.init
https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/resources/intel-edison/dos2unix.bin
https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/resources/intel-edison/

[2017-06-02 12:13] austindsouza commented on #1426
With your tips and comments, was able to get quite a but further, by adding the required packages in  cache-api-1.0.0.jar MANIFEST file's  Export-Package like this

javax.cache.configuration,javax.cache.expiry,javax.cache.integration,javax.cache.management,javax.c
 ache.processor

then I could able to install  ignite-core-2.0.0.jar and cache-api-1.0.0.jar

Now I'm getting another issue while insta

[2017-06-02 12:59] feclare opened #1429 "Support arm 64 bits platform"
We added a new target _octeontx_ which is a 64 bits arm board developed by cavium.

We added the needed native libraries to run a default kura compilation on the board. If any other lib need to compiled for aarch64 we could do it.

[2017-06-02 13:04] ctron commented on #1426
True: You seem to be using "ignite-2.0.0", however camel-ignite seems to be expecting 1.5.0 (inclusive) to 2.0.0 (exclusive). So 2.0.0 is out of range.

[2017-06-03 08:58] austindsouza commented on #1426
Hi,

I am trying to add Camel-Ignite context to Kura, my implementation is like this

private CamelRunner createCamelRunner(final String fullFilter) throws Exception {
        final BundleContext ctx = FrameworkUtil.getBundle(GatewayRouterJava.class).getBundleContext();

        this.cloudServiceFilter = fullFilter;

        // create a new camel CamelRunner.Builder

        final Builder builder

[2017-06-03 13:03] austindsouza commented on #1426
Thank you @ctron .

I've changed the ignite-version in camel-ignite component's pom.xml file now its working.

[2017-06-03 13:30] ctron commented on #1426
Cool. Let me know if you need any additional help!

[2017-06-03 13:30] #1426 closed, assigned to nobody

[2017-06-03 14:32] dwoodard1 commented on #1427
@ctron I will create a PR removing these files. We don't support the "networking" version of the Intel Edison. This is likely legacy stuff that was never cleaned up.

[2017-06-03 14:41] dwoodard1 commented on #1427
@cdealti We don't currently distribute the "networking" version of the Intel Edison installer. Should we remove this profile entirely?

[2017-06-05 08:50] MMaiero commented on #1196
Closing as #1367 is now merged.

[2017-06-05 08:50] #1196 closed, assigned to MMaiero

[2017-06-05 12:09] cdealti commented on #1427
I agree on removing the profile and the files.

[2017-06-05 12:24] feclare commented on #1429
Created new pull request  #1431 with a missing change in previous pull request #1430

[2017-06-05 13:48] dwoodard1 commented on #1427
Created PR #1432

[2017-06-06 07:10] ctron commented on #1427
Removing the profile from the current git repository state may not be enough. Please check with EMO if you need to remove the files from the Git history and the downloadable artifacts from download.eclipse.org.

[2017-06-06 14:52] aabramo opened #1435 "Snapshot problem on wires"
If for some reason (i.e. a change of a package name of a wire component already present in a snapshot) the web browser cannot reload the snapshot, a GWT exception is generated.
In such a case, a previuos consistent snapshot should be reloaded instead, possibily up to snapshot_0.

[2017-06-07 20:42] dwoodard1 commented on #1435
I can confirm this is an issue. For me, steps to re-create the problem are:

1. Create a Wire component and give it a name
2. Since the name can't be edited, delete the component
3. Add a new component of the same type with the corrected name

The Wire graph will behave as expected, but the graph cannot be displayed in the UI (GWT Error).

[2017-06-08 09:30] markoer commented on #948
I tried it with Kura 3.0.0 (as well as before) and didn't experience this problem.

[2017-06-08 09:47] MMaiero commented on #948
@ctron Could you please check if this issue is still there for you? Otherwise, I think we can close.

[2017-06-09 07:40] cdealti commented on #1250
@nicolatimeus do you have a PR ready for this?

[2017-06-09 07:48] cdealti commented on #1207
@dwoodard1 can you please take a look to the legal aspects of repackaging Moka7 in the Kura target-platform?

[2017-06-09 07:56] cdealti commented on #1415
@MMaiero can we provide some visibility to the results in a WiKi page? It does not matter if we used a commercial gateway (comparable with the Beagle Bone Black).

[2017-06-09 07:58] cdealti commented on #1414
@MMaiero should we move this to Backlog?

[2017-06-09 09:38] cdealti opened #1442 "Add TinyB host and fragment bundles in target-platform"
TinyB must be split in a an host and several fragment bundles for the supported architectures.

[2017-06-09 09:44] cdealti commented on #1164
@pierantoniomerlino can you please add the steps needed to run this on the Raspberry Pi (e.g. compile the minimum required version of BlueZ)?

[2017-06-09 09:48] cdealti commented on #1421
@nicolatimeus can you please explain the migration path to H2? I understand we plan to support HSQLDB for a while.

[2017-06-09 09:58] cdealti commented on #137
@dwoodard1 I believe we should remove the People Counter and Modbus from this list as they are not add-ons of this project. ESF can publish _Community Edition_ versions in the Marketplace but this should not be tracked in a Kura issue.

Same for the Shoot-A-Pi-tutorial. The code is not here and I think it's not longer maintained.

Then this issue can be closed

[2017-06-09 10:19] cdealti commented on #558
@ctron I'd really like to close some issues. I have to re-read them at every pass.
I believe we cannot fix this as it is manged by the Deployment Admin/OSGi

[2017-06-09 10:22] cdealti commented on #99
Moved this to the In Progress pipeline as @ctron has started working on this and we have started looking at his work.

[2017-06-09 10:24] cdealti commented on #108
I'll start with ``@deprecated``

[2017-06-09 10:34] cdealti commented on #140
@ctron @dwoodard1 @MMaiero
Let's start with making ``examples/`` a **standalone** project (without a parent pom) and let's try to build it against the p2 repo created by the ``org.eclipse.kura-p2`` project via the Tycho ``target-platform-configuration`` plugin.

Then, once we have proper p2 sites for Kura and it's target platform, we can consider moving examples to its own repo.

Note: the example

[2017-06-09 14:22] cdealti commented on #307
Duplicate or follow-up of #108.

[2017-06-09 14:22] #307 closed

[2017-06-09 14:43] dwoodard1 commented on #140
+1 Do you want to assign this to me since I have already been looking into this? Just to make sure we aren't duplicating work.

[2017-06-09 14:45] dwoodard1 commented on #137
+1 Updated

[2017-06-09 14:49] nicolatimeus commented on #1421
The switch from HSQL to H2 is a breaking change, this is caused by the fact that the SQL grammar used by the two database engines is slightly different. For this reason existing applications that are using the db directly might no longer work after the update.

This will be addressed performing the migration in two phases:

1.  The next minor Kura releases will introduce H2 and preserve backwards

[2017-06-09 14:55] dwoodard1 commented on #1427
@ctron I have removed the downloads from the Eclipse server and the profile/files have been removed from the repo. Are we good to close?

[2017-06-09 15:09] MMaiero commented on #140
@dwoodard1 I've started implementing that in #1439. Maybe we can take it as a starting point, if it is ok for you.

[2017-06-09 15:21] ctron commented on #1427
Do you have any response from EMO regarding the repository?

[2017-06-09 15:22] dwoodard1 commented on #140
@MMaiero Sounds good. One question, how are we going to handle the develop branch of the examples? Are we going to push the develop/snapshot P2 repo to a public server?

[2017-06-12 06:53] #137 closed

[2017-06-12 07:53] MMaiero commented on #1435
@dwoodard1 Which component did you use? Any save in the middle of the steps? I've tried with a nightly from develop both using a timer and an asset, but I was not able to recreate the issue.

[2017-06-12 08:35] MMaiero commented on #1435
I've created #1445 that could mitigate the issue.

[2017-06-12 09:44] cdealti commented on #1398
@dwoodard1 @MMaiero @markoer Moving this discussion to the backlog...
Deploying the release artifacts to Eclipse Nexus has always been so painful...

1. No _dry run_ option provided by the _maven-deploy-plugin_. Managing tenths of individual bundles versions in Kura is error prone. It's possible that we forget to update one version and the deploy will fail  too late. See whether we can use _exists

[2017-06-12 10:06] cdealti opened #1447 "New BLE beacon/advertisement API"
* Receive raw advertisement packets
* Broadcast raw advertisement packets
* Utilities to encode/decode popular beacon formats. We will initially provide the iBeacon encoder/decoder. Note that is not an OSGi service.

[2017-06-12 10:34] cdealti opened #1448 "Net admin tests failing on Travis CI"
@markoer tests are currently failing on Travis CI. Can you please take a look?

[2017-06-12 12:50] cdealti commented on #140
This is really a good question.

I believe we all agree that it should be possible to build the examples locally without having the Kura p2 site(s) hosted somewhere. This is a must for the Kura developer who needs to test locally first.

For CI (Hudson/Jenkins/Travis) I believe we need to be able to configure the _examples_ build against:
1. A specific release of Kura, for example the last
2. The

[2017-06-12 15:46] dwoodard1 commented on #1435
@MMaiero This happened to me with the Modbus Driver asset. I will try and re-create then test your fix.

[2017-06-12 21:13] cdealti commented on #1448
should be fixed by #1449

[2017-06-13 07:41] markoer commented on #1448
Should be OK after #1441 builds again.

[2017-06-13 11:48] markoer opened #1451 "PppAuthSecrets entry removal"
`org.eclipse.kura.net.admin.visitor.linux.util.PppAuthSecrets.removeEntry(String type, String value)` skips an entry each time it deletes one. Therefore it doesn't remove all matching entries, unless they don't follow each other.

Kura 3.1.0-SNAPSHOT, develop branch

[2017-06-13 13:35] cdealti opened #1453 "Remove unused lib directory from org.eclipse.kura.linux.usb"
The jars and the native library should not be longer needed

[2017-06-14 09:52] pierantoniomerlino commented on #1164
The requirements for tinyb are:
- glib-2.0>=2.40
- gio-2.0>=2.40
- gio-unix-2.0>=2.40
- Bluez-5.43 (see [1] for more info; successfully tested also with 5.41)

[1] https://github.com/intel-iot-devkit/tinyb/issues/58

[2017-06-14 09:53] pierantoniomerlino commented on #1164
Installation guide for tinyB on a RaspberryPi3

1. Update
sudo apt-get update

2. Install Oracle JDK:
sudo apt-get install oracle-java8-jdk

3. Install missing packages
sudo apt-get install libusb-dev libdbus-1-dev libglib2.0-dev libudev-dev libical-dev libreadline-dev libglib2.0 doxygen cmake git

4. Update Bluez to 5.43
	1. Download bluez-5.43.tar.xz
	2. tar -xf bluez-5.43.tar.xz
	3. cd bluez-5.

[2017-06-14 10:12] cdealti opened #1455 "Wiki page documenting H2 use cases"
* Configuration options
  * In memory vs file
  * Multiple database instances
  * TCP server
  * DB credentials
* Limitations
* Connecting to the DB from the H2 UI (for example to test SQL queries that will be used in a DB Filter Wire component).
* Minimal Python example connecting to the TCP server and making a simple query.

[2017-06-15 14:19] nicolatimeus commented on #752
The db repair addresses an HSQL-specific issue so hopefully it is no longer needed after the switch to H2.
The code that performs the repair is still present in the H2 implementation but is disabled by default. It can be re-enabled setting `db.store.repair.enabled=true` in kura.properties.

[2017-06-15 14:25] nicolatimeus commented on #751
In the H2 implementation checkpoint is performed per-database instance instead of per-table.

[2017-06-15 14:55] dwoodard1 commented on #1427
@ctron EMO approved the actions we have taken as sufficient. No need to purge the repo history. Can we close?

[2017-06-16 09:06] cdealti commented on #637
Due to all these legal aspects and the lack of interest on the Windows port I propose to close this issue and remove from Kura all the Windows specific code.
@dwoodard1 @malikm @markcullen what do you think?

[2017-06-16 09:07] cdealti commented on #537
Due to all these legal aspects and the lack of interest on the Windows port I propose to close this issue and remove from Kura all the Windows specific code.
@dwoodard1 @malikm @markcullen what do you think?

[2017-06-16 09:07] cdealti commented on #502
Due to all these legal aspects and the lack of interest on the Windows port I propose to close this issue and remove from Kura all the Windows specific code.
@dwoodard1 @malikm @markcullen what do you think?

[2017-06-16 10:31] cdealti commented on #253
There's some duplication in [1] and [2].

@ctron @amitjoy wouldn't be better to collapse everything in the org.eclipse.kura.util bundle?

[1] https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.util/src/main/java/org/eclipse/kura/util/service/ServiceUtil.java
[2] https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.web2/src/main/java/org/eclipse/kura/web/server/util/Se

[2017-06-16 12:07] amitjoy commented on #253
@cdealti I second that 👍

[2017-06-16 12:46] ctron commented on #253
Sure, go ahead.

[2017-06-16 13:02] cdealti commented on #253
@amitjoy are you willing to do that ;-)?

[2017-06-16 14:53] amitjoy commented on #253
Just had a quick look on the findings and I agree that in OSGi, the low-level methods can easily be misused by any developer and that's why we had a long discussion in #797. To cope up with the requirement of providing an easy to use helper class, I have designed an utility class in #1303. If it gets merged, we can refactor the aforementioned classes accordingly. I would be happy to do that.

[2017-06-16 15:44] cdealti commented on #1250
@chrisguindon we have #1446 ready to be merged. Should we wait until you make a decision on the above bug?

[2017-06-16 16:15] chrisguindon commented on #1250
@cdealti I think you can move ahead with your patch. After a bit of discussion on the bug, I do not expect any changes that would break this api since this would have a negative impact on previous version on the Eclipse IDE.

@IanSkerrett what do you think?

[2017-06-19 09:02] #1448 closed, assigned to nobody

[2017-06-19 09:32] markcullen commented on #502
Hi Cristiano

Have you discussed this with Marco ?

While I realise that we have not been able to make much progress with this I don’t think we should abandon the project.

Cheers

Mark

From: Cristiano De Alti [mailto:notifications@github.com]
Sent: 16 June 2017 10:07
To: eclipse/kura
Cc: Cullen, Mark; Mention
Subject: Re: [eclipse/kura] [Windows] Add documentation (#502)

Due to all these legal

[2017-06-20 06:43] #1250 closed, assigned to nicolatimeus

[2017-06-20 08:17] cdealti commented on #1435
@aabramo can you please build the develop branch and check if #1445 makes any difference?

[2017-06-20 10:54] LucaDazi opened #1462 "Wire Components list has no scrollbar"
The Wire Components list in the Wire Graph has no vertical scrollbar.
When adding custom Wire Components to Kura, the configuration panel slides to the bottom of the Wire Components list, leaving an empty gap between the Graph and the configuration panel.

[2017-06-20 11:23] cdealti commented on #1462
It should be added to #1268.

[2017-06-21 15:21] cdealti opened #1465 "Travis-CI build timeouts"
* @MMaiero  Reduce the number of permutations in the _web2_ project via a system property (_.travis.yml_)
* @MMaiero Build only a single _distrib_ profile (_.travis.yml_)
* @markoer  optimize _tests/org.eclipse.kura.core.test_

[2017-06-22 08:56] ctron commented on #1465
I would suggest to investigate Travis build pipelines in order to work around this limitation.

[2017-06-22 19:48] cdealti commented on #1465
@ctron good idea

[2017-06-22 20:07] cdealti commented on #108
Closing as all the deprecated API will be removed at the same time

[2017-06-22 20:07] #108 closed

[2017-06-22 20:16] cdealti commented on #1455
Done

[2017-06-22 20:16] #1455 closed, assigned to nicolatimeus

[2017-06-22 20:18] cdealti commented on #1427
@ctron can we close?

[2017-06-22 20:30] ctron commented on #1427
Sorry. Yes you can. I saw the reply.

[2017-06-22 20:30] #1427 closed, assigned to dwoodard1

[2017-06-22 20:58] cdealti commented on #1328
The default WiFi password is _testKEYS_

[2017-06-22 20:58] #1328 closed, assigned to nobody

[2017-06-22 21:02] #1297 closed, assigned to nobody

[2017-06-22 21:05] #1263 closed, assigned to nobody

[2017-06-22 21:08] cdealti commented on #1243
Superseded by #1416

[2017-06-22 21:08] #1243 closed, assigned to pierantoniomerlino

[2017-06-22 21:10] #1163 closed, assigned to nobody

[2017-06-22 21:32] cdealti commented on #997
To be strict we should enforce the supported operating systems and fail the build immediately.

[2017-06-22 21:38] cdealti commented on #771
@MMaiero @nicolatimeus has this been fixed?

[2017-06-22 21:42] cdealti commented on #651
@pierantoniomerlino and there will be one more in tinyb

[2017-06-23 05:40] MMaiero commented on #771
No. It's a won't fix for now

[2017-06-23 07:28] MMaiero commented on #1395
The message received by the subscriber has to carry a metric with a name and a type that matches the channel name and type defined in the asset block.

[2017-06-23 09:38] MMaiero commented on #1465
https://docs.travis-ci.com/user/build-stages/

[2017-06-23 09:55] markoer commented on #1465
The problem is that documentation states the jobs don't share persistence:
https://docs.travis-ci.com/user/build-stages/#Data-persistence-between-stages-and-jobs

[2017-06-23 10:03] #1321 closed, assigned to ctron

[2017-06-23 10:03] #1014 closed, assigned to nobody

[2017-06-23 10:38] MMaiero commented on #993
I would close this for now. Eventually, we will reopen it, if the issue arises again.

[2017-06-23 10:38] #993 closed, assigned to nobody

[2017-06-23 10:40] MMaiero commented on #948
Closing for now. We can reopen it later if during next QA we will find that the issue is there.

[2017-06-23 10:40] #948 closed

[2017-06-23 10:42] MMaiero commented on #910
Closing for now. Let's, eventually, reopen it in the next QA round.

[2017-06-23 10:42] #910 closed

[2017-06-23 10:47] MMaiero commented on #171
@ibinshtok I think this is a very old issue. And, if I remember well, it should be closed, right?

[2017-06-23 12:44] nicolatimeus opened #1471 "[Wires] Deleting a Timer instance might stop all other Timers"
In the current implementation the `finalize()` method of the Timer component stops the Quartz scheduler instance shared across all Timers. If a Timer is garbage collected while other instances of this component are running they will stop ticking.
A possible solution could be keeping a static counter of the active timer instances and shutdown the scheduler when the last Timer instance is deactivate

[2017-06-25 20:13] #1288 closed, assigned to nobody

[2017-06-26 17:32] cdealti commented on #1471
@nicolatimeus or wrap Quartz in an lazy OSGi service that would be activated on the first Timer using it and deactivated when there are no more Timers.

[2017-06-26 17:40] amitjoy commented on #1471
A timer will not be garbage collected since the shared scheduler instance will be active in all the other timer references. If the Quartz instance could have been declared with soft or weak reference, it could have been collected by the GC but currently it is a strong reference.

I like the idea of wrapping quartz as an OSGi service that could be really helpful in managing dependencies amongst oth

[2017-06-26 17:47] cdealti opened #1474 "[QA] Add rate limit checks"
@markoer See #1416.

Add the following checks to the QA spreadsheet:

Scenario: slow publishing app is not affected by rate limit
* Configure device to connect to EC
* Make sure rate limit is enabled, average is 1 msg/s and burst size is 10 msg/s
* Install publisher application and configure it to publish 1 msg/s with QoS = 0
* In kura.log check the actual publish rate is 1 msg/s
* Check the actua

[2017-06-27 08:29] #1453 closed, assigned to MMaiero

[2017-06-27 09:40] cdealti commented on #1474
@MMaiero please add what you think is needed

[2017-06-27 09:47] #572 closed

[2017-06-27 09:48] cdealti opened #1475 "[Testing] Add H2DbService unit and integration tests"
@markoer please consider this task after #1457 is merged.

[2017-06-27 10:16] nicolatimeus commented on #1471
I've tried the approach of crating a lazy OSGi service that wraps the scheduler. It works but the scheduler service will never be deactivated by the framework even if there are no references to it, causing a resource leak.

This is caused by the fact that the Equinox DS implementation never deactivates lazy components by default (see [here](https://wiki.eclipse.org/Equinox/RuntimeOptions#System_pr

[2017-06-27 15:12] MMaiero commented on #1474
Scenario n.2:

- We must specify to use the example publisher, since it is the only example we have that goes so fast.
- I don't think we need to disconnect the device to reach the maximum number of messages in datastore, since we are creating 10 messages/s and pushing at 1 message/s.
- We must keep in mind that the cloud side should display based on server-side timestamp. For example, now in our

[2017-06-27 15:15] MMaiero commented on #1474
Scenario 1:
I'm not sure about this test: `Check the actual publish rate is not affected changing the rate limit average to 10 msg/s` since the messages are created at a rate of 1 per second and published at the same rate, changing to a bigger publishing rate should not have effect in any case, since there are no messages waiting to be pushed.

[2017-06-27 15:18] MMaiero commented on #1474
Scenario 3:
I believe that for Kura target devices unplugging the ethernet is a little bit problematic since, for example, the raspberry pi 2 has only one ethernet and no wifi.
Maybe a possibility is to change the eth0 config setting it from WAN to LAN in order to cause, more or less, the same effect.

[2017-06-27 15:20] MMaiero commented on #1474
On Scenario 3, maybe it could be done with the same effect disconnecting the cloud service, installing a publishing application and leaving it for some time, then connect the cloud service and see that all the lifecycle messages are published first and then that the data messages are published immediately for the first 10 and then the remaining at a rate of 1 message per second.

[2017-06-27 15:40] MMaiero opened #1476 "[Question] Should the WatchdogService be enabled by default?"
With the connection monitor feature integrated, it would be better to have the watchdog service enabled by default in order that, if the user wants to enable the connection monitor, it has not to remember to enable the watchdogService as well.

I believe that a possible way to prevent the WatchdogService from kicking in if it is enabled but no components are ticking, is to use the list of register

[2017-06-27 16:25] cdealti commented on #1362
@pierantoniomerlino [ASSET-V1 MQTT Namespace](http://eclipse.github.io/kura/dev/asset-v1.html) should go under [Kura Remote Device Management](http://eclipse.github.io/kura/ref/mqtt-namespace.html) or at least in the same section (definitely not under the Development section)

[2017-06-28 07:32] pierantoniomerlino commented on #1362
@cdealti Why did I put it under the Development section? Boh! Probably it was a copy-and-paste typo. I'm going to move it under the Reference section.

[2017-06-28 07:39] MMaiero commented on #1474
I would add the following tests to test the specificities of the new feature. Maybe we can merge these proposed ones with yours.

Scenario a (test with rate limiting disabled):
- Connect to the cloud platform;
- Disable rate limit;
- Disconnect from the cloud platform;
- Install the example publisher (it should default to 1 message per second);
- Let the example create few messages;
- Connect to t

[2017-06-28 12:40] MMaiero opened #1478 "[CQs] Build and test dependencies for Kura 3.1.0"
This is an issue for tracking all build and test dependencies for Kura 3.1.0

[2017-06-28 12:42] MMaiero commented on #1478
[code]
[code]

[2017-06-28 14:00] #1471 closed, assigned to nobody

[2017-06-29 07:41] MMaiero opened #1479 "Travis-CI: Investigate build-stages to prevent build timeouts"
https://docs.travis-ci.com/user/build-stages/

[2017-06-29 07:42] MMaiero commented on #1465
Closing as the basic points were merged with the 2 PR. Opened #1479 to investigate the possibility to have build-stages.

[2017-06-29 07:42] #1465 closed, assigned to nobody

[2017-06-29 07:43] MMaiero commented on #1435
@dwoodard1 Any update on this?

[2017-06-29 07:53] #1369 closed, assigned to MMaiero

[2017-06-29 07:57] MMaiero commented on #1376
Closing as #1387 was merged

[2017-06-29 07:57] #1376 closed, assigned to nicolatimeus

[2017-06-29 07:59] MMaiero commented on #1310
Can we close this?

[2017-06-29 11:53] nicolatimeus commented on #1420
Some UI mockups for the new Assets and Drivers section are available in the [Kura Wiki](https://github.com/eclipse/kura/wiki/Assets-and-Driver-Web-Ui-section-mockups)

[2017-06-29 14:10] ibinshtok commented on #171
@MMaiero I think we can close it even though it has not been fixed. The problem is that if the modem is turned off by somebody else how would Kura know that this is not a USB disconnect event?

[2017-06-29 14:11] MMaiero commented on #171
ok.
@cdealti Do you agree on closing?

[2017-06-29 14:42] MMaiero commented on #1479
https://docs.travis-ci.com/user/caching/

[2017-06-29 22:37] dwoodard1 commented on #1207
@cdealti I believe we answered all the questions for this, correct? Can we close?

[2017-06-30 06:45] cdealti commented on #1207
yes, this issue has been completed

[2017-06-30 06:45] #1207 closed, assigned to nicolatimeus

[2017-06-30 07:41] cdealti commented on #1420
I like 1 and 3 of the Driver and Asset mockups.

I've edited the description of this issue and added a new requirement (3).

I believe the changes to Wire Composer should also keep in mind #1268 (and #1462).

[2017-06-30 17:29] dwoodard1 commented on #1420
For Assets and Drivers, I think my vote would be for Proposal 1. However, if the expandable lists are too complicated to do in GWT, the tabs in Proposal 3 are also okay.

[2017-06-30 21:05] dwoodard1 commented on #1435
@MMaiero I believe the usability is better, but there is still an issue. Steps to reproduce (note - I am using the emulator and ModbusPal):

* Install the Modbus driver
* Create a simple Wire Graph consisting of a Timer and Asset. The Asset should use the Modbus driver. Name the Asset "ModbusAsset". Save the graph.
* Delete the Asset. Add a new Asset using the Modbus driver and name it "modbusAsse

[2017-07-03 09:03] #1421 closed, assigned to nicolatimeus

[2017-07-03 09:03] #751 closed

[2017-07-03 09:03] #752 closed

[2017-07-03 09:43] #1419 closed, assigned to nobody

[2017-07-03 09:58] #1040 closed, assigned to MMaiero

[2017-07-03 14:18] #1416 closed, assigned to MMaiero

[2017-07-03 14:22] MMaiero commented on #1415
https://github.com/eclipse/kura/wiki/Karaf-notes

[2017-07-03 15:03] cdealti commented on #1415
Thanks. Can you please fix the links in the Wiki page (they all appear on the same line)?

Can you please clarify the differences between the Karaf distribution (e.g. emulator) and a regular Kura distribution (e.g. with net admin)?

Can you please provide a rough description of the hardware used for startup times (CPU, CPU speed, number of cores, RAM).

Can you clarify how the startup time has bee

[2017-07-04 07:22] MMaiero opened #1486 "Wiki Eclipse pages"
I believe Eclipse's Wiki pages for Kura (like [1]) should simply refer to the official documentation we provide in Github: in my opinion, it's currently difficult to keep all those references aligned and such change would simplify the updates.

[1] https://wiki.eclipse.org/Kura/Getting_Started

[2017-07-04 07:50] MMaiero commented on #1486
What do you think @dwoodard1 ?

[2017-07-04 10:10] atmanuel opened #1487 "DbDataStore question"
Regarding the DbDataStore class, I might be missing some details, but does it make sense to set the purge age proportional to the database occupation?
I mean something like(or smarter than)  "purgeAge *= (100 - ((100 * getMessageCount) / this.m_capacity))" in order to do not achieve the "KuraStoreCapacityReachedException" exception.
Another approach could be, while the store capacity limit is reac

[2017-07-04 10:12] atmanuel opened #1488 "message publisher question"
Regarding DataServiceImpl (@submitPublishingWork), does it make sense to do not limit the "in flight messages" to such low maximum((MAX_IN_FLIGHT_MSGS_PROP_NAME)?  It might be configurable to a much higher number(currently 10 from GUI), even to a best effort parameter just to send the stored messages (and get profit when running in fast cpus).

[2017-07-04 12:43] #1386 closed, assigned to nicolatimeus

[2017-07-04 13:07] MMaiero commented on #1435
I see what you mean. The issue do not happen if, between deleting and creating a new component, you perform a save. I believe that was the original process idea that Amit coded.

I will try to see how to fix temporary this issue, but I agree with you that giving the possibility to rename a component would be the best.
But probably it will not be an easy task to perform since the name is used as ku

[2017-07-04 13:49] MMaiero commented on #171
Closing. We will reopen it if needed.

[2017-07-04 13:49] #171 closed

[2017-07-04 14:46] pierantoniomerlino commented on #1363
The documentation has been updated.

[2017-07-04 14:46] #1363 closed, assigned to pierantoniomerlino

[2017-07-04 15:58] #864 closed

[2017-07-05 07:51] MMaiero commented on #1023
@markoer Can you please do a full test if this feature works?
With the latest changes you made, does this work now for Windows systems?
Thanks

[2017-07-05 07:54] MMaiero commented on #1361
@nicolatimeus Will create a tutorial about the FIFO component and the Javascript filter

[2017-07-05 07:55] MMaiero commented on #1361
I will take the update of the documentation for WireComponents, WireEnvelops, WireFields and WireRecords

[2017-07-05 07:56] MMaiero commented on #1032
The part for the marketplace notification has been completed and added to Kura 3.1.0.
I will review the PR by @nicolatimeus about the version check.

[2017-07-05 07:57] MMaiero commented on #1405
@ibinshtok Is this completed?

[2017-07-05 07:58] MMaiero commented on #1474
@markoer Any thoughts on this?

[2017-07-05 08:04] MMaiero commented on #1475
@markoer PR #1457 has been merged.

[2017-07-05 08:05] markoer commented on #1474
I didn't comment on it here, but I am preparing the test procedures.

[2017-07-05 08:05] markoer commented on #1475
Thanks for info.

[2017-07-05 08:07] markoer commented on #1405
I still have work on the testing side. Probably refactoring is not finished either.

[2017-07-05 12:21] markoer commented on #1474
Some of the steps above are similar to what we already had in the test procedures (prepared well before the PR was merged). I rewrote them and added the suggestions from this issue. I believe most are covered, now.

* DATA-LIMIT-001
(No limiting)

Make sure only one network device is enabled for WAN e.g. eth0.
In System->Cloud Services->DataService enable connect.auto-on-startup. Set this configur

[2017-07-05 15:26] #1479 closed, assigned to nobody

[2017-07-05 15:28] #1325 closed, assigned to amitjoy

[2017-07-05 22:56] ibinshtok commented on #1405
@MMaiero  I still need to clean up the following packages:
org.eclipse.kura.linux.net
org.eclipse.kura.linux.net.dhcp
org.eclipse.kura.linux.net.dns
org.eclipse.kura.linux.net.iptables
org.eclipse.kura.linux.net.modem
org.eclipse.kura.linux.net.ppp
org.eclipse.kura.linux.net.route

[2017-07-06 06:19] MMaiero commented on #1474
@markoer Ok for me. Thanks

[2017-07-06 07:39] MMaiero commented on #1382
Updated

[2017-07-06 07:39] #1382 closed, assigned to nicolatimeus, MMaiero

[2017-07-06 08:15] #1474 closed, assigned to nobody

[2017-07-06 12:51] #1032 closed, assigned to MMaiero

[2017-07-06 13:00] markoer commented on #1023
With #1495 the oomph setup produces more complete working sets and emulator runs with H2 DB support.
With #1496 build runs on Windows. But emulator still won't run properly with the same issue as before - port 8080 is open with server listening, but faces some kind of proxy issues.

[2017-07-06 16:59] dwoodard1 commented on #1486
@MMaiero Yes, I completely agree. Ideally there are a couple of steps here:

1. All documentation on https://wiki.eclipse.org/Kura gets moved to Github Wiki pages. Any existing pages on the Eclipse Wiki should point users to Github Wiki
2. Any Wiki entry that is duplicate information of what we have in documentation should be replaced in the Wiki with a link to the proper documentation

Make sense

[2017-07-07 11:37] #1417 closed, assigned to MMaiero

[2017-07-07 13:37] pierantoniomerlino commented on #1410
The CQ for TinyB is here [1], while the one for the linked libraries is here [2].

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=13796
[2] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=13825

[2017-07-10 12:46] MMaiero commented on #1132
@darionct @markoer Can this be closed?

[2017-07-10 12:52] markoer opened #1501 "H2 DB: invalid service configuration not indicated"
Configuring H2 DB service as `db.connector.url=jdbc:h2:mem:` (unsupported configuration) reports no error in the web UI. The exception is properly thrown by the H2DbService(Impl) as seen from the log:

[code]

My issue with it is that if I don't check the logs, I won't know that there's something wrong with my setup until e.g. Wires H2 DB store will fail. Also, ERROR log level might be justified h

[2017-07-10 13:01] markoer commented on #1132
We already agreed to close the related #1134. So yes, this issue should be closed.

[2017-07-10 13:11] #1132 closed, assigned to nobody

[2017-07-10 14:30] markoer opened #1502 "H2 DB: Default service can be deleted"
I'm not sure if that's intentional or not, but the default H2 DB service can now be deleted, even if it is used by DataService and/or wires.

Kura 3.1.0-SNAPSHOT, build 1121

[2017-07-10 16:34] cdealti commented on #1501
The same issue applies to all the Configurable Components. The Meta Type only supports basic type validation and the component implementation is (asynchronously) responsible for further validation.

[2017-07-11 07:50] MMaiero commented on #1486
I agree.
Why don't we have a look at the wiki.eclipse.org pages and start open issues to track the porting/modification?

[2017-07-11 08:20] nicolatimeus opened #1506 "H2 DB: Changing the db user does not work"
Currently if an H2 db service instance is active and the user is changed in the configuration, the connection pool will not be modified and the user switch will not be performed until the component is deactivated and reactivated.

[2017-07-11 11:52] MMaiero commented on #1502
This is intentional and possible for every factory-based component. Changes were made in the DataService implementation in order to deal with this case, providing appropriate fallbacks.

[2017-07-11 13:37] #1502 closed, assigned to nobody

[2017-07-11 14:55] MMaiero commented on #1506
Closed by #1508

[2017-07-11 14:55] #1506 closed, assigned to nicolatimeus

[2017-07-11 15:34] cdealti commented on #1478
@pierantoniomerlino please edit the above comment adding CMake.

[2017-07-11 15:35] nicolatimeus commented on #1420
A [new proposal](https://github.com/eclipse/kura/wiki/Assets-and-Driver-Web-Ui-section-mockups#update-11-07-2017) has been added to the Wiki.

[2017-07-11 15:56] ctron opened #1511 "Add Artemis broker to Kura core"
As discussed last week during the F2F meeting, Artemis should get added to the Kura core distribution for providing a local gateway broker.

[2017-07-11 16:16] ctron commented on #1511
It looks like Artemis requires at least the compact3 profile due to `javax.management`

<details>
<pre>
[jreimann@jreimann org.eclipse.kura.broker.artemis.core]$ jdeps -P  target/org.eclipse.kura.broker.artemis.core-1.0.0-SNAPSHOT.jar
org.eclipse.kura.broker.artemis.core-1.0.0-SNAPSHOT.jar -> not found
org.eclipse.kura.broker.artemis.core-1.0.0-SNAPSHOT.jar -> /usr/lib/jvm/java-1.8.0-openjdk-1.8.0

[2017-07-11 16:31] kartben commented on #1511
The management capabilities can simply be disabled at runtime, maybe? https://activemq.apache.org/artemis/docs/1.0.0/management.html#configuring-jmx - not sure it would be enough though as there seems to be many places where java.lang.management classes are used.

[2017-07-11 17:48] ctron commented on #1511
The functionality can be disabled and code will not be called. However the references in the class files will still remain.

[2017-07-12 09:17] mvtn commented on #1023
Recently, I've installed eclipse Kura with eclipse installer on Linux/Centos machine. I set the  "Developer Type" to "User" and the "Eclipse Kura Git repository" to HTTPS (read/write). Now, I have the following projects in my workspace [1]:

- Other Projects [kura develop]
- Eclipse Kura [kura develop]
- Target Platform[kura develop]
- Examples

The org.eclipse.kura.api shows me the following erro

[2017-07-12 12:30] diegovisentin commented on #502
IMO Kura needs to be fully supported on Windows 10 IoT

[2017-07-12 13:43] markoer commented on #1023
@mvtn I'm not entirely sure User type was meant to run the GUI part of Kura. What this setup allows you is to build your own bundle and deploy it to a running Kura instance.

You may safely ignore the api/pom.xml problem.

As for the log4j errors, you can try replacing all ${workspace_loc} with ${git_work_tree} in the Run Configurations->OSGi Framework->Kura_Emulator_Linux->VM arguments. That shou

[2017-07-12 14:43] cdealti opened #1513 "H2 DB: Web app and TCP server are mutually exclusive"
@nicolatimeus can we add more configuration options to enable the H2 Web app and TCP server independently?
I believe that replicating the existing settings for a another server instance would just work.

[2017-07-12 16:29] cdealti commented on #1501
@nicolatimeus can you please fix the log level only?
There's no need to create PR for this, just push to develop.

Unfortunately the main issue cannot be easily fixed.

[2017-07-12 16:36] cdealti opened #1514 "Unit tests for the new Bluetooth Low Energy core implementation"

[2017-07-12 16:37] cdealti opened #1515 "Unit tests for the new Bluetooth Low Energy iBeacon codecs"

[2017-07-12 16:38] cdealti opened #1516 "Unit tests for the new Bluetooth Low Energy Eddystone codecs"

[2017-07-12 16:44] cdealti opened #1517 "Verify compatibility of the old Bluetooth implementation with Bluez 5.43"

[2017-07-12 16:45] cdealti opened #1518 "Copy in the distrib only the relevant Tinyb fragment"

[2017-07-12 17:03] cdealti opened #1519 "QA tests for the new Bluetooth Low Energy core implementation"
New or revised QA items for the new Bluetooth Low Energy implementation

[2017-07-12 17:06] cdealti opened #1520 "QA tests for the new Bluetooth Low Energy iBeacon codecs"
New or revised QA items for the new Bluetooth Low Energy iBeacon codecs

[2017-07-12 17:10] cdealti opened #1521 "QA tests for the new Bluetooth Low Energy Eddystone codecs"
New QA items for the new Bluetooth Low Energy iBeacon codecs

[2017-07-12 17:26] cdealti opened #1522 "Document the new Bluetooth Low Energy API and implementation"
- [ ] Rationale for the new implementation (and API)
- [ ] Describe the Tinyb project. What's unique of this project?
- [ ] API overview through an example
- [ ] Install dependencies on the RPI and BBB (compile and install Bluez 5.43)

[2017-07-12 17:30] cdealti opened #1523 "Document the new Bluetooth Low Energy beacon API"
- [ ] Purpose of the API
- [ ] Available beacons (iBeacon, Eddystone)
- [ ] Plug a new beacon implementation in Kura

[2017-07-13 07:46] nicolatimeus commented on #1513
We can achieve this in at least 3 ways:

1. Turning the H2DbServer into a factory and keeping the metatype as it is now.
2. Creating 3 dedicated H2DbServer components, one for each mode (regular ConfigurableComponents, not factories):
   * One for Web mode
   * One for TCP/JDBC mode
   * One for PG mode
  The metatype of each of these components will look like this:
   * **db.server.enabled**: BOO

[2017-07-13 08:36] mvtn commented on #1023
@markoer I replaced all ${workspace_loc} with ${git_work_tree} and now i get no errors anymore. :)

Then, to run the GUI I must install the Eclipse Kura using the User Workspace? I downloaded the Kura User Workspace archive (user_workspace_archive_3.0.0.zip) and I have some projects in my workspace, as follows:
- org.eclipse.kura.demo.heater
- org.eclipse.kura.emulator
- org.eclipse.kura.example.b

[2017-07-13 09:49] pierantoniomerlino commented on #1517
Tested with
- org.eclipse.kura.example.ble.sensortag
- org.eclipse.kura.example.beacon
- org.eclipse.kura.example.beacon.scanner

[2017-07-13 09:50] pierantoniomerlino commented on #1447
Implemented the iBeacon and Eddystone encoder/decoder. Eddystone supports only UID and URL packet formats.

[2017-07-13 09:56] cdealti commented on #1405
@ibinshtok any reason you moved this from **In progress** to **New Issues**?

[2017-07-13 10:43] cdealti commented on #1435
@dwoodard1 @MMaiero

Is the case ("ModbusAsset" -> "modbusAsset") relevant for this issue?

[2017-07-13 10:47] dejanb commented on #1511
Unfortunately, we can't remove that dependency easily as the code is in the server bundle. But this can be a good improvement, so that in constrained environments we can turn jmx off and use amqp management instead.
Maybe an easier temporary solution is to declare dependency as optional in manifest and turn off the feature. I'll take a look at that

[2017-07-13 10:49] cdealti commented on #1513
1 looks cheaper in terms of work, right?

[2017-07-13 10:53] cdealti commented on #1420
@MMaiero feel free to convert this in an epic and start adding small issues to achieve the new proposal goal.

[2017-07-13 11:45] #1501 closed, assigned to nicolatimeus

[2017-07-13 11:49] cdealti opened #1526 "QA tests for the connectivity monitor of the DataServiceImpl"
@markoer can you draft QA tests and **do a preliminary check**?
This has high priority.

See #1138

- [ ] When enabled and properly configured it should cause a system reboot (via the Watchdog Service) **only**  if the DataService cannot connect to the broker for any reason but those described in [1] section **3.2.2.3 Connect Return code**. For example unplugging the Ethernet cable should cause a

[2017-07-13 13:08] markoer commented on #1023
By running Kura instance I meant the full Kura installed on a gateway, e.g. Raspberry Pi.

If you really want to run the emulator with a GUI using OOMPH setup, you could still use the Developer type for now. I have it on good authority that with some further development (already in progress) also User type will be able to do that.
Kura user workspace is definitely a good alternative. The org.eclip

[2017-07-13 13:32] markoer commented on #1513
1 looks most configurable, but has the potential to e.g. expose the database via web 2 or more times using different options. Do you want to allow such scenarios? If yes, go for it.
3 offers the most control and least chance for abuse while still compact.

[2017-07-14 07:49] markoer commented on #1526
Currently I have the cases below.
**Bad username** currently causes a **reboot**.

* DATA-CRIT-001 (disconnect)

Prepare the following setup.
System->Network:
Disable all network interfaces except lo, eth0 and wlan0.
Setup eth0 as Enabled for WAN.
Setup wlan0 as Enabled for LAN and access point with a 'DHCP and NAT', 'Pass DNS Servers through DHCP' = false.

System->Cloud Services->DataService:
co

[2017-07-14 07:59] MMaiero commented on #1526
Yes, currently that requirement is not implemented: I will provide a fix for that

[2017-07-14 08:32] pierantoniomerlino commented on #1518
I modified the build_equinox_distrib.xml to address this issue, but I don't like it. I had to add a couple of ant calls to manage the .SNAPSHOT bundle version and this has increased the script complexity. Any suggestions are welcome.

[2017-07-14 10:27] pierantoniomerlino opened #1529 "OSGI console is not redirected to Eclipse IDE with Kura 3.0"
Using Kura 3.0.0 and Eclipse IDE (Neon or Oxygen) with mToolkit, the OSGI console is not redirected to the Eclipse console.

To replicate the issue, proceed as follows:
- Start Kura 3.0 in debug mode;
- Connect to Kura from Eclipse IDE using mToolkit;
- The connection will succeed and all bundles will be listed under the Framework tab;
- Select the Console tab: the ```Failed to redirect framework

[2017-07-14 12:39] markoer commented on #1526
A few new cases:

* DATA-CRIT-003 (invalid hostname)

Prepare the same setup as DATA-CRIT-001.

Change the MQTT transport's broker to an invalid one:
System->Cloud Services->MqttDataTransport:
broker-url = "mqtt://<nonexistinghost>:1883"

Apply and observe the log.

After 3 attempts a reboot should be requested, and produce similar log messages as before (UnknownHostException should be visible in

[2017-07-14 13:39] MMaiero opened #1530 "Modify the wire composer to allow driver management"
According to what designed in https://github.com/eclipse/kura/wiki/Assets-and-Driver-Web-Ui-section-mockups the Wire composer should be updated to be able to manage the creation of a Driver directly from inside the composer.
The scope is to allow the user to manage and/or design a graph completely from the composer page, without the need to go out of it.

A first draft is available at the followin

[2017-07-14 13:40] MMaiero opened #1531 "Create "Drivers and Assets" tab"
Taking as a reference the wiki page https://github.com/eclipse/kura/wiki/Assets-and-Driver-Web-Ui-section-mockups , the proposal 4 should be implemented. This new page in Kura Web UI should allow the tracking of all the Assets and Drivers as described in the wiki page.

Eventually, this issue will be splitted in multiple issues, if needed.

[2017-07-14 13:53] MMaiero commented on #1530
Attached few screenshots of the new prototyped design.

The configuration tab for a generic Wire component:
![Schermata 2017-07-14 alle 14.36.42.png](https://images.zenhubusercontent.com/572701dfbf93871ccd9a576a/f7ebcd01-7826-4b94-a7ec-b1212824743a)

When the dropped wire component is an Asset, the configuration tabs are 2: one for the asset configuration with the usual channels, the other for the

[2017-07-14 13:56] MMaiero commented on #1530
Open items:
- maybe the asset configuration tab name can be differently highlighted? I'm thinking that we could have a generic title (e.g Timer - t1 or Asset - a1) and the tab name can be respectively "Configuration" and "Asset Configuration", depending if it is related to a generic Wire component or Asset component.

- The new Driver button: maybe the + is not sufficient. Maybe it is better to ha

[2017-07-14 15:24] cdealti commented on #1530
* In the second screenshot **Driver Config** should be **Driver - <name>**
* In the fourth **Component Name** should be **Asset Name**
* In the fourth **Avalilable Drivers** could be just **Driver** (an instance) and...
* ...In the fifth **Avalilable Driver Factories** could just be **Driver Factory**
* The **+** button I believe we both don't like it
* Last screenshot: it allows you to click **+*

[2017-07-14 15:34] MMaiero commented on #1530
Agreed.

ok.

Yes, as written, I don't like it too.

The old one is not deleted, because it is created when saving the new driver modal.

Uhm, I believe it would be confusing for people: we don't have it in this way all around the ui. What is more, is that you need the asset name to complete the procedure, other than selecting the driver instance. The new driver button would need a pre-requisite o

[2017-07-17 11:23] markoer opened #1533 "MqttDataTransport client-id illegal character"
It seems that there is another illegal character (beside  `/`, `+`, `#` and `.`) in the MqttDataTransport client-id configuration that should be replaced with `-`: `$`.

I tested with `c/l*i-e-n+t` vs. `c/l*i-e-n+t$` producing the following logs:

[code]
vs.
[code]

In the former case the client connects successfully, in the latter it doesn't seem to even try connecting.

Kura 3.1.0-SNAPSHOT on RP

[2017-07-17 13:18] cdealti opened #1535 "[Maven Central] Create Kura project on OSSRH"

[2017-07-17 13:23] cdealti opened #1536 "File bug at bugs.eclipse.org to be able to deploy to OSSRH from HIPP"

[2017-07-17 13:59] cdealti opened #1537 "Test deploy snapshot artifacts from #1200 to OSSRH"
Configure the HIPP Kura develop build to deploy snapshot artifacts from #1200 to OSSRH.

As some artifacts are deployed through the **maven-central** project, should we skip **maven-deploy-plugin** from the individual projects

[2017-07-17 14:29] cdealti opened #1538 "Define the full set of Kura feature for the p2 site"
It means merely creating a list of features and the bundles for each feature

[2017-07-17 14:30] ibinshtok commented on #1405
@cdealti I did not doi that. Moved it back to "In Progress"

[2017-07-17 14:32] cdealti opened #1539 "Implement all the features for the Kura p2 site"
The Kura p2 site does not include the Kura target-platform

[2017-07-17 14:34] cdealti opened #1540 "Stage Kura artifacts to OSSRH"

[2017-07-17 14:34] cdealti commented on #582
@ctron following-up the meeting in London, is the one below a good approximation to deploy to Maven Central from the p2 repo?

- [ ] Create Kura project on OSSRH #1535
- [ ] File bug at bugs.eclipse.org to be able to deploy to OSSRH from HIPP #1536
- [ ] Test deploy snapshot artifacts from #1200 to https://oss.sonatype.org/content/repositories/snapshots #1537
- [ ] Expand the scope of #1200 defini

[2017-07-17 14:57] nicolatimeus opened #1541 "Add support for polling to GPIO example"
Currently the GPIO example only supports observing input pin status changes asynchronously using `PinStatusListnener`, but this method might not be supported on all platforms.
Support for periodically polling inputs using a thread/scheduled task should be added.

[2017-07-17 16:25] cdealti commented on #1513
@markoer we understand you point. If we go with 1 what are the testing implications?

[2017-07-18 06:42] cdealti commented on #1487
@atmanuel I agree that the current implementation may be questionable. We will consider your suggestions when we will redesign the implementation.

[2017-07-18 06:47] cdealti commented on #1488
@atmanuel ten inflight messages was (still is?) the maximum number Paho was able to handle. We further limit this to be able to publish higher priority messages.

[2017-07-18 06:56] markoer commented on #1513
I suppose the only difference would be to test that multiple ports can provide the same service concurrently  vs. that that is not possible.

[2017-07-18 07:15] cdealti commented on #1529
In Kura 3.0.0 we switched to Equinox 3.11.1. I assume this has broken the OSGi console redirect. Unfortunately mToolkit is no longer officially maintained.

In the past Eurotech fixed the IDE plugin [1] for Eclipse Neon [1].

[1] https://github.com/eurotech/mtoolkit

[2017-07-18 07:25] ctron commented on #1529
It may be useful to switch to something standard based like OSGi remote management.

[2017-07-18 07:33] cdealti commented on #1529
In the meantime, let's fix it again

[2017-07-18 07:44] cdealti commented on #168
Closing as it will never be done

[2017-07-18 07:44] #168 closed

[2017-07-18 07:50] cdealti commented on #99
Karaf will not be further developed or maintained. The existing code will stay as long as it does not interfere with the main Kura development.

[2017-07-18 07:50] #99 closed

[2017-07-18 07:51] cdealti commented on #1407
See #99.

[2017-07-18 07:51] #1407 closed, assigned to MMaiero

[2017-07-18 07:52] cdealti commented on #1415
See #99

[2017-07-18 07:52] #1415 closed, assigned to MMaiero

[2017-07-18 07:55] cdealti commented on #637
Closing. Windows code will be removed

[2017-07-18 07:55] #637 closed

[2017-07-18 07:56] cdealti commented on #502
Closing. See #637

[2017-07-18 07:56] #502 closed

[2017-07-18 07:56] atmanuel commented on #1488
ok, understood...didn't know about such limitation.
Thank you.

[2017-07-18 07:56] #1488 closed, assigned to nobody

[2017-07-18 07:56] cdealti commented on #537
Closing. See #637

[2017-07-18 07:56] #537 closed

[2017-07-18 08:00] atmanuel commented on #1487
ok, it is just a suggestion...  (I was inspecting a bit the source code to understand why it was reaching the storage limit in high message rate scenarios)

[2017-07-18 08:01] cdealti commented on #1487
No need to close it. Let's keep it open as a discussion item

[2017-07-18 10:43] nicolatimeus opened #1544 "CanConnectionService.receiveCanMessage() cannot be interrupted"
There seems to be no way for interrupting `CanConnectionService.receiveCanMessage()`. The calling thread cannot be stopped using the `Thread.interrupt()` or `Thread.stop()` methods.

[2017-07-18 15:08] #1048 closed, assigned to nobody

[2017-07-18 15:09] #1162 closed, assigned to nobody

[2017-07-18 15:48] pierantoniomerlino commented on #1447
@cdealti please review #1528

[2017-07-18 16:10] pierantoniomerlino commented on #1023
@cdealti please review #1496
@markoer please write a summary of what works on Windows and how. Then we need to create a new documentation issue.

[2017-07-18 16:28] cdealti commented on #1475
@cdealti please review #1527

[2017-07-18 17:07] cdealti commented on #1526
@MMaiero please review #1534
@markoer please review #1532

[2017-07-18 17:14] cdealti commented on #1405
@ibinshtok please re-estimate this issue.

If you cannot commit to complete the remaining part:
1. Clear the milestone
2. Move this item at the bottom of the Backlog pipeline

[2017-07-18 17:29] cdealti commented on #1338
@cdealti please review

[2017-07-18 17:33] cdealti commented on #1435
@dwoodard1 please complete review #1494

[2017-07-18 17:37] cdealti commented on #779
@markoer can you please check again with @djurod? Shall we postpone?

[2017-07-19 07:10] markoer commented on #779
The PR waits for @ibinshtok's decision regarding invocation of getByAddress(byte[]).

[2017-07-19 07:23] markoer commented on #1526
#1532 reviewed and approved 17. 7. 2017 11:55.

[2017-07-19 08:37] mattjlewis opened #1545 "Can this portable Java Device I/O library be of any assistance? (Java diozero library)"
Reference Eclipse [forum post](https://www.eclipse.org/forums/index.php/t/1087289/).

I created the [diozero library](http://www.diozero.com) as I wasn't happy with the OpenJDK Device I/O library - too limited in the devices that it supported plus limited in the functionality offered.
I currently support the library on the following boards:

- Raspberry Pi
- Next Thing Co CHIP
- BeagleBone Black
-

[2017-07-19 14:06] markoer commented on #1023
To summarize what works on Windows (after #1496):
* OOMPH
  * Eclipse and plugins install and setup
  * GIT repository cloning
  * project import
  * creation of working sets
  * build of target-platform/pom.xml
  * initial build of kura/pom.xml with skipped tests
* build of kura/test/pom.xml
* build of kura/examples/pom.xml
* build of karaf/pom.xml

Build of kura/distrib/pom.xml doesn't work and

[2017-07-19 16:34] dwoodard1 commented on #1535
@cdealti This has been done. The Jira ticket is here [1], though I am not sure if it is publicly viewable. I think this can be closed.

[1] https://issues.sonatype.org/browse/OSSRH-32962?page=com.atlassian.jira.plugin.system.issuetabpanels%3Aall-tabpanel

[2017-07-19 16:37] dwoodard1 commented on #1536
@cdealti The bug was filed some time ago here [1]. I think this can be closed, we just need to test the setup.

[1] https://bugs.eclipse.org/bugs/show_bug.cgi?id=510408

[2017-07-20 10:58] markoer opened #1547 "[Testing] Provide unit and/or integration tests for network bundles"
Provide unit and/or integration tests for the following packages with subpackages:
* org.eclipse.kura.core.net.*
* org.eclipse.kura.net.admin.*

Implies some of the changes by #1405.

[2017-07-20 11:00] markoer opened #1548 "[Testing] Provide WifiMonitorServiceImpl unit tests"
Provide org.eclipse.kura.net.admin.monitor.WifiMonitorServiceImpl unit tests.

Part of #1547.

[2017-07-20 12:31] cdealti commented on #997
@markoer #1496 has been merged. Can we close this?

[2017-07-20 12:34] cdealti commented on #1023
@MMaiero we should also add to the above list that the Web UI does not come up in the emulator. Correct?

[2017-07-20 12:35] MMaiero commented on #1023
Yes. I'll change the README file and I'll post a PR for that.

[2017-07-20 12:52] cdealti commented on #1475
@markoer #1527 has been merged. Do you plan to add specific tests for the H2DbService?

[2017-07-20 13:16] markoer commented on #997
Yes.

[2017-07-20 13:33] markoer commented on #1475
#1509 belongs here as well... I suppose this is what you meant, @cdealti?

[2017-07-20 14:27] ibinshtok commented on #1405
To complete this issue we need to touch the following packages:
In the org.eclipse.kura.api project:
org.eclipse.kura.net
org.eclipse.kura.net.dhcp
org.eclipse.kura.net.dns
org.eclipse.kura.net.firewall
org.eclipse.kura.net.modem
org.eclipse.kura.net.route
org.eclipse.kura.net.wifi

In the org.eclipse.kura.core.net project:
org.eclipse.kura.core.net
org.eclipse.kura.core.net.modem
org.eclipse.kura

[2017-07-20 15:23] dwoodard1 commented on #1435
Closing via #1494

[2017-07-20 15:23] #1435 closed, assigned to dwoodard1, MMaiero

[2017-07-21 15:14] markoer opened #1550 "[Testing] Provide additional tests for ModemMonitorServiceImpl"
Provide additional unit tests.

Part of #1547.

[2017-07-21 15:20] #997 closed, assigned to cdealti

[2017-07-22 14:06] MMaiero commented on #1530
Changes applied, squashed commits.
The modals for a new asset and driver now have a header that allows to understand what is going on. Improved paddings.

[2017-07-23 10:50] pstanton commented on #1161
The failed cast is understandable, however the ability to change the value must be protected from failure.

[2017-07-24 14:11] markoer opened #1554 "[Testing] Provide EthernetMonitorServiceImpl unit tests"
Provide org.eclipse.kura.net.admin.monitor.EthernetMonitorServiceImpl unit tests.

Part of #1547.

[2017-07-24 15:13] cdealti commented on #1511
@nicolatimeus can you please review?

[2017-07-25 09:04] cdealti commented on #1513
@nicolatimeus I also believe we should update the documentation in the Wiki to reflect the latest changes. It maybe easier if you do that now.

[2017-07-25 09:40] cdealti commented on #1405
@ibinshtok I'd prefer to split this in multiple tasks (issues). We don't need to fix everything in this sprint.
What do you think we should address first?
Please coordinate with @markoer to reduce the dependencies.

[2017-07-25 09:55] MMaiero opened #1556 "connect.retry-interval=0 causes DataService activation failure"
Setting the `connect.retry-interval` to 0 seems to work until reboot.
After a reboot, the DataService component starts continuously to try to activate, determining the impossibility to use the default cloud service and all the related stack.
I believe the root cause is related to the `IllegalArgumentException` thrown by the [scheduleAtFixedRate](https://docs.oracle.com/javase/7/docs/api/java/util/

[2017-07-25 10:10] cdealti commented on #1556
@pierrepitiot can you please review the associated PR #1557?

[2017-07-25 11:57] pierrepitiot commented on #1556
Ok, I'll take a look soon.

[2017-07-25 13:10] nicolatimeus commented on #1511
I've performed a quick test on a Raspberry Pi 3, here is some feedback:
* the Simple mode based on MQTT seem to work,  I was able to successfully connect the cloud service of the the device to the Artemis instance hosted by the device itself, basic publish-subscribe functionalities work.
Just a minor issue: I needed to modify the `build_equinox_distrib.xml` file by adding the `:start`command to th

[2017-07-25 14:28] diegovisentin opened #1558 "CommandCloudApp doesn't use received working directory parameter"
Hi,
In Kura v2, you could send to CommandCloudApp a request with a specific working directory (see `KuraCommandRequestPayload.setWorkingDir()` ).
How can I do the same in Kura v3?

Regards, Diego

[2017-07-25 16:17] cdealti commented on #1558
Hello Diego.
The setter is still there [1]. Do I miss something obvious?

[1] https://github.com/eclipse/kura/blob/KURA_3.0.0_RELEASE/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/cloud/app/command/KuraCommandRequestPayload.java

[2017-07-25 23:40] diegovisentin commented on #1558
My issue is that "workingDir" attribute of KuraCommandRequestPayload seems no more used by CommandCloudApp.

[2017-07-26 07:21] cdealti commented on #1558
Hi,
 It looks like we haven't changed this recently and the provided working directory is still used by CommandCloudApp. Can you provide a test case or a detailed description on how you use it?

[2017-07-26 07:55] cdealti commented on #1478
@nicolatimeus please update the post above adding bnd-baseline-maven-plugin 3.4.0 (release)

[2017-07-26 08:03] cdealti commented on #1511
@nicolatimeus can you please also check:
1. Secure (SSL) MQTT connection
2. MQTT over Websocket

[2017-07-26 11:38] ctron commented on #1511
@nicolatimeus What is the reason to start `org.eclipse.kura.broker.artemis.core`?

The AMQP part is a "known issue" ;-) we need to discuss is we want that and I would then start to work on CQs.

[2017-07-26 12:06] nicolatimeus commented on #1511
If `org.eclipse.kura.broker.artemis.core` is not explicitly started a `NullPointerException` is thrown when trying to startup the broker.
The exception is caused by [this](https://github.com/ctron/kura/blob/ddf9f92299b69490ea9e004aeb0c0d3038ad2db6/kura/org.eclipse.kura.broker.artemis.core/src/main/java/org/eclipse/kura/broker/artemis/core/ServerManager.java#L47) line, the problem is that if the bu

[2017-07-26 12:48] nicolatimeus commented on #1511
* MQTT over Websocket works out of the box in Simple mode using non-secure connections, I've managed to connect both the CloudService of the device and an external javascript application using Paho. For the latter case I needed to change the **MQTT address** configuration property to `0.0.0.0`, otherwise connections not originating from the device itself will not be accepted.

* Secure MQTT connec

[2017-07-26 13:07] #1338 closed, assigned to cdealti, MMaiero

[2017-07-26 13:22] ctron commented on #1511
Yes, because I did remove the lazy flag. Ok, so I don't think we need to auto-start it, but to re-add the lazy flag for the bundle.

[2017-07-26 14:12] nicolatimeus commented on #1511
Setting the lazy flag works as expected, let's go for it then.

[2017-07-26 14:19] ctron commented on #1511
I already did update the branch, currently testing it locally.

[2017-07-26 14:45] cdealti opened #1561 "[REST] Cloudlet REST client implementation"
`CloudletRestClient` represents an `Cloudlet` [1] instance as well as an REST client.

It translates MQTT requests [2] for an Cloudlet into calls to an REST endpoint.
This REST endpoint is often an external process which can receive requests from the cloud platform over MQTT in the same way an Kura Cloudlet would.

The translation is as follows:

* Cloudlet methods (GET/PUT/POST/DELETE) are unchan

[2017-07-26 15:39] ibinshtok opened #1562 "The updated() method in the NetworkConfigurationServiceImpl swallows exceptions"
The updated() method in the NetworkConfigurationServiceImpl logs exceptions but doesn't provide any way of notifying user that configuration update was not successful. Possible solution is to extend the   NetworkConfigurationChangeEvent to include update status information and post this event on exception as well, but with the status of "false". We would also need to make this event visible via or

[2017-07-26 15:54] markoer opened #1563 "[Testing] Provide DnsMonitorServiceImpl unit tests"
Provide org.eclipse.kura.net.admin.monitor.DnsMonitorServiceImpl unit tests.

Part of #1547.

[2017-07-26 18:48] diegovisentin commented on #1558
In the current version of CommandCloudApp [1] there isn't a single call of `KuraCommandRequestPayload.getWorkingDir()`. Instead all commands are executed in the working-directory specified in component properties or using the system temp directory (this logic is made by the method `CommandCloudApp.getDefaultWorkDir()`).
Therefore if I send a command that specify a working-directory, this informati

[2017-07-27 07:21] cdealti commented on #1558
It happened [here](https://github.com/eclipse/kura/commit/1c577d8be41dee4d0394fb66bc0cbe79ec528693) when we added the bits for Windows support. I need to figure out why we did this.

[2017-07-27 08:22] nicolatimeus opened #1564 "[MqttDataTransport] wss connections without hostname verification do not work"

[2017-07-27 08:27] nicolatimeus commented on #1511
Websocket over SSL works as well with the same setup used for testing secure MQTT connections described above.
Connecting a Kura CloudService to the broker in this way should work after #1565 is merged.

[2017-07-27 12:37] markoer opened #1566 "[Testing] Possible integration test failure"
In one of the configurations org.eclipse.kura.wire.component.provider.test's integration tests started failing due to lack of org.eclipse.kura.core bundle. Adding it to dependencies seems to help.

[2017-07-27 15:28] markoer opened #1569 "[Testing] Add additional NetworkAdminServiceImpl tests"
Add additional unit tests, if possible.

Part of #1547.

[2017-07-27 18:26] marentwickler opened #1570 "kura and Azure IoT Hub cloud platform"
Hello,
I want to connect raspberry with Azure IoT hub,but it is not easy.

I get my IotHub certificate, after pasting them in to the “Server SSL Certificate” tab under “Settings” in Kura  in form :
Storage Alias: azure-ssl
Certificate:
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----

and after clicking the Apply button, I have thi

[2017-07-28 07:50] #1556 closed, assigned to pierrepitiot, MMaiero

[2017-07-28 13:03] cdealti commented on #1558
@malikm do you remember why you changed [this](https://github.com/eclipse/kura/commit/1c577d8be41dee4d0394fb66bc0cbe79ec528693#diff-626b7f4b19decd7a93b5c44558818271R191)?

[2017-07-28 13:08] cdealti commented on #1513
@nicolatimeus can we close this?

[2017-07-28 13:21] #1513 closed, assigned to cdealti, nicolatimeus

[2017-07-28 13:27] #1564 closed, assigned to nicolatimeus

[2017-07-29 15:22] jread opened #1572 "serial modbus has errors on some hardware"
The 1.0.3 and 2.0.0 protocol modbus bundle in RTU mode have data errors on some serial hardware. The problem is very specific and only effects some functions, and only some hardware. I have discovered that the problem can be corrected on these devices by previously "disabling interrupt, quit, and suspend special characters". As a temporary work around, I have used "stty -F device -isig" at system

[2017-07-31 07:39] malikm commented on #1558
@cdealti If I recall right, on Windows we were getting null default working directory, so this was to provide a correct temp path in this case.

[2017-07-31 12:47] marentwickler opened #1573 "The list of Cloud Services has disappeared by stoping and restarting kura"
Hello,
if I have stoped and restarted  kura , the list of Cloud Services is disappeared, and I get Error, if I click button Cloud Services on left menu :
The Error:
Mon Jul 31 13:40:49 GMT+100 2017 ErrorLogger INFO: GwtCloudService_Proxy: INTERNAL_ERRORorg.eclipse.kura.web.shared.GwtKuraException: INTERNAL_ERROR
   at Unknown.tg(denali-0.js)
   at Unknown.Bg(denali-0.js)
   at Unknown.Sfc(denali-0

[2017-07-31 12:51] cdealti commented on #1476
I vote no. Usually the watchdog is enabled only in production.

[2017-07-31 13:12] pierrepitiot commented on #1476
I tend to agree with Cristiano, I already had some cases where a wrong parameter triggers the watchdog at every reboot and in this case it is very complicated to recover the gateway, specially on a remote site.
You need to have made good testing before enabling the watchdog when you develop an application using it.

[2017-07-31 14:12] cdealti opened #1575 "[Watchdog Service] Write the last reboot cause to a persistent file"
Before rebooting the system, the WatchdogService will (over)write a persistent file containing details about the reboot cause, e.g. a timestamp and the name of the CriticalComponent that timed out.

See #1418

[2017-07-31 14:43] cdealti opened #1576 "[REST] CloudClient endpoint"
Provide a REST endpoint for a CloudClient.
Publishing messages should be straightforward.
To receive messages we can use different approaches (included the one described in #1561).

As an alternative approach, Kura 3.1 will ship an embedded Artemis broker with websocket support which an extenal process could use to relay messages to/from the cloud platform.
This approach requires implementing the

[2017-07-31 15:20] cdealti commented on #1405
Let's go ahead with API net packages. @ibinshtok please create a new issue

[2017-07-31 15:26] ibinshtok opened #1577 "Fix Lint issues in the net packages of the org.eclipse.kura.api"
Fix Lint issues in the following packages:
org.eclipse.kura.net
org.eclipse.kura.net.dhcp
org.eclipse.kura.net.dns
org.eclipse.kura.net.firewall
org.eclipse.kura.net.modem
org.eclipse.kura.net.route
org.eclipse.kura.net.wifi

[2017-07-31 15:56] #1535 closed, assigned to nobody

[2017-07-31 15:57] #1536 closed, assigned to nobody

[2017-07-31 23:09] dwoodard1 commented on #1573
@marentwickler The information from the log file is just warnings and not relevant to the error. Do you see any errors in the log file? Do you see any errors in /var/log/kura-console.log? Can you please login to the OSGi console (telnet localhost 5002) and issue the 'ls' command?

[2017-07-31 23:10] dwoodard1 commented on #1572
@pierrepitiot @LucaDazi Have either of you come across this?

[2017-07-31 23:14] dwoodard1 commented on #1570
@cdealti Does anyone on your side have access to Azure in order to test this?

[2017-08-01 06:57] cdealti commented on #1570
@marentwickler are you using Kura 3.0.0?
@pierantoniomerlino can you please assist?

[2017-08-01 07:45] pierantoniomerlino commented on #1570
@marentwickler it seems to me an issue related to the certificates rather than to the connection to Azure. Is it possible to see the kura.log and kura-console.log?

[2017-08-01 07:48] pierrepitiot commented on #1572
Never seen that before but I always used the modbus driver on Eurotech gateways...

[2017-08-01 08:46] cdealti commented on #1572
@jread I believe the modbus bundle should configure initially the serial device in raw mode (equivalent to `stty -F <device> raw`).
Can you also try if this works for you?

@pierrepitiot Kura uses a different serial library.

[2017-08-01 10:59] cdealti commented on #1561
Closed as this is not what @mcarrer meant.

[2017-08-01 10:59] #1561 closed, assigned to nobody

[2017-08-01 11:26] cdealti commented on #1576
The websocket approach is more appealing. Closing this one

[2017-08-01 11:26] #1576 closed, assigned to nobody

[2017-08-01 12:19] cdealti opened #1578 "Configure networking purely from the ConfigurationService"
Currently the networking configuration cannot be applied purely through the ConfigurationService, for example by seeding a custom configuration snapshot_0.xml file on the gateway or by uploading a configuration snapshot from the Web UI.

This issue is described in the ESF documentation [1]. The list of Linux configuration files created by Kura is:

- [ ] DNS server configuration under the /etc/bin

[2017-08-01 12:40] marentwickler commented on #1570
hello,
@cdealti yes, I use kura 3.0.0

[2017-08-01 12:52] marentwickler commented on #1570
hello,
@cdealti,
@pierantoniomerlino,
@dwoodard1
Later I got the connection with Azure Hub  without certificates step,I  have jumped step:
Storage Alias: azure-ssl
Certificate:
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----

But I have to change each time the password({device_SAS_token}),And this is not a good solution.

thanks i

[2017-08-01 12:57] pierantoniomerlino commented on #1570
@marentwickler The SAS token will expire in 1 hour by default, but using the "iothub-explorer" command with "-d" option it is possible to set a custom expiration time.

[2017-08-01 13:03] marentwickler commented on #1573
hello @dwoodard1,
I see any error in /var/log/kura-console.log, and  in Device informations under Bundels the bundel

55 | org.eclipse.kura.core.cloud   |  Active   |   1.1.0

and on Status  the Cloud services is not empty, it exist all Cloud services with their information.

thanks in advance

[2017-08-01 13:25] marentwickler commented on #1570
What is with certificates? What role do they have? I got the connection with Azure Hub without certificates step.

[2017-08-01 13:45] cdealti commented on #1547
@dwoodard1 @MMaiero @pierantoniomerlino @nicolatimeus @ibinshtok @darionct

@markoer accordingly to the Zenhub book (free pdf available online), if this is an user story (completed in a single sprint) we should use a checkbox list of sub-tasks like this:

- [ ] Provide WifiMonitorServiceImpl unit tests #1548
- [ ] Provide additional tests for ModemMonitorServiceImpl #1550
- [ ] Provide EthernetMon

[2017-08-01 13:59] #1526 closed, assigned to MMaiero

[2017-08-01 14:03] pierantoniomerlino commented on #1570
@marentwickler The certificates are used to trust the Azure IoTHub. You were able to connect to Azure without the certification step because probably they are already in your keystore. This explains also the error you got during the certificate installation.

[2017-08-01 14:04] cdealti commented on #1554
@ibinshtok please always close the issue associated to the PR you are merging. You can filter by "Assignee" to see if you are mentioned as an co-assignee

[2017-08-01 14:27] cdealti commented on #1577
@ibinshtok please make sure you read the Wiki on Semantic Versioning [1] before starting.
However, the bnd-baseline-maven-plugin will help you and will cause the build to fail if you cause breaking changes.

[1] https://github.com/eclipse/kura/wiki/Kura-Semantic-Versioning

[2017-08-01 14:31] cdealti opened #1579 "Fix Lint issues in org.eclipse.kura.core.net project"
Fix Lint issues in the following packages:

org.eclipse.kura.core.net
org.eclipse.kura.core.net.modem
org.eclipse.kura.core.net.util

[2017-08-01 14:33] cdealti opened #1580 "Fix Lint issues in org.eclipse.kura.net.admin project"
It looks like we need to go through all packages and fix the remaining trivial issues.

[2017-08-01 14:34] cdealti commented on #1405
I'll convert this into an Epic (as it may span multiple sprints) and add issues as user stories(or tasks ?)

[2017-08-01 17:07] ibinshtok commented on #1554
Closing this issue associated with PR#1560

[2017-08-01 17:07] #1554 closed, assigned to ibinshtok

[2017-08-01 17:09] ibinshtok commented on #779
Closing this issue since associated PR#1336 was merged.

[2017-08-01 17:09] #779 closed

[2017-08-01 18:33] ibinshtok commented on #1550
Closing this issue since associated PR#1553 was merged.

[2017-08-01 18:33] #1550 closed, assigned to ibinshtok

[2017-08-01 19:15] #1405 closed, assigned to ibinshtok

[2017-08-02 08:53] cdealti commented on #1575
@nicolatimeus please add estimate

[2017-08-02 09:39] MMaiero commented on #1530
Closing due to #1552 merge

[2017-08-02 09:39] #1530 closed, assigned to MMaiero

[2017-08-02 09:56] jread commented on #1572
Hi,
I confirm that stty -F xxxx raw works ok as well.

Thanks for you quick response. I hope that this helps.

John Read
Om7Sense GmbH
Next-Gen Energy Management For Data Centers
john.read@om7sense.com
Tel: +49-8072-9369985
Mob: +49-1752014830

Om7Sense GmbH | Schulstraße 26 | 83527 Haag i. OB | Germany
The Energy Management Revolution | Web: http://www.om7sense.com/
Geschäftsführer: Kevin Read, J

[2017-08-02 10:23] cdealti commented on #1572
It looks like a problem in the soda.dkcomm JNI code not intializing the serial port in raw mode.

[2017-08-02 11:50] cdealti commented on #1573
@marentwickler can you please type `ls` in the OSGi console, find the id of the `org.eclipse.kura.cloud.CloudService` component, type `comp <id>` and post the output here?

[2017-08-02 14:33] cdealti opened #1581 "Provide a dedicated LED API"
Currently org.eclipse.kura.core.status drives the leds through the org.eclipse.kura.gpio.GPIOService API.
On some hardware the leds are available through the Linux leds interface [1] only.

Kura should then expose an dedicated org.eclipse.kura.led API (TBD). For Linux a single org.eclipse.kura.linux.led.provider could be configured to map the LED (by name) to either a generic GPIO under /sys/class

[2017-08-02 15:30] cdealti opened #1582 "Support function-specific IO (as opposed to GPIOs)"
On some hardware, function-specific IO (input-only or output-only pins dedicated to a specific function) are usually already configured and available as:

* Entries under /sys/class/gpio/, for example /sys/class/gpio/modem_pwr
* Symlinks /dev/, for example /dev/modem_pwr

Manufacturers do this to:
* Provide self-explainatory names for the IO function
* The pin has a single function (either input-o

[2017-08-03 09:40] #1566 closed, assigned to nobody

[2017-08-03 09:41] #1541 closed, assigned to cdealti, nicolatimeus

[2017-08-03 12:19] MMaiero commented on #1476
I believe that is better to keep the things as they are now. Closing.

[2017-08-03 12:19] #1476 closed, assigned to nobody

[2017-08-04 07:19] #1361 closed, assigned to nicolatimeus, MMaiero

[2017-08-04 07:20] #1362 closed, assigned to nobody

[2017-08-07 14:30] cdealti opened #1585 "[Messaging] Share cloud connection with external applications"
`CloudCat` (name mutuated from _netcat_, _socat_ etc). Copies **cloud application messages** from one `CloudClient` to another, on two distinct `CloudService`S.

Only the application part of the full topic is preserved, the remaining parts are completed accordingly to the CloudService configurations.
The KuraPayload and the QoS of the received message are copied unmodified.

Each CloudClient can b

[2017-08-08 06:16] OrangeAlex opened #1586 "Internal error when I build the Kura project on the windows"
Hey,
I am trying to build kura project via the Eclipse installer way
but during the building, there is some error exception, the log information as fellows:
[INFO] Computing target platform for MavenProject: org.eclipse.kura:org.eclipse.kura.api:1.3.0-SNAPSHOT @ D:\Kura\iot-kura-develop\git\kura\kura\org.eclipse.kura.api\pom.xml
[INFO] Adding repository file:/D:/Kura/iot-kura-develop/git/kura/kura

[2017-08-08 10:25] cdealti commented on #1531
@MMaiero I believe this can be closed. Are there any remaining tasks?

[2017-08-08 10:27] #1531 closed, assigned to MMaiero

[2017-08-08 11:45] MMaiero opened #1588 "Password arrays are not well managed by ConfigurationService"
The current implementation of the ConfigurationService does not provide a proper support for Password[]. When one of these is provided, an exception in the OSGi core is thrown.

[2017-08-08 12:02] MMaiero commented on #1462
Done by merging #1574

[2017-08-08 12:02] #1462 closed, assigned to nobody

[2017-08-08 14:28] nicolatimeus opened #1590 "[Assets and Drivers] Byte arrays are not displayed properly"

[2017-08-08 14:31] #1590 closed, assigned to nicolatimeus

[2017-08-09 07:30] #1575 closed, assigned to nicolatimeus

[2017-08-09 08:26] nicolatimeus commented on #1588
Closed by #1587

[2017-08-09 08:26] #1588 closed, assigned to MMaiero

[2017-08-09 09:54] MMaiero commented on #1475
I believe we can close, right?

[2017-08-09 10:00] nicolatimeus opened #1593 "Development environment needs to be updated"
* H2 db and H2 wire component provider bundles are not enabled in the emulator launch config
* The emulator launch config uses Java 7

[2017-08-09 10:33] #1593 closed, assigned to nicolatimeus

[2017-08-09 13:57] cdealti opened #1595 "Kura 3.1.0-M1 Publish installers on the Kura web site"

[2017-08-09 14:01] cdealti opened #1596 "Kura 3.1.0-M1 Publish deployment packages on the Eclipse Marketplace"
- [x] S7 Driver (New!)
- [x] Javascript Wires component (New!)
- [x] OPC-UA (Updated)

[2017-08-09 14:29] MMaiero commented on #1595
Done

[2017-08-09 14:29] #1595 closed, assigned to nicolatimeus, MMaiero

[2017-08-09 15:27] #1570 closed, assigned to nobody

[2017-08-09 16:18] diegovisentin commented on #1558
Is there any possibility that this bug will be fixed for version 3.1?

[2017-08-11 08:47] andreamathis opened #1597 "Bluetooth in emulator imrove code and documentation"
Hello
I tried to run the [tisensortag](https://github.com/eclipse/kura/tree/release-3.0.0/kura/examples/org.eclipse.kura.example.ble.tisensortag) example in the emulator, but it did not find my sensor tag.
After debugging I found the following issues:
1. in `org.eclipse.kura.linux.bluetooth.le.BluetoothLeScanner:191`
    `processErrorStream(String string)` was called multiple times with the string

[2017-08-11 08:52] MMaiero commented on #1597
Hi,
did you try starting the eclipse instance that runs the emulator as root? Maybe that could solve.

Best regards,
Matteo

[2017-08-11 10:23] #1420 closed, assigned to MMaiero

[2017-08-11 13:36] MMaiero commented on #1478
`de.dentrassi.maven : osgi-dp : 0.3.0 EPL https://github.com/ctron/osgi-dp`

[2017-08-11 15:55] MMaiero commented on #1596
Deployment packages uploaded as new entries in the Kura Marketplace. Waiting to have those new entries approved and available.

[2017-08-14 07:13] markoer commented on #1475
I suppose so, yes.

[2017-08-14 13:02] markoer commented on #1547
I suppose an Epic would work best, here.

[2017-08-14 16:29] coalpower opened #1600 "CloudClient - Add option to use the appTopic as is (not modify it) - add compatibility with IBM Watson IoT"
My suggestion is to add the feature to disable the "encodeTopic" function in CloudClientImpl.java.
That way, we can send message using custom app with the proper topic format to IBM Watson IoT.

Here is the documentation about Watson IoT MQTT connectivity for gateways:
[https://console.bluemix.net/docs/services/IoT/gateways/mqtt.html#mqtt](url)
With a few modifications to CloudClientImpl.java, I w

[2017-08-15 09:28] OrangeAlex opened #1601 "Problem in constructing the Kura Development Environment"
Hi,
     i am try to building Kura via the Oomph installer under the Linux (Ubuntu14.04), after finishing downloading the Eclispse IDE , the IDE(Neno 3) start, and build the project , when the IDE download the Kura resource code from the git , it have some error , the information as fellows :

Performing Git Clone https://github.com/eclipse/kura.git  (develop)
Cloning Git repo https://github.com/e

[2017-08-15 21:35] dwoodard1 commented on #1586
@OrangeAlex We are aware of some issues when trying to build Kura with Windows. We strongly encourage people to use Linux or OS X. It seems you are trying a Linux VM per #1601, can we close this issue in favor of that?

[2017-08-15 21:36] dwoodard1 commented on #1601
@OrangeAlex Did you change any of the settings during installation? If so, can you please provide the changes you made?

[2017-08-16 01:21] OrangeAlex commented on #1601
@dwoodard1  hi,dwoodard1 , i have not changed the settings during the installation, i list my setting here
Developer Type : developer
JRE 1.8 Location: /usr/lib/jvm/jdk1.8.0_144
Eclipse Kura Git clone location:/home/iot/iot-kura-develop/git/kura
Eclipse Kura Git repository: https://github.com/eclipse/kura.git
By the way , i also summit the error issus at the Kura official Forums, the link: https:/

[2017-08-16 01:27] OrangeAlex commented on #1586
@dwoodard1 Ok, i have accept your suggestion and construct kura with Ubuntu , so  thank you very much ,this issue can be closed , i think. ^_^

[2017-08-16 15:12] #1586 closed, assigned to nobody

[2017-08-16 15:20] markoer opened #1603 "[Testing] Provide tests for JSON payload en-/decoder"
Provide tests for JSON payload en-/decoding:
* CloudPayloadJsonEncoder
* CloudPayloadJsonDecoder

[2017-08-17 07:20] OrangeAlex opened #1605 "Problem in building the Kura Project"
Hi,
      i am try to building Kura via the Oomph installer under the Linux (Ubuntu14.04), after finishing downloading the Eclispse IDE ,and project resource downloading , when the IDE (Eclipse Neon 3)download the maven package to build the project , there is a problem occurs as follows :
[INFO] Scanning for projects...
[INFO] Computing target platform for MavenProject: org.eclipse.kura:org.eclips

[2017-08-17 11:06] markoer opened #1606 "[Testing] Investigate the failing Wires test"
@MMaiero reported:

[code]

[2017-08-17 11:45] markoer commented on #1601
@OrangeAlex I suppose you already solved this error since you reported the issue #1605 which occurs later during the installation. Was the problem a failing network connection?

[2017-08-17 12:16] OrangeAlex commented on #1601
@mrkoer  ,  actually to say , i have not solved the problem,  i download the Zip package of the project resource code from kura official github website . and then unzip it , and copy the project resource code to the path /kura/kura/git, and then i  rebuild the project , there is no mistake like before i met , so i can continue to bulid the project , but duiring donwloading the maven package, i hav

[2017-08-17 12:18] OrangeAlex commented on #1601
@mrkoer , actually to say , i have not solved the problem, i download the Zip package of the project resource code from kura official github website . and then unzip it , and copy the project resource code to the path /kura/kura/git, and then i rebuild the project , there is no mistake like before i met , so i can continue to bulid the project , but duiring donwloading the maven package, i have ne

[2017-08-17 14:14] markoer commented on #1605
Could you check if:
* You had any errors during execution (launch) of the target-platform step (Launch setups/launchers/build-target-platform.launch)? It would be visible in the Eclipse Updater window.
* Your pom.xml contains any `file:////`? You could run `find . -name pom.xml | xargs grep 'file:////'` to find such files/lines.

In any case it would probably be useful if you posted the full insta

[2017-08-17 16:53] dwoodard1 commented on #1605
@OrangeAlex Can you please provide the output of `mvn -version`

[2017-08-18 01:12] OrangeAlex commented on #1605
@dwoodard1 the output of mvn -version :
iot@iot:~/iot-kura-develop/git/kura$ mvn -version
Apache Maven 3.5.0 (ff8f5e7444045639af65f6095c62210b5713f426; 2017-04-04T03:39:06+08:00)
Maven home: /opt/mvn/apache-maven-3.5.0
Java version: 1.8.0_144, vendor: Oracle Corporation
Java home: /usr/lib/jvm/jdk1.8.0_144/jre
Default locale: zh_CN, platform encoding: UTF-8
OS name: "linux", version: "4.2.0-27-gen

[2017-08-18 02:41] OrangeAlex commented on #1605
@markoer   when i run the command find . -name pom.xml | xargs grep  under the path /home/iot/iot-kura-develop/git/kura/kura, nothing return.
the compile log of kura
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]

[INFO] target-platform .................................... SUCCESS [  1.187 s]

[INFO] Camel :: Core :: Import sun.misc .

[2017-08-18 08:38] markoer commented on #1605
For a while I suspected your locale, but the build worked OK in zh_CN.
Could you try modifying the number of slashes in URLs in `kura/pom.xml`? How do `file://${kura.basedir}` and `file:////${kura.basedir}` behave?

[2017-08-18 14:11] markoer opened #1608 "[Testing] Update asset.provider tests and enable them"
The existing integration tests have been broken for some time, now. Update the test implementation to the new interfaces and enable the tests.

[2017-08-21 01:21] OrangeAlex commented on #1605
@markoer , hi markoer, i have already modified the number of slashes in URLs in Kura/pom.xml, i delete a slashes like follow :
9     <profiles>
120         <profile>
121             <id>default</id>
122             <activation>
123                 <property>
124                     <name>!kura.osgi</name>
125                 </property>
126             </activation>
127             <repositories>

[2017-08-21 01:25] OrangeAlex commented on #1605
hi markoer, i have already modified the number of slashes in URLs in Kura/pom.xml, i delete a slashes like follow :
     <profiles>
        <profile>
             <id>default</id>
             <activation>
                 <property>
                     <name>!kura.osgi</name>
                 </property>
             </activation>
             <repositories>
                 <repository>

[2017-08-21 06:59] markoer commented on #1605
OK, so now it looks like the kura part of the build might work. The thing you need to solve now is the build of target-platform that will prepare the repositories for you. As your log states, that failed:
[code]

You can cd into target-platform/ and run `mvn clean install` there. If build is successful, you can then cd ../kura/ and run the same command there.

[2017-08-21 07:10] #1475 closed, assigned to cdealti

[2017-08-21 07:19] markoer commented on #1548
Tests added and merged.

[2017-08-21 07:19] #1548 closed, assigned to ibinshtok

[2017-08-21 07:20] markoer commented on #1563
Tests added and merged.

[2017-08-21 07:20] #1563 closed, assigned to nobody

[2017-08-21 08:02] OrangeAlex commented on #1605
@markoer when i run the command "mvn clean install", the build failed , according to the log , i deem that some package named "org.tigris:org.tigris.mtoolkit.iagent.rpc:jar:3.0.0.20110411-0918" are not downloaded , how to fix it , in the maven repository, i can not find the maven package showed in the log :
[INFO] p2-repo-common ..................................... FAILURE [  0.888 s]
[INFO] p2-r

[2017-08-21 08:29] markoer commented on #1605
It could be that the repo misbehaves for you, so you may download it directly: https://raw.github.com/eurotech/kura_addons/mvn-repo/org/tigris/org.tigris.mtoolkit.iagent.rpc/3.0.0.20110411-0918/org.tigris.mtoolkit.iagent.rpc-3.0.0.20110411-0918.jar

Then install it into the local repo as suggested by maven: `mvn install:install-file -DgroupId=org.tigris -DartifactId=org.tigris.mtoolkit.iagent.rpc

[2017-08-21 08:42] OrangeAlex commented on #1605
@markoer  thanks markoer, i donwload the package , and rebuild it , the error i description above is fixed but other problem still exits, the reason is the package i can not download , so  could you give me a path or  maven repository , i can download all the package from it

[2017-08-21 08:47] OrangeAlex commented on #1605
the log shows that the package "com.gwt.user-1.0.100.jar" has not been download , Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:2.9:copy (copy-bundles-for-publishing) on project p2-repo-common: Unable to find artifact.: Could not find artifact org.eclipse.kura:com.gwt.user:jar:1.0.100 in nexus (http://maven.aliyun.com/nexus/content/groups/public/)
[ERROR]
[ERROR] Try down

[2017-08-21 09:07] markoer commented on #1605
These are the used repositories (from target-platform/pom.xml):
[code]

In your case the file is in the Kura Releases repo: https://repo.eclipse.org/content/repositories/kura-releases/org/eclipse/kura/com.gwt.user/1.0.100/com.gwt.user-1.0.100.jar

[2017-08-21 09:26] OrangeAlex commented on #1605
@markoer  hi markoer, thank you for the URL you list above , but the URL:  https://raw.github.com/eurotech/kura_addons/mvn-repo/, i can not access , so  i think this repo is the eurotech's private repo, i have no right to access , do you have some idea to fix it ?

[2017-08-21 09:42] markoer commented on #1605
You just need to specify the full path to the file to download. If mToolkit worked, the rest should, too. Provided they are hosted in that repo.

[2017-08-21 09:44] OrangeAlex commented on #1605
@markoer  thank you very much ,  i can download via the full path, so  maybe i must download so many package ~_~

[2017-08-21 12:00] OrangeAlex commented on #1605
@markoer   i have compile one projec , but still have some problem :
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] target-platform .................................... SUCCESS [  1.053 s]
[INFO] Camel :: Core :: Import sun.misc ................... SUCCESS [  1.302 s]
[INFO] System extension fragment for 'sun.misc' ...........

[2017-08-21 12:27] OrangeAlex commented on #1605
@markoer   i have download the package manually , but there are still problems:
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] target-platform .................................... SUCCESS [  1.053 s]
[INFO] Camel :: Core :: Import sun.misc ................... SUCCESS [  1.302 s]
[INFO] System extension fragment for 'sun.misc' .

[2017-08-21 12:48] markoer commented on #1605
I assume download took some time, so you might also want to store the .zip somewhere outside target/.
Then rename it to equinox.zip and comment out the following line in `target-platform/p2-repo-equinox_3.11.1/pom.xml`:
`<get src="${equinox.download.url}" dest="${project.build.directory}/download/equinox.zip" usetimestamp="true" />`
Run the build again.

[2017-08-21 13:48] #1596 closed, assigned to nicolatimeus, MMaiero

[2017-08-21 13:48] MMaiero commented on #1596
Published. Closing.

[2017-08-21 14:03] #1606 closed, assigned to nobody

[2017-08-21 14:07] markoer commented on #1603
PR has been merged.

[2017-08-21 14:07] #1603 closed, assigned to nobody

[2017-08-21 15:26] markoer commented on #1608
#1609 merged.

[2017-08-21 15:26] #1608 closed, assigned to nobody

[2017-08-22 01:39] OrangeAlex commented on #1605
@markoer  hi markoer, i have download the equinox-SDK-Neon.1.zip from the path "https://s3-us-west-2.amazonaws.com/kura-repo/R-Neon.1-201609071200/equinox-SDK-Neon.1.zip manually , and move it to the path /home/iot/iot-kura-develop/git/kura/target-platform/p2-repo-equinox_3.11.1/target/download, and rename it as "equinox.zip",  then i comment out the following line in target-platform/p2-repo-equin

[2017-08-22 01:45] OrangeAlex commented on #1605
@the log detail is :
[INFO] p2-repo-equinox_3.11.1 ............................. FAILURE [  0.861 s]
[INFO] p2-repo-tests-deps ................................. SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 39.018 s
[INFO] Finished at: 20

[2017-08-22 07:34] markoer commented on #1605
If you suspect that is the case, comment out the line with mkdir. But it shouldn't cause this problem.
I believe you are still runing mvn **clean** install and that will remove the whole target/. Just run mvn install if you modify the contents of target/.

[2017-08-22 10:14] OrangeAlex commented on #1605
@markoer i follow your advice , and all the project has been compiled successfully , thank you very much ,
[INFO] Executing tasks
   [delete] Deleting directory /home/iot/iot-kura-develop/git/kura/kura/target-definition/test-deps
    [mkdir] Created dir: /home/iot/iot-kura-develop/git/kura/kura/target-definition/test-deps/repository
     [copy] Copying 9 files to /home/iot/iot-kura-develop/git/kur

[2017-08-22 10:50] markoer commented on #1605
Target platform is supposed to be here:
/home/iot/iot-kura-develop/git/kura/kura/features/org.eclipse.kura.api.feature/../../../target-platform
or, a bit shorter, here:
/home/iot/iot-kura-develop/git/kura/target-platform

And one of the repositories should be here:
/home/iot/iot-kura-develop/git/kura/target-platform/p2-repo-equinox_3.11.1/target/repository
There should be plugins/ and 2 xml files

[2017-08-22 12:05] OrangeAlex commented on #1605
@markoer  hi markoer ,  i run the command: mvn install under the path /home/iot/iot-kura-develop/git/kura/kura, but it failed, the problem still exists:
[INFO] Computing target platform for MavenProject: org.eclipse.kura.feature:org.eclipse.kura.api.feature:3.1.0-SNAPSHOT @ /home/iot/iot-kura-develop/git/kura/kura/features/org.eclipse.kura.api.feature/pom.xml
[INFO] Adding repository file:/home/io

[2017-08-22 12:26] OrangeAlex commented on #1605
@markoer  plus information: under the path /iot-kura-develop/git/kura/target-platform/p2-repo-equinox_3.11.1/target , there are two xml file: checkstyle-checker.xml and checkstyle-result.xml, but no folder named repository, so  i guess , when the system do the operation that  Adding repository file:/home/iot/iot-kura-develop/git/kura/kura/features/org.eclipse.kura.api.feature/../../../target-platf

[2017-08-22 13:32] markoer opened #1610 "[Testing] Add tests for core.message package"
Add a few tests for classes from org.eclipse.kura.core.message package.

[2017-08-22 16:12] markoer commented on #1605
OK, so target-platform was not built as successfully as we thought. Try building it again and verify that 3 p2 repositories are actually created i.e. that .../target/repository/ exists and is filled with appropriate files and directories in each of the following:
* p2-repo-common
* p2-repo-equinox_3.11.1
* p2-repo-tests-deps

If they are not OK, the log will likely contain some warnings or errors.

[2017-08-23 03:31] OrangeAlex commented on #1605
@markoer hi marker, i found a little bit strange issue: there are two scene：
first one :  i build it under the path /iot-kura-develop/git/kura/target-platform, and the build is successfully, and  under the kura/target-platform, 3 p2 folder are created :p2-repo-common;p2-repo-equinox_3.11.1;p2-repo-tests-deps, in the each folder , the path /target/repository/ and /target/repository/plugin also exis

[2017-08-23 08:29] markoer commented on #1605
You are back to the original issue where git checkout didn't work for you. The current Kura cannot be built if it is not checked out from git or if kura/pom.xml is not updated a bit.

[Kura forum](https://www.eclipse.org/forums/index.php/t/1086951/) will contain the answer as soon as the post is approved, but until then, a quick preview:
Kura uses tycho-packaging-plugin. When the code is not check

[2017-08-24 02:18] OrangeAlex commented on #1605
@markoer  Hi markoer i Update kura/pom.xml and update true into false here:

                    <sourceReferences>
                        <generate>false</generate>
                    </sourceReferences>
when i rebuild using cli, the issue i asked before fixed , but there is another problem:
according to the log , i  think the bundle named "org.eclipse.kura.api" has lower vesion, the system sug

[2017-08-24 07:56] markoer commented on #1605
For now, just try to run mvn with -Dbnd.baseline.skip=true or -Dbnd.baseline.continue.on.error=true.

[2017-08-24 11:10] OrangeAlex commented on #1605
@markoer  hi markoer , i run the command mvn -Dbnd.baselin.skip=true, and the project can be compiled ,
but the test can not be run successfully, should i skip it using the command mvn -Dskiptests install?

[2017-08-24 11:11] OrangeAlex commented on #1605
@markoer hi markoer , i run the command mvn -Dbnd.baselin.skip=true, and the project can be compiled ,
but the test can not be run successfully, should i skip it using the command mvn -Dskiptests install?
the log information as fellows :
18:46:57,546 [Framework stop] INFO  Activator:106  - Camel activator stopping
18:46:57,547 [Framework stop] INFO  Activator:109  - Camel activator stopped
[INFO]

[2017-08-24 11:15] markoer commented on #1605
You may skip the tests. But I would still appreciate it if you could post some more of the log, here. At least to see which test(s) cause the build to fail, maybe even why.

[2017-08-24 11:18] OrangeAlex commented on #1605
@markoer  the detail of the test error information log ：
-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running org.eclipse.kura.camel.component.RouterTest
Tests run: 10, Failures: 0, Errors: 10, Skipped: 0, Time elapsed: 0.115 sec <<< FAILURE! - in org.eclipse.kura.camel.component.RouterTest
testLoadXmlUpdateOther(org.ecl

[2017-08-24 11:50] markoer commented on #1605
Please indulge me for a minute....
What happens to these tests if you add
[code]
into `kura/test/org.eclipse.kura.camel.test/pom.xml` under
[code]
i.e. just below the last `</bundleStartLevel>`?

[2017-08-25 08:42] markoer opened #1613 "[Testing] Add unit tests for core.ssl package"
Add unit tests for org.eclipse.kura.core.ssl.

[2017-08-25 09:24] cdealti commented on #1562
@ibinshtok @dwoodard1 I wonder if this requirement can be extended to all "configurable services" whose configuration can be updated. Under `org.eclipse.kura.configuration` we already have a couple of API events (not sure what they are for).

Do we want a new API event that configurable services may send to notify subscribers if the updated configuration is "valid" or not. A configuration can be v

[2017-08-25 09:51] OrangeAlex commented on #1605
@markoer  I  add
                   <dependencies>
                        <dependency>
                            <type>p2-installable-unit</type>
                            <artifactId>org.eclipse.osgi</artifactId>
                        </dependency>
                    </dependencies>
into kura/test/org.eclipse.kura.camel.test/pom.xml under
 <build>
        <plugins>
            <plugin>

[2017-08-25 14:06] MMaiero commented on #1573
@marentwickler Any update?

[2017-08-25 14:07] MMaiero commented on #1597
@andreamathis Any update? Did you manage to solve the issue?

[2017-08-25 14:14] MMaiero commented on #1600
@coalpower If I've understood correctly what you are suggesting, I believe this could lead to a breaking change: it will demand to the application the definition of the full topic, while now it is only required to manage the "App Topic" that is the application specific part of the topic.

To achieve what you desire you could reference directly the DataService, instead of using the Cloud Service.
h

[2017-08-25 15:25] markoer commented on #1610
The intended test cases have been merged.

[2017-08-25 15:25] #1610 closed, assigned to nobody

[2017-08-26 06:11] OrangeAlex commented on #1605
@markoer   hi Markoer , i think i have been compiled the kura project successfully except to the test .
how to start the kura via the cli?

[2017-08-28 01:33] OrangeAlex commented on #1605
@markoer  I add
                    <dependencies>
                        <dependency>
                            <type>p2-installable-unit</type>
                            <artifactId>org.eclipse.osgi</artifactId>
                        </dependency>
                    </dependencies>
into kura/test/org.eclipse.kura.camel.test/pom.xml under

    <build>
        <plugins>
            <plugin

[2017-08-28 01:34] OrangeAlex commented on #1605
@markoer  hi, markoer , i add
                    <dependencies>
                        <dependency>
                            <type>p2-installable-unit</type>
                            <artifactId>org.eclipse.osgi</artifactId>
                        </dependency>
                    </dependencies>
into kura/test/org.eclipse.kura.camel.test/pom.xml under

    <build>
        <plugins>

[2017-08-28 01:35] OrangeAlex commented on #1605
@markoer hi Markoer , i think i have been compiled the kura project successfully except to the test .
how to start the kura via the cli?

[2017-08-28 06:58] markoer commented on #1605
You generally don't. You install Kura on one of the supported gateways ([Raspberry Pi](https://eclipse.github.io/kura/intro/raspberry-pi-quick-start.html#eclipse-kura-installation), BeagleBone Black, etc.) and run it there. You could also run it in an [emulator ](https://eclipse.github.io/kura/dev/deploying-bundles.html) in IDE on your development machine.

[2017-08-28 07:06] OrangeAlex commented on #1605
@markoer  hi markoer, i have install Kura 3.0.0 one Raspberry Pi successfully , and then login in the Kura Web UI ,the Kura can run successfully .  i have a question that  does the Kura support the OPC-AU access?

[2017-08-28 07:07] amitjoy commented on #1605
It does.

[2017-08-28 07:54] OrangeAlex commented on #1605
@amitjoy  thank you very much

[2017-08-28 09:42] OrangeAlex commented on #1605
@markoer  @amitjoy  after i install Kura on my Raspberry Pi , i found that my Raspberry Pi can not access internet via wifi , i chech the config file under the path /etc/network/interfaces， i found Kura has been modify the file automatically, so how to config kura , and we can let my Raspberry Pi access internet ?
any good suggestion?

[2017-08-28 09:50] MMaiero commented on #1605
Hi,
unless you install the NN version of Kura, the networking is managed directly by the framework.
You can modify the networking configurations accessing the Kura web UI.

I would suggest having a look at the Kura documentation available here: http://eclipse.github.io/kura/

Best regards,
Matteo

[2017-08-28 10:43] markoer opened #1615 "[Testing] Add tests for deployment agent"
Add tests.

[2017-08-28 13:37] MMaiero commented on #1605
I believe that this issue can be marked now as solved.

[2017-08-28 13:38] MMaiero commented on #1601
@OrangeAlex Can this be closed?

[2017-08-28 13:40] markoer commented on #1615
PR created and merged. Closing.

[2017-08-28 13:40] #1615 closed, assigned to nobody

[2017-08-28 13:43] markoer opened #1617 "[Testing] Add tests for emulated PositionService"
Add some tests for emulated PositionService (org.eclipse.kura.emulator.position).

[2017-08-28 18:58] coalpower commented on #1600
@MMaiero Correct me if I'm wrong but if I instantiate the DataService directly from my App, I won't be able to use the "Connect" button and I won't see the connection status from the Kura web UI (see picture attached)
![kura-cloud](https://user-images.githubusercontent.com/26559293/29788508-e24ffaee-8c00-11e7-9bf6-05c1ecb403f7.png).

[2017-08-28 19:10] MMaiero commented on #1600
Correct. But, in general, you create a cloud stack in advance and you don't need to create from scratch by your application.

What you need is to define the properties of the stack. Then your application needs to take a reference of the corresponding DataService, instead of taking a CloudClient. In this way, you will be able to publish messages (you'll need to define the full topic by your applica

[2017-08-29 07:20] OrangeAlex commented on #1605
@MMaiero  thank you for your information ,  but i have a question that how to install the OPC UA driver and server simulator， according the document on the official , we must install OPC UA driver via the Eclipse Kura Marketplace, but you konw i install the kura on the Raspberry Pi , so  how do i do to install them?

[2017-08-29 07:25] MMaiero commented on #1605
It's pretty easy:

- open your Kura web ui and access the Packages page.
- in another browser window open the eclipse marketplace page
- drag and drop the install button to the specific area in the Kura Web UI.

Best regards,
Matteo

[2017-08-29 08:07] markoer opened #1619 "[Testing] Add tests for emulated WatchdogService"
Add a few tests for emulated WatchdogService (org.eclipse.kura.emulator.watchdog).

[2017-08-29 10:18] MMaiero commented on #1573
Closing, since there is no update. You can reopen it at any time ​if needed.

[2017-08-29 10:18] #1573 closed, assigned to nobody

[2017-08-29 10:19] MMaiero commented on #1597
Closing, since there is no update. You can reopen it at any time if needed.

[2017-08-29 10:19] #1597 closed, assigned to nobody

[2017-08-29 10:20] MMaiero commented on #1605
Closing, since the issue seems to be solved.

[2017-08-29 10:20] #1605 closed, assigned to nobody

[2017-08-29 10:22] MMaiero commented on #1617
Can we close this @markoer?

[2017-08-29 10:22] markoer commented on #1617
Yes. Tests were added and merged.

[2017-08-29 10:22] #1617 closed, assigned to nobody

[2017-08-29 10:35] MMaiero commented on #1619
#1620 is now merged

[2017-08-29 10:37] markoer commented on #1619
Tests added and PR merged. Closing.

[2017-08-29 10:37] #1619 closed, assigned to nobody

[2017-08-29 10:37] MMaiero commented on #1613
#1614 is now merged

[2017-08-29 10:38] markoer commented on #1613
Closing due to merge.

[2017-08-29 10:38] #1613 closed, assigned to nobody

[2017-08-29 15:07] markoer opened #1621 "[Testing] Add AssetCloudlet tests"
Add a few unit tests.

[2017-08-30 03:47] OrangeAlex commented on #1601
@MMaiero  i have install kura on the Raspberry Pi , so you can close this issue

[2017-08-30 06:34] OrangeAlex opened #1623 "How to use Kura Wires"
Hi , i have install Kura on the Raspberry Pi , meanwhile ,  i have install the OPC UA server simulator and OPC UA  Driver , however  i don not konw how to use them , where can i get more detail introduce or guild document except official web? i am very wondering to access the OPC UA device via Kura on the Raspberry Pi

[2017-08-30 07:33] markoer commented on #1569
Tests added, PRs merged.

[2017-08-30 07:33] #1569 closed, assigned to nobody

[2017-08-30 07:41] amitjoy commented on #1623
@OrangeAlex The detailed documentation on Kura Wires is available online. For insight into how to use Kura Wires, please refer to the presentation videos.

[2017-08-30 15:06] markoer opened #1626 "[Testing] Add OpcUaDriver tests"
Add unit/integration tests for OpcUaDriver.

[2017-08-31 13:23] nicolatimeus opened #1630 "Wifi password check failing"
Wifi password check triggered using the Web UI button can occasionally fail, this is probably caused by the following issues:

* Password check might be triggered when the Wifi interface is in MASTER mode and with `hostapd` running. In this case the temporary `wpa_suppicant` instance used for the check fails during my tests.
* There are some synchronisation problems with `WifiMonitorServiceImpl`:

[2017-08-31 13:58] #1623 closed, assigned to nobody

[2017-08-31 13:58] #1601 closed, assigned to nobody

[2017-08-31 14:35] MMaiero opened #1632 "Cleanup old scripts in distrib/resources folder"
Consider an investigation and a cleanup of all the old script/files in the distrib/resources folder.
A corresponding cleanup of the ANT files is needed as well

[2017-08-31 20:59] coalpower commented on #1600
@MMaiero  At the beginning, I was testing with "org.eclipse.kura.example.publisher" and this example is using the CloudService API which doesn't work with IBM Watson IoT Platform because of the topic generated by the CloudService. Following your advice, I created my own "publisher app" based on the example but, instead of using CloudService, I use the DataService API. That way, I was able to make

[2017-09-01 07:03] markoer commented on #1478
bundle: com.codahale.metrics.core
mvn:
`io.dropwizard.metrics : metrics-core : 3.2.2 : Apache License 2.0 : https://github.com/dropwizard/metrics`

[2017-09-01 07:05] MMaiero commented on #1600
Great! SO I believe we can close for now. Don't hesitate to reopen this issue if needed.

Best regards

[2017-09-01 07:05] #1600 closed, assigned to nobody

[2017-09-01 08:56] OrangeAlex opened #1633 "Some Problem about Kura Wires"
Hi,
    After i install the Kura on the Raspberry and then  i  install the OPC UA simulator and OPC UA Driver on it . So  i fellow the tutorial Titled "OPC/UA application in Kura Wires",and configure the simulator port :1234
and then i configure the OPC UA Diver IP:localhost,Port:1234 , and then i use the Wires , Add four components like tutorial show, and then i connect them. According last sente

[2017-09-01 10:21] #153 closed

[2017-09-01 12:08] MMaiero commented on #1633
Hi,
the log is the kura.log file available in the /var/log folder.
The publisher component publishes mqtt messages to a configured remote broker. So, to have a look at the published messages, you should have a look at your remote mqtt broker.

Best regards,
Matteo

[2017-09-01 13:24] markoer opened #1634 "[Testing] Add S7 driver tests"
Add a few tests of S7PlcDriver.

[2017-09-04 02:31] OrangeAlex commented on #1633
@MMaiero  hi , MMaiero, I hava chech the log under the path /var/log/kura.log,  i found some error info as fellows :[DefaultQuartzScheduler_Worker-3]ERROR o.e.k.i.w.a.WireAsset - OpcUaMessages.errorRetrievingNodeId
this info appears 6 times at the same time in the log , so i think it has some error during the message delivering, so  how to deal with it ?
Meanwhile , i want to know how to use the k

[2017-09-04 06:37] MMaiero commented on #1633
Did you properly configure the driver to connect to the opc-ua server?
Did you double check the matching of the channels with the ones specified in the documentation? Please consider that also the case is important.

Regarding the connection to a real device, in theory, what you'll need to change is the endpoint in the driver and the channels in the asset. But here everything depends on the target

[2017-09-04 07:38] OrangeAlex commented on #1633
@MMaiero my configuration as fellows:
OPCUA Server Demo:
server.port
The server listening port:1234
OPC UA Driver:
endpoint.ip
OPC-UA Endpoint IP Address:localhost
endpoint.port
OPC-UA Endpoint Port:1234
server.name
OPC-UA Server Name:empty
session.timeout
Session Timeout(in seconds):120
request.timeout
Request timeout(in seconds):60
application.name
OPC-UA application name:opc-ua client
applicati

[2017-09-04 08:39] MMaiero commented on #1633
No.

[2017-09-04 08:41] MMaiero commented on #1633
Not at the moment. I believe the best option is to post the log from kura.log and kura-console.log, in order to see if there is something strange there.
Which is the asset configuration?

[2017-09-04 08:59] OrangeAlex commented on #1633
@MMaiero  hi MMaiero, in the Kura Wires, I create asset component with six Channels base on OPCUA Driver , the configuration as fellows :
name    type              value type      OpcUaMessages.nodeId         OpcUaMessages.nodeNamespaceIndex
fan       READ_WRITE  INTEGER            fan                                             2
buzzer        READ       INTEGER            buzzer

[2017-09-04 12:25] markoer opened #1636 "[Testing] Add Linux GPIO tests"
Add tests of classes in org.eclipse.kura.linux.gpio package.

[2017-09-05 08:37] pierantoniomerlino opened #1638 "Kura does not support Consistent Network Device Naming"
The last Raspian Stretch image (Release date: 2017-08-16) [1] supports by default the Consistent Network Device Naming feature [2], [3]. Kura uses the eth0 interface as primary network interface and uses it to set up several components. If the CNDN is enabled, Kura fails to start and the webUI is not shown in the browser.

Since this new feature will become common in new distros, Kura should suppo

[2017-09-05 09:26] markoer opened #1639 "[Testing] Add linux.clock tests"
Add tests for org.eclipse.kura.linux.clock.

Fix issue in GpsClockSyncProvider that allows it to react to events that contain any part of `org/eclipse/kura/position/locked` topic.

[2017-09-05 13:20] #1511 closed, assigned to ctron, nicolatimeus

[2017-09-06 02:49] OrangeAlex commented on #1633
@MMaiero  would you have some good suggestion about my problem?

[2017-09-06 07:58] MMaiero commented on #1633
Hi,
I'm still waiting for your kura.log and kura-console.log files in order to perform some checks and analysis there.

I suspect that your issue can be caused by the locale you are using in the raspberry.

Best regards,
Matteo

[2017-09-06 08:08] nicolatimeus opened #1641 "Oomph installer needs to be updated"
Oomph installer needs to be updated to add support to the new REST bundles and Artemis Broker

[2017-09-06 09:30] nicolatimeus opened #1644 "[Artemis] MQTT clients fail to reconnect after the broker is restarted"
Stopping and restarting embedded Artemis broker instances might cause a previously connected client to fail to reconnect.
Steps to reproduce:
1. Enable the **Simple Artemis MQTT Broker** or the **ActiveMQ Artemis Broker**.
2. Connect a Kura Cloud Service instance to the broker.
3. Stop and restart the broker.
4. Try to reconnect the client.

After repeating steps 3 and 4 a couple of times the clou

[2017-09-06 10:02] OrangeAlex commented on #1633
[kura-console.log.txt](https://github.com/eclipse/kura/files/1280639/kura-console.log.txt)

[kura.log.zip](https://github.com/eclipse/kura/files/1280655/kura.log.zip)

@MMaiero  hi MMaiero, the attachment is the log of my Kura, so  i have no experience to find the error , please give me some suggestion, thank you very much

[2017-09-06 11:19] ctron commented on #1644
The first issue already was tracked: https://issues.apache.org/jira/browse/ARTEMIS-1218
The second issue is now tracked at: https://issues.apache.org/jira/browse/ARTEMIS-1391

[2017-09-06 12:07] nicolatimeus opened #1645 "Development environment needs to be updated"
Kura dev-env needs to be updated to add support to the new REST bundles and Artemis Broker

[2017-09-06 12:32] #1023 closed, assigned to MMaiero

[2017-09-06 12:59] markoer commented on #1621
Tests added, PR merged.

[2017-09-06 12:59] #1621 closed, assigned to nobody

[2017-09-06 13:42] austindsouza opened #1648 "How to deploy Kura deployment package with parameter"
Hi,

I have an use case where I need to deploy a Kura OSGI plugin from our UI to the running emulator.
And when the package starts I need to create a table in JDBC database dynamically.

My question here is
Is it possible to pass the name of the table as a parameter in curl command and read it in the OSGI plugin so that to set the table name as passed parameter value as the table name?

To upload

[2017-09-06 13:46] #1641 closed, assigned to nobody

[2017-09-06 13:51] #1645 closed, assigned to nobody

[2017-09-06 14:54] MMaiero commented on #1633
Could you please try to switch your locale setup to English/us?
We have found an issue with drivers that we are currently solving.
Maybe that could help.

[2017-09-06 15:17] markoer commented on #1626
Tests added, PRs merged.

[2017-09-06 15:17] #1626 closed, assigned to nobody

[2017-09-06 15:19] markoer commented on #1636
Tests added, PR merged.

[2017-09-06 15:19] #1636 closed, assigned to nobody

[2017-09-06 15:51] #1630 closed, assigned to nobody

[2017-09-06 16:57] dwoodard1 commented on #1478
@MMaiero @cdealti @markoer I would like to file the CQ for build and test dependencies today (or tomorrow at the latest). Is the below four all we need? If not, please add what is needed. If so, please give a +1 as soon as you can.

org.honton.chas : exists-maven-plugin : 0.0.3
biz.aQute.bnd : bnd-baseline-maven-plugin : 3.4.0
de.dentrassi.maven : osgi-dp : 0.3.0
io.dropwizard.metrics : metrics-co

[2017-09-07 03:55] OrangeAlex commented on #1633
@MMaiero hi MMaiero, i reset the locale setup to English/us, and then i delete the all the component in the Wires, and then  i create  three new component "Timer","Asset"base on OPCUA Driver ,"Logger",and the Asset has four channel, the node id is "fan","temperatureSensor","led","waterSensor", i connected them together , and click the button "Apply" on the web , i chech the logger , I think the pr

[2017-09-07 09:56] MMaiero commented on #1517
@pierantoniomerlino Can this be closed?

[2017-09-07 09:57] MMaiero commented on #1442
I believe this can be closed, right?

[2017-09-07 09:57] MMaiero commented on #1447
Can this be closed? @pierantoniomerlino

[2017-09-07 09:58] MMaiero commented on #1412
Can this be closed? @pierantoniomerlino

[2017-09-07 09:58] MMaiero commented on #1411
Can this be closed? @pierantoniomerlino

[2017-09-07 09:58] #1410 closed, assigned to pierantoniomerlino

[2017-09-07 09:59] MMaiero commented on #1409
new APIs implemented. We decided for the time being to not deprecate the old APIs.

Can this be closed? @pierantoniomerlino

[2017-09-07 10:00] MMaiero commented on #1395
Closing since there are no updates for a long time. Please reopen it, if needed.

[2017-09-07 10:00] #1395 closed, assigned to nobody

[2017-09-07 10:01] pierantoniomerlino commented on #1517
Yes!

[2017-09-07 10:01] MMaiero commented on #1310
Closing for now. Please reopen it if needed.

[2017-09-07 10:01] #1310 closed, assigned to nobody

[2017-09-07 10:02] #1517 closed, assigned to pierantoniomerlino

[2017-09-07 10:02] pierantoniomerlino commented on #1442
Yes!

[2017-09-07 10:02] pierantoniomerlino commented on #1447
Yes!

[2017-09-07 10:03] #1412 closed, assigned to pierantoniomerlino

[2017-09-07 10:04] #1411 closed, assigned to pierantoniomerlino

[2017-09-07 10:04] #1409 closed, assigned to pierantoniomerlino

[2017-09-07 10:05] #1442 closed, assigned to pierantoniomerlino

[2017-09-07 10:05] #1447 closed, assigned to cdealti, pierantoniomerlino

[2017-09-07 10:10] #1418 closed, assigned to nicolatimeus

[2017-09-07 10:41] markoer commented on #1634
Tests added, PRs merged.

[2017-09-07 10:41] #1634 closed, assigned to nobody

[2017-09-07 12:28] MMaiero commented on #1633
This is the normal behaviour. If you don't see exceptions in the log, I believe you are ok.

That depends on your needs. If you set a higher frequency in the timer, then more frequently the OPC-UA device will be polled and the data retrieved.

If you have set a logger after the asset you can see that the messages are logged. Setting the log level to "Verbose" you can have a look at what was retrie

[2017-09-07 13:21] markoer opened #1652 "[Testing] Add linux.watchdog tests"
Add a few tests of org.eclipse.kura.linux.watchdog package classes.

[2017-09-07 15:27] markoer commented on #1652
Tests added, PR merged.

[2017-09-07 15:27] #1652 closed, assigned to nobody

[2017-09-07 15:32] markoer opened #1654 "[Testing] Add linux.usb tests"
Add org.eclipse.kura.linux.usb package tests, if possible.