[2016-11-30 14:23] MMaiero commented on #873
Which JVM are you using?

[2016-11-30 14:29] MMaiero commented on #873
http://stackoverflow.com/questions/34110426/does-java-support-lets-encrypt-certificates

[2016-11-30 14:30] markoer opened #876 "[Kura 2.1.0 QA] Disabling eth0 interface doesn't work properly"
Disabling the eth0 interface and apply the configuration in Kura web UI. The interface will not be disabled (still accessible over ehternet, ifconfig still shows eth0 configuration), but Kura will show it as such.

Kura 2.1.0 build 12, Raspberry Pi 3

[2016-11-30 14:47] markoer opened #877 "[Kura 2.1.0 QA] eth0 netmask configuration"
2 similar cases are covered:

1. 16-bit netmask

Disable eth0 interface in Kura web UI.
Apply the configuration. Interface is not actually disabled (#876).
Now configure it as:
  * Enabled for WAN
  * Manually
  * add IP Address and Gateway IP
  * add netmask 255.255.0.0

Apply configuration.
As a result the actual applied netmask will be 255.255.255.0 and Kura's config will show 255.255.0.0.

2.

[2016-11-30 15:17] ctron commented on #863
Since this is a factory, this is expected.

[2016-11-30 15:25] markoer opened #879 "[Kura 2.1.0 QA] Raspberry Pi 3 nameserver"
Test case NET-ETH0-011 from #788 includes the following configuration:

On Network->eth0 DHCP & NAT page, set the following
Router Mode: DHCP and NAT
DHCP Beginning Address: 192.168.1.10
DHCP Ending Address: 192.168.1.254
DHCP Subnet Mask: 255.255.255.0
DHCP Default Lease Time: 900
DHCP Max Lease Time: 900
Pass DNS Servers through DHCP: yes

When this is applied, the test case expects the bind (na

[2016-11-30 15:27] ctron commented on #812
I ran into some additional issues with JavaDoc.

The current way Javadoc is being configured requires to early-build to "generate-sources". This is done from the main build "manifest_pom.xml". However if some task up to generate-sources (like the Web UI) requires already those dependencies, then the javadoc generation will fail with dependency resolution issues.

I would suggest to drop the defaul

[2016-11-30 15:39] markoer opened #880 "[Kura 2.1.0 QA] Available Radio modes in wireless interface Station Mode"
Test case NET-WIFI-003 from #788 expects Radio mode 802.11g/b to be selected in Station Mode under System->Network->wlan0->Wireless.

Only 802.11n/g/b is available and combo box is disabled.

Kura 2.1.0 build 12, Raspberry Pi 3

[2016-11-30 15:42] #234 closed

[2016-11-30 17:05] dwoodard1 commented on #812
Maybe we are making this too complicated. We just need Javadocs for the API bundle, correct? This is what we have done previously and it seemed to work okay.

[2016-11-30 17:09] ctron commented on #812
Again, if we use the "Tycho Document Bundle plugin", then we can let it generate all Javadocs in a single run, at the end of the build for a set (or a single) P2 feature. Which we will have anyway in the end of a P2 build. That should be easy and yet cover most of the stuff we want to be public.

[2016-12-01 08:40] #863 closed

[2016-12-01 08:42] cdealti commented on #864
@markoer it's by design. We'll take a look after 2.1.0 is out

[2016-12-01 08:43] cdealti commented on #866
@markoer we'll take a look after 2.1.0 is out

[2016-12-01 08:55] cdealti commented on #867
@markoer please mention the Test ID.

[2016-12-01 08:59] cdealti commented on #873
@markoer The workaround is to manually install the CA certificate to the default Java keystore.

BTW, are you using the latest Debian with all the updates?

[2016-12-01 09:04] cdealti commented on #874
@markoer it may take some time to update resolv.conf. Can you please recheck?

[2016-12-01 09:07] cdealti commented on #876
@markoer It will take some time to disable eth0.
Note: Kura doesn't bring the interface down. It disables the interface by removing it's IP address.
Can you post the output of the command "ip"?

[2016-12-01 09:13] cdealti commented on #877
1) It may take some time to apply the changes. Can you wait longer before you check the netmask with ``ip``

2) This is a corner case. I don't know of any such usage with Ethernet.

[2016-12-01 09:14] markoer commented on #873
System is as specified in the first comment with Monday's updates.

[2016-12-01 09:16] cdealti commented on #879
@markoer it may take some time to apply the configuration and restart named. Can you please recheck waiting longer?

[2016-12-01 09:22] cdealti commented on #880
@markoer I believe it depends on how the WiFi driver reports the available modulations.
We will take a look but it's likely this is the only option on the RPI 3.

[2016-12-01 09:26] markoer commented on #876
The interface is still up and running, even after a few minutes. Device is still accessible over eth0 without a problem.

[code]

[code]

[2016-12-01 09:44] markoer commented on #877
1. I find that `ifconfig` returns a bit nicer output. Anyway, the changes are normally updated rather fast - as soon as the UI closes the modal waiting indicator. And it seems also a second netmask update actually updates it. So - netmask is updated in case IP changes or netmask is updated the second time. If IP remains the same as before, netmask is not properly set the first time.

2. That's wha

[2016-12-01 10:18] markoer commented on #879
Waiting a bit longer might actually have helped. Or it might have been a result of otherwise disabled wlan0 coming back online at roughly the same time (but not in Kura).
Also switching `Pass DNS Servers through DHCP` on and off doesn't have the same effect as on wlan0 interface. With wlan0 named is started/stopped as a result of the switch.

[2016-12-01 10:21] markoer commented on #880
What is strange is that in Access Point mode 3 options are available: b, g/b, n/g/b.

[2016-12-01 10:51] MMaiero commented on #743
@ctron Could you please send me the result of the following commands?

- `iw dev wlan0 info`

- `iwconfig wlan0`

Thanks

[2016-12-01 12:36] ctron commented on #743
Looks like an easy problem now:

[code]

[2016-12-01 12:41] ctron commented on #743
However I would expect some output like that in the Kura log file.

[2016-12-01 12:45] MMaiero commented on #743
What fedberry image are you running?
Did you follow the instructions provided by @ccustine? https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/resources/fedorapi/README.md

[2016-12-01 13:11] ctron commented on #743
[code]

No, but that doesn't seem to include the fix anyway:

[code]

[2016-12-01 13:15] ctron commented on #743
The install and a reboot did solve the issue. So I think the README should be fixed up, since there are a few things off.

[2016-12-01 13:27] ctron opened #883 "Invalid field validation state when switching from WAN to LAN"
In the network UI:

Pre-conditions:
* eth0 is configured for WAN with DHCP

Steps:
* Select "manual" for eth0
* Clear the "gateway" field, may already be empty
* Press save -> error, OK
* Select "LAN" for eth0
* Press save -> error -> NOT OK

The field is no longer required when the mode is switched from WAN to LAN, but the field validation is not reset.

[2016-12-01 13:58] pablochacin commented on #773
@MMaiero  The problem with the client-id persists using nm version. However, now I see this message: "Framework is not running in emulation mode", do I need to setup something to launch Kura in emulator mode?

Please take into consideration that the DataService is configure to auto-connect at startup time. I'm not using the web interface to connect the device.

[2016-12-01 14:04] MMaiero commented on #773
if you are running Kura in a docker container you must use no-network (**nn**) version

[2016-12-01 14:09] pablochacin commented on #773
Sorry for the typo, that's what I meant in my previous post. I0m using the nn version
`kura_2.0.2_raspberry-pi-nn_installer.deb`

[2016-12-01 14:16] dwoodard1 commented on #773
@MMaiero I have seen this error as well. I haven't looked into it, but I am guessing it is related to #823

[2016-12-01 23:41] ibinshtok commented on #867
I tried NET-ETH0-001 and NET-ETH0-003 today on a Pi2 running this image:Linux eurotech-pi 4.1.7-v7+ #817 SMP PREEMPT Sat Sep 19 15:32:00 BST 2015 armv7l GNU/Linux, and it worked for me.
Yes, I saw that gateway can't be set if interface is configured for LAN, but I believe this is desirable behaviour since Kura only allows setting default gateway on a WAN interface.
But I did not see any other issu

[2016-12-02 08:22] #763 closed

[2016-12-02 08:25] #672 closed

[2016-12-02 08:51] markoer commented on #867
Network Manager is not running:
[code]

Starting point: Enabled for WAN, DHCP:
[code]

Set Configure to Manually, specify the appropriate GW (the same IP as before):
[code]

I see you used a different kernel and possibly a different distro. I'm using Raspbian GNU/Linux 8. Maybe that's the reason for the different behavior.

[2016-12-02 09:45] cdealti commented on #796
@ctron Please let me know if you can take care of this task. I'll let you know later on where we can share/archive the validation spreadsheet. I would really like to have all the QA completed by the end on next week.

[2016-12-02 11:26] amitjoy commented on #857
`Preconditions` is being used by the Wires related POJOs hence it is placed in `org.eclipse.kura` top level package. We still can move it to utility bundle but in such a scenario, API would depend on utility bundle which makes it a bit unusual as the API bundle must be always the one to start first. Then the rest of the bundle.

[2016-12-02 12:59] ctron commented on #857
Can you point me to a location in API where a dependency to utils would then be triggered?!

[2016-12-02 14:14] MMaiero commented on #743
So, I've just received a rpi 3, installed a fresh fedberry-minimal-24.1-rc1, executed `dnf -y install unzip psmisc tar telnet bind iptables iptables-services dhcp hostapd dos2unix wireless-tools net-tools java-1.8.0-openjdk-headless` as specified [here](https://github.com/eclipse/kura/blob/release-2.1.0/kura/distrib/src/main/resources/fedorapi/README.md) and installed kura built from the release-2

[2016-12-02 14:43] ctron commented on #743
See my last comment ... yes:

[2016-12-02 14:44] MMaiero commented on #743
Oh, missed that. So I close the issue

[2016-12-02 14:44] #743 closed

[2016-12-02 14:51] #742 closed

[2016-12-02 15:03] djurod commented on #833
Could we resume this discussion?

So just to give a little overview of how we came to have (pure) unit tests in .test bundle fragments. Initially we wanted to have unit tests inside the bundle that we are testing, but the issue that moved us into the direction to have unit tests in the .test bundle fragments was a concern that dependencies for the tests would then also become the dependencies of t

[2016-12-02 21:27] dwoodard1 commented on #186
I believe this can be closed based on the linked blog posts, correct?

[2016-12-02 21:28] dwoodard1 commented on #796
@ctron This is the last KURA-2.1.0 milestone issue assigned to you. Do you have an update?

[2016-12-05 08:16] #186 closed

[2016-12-05 08:20] ctron commented on #833
So where is the benefit in that? I only see disadvantages. You would have two different compiler systems running in one project (which already causes troubles), you will have two different testing systems (which probably also causes some issues), you have problems with dependencies (as build.properties is not evaluated by Tycho).

So if we are using Tycho as build environment, an we could definite

[2016-12-05 10:01] markoer commented on #788
NET-FW-001 test case should be updated with more specific preconditions:
* wlan0 enabled and configured for lan as in NET-WIFI-001
* set DROP policy on INPUT in firewall, otherwise all will be allowed, anyway: ```iptables --policy INPUT DROP```

[2016-12-05 10:14] markoer opened #889 "[Kura 2.1.0 QA] Denali Configuration ExamplePublisher error descriptions"
Error messages are misleading for long, integer, short, double, float, byte: message says 'smaller', but should be 'smaller or equal' on the high limit, and 'greater' where it should be 'greater or equal' on low limit. It could otherwise specify a different (higher/lower) number (e.g. 4294967297 for long).

Test cases DEN-CONF-005 - DEN-CONF-029 from #788.

Other notes on these tests:
DEN-CONF-016

[2016-12-05 10:30] #859 closed

[2016-12-05 10:34] #860 closed

[2016-12-05 13:37] markoer opened #890 "[Kura 2.1.0 QA] Snapshot management in web UI"
DEN-SNAP-002 from #788 requires snapshot to be rolled back. The UI mentions possibility of a timeout after which manual refresh is necessary.

The issue is that the timeout probably didn't occur - it was definitely not indicated in any way in the UI, and the operation was rather fast - but UI data was not refreshed. ExamplePublisher's configuration remained as it was before the rollback until manu

[2016-12-05 13:46] cdealti commented on #833
@ctron do you plan to remove ``src/test/java`` from ``org.eclipse.kura.camel``?

[2016-12-05 14:04] ctron commented on #833
I would go for that, yes.

[2016-12-05 14:12] markoer opened #891 "[Web UI] Add file extension filter to file selection dialog(s)"
DEN-SNAP-004 from #788 expects an XML file to be uploaded to Kura. It would be nice to have a .XML file filter available and selected by default so that not all files are displayed.

Kura 2.1.0 build 12

[2016-12-05 14:23] markoer opened #892 "[Kura 2.1.0 QA] DEN-CLOCK-001 test case failures"
DEN-CLOCK-001 test from #788 is missing a rather important precondition: a working clock service configuration. It may require only a server change or possibly other changes. In the end the log should no longer display the clock synchronization issues.

The other issue is that after reboot the date is re-synched with the server.

Kura 2.1.0 build 12, Raspberry Pi 3, Raspbian GNU/Linux 8, `Linux ra

[2016-12-05 14:52] markoer opened #893 "[Kura 2.1.0 QA] GPIO example bundle configuration"
PTC-GPIO-003 from #788 envisages a few configuration parameters to be set to different values and stored. What actually happens and log and page reload confirm it is that only pins are stored and the rest of the configuration is discarded:

[code]

GPIO bundle from release-2.1.0 branch, commit e38afd4

[2016-12-05 15:28] cdealti commented on #833
those ``org.eclipse.kura.camel`` tests are Unit Tests and may require access to the internal packages of ``org.eclipse.kura.camel``. Moving them to an ``eclipse-test-plugin`` would require the Fragment-Host header in the test plugin.

[2016-12-05 15:43] markoer opened #894 "[Kura 2.1.0 QA] Browse button alignment in Firefox"
System-Device->Command and System->Settings->Snapshots->Upload and Apply
Browse button is not properly aligned with the row:
![browse](https://cloud.githubusercontent.com/assets/22816717/20890881/e341e404-bb08-11e6-8375-3db149e2613a.png)

In Chrome and IE it's OK.

Kura 2.1.0 build 12, Firefox 43.0.1

[2016-12-05 15:54] cdealti commented on #892
Do you mean the Test description needs to be updated?

Can you please check if ``ntpd`` is running on the RPI?

[2016-12-05 16:01] markoer commented on #892
That's true on the first issue, yes. I'll check the second.

[2016-12-05 16:10] markoer opened #895 "[Kura 2.1.0 QA] Refreshing configuration in web UI"
Forms are not properly refreshed with applied data when configuration is updated.

Example:
* Procedure:
  * System-Cloud Services->DataService
  * update connect.retry-interval from 60 to 600
  * Apply
  * update disconnect.quiesce-timeout from 10 to 100
  * Reset

* Expected results:
  * connect.retry-interval is 600
  * disconnect.quiesce-timeout is 10

* Actual results:
  * connect.retry-inter

[2016-12-05 16:11] ctron commented on #833
Yes, it would. That is how test fragments work.

[2016-12-05 16:15] ctron commented on #833
If you have a look [1], most of the tests for this bundle already follow this pattern. It is only a single test left which needs to be moved over.

[1] https://github.com/eclipse/kura/tree/develop/kura/org.eclipse.kura.camel.test

[2016-12-05 16:20] ctron commented on #894
I think this is already fixed on `develop`

[2016-12-05 20:52] dwoodard1 commented on #812
@ctron @cdealti Have a look at #896 . The documentation for the Tycho bundle isn't great, but it does seem to be a good fit for our style project. Let me know what you think.

[2016-12-05 22:51] ibinshtok commented on #867
I was able to recreate this issue on RP 3 imaged as shown below:
1. Installed the 2016-11-25-raspbian-jessie.img
2. Installed, ethtool, hostapd, bind9, telnet, isc-dhcp-server, and vim packages
3. Ran "apt-get update", and "apt-get upgrade"
And I did not even have to install Kura to see it. I looked at the /etc/network/interfaces file and noted that the eth0 interface (as well as wlan0) is set to

[2016-12-06 08:33] ctron commented on #857
I can't find any dependency which would be introduced by that change. So I guess we can ignore this and move the classes to "utils".

[2016-12-06 10:08] amitjoy commented on #857
In wire, type, asset and driver

[2016-12-06 12:54] cdealti commented on #871
In whatever order, the connection should be eventually established.
I usually configure the MqttDataTransport first but it should work in the reverse order.

Can you post the relevant logs?

[2016-12-06 13:07] cdealti commented on #890
Minor glitches. Postponed

[2016-12-06 13:08] cdealti commented on #891
An improvement. Postponed

[2016-12-06 13:10] cdealti commented on #892
@markoer any updates on this?

[2016-12-06 13:27] #894 closed

[2016-12-06 13:27] cdealti commented on #894
Yes

[2016-12-06 13:39] cdealti commented on #850
Any confirm gdebi works?

[2016-12-06 13:50] cdealti commented on #861
Minor thing:

 https://github.com/eclipse/kura/blob/release-2.1.0/kura/org.eclipse.kura.core/src/main/java/org/eclipse/kura/core/system/SystemServiceImpl.java#L316

Posponed

[2016-12-06 13:52] cdealti commented on #862
The NTP servers are a configuration property of the Cloud Service.
The ``ntpd`` service is not supposed to run.

Can we close?

[2016-12-06 14:03] markoer commented on #862
I suppose it's OK to close, but preconditions for clock service tests should be updated. They should state that an appropriate NTP server must be configured.

[2016-12-06 14:18] ctron commented on #857
Thanks. The only check that I see is "checkNull" .. So I would suggest to use Objects.requireNonNull in this case and move Preconditions class to "utils".

[2016-12-06 14:45] cdealti commented on #873
@markoer can you please to manually install the Let's encrypt certificate and add a note to the validation with the steps needed?

[2016-12-06 15:52] markoer commented on #871
If data service is enabled/connected before the broker is properly configured, the (perfectly expected) exception will occur due to the broker's URL being `tcp://broker-url:1883`. If broker is configured first, this log can be avoided.

[code]

[2016-12-06 15:52] pierantoniomerlino commented on #877
1. 16-bit netmask

As reported in #867, the `dhcpcd` service is normally running on the RPi3. So, the netmask is updated by the dhcp server even if the user configured a static IP from Kura webUI. Removing (`apt-get purge dhcpcd5`) and killing the service fixes the issue.

2. 32-bit netmask

I agree that this is a corner case, however if the user sets a 255.255.255.255 netmask, the interface is ac

[2016-12-06 17:02] markoer commented on #873
I installed on RPI1 and RPi3 and verified that it works with Let's encrypt certificate. I also updated my version of the validation spreadsheet.
Can be closed.

[2016-12-07 09:12] pierantoniomerlino commented on #874
It seems that `dhcpcd5` can interfere with DNS settings (see #867). @markoer Could you please try again removing this package from the system (sudo apt-get purge dhcpcd5)?

[2016-12-07 09:28] cdealti commented on #867
@ibinshtok nice catch.
It looks like the issue is well known and not new:

https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=111709

We must include this in the install documentation

[2016-12-07 09:57] pierantoniomerlino commented on #876
@cdealti @markoer Also in this case, the issue is related to `dhcpcd5` (see #867). Please remove the package (`sudo apt-get purge dhcpcd5`) and kill the service.

[2016-12-07 10:06] MMaiero commented on #867
@cdealti Yes, yesterday with @ibinshtok we decided to document the issue here and to open another issue in order to track the needed change to the documentation

[2016-12-07 10:11] cdealti commented on #796
@ctron Instructions are [here](https://github.com/eclipse/kura/tree/develop/kura/distrib/src/main/resources/fedorapi) and as far as I know these are correct.

About the JVM for the Fedora installer, Open JDK from Fedora package should be enough

[2016-12-07 10:22] markoer commented on #892
ntpd was indeed running. If it is disabled, the date gets set to some other date, neither one from ntp server, nor one out of one of the recent snapshots.

[2016-12-07 10:29] cdealti commented on #892
So test DEN-CLOCK-001 passes if ntpd is disabled?
In that case I would close this, taking note of disabling ntpd in the install instructions.
Can you please track this in you revision of the validation spreadsheet?

[2016-12-07 10:41] pierantoniomerlino commented on #879
@markoer @cdealti I wasn't able to reproduce this issue on my RPi3. Bind service is correctly restarted when a modification is done on the eth0 interface.

[2016-12-07 10:47] ctron opened #900 "[Kura 2.1.0 QA] usbutils missing in fedberry README"
In the Fedberry README the RPM `usbutils` seems to be missing. Unless it is not more required.

[2016-12-07 10:52] cdealti commented on #879
@pierantoniomerlino thanks
@markoer the Kura netadmin can be painfully slow to bring up the intended configuration.
There are in the netadmin some monitor threads that run every 30s so you may have to wait that interval or even more before the intended network configuration is into effect.

I would try like that: apply the configuration from the Web UI, wait 60s and check the expected configuratio

[2016-12-07 11:15] ctron opened #901 "[Kura 2.1.0 QA] changing username/password locks out admin access"
Changing the credentials as requested in DEN-003 brings the system in a state that you can no longer log on. The newly created username/password combination does not get accepted by Kura.

[2016-12-07 12:19] markoer opened #902 "[Kura 2.1.0 QA] Stack traces are shown in user error messages"
User is presented with error messages such as this one if something unexpected happens in web UI:
[code]

The expected beahvior would be to present a human-readable error to the user and log the rest.

Kura 2.1.0 build 12

[2016-12-07 12:28] markoer commented on #901
I tested this using Kura 2.1.0 build 12 on Raspberry Pi 3 with Chrome, FF and IE without problems. Either changing password or both username and password. I did not reboot the device before trying to log back in.
Maybe something changed between the commit of that build and the one you used, just as a hint for investigation.

[2016-12-07 12:28] ctron opened #903 "[Kura 2.1.0 QA] Impossible to enter multiple DNS servers"
Test NET-ETH0-003 requires to enter the "appropriate" DNS servers. I do have 5 to enter and the help text in the Kura UI says "List of DNS server" and that new server can be added by clicking apply. However the is only one input field, also after pressing "apply".

[2016-12-07 12:33] ctron opened #904 "[Kura 2.1.0 QA] exception when enabling DataService"
Setting the DataService to "autoconnect = true" triggers the following exception in the UI:

[code]

In the console I do get:

[code]

[2016-12-07 12:42] ctron commented on #904
The same error appeared when entering the broker URI. After a reboot it worked again.

[2016-12-07 12:45] ctron opened #905 "[Kura 2.1.0 QA] Web UI doesn update connection status"
While performing test NET-ETH0-003 and NET-ETH0-004 I noticed that the MQTT connection was established but the UI still shows "disconnected". Reloading the web page shows "connected".

[2016-12-07 12:47] markoer commented on #892
In my opinion the test still does not pass. The end date (after the system boots again) should be the one set manually by `date` command, right? But it is not.

[2016-12-07 13:36] pierantoniomerlino commented on #835
This issue is fixed in #885.

[2016-12-07 13:36] #835 closed

[2016-12-07 13:54] ctron opened #906 "[Kura 2.1.0 QA] Unable to access Web UI - NET-WIFI-002"
When testing NET-WIFI-002 I only received "connection refused"

[code]

[2016-12-07 14:05] ctron opened #908 "Web UI shows its own WLAN for connecting"
When performing test NET-WIFI-003 you are required to select a SSID for connecting. However the dialog for selecting the SSID also shows its own SSID, which should at least be marked as its own.

[2016-12-07 14:08] ctron opened #909 "[Kura 2.1.0 QA] SSID selection dialog too small"
The SSID selection dialog is too small and content overlaps with the background:

![kura_ssid_1](https://cloud.githubusercontent.com/assets/202474/20970680/f34fb204-bc8e-11e6-9a6f-5c0e211e634c.png)

[2016-12-07 14:09] cdealti commented on #892
In the case of the RPI I don't think the system clock is retained across reboots. This expectation may be true on platforms with an RTC battery-backed. I believe the test description has been copied from the one for gateways.

I believe this is not really an issue.

The purpose of the test is to simply check that if the Kura Clock Service has been disabled, after a reboot, the system clock is not

[2016-12-07 14:10] ctron commented on #909
Happens with:
* Mozilla/5.0 (X11; Linux x86_64; rv:45.0) Gecko/20100101 Firefox/45.0
* 54.0.2840.59 (Official Build) (64-bit)

[2016-12-07 14:19] markoer commented on #892
In this case it's OK.
I'll add this to the updated test spreadsheet.

[2016-12-07 14:19] #892 closed

[2016-12-07 14:23] ctron opened #910 "[Kura 2.1.0 QA] Unable to use WLAN as WAN interface"
In test NET-WIFI-003 I am unable to establish a connection to the AP.

The log shows:

[code]

[2016-12-07 14:36] ctron opened #911 "[Kura 2.1.0 QA] SSID selection not always shows all SSIDs"
When testing NET-WIFI-003 I noticed that the SSID not always shows all SSIDs. Sometimes some are missing.

[2016-12-07 14:53] ctron opened #912 "[Kura 2.1.0 QA] Exceptions while deploying example service"
While testing DEN-DEPLOY-001 the following exception hit the log file:

[code]

[2016-12-07 14:54] ctron commented on #912
The package shows as installed, however the service does not show up.

[2016-12-07 14:56] ctron commented on #912
After a reboot (DEN-DEPLOY-003) the service is active.

[2016-12-07 15:09] ctron opened #913 "[Kura 2.1.0 QA] DEN-CONF-003 "publish.semanticTopic" does not exists"
The test description references to "publish.semanticTopic" which does not exists. Probably this should be changed to "publish.appTopic"

[2016-12-07 15:15] ctron opened #914 "[Web UI] Fixed fields can be edited"
By using browser console window "fixed" fields can be edited and the value actually assigned to the configuration:

[code]

[2016-12-07 15:19] ctron opened #915 "[Kura 2.1.0 QA] DEN-CONF-005: Internal message when a "too big" number is entered"
Entering 4294967297 shows a correct error message.

Entering 429496729733333333333 as a number shows the message: `For input string: "-429496729733333333333"`

[2016-12-07 15:22] ctron opened #916 "DEN-CONF-005 Wrong range limit for "long""
In test DEN-CONF-005 the limit for "long" is -4294967296 max 4294967296.

However the 64bit Java long is actually: 9223372036854775807L to -9223372036854775808L [1]

[1] https://docs.oracle.com/javase/7/docs/api/constant-values.html#java.lang.Long.MAX_VALUE

[2016-12-07 15:25] ctron opened #917 "[Kura 2.1.0 QA] Wrong range messages"
This applies to all range validation messages.

When entering "-2147483601" as a value for "integer" you get the following message: "Value must be greater than -2147483600".

However "-2147483600" already is a valid message, but it is not greater than "-2147483600".

[2016-12-07 15:32] ctron commented on #915
Also fails DEN-CONF-016

[2016-12-07 15:34] cdealti commented on #904
@ctron Before starting the QA, have you rebooted at least once after the Kura install?

[2016-12-07 15:37] MMaiero commented on #914
What you mean with:

[2016-12-07 15:37] cdealti commented on #905
The "refresh" glitches of the Web UI are well known. Occasionally we have to manually refresh to see an update.

I will be better with Kura 3.0.0.

I propose to make a note in the QA validation mentioning the extra refresh and close the issue.

[2016-12-07 15:39] MMaiero commented on #905
The icon refresh is invoked only when clicking on the status tab or refreshing the page. It is not invoked by an event. That will be changed in kura 3.0.0 (it is already in develop)

[2016-12-07 15:43] ctron commented on #914
You simply open the browser's debug window ... Shift+Ctrl+C on Linux with Firefox

[2016-12-07 15:43] cdealti commented on #906
Can you provide the iptables output?

Have you rebooted at least once after the Kura install?

[2016-12-07 15:47] ctron commented on #902
This is a duplicate of #572

[2016-12-07 15:48] ctron commented on #904
More than once.

This also happened a second time during the testing.

Rebooting seems to fix this though.

[2016-12-07 15:50] ctron commented on #906
Yes

I have to re-try this, let me know all the details that you need. So I can provide them.

[2016-12-07 15:51] cdealti commented on #908
Do you mean its own SSID is listed in the scan results?

[2016-12-07 15:51] ctron commented on #796
Just recapping from the e-mail.

The referenced file is outdated, the better one is in the release-2.1.0 branch. However also this one is missing the "usbutils" package.

[2016-12-07 15:52] ctron commented on #908
Yes

[2016-12-07 16:04] cdealti commented on #914
@ctron it's not a QA test. Do you mind if I edit the title and postpone this?

[2016-12-07 16:05] ctron commented on #914
Well I do think this is related to the test. The test says you should not be able to modify the value. But I am able to modify the value.

[2016-12-07 16:14] ctron opened #918 "[Kura 2.1.0 QA] DEN-POS-002 Position service keeps reporting old position"
When switching static position reporting from on to off on the raspberry pi on Fedberry, the old position is still shown in the status overview. Although the Raspberry Pi doesn't have a GPS device.

[2016-12-07 16:14] cdealti commented on #914
Modify the value through the Web UI.
The validation is also missing in the server side.
I don't think we will be able to fix it for 2.1.0.

[2016-12-07 16:18] ctron commented on #914
That is the problem with client side validation. You always have to do it on the server side in addition.

Of course you can re-schedule this for 3.0.0. But I would suggest adding a note to the "known issues" section in this case.

[2016-12-07 16:27] cdealti commented on #908
Nice catch. I've never noticed this before. I guess that filtering out the self SSID is feasible but maybe not P1.

[2016-12-07 16:29] ctron commented on #908
True.

[2016-12-07 17:13] ctron opened #919 "[Kura 2.1.0 QA] NET-WIFI-001 Failed to connect to wifi"
When re-testing NET-WIFI-001 with my mobile I ran into the issue that Android cannot connect to the AP created by Kura.

[2016-12-07 17:39] cdealti commented on #910
It may take a while to associate a get an IP address. I would wait up to 60 seconds or so.

Can you post a longer log and the output of the commands:
* iwconfig
* iw wlan0 link
* ip addr
* ip route

[2016-12-07 17:41] cdealti commented on #911
Yes, channels above 11 are disabled. See the kura.properties file

[2016-12-07 17:46] cdealti commented on #912
The log has similarities with #904. SeLinux configuration?

[2016-12-07 17:48] cdealti commented on #913
Are you OK with taking a note in your QA validation spreadsheet and close this?
It's the same I've asked @markoer to do in these circumstances.

[2016-12-07 17:52] cdealti commented on #917
Agreed. Not critical but we can try to fix this.

[2016-12-07 17:55] cdealti commented on #918
Is there a test ID for this?
I believe the service reports the last fix. If the RPI does not have a modem there will be not new fix and the old, static position would be reported.

[2016-12-07 19:50] ctron commented on #911
No it is a channel 9 SSID

[2016-12-07 19:50] ctron commented on #912
I don't know, how can I test it?

[2016-12-07 19:51] ctron commented on #913
I think I already did that. Close it if you like.

[2016-12-07 19:51] ctron commented on #918
Yes, as noted in the title of this issue: DEN-POS-002

[2016-12-08 00:18] jakobcho commented on #550
Hi Pierrepitiot,
I am using ReliaGate10-20 to test RS485 serial port, but always encounter TIMEOUT issue, and then I found this issue. does RS485 driver work for Kura 2.1 version?  thanks.

[2016-12-08 08:06] pierrepitiot commented on #550
@jakobcho actually, as I explained above,  the Modbus service does not take care of the RS485 management, this is done by the RS485 service of ESF on the Reliagate 10-20 and the serial connection is considered as RS232. When you use the serial port as RS485, configure first the RS485 service then use the standard serial communication driver as you do for a RS232 connection. The RS485 service takes

[2016-12-08 16:57] ctron opened #920 "Build and test dependencies for Kura 3.0.0"
This is an issue for tracking all build and test dependencies for Kura 3.0.0

[2016-12-08 16:59] ctron commented on #920
[code]

[2016-12-08 17:57] jakobcho commented on #550
@pierrepitiot thanks, but I don't get you. on Reliagate 10-20 manual, we can manually configure the serial port (DB9) as RS485 mode by
[code]
and then the (pin2, pin3) as (RX-, TX-), (pin7, pin8 ) as (RX+, TX+).

From the current kura.protocol.modbus code, if it is RS485 mode, it will did to access those datapath if I assigne those properties as
[code]
My current scenario is: I have a RPi3 with RS

[2016-12-09 09:30] markoer commented on #874
Purging dhcpcd5 helps with this issue.
What I also noticed outside of test NET-ETH0-006 scope is that search domain is neither added to `/etc/resolv.conf` nor stored in Kura configuration.

And while we are at it (configuration), there are a few configuration parameters values of which are not trimmed, namely: net.interface.eth0.driver, net.interface.wlan0.firmware.version, net.interface.wlan0.wif

[2016-12-09 09:45] cdealti commented on #877
@markoer can we close this? As for #867 we will document to disable ``dhcpcd``.

About the /32 netmask not shown in the web UI I would create a separate issue with label ``kura-web``.

[2016-12-09 09:52] cdealti commented on #871
This is well known. However if you then set the broker URL in the MqttDataTransport it should connect.
If it doesn't happen, this is a bug. Otherwise I think this could be closed or postponed if you have a suggestion.

[2016-12-09 09:55] markoer commented on #877
I retested the 16-bit scenario now that dhcpcd5 package is gone and it works as expected.

[2016-12-09 09:55] #877 closed

[2016-12-09 09:58] cdealti commented on #895
Does this happen consistently or randomly?

[2016-12-09 10:00] #905 closed

[2016-12-09 10:01] markoer commented on #871
When the right broker is set, Kura connects to it without further issues. That's why I marked it as an enhancement proposing to maybe switch the 2 tabs (DataService and MqttDataTransport) so that the proper order of configuration is more intuitive.
You may freely close it if you like the order of the tabs as is.

[2016-12-09 10:03] cdealti commented on #850
@markoer can you test the ``gdebi`` alternative?

[2016-12-09 10:06] cdealti commented on #900
No, I think it's OK to add this dependency in the README on the release-2.1.0 branch.
Can you send a PR please?

[2016-12-09 10:07] cdealti commented on #901
@ctron what username/password did you use?

[2016-12-09 10:13] markoer commented on #895
The issue is consistent across browsers and reboots or RPi3.

[2016-12-09 10:17] ctron commented on #850
So if you don't have `gdebi` installed you will need to run:

[code]

And then you can do:

[code]

[2016-12-09 10:20] ctron commented on #900
A PR? Can we do this directly?

[2016-12-09 10:22] cdealti commented on #914
Agreed. Rescheduled for 3.0.0 and attached a ``kura-sec`` label.

[2016-12-09 10:22] ctron commented on #901
foo/bar ... foo/foo ... admin/foo ... admin/bar

[2016-12-09 10:24] cdealti commented on #910
Can you please recheck this (see above)?

[2016-12-09 10:34] cdealti commented on #911
Can you try with system level tools e.g. ``iwlist wlan0 scan`` and ``iw wlan0 scan``?

[2016-12-09 10:34] markoer opened #921 "[Kura 2.1.0 QA] Raspberry Pi 3 uninstall leaves files"
Uninstallation script (`distrib/src/main/deb/control/prerm`) doesn't remove the actual installation directory, only the link to it. What it does remove is probably the only directory I might want to keep - `data/`.
A comment in the file also states that removal of Eclipse directory will be attempted, but it's not. It might be a good idea to remove it, but only if it's empty i.e. no other Eclipse s

[2016-12-09 10:36] cdealti commented on #912
@MMaiero any ideas?

[2016-12-09 10:37] #913 closed

[2016-12-09 10:37] ctron commented on #910
Sent out by e-mail.

[2016-12-09 10:37] cdealti commented on #916
See #913

[2016-12-09 10:39] ctron commented on #911
So for both command:
a) it is way faster
b) the SSID is found

Just tried again using the Kura Web UI and the SSID is missing again.

[2016-12-09 10:40] cdealti commented on #918
So, you would expect the Web UI showed an position "Not available" instead of the old static one?

[2016-12-09 10:41] ctron commented on #921
Looks like a duplicate of #362

[2016-12-09 10:41] cdealti commented on #901
Nothing in the kura.log and kura-console.log?

[2016-12-09 10:42] ctron commented on #916
I don't understand how those two are related?!

[2016-12-09 10:42] ctron commented on #918
Yes

[2016-12-09 10:42] ctron commented on #901
No

[2016-12-09 10:44] ctron commented on #911
I will re-try this web Raspbian to see if there is a difference

[2016-12-09 10:45] cdealti commented on #901
How do you logout? The test description is ambiguous...

[2016-12-09 10:47] markoer commented on #850
Gdebi seems to work nicely.

[2016-12-09 10:47] ctron commented on #901
I don't log out. The UI asks me so log in again. Probably because the HTTP basic auth check fails.

[2016-12-09 10:51] cdealti commented on #901
@MMaiero any ideas?

[2016-12-09 10:52] cdealti commented on #918
Can you take note of this to add it to the known issues and postpone this to 3.0.0?

[2016-12-09 10:57] ctron commented on #911
I am not sure if there is a real difference. It seems to be a bit quicker on Raspbian. And on Raspbian I most often get a full list. Where on Fedberry I most often get an incomplete list.

But in the end I have missing SSIDs on both Raspbian and Fedberry.

[2016-12-09 11:01] cdealti commented on #871
There has already been a long debate on the order of tabs.
The order is the hierarchical order of the Cloud connection stack from the top to the bottom layer.
I believe it's OK to close this.

[2016-12-09 11:01] #871 closed

[2016-12-09 11:03] cdealti commented on #867
@markoer if it works for you I'd close this

[2016-12-09 11:06] cdealti commented on #880
@MMaiero I believe our findings are that the selection is not available in Station Mode and the value is set to all the available modulations.

@markoer can you update the test description?

[2016-12-09 11:14] cdealti commented on #874
@markoer can you close this one (it was due to a running dhcpcd) and open another issue for the remaining problems. Unless they are relevant for the QA they will be addressed in 3.0.0.

[2016-12-09 11:18] cdealti commented on #883
Fixed by #884.

[2016-12-09 11:18] #883 closed

[2016-12-09 11:20] cdealti commented on #879
@markoer ping

[2016-12-09 11:21] cdealti commented on #876
@markoer can you please confirm and close it?

[2016-12-09 11:28] cdealti commented on #850
Ok thanks. Can you take note of this in your validation spreadsheet and close this?

[2016-12-09 11:32] cdealti commented on #906
the ouput of ``iptables --list`` and relevant log lines in syslog, kura.log and kura-console.log.

[2016-12-09 12:07] ctron opened #922 "[Kura 2.1.0 QA] named restarted frequently"
During testing of Kura is noticed in the kura.log and system log (`journalctl -f`) that the nameserver is sometimes restarted rather frequently, e.g. 4 times in about 5 seconds

[code]

[2016-12-09 12:27] ctron commented on #906
I tried a few things, but I cannot reproduce it.

So we can close this an re-open if it re-appears.

[2016-12-09 12:31] markoer commented on #921
Correct. I somehow didn't find it before.

[2016-12-09 12:35] #850 closed

[2016-12-09 13:04] cdealti commented on #921
Duplicate of #362

[2016-12-09 13:04] #921 closed

[2016-12-09 13:07] cdealti commented on #902
Duplicate of #572

[2016-12-09 13:07] #902 closed

[2016-12-09 13:09] cdealti commented on #903
Can yo provide a screenshot before pressing "apply"?

[2016-12-09 13:12] cdealti commented on #915
nice catch

[2016-12-09 13:17] cdealti commented on #919
It may take a while to setup the AP.
Can you wait a little bit longer before connecting Android?

[2016-12-09 13:19] cdealti commented on #922
Can you check if this happens only upon network reconfiguration from the Web UI?

[2016-12-09 13:21] cdealti commented on #865
@markoer @djurod @ctron If you are tracking test descriptions errata in your spreadsheets, I'd close this one.

[2016-12-09 13:23] cdealti commented on #862
Ok, please fix the test description

[2016-12-09 13:23] #862 closed

[2016-12-09 13:46] ctron commented on #903
![dnserr](https://cloud.githubusercontent.com/assets/202474/21050992/4ff4b2b2-be1e-11e6-93dd-e8ff0d56b022.png)

[2016-12-09 13:47] ctron commented on #919
What amount of time?

[2016-12-09 13:48] ctron commented on #922
Yes, in this case it definitely was that action which seemed to trigger this.

[2016-12-09 13:49] ctron commented on #865
I don't understand what you mean by that.

[2016-12-09 14:15] cdealti commented on #865
this issue was opened to track the errata to the test descriptions.
Since then I believe @markoer has tracked down these in his spreadsheet.
Eventually we will have a new revision of the spreadsheet.

[2016-12-09 14:17] cdealti commented on #922
I believe this is normal. The net admin restarts the services during reconfiguration. Unless there was a problem in this case I'd close it.

[2016-12-09 14:19] cdealti commented on #919
Well, not one hour. If after 60s you cannot connect then we have a problem

[2016-12-09 14:21] cdealti commented on #903
@ibinshtok can you please take a look?

[2016-12-09 14:25] ctron commented on #919
Ok. I will re-test this one.

[2016-12-09 14:25] markoer commented on #879
Looks like dhcpcd5 package purge (#867) influenced this as well. The change is virtually immediate, now.

I updated the prerequisites with the finding(s).

Issue may be closed.

[2016-12-09 14:36] markoer commented on #867
After removal of dhcpcd5 it works. The issue may be closed.

[2016-12-09 15:00] ctron commented on #919
Ok .. after waiting for maybe 5 minutes .. (coffee ... dirty water break) ... it worked.

So let's close this.

[2016-12-09 15:00] #919 closed

[2016-12-09 15:03] ctron commented on #865
Well I went with the original spreadsheet. Let me know when you have a new one.

[2016-12-09 15:03] markoer opened #923 "[Kura 2.1.0 QA] eth0 search domain configuration and storage"
Outside of test NET-ETH0-006 (#788) scope, but still related: if filled, search domain is neither added to /etc/resolv.conf nor stored in Kura configuration.

Kura 2.1.0 build 12, Raspberry Pi 3

[2016-12-09 15:04] ctron commented on #922
Ok, if you don't see this as an issue you can close it if you like.

[2016-12-09 15:11] markoer opened #924 "[Kura 2.1.0 QA enh] Non-trimmed values of configuration parameters"
There are a few configuration parameters values of which are not trimmed, namely:
* net.interface.eth0.driver
* net.interface.wlan0.driver
* net.interface.wlan0.driver.version
* net.interface.wlan0.firmware.version
* net.interface.wlan0.wifi.capabilities

How to check? Download a snapshot and open it in your favorite editor. Search e.g. for '> ' or ' <'.

Probably this is not really a problem, but

[2016-12-09 15:11] markoer commented on #874
Closing the issue.

The new ones are #923 and #924.

[2016-12-09 15:11] #874 closed

[2016-12-09 15:51] ibinshtok commented on #903
@cdealti sure, I'll take a look at this

[2016-12-09 16:06] markoer commented on #876
Confirmed. It does take a bit more than a moment (up to ~30 s), but it works.

Closing the issue.

[2016-12-09 16:06] #876 closed

[2016-12-09 16:11] markoer commented on #865
These are in my spreadsheet already. You may freely close the issue.

[2016-12-09 16:25] cdealti commented on #922
@ibinshtok can you confirm that some ``named`` restarts by the net admin upon reconfiguration are "normal"?

[2016-12-09 16:28] cdealti commented on #865
yes, please mutually check your spreadsheets before opening new issues.
We will merge your spreadsheet changes in a new revision when 2.1.0 is released.

[2016-12-09 16:28] #865 closed

[2016-12-09 16:28] #867 closed

[2016-12-09 16:29] #879 closed

[2016-12-09 16:33] cdealti commented on #865
@markoer If you have a change to upload your spreadsheet that would help (unless you still have concerns registering to Microsoft)

[2016-12-09 16:36] cdealti commented on #923
@ibinshtok can you please just check if this is a regression. I've never tried to set search domains, even with the old Web UI.

[2016-12-09 23:37] ibinshtok commented on #903
@cdealti I have fixed validation for the 'DNS Servers' field to allow to enter multiple DNS servers. I've also made changes to disable 'DNS Servers' and 'Search Domains' fields if interface is configured as LAN. I did it because in the DnsMonitorServiceImpl DNS servers are added for WAN interfaces only which I think is correct. I will create a PR.

[2016-12-09 23:54] ibinshtok commented on #923
@cdealti I don't think it is a regression issue since it has never been fully implemented.
As of right now, we are adding search domains (WIN Servers) to the list of DNS servers (the netConfig4.setDnsServers() call  in the updateNetInterfaceConfigurations() method of the GwtNetworkServiceImpl class) which is not correct, I believe. And after that we overwrite this list by actually supplying DNS se

[2016-12-10 00:08] ibinshtok commented on #922
@cdealti yes, this is normal.

[2016-12-10 14:28] #922 closed

[2016-12-12 08:59] MMaiero commented on #901
Just tested using the latest hudson build and a build done in my computer. I've found no issues changing the access credentials. I've tested it both using raspbian and fedora and specifying different combinations of usernames and passwords
Don't know. Maybe @ctron can give me more hints on how to reproduce the issue.

[2016-12-12 09:15] cdealti commented on #910
Info you have sent by email are attached below.

It looks to me that the configuration is the one when wlan0 is configured in access point mode and enabled for LAN (and eth0
is enabled for WAN).

Did you capture the output of these commands after you switched wlan0 to station mode, enabled for WAN? Please allow some delay (60s) before running the commands.

If you cannot associate to the AP, can y

[2016-12-12 09:22] cdealti commented on #923
Thanks. Postponed

[2016-12-12 09:33] cdealti commented on #903
See #925.

[2016-12-12 09:39] MMaiero commented on #895
@markoer Could you kindly test [this build](https://s3.amazonaws.com/kura-installers/kura_2.1.0_RC_12-12/kura_2.1.0_raspberry-pi-2-3_installer.deb) that, I think, fixes this issue?
Thanks.

If it will work, I'll merge the PR into release-2.1.0 release branch.

[2016-12-12 09:51] cdealti commented on #900
Please push it directly

[2016-12-12 10:56] MMaiero commented on #912
@ctron did you use the dp referenced in the test description? (https://s3.amazonaws.com/esf-resources/securityQA/org.eclipse.kura.example.publisher.dp)
Or did you provide a custom one?

I've tested few times using both the file selection to grab the file from the filesystem or specifying the url directly and it always worked for me.
Could you pass me the dp you used? So I can try to test in the sa

[2016-12-12 11:55] markoer commented on #895
With Kura 2.1.0_RC_12-12 the result is as expected. But there is the additional confirmation dialog, which, I suppose, doesn't bother too much.

[2016-12-12 12:08] ctron commented on #901
Not really. I did install it. Started the first tests and directly ran into it.

I can try to reproduce it. If you let me know what information I should capture when it happens again, I will provide this to you.

[2016-12-12 12:15] ctron commented on #912
Yes, this is the one. Should I have used a different one?

Well I had to re-try. The first time I ran into this issue. After that I didn't. So I could go on with testing.

[code]

[2016-12-12 12:21] ctron commented on #901
I re-tried this again right now and got the system in the same state. Let me know what you want me to send or test.

[2016-12-12 12:22] markoer commented on #917
Duplicate of #889.

[2016-12-12 12:27] markoer commented on #915
Partly a duplicate of #889.

[2016-12-12 13:37] ctron commented on #910
I did just send the output of the commands. I wasn't aware that is should be done during the test.

And I did sent if by e-mail in order to not leak any internal information.

[2016-12-12 13:38] ctron commented on #910
Right now I can't retest since I am waiting for feedback on issue #901

[2016-12-12 13:44] cdealti commented on #903
Closing via #925.

[2016-12-12 13:44] #903 closed

[2016-12-12 13:53] cdealti commented on #909
Assigned to @nicolatimeus

[2016-12-12 14:03] ctron commented on #920
[code]

[2016-12-12 14:11] MMaiero commented on #901
ok, maybe I've found. I'll dig into it.

[2016-12-12 14:17] djurod opened #930 "[Kura 2.1.0 QA] Problems with installation of Kura on BeagleBone Black"
Issues with the [documentation](https://eclipse.github.io/kura/doc/beaglebone-quick-start.html):
- Required dependencies are not listed: isc-dhcp-server, dos2unix, bind9, bind9utils, unzip, ethtool and telnet
- The "connman" service needs to be disabled, otherwise the network configuration functionality of Kura doesn't work.
- The systemd's time-sync service needs to be disabled, otherwise it inte

[2016-12-12 14:25] djurod commented on #864
Also an issue on BeagleBone Black (#791).

[2016-12-12 14:31] djurod commented on #865
Just a note that the hardware information in the device profile page for BeagleBone Black (#791) is probably also problematic. Each field contains the value "beaglebone".

[2016-12-12 14:34] djurod commented on #867
Also an issue on BeagleBone Black (#791).

[2016-12-12 14:39] djurod opened #931 "[Kura 2.1.0 QA] Connecting to mqtts (using ssl) doesn't work on BeagleBone Black"
Fails to connect with the following message:

Thu Dec 08 18:12:29 GMT+100 2016 ErrorLogger INFO: : Error connectingorg.eclipse.kura.web.shared.GwtKuraException: Error connecting
   at Unknown.gd(denali-0.js)
   at Unknown.pd(denali-0.js)
   at Unknown.SYb(denali-0.js)
   at Unknown.XYb(denali-0.js)
   at Unknown.f3(denali-0.js)
   at Unknown.b3(denali-0.js)
   at Unknown.A1(denali-0.js)
   at Unkn

[2016-12-12 14:43] ctron opened #932 "org.eclipse.kura.asset.provider provides API and service implementation"
The bundle `org.eclipse.kura.asset.provider` provides base classes and a service implementation at the same time. That way it is impossible to exchange the service implementation with a different implementation.

As we are using OSGi we should follow the idea of splitting up API/base classes and internal service implementation.

Currently the "web" bundle requires a reference to `org.eclipse.kura.

[2016-12-12 15:10] djurod opened #933 "[Kura 2.1.0 QA] ExamplePublisher doesn't log changes in array settings in kura.log correctly"
The log entry doesn't show the value of array elements:

[code]

Kura 2.1.0 build 15 on BeagleBone Black

[2016-12-12 15:17] djurod opened #934 "[Kura 2.1.0 QA] ExamplePublisher: changed fields don't have a dirty flag visible in the upper left corner of the field"
According to test case DEN-CONF-035 from #791 and #788

I wasn't able to see any changes in the GUI after the value was changed and focus moved out of the changed field.

Tested in Firefox, Chrome and Internet Explorer on build 12 and 15.

[2016-12-12 15:21] djurod opened #935 "[Kura 2.1.0 QA] ExamplePublisher: Snapshots are not created"
Snapshots are not created when either publish.rate or publish.retain is changed (I didn't test with other fields).

Kura 2.1.0 build 15 on BeagleBone Black

[2016-12-12 15:27] djurod commented on #893
I had the same kind of issues with BeagleBone Black on build 15:

[code]

[2016-12-12 16:24] ctron commented on #930
Looks like a duplicate of #321 and #548

[2016-12-12 16:24] ctron commented on #930
There should be a way to reconfigure the "libudev" rules to also trigger the libudev.so.1 variant which is currently used for Fedberry.

[2016-12-12 18:37] #909 closed

[2016-12-12 18:39] MMaiero commented on #895
So, is it ok for you to merge the related PR?

[2016-12-13 07:44] markoer commented on #895
As far as I am concerned, you may merge it.

[2016-12-13 07:47] #900 closed

[2016-12-13 08:01] #895 closed

[2016-12-13 09:09] ctron commented on #918
@MMaiero can you amend the know issues of your document?

[2016-12-13 11:07] MMaiero commented on #901
@ctron could you please test [this](https://s3.amazonaws.com/kura-installers/kura_2.1.0_RC_13-12/kura_2.1.0_fedorapi_installer.sh) and see if it solves your issue?

[2016-12-13 11:27] MMaiero commented on #912
No, no, this is the correct one.

There seem to be no seLinux related issues.
If you try to redeploy the same dp, does the same error happen?

[2016-12-13 12:07] ctron commented on #901
:+1:  this works

[2016-12-13 12:08] ctron commented on #912
As I tried to explain. I did install it and the error occurred. Then I re-installed it and it was ok. It was the same DP.

[2016-12-13 14:09] #906 closed

[2016-12-13 14:10] #901 closed

[2016-12-13 14:38] MMaiero commented on #918
done

[2016-12-13 15:03] ctron commented on #918
So we can just re-title this one for Kura 3.0?!

[2016-12-13 15:05] MMaiero commented on #918
For now I just modified the milestone. After the release I will rename all kura 3 issues removing the references to 2.1.0 QA

[2016-12-14 08:18] ctron opened #940 "Splitting up the Kura API bundle"
I am suggesting to split up the Kura API bundle. Currently the API bundle requires the following dependencies:

[code]

This means that as soon as you are starting to use the Kura API bundle, you will trigger a rather large dependency tree, although you are probably using only a part of the API. Also OSGi suggest to also provide simple interface and service bundles instead of super-mega-bundles.

[2016-12-14 08:42] markoer commented on #894
If the fix is planned to be merged into 2.1.0, I propose to reopen so it can be properly verified. otherwise let's rename (remove [Kura 2.1.0 QA]) and find the associated PR.

[2016-12-14 08:51] MMaiero commented on #894
Fixed by #854

[2016-12-14 09:08] markoer commented on #894
Thanks :)

[2016-12-14 10:03] markoer opened #941 "[Kura 2.1.0 QA] Raspberry Pi 3 no-net installer"
Errors in the installation log file of Kura 2.1.0 no-net build 15 for RPi 3:
[code]

The entire directory .data/ is non-existent. I also checked .deb file/its .zip and it's already missing in there.

[2016-12-14 10:41] MMaiero commented on #941
@markoer Could you test if the proposed PR solves your issue? Thanks

[2016-12-14 10:48] cdealti commented on #880
@markoer If you have updated the test description this can be closed

[2016-12-14 13:30] markoer commented on #941
That seems to do the trick (at least on RPi3). I will retest when the PR is merged and a new build is available.

[2016-12-14 13:31] MMaiero commented on #941
ok, so I'll merge.

[2016-12-14 13:31] #941 closed

[2016-12-14 15:46] cdealti commented on #910
This time it shows wlan0 is associated to the AP but no IP address is assigned to the wlan0 interface.

I assume you waited long enough. Please provide:

* kura.log indicating the timestamp where the configuration has been changed.
* Is the ``dhcpc`` process running on wlan0 after the configuration was changed?
* Can you try with a different Access Point, like a smartphone acting as an AP

[2016-12-14 15:49] MMaiero commented on #931
@djurod Could you provide the kura.log file?

[2016-12-14 15:53] djurod commented on #931
When I started testing RPI2 I noticed that there is a precondition needed for the test - a certificate needs to be imported. I will retest this tomorrow and check if it is still a problem.

[2016-12-14 16:05] djurod opened #944 "[Kura 2.1.0 QA] MAC Address must be lowercase"
When setting "Permitted MAC Address" in Firewall->Open Ports->New you must enter the MAC address in lower case format with `:` as a delimiter.

It would be nice if also uppercase format would be allowed, but in any case the format should be visible somewhere in the GUI (in the tooltip?).

Kura 2.1.0 build 15 on Raspberry PI 2

[2016-12-14 16:55] markoer commented on #941
Verified in Kura 2.1.0 no-net build 16, RPi3.

[2016-12-15 08:04] cdealti commented on #924
As this is not critical let's postpone it.

[2016-12-15 08:29] ctron opened #945 "Clean up OSGi dependencies"
Dependencies on OSGi core and compendium APIs have to be cleaned up.

Right now Kura makes use of Equinox 3.11.1 which provides OSGi R5 for core and compendium. However in addition to Equinox there is the OSGi compendium artifact referenced in version 4.3.

This for example results in the Kura API bundle to reference both `osgi.cmpn` and `org.eclipse.equinox.io` which both provide the package `org

[2016-12-15 09:26] pierrepitiot opened #946 "[Kura 2.1.0 QA] Regression on GPIO example, parameters not correctly updated"
Testing [PTC-GPIO-004] on Reliagate 10-20 I was not able to modify correctly the configuration parameters for gpio.directions, gpio.modes and gpio.triggers. The values are not modified after the first set and a new value always give Direction=3, Mode=-1 and Trigger=-1.

This is a regression, the test is passing correctly on ESF 4.0.2

[2016-12-15 09:34] cdealti commented on #944
Yes, nice to have but... for the next iteration

[2016-12-15 09:38] cdealti commented on #935
@djurod how did you check the snapshot was not created? From the Web UI, looking at the /opt/eclipse/kura/data/snapshots, other?

[2016-12-15 09:41] djurod commented on #935
Using the Web UI

[2016-12-15 09:42] MMaiero commented on #935
Could you send us the kura.log and kura-console.log files?

[2016-12-15 10:15] ctron opened #947 "[Kura 2.1.0 QA] NET-ETH0-005 Failed to connect to MQTT over SSL after reboot"
While test NET-ETH0-004 did work, rebooting in NET-ETH0-005 did not.

Diagnostic information will be in file `kura-logs-20161215-111226.tar.gz` sent by e-mail.

[2016-12-15 11:03] ctron opened #948 "[Kura 2.1.0 QA] NET-ETH0-014 Wrong lease time in DHCP mode"
I did leave the default lease time of 7200. However the following is being reported by my local machine:

[code]

[2016-12-15 11:13] cdealti commented on #930
Does ``gdebi`` (see #850) help?

If so please take note of the need to update the documentation on your validation spreadsheet.

Please take notes

Please take notes

Please go ahead with the validation and check if NET-ETH0-011 passes

Yes this is a duplicate #321 #548.
Please take note of the need to create the softlink for the time being.
There is a proper fix and I'll take a look.

Eventually

[2016-12-15 11:25] cdealti commented on #934
I believe that this has been already brought up by @markoer. The dirty flag is no longer supported in the new Web UI. I cannot find the original report. @markoer do you have this tracked in your validation spreadsheet?

[2016-12-15 11:26] cdealti commented on #933
Nice to have but... postponed

[2016-12-15 11:30] markoer commented on #934
It is in my spreadsheet, but only @djurod reported it as an issue, here.

[2016-12-15 11:36] cdealti commented on #931
Duplicate of #873?

[2016-12-15 12:38] djurod commented on #930
Yes.

[2016-12-15 12:44] ctron commented on #946
Are we talking about Kura or ESF?

[2016-12-15 12:45] ctron commented on #933
But postponing this mean that the test output cannot be verified.

[2016-12-15 12:50] MMaiero commented on #946
Duplicate of #893

[2016-12-15 12:50] #946 closed

[2016-12-15 12:53] ctron commented on #910
So restesting this with build #16 shows the same behavior. I cannot connect to the guest WLAN.

However switching to my Android mobile hotspot works.

[2016-12-15 12:56] MMaiero commented on #910
What is the signal strength reported by Kura, when trying to connect to the guests WLAN?

[2016-12-15 13:01] ctron commented on #947
I just continued the test with NET-WIFI-005 and NET-WIFI-006. And I do have the same pattern here.

The first attempt after connecting succeeds. After the reboot it runs into the same re-connect loop.

[2016-12-15 13:03] ctron commented on #910
Received Signal Strength (dBm)
-44

[2016-12-15 13:04] markoer opened #950 "[Kura 2.1.0 QA] BLE warnings when disabling scan"
Warnings are logged every once in a while when BT scan is disabled (at least once every 3-4 tries).

How to reproduce:
* install org.eclipse.kura.example.ble.tisensortag as stated in PTC-BLE-002
* enable scan and wait for readings to be logged
* disable scan
* enable, wait for values and disable again

Repeat until the following warnings are logged:
[code]

Sometimes only one of the warnings gets

[2016-12-15 13:16] cdealti commented on #947
From your log, it looks like you have reconfigured the eth0 interface:
[code]
And it appears to be configured as "Enabled for LAN" and acting as a DHCP server:

[code]

This is not the configuration described in the prerequisite NET-ETH0-003 which requires the interface "Enabled for WAN".

In this situation you should not have neither a default gateway nor DNS servers so it's unlikely you will be

[2016-12-15 13:27] cdealti commented on #950
It's more of an aesthetics issue unless, by disabling/enabling the scan the functionality is compromised.
If not let's postpone it.

[2016-12-15 13:30] cdealti commented on #934
So, if this is tracked in Marko's spreadsheet, it will be addressed in the new spreadsheet revision.
OK to close?

[2016-12-15 13:30] markoer commented on #950
The service remains functional across stops and starts i.e. works when started, so the fix can be postponed.

[2016-12-15 13:33] djurod commented on #934
If this feature was removed, then I would recommend that we remove the test case (DEN-CONF-035).

[2016-12-15 13:35] ctron opened #951 "[Kura 2.1.0 QA] NET-FW-010 Unable to verify dialog"
Testing NET-FW-010 a dialog pops up requesting me to verify if my platform supports MAC address filtering.

However the is no explanation how to do this.

[2016-12-15 13:37] markoer commented on #934
@djurod exactly (just mark it as such for the time being)
@cdealti OK

[2016-12-15 13:46] ctron commented on #947
This is the full kura log file. Are you sure you read it starting from the end? I am pretty sure I configured it correctly both times. But I will re-try.

[2016-12-15 13:47] cdealti commented on #951
Check if you have ``CONFIG_IP_NF_MATCH_MAC`` or ``CONFIG_NETFILTER_XT_MATCH_MAC`` (or like configuration) is enabled in your kernel configuration.

[2016-12-15 13:52] markoer opened #952 "[Kura 2.1.0 QA] BLE example beacon scanner issue"
Install and make sure beacon works as in PTC-BLE-004 - PTC-BLE-007.
Install org.eclipse.kura.example.beacon.scanner as specified in PTC-BLE-009 of #788. The package installs, but when enabled, the following is logged. No beacon is detected/logged afterward.
[code]

Kura 2.1.0 build 16 no-net on RPi3.

[2016-12-15 13:57] djurod commented on #930
I added a note to the verification spreadsheet regarding:
- connman
- time sync issue
- libudev issue

Regarding the /var/named/ log entry, the test NET-ETH0-011 passed in build 15.

In build 16 there are no more issues if you follow the new instructions and ignore the /var/named/ log entry.

@cdealti: As far as I am concerned this issue can be closed now.

[2016-12-15 13:59] djurod commented on #934
I added a note that the feature was removed.

@cdealti: I think you can close the issue.

[2016-12-15 14:01] cdealti commented on #948
I'd like to take a look before deciding the milestone. Can you please send me ``/etc/dhcpd-eth0.conf``?

[2016-12-15 14:01] ctron commented on #951
I guess this should be documented and linked somewhere.

[2016-12-15 14:10] cdealti commented on #951
You are lucky if at least you got a popup with a message ;-)
It's difficult to document everything, the Fedberry is a new platform.
If you have a chance, check your kernel config. Maybe you can load this as a kernel module.

@markoer did this pass on Raspbian?

[2016-12-15 14:16] cdealti commented on #952
Can you send me a tgz of the whole /var/log/ directory?

[2016-12-15 14:17] cdealti commented on #947
Yes, from the end

[2016-12-15 14:32] cdealti commented on #911
@pierantoniomerlino is taking a look

[2016-12-15 14:48] ctron commented on #948
[code]

[2016-12-15 15:20] ibinshtok commented on #911
I think that it is wireless tool that doesn't always returns all SSIDs. If so, there is nothing we can really do in Kura except may be scanning more than once but this takes time.

[2016-12-15 15:34] pierantoniomerlino commented on #911
@ibinshtok I agree on your comment. However, Kura uses a hashmap to store the discovered access points, whose key is the SSID. In our office, we have several wireless nets and some of them transmit on multiple channels. So, only the last discovered SSID is added to the map. In our case, some network use channel 1 and 13 and the latter is not allowed by Kura. The result is that in some scanning the

[2016-12-15 15:40] cdealti commented on #952
@markoer the intent of the test is that the beacon and beacon scanner examples run on two different devices.

[2016-12-15 15:41] ctron commented on #947
So at some point during testing it started to work again. Even with reboots. Maybe it was a hickup at the Eclipse MQTT server. I don't really know.

[2016-12-15 15:46] cdealti commented on #947
This is different. If you read the log from the beginning, some disconnections can be due to the Eclipse MQTT server:

[code]

However those at the end of the log are different and related to a wrong network configuration.
Have you changed network configuration again before it started working again?

[2016-12-15 16:06] pierantoniomerlino commented on #952
@markoer Could you please check if `hcidump` command is installed on your system?

[2016-12-15 16:08] markoer commented on #952
It's not. Should I install it?

[2016-12-15 16:14] pierantoniomerlino commented on #952
Yes, you should. The scanner uses hcidump to get raw data from bluetooth. Probably we should document this...

[2016-12-15 16:21] djurod commented on #931
@MMaiero This is no longer an issue after importing the certificate as instructed in #873.

[2016-12-15 16:21] #931 closed

[2016-12-15 16:37] markoer commented on #952
Great, after installing `bluez-hcidump` package on a different device, the scanner actually worked. I updated the spreadsheet(s) with this precondition. Maybe it could be added to some other documentation, too.

If you want, the issue can be closed.

[2016-12-15 16:38] #952 closed

[2016-12-15 16:39] cdealti commented on #952
@ctron @djurod FYI in case you notice this too.

[2016-12-15 16:41] ctron commented on #951
I passed. So there is no problem other than the fact that the user doesn't know what to do when the dialog appears.

[2016-12-15 16:42] ctron commented on #912
This did not appear during today's test run. So I guess this is fixed and can be closed.

[2016-12-15 16:42] ctron commented on #904
This did not appear during today's test run. So I guess this is fixed and can be closed.

[2016-12-15 16:44] #904 closed

[2016-12-15 16:44] #912 closed

[2016-12-15 16:45] cdealti commented on #951
Can be closed? Better documentation is enough for this release?

[2016-12-15 17:06] ctron commented on #911
The channel value was previous at 11, I changed it to 13.

That didn't make the scanning faster, but it made it more complete. Indeed I do sometimes get results now which include channel 13. Which probably where missing before.

So maybe that setting should be set to 13 by default?

[2016-12-15 17:08] ctron commented on #947
I can't really tell. I did quite a number of tests and for quit some time it just didn't work and I left it that way, performing other tests. At some point is recognized that is was working again.

Close it for now. Reopen it if re-appears. Maybe that is the best approach.

[2016-12-15 17:10] pierantoniomerlino commented on #911
Thank you @ctron for the test. Indeed my question was misleading... Setting the property to 13 should make the result more complete, since it allows to scan in a wider range of channels, but it don't make the scan faster.

Unfortunately, channels greater than 11 are not allowed in many countries due to national rules.

[2016-12-15 17:10] ctron commented on #951
Re-target for 3.0.0, maybe adding some link in the dialog pointing to some documentation.

When we are closing it we will be create a new issue when doing 3.0.0 QA, pointing to this as a duplicate.

[2016-12-15 17:11] ctron commented on #911
Well .. Not sure what the situation in Germany is :smile:

[2016-12-15 17:23] cdealti commented on #911
The channel limit property issue is already described in another issue with recommendations to document this property.
As reported by Pierantonio we might also need some changes due the same SSID being broadcasted on several channels.

What about postponing this?

[2016-12-16 08:06] pierantoniomerlino commented on #911
👍

[2016-12-16 08:30] ctron commented on #911
So what I don't understand here is, that when I do a `iw dev wlan0 scan`, I do get all SSIDs. No matter what. Why not just use this output instead? It would provide all the information, very quickly. No missing SSIDs.

[2016-12-16 08:41] cdealti commented on #893
Closed via #949.

[2016-12-16 08:41] #893 closed

[2016-12-16 08:43] cdealti commented on #880
@markoer I'm closing this. Please reopen if you don't agree on the resolution

[2016-12-16 08:44] #880 closed

[2016-12-16 08:47] #947 closed

[2016-12-16 08:49] cdealti commented on #911
Can we postpone?

[2016-12-16 08:56] markoer commented on #880
It's OK.

[2016-12-16 09:06] cdealti commented on #951
Eventually, how this passed for the Fedberry?

[2016-12-16 09:08] cdealti commented on #910
Can you please send a tgz with the  whole contents of /var/log/ after you connect to the guest network?

[2016-12-16 10:13] #917 closed

[2016-12-16 13:49] ctron commented on #951
It did.

[2016-12-16 13:57] djurod commented on #935
It appears this is works in build 16.

Should we close this issue or should I reload build 15 on BBB and try to reproduce the problem?

[2016-12-16 13:59] MMaiero commented on #935
Could you try to reload build 15 and, if that happens again, send the log files? Thanks

[2016-12-16 15:00] dwoodard1 commented on #790
@cdealti I think I am ok not publishing new installers for the Raspberry Pi B and B+. I think we do need to make old installers available. I can add a section to the Kura website for downloads of previous versions.

[2016-12-16 15:01] dwoodard1 commented on #795
@cdealti Where are we with the Edison? Are we doing QA?

[2016-12-16 15:27] markoer commented on #951
In the first few tries I skipped the tests following NET-FW-008, but I tested them now (on RPi3, up to 011) and they work with a minor modification of the command used in NET-FW-011.

[2016-12-16 16:36] djurod commented on #935
I loaded build 15 on it again and I wasn't able to reproduce the problem.

I did notice something weird in the Web UI. The date and time of the last new snapshots (in "Created On"  column) was set exactly the same value. Through the log I noticed that this is probably done by design:

[code]

The reason for this is that I didn't set a working NTP server in kura after installation, so the device wa

[2016-12-16 16:53] #935 closed

[2016-12-16 18:03] dwoodard1 opened #956 "[Sec] Kura firewall rules bypassed with IPv6"
The firewall rules set by Kura can be bypassed using IPv6. The Kura install scripts, for installers that include network management, should disable IPv6 on the host system. We will remove this once we add proper support to IPv6 in Kura.

[2016-12-17 15:23] cdealti commented on #795
0%. Nobody is doing QA with the Edison.

[2016-12-18 09:37] ctron commented on #911
Well if you want to leave out a bunch of valid WLAN configurations for Kura then yes.

But I wouldn't recommend that.

What is wrong with using the command suggested above?

[2016-12-19 08:47] cdealti commented on #951
@ctron OK, but the question was: how? If it's just a matter of installing or loading a kernel module and you have taken notes on how to do this in order to later upgrade the installation documentation I believe this can be closed. I don't see any notes in your spreadsheet though.

@markoer thanks. I've seen the clarification in your spreadsheet.

[2016-12-19 10:09] ctron commented on #951
How? I don't know. It just worked. I can't tell you any details why or why not.

[2016-12-19 10:12] markoer opened #958 "[Kura 2.1.0 QA] Wrong labels in UI's DHCP&NAT configuration"
As part of NET-ETH0-011 in #788 DHCP server needs to be configured in Kura. The lease times' units used by dhcpd are seconds and are written in the config file unmodified by Kura. Therefore the labels here are incorrect ('mins' instead of 's'):
DHCP Default Lease Time (mins)
DHCP Max Lease Time (mins)

Kura 2.1.0 build 16

[2016-12-19 10:15] amitjoy commented on #932
This is a design decision that we have to consider thinking of its pros and cons in OSGi dynamic environment. You are absolutely right. It is not possible to change the implementation at runtime. It has a history behind it.

`Asset` is a concept that is introduced with `Wires`. `Asset` is a logical representation of device in `Kura` (not restricted to `Wires`). To perform read/write operations on

[2016-12-19 11:08] cdealti commented on #911
It looks to me that we are using the scan results returned by the ``wpa_supplicant`` background scan feature.
Not sure why.  @ibinshtok any thoughts?

Changing this at this stage is not feasible IMHO.

[2016-12-19 11:15] cdealti commented on #951
Jens I can see NET-FW-010 is now green on your spreadsheet and I'm not sure if you were able to recreate. I'm closing this. Please re-open if you do not agree.

[2016-12-19 11:15] pierantoniomerlino commented on #911
AFAIK, we are using `iw dev wlan0 scan` command also in Kura.

[2016-12-19 11:15] #951 closed

[2016-12-19 11:16] cdealti commented on #910
@ctron ping

[2016-12-19 11:36] cdealti commented on #958
So the right labels should be
[code]
Correct?

[2016-12-19 11:40] amitjoy opened #959 "Replace Preconditions references with Objects"
To extract Preconditions to Utility bundle, Preconditions references in API must be replaced with Objects.

[2016-12-19 11:51] ctron commented on #932
Since this is new in Kura 3.0 I would say we can ignore "backward compatibility".

So technically, what speaks against separating those two into different bundles?

[2016-12-19 12:00] markoer commented on #958
Correct.

[2016-12-19 12:42] markoer opened #960 "Kura web UI: multiple styles for representing yes/no and true/false etc."
Enhancement in Kura web part: a style guide may be needed for representing various types of data.

1. A good example with multiple styles is the representation of yes/no values where at least 3 types can be identified in the basic installation:
* dropdown (select+options)
![yn_dropdown](https://cloud.githubusercontent.com/assets/22816717/21312991/80073898-c5ef-11e6-81eb-56792c156434.png)
* buttons

[2016-12-19 12:46] amitjoy commented on #932
The two bundles are kept separated, depending on the implementations it provides. `org.eclipse.kura.asset.provider` provides `BaseAsset` implementation whereas `org.eclipse.kura.wire.component.provider` provides all the implementations of `Wire Components` including `WireAsset`.

[2016-12-19 13:22] ctron commented on #932
I meant the bundle "org.eclipse.kura.asset.provider".

[2016-12-19 13:25] amitjoy commented on #932
If I have understood the question correctly, `org.eclipse.kura.asset.provider` provides the implementation for `Asset-Driver Component Model` that can be used in isolation (without `Wires`). And that's why it is kept separated.

[2016-12-19 13:28] ctron commented on #932
I do want to split up the bundle "org.eclipse.kura.asset.provider". Not merge it with something else.

[2016-12-19 13:42] cdealti commented on #958
If you have time to submit a PR fixing this I'd be glad to merge it

[2016-12-19 14:41] cdealti commented on #930
@djurod before closing this, let's see if we can easily fix the libudev link above.

Can you please try the following?

1. Copy the org.eclipse.kura.linux.usb jar in /opt/eclipse/kura/kura/plugins on a Linux PC
2. Double click on the jar. The Linux archive manager should open it
3. Modify the META-INF MANIFEST.MF adding the following line to the ``Bundle-NativeCode`` header:
 ``
lib/linux/armv7hl_

[2016-12-19 15:27] amitjoy commented on #932
As I have mentioned earlier, we need OSGi to manage the lifecycles of `BaseAsset` service component and `WireAsset` service component. If we split up `org.eclipse.kura.asset.provider` bundle to have a fragment to contain `WireAsset`, it is not possible to export it as fragment does not allow to export services.

[2016-12-19 16:35] ctron commented on #932
Sure, but the instance can be exported from any bundle. Not necessarily just this one. And not necessarily from a fragment.

[2016-12-19 16:42] dwoodard1 commented on #812
@cdealti This is fixed on develop, I can manually create the Javadocs for the v2.1.0 release. Can we close this?

[2016-12-19 16:44] amitjoy commented on #932
So you mean, the instance of the service component can be exported from any bundle. But what would be the advantage of exporting the instance from other bundle?

[2016-12-19 16:48] ctron commented on #932
You are not exporting BaseAsset instances from this bundle. I will dig into this next year and try make an example for you.

[2016-12-19 16:59] amitjoy commented on #932
Actually `BaseAsset` instances are exported from `org.eclipse.kura.asset.provider` bundle when it is required. That is, when user only uses `Asset-Driver component model` to perform read/write operations, `BaseAsset` instances are exported from `org.eclipse.kura.asset.provider`  bundle. But while using Kura Wires, no `BaseAsset` instance is created rather `WireAsset` instances are exported from `o

[2016-12-19 17:50] cdealti commented on #958
See #961

[2016-12-19 20:35] dwoodard1 commented on #956
@cdealti @MMaiero I tested on a RPi 2 and it seems to work as expected.

[2016-12-19 22:12] dwoodard1 commented on #795
@cdealti Installed Kura and connected to cloud. All services appear to be up and running, but did not perform full QA.

[2016-12-20 13:20] cdealti commented on #911
Let's postpone this

[2016-12-20 13:23] cdealti commented on #930
@nicolatimeus can you please test the last comment?

[2016-12-20 13:28] #958 closed

[2016-12-20 16:12] markoer commented on #934
It turns out I actually reported this as part of #889, but hid it well.

[2016-12-20 18:18] cdealti commented on #910
Without logs this is impossible to troubleshoot. Postponed

[2016-12-20 18:21] cdealti commented on #795
OK, this platform needs a maintainer.

[2016-12-20 18:38] cdealti commented on #790
There is a validation spreadsheet in the Community site by Marko and Leonardo. Something has not been tested. Maybe we can publish them.

[2016-12-20 18:41] cdealti commented on #292
@dwoodard1 if you mean the launch configs for the committer workspace (as opposed to the dev env) I believe this should be postponed.

[2016-12-20 22:06] ctron commented on #910
I think I sent you all the logs by email.

[2016-12-20 23:37] amitjoy opened #966 "Use Java 7 Compare methods instead of own implementations"
Recently introduced Kura types incorporate the use of Java 1.6 constructs and hence, it uses own implementations for its `compareTo(Object)` method. As we are moving to Java 1.8, it is advised to reuse Java 1.7 compare methods.

[2016-12-21 08:37] #793 closed

[2016-12-21 08:39] #292 closed

[2016-12-21 08:42] #788 closed

[2016-12-21 08:45] #956 closed

[2016-12-21 08:50] #789 closed

[2016-12-21 13:54] cdealti commented on #910
I've checked my inbox and found the logs you sent on Dec 15th.
I cannot see anything obvious in the logs.
We haven't noticed this issue with other platforms/networks.
There must be something specific of your network.

[2016-12-21 13:56] cdealti commented on #812
OK. Thanks

[2016-12-21 13:56] #812 closed

[2016-12-21 13:57] cdealti commented on #144
@dwoodard1 I believe this can be postponed

[2016-12-21 13:59] cdealti commented on #135
@dwoodard1 can we postpone?

[2016-12-21 14:23] dwoodard1 commented on #135
Yes.

[2016-12-21 14:27] cdealti commented on #930
Close via #967

[2016-12-21 14:27] #930 closed

[2016-12-21 14:28] cdealti commented on #321
Close via #967

[2016-12-21 14:28] #321 closed

[2016-12-21 16:13] #796 closed

[2016-12-21 16:14] #795 closed

[2016-12-21 16:14] #791 closed

[2016-12-21 16:15] #790 closed

[2016-12-21 16:15] #794 closed

[2016-12-22 08:28] MMaiero commented on #767
Closed by #969

[2016-12-22 08:28] #767 closed

[2016-12-22 10:12] cdealti commented on #690
I've added a new section to the [Multiple Cloud Connections Wiki](https://github.com/eclipse/kura/wiki/Multiple-Cloud-Connections#web-ui-cloud-services).

If you think we should mention some Camel-specific aspects, please add your notes to the page

[2016-12-27 14:45] markoer commented on #915
This happens when the value is outside of java's allowed interval for the type. And when `org.eclipse.kura.web.client.ui.AbstractServicesUi`'s `validateTextBox` parses the number, NumberFormatException is thrown and the message in question is exactly its message.

Possible options for a fix:
* use BigInteger and its shortValueExact, intValueExact, longValueExact, byteValueExact
* validate and eval

[2016-12-27 14:51] markoer commented on #889
Retested on Kura 2.1.0 build 19.

'Normal' range error messages are now OK.

DEN-CONF-027's message is a part of the component configuration and serves as a sample of the possible metrics description, so it's also OK.

Notes regarding DEN-CONF-016 and DEN-CONF-029 still remain open (see #915).

[2016-12-27 14:58] markoer commented on #893
Verified on Kura 2.1.0 build 19.

[2017-01-01 22:06] tomislavi opened #975 "Add support for Bluetooth 4.2 and 5"
Add support for devices which have Bluetooth version 4.2 or 5.

In org.eclipse.kura.linux.bluetooth.util.BluetoothUtil there is:
`// HCI version : 4.0 (0x6) or HCI version : 4.1 (0x7)`
`if (result.indexOf("0x6") >= 0 || result.indexOf("0x7") >= 0) {`

[2017-01-04 18:18] #787 closed

[2017-01-04 18:44] #726 closed

[2017-01-04 18:45] #688 closed

[2017-01-04 18:46] #679 closed

[2017-01-05 19:28] dwoodard1 commented on #76
@devNbis Are you still interested in contributing this to Kura? I know this is very old, we are trying to clean up some of our old, outstanding issues.

[2017-01-05 19:30] dwoodard1 commented on #88
@cdealti Should we close this? I am not sure if removing the udev dependency is realistic considering our backlog of work.

[2017-01-05 19:32] dwoodard1 commented on #133
@ctron Is this issue still open or tracked elsewhere in your Karaf work? Just wondering if we can close this and/or #99 at this point?

[2017-01-05 19:34] dwoodard1 commented on #104
@cdealti Should we close this or leave it open to track the need for IPv6 support?

[2017-01-05 19:41] dwoodard1 commented on #108
@cdealti Should we address this or remove the CloudCallService?

[2017-01-05 19:42] dwoodard1 commented on #123
@ctron Can this be closed?

[2017-01-05 22:05] dwoodard1 commented on #151
@cdealti Haven't we already looked into this? Do we need this placeholder Issue?

[2017-01-05 22:08] dwoodard1 commented on #153
We have had some promising results using the OSGi JAX-RS Connector [1]. It is very easy to use and is licensed EPL. I don't know that it needs to be in the core of Kura, but it would be easy to distribute as an "add on". Thoughts?

[1] https://github.com/hstaudacher/osgi-jax-rs-connector

[2017-01-05 22:09] dwoodard1 commented on #157
@amitjoy Can we close this?

[2017-01-05 22:09] amitjoy commented on #157
👍

[2017-01-05 22:16] #157 closed

[2017-01-06 09:10] djurod opened #981 "[Testing] Unit Tests for org.eclipse.kura.core.status"

[2017-01-06 09:11] djurod commented on #981
Could someone add appropriate labels? At least "testing" is needed.

[2017-01-06 09:40] #824 closed

[2017-01-06 09:47] #736 closed

[2017-01-09 08:52] ctron commented on #133
This issue is independent of Karaf. And since we won't switch to Karaf for 3.0, I would like at least to provide this feature out of the box for Kura.

[2017-01-09 09:15] #123 closed

[2017-01-09 12:54] #245 closed

[2017-01-09 12:56] ctron commented on #460
I think we can close this one as we achieved this in 3.0.0

[2017-01-09 12:57] ctron commented on #570
IIRC this is merged in 3.0.0

[2017-01-09 12:58] ctron commented on #706
This is merged in 3.0.0

[2017-01-09 12:58] #706 closed

[2017-01-09 20:14] cdealti commented on #151
Not me and I'd be surprised if it worked. We can close it and reopen if someone starts complaining on slowliness

[2017-01-09 20:18] cdealti commented on #108
It's an API and its removal would be a major chance. Did we agree on breaking the API in 3.0? Or should be wait until really needed

[2017-01-09 20:21] cdealti commented on #104
I'd close it.

[2017-01-09 20:37] dwoodard1 commented on #104
We are closing this until we have a proper solution for implementing IPv6.

[2017-01-09 20:37] #104 closed

[2017-01-09 20:39] dwoodard1 commented on #108
I thought we were breaking the API in 3.0. If so, we should probably just remove it. If not, should fix the Service at is currently broken.

[2017-01-09 20:39] #151 closed

[2017-01-10 09:13] ctron opened #989 "Publish the source code for the JDK DIO module"
According to the Eclipse Foundation when using a GPL+CPE module the source code has to be pulished as well:

code. If the Eclipse project builds the executable form of the code from
source, it must provide all source and build scripts such that a third party
may attempt to re-build the distributed binary.

That is currently not true for the JDK DIO module of Eclipse Kura. Unless I have overlooked

[2017-01-10 09:30] #959 closed

[2017-01-10 09:40] markoer commented on #833
Let's face it. So long as Kura uses native libraries, there's no way it's only using one build environment, let alone one compile/test system. Only having Tycho brings more problems than it solves and I personally would rather avoid it altogether, but...
Anyway, Tycho means having even unit tests depend on another bloated environment configuration which is rather unstable and behaves differently w

[2017-01-10 10:49] ctron commented on #833
Of course if you dislike the whole setup of Krua that much, then it hard to follow the way Tycho works. But always working against a well established toolchain will not solved problems but cause many more. There is way Tycho works and as we have seen in the past, working against this creates problems.

So on the long run I would suggest to follow the ideas of Tycho or switch the whole different to

[2017-01-10 11:28] ctron opened #990 "Script error in installer"
Running a recently built 3.0.0 version of the the Kura installer generates the following error:

[code]

[2017-01-10 13:21] amitjoy opened #993 "Emulator does not start due to mandatory javax.comm dependency"
Emulator (only tested in OSx) does not start due to mandatory dependency of `javax.comm` in API bundle. The OSGi runtime could not find any bundle exporting `javax.comm`, hence all the transitive and intransitive bundles failed to start. Just for a quick test, I have set `javax.comm` as an optional package in API bundle which resulted in successful start of the emulator.

[2017-01-10 18:54] #817 closed

[2017-01-11 10:12] rita-zgheib opened #997 "URI has an authority component"
Hey,
I am trying to build kura project using this command "mvn -Dmaven.test.skip=true -f manifest_pom.xml clean install"
but I have the same problem always URI has an authority component  Failed to load p2 repository with ID 'p2-repo-equinox_3.11.1' from location file:////C:/Users/rzgheib/git/kura/kura/target-definition/equinox_3.11.1/repository/

Any advice?
Thank you in advance,

Rita

[2017-01-11 13:10] nicolatimeus commented on #990
I'll take a look, can you please paste the output of java -version?

[2017-01-11 16:50] amitjoy opened #999 "Refactoring: PropertiesUi must extend AbstractServicesUi"

[2017-01-11 17:07] dwoodard1 commented on #975
Hello,

Sorry for the delayed response. Unfortunately, we haven’t been able to verify Kura against Bluetooth > 4.1. Until we can, we don’t feel comfortable enabling this support. May I ask what device/BLE adapter/OS you are using that is using Bluetooth > 4.1?

Thanks,
--Dave

From: tomislavi <notifications@github.com>
Reply-To: eclipse/kura <reply@reply.github.com>
Date: Sunday, January 1, 2017 a

[2017-01-11 19:47] tomislavi commented on #975
I was playing with BLE examples in emulator on my laptop with integrated Bluetooth. That is not IoT gateway, but it would be useful for development or for learning Kura if Bluetooth worked.

HP ProBook 650 G2
Intel Dual Band Wireless-AC 8260 802.11a/b/g/n/ac (2x2) WiFi and Bluetooth® 4.2 Combo
Linux

hciconfig hci0 version

hci0:   Type: Primary  Bus: USB
        BD Address: XX:XX:XX:XX:XX:XX  ACL

[2017-01-11 21:01] dwoodard1 commented on #975
Thanks for the information. We will check around and see what we can find in the way of > 4.1 BLE dongles. In the meantime, you could edit and compile the source code for yourself. You identified the small bit of code that needs to change. It would be great to hear your feedback on how the Beacon example worked with 4.2.

Thanks,
--Dave

From: tomislavi <notifications@github.com>
Reply-To: eclipse

[2017-01-11 21:56] dwoodard1 commented on #997
I don't have a Windows machine to test on, but it looks like an extra "/" may have been added to the manifest_pom.xml file. Can you try changing:

file:////${kura.basedir}/target-definition/equinox_3.11.1/repository/

to

file:///${kura.basedir}/target-definition/equinox_3.11.1/repository/

@pierrepitiot Do you have a Windows machine on which you could try building the develop branch?

[2017-01-12 10:37] ctron commented on #932
@amitjoy Please have a look at and let me know if you see any issues with that.

[2017-01-12 10:43] ctron opened #1000 "Memory leak and concurrency issue in 'EventHandlerServlet'"
IMHO there is a huge memory leak and beside that a concurrency issue in the newly added `EventHandlerServlet`.

There is only a single queue for buffering events. This queue is unbounded and if no web session reads those events, then the queue will fill up until all memory is used up.

Beside that events which have been sent to one user won't be sent to others.

[2017-01-12 11:44] amitjoy commented on #1000
Yes, it has been kept unbounded intentionally. The events fired by WireEmitter instances are maintained here. There also exists consumer threads which consumes the data from this queue. So, we can make sure that for every data produced by the queue, there will be enough number of consumers to consume this data at the same time. There cannot be data producers without consumers or vice versa. And th

[2017-01-12 13:48] ctron commented on #1000
The only consumer of this queue is the `doGet` method of the servlet.

So when Wire applications are running (in the background) they are producing events. Filling up the queue. So as long as no one keeps a Web UI open, Kura will OOM at some point. Is that the intention?

Beside that only one Web UI session will receive events. So the Web UI may only be used by a single user. Is that also intentio

[2017-01-12 13:50] ctron commented on #990
[code]

[2017-01-12 14:07] rita-zgheib commented on #997
I tried to remove "/" and I tried all "/" options but it doesn't work. I followed the documentation and instructions in this link: https://wiki.eclipse.org/Kura/Getting_Started

It seems that it is a problem with equinox 3.11.1 because I found another version with kura-equinox_3.8.1 and it works. I am now following this documentation https://eclipse.github.io/kura/doc/kura-setup.html and i downloa

[2017-01-12 14:07] amitjoy commented on #1000
The size of the `ConcurrentLinkedQueue` is unbounded and if producers are producing values faster than the consumers, it can indeed end up with OOM. It is definitely better to switch to bounded blocking queues to prevent OOM. Good catch 👍.

[2017-01-12 14:07] amitjoy commented on #1000
I will make the necessary changes.

[2017-01-12 15:47] ctron opened #1003 "Switch to Fedora 25"
As Fedora 25 is now released and supports Raspberry Pi 3 out of the box, I would suggest to switch from Fedberry 24 to Fedora 25.

[2017-01-12 15:50] ctron commented on #997
@rita-zgheib Did you use the manual way or the Eclipse installer way?

[2017-01-12 16:04] rita-zgheib commented on #997
Both of them !

[2017-01-12 16:16] dwoodard1 commented on #997
Do you need to build Kura or do you simply want to run Kura on a Raspberry Pi? If you just want to try Kura on a Raspberry Pi, I would recommend following these instructions: http://eclipse.github.io/kura/doc/raspberry-pi-quick-start.html.

We will look into the issue of building Kura on Windows.

[2017-01-12 16:25] rita-zgheib commented on #997
I want to use Kura for my platform that I am developing during my phd. The target of my project is to exchange semantic messages over MQTT in an IoT applications. For that I want to use Kura and I want to add the specifications of my application.

I have already tested Kura on the raspberry and everything is OK!

[2017-01-12 16:32] pierantoniomerlino commented on #975
FYI, [here](https://www.bluetooth.com/specifications/assigned-numbers/host-controller-interface) there are the HCI version numbers that the code should check.

[2017-01-12 16:33] dwoodard1 commented on #997
So, you likely don't need to build Kura from source. What you need is the workspace so you can begin developing your application. The correct documentation that you defined is: http://eclipse.github.io/kura/doc/kura-setup.html. The current release of Kura is v2.1.0, which uses Equinox 3.8.1. For this workflow you don't need Equinox 3.11.1 or to build Kura using the Maven commands. Just create your

[2017-01-12 16:35] rita-zgheib commented on #997
OK, thank you so much!

[2017-01-12 18:19] #933 closed

[2017-01-12 18:28] dwoodard1 opened #1004 "BLE Connection Limits"
During the BLE connect process, Kura should check for cases where too many BLE links are already present. The error from GATTTOOL reports as:

Connecting... connect error: Too many links (31)

This case should be handled explicitly and immediately terminate the connect process instead of waiting for a timeout. A specific error should also be thrown to indicate that the maximum number of devices ha

[2017-01-13 09:17] pierantoniomerlino commented on #1004
@dwoodard1 It seems that the maximum number of connections is an hardware limitation, so I agree with you to handle this exception separately.

[2017-01-13 14:20] dwoodard1 commented on #1004
@pierantoniomerlino Yes, it is a hardware limitation. Luckily, GATTTOOL seems to always report with the same error message. So, we should be able to provide the "too many links" error independent of the hardware used.

[2017-01-14 00:45] amitjoy commented on #932
Previously I thought you were talking about the extensibility behaviour of `BaseAsset` as it is extended by `WireAsset` in another bundle. I am completely fine with separating the utility services in different bundles. 👍

[2017-01-14 11:08] amitjoy opened #1006 "Use Java 7 way for equals and hashcode for POJOs in Wires APIs"
To reduce verbosity, it is better to replace existing `equals` and `hashcode` implementations of Wires POJOs with Java 7 way of using factory methods of `Objects`.

[2017-01-15 13:06] ctron commented on #932
Cool. So this can be merged from your perspective?

[2017-01-15 13:09] amitjoy commented on #932
I don't see any problem with that 👍. You can merge this.

[2017-01-16 08:22] ctron opened #1008 "Document how to set up Raspberry Pi (1)"
To me it looks like as if the Raspberry Pi foundation has abandoned the original Raspberry Pi distribution [1]. There is no clear way what and how to download and setup a Raspberry Pi for Kura.

If we still need as Raspberry Pi (for ARMv5 SF) then we should document this in order to allow proper testing.

[1] https://www.raspberrypi.org/downloads/

[2017-01-16 09:19] djurod opened #1009 "[Testing] Unit Tests for org.eclipse.kura.core.certificates"
Could someone add the "testing" label?

[2017-01-16 10:09] #841 closed

[2017-01-16 13:32] ctron opened #1012 "Memory leak in ConfigurationService"
There is a memory leak in the configuration service. To the map `m_pendingDeletePids` items will only be added. But never removed.

[2017-01-16 14:34] ctron commented on #1008
So from what I have read here [1] and hereh [2] our ARMv5 SF target would be obsolete?!

[1] http://elinux.org/RPi_Distributions#What_is_armhf.3F
[2] http://elinux.org/RPi_Distributions#Debian_.28Squeeze.2F6.x.29

[2017-01-16 15:02] ctron opened #1013 "Drop support for ARMv5 SF/soft float"
As all models of the Raspberry Pi back to model 1 support ARMv6 HF/hard float, there seems to be no need to maintain additional native binaries for the ARMv5 SF target.

[2017-01-16 15:28] ctron opened #1014 "Re-compile with libudev.so.1"
To me it seems as if all target support `libudev.so.1`. So instead of maintaining two native variants I would suggest to drop support for `libudev.so.0` and switch to `libudev.so.1`.

[2017-01-16 15:29] ctron opened #1015 "Fix Fedora target to use libudev.so.1"
The merge of the Kura 2.1.0 branch into the Kura 3.0.0 develop branch brought back the issue of linking against the missing `libudev.so.0` library.

[2017-01-16 15:36] ctron opened #1016 "ConfigurationServiceImpl creates duplicate instances"
On startup the Kura ConfigurationServiceImpl does re-create all factory configurations. This results in duplicate service instances. Adding one more for each start.

The reason why this does not manifest into a problem is that Kura forces Equinox to clear the configuration area when starting up.

However this makes the OSGi ConfigAdmin effectively non-persistent and doesn't allow any non-Kura conf

[2017-01-16 15:41] ctron commented on #1003
Currently blocked by #1015

[2017-01-16 15:49] #932 closed

[2017-01-16 16:00] ctron opened #1017 "Split up "org.eclipse.kura.core""
Currently the bundle `org.eclipse.kura.core` provides a total of 6 services in a single package. As we already discussed in the past, we need to split this up in order to allow different implementations of those services.

For example the `SystemAdminServiceImpl` currently has a big "switch case" for Windows, Linux, Mac OS. We already discussed in the past (#608) this should be cleaned up.

My pro

[2017-01-16 23:48] amitjoy opened #1022 "Move AssetComponent.xml to Asset Provider"

[2017-01-17 17:58] #678 closed

[2017-01-17 18:00] dwoodard1 commented on #665
@amitjoy Is there a PR referencing this issue?

[2017-01-17 18:01] amitjoy commented on #665
Not open any more. You can close this.

[2017-01-17 18:16] #665 closed

[2017-01-17 22:13] dwoodard1 opened #1023 "[Test] Oomph Setup QA"
The following scenarios should be tested to validate the Oomph based setup:

- [ ] Install a new developer's workspace on OSX and verify that all projects are present in the workspace, there are no errors in the workspace, and the emulator starts without error
- [ ] Repeat above for Linux

[2017-01-18 09:34] ctron commented on #722
As already posted on the mailing list, there is an experimental branch hosting a set of Dockerfiles and build scripts which can compile on RHEL7/CentOS7 (x86_64), Fedora 25 (ARMv6, ARMv7) and Ubuntu (x86 and x86_64).

However we do need a way to also target the other architectures like Yocto Linux and ARMv5 which currently cannot be re-compiled.

https://github.com/ctron/kura/tree/feature/fix_c_bu

[2017-01-18 10:35] MMaiero opened #1024 "PR #1007 broke distribution for assets"
Currently, when trying to instantiate an asset from the wire composer, the Javascript part returns an INTERNAL_ERROR exception.

[2017-01-18 10:44] ctron commented on #1024
Hard to test as there is no driver instance in Kura currently. Do you have some steps to reproduce?

[2017-01-18 10:48] MMaiero commented on #1024
I'm doing a full testing, for that reason I've assigned the issue to me.
But was pretty logic, since we divided the bundle in two, to add the newly created bundle into the distribution. Obviously those things happen. So, no problem on this. I wanted just to track the activity.

I will push a PR soon with the fix.

[2017-01-18 10:49] ctron opened #1026 "Dragging a wire component onto the wire graphs pops up the install dialog"
The Kura wires UI allows for dragging and dropping. And a user can actually drag and drop an element from the right hand side wire components list onto the Wire graph.

However in this case the wire component is not added but a dialog "Install file?" pops up.

[2017-01-18 10:51] amitjoy commented on #1026
Drag and Drop feature is not added in Kura Wires. It will be added in future revision. The drag and drop event handler is currently applied to all the Kura Web GUI whereas it must be removed from the Kura Wires Composer UI.

[2017-01-18 10:51] MMaiero commented on #1026
Not really, the dragging works when the component is already dropped.

It's the marketplace drag and drop feature. And it's all over the ui.

[2017-01-18 14:49] dwoodard1 opened #1032 "Eclipse Drag and Drop Review"
As the Eclipse Marketplace is planning a major update in conjunction with our M1 release, we should review the drag and drop functionality in Kura.

[2017-01-18 14:50] dwoodard1 commented on #1026
The drag and drop event for the Eclipse Marketplace should be reviewed. It was added as a POC and never fully tested. I have created a new issue #1032 to track this. If Kura Wires needs special handling of this feature (i.e. Drivers from the Marketplace), please add it to the issue.

[2017-01-18 15:02] MMaiero commented on #1026
Thanks @dwoodard1.
So we can close this? I think we can continue in #1032

[2017-01-18 15:09] MMaiero opened #1033 "Rename org.eclipse.kura.asset.provider.default to org.eclipse.kura.asset.utility.provider"
Consequent to PR #1007 the org.eclipse.kura.asset.provider was splitted into 2 separate bundles:

- org.eclipse.kura.asset.provider

- org.eclipse.kura.asset.provider.default

In my opinion the org.eclipse.kura.asset.provider.default name is a little bit misleading because the ".default" suffix has never been used before in our bundles and because the org.eclipse.kura.asset.provider.default is, in

[2017-01-18 16:22] ctron commented on #1033
IIRC this bundle hosts at least two services. So naming it "utility" seems a bit misleading.

[2017-01-18 16:24] MMaiero commented on #1033
What would be your proposal?

[2017-01-18 16:29] amitjoy commented on #1033
The `.default` bundle provides utility service implementations. `org.eclipse.kura.asset.utility.services.provider` would be my recommendation

[2017-01-18 17:51] ctron commented on #1033
So the reason for that was simply that is was previously all in the `org.eclipse.kura.asset.provider` bundle, which seemed to be fine then. Adding `default` as the default implementation.

I am strongly against `utility` as this is currently used nowhere else either. Which we could also change of course. So adding `utility` to the package name would help then. Also `utility` to me indicates someth

[2017-01-18 17:57] amitjoy commented on #1033
The `org.eclipse.kura.core.feature` is the old naming convention that Kura followed. When we started developing Kura Wires, we followed the naming scheme that OSGi community suggests - `.api` for the api bundle and `.provider `or `.adapter` for implementation. Hence, we followed this schematic pattern for nomenclature.

As `Asset` and `Driver` belongs to a same component model and Asset is depende

[2017-01-18 19:10] ctron commented on #1033
So maybe you could reference to this decision and to the specification. I think that would help.

[2017-01-18 19:14] amitjoy commented on #1033
It is actually specified by OSGi enRoute project.

http://enroute.osgi.org/tutorial_base/300-api.html

[2017-01-18 19:17] amitjoy commented on #1033
To simplify the things, I am proposing the following changes.

1. New Bundle - `org.eclipse.kura.asset.helper.provider` - that will contain `AssetService`
2. New Bundle - `org.eclipse.kura.driver.helper.provider` - that will contain `DriverService`
3. `org.eclipse.kura.asset.provider`will stay as it is that contains `Asset` implementation - `BaseAsset`

In this way, we will have more flexibility o

[2017-01-19 21:33] dwoodard1 commented on #989
I really thought I commented on this, not sure what happened.

@LucaDazi Where do we have the JDK DIO source code?

[2017-01-19 21:53] cdealti commented on #989
In the kura target-platform

[2017-01-19 21:57] dwoodard1 commented on #989
Where? I see the Class files, but not the source.

[2017-01-19 22:10] cdealti commented on #989
Sorry, in the esf target-platform

[2017-01-20 00:01] amitjoy commented on #1033
Fixed by #1035

[2017-01-20 08:04] MMaiero commented on #1033
I was thinking in having only two bundles grouping all the asset stuff into a bundle and all the driver stuff into another. But I don't find a proper naming for the driver part. Also, the result could seem a little bit asymmetrical. So, I agree in having the bundles split in 3 (#1035) for the time being. If we find a better solution later, we will modify that properly.

[2017-01-20 08:15] amitjoy commented on #1033
Grouping assets in one bundle would result in having 2 service implementations in one bundle. This is okay but in considering the advantages of OSGi, any of these service implementations won't be dynamically updated in the OSGi runtime container. So, at best separating these services in respective bundles would enable runtime updation.

It looks as if the services related to Asset Component Model

[2017-01-20 16:14] dwoodard1 commented on #1023
This may be user error on my part, but I am still having the below issues with a fresh Oomph setup:

- The emulator (org.eclipse.kura.emulator -> Kura_Emulator_OSX.launch) doesn't start. I can provide the errors, but there are many. Are others using a different approach to start the emulator?
- There are errors in the projects (org.eclipse.kura.protocol.can, org.eclipse.kura.windows.clock, etc). T

[2017-01-23 08:36] markoer opened #1038 "[Testing] Configuration service's property validation exception message parameters are missing"
When an invalid value is set, an exception is thrown. This is all OK, except that the localized message is faulty:
[code]

The cause is in the parameters that are passed to the exception in ConfigurationServiceImpl.java: 1481:
[code]
and the message expects 3 arguments:
```CONFIGURATION_ATTRIBUTE_INVALID=The configuration attribute {0} cannot accept value {1}: {2}.```

The solution is to use addit

[2017-01-23 22:22] ctron commented on #1023
So for the ".can" protocol you need to actually download dependencies which seem to be optional. As the project it optional and only included in the build if the specific profile is enabled (default is disabled).

Of course we can enable the profile in the initial build.

The launch configuration I am using with the Oomph installer is "Eclipse Kura Emulator". And IIRC this should work on both Linu

[2017-01-23 22:44] ctron opened #1040 "Clean up or remove 'pom_pom.xml'"
Looking at the `pom_pom.xml` file it looks to me as if the only two modules which are still using this are `distrib` and `tools`. Digging deeper into the structure looks like that this could me massively improved. Which could also help to clean up the mess of two POM files in a single directory, renaming `manifest_pom.xml` back to `pom.xml`.

The `pom_pom.xml` could either be removed and only nece

[2017-01-23 22:49] ctron commented on #1013
So just to remember from the last project call. Kura currently doesn't make use of ARMv5,  but we still want to leave them in Kura for the time being. With one of the next Kura versions we will provide a to re-compile those binaries with the Kura build system.

[2017-01-23 22:50] ctron commented on #993
Which launch configuration have you been using?

[2017-01-24 10:12] amitjoy opened #1041 "Restructure Wire Envelope to make compatible with Kura Payload"
The current Wire Envelope structure is not compatible with Kura Payload as this structure is as same as it gets created on the fly by the different Wire Components. This makes it incompatible with the current Kura Payload structure that is consumed by other applications for further processing.

[2017-01-24 10:22] pgufAtIBM commented on #1023
tested the Oomph installer to setup a developers workspace on a Windows 7 machine (shown at https://www.youtube.com/watch?v=RwE3tLtejHM&feature=youtu.be). Last year in August I was able (after some problems) to setup the development environment on windows 7. Therefore I used now again this approach and faced now following problems:
**Problem 1** occurred when the installer wanted to download the s

[2017-01-24 20:16] dwoodard1 commented on #1040
I agree, I believe the pom_pom.xml can be merged into the manifest_pom.xml. And the manifest_pom.xml renamed to pom.xml. This was a historical artifact for when we needed both a "manifest first" and "pom first" build.

I am not sure I follow your logic on the profiles. I use this feature quite often when building for a specific target. For example, running mvn -f pom_pom.xml -Praspberry-pi-2-3 wil

[2017-01-24 20:38] dwoodard1 commented on #1023
@ctron That emulator does work better, but there are two issues. One, it appears the "org.eclipse.kura.example.beacon.scanner" is selected to run, this should be deselected. Two, the persistent directories (snapshots/ and data/) are created in the kura/distrib folder. I am not sure they belong there. Historically these were kept in the workspace directory.

I also think we should clean up the exis

[2017-01-24 21:02] ctron commented on #1040
I agree on the latter part for the "distrib" project. But I was only referencing the main/parent pom_pom list of profiles. I use the distrib profiles myself pretty often.

[2017-01-25 00:07] amitjoy commented on #993
I am using OSx launch configuration. It is quite weird as I am encountering this issue quite rarely but it still exists.

[2017-01-25 03:31] ctron commented on #993
Could you try the generic launch configuration?

[2017-01-25 08:59] amitjoy commented on #993
You mean the Linux one?

[2017-01-25 09:19] #1038 closed, assigned to nobody

[2017-01-25 09:26] MMaiero commented on #1033
Closing since #1035 was merged

[2017-01-25 09:26] #1033 closed, assigned to MMaiero

[2017-01-25 09:26] #1026 closed, assigned to nobody

[2017-01-25 09:27] MMaiero commented on #1024
Closing due to #1035 merging

[2017-01-25 09:27] #1024 closed, assigned to MMaiero

[2017-01-25 09:27] #1022 closed, assigned to nobody

[2017-01-25 09:29] MMaiero commented on #1008
Can we close this issue due to the merging of #1018?

[2017-01-25 09:34] MMaiero commented on #857
Could this be closed? For what I remember now we have dropped Preconditions and started using Objects.requireNonNull

[2017-01-25 09:38] amitjoy commented on #857
We still need to refactor `org.eclipse.kura.core.util.ValidationUtil` as it also comprises methods as already provided by `Objects` and Kura Utility bundle (`org.eclipse.kura.util`)

[2017-01-25 10:33] #570 closed

[2017-01-25 10:35] MMaiero commented on #556
This should be addressed by PR #1037

[2017-01-25 11:43] #1008 closed, assigned to nobody

[2017-01-25 11:49] ctron commented on #993
No I mean the generic one.

[2017-01-25 15:00] pgufAtIBM commented on #1023
@dwoodard1: thank you for your comment. I changed in the Eclipse Installer, "Variables" view to "HTTP read / write", entered my mail address. Before clicking at the button "Finish" I added in Eclipse (Neon 2) following settings under "Window" -> "Preferences":
"General" -> "Network Connection" -> "SSH2": double check here if private ssh key is set (how this can be done is described here: https://h

[2017-01-25 15:43] pgufAtIBM commented on #1023
executed _mvn compile_ in git\kura\target-platform path provided more details: seams that in some code files Windows line endings are used:
[INFO] ------------------------------------------------------------------------
[INFO] Building Java API for working with Human Interface USB Devices (HID) 1.1.3-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[I

[2017-01-25 16:42] pgufAtIBM commented on #1023
looked into where the error for "Do not use Windows line endings" comes from:
git\kura\checkstyle_checks.xml:

[code]

@LucaDazi: saw that the listed files were commited by you. can you please have a look? Thanks

[2017-01-26 09:51] djurod opened #1048 "[Testing] Unit Tests for org.eclipse.kura.core.linux.util"
Writing unit tests for org.eclipse.kura.core.linux.util package in org.eclipse.kura.core.

[2017-01-26 14:15] pierantoniomerlino opened #1051 "[GPS] When GPS fix is acquired, is not possible to switch back to static position"
In order to reproduce this issue, proceed as follows:
1. enable the position service and select static position: the static coordinates will be published.
2. disable static position and wait for acquiring a fix from GPS: the new coordinates will be published.
3. switch back to static position: the new static position will NOT be published.

[2017-01-27 03:16] ibinshtok opened #1053 "dhclient is not being killed if interface is switched from DHCP to static."
The LinuxNetworkUtil.disableInterface(interfaceName) call in the disableInterface() method of the EthernetMonitorServiceImpl class should be replaced by the m_netAdminService.disableInterface(interfaceName)

[2017-01-27 11:09] amitjoy opened #1054 "Move Camel Configuration Utility Class to Kura Utility Bundle"
Kura Camel component contains an useful utility class - `org.eclipse.kura.camel/src/main/java/org/eclipse/kura/camel/component/Configuration.java` which can be reused in other bundles as well. Currently the other bundles which deal in OSGi configurations contain a specific class suffixed mostly with `Options` (`CloudSubscriberOptions`, `CloudPublisherOptions` etc.) that extract the properties from

[2017-01-30 10:45] nicolatimeus opened #1056 "Kura Wires severity level based filtering issue"
`WireSupportImpl.filter()` returns a new WireRecord for every WireField it founds:
[code]
The spurious results of the filtering can be seen by setting the severity level of any Logger component to something different than SEVERE.

[2017-01-30 10:56] nicolatimeus opened #1057 "Kura Wires BaseAsset write issue"
`BaseAsset.write()` returns two driver records for each AssetRecord received

[code]

[2017-01-30 11:15] ctron commented on #1051
I think is a duplicate of #918

[2017-01-30 11:18] pierantoniomerlino commented on #1051
@ctron I totally agree. I'll close the PR.

[2017-01-30 11:18] #1051 closed, assigned to nobody

[2017-01-31 00:10] amitjoy commented on #1056
Good catch. It's a misplacement of parenthesis. I will quick fix it tomorrow.

[2017-01-31 00:33] amitjoy commented on #1056
As `WireSupporImpl` would be moved to new bundle, I would fix it as soon as #1047 gets merged.

[2017-01-31 10:12] djurod opened #1062 "Not waiting for process to finish in LinuxProcessUtil doesn't work"
Some methods in org.eclipse.kura.core.linux.util.LinuxProcessUtil class have a parameter "wait" with which you can wait for the process to finish or immediately continue.

When I set "wait" parameter to "false" I expected that it will not wait for the process to finish, but it doesn't.

I noticed that in the LinuxProcessUtil.java file on line 44 ProcessUtil.exec() method is called which always wai

[2017-01-31 13:29] djurod commented on #1062
I investigated this a little more and found out that both "wait" and "background" parameters in LinuxProcessUtil class methods are totally useless, because in the end when you start a process it will ALWAYS wait for the process to finish.

Also it appears that "internal" uses of this class (in other Kura bundles) in almost all cases already calls the start method which waits for the process to fin

[2017-02-01 07:13] shankarit1252 opened #1063 "I am working on eInfochips eragon410 board(qualcomm processor)"
I have installed linux OS on the device, will this eclipse kura works to receive sensors data through BLE.
could u help me out

[2017-02-01 21:27] djurod opened #1067 "[Testing] Tests for org.eclipse.kura.core.cloud"
Writing tests for org.eclipse.kura.core.cloud.

[2017-02-02 09:09] ctron commented on #1062
What speaks against using Apache Commons Exec instead of some self made functionality?!

[2017-02-02 10:38] cdealti commented on #1062
Nothing. However I believe that ACE creates two new threads for every command executed.
This is why we have never used it.

To make a long story shorter, the self made functionality was added as a temporary workaround to prevent a memory leak occurring with some versions of the JVM but it has been fixed now.

I agree it should be replaced with something else but I would like to understand the impl

[2017-02-02 10:55] amitjoy opened #1069 "Change Package Infos in API Bundle that contain @since annotation"
Wires and its related packages that contains `@since` annotations in its package infos contain wrong information about its availability using package versions. We can also use `@version` as OSGi core and compendium specifications also use this.

[2017-02-03 15:20] dwoodard1 commented on #1063
@shankarit1252 Github Issues is typically used for tracking bugs in the framework or new features to be added. This type of question is better suited for the mail list or forums [1]. To answer your question, there is not a Kura version that officially supports qualcomm processors. If you would like more information on the question, please post to the mail list or the forum.

[1] https://www.eclips

[2017-02-03 15:20] #1063 closed, assigned to nobody

[2017-02-03 16:32] pgufAtIBM opened #1078 "Multiple Cloud Connection customized MqttDataTransport"
To facilitate the onboarding of the Kura gateway to a IoT platform, the Kura UI CloudService should only request MqttDataTransport properties needed (and shown on the IoT platform UI) for the corresponding IoT platform.
For Watson IoT platform following properties should be requested from the user:
MqttDataTransport
+ orgId
+ deviceType
+ deviceId
+ password
~ clean session
(~ other existing param

[2017-02-03 18:04] cdealti commented on #1078
Yes, it can reuse the Kura default DataService and DataTransportService implementations.

Yes

No

No, you can reuse the default one

If you need a DataTransportService implementation with different configuration properties you must provide your own.

To summarize: you can reuse the Kura DataService implementation but it looks like you have to provide your own CloudService and DataTransportService

[2017-02-06 08:28] MMaiero commented on #999
Closed by #1058

[2017-02-06 08:28] #999 closed, assigned to MMaiero

[2017-02-06 08:43] pgufAtIBM commented on #1078
Thank you for your answers! I will try your suggestions and let you know

[2017-02-06 16:06] djurod opened #1079 "[Testing] Tests for org.eclipse.kura.core.comm"
Writing tests for org.eclipse.kura.core.comm

[2017-02-07 16:53] pierantoniomerlino commented on #550
@pierrepitiot Since in the new ModbusProtocol we removed the distinction between RS485 and RS232, could we close this PR?

[2017-02-07 17:16] pierrepitiot commented on #550
Yes, the correct Modbus service is in develop branch presently :
https://github.com/eclipse/kura/tree/develop/kura/org.eclipse.kura.protocol.modbus

[2017-02-08 14:26] amitjoy commented on #846
Fixed by #1081

[2017-02-08 23:10] #1057 closed, assigned to nobody

[2017-02-08 23:10] #1056 closed, assigned to nobody

[2017-02-08 23:11] #1041 closed, assigned to amitjoy

[2017-02-08 23:13] #846 closed

[2017-02-10 08:07] MMaiero commented on #487
I think this is addressed in Kura 3.0.0 with the event model implementation in web 2

[2017-02-10 08:08] MMaiero commented on #555
@pierrepitiot Is this issue addressed by the latest changes you made?

[2017-02-10 08:08] #556 closed

[2017-02-10 10:12] pierrepitiot commented on #555
@MMaiero yes, this has been fixed by PR #994

[2017-02-10 10:12] #555 closed

[2017-02-13 10:37] pgufAtIBM commented on #1078
Hi, I have now a separate MqttDataTransportWatsonIoT osgi service.
fix problem with configuration: How can I get the properties list of the MqttDataTransportWatsonIoT in the factory class so that I can pass it to MqttDataTransportWastonIoT class?
What is the preferred way how WatsonIoT bundle should be included in the automatic builds so that it is part of every distribution?

[2017-02-13 15:45] ctron opened #1091 "Kura doesn't properly report "ALREADY_DONE" state to Kapua"
Currently Kura doesn't properly report the fact that a download is "already done".

Kura directly adds the enum to the metric set:

[code]

In the log file you can see:
[code]

Beside that, Kapua doesn't understand this enum anyway. See eclipse/kapua#272

[2017-02-13 15:55] ctron opened #1092 "Possible NPE and non-working check"
In `DeploymentPackageUninstallOptions.java` the following check is done:

[code]

However the parameter type of `setJobId` is actually `long` instead of `Long`. So instead of the `KuraInvalidMessageException` a NPE will be thrown here.

Beside that I don't see any ready to prefix every call with `super`.

[2017-02-13 17:51] MMaiero commented on #1092
@ctron Have you already started implementing something? Otherwise, I can take care of these DEPLOY-V2 issues.

[2017-02-13 17:52] amitjoy commented on #1000
It has to be reopened. I have started developing a generic bundle that streams OSGi events using Server Sent Events. I am using the following libraries to develop the bundle:

- Jetty EventSource Servlet - https://github.com/jetty-project/jetty-eventsource-servlet
- Jetty Continuation - https://github.com/eclipse/jetty.project/tree/jetty-9.4.x/jetty-continuation

Using this bundle, any Server Sent

[2017-02-13 18:20] ctron commented on #1092
No, I haven't done anything here.

[2017-02-14 14:13] djurod opened #1096 "[Testing] Tests for org.eclipse.kura.core.util"
Writing tests for org.eclipse.kura.core.util package in org.eclipse.kura.core project.

[2017-02-15 09:31] pierantoniomerlino commented on #172
@MMaiero Do you remember on which device you showed this behaviour? I checked on 10-05 and 10-11 and the monitor correctly detected that the pppd is not active. Since this issue is quite old, there were some modifications that fixed it? Can we close it?

[2017-02-15 14:02] markoer opened #1100 "Inconsistent use of installation status strings in deployment impl"
o.e.k.c.d.install.InstallImpl uses INSTALL_STATUS.COMPLETED and FAILED's getStatusString() while it's not used with IDLE and IN_PROGRESS.
KuraInstallPayload further tries to cast these statuses to int.

[2017-02-15 14:33] #1100 closed, assigned to nobody

[2017-02-15 15:49] dwoodard1 commented on #1032
@MMaiero Can this be closed with #1102 ?

[2017-02-16 12:09] markoer opened #1104 "[Kura 3.0.0 M1 QA] RPi 2/3 installation package contains unwanted files"
RPi 2 installation contains
* plugins/org.junit_4.12.0.v201504281640.jar (regression of #860)
* install/network.interfaces.intel.edison - only intended for Edison, probably

Excludes concerning JUnit also contain com.gwt.user_*, but I also found plugins/com.gwt.user_1.0.1-SNAPSHOT.jar in installation.

RPi 3, kura 3.0.0-SNAPSHOT build 940

[2017-02-16 12:13] markoer opened #1105 "[Kura 3.0.0 M1 QA] Issue with binding services"
In a fresh installation of Kura two services were not bound, according to the logs:
[code]

Likely this is not a high-priority issue.

RPi3, Kura 3.0.0-SNAPSHOT build 940

[2017-02-16 12:21] markoer opened #1106 "[Kura 3.0.0 M1 QA] Default kura.style.dir doesn't exist"
In the fresh Kura installation kura.style.dir points to /opt/eclipse/kura/console/skin which is not present in installation. This results in warning during startup:
`WARN  o.e.k.w.s.s.SkinServlet - Resource Directory /opt/eclipse/kura/console/skin does not exist`

RPi3, Kura 3.0.0-SNAPSHOT build 940

[2017-02-16 12:59] markoer opened #1107 "[Kura 3.0.0 M1 QA] Issue with modal confirmation dialog(s)"
Modal dialogs tend to not be closed if user presses Enter while they are open.

Steps to reproduce:
* Update clock.ntp.host
* Click Apply
* Press Enter
* Confirm Save dialog (Yes)

Dialog doesn't close, but action is taken i.e. configuration is saved. The dialog's buttons are still enabled and functioning.

The same behavior is observed with warnings on leaving the current site:
* Update clock.ntp

[2017-02-16 12:59] MMaiero commented on #1104
I think that the org.junit is a regression, probably due to the changes to the build done by Jens.
I'm fixing that now.

In install folder we place many different files, the kura_install.sh based on them installs what expected for the desired platform.
Why are you concerned by com.gwt.user?

[2017-02-16 13:01] MMaiero commented on #1105
This set of messages came with the new osgi.
But I think it's not an issue since the cardinality is set to 0..1

[2017-02-16 13:02] MMaiero commented on #1106
Expected by design.
If you want to customize the UI style, you can specify a custom css in the console/skin folder and have that applied instead of the default one, without the need to recompile the web ui.

[2017-02-16 13:29] MMaiero commented on #1107
@markoer I'm trying with build 941 (but between them there shouldn't be changes affecting the configuration part of the UI) and I don't see the problem.

The dialog is always disappearing.

Why you press Enter before confirming?

[2017-02-16 13:53] MMaiero commented on #1107
Wait. I cannot reproduce the issue with Safari. With Chrome I see what you mean. But it seems that you are stacking confirm modals one over the other.

[2017-02-16 13:59] markoer commented on #1104
I'm not concerned about com.gwt.user_*, but it's specified in some of the excludes where JUnit is. If it's OK, don't worry about it.

[2017-02-16 14:01] markoer commented on #1105
So I guess I can close it as a no-issue.

[2017-02-16 14:01] #1105 closed, assigned to nobody

[2017-02-16 14:02] MMaiero commented on #1104
That was excluded to have the inclusion in another point of the code.

[2017-02-16 14:03] MMaiero commented on #1104
Please have a look at #1108.

[2017-02-16 14:08] markoer commented on #1106
It seems that having the directory available does no harm, but prevents the warning. It might be a compromise to create the directory during installation.

[2017-02-16 14:15] MMaiero commented on #1106
I believe we can consider this as P2 and eventually apply some changes for M2. Do you agree on that?

[2017-02-16 14:16] markoer commented on #1106
Of course, it's not an error, so it's not really that important.

[2017-02-16 14:22] markoer commented on #1107
I got this result with Firefox.
Why I pressed Enter? I just tried if there's a default, yet. And the result surprised me a bit.
But you're correct. Somehow 2 modals were opened. It seems the first one doesn't properly focus. And only one of them is ever successfully hidden. The problem is that the second refuses to close short of pressing the close button (X). Maybe add close()/hide()/... to Yes a

[2017-02-16 16:12] markoer commented on #1104
Local build (.zip) doesn't contain the junit jar with this change. I will also check the CI build once you merge it and it's available.

[2017-02-16 16:33] MMaiero commented on #1107
I think a possible solution could be the one in #1109.
Could you give it a try?
If it is ok also for you, I will merge it and tag the M1 for the QA build.

[2017-02-17 09:05] MMaiero commented on #1104
I've checked the build in Hudson and the fix seems working well. Closing.

[2017-02-17 09:05] #1104 closed, assigned to nobody

[2017-02-17 09:31] djurod opened #1111 "[Testing] Tests for org.eclipse.kura.core.ssl"
Writing tests for org.eclipse.kura.core.ssl package in org.eclipse.kura.core project.

[2017-02-17 11:33] markoer commented on #1104
I checked build 942 and it's OK.

[2017-02-17 11:37] markoer commented on #1107
#1109 looks OK, locally. It actually solves 2 things - default button and Enter.
Granted, you can still tab away from the buttons in the modal dialog and then press Enter, but that's just pushing it :)
When you merge it, I'll try the scenario with the CI server's build.

[2017-02-17 17:16] djurod opened #1113 "[Kura 3.0.0 M1 QA] Kura Wires doesn't work on Internet Explorer"
Steps to reproduce:
- Connect to Kura web page in Internet Explorer
- Select System->Wires

The blue "overlay" with the gear symbol is shown, but the gear symbol doesn't rotate and the complete web page is frozen. When you reload the web page it recovers unless you open Wires again...

BeagleBone Black, Kura 3.0.0-SNAPSHOT build 943
Internet Explorer v11.0.9600.18537

[2017-02-17 17:18] djurod commented on #1113
According to @markoer he had the same problems on RPi3. Otherwise it appears to work (at least it loads the web page) on Chrome and Firefox.

[2017-02-18 10:34] #1107 closed, assigned to nobody

[2017-02-20 13:54] #1053 closed, assigned to ibinshtok

[2017-02-20 14:23] markoer commented on #1107
Verified in build 945.

[2017-02-20 15:56] markoer opened #1116 "[Kura 3.0.0 M1 QA] Wires: wire components selection"
Wire components refuse to be selected, sometimes (not 100% reproducible).

Scenario:
* Add a single component (e.g. Timer) to the graph
* Apply and confirm
* Leave the page and come back
* Click on the timer to select it and display its settings

Expected result: component is selected and settings are shown

Result: component is not selected and settings are not shown

Workaround:
* option 1: when

[2017-02-20 17:36] markoer opened #1117 "[Kura 3.0.0 M1 QA] de.dentrassi.kura.addons.milo regression"
Test case CAMEL-CCS-003 describes configuration of de.dentrassi.kura.addons.milo DP 0.1.0. This version installs and configures as the test case specifies without issues.

A new version, 0.2.1, is available on Eclipse Marketplace. Installation works. When configured only with Router XML, it still works. When init script is configured, this exception is shown in console log:
[code]

RPi3, Kura 3.0.

[2017-02-21 11:35] markoer opened #1118 "[Kura 3.0.0 M1 QA] Wires: dirty Component instances warning"
When applying the Wires configuration sometimes this message is displayed:

![image](https://cloud.githubusercontent.com/assets/22816717/23163054/349e34fa-f831-11e6-9857-5de0e86ee1a5.png)

The issue is that the 'dirty' component is not marked or indicated in any other way, so there is no way to know what to update.

Also, 'dirty' flag is usually used as an indication that something has changed (in

[2017-02-21 14:36] markoer opened #1119 "[Kura 3.0.0 M1 QA] Wires DB Store partial cleanup"
If periodic cleanup is configured with 2 elements remaining, this exception is reported and table is not cleaned up:
[code]

The reason is that LIMIT is only supported in HSQL since v.2.3.3, according to [1], and Kura 3.0.0 M1 uses v.2.3.0.

The appropriate equivalent SQL for this version would be `DELETE FROM test WHERE rownum() <= 2`.

But it still doesn't solve the fundamental flaw in this SQL

[2017-02-21 15:01] amitjoy commented on #1113
In addition, the `EventSource` is not fully compliant with IE as well. I investigated a bit on resolving the issue with `EventSource` in IE.

As I don't have any IE to check if Wires works on IE, I can't confirm on any potential reason for such behaviour on IE. But I can try to make a PR to partially solve the `EventSource` issue on IE.

[2017-02-21 16:53] ctron commented on #1117
This should be solved with a new version 0.2.2 of the DP. When it is synced to Maven Central it will appear here: [1]

[1] https://repo1.maven.org/maven2/de/dentrassi/kura/addons/de.dentrassi.kura.addons.milo/0.2.2/

[2017-02-21 17:08] ctron commented on #1117
It's been synced.

[2017-02-22 09:27] markoer commented on #1117
Verified on Kura 3.0.0 M1 build 945 and DP ver. 0.2.2.
Closing the issue.

[2017-02-22 09:27] #1117 closed, assigned to ctron

[2017-02-22 10:11] markoer opened #1121 "[Kura 3.0.0 M1 QA] Wires: cannot add component after deleting one"
After a component is removed graph must be saved if you want to add a new component:
![image](https://cloud.githubusercontent.com/assets/22816717/23206623/9dcd1352-f8ee-11e6-9c86-57bc39b8a763.png)

It is an annoying limitation that should be removed, if there is no specific need for it.
Option is for this dialog to allow saving the graph and the desired component is added immediately after the dia

[2017-02-22 10:18] amitjoy commented on #1121
This has been implemented for the following reasons:

1. If the user deletes a Wire Component of name "a", and adds it again
2. On clicking on new Wire Component "a", the old associated properties will be shown
3. It's more frustrating to see properties of old Wire Component "a" in the new one
4. I thought, it is better to delete a Wire Component and save the Wire Graph first before adding a new o

[2017-02-22 10:23] markoer commented on #1121
In this case, make the dialog as proposed above:

Do you want to save the graph before continuing?
(Y) / N

And then continue adding the component.

[2017-02-22 10:28] amitjoy commented on #1121
According to your proposed dialog, what happens if the user does not save the Wire Graph and adds a Wire Component with the same name?

I have mandated `Saving a Wire Graph after deleting a Wire Component ` to get rid of the possibilities of adding a Wire Component with the same name.

I am open to suggestions.

[2017-02-22 10:57] ctron commented on #1121
I am sorry, but I cannot follow that argument from https://github.com/eclipse/kura/issues/1121#issuecomment-281627616

Now when you create a new component and don't save the graph, what properties are shown in this case?

[2017-02-22 11:04] amitjoy commented on #1121
Suppose you have a Wire Component in the Wire Graph with name - `MyComponent`. In the runtime, it is an OSGi service that associates several properties. Now when someone deletes this Wire Component from the Wire Graph, the Wire Component is just visually removed from the Wire Graph but not from the runtime. The user must click on save to reflect all these changes such as removing a Wire Component

[2017-02-22 12:19] markoer commented on #1121
So it seems that when you create a new graph, the behavior is different. Is there any chance to treat the graph in the same way regardless of whether you are editing a new one or an old one? I.e. keep all the components including their configuration on the client and push everything when the graph is saved.

If not - and saving is still mandatory - there's also the following to consider. There's a

[2017-02-22 12:25] ctron commented on #1121
Thanks @amitjoy  for this explanation. However this was not the question I asked.

So, when the user creates a new component and **does not** save the graph, what properties are shown when the user clicks on it?

[2017-02-22 12:26] amitjoy commented on #1121
@ctron For the first time, it displays the input fields without any associated properties.

[2017-02-22 12:31] amitjoy commented on #1121
@markoer I agree that there can be a number of ways to implement this feature but as of now, it needs users to save the Wire Graph before adding a new Wire Component to the Wire Graph. You are right that a user can make the Wire Graph dirty and also want not to save it but discard. It can be done if the user moves on to another page in Kura Web UI and select discard dirty changes but I agree with

[2017-02-22 12:34] ctron commented on #1121
@amitjoy  Great, so do the same when the component gets removed and re-added. And you are done.

[2017-02-22 12:38] amitjoy commented on #1121
@ctron When the Wire Component gets removed by the user from the Wire Graph, it is not removed from runtime but visually from Wire Graph and the user needs to click on save to have it removed from runtime.

[2017-02-22 12:53] ctron commented on #1121
@amitjoy Cool ... but if the user does not click save ... and you let him add a new component (even with the same name) and remember (by yourself) that you just added this and then apply the same logic as if the component was just created. Then you would have an easy and understandable workflow for the user.

[2017-02-22 13:02] amitjoy commented on #1121
@ctron If I let him add a new Wire Component to the Wire Graph, then clicking on the new Wire Component will display the associated properties of the old Wire Component as it is still present in the runtime.

[2017-02-22 13:03] ctron commented on #1121
So, as I said .. here is what you need to do ... implement a new functionality, a boolean state, which records the information that the new component is not yet saved. And in that case, show the other properties, not the ones currently present in the runtime.

[2017-02-22 13:26] djurod opened #1123 "[Kura 3.0.0 M1 QA] Bugs in camel example publisher"
Two bugs were found in the org.eclipse.kura.example.camel.publisher:

1. Wrong period is applied for both int and double signals
In examplePublisher.makeSine() method the frequency needs to be doubled. It is currently `pi / T` but it should be `2 * pi / T`.

2. Amplitude for double signal is not read correctly from the configuration
Name of the configuration value in the xml is `double.amplitude`

[2017-02-22 16:45] djurod opened #1125 "[Kura 3.0.0 M1 QA] Wires: Unexpected component configuration is shown"
Steps to reproduce:
- Add a modbus service and name it "modbusDriver"
- Go to Wires and add any component and name it "modbusDriver"

Expected result: Appropriate component configuration for the selected component

Actual result: Content of the modbus service configuration is shown instead of the expected wires component configuration.

Note: the problem appears to be triggered when you name the W

[2017-02-22 17:15] djurod commented on #1125
By some coincidence I found it also "works" with the CamelFactory service (which is btw not actually shown in the service list after you add it...).

It appears that if you use the same name as one of the (manually added?) services it shows you the configuration for that service and not the Wires component...

[2017-02-22 18:40] amitjoy commented on #1121
The implementation to achieve this is a bit complex. I will try to have a look at it and find a suitable solution.

[2017-02-22 23:26] amitjoy commented on #1125
This is quite weird as the in the runtime `kura.service.pid` is unique. It appears that the problem that you guys have encountered consequently signifies that in the runtime 2 separate service components acquired same `kura.service.pid`.

[2017-02-23 12:39] #786 closed

[2017-02-23 12:42] MMaiero commented on #487
Closing, since addressed in M1

[2017-02-23 12:42] #487 closed

[2017-02-23 12:45] #460 closed

[2017-02-23 14:09] djurod opened #1128 "[Kura 3.0.0 M1 QA] Unable to delete manually added CamelFactory services"
Steps to reproduce:
1. Manually add a CamelFactory service (Services --> [+])
2. Go to System --> Cloud Services
3. Select the manually added service from step 1 and click on the delete button

Expected result: The selected service should be removed

Actual result: Service is not removed, even after trying to delete it multiple times.

[2017-02-23 15:13] ctron commented on #1128
The actual issue is that the service should not be allowed to be created in the first place.

[2017-02-25 23:30] scottslewis opened #1131 "ConfigurableComponentTracker calls bundleContext.getService(ref) when it shouldn't"
Currently the ConfigurationServiceImpl creates and starts a ConfigurableServiceTracker.  Here's the source for ConfigurableComponentTracker:

https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurableComponentTracker.java

The ConfigurableServiceTracker is created with this constructor code:

        // TODO:

[2017-02-27 09:03] djurod opened #1132 "[Testing] Tests for org.eclipse.kura.protocol.modbus"
Writing tests for org.eclipse.kura.protocol.modbus

[2017-02-27 12:49] ctron commented on #1131
There currently is a way to achieve this, unfortunately this is not the default behavior of Kura at the moment.

You can set the system property `org.eclipse.kura.core.configuration.trackOnlyRelevantServices` to `true` and it will not use the `ConfigurableComponentTracker` but do proper tracking of services. However it was considered a breaking change back when I made this change and so the defaul

[2017-02-27 12:50] ctron commented on #1131
I would suggest to remove the old behavior as Kura 3.0.0 may do breaking changes.

[2017-02-27 14:03] markoer opened #1133 "[Testing] Tests for org.eclipse.kura.core.deployment.*"
Add tests for org.eclipse.kura.core.deployment.*

[2017-02-27 18:57] scottslewis commented on #1131
Hi Jens,   Is the System property you mention in your comment relatively new?   I'm setting it to true with 2.1.0 and I'm not getting the expected behavior (i.e. I'm still getting the ConfigurableComponentTracker tracking/adding/calling getService on my services).

[2017-02-28 07:52] ctron commented on #1131
You are right. This is only present in Kura 3.0.0.

[2017-02-28 07:52] ctron commented on #1131
... better said ... will be present ...

[2017-02-28 09:40] cdealti commented on #778
@markoer @djurod can we close it?

[2017-02-28 09:41] cdealti commented on #779
@djurod can we close this?

[2017-02-28 09:43] cdealti commented on #782
@markoer can we close this?

[2017-02-28 09:44] cdealti commented on #690
@ctron Are you OK with closing this?

[2017-02-28 09:46] djurod commented on #778
This was resolved with PR #781

It can be closed

[2017-02-28 09:47] ctron commented on #1131
I opened a PR for removing the old behavior: https://github.com/eclipse/kura/pull/1137

[2017-02-28 09:49] djurod commented on #779
Not yet, there are still some pull requests pending. PR #1089 is still open and I at least one more PR is needed to include all written tests for core.net

[2017-02-28 09:52] cdealti commented on #288
Closed via #995

[2017-02-28 09:52] #288 closed

[2017-02-28 09:53] cdealti commented on #553
Closed via #995

[2017-02-28 09:53] #553 closed

[2017-02-28 09:54] #550 closed

[2017-02-28 09:55] markoer commented on #782
I suppose yes, once you decide what to do about #1075 (2 comments are open) and #1130 is merged.

[2017-02-28 10:01] cdealti commented on #1032
@MMaiero ping

[2017-02-28 10:03] cdealti commented on #837
It ended up that we embedded the Eclipse Moquette broker as an test&build dependency

[2017-02-28 10:04] #837 closed

[2017-02-28 10:15] cdealti commented on #1023
@ctron @dwoodard1 this is not currently assigned.

@markoer is the Eclipse installer (Oomph) covered by the QA validation spreadsheet? On what operating systems?

[2017-02-28 10:18] cdealti commented on #586
It's available in the Eclipse Marketplace:

https://marketplace.eclipse.org/content/modbus-driver-eclipse-kura

[2017-02-28 10:18] #586 closed

[2017-02-28 10:24] cdealti commented on #1069
@amitjoy I've addressed this here:

https://github.com/cdealti/kura/tree/api-analysis

[2017-02-28 10:35] markoer commented on #1023
A new test case has been added: UW-OOMPH-001.
I ran it only on Linux/Ubuntu.
It does not yet include a step where emulator would be run.

[2017-02-28 10:47] MMaiero commented on #1032
We discussed this during the weekly project call: the integration done till now has been improved in M1, so a first step of improvement has been done. We still miss a review of the existing apis, in order to be able to determine if new features need to be integrated.

[2017-02-28 11:05] cdealti commented on #696
@ctron do you intend to send a PR?

[2017-02-28 12:45] cdealti commented on #558
@ctron can we close this?

[2017-02-28 12:55] cdealti commented on #664
@ibinshtok can you take a look please?

[2017-02-28 12:58] cdealti commented on #99
@kartben @ctron Can we close this?

[2017-02-28 13:11] cdealti commented on #140
@dwoodard1 @MMaiero @ctron Kura examples (or apps) only depend on the Kura API.
There is no need to release the examples with every Kura release but only when we break the API.
On the other hand if we move the apps to a separate repository then you would need a separate Oomph installer for apps development.
Any comments?

[2017-02-28 13:15] cdealti commented on #126
@hekonsek @ctron any plans to support this soon? Otherwise I would close it

[2017-02-28 13:16] cdealti commented on #132
@hekonsek @ctron any plans to support this soon? Otherwise I would close it

[2017-02-28 13:25] cdealti commented on #317
Do we really need to create different installers? There are already many of them.
If one does not want the UI she can simply delete the bundle

[2017-02-28 13:34] cdealti commented on #311
@MMaiero is this still present in Equinox 3.11?

[2017-02-28 13:40] #690 closed

[2017-02-28 13:43] ctron commented on #696
Currently no, but I can work on this if you like.

[2017-02-28 13:44] ctron commented on #558
I haven't retested. I would suggest to keep it open an re-test it during the QA process.

[2017-02-28 13:45] ctron commented on #99
We are far away from this goal. But I still see this as a goal. So let's keep it open.

[2017-02-28 13:46] ctron commented on #140
Having such an installer would make sense to me. On the other hand if we would have support for Maven central we could easily go with a plain Maven build and simplify things a lot. E.g. using the `maven-bundle-plugin`.

[2017-02-28 13:47] #126 closed

[2017-02-28 13:47] #132 closed

[2017-02-28 13:48] ctron commented on #317
I think this can be closed as there is currently only Kura with Web UI. So the difference between "classic" and "extended" is gone.

[2017-02-28 14:05] LucaDazi opened #1139 "Factory Components Configurations not deleted from the snapshot"
When deleting a factory configuration through the `deleteFactoryConfiguration` API, the component configuration is not removed from the snapshot.

The Factory Configuration for the component is then restored at next restart, rendering deletion of Factory Components instances impossible.

Even when uploading a brand new snapshot not containing the configuration of the Factory Components, the merge

[2017-02-28 14:14] cdealti commented on #864
@MMaiero I believe this is "normal" but also annoying. Is there something we can do?
If not I believe we can close this

[2017-02-28 14:16] cdealti commented on #866
@MMaiero can this be easily implemented?

[2017-02-28 14:17] cdealti commented on #890
@nicolatimeus has this been improved with Kura 3?

[2017-02-28 14:21] djurod commented on #864
I suspect that the button's enable state is updated only when the password field looses focus. If you changed this to update the button's enable state immediately when the field is changed, you could probably solve this.

Since this is something that is done practically all over the place in the Web UI, this would probably be a quite big task and potentially error prone.

It would probably make se

[2017-02-28 14:39] nicolatimeus commented on #890
No, the page refresh code is unchanged.

[2017-02-28 14:50] #934 closed

[2017-02-28 15:47] cdealti commented on #582
@ctron this will be introduced by Kura 3.0.0, correct?

[2017-02-28 15:50] ctron commented on #582
I really hope so!

[2017-02-28 16:02] cdealti commented on #408
@ctron @MMaiero @dwoodard1 do we agree that Kura 3.0.0 should only track services registering ConfigurableComponent or SelfConfiguringComponent?
NOTE: THIS IS A BREAKING CHANGE

[2017-02-28 16:15] cdealti commented on #914
We could **copy** [Kapua's validation code](https://github.com/eclipse/kapua/blob/develop/commons/src/main/java/org/eclipse/kapua/commons/configuration/ValueTokenizer.java#L181)

[2017-02-28 16:34] cdealti commented on #457
Starting with Kura 3.0.0 the QA Excel (xsls) spreadsheet will be put under version control in the Kura github repository. @markoer is my understanding correct?

[2017-02-28 16:36] cdealti commented on #519
@dwoodard1 the instability due to the broker has been resolved. Are there any other issues?

[2017-02-28 16:38] cdealti commented on #537
@ctron I believe this can be closed

[2017-02-28 16:40] cdealti commented on #543
@ctron since we have embedded an local MQTT broker which does not require authentication I believe this can be closed for now

[2017-02-28 16:42] cdealti commented on #629
who is willing to do this?

[2017-02-28 16:47] cdealti commented on #725
@nicolatimeus I believe this has been fixed.
Can you add a reference to the commit and close this issue

[2017-02-28 16:54] nicolatimeus commented on #725
It has not been fixed yet, I still have to make a PR about this.

[2017-02-28 17:40] ctron commented on #408
But I think we agreed on being able to make breaking changes in Kura 3.0.0?!

[2017-02-28 17:41] ctron commented on #537
I don't think so.

[2017-02-28 17:41] #543 closed

[2017-02-28 17:54] cdealti commented on #408
There are even more things that we could break. I believe we should come up with a list.

[2017-02-28 17:58] cdealti commented on #537
There is no Windows distrib for Kura yet.
However let's keep this for a while.

[2017-02-28 22:21] ibinshtok commented on #664
@cdealti yes, I am going to look at this next week when I am back from Seattle (King County)

[2017-03-01 08:19] markoer commented on #457
We did discuss it, yes. The question is where to put it. Maybe /QA/ or /testing/, next to karaf/, kura/ and target-platform/? Eventually there could be automated tests there as well and/or results and other files.

[2017-03-01 14:16] #476 closed

[2017-03-01 15:21] #908 closed

[2017-03-01 15:21] #911 closed

[2017-03-01 15:33] MMaiero commented on #1123
@djurod I've merged #1124. Can this be closed?

[2017-03-01 15:38] MMaiero commented on #1079
Merged the PR, can this be closed?

[2017-03-01 16:50] MMaiero commented on #725
Closed by #1143

[2017-03-02 10:34] MMaiero commented on #1111
PR merged, could this be closed?

[2017-03-02 10:35] MMaiero commented on #1067
Merged, can this be closed?

[2017-03-02 15:15] dwoodard1 commented on #1023
@ctron The initial setup with Oomph is great, but I ran into issues when updating/building. Does this setup expect the user to use the Eclipse Git and Maven integrated tools? I use 100% command line for managing Git and performing Maven builds. This seemed to confuse the Eclipse IDE setup with the Oomph installer. I can provide more details, but I was curious on your typical workflow. Do you build

[2017-03-02 15:22] ctron commented on #1023
I don't have much issues there. I do run most tasks from the Eclipse IDE though. Sometimes I do use Maven from the command line, which works fine. Git from the command line is a thing I do quite rarely. But even then, it works.

[2017-03-02 15:38] dwoodard1 commented on #677
@amitjoy Can this be closed?

[2017-03-02 15:45] dwoodard1 commented on #1023
Ok, good to know. Primarily I was having an issue with the web bundle class files not getting updated after a Maven compile. I will try and get more concrete errors and logs and report back.

[2017-03-02 16:51] ctron commented on #1023
Well the web bundle has to be re-compiled manually after every change. That is just GWT ...

[2017-03-02 17:27] amitjoy commented on #677
Yeah. It can be closed.

[2017-03-02 17:55] djurod commented on #1123
Yes

[2017-03-02 17:57] djurod commented on #1079
Yes

[2017-03-02 17:58] djurod commented on #1111
Yes

[2017-03-02 18:00] djurod commented on #1067
Yes

[2017-03-02 19:38] dwoodard1 commented on #1023
Re-compiled manually? With my "traditional" setup (import as Maven project), all I have to do is perform the Maven build (which performs the GWT compile), and then my new classes are updated in Eclipse so I can run the emulator. Are you saying you perform a GWT compile in Eclipse outside of the Maven build? I will find what is wrong with my Oomp setup and report back.

[2017-03-02 19:44] dwoodard1 commented on #519
I don't think so. The build is failing now because of an issue with the Eclipse network. When the Sonotype service comes back up, I will examine a build to see if everything is passing.

[2017-03-02 19:45] dwoodard1 commented on #408
Should we discuss what breaking changes we want to introduce next Tuesday?

[2017-03-02 19:58] #317 closed

[2017-03-03 08:16] MMaiero commented on #172
It was an old issue ported to github. If you performed some tests and the issue is already solved, I think we can close for now

[2017-03-03 08:16] #172 closed

[2017-03-03 08:22] #1123 closed, assigned to nobody

[2017-03-03 08:22] #1067 closed, assigned to nobody

[2017-03-03 08:22] #1111 closed, assigned to nobody

[2017-03-03 08:23] #1079 closed, assigned to nobody

[2017-03-03 08:23] #677 closed

[2017-03-03 09:33] ctron commented on #1023
Yea, that is what I meant. I do either `mvn package` from the command line or "Run as -> Maven install" from the IDE. Or using the Maven launcher "build-web-ui-2".

I can then run from inside the IDE afterwards as well.

I have to do this every time I change something in the "web2" project or when I switch branches and changes got made in this project.

[2017-03-03 10:17] MMaiero commented on #831
Due to the recent changes in tests, can this be closed? @cdealti @markoer @djurod

[2017-03-03 10:22] markoer commented on #831
@cdealti added a local broker and reenabled the tests, which now usually pass. I suppose it could be closed.

[2017-03-03 10:24] #831 closed

[2017-03-03 14:04] MMaiero commented on #861
The message is maybe misleading. Probably it would be better to say "Is Kura web interface enabled?". That value is based in a property set in kura.properties file and that allows to disable the web interface if not needed. It has no relation to the fact that the web ui was built or was available.
We will change the logged message accordingly.
Thanks for finding that out.

[2017-03-03 14:26] markoer commented on #861
Even this question implies presence of web UI. But it is still better than the existing one.

[2017-03-03 14:30] MMaiero commented on #861
Just to complete the answer: the fact that the web bundle exists or not is not catched by Kura. What is managed by this property is that if the web bundle exists in the filesystem, the user can choose if he wants to have that bundle started or not.

[2017-03-07 07:20] pstanton opened #1160 "ClockService should ignore updates with long 'getDelay'"
kura 1.4

details in this post:
https://www.eclipse.org/forums/index.php/t/1084809/

[code]

before calling 'onClockUpdate' there should be a guard condition eg

`if (info.getDelay() < 1000)`

as an aside, it also appears `ntpClient.close();` is only called if an exception is raised. this should be in a finally.

[2017-03-07 07:24] pstanton opened #1161 "Incorrectly configuring a component can be irreversable."
Kura 1.4

Via java/ConfigurationServiceImpl I've accidentally set

org.eclipse.kura.watchdog.WatchdogService pingInterval="30000"

ie as a string.

This has invalidated the component.

 As a result, the configuration page no longer appears in the webconsole, and any further updates via java are ignored:

INFO  o.e.k.c.c.ConfigurationServiceImpl - UpdatingConfiguration ignored as ConfigurableCompon

[2017-03-07 08:37] djurod opened #1162 "[Testing] Tests for org.eclipse.kura.linux.clock"
Writing tests for org.eclipse.kura.linux.clock

[2017-03-07 08:44] djurod opened #1163 "[Testing] Tests for org.eclipse.kura.wire.component.provider"
Writing tests for org.eclipse.kura.wire.component.provider

[2017-03-07 09:22] MMaiero commented on #1032
@nicolatimeus Will try to see what is the effort to extend the marketplace integration

[2017-03-07 09:28] MMaiero commented on #1125
@nicolatimeus Will manage this

[2017-03-07 09:46] pierantoniomerlino opened #1164 "TinyB library integration"
The tinyB library (https://github.com/intel-iot-devkit/tinyb) is a small and easy to use Bluetooth LE API.
It exposes the BLE GATT API for Java using BlueZ over DBus.

The idea is to try to integrate this small library with Kura.

[2017-03-07 10:14] MMaiero commented on #1091
Solved by #1147

[2017-03-07 10:14] #1091 closed, assigned to nobody

[2017-03-07 11:03] MMaiero commented on #1160
@pierrepitiot Could you take care of this?

[2017-03-07 11:06] MMaiero commented on #1161
I think that the real problem is at the component level.
As you can see here: https://github.com/eclipse/kura/blob/KURA_1.4.0_RELEASE/kura/org.eclipse.kura.linux.watchdog/src/main/java/org/eclipse/kura/linux/watchdog/WatchdogServiceImpl.java#L64
While starting, the component tries to cast the property as an Integer. This will fail and cause the component to not start.

[2017-03-07 12:59] djurod opened #1166 "Wrong order of operations in WireAsset"
In WireAsset.onWireReceive() method from org.eclipse.kura.internal.wire.asset package (from org.eclipse.kura.wire.component.provider bundle) the method documentation says that first all associated reading channels are read and after that all associated writing channels are written, but the method is implemented in a way that first the writing channels are written and then the reading channels are

[2017-03-07 13:39] amitjoy commented on #1166
The correct order of execution is to read the channels first and then perform write operations. During minor changes in WireAsset, this order got swapped. It is fixed by #1167.

[2017-03-07 16:40] #1166 closed, assigned to nobody

[2017-03-08 12:13] #1121 closed, assigned to nobody

[2017-03-09 08:37] #244 closed

[2017-03-09 08:51] #1125 closed, assigned to nobody

[2017-03-09 11:30] MMaiero commented on #587
Done. Closing

[2017-03-09 11:30] #587 closed

[2017-03-09 16:25] djurod opened #1176 "Kura Wires: Inconsistent design of DbServiceHelper class"
I found something in [DbServiceHelper](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.wire.component.provider/src/main/java/org/eclipse/kura/internal/wire/common/DbServiceHelper.java) that is at least a bug in documentation. The getInstance() method is documented in a way that makes you think you are dealing with a singleton, but the only thing it actually does is that it calls

[2017-03-09 16:25] djurod commented on #1176
@amitjoy could you please check this?

[2017-03-09 17:20] amitjoy commented on #1176
The `DbServiceHelper` is an extended version of `DbService` that composes `DbService` and provides useful functionalities required for DB Store and DB Filter Wire Components.

You are right, the documentation erroneously signifies it to be a singleton but it is a faulty Javadoc generation by `JAutodoc` plugin in Eclipse as `getInstance()` method is mostly used in Singleton pattern. My motive was t

[2017-03-09 17:28] djurod commented on #1176
This of course solves the direct issue, but I would still recommend to move the extended functionality to `DbService`, but only in case it is generally useful and not just for Kura Wires.

This is something that you might want to discuss with whoever is responsible for the `DbService` API...

[2017-03-09 17:37] amitjoy commented on #1176
I completely agree with the idea of using `DbService` as a full-fledged version instead of requiring such helper classes that wraps `DbService` to provide extended service functionalities. I am also not sure if `execute(..)` kind of methods will be appropriate to `DbService` as it has been made very generic to SQL connections and such `execute()` operations have not been included as these are perf

[2017-03-11 09:41] #1176 closed, assigned to nobody

[2017-03-13 10:10] pierrepitiot commented on #1160
Yes I will

[2017-03-13 15:56] nbrunner opened #1185 "NSDeviceInputStream read() doesn't abort on close()"
With org.eclipse.soda.dk.comm.NSDeviceInputStream
When there is a thread that is blocked on a NSDeviceInputStream.read() and another thread call NSDeviceInputStream.close(), the read() keep waiting for a byte instead of returning -1 or throwing a exception (javadoc of InputStream).
I found this issue in KURA_2.1.0

[2017-03-14 08:14] ctron opened #1186 "Get ready for Java 9"
Although we just recently adopted Java 8, there is an effort at Eclipse going on to target compatibility for Java 9 [1], which is scheduled to arrive mid 2017.

I think we should try out Java 9 and see in which issues we are running before that final GA.

[1] https://wiki.eclipse.org/Java_9_Readiness

[2017-03-14 09:34] MMaiero commented on #1015
@ctron I think that this is fixed right? Now the linux.usb fragment uses libudev.so.1, right?

[2017-03-14 09:36] MMaiero commented on #1003
@ctron I think we can close due to the fact that we merged #1181 and #1025 , right?

[2017-03-14 09:40] MMaiero commented on #1012
@ctron Maybe I didn't get the point but the elements in m_pendingDeletePids aren't removed here? https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.core.configuration/src/main/java/org/eclipse/kura/core/configuration/ConfigurationServiceImpl.java#L1565

[2017-03-14 10:27] #1118 closed, assigned to MMaiero

[2017-03-14 10:46] #914 closed

[2017-03-14 10:47] #861 closed

[2017-03-14 11:24] markoer opened #1188 "[Wires] Components can be hidden outside the graph area"
If Wires graph is created on a higher resolution with more space for components and browser window is later resized to smaller size, the components may be hidden. The same happens if such a graph is opened in a smaller window in the first place.

![image](https://cloud.githubusercontent.com/assets/22816717/23895090/e356ba66-08a4-11e7-9d8d-7c59d7981edc.png)

Options are probably these:
* use relati

[2017-03-14 11:33] ctron commented on #1012
I just had a look at it. I should have been more verbose I guess. I don't remember it myself 😉  ...

Maybe I did mean `m_ocds` (which actually is a map and not a set). To me it also looks like `m_pendingDeletePids` gets cleared. The while loop still leaves room for missing removals. But I don't remember if that was the case.

Let's close it and wait for some OOM situation ....

[2017-03-14 11:48] #1012 closed, assigned to nobody

[2017-03-14 13:03] nbrunner commented on #1185
Already explained in http://download.eclipse.org/kura/docs/api/2.1.0/apidocs/index.html?org/eclipse/kura/comm/CommConnection.html:
Note: avoid blocking read (InputStream.read()) if the InputStream can be closed on a different thread, in this case, the read will never exit and the thread will be blocked forever. It is preferable to test InputStream.available before InputStream.read():

[2017-03-14 13:03] #1185 closed, assigned to nobody

[2017-03-14 13:25] MMaiero commented on #311
@cdealti Unfortunately yes

[2017-03-14 13:48] cdealti commented on #311
Then we should report this behavior to Equinox

[2017-03-14 13:54] MMaiero commented on #311
I agree.
Following what reported in kura-console.log. If I remember well, this is the same message that we got from the old osgi.

`!ENTRY org.eclipse.kura.core.cloud 2 0 2017-03-14 13:20:39.076
!MESSAGE [SCR] ComponentReference.unbind(): component instance not bound! It is: org.eclipse.equinox.internal.ds.impl.ComponentInstanceImpl@18e0f3a
	Details:
	Problematic reference = Reference[name = DataS

[2017-03-14 14:09] markoer opened #1193 "[Wires] Component avoidance during initial placement"
What happens consistently is that components are placed on top of one another when initially added to the graph. In this case logger was stacked on top of a timer.

![image](https://cloud.githubusercontent.com/assets/22816717/23900658/6c044c38-08ba-11e7-8897-28e5d4fa7dba.png)

In some cases, but unfortunately almost impossible to reproduce, the components are reordered in this way when graph is sa

[2017-03-14 14:46] ctron commented on #1015
At least the 64bit version, I am not sure about the rest.

We should check with `ldd`, just to be sure. And drop any symlinks which got created in the past.

[2017-03-14 14:46] #1003 closed, assigned to ctron

[2017-03-14 14:49] ctron commented on #311
Are you sure this is an Equinox bug? What would the bug report towards Equinox look like?

[2017-03-14 15:49] #1119 closed, assigned to nobody

[2017-03-14 16:08] #457 closed

[2017-03-14 16:12] cdealti opened #1195 "[Net] Firewall IP Forwarding rules entered in the Web UI lost on reboot"
Affects Kura 2.0.2. Not checked against Kura 2.1.0.

The use case is configure IP forwarding between wlan0 and ppp0 but **without** NAT.
This can be achieved by setting IP Forwarding rules in the Web UI.

When you save the IP Forwarding rules, they are correctly saved in the snapshot and in the firewall configuration file ``/etc/sysconfig/iptables``. They are also correctly listed with ``iptables

[2017-03-14 17:00] cdealti opened #1196 "[Net] PPP password is not a (MetaType) Password"
Found in Kura 2.0.2. Not verified in Kura 2.1.0.

Typically passwords have ``Password`` type and they are base64 encoded in the dowloaded snapshot.
For example (password is "admin"):

[code]

The PPP password is different. It's a ``String`` (not a Password) and not base64 encoded.

[code]

Not a big deal since the password is likely stored in clean in the ppp pap/chap scripts...

[2017-03-14 17:12] cdealti opened #1197 "[Net] Network configuration cannot be restored purely from snapshot"
Found in Kura 2.0.2. Not checked against Kura 2.1.0.

Let's say you have a configuration snapshot from a golden sample that you want to use it, as snapshot_0.xml,  to seed the initial configuration of like gateways.

This is not possible. You also need to copy the following files:

## Cellular modem

- /opt/eurotech/esf/data/kuranet.conf
- /etc/ppp/peers/LE910_2-1
- /etc/ppp/scripts/chat_LE910_2-1

[2017-03-14 21:15] #721 closed

[2017-03-15 08:36] #1116 closed, assigned to nobody

[2017-03-15 09:26] cdealti commented on #797
@amitjoy @ctron can you please agree on a solution?

[2017-03-15 09:32] cdealti commented on #993
@amitjoywhat is the status of this issue?

[2017-03-15 09:34] amitjoy commented on #993
It still exists and each and every time, I am staring Kura Emulator, I need to make `javax.comm` package `optional` in `API` manifest and then everything works. Otherwise everything fails.

[2017-03-15 09:37] cdealti commented on #1106
Why don't we simply remove the warning?

[2017-03-15 09:38] amitjoy commented on #797
I believe it can be closed. @ctron What do you think?

[2017-03-15 09:48] pierrepitiot opened #1201 "Wifi password incorrectly read from snapshot in Access Point mode"
"Upload and Apply" a snapshot cause the Wifi password in Access Point mode to be incorrectly read and thus makes the Wifi access point unusable.

To reproduce the situation:

- verify that you can connect to Wifi using testKEYS password
- download the latest snapshot then Upload and Apply it
- try to reconnect Wifi with testKEYS password -> does not work, the password has been modified and you hav

[2017-03-15 10:03] cdealti commented on #1014
@unverbraucht can you please check if you need to continue supporting libudev.so.0 for the PC engine distrib?

[2017-03-15 10:09] cdealti commented on #1015
@ctron can we close this? Fedora works!

[2017-03-15 13:04] cdealti opened #1202 "[Asset] Drop channel ID and use unique name"
Having both channel ID and channel name is not needed.

The channel name will also be used in the ASSET-V1 Cloudlet topics and needs to be sanitized ('+', '#' and '/' characters are not allowed in MQTT topics.

[2017-03-15 13:06] #916 closed

[2017-03-15 13:06] cdealti opened #1203 "[Asset] Document ASSET-V1 topic namespace"
Documentation on MQTT topic namespace must be updated

[2017-03-15 15:37] #696 closed

[2017-03-15 15:42] alex1818 opened #1204 "build for windows x64 taget platform failed with some jar packages not available"
I am trying to build  the latest develop branch of kura for  windows platform, but with a failure like below:
[INFO] Downloading: https://raw.github.com/eurotech/kura_addons/mvn-repo/org/eclipse/kura/org.eclipse.kura.linux.usb/1.0.9-SNAPSHOT/maven-metadata.xml
[INFO] Configured Artifact: org.eclipse.kura:org.eclipse.kura.linux.usb.armv5sf:1.0.9-SNAPSHOT:jar
[INFO] Downloading: https://raw.github.c

[2017-03-15 18:02] ctron commented on #797
If you are happy with the current design feel free to close it.

[2017-03-16 08:51] #915 closed

[2017-03-16 08:52] cdealti opened #1206 "[Driver] Driver API optimizations"
See https://github.com/eclipse/kura/wiki/Improvements-to-the-Driver-API

[2017-03-16 08:56] cdealti opened #1207 "[Driver] Contribute Siemens S7 Driver"
The CQ (12777) to redistributed Moka 7 in source and binary form has been approved.

* Add Moka 7 source code to target-platform
* Submit Kura S7 Driver

[2017-03-16 08:56] MMaiero commented on #1204
Hi Alex,
currently the windows version of Kura is not supported. That is the reason why you were not able to download the artifacts.

[2017-03-16 09:42] cdealti opened #1208 "[Asset] Driver read method should return void"
As stated in the [Javadoc](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/driver/Driver.java#L147) Driver.read modifies the ``DriverRecord``S parameter and returns the modified parameter.

An usage where the return value is discarded is in [BaseAsset](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.asset.provider/src/main/ja

[2017-03-16 09:45] cdealti opened #1209 "[Wires] Breadth-first graph visit"
The current implementation is depth-first. We would like to support the alternative breadth-first visit.
@nicolatimeus can you please add a link to the document describing this topic?

[2017-03-16 09:57] cdealti opened #1210 "[Wires] Implement FIFO WireComponent"
By default the wire graph is single threaded and the progression of a WireEnvelope it's a call stack on the thread that originally emiited the WireEnvelope.
As a result if a WireComponent hogs the CPU due some complex elaboration, all the application will be affected.

A FIFO  WireComponent allows to defer the execution of CPU-intensive WireComponents.

The FIFO  WireComponent has the following co

[2017-03-16 10:01] cdealti opened #1211 "[Wires] Implement regex filter WireComponent"
This WireComponent filter is used to filter out properties not matching a configurable regular expression.

[2017-03-16 10:05] cdealti opened #1212 "[Wires] DB WireComponent improvements"
The DB WireComponent should have a configurable property to set the maximum number or rows.
Once this limit is exceeded two behaviors are possible:

* Drop incoming WireEnvelopeS
* Force execution of the housekeeper task to make room for new WireEnvelopeS

[2017-03-16 10:10] cdealti opened #1213 "[Wires] Should DB Filter clean the cache on empty result set?"
Currently the DB Filter does not clean the cache if the last result set is empty.
Is this behavior desired?

Also, if the result set is empty, what should the DB Filter emit?

[2017-03-16 10:13] cdealti opened #1214 "[Wires] DB Filter queries might be slow without indices"
The DB Component creates the table dynamically. No indices are created so queries will be slow on large tables

[2017-03-16 10:21] cdealti opened #1216 "[Wires] Sub-second Timer"
We need a timer with sub-second resolution.

[2017-03-16 10:34] cdealti opened #1217 "[Wires] Import WireAsset configuration from CSV file"
The use case is to allow an user to write a full WireAsset configuration for a specific field device as an CSV file and Import it in the Wires UI.

For example a Modbus slave could have hundreds of holding registers and it might be simpler for the user to write a CSV file with the definition of all the channels.

It would also be useful to add an "enabled" property to the channel configuration.
In

[2017-03-16 12:37] ctron commented on #1015
True, Fedora works.

[2017-03-16 12:37] #1015 closed, assigned to nobody

[2017-03-16 12:58] MMaiero commented on #889
I think this one can be closed, right @markoer?

[2017-03-16 13:07] markoer commented on #889
Verified on PR #1189's branch. Closing the issue.

[2017-03-16 13:07] #889 closed

[2017-03-16 13:37] dwoodard1 commented on #1204
@alex1818 To follow up a bit on Matteo's comments, we have had issues getting legal approval for some components needed to build Kura for Windows. As such, it has limited our development work on the Windows platform.

However, we do have installers available for Kura v2.0.0 with some getting started instructions [1].

[1] https://github.com/eurotech/kura_eth/wiki/KURA-for-Windows-Based-Systems

[2017-03-16 14:33] cdealti opened #1219 "[Wires] Should WireAsset emit read errors?"
Since the last Wires refactor WireAsset read errors are only logged.

Since we haven't defined a way to handle errors in the Wire graph it's wiser to emit these errors.
In this way it's still possible to handle these errors using a DB Filter and publishing an alert containing the errors to the cloud platform.

Errors can be removed with a Regex filter #1211 from wire paths where they are not neede

[2017-03-16 14:55] cdealti opened #1220 "[Driver] DriverRecord and AssetRecord. Clean code vs efficiency"
From an API perspective, the independence between ``asset`` and ``driver`` packages is nice.
They can be used independently.

However in practice Asset implementations like BaseAsset have an associated Driver.

Since at the API level drivers and assets are independent they have their own records: AssetRecord and DriverRecord. This means that BaseAsset has to work a lot instantiating and copying li

[2017-03-16 15:22] cdealti commented on #1000
@MMaiero I believe the original memory leak issue has been resolved, right?
In this case can we close this and open another one referring to the old content if needed?

[2017-03-16 15:28] cdealti commented on #253
@ctron are you willing to find and fix all the unbalanced occurrences for Kura 3.0?

[2017-03-16 15:31] cdealti commented on #729
@dwoodard1 do you plan to work on the web site for Kura 3.0?

[2017-03-16 15:33] cdealti commented on #784
@markoer assuming this does not count as lines of code, can you take care of this?

[2017-03-16 15:34] cdealti commented on #785
@markoer do you think we can close this?

[2017-03-16 15:36] cdealti commented on #833
@markoer do you need to move something [here](https://github.com/eclipse/kura/wiki/Development-Environment-Tips-and-Tricks) before I close this?

[2017-03-16 15:38] cdealti commented on #547
@dwoodard1 I don't know of any complains about this. Can we postpone it?

[2017-03-16 15:41] cdealti commented on #918
@pierantoniomerlino can you take a look?
Please add a QA item to the latest QA validation spreadsheet maintained by @markoer.

[2017-03-16 15:43] cdealti commented on #352
Almost ready. I need to:

* Deploy an annotated org.eclipse.kura.api v1.1.1 to be used as the baseline
* Send a PR from my fork enabling the API baseline verification

[2017-03-16 15:45] cdealti commented on #582
@ctron for Zenhub I should set an estimate for this. The estimate is the number of hours it will take.

[2017-03-16 15:48] cdealti commented on #797
@ctron you opened this. Please close it if you agree with @amitjoy

[2017-03-16 15:51] dwoodard1 commented on #547
I believe it is okay. I doubt there are many use cases of creating a ConfigurableComponent with no configuration policy.

[2017-03-16 15:51] cdealti commented on #1113
@MMaiero In the last Kura weekly call I believe we decided to postpone this, right?

[2017-03-16 15:54] cdealti commented on #1131
@ctron can this be closed?

[2017-03-16 15:54] dwoodard1 commented on #729
Yes, working on it now actually.

[2017-03-16 15:57] cdealti commented on #1013
@MMaiero I believe we decided to remove them. @ctron do you agree?

[2017-03-16 16:08] MMaiero commented on #1113
No, we decided to simply disable the events to IE merging #1152 in Kura 3. In the meanwhile, we will discuss about the changes proposed by @amitjoy in #1151 but them will eventually be added only for Kura 4.0.0 or 3.x.

[2017-03-16 16:09] MMaiero commented on #1113
I think we can also close this when #1152 is merged because, excluding sse every other feature of Wires works with IE. Eventually, later, we will open another issue to add sse support for IE.

[2017-03-16 16:15] MMaiero commented on #1013
Working on this.
Do we want to drop also x86?

[2017-03-16 16:23] cdealti commented on #1206
@nicolatimeus is assignded this task

[2017-03-16 16:50] dwoodard1 commented on #1014
@jread Can you respond to the above comment from @cdealti ? We will start the QA process for Kura v3.0.0 in the coming weeks, so we need to make sure you can still QA the PC Engine distribution.

[2017-03-16 16:58] unverbraucht commented on #1014
Hi guys,

the PC engines board is running Debian 8 in our setup so libudev.so.1 should be perfect.

[2017-03-16 17:28] ctron commented on #797
I don't agree. So let's keep it open.

[2017-03-16 17:33] ctron commented on #1013
+1

[2017-03-16 17:34] #1131 closed, assigned to ctron

[2017-03-16 17:35] ctron commented on #582
I would say that is implemented. There is one PR pending #1200. But that should be it.

[2017-03-16 17:36] ctron commented on #582
So aside from testing and merging this PR no additional time is needed. Unless we need to fix something.

[2017-03-16 17:39] ctron commented on #253
Not really.

[2017-03-16 17:43] ctron commented on #1204
If it is just about running Kura in Windows you can also do this with docker: https://hub.docker.com/r/ctron/kura-emulator/

[2017-03-17 08:35] markoer commented on #784
OK. I will take care of it.

[2017-03-17 08:36] markoer commented on #785
Since it's closely related to Configuration Service, I believe we can.

[2017-03-17 08:39] markoer commented on #833
The discussion on this topic is still pending in the community meeting. Maybe we should do that first.

[2017-03-17 08:51] markoer commented on #918
It's in gh-pages branch under assets/qa/system-test/qa_kura.ods.

[2017-03-17 09:07] alex1818 commented on #1204
@dwoodard1  thanks for your reply. The link is broken, can you send me a workable link?
Another question:
Does kura support working on standard PC like intel X86_64 using the Ubuntu system? Is there any building instructions available.  I find the build_menu bash script which says KURA can be build for debian and fedora target platform?

[2017-03-17 09:12] alex1818 commented on #1204
@ctron
Thanks for your suggestion. It is cool to try KURA through in docker way. I will give it  a try. But we still need to deploy Kura in a bare windows environment.

[2017-03-17 09:19] alex1818 commented on #1204
@MMaiero
 I have  seen some windows scripts, code and folder for windows in the target platform.
So I need to confirm that is it possible for me to build kura for windows on linux now? Is there any plan for Kura to support windows or OS independent?

[2017-03-17 09:27] MMaiero commented on #1204
As @dwoodard1 said the support for kura on Windows is available apart the code and tools that had legal issues.
So, as of now, the support is not complete and, even if able to compile fully, you would not be able to get a resulting installer to use on your Windows system.
We have plans to support Kura on Windows, but we are working with the Eclipse Legal team in order to solve the mentioned issues

[2017-03-17 10:26] MMaiero opened #1222 "Commit aa2913dc1031e783d09779dae503018da55889f6 breaks asset persistent storage"
Commit aa2913dc1031e783d09779dae503018da55889f6 meant for "Added functionality to allow adding Wire Components after removing one" effectively breaks the wires: assets configuration is indeed not persistently stored.
A reboot will determine an internal error and the framework will become unusable via web UI.

@amitjoy Could you please have a look and try to find a solution?

[2017-03-17 10:27] ctron opened #1223 "Show the description of a configurable service"
Currently only the "name" attribute of a configurable service is shown. However there is also, like for the attributes, a field "description" which could provide more information about a component.

As this seems to be a rather simple UI change I would hope that this still could to into Kura 3.0.0.

[2017-03-17 12:52] MMaiero commented on #1222
That commit was carried by PR #1126

[2017-03-17 13:45] ctron commented on #862
This is still a problem for me on Fedora 25 after a clean install.

[2017-03-17 14:32] amitjoy commented on #1222
You are right. Only Asset configurations are not getting persisted. So far I have not found any potential issue in Wires Source base that could have triggered such issue. While saving the Wire Graph, we invoke `configService.updateConfiguration(WIRE_SERVICE_PID, props, true)` which is supposed to build the current configuration and save it in snapshot (due to `true` as the boolean argument) . In `

[2017-03-17 14:57] MMaiero commented on #1222
Maybe it is a matter of timing?
Maybe when you invoke the creation of snapshot the asset is still not alive and tracked.

[2017-03-17 15:40] markoer commented on #862
And you already configured an NTP server that works on your network?

[2017-03-17 17:53] dwoodard1 commented on #1204
@alex1818 Apologies, that Wiki is on our private repository.

@cdealti Is there any reason we can't make the Wiki public in Kura?

[2017-03-17 18:37] amitjoy commented on #1222
Yeah you are right. `createFactoryConfigurtion` method does not return boolean to indicate whether the factory has already been created or not. It could be a timing issue.

[2017-03-18 09:10] #1222 closed, assigned to amitjoy

[2017-03-18 09:13] #990 closed, assigned to nobody

[2017-03-19 12:05] amitjoy commented on #1211
Instead of creating a Wire Component to filter out keys from the associated map of Wire Records, we can also use the filter defined in Wire Configuration. This way we can apply filters on wire connections. Users can click on the wire connection in Wire Graph either to delete it or to associate a regex filter to it. The implementation for such a filter at the wire level needs very minimal changes i

[2017-03-20 15:11] pierantoniomerlino commented on #918
I fixed the issue regarding the GPS static position.

However, there are a couple of issues that we have to address:
1. Each time the modem monitor fires, it emits a GPS device present event. This triggers the position service and a birth certificate is published. So, if the "republish.mqtt.birth.cert.on.gps.lock" property is set, at every monitor run a birth message is published. As a result, a l

[2017-03-21 08:40] nicolatimeus commented on #1209
https://github.com/eclipse/kura/wiki/Kura-Wires-threading-model-proposal

[2017-03-21 10:28] cdealti commented on #1208
@amitjoy we would like to change the API now (before Kura 3).

[2017-03-21 10:50] cdealti commented on #1220
@amitjoy I beleive this needs to be addressed before Kura 3.0. What do you think?

[2017-03-21 14:15] amitjoy commented on #1208
According to my opinion, returning a value from a method is generally a cleaner approach. Passing a value and mutate it, is not very common practice in Java but there are few examples in JDK API where such approach has been taken, for example `Collection.sort(..)` that performs an in place sort of the provided list.

It is also a good design pratice to favor immutable objects in multi-threading ap

[2017-03-21 14:55] MMaiero opened #1239 "Change wire publisher to remove the JSON/Kura payload serialization"
This will be moved to the specific CloudService

[2017-03-21 14:56] MMaiero opened #1240 "Add JSON/Protobuf encoding option in CloudService"
The applications using the CloudService/CloudClient should not be aware of the serialization used by the associated Cloud Service.

[2017-03-21 15:32] MMaiero opened #1241 "Changes to the heater publisher"
- It should be defined as a factory
- It should allow the user to configure the cloud service
- It should allow the user to configure appid
- It should allow the user to configure app topic

[2017-03-21 16:44] MMaiero opened #1242 "Support Azure IoT and Aws IoT cloud platforms"
Initial support in order to enable Kura to publish telemetry messages to the Azure IoT and Aws IoT cloud platforms.
The CloudService will add Json serialization support. At the level of cloud Client, the applications will continue to use Kura Payload (flat set of key-value pairs). Underneath, depending on the configuration, the Cloud Service will publish to the specified cloud platform via Protobu

[2017-03-21 16:48] MMaiero opened #1243 "Distribute publishing over time"
This will prevent long bursts to be pushed to the cloud platform, for example at a re-connection event.

[2017-03-22 10:13] #778 closed

[2017-03-22 10:14] #135 closed

[2017-03-22 10:16] MMaiero commented on #1160
@pstanton We created PR #1218 to solve this issue. Could you give it a look and see if it solves your issue? Thanks.

[2017-03-22 10:18] MMaiero commented on #1133
@markoer Could we close this? All referred PRs seems to be closed now.

[2017-03-22 10:19] #1206 closed, assigned to cdealti

[2017-03-22 10:22] MMaiero commented on #1208
@nicolatimeus Will take care of this

[2017-03-22 10:23] MMaiero commented on #1216
@nicolatimeus Will take care of this

[2017-03-22 10:26] MMaiero commented on #918
@ctron @cdealti Can we close this since PR #1233 was merged?

[2017-03-22 10:27] markoer commented on #1133
Yes.

[2017-03-22 10:27] #1133 closed, assigned to nobody

[2017-03-22 10:28] #1000 closed, assigned to MMaiero

[2017-03-22 10:35] MMaiero commented on #1223
@nicolatimeus Will manage this

[2017-03-22 12:51] ctron commented on #918
Looking at PR #1233 I don't really understand how this could fix the issue. But if you are sure this issue is fixed, then yes you may close it.

[2017-03-22 13:51] cdealti opened #1246 "[Wires] MQTT namespace"
CloudPublisher is a WireComponent converting an WireEnvelope in a KuraPayload that is published over MQTT.

Each WireRecord in a WireEnvelope is trivially converted to a KuraPayload and published on a configurable semantic data or control topic. The emitter PID of the WireEnvelope is discarded.

The CloudPublisher is agnostic with respect to the contents of the WireEnvelope. It does not know for e

[2017-03-22 13:55] cdealti commented on #1246
@amitjoy @ctron does this make sense to you? it's meant to promote WireAssetS to fist-class citizens in Kapua.

[2017-03-22 14:04] cdealti commented on #1223
Why is this in the Backlog pipeline?

[2017-03-22 14:10] cdealti commented on #797
Since ServiceUtil is meant to be a public API it would be better to address this sooner than later. @amitjoy can you agree with @ctron on a solution? Otherwise if it's only a problem with the implementation it could be fixed in a later release.

[2017-03-22 14:14] cdealti commented on #1211
@amitjoy we need this for Kura 3.0. Can you share your preliminary work and list pros-and-cons of both approaches?

[2017-03-22 14:15] amitjoy commented on #797
According to the current design of `ServiceUtil`, I am not aware of any lurking issue.

@ctron Could you kindly point us to the direction?

[2017-03-22 14:19] cdealti commented on #1220
@nicolatimeus can you please measure the performance before we decide this needs to be optimized?

[2017-03-22 14:36] amitjoy commented on #1220
From the design point of view, `Asset` and `Driver` looks similar and the source base reflects the same. In addition, a `Driver` can also work in isolation, that is, the user is not obliged to use `Asset` always. Hence, a `Driver` can be used in other future scenarios as well due to clear separation.

On the other hand, `Asset` is a higher level abstraction to work on field devices and it uses a `

[2017-03-22 15:52] fvanloon-bolt opened #1249 "Kura Camel To/From Different Cloud Service Topics"
When creating a Kura Camel XML Router, I would like to create a "route" that listens on 1 Kura Cloud Service and publishes to a 2nd Cloud Service (local Mosquitto to AWS MQTT for example).

I was able to create this basic route, but I've found that the Topic Id on the 2nd Cloud Service is being ignored, and instead it it publishing to the listening Topic Id instead.

I have 2 Cloud Services setup.

[2017-03-22 17:30] IanSkerrett opened #1250 "Drag and drop of Marketplace listing should send back a successful install count"
If someone installs a package into Kura using the drag and drop from Eclipse IoT Market, Kura should send a successful install count back to Eclipse Marketplace.  This can be done through the Marketplace REST API. If Kura does this, it will allow Eclipse Marketplace to keep track of the number of times each package has been installed.

[2017-03-22 23:21] kartben opened #1252 "Add an OSGi command for maniupulating GPIO"
It would be interesting to have a simple CLI interface to manipulate GPIOs from the OSGi console.

Something like `kura.gpio(1).setValue(true)` or `kura.gpio(1, OUTPUT).setValue(true)`

I am not sure about what could be the most straightforward syntax (both from the pov of people who will have to type the command, and from the pov of making parsing simple / unambiguous).
Maybe implementing this as

[2017-03-23 00:02] amitjoy opened #1253 "Apply new Driver API changes to Asset Provider Test"
The new Driver API changes for prepared read need to be applied to [StubDriver](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.asset.provider.test/src/main/java/org/eclipse/kura/asset/provider/test/StubDriver.java) in Asset Provider Test fragment.

[2017-03-23 09:29] #1208 closed, assigned to nobody

[2017-03-23 11:01] ctron opened #1255 "Switch away from log4j 1.x"
Log4J is EOL for over a year now [1]. I guess it is time to switch.

I would recommend to switch to logback as is provides all the necessary extensions Kura currently pulls in with the "extra" log4j package and also directly integrates with SLF4J.

[1] https://blogs.apache.org/foundation/entry/apache_logging_services_project_announces

[2017-03-23 12:16] ctron commented on #797
I think I explained that in the initial comment. What is unclear to you about that?

[2017-03-23 12:29] ctron commented on #1249
I dug a bit into this issue and from what it looks to me, this is an odd but "correct" behavior.

When a message is sent to an endpoint, the topic can be overridden by specifying the header value `CamelKuraCloudService.topic`. However the consumer endpoint, consuming from the cloud service also sets this header value to the topic name this message is coming from.

So if you are now re-directing me

[2017-03-23 12:40] fvanloon-bolt commented on #1249
That did fix the issue, thank you.
I added this between the from and to tags and it works now.
`<removeHeaders pattern="CamelKuraCloudService.topic"/>
`

[2017-03-23 12:40] #1249 closed, assigned to ctron

[2017-03-23 12:41] ctron commented on #1249
Thanks for the quick response! I will add this to the documentation.

[2017-03-23 12:43] amitjoy commented on #797
As you might already know, after we upgraded to Java 8, `ServiceUtil` uses the following to get the service references matching a given fully qualified class instance and a valid OSGi filter:

[code]

To ease the reset  of all the provided service reference use counts, there exists an utility method:

[code]

This internally resets the count by calling for every service reference

[code]

Earlier

[2017-03-23 12:48] ctron commented on #797
True, but then again:

So you will unget a service you never got, but someone else did. Releasing that resource while the other part of your application still accesses it.

[2017-03-23 13:01] amitjoy commented on #797
If we retrieve multiple service references, the use count of a service instance is only incremented if and only if we call
[code]
otherwise it will remain 0.

And a call to

[code]

internally calls

[code]

According to the OSGi internal implementation, it checks if the use count of provided service reference to the service is 0, nothing happens, otherwise it decrements to 1. So, I believe, passi

[2017-03-23 13:34] ctron commented on #797
I am not talking about a case going "below zero" here.

Assume the following code:

[code]

According to the current implementation, what will be the situation at mark A?

[2017-03-23 14:15] amitjoy commented on #797
Let's consider, Service A and Service B and both the services match a common OSGi filter.

Bundle A wants to use Service A
Bundle B wants to use Service A and Service B

Bundle A calls,

[code]

Now, Bundle A has collection of Service References that contains Service References of Service A and Service B both.

Bundle A now calls,

[code]

Now Bundle A calls,

[code]

This will decrement the servi

[2017-03-23 14:35] amitjoy commented on #797
The idea is that users will call `Serviceutil#getServiceReferences` that returns an array of service references. If users call `BundleContext#getService` on selected references then those references must be put in an array of service references and then they need to call `Serviceutil#ungetServiceReferences.`

This is as same as the API that OSGi provides. The only difference is that the resetting

[2017-03-23 17:09] ctron commented on #797
You can have two threads running at the same time in a single bundle. So they would share the bundle context.

And all those assumption which are making are not documentation.

There again, I would suggest to clean this up. If you do want to provide helper methods, do this in an OSGi compatible way.

So I think you have all the information you need. And you can either fix or ignore this problem.

[2017-03-23 20:52] amitjoy commented on #797
@ctron I agree with you that `ServiceUtil` is still prone to be used wrongly by newcomers. As far as I know, this can also happen with them if they use only OSGi provided APIs.

As I have mentioned, the idea of `ServiceUtil` is to provide helper methods and in the following I have quickly written two methods using only OSGi way and `ServiceUtil` way. Here both the methods consume few services that

[2017-03-24 08:45] ctron commented on #797
So if you really want to provide nice helper methods then why not consider using a Collection instead of an array. That would also work quite nicely with generics.

Or maybe consider the following way of doing things:
[code]

Which seems way nicer to me **and** not prone to be used wrongly by newcomers.

[2017-03-24 11:13] MMaiero commented on #1241
Changes done also for the example publisher

[2017-03-24 11:16] MMaiero opened #1262 "Azure IoT connectivity"
Develop a guide to ease the connectivity to Azure IoT

[2017-03-24 12:05] unixero opened #1263 "Cannot find plugins if target-definition/ is not a direct subdirectory of the workspace"
Noticed this during an upgrade from kura 1.4.0 to 2.1.0. Downloaded the developer's workspace from kura's downloads page (https://www.eclipse.org/kura/downloads.php). Git clone'd my repository, a subdirectory containing all my eclipse projects was created, then I cd'ed into it and unpacked the developer's workspace there.

Result: maven compiles cleanly, but the Eclipse IDE does not. Errors make n

[2017-03-24 14:12] #1113 closed, assigned to amitjoy

[2017-03-24 16:23] dwoodard1 commented on #637
@malikm I had a chance to discuss the legal issues around NSIS at a recent Eclipse event. The question that came up, is NSIS necessary? Instead of distributing a *.exe, could we just distribute a Windows shell program? I understand some of the advantages of having the *.exe, but a quicker path to getting Kura Windows out may be the shell program.

[2017-03-24 17:12] amitjoy commented on #797
@ctron I really like this Java 8 way of designing fluent API. I will try to associate such fluent design decision in the utilites.  Thanks for the pointers 👍

[2017-03-24 20:44] dwoodard1 commented on #729
@ctron Made a first pass at adhering to the new guidelines. Let me know if I missed something: https://www.eclipse.org/kura/

[2017-03-24 22:11] dwoodard1 commented on #145
Fixed.

[2017-03-24 22:11] #145 closed

[2017-03-25 10:34] ctron commented on #637
A shell program for setting up Kura is quite ugly compared to the standard way of using an MSI file. So what speaks against using MSI with WIX?

[2017-03-25 21:57] dwoodard1 commented on #549
Done.

[2017-03-25 21:57] #549 closed

[2017-03-26 18:26] diegovisentin commented on #637
Have you already evaluated the use of GNOME msitools ? [https://wiki.gnome.org/msitools](https://wiki.gnome.org/msitools)

[2017-03-27 10:42] ctron commented on #729
👍 While you are at it, I would suggest to add a link to the Eclipse Security page aka "how to report a security vulnerability" [1], as we might follow Ian's suggest and enforce this in the near future.

[1] https://www.eclipse.org/security/

[2017-03-27 12:42] darionct opened #1267 "sensehat example - HTS221 humidityReady() bug"
HTS221 isHumidityReady() incorrectly checks register:

[code]
In order to check sensor readiness, STATUS_REG register is checked, it looks like it checks if 2nd bit is set. The way the check is performed will never return true.

[2017-03-27 13:35] mcarrer opened #1268 "[WebUI] Usability Improvements"
## Overall
- [x]  When making a selection in the navigation bar, can we avoid the little shift of the icons?
- [x]  Use the same font, weight and size for System and Services in the Navigation bar as the Title of each page
- [x]  For the title of each page, move the text a bit to the left (padding 3px); same for the instruction text underneath
- [x]  Rearrange the footer to be in a single line
- [

[2017-03-27 13:43] #1216 closed, assigned to nobody

[2017-03-27 14:08] dwoodard1 opened #1269 "[Wires] Column names in DB Store"
Currently, the Kura Wires DB store uses channel names as the column name for the database. This can create column names such as "Channel 1_timestamp". I am not a DB expert, but I believe this is generally considered bad practice. This can also make complex queries in the DB filter quite messy.

I would recommend using some marshalling/unmarshalling scheme to remove the spaces. Meaning "Channel 1_t

[2017-03-27 22:27] dwoodard1 commented on #729
Added a link on this page: https://www.eclipse.org/kura/community.php#contributing