[2021-06-23 15:15] mstankovic opened #3444 "There are errors in JS console after opening Status/Network system item"
**Describe the bug**
There are errors in JS console after opening Status/Network system item

**To Reproduce**
Steps to reproduce the behavior:
1. OPen WEB UI
2. Open developer JS console
3. Click on Status/Network system item
4. See errors

**Expected behavior**
There should not be errors

**Screenshots**
![Capture](https://user-images.githubusercontent.com/3385815/123122577-6dceca00-d446-11eb-9a

[2021-06-23 15:30] mstankovic opened #3445 "ECv4 returns different snapshots each time"
**Describe the bug**
Im facing this issue for Kura docker centos container. Im able to reproduce this issue using API request or directly through EC UI.
When I request list of all available snapshots EC returns me different snapshot IDs each time.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect your Kura docker instance to the EC
2. Go to ECv4 > Devices and find your connected device

[2021-06-24 07:32] #3445 closed, assigned to nobody

[2021-06-28 06:46] #3240 closed, assigned to nobody

[2021-06-28 06:46] #3237 closed, assigned to nobody

[2021-06-28 06:46] #3006 closed, assigned to nicolatimeus

[2021-06-28 06:46] #3003 closed, assigned to nobody

[2021-06-28 08:04] #3387 closed, assigned to nobody

[2021-06-29 12:31] #3395 closed, assigned to MMaiero

[2021-07-01 12:01] #3166 closed, assigned to nobody

[2021-07-01 12:02] #3189 closed, assigned to nobody

[2021-07-01 12:03] #3173 closed, assigned to nobody

[2021-07-01 12:03] #3171 closed, assigned to nobody

[2021-07-01 12:03] #3170 closed, assigned to nobody

[2021-07-01 12:03] #3164 closed, assigned to nobody

[2021-07-01 12:03] #3160 closed, assigned to nobody

[2021-07-01 12:04] #3159 closed, assigned to nobody

[2021-07-01 12:05] MMaiero commented on #3152
@salvatore-coppola Are we done with this issue and the one you were mentioning for the JSESSIONID?

[2021-07-01 12:06] #2929 closed, assigned to nobody

[2021-07-01 12:07] #2908 closed, assigned to MMaiero

[2021-07-01 12:08] #2838 closed, assigned to nobody

[2021-07-01 12:11] salvatore-coppola commented on #3152
@MMaiero we have moved this issue from the securiy ui fixes to generic ui fixes. At the moment i think this is not a real security problem, but we need to discuss about it.

[2021-07-05 10:51] ctron opened #3467 "Unable to use Let's encrypt with Kura 5"
**Describe the bug**

I am struggling again to set up a connection for Kura with an MQTT endpoint which is secured with a certificate signed by Let's encrypt.

This is the same issue as #2594, just for Kura 5 and with the difference that the proposed fix no longer works.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a new connect to an MQTT broker using a Let's encrypt signed certif

[2021-07-05 12:06] marcellorinaldo commented on #3467
Hi @ctron!
The correct steps, assuming you want to connect to `mqtt.eclipseprojects.io:8883` (note that `mqtts://iot.eclipse.org:8883/ `is no longer available), are:
1. login as `admin/admin`
2. from a terminal, retrieve the certificate with: `openssl s_client -showcerts -connect mqtt.eclipseprojects.io:8883`
3. from Security section, remove the default `ssl-eclipse` certificate (it expired in 201

[2021-07-05 12:52] ctron opened #3468 "Improve certificate import"
**Describe the bug**

One of the reasons why I had troubles with #3467 is, that Kura seems to have a very fragile PEM import process:

* If the PEM file has trailing whitespaces (e.g. at the end of the line, like the official cross signed Let's Encrypt certificate has), then the parser fails -> Whitespaces should be ignored
* When the parser fails, it only reports back "error" to the console, whic

[2021-07-05 12:56] ctron commented on #3467
And here is the problem, also see #3468.

There are two Let's Encrypt (LE) root certificates. One cross signed, the other not. You need to know which one to pick. Additionally, the cross-signed one has a trailing whitespace in the header line, which makes the parser of Kura fail, without giving any reasonable error information.

So what you have to do is:

* Download the cross signed cert from her

[2021-07-05 15:18] marcellorinaldo commented on #3467
The most recent Eclipse certificate has been added with PR #3465. More robust checks are implemented in PR #3469.

[2021-07-06 12:37] #3467 closed, assigned to nobody

[2021-07-07 06:49] MMaiero commented on #3468
This should have been solved with a PR now available in 5.0.0 RC3

[2021-07-07 06:49] #3468 closed, assigned to MMaiero

[2021-07-07 10:44] salvatore-coppola commented on #2924
I was not able to reproduce the bug, i'have tried to install different packes from Eclipse Marketplace and everything went fine.
Target Environment:  Docker eclipse/kura 5.0.0-RC3-alpine-x86_64
![immagine](https://user-images.githubusercontent.com/83589980/124746350-0a05d000-df21-11eb-9ba8-7b17c73c2956.png)

[2021-07-07 15:24] #2899 closed, assigned to nobody

[2021-07-07 15:25] #2879 closed, assigned to MMaiero

[2021-07-07 15:32] #2396 closed, assigned to nicolatimeus

[2021-07-07 15:32] MMaiero commented on #2310
Done

[2021-07-07 15:32] #2310 closed, assigned to dwoodard1

[2021-07-08 07:46] MMaiero commented on #2924
@mstankovic Can you have a check on this?

[2021-07-08 08:47] robertodamiani opened #3480 "Wrong native library loaded"
**Describe the bug**
In a bundle having two libraries defined as native libraries, one for x86 processor and the other for x86-64 processor, Kura seems to load the wrong library: in a 32 bit system loads the 64 bit library.

**To Reproduce**

In my pom I have:

[code]

As it is not clear to me the Bundle-NativeCode syntax, I also tried with:
[code]
and
[code]

When I load on a 32 bit system, my bu

[2021-07-08 08:49] #3480 closed, assigned to nobody

[2021-07-08 15:05] salvatore-coppola commented on #3239
Added an unique-value validator. Fixed

[2021-07-09 09:16] salvatore-coppola commented on #2989
Added regex expression to validate Camel Service PID. Fixed

[2021-07-09 12:23] salvatore-coppola commented on #2953
One line visualization in device status has been fixed.
Adding a validator to connection field will be considered.

[2021-07-16 08:10] #2953 closed, assigned to nobody

[2021-07-16 08:10] #2989 closed, assigned to nobody

[2021-07-16 08:10] #3239 closed, assigned to nobody

[2021-07-22 12:06] marcellorinaldo commented on #3226
Solved with PR #3398.

[2021-07-22 12:10] marcellorinaldo commented on #2414
Solved with PR #3497.

[2021-07-22 15:34] #3226 closed, assigned to nobody

[2021-07-23 06:23] #2414 closed, assigned to nobody

[2021-08-26 08:00] marcellorinaldo opened #3546 "IP forwarding system variable overwritten by Kura"
**Describe the bug**
The IP forwarding variable located in `/proc/sys/net/ipv4/ip_forward` is overwritten by Kura on start when it is configuring the firewall or when setting a router mode for an interface in the network tab. Other applications that rely on such variable may encounter some problems. An example is given below.

**To Reproduce**
As an example, we report a Docker container that relie

[2021-08-30 14:37] #3546 closed, assigned to nobody

[2021-08-31 15:17] robertodamiani opened #3553 "API to externally provide extended properties for the MQTT birth certificate"
**Is your feature request related to a problem? Please describe.**
Currently, extended properties for the MQTT birth certificate can be provided by implementing the `SystemServiceImpl.getExtendedProperties` method. This requires modifying a Kura class, and there is no architectural way to provide properties from external bundles. It would be great if external bundles could provide properties for t

[2021-09-09 21:56] stbischof commented on #3205
@MMaiero
- Are there any reasons for the fixed jar of paho-client in the core bundle? must it be included and why? updates e.g. `org.eclipse.paho:org.eclipse.paho.client.mqttv3:jar:1.2.5` possible?

- is JavaSE-1.8 still the target version?

[2021-09-10 07:26] MMaiero commented on #3205
Hi,
we had to fork pho and create the .kx version due to some bugs that we solved locally [1] but were still pending upstream.
I have not checked recently if those were solved recently with one of the latest releases.

Regarding question 2, yes Java 8 is our current baseline target.

Best regards,
Matteo

[1] https://github.com/eurotech/paho.mqtt.java/tree/maintenance-1.2.1

[2021-09-13 16:39] stbischof commented on #3205
@MMaiero could we have a call to speak about #3567 and the main ideas of my changes. just want to be sure that you are okay with before i go more down the rabbit hole

[2021-09-14 08:05] MMaiero commented on #3205
Hi @stbischof,
sure.
What about tomorrow? I have a free slot from 4 pm to 5pm CET or from 5pm to 6pm CET.
Otherwise we can schedule something on Thursday morning, if you prefer.

Matteo

[2021-09-14 08:13] stbischof commented on #3205
4PM CEST(Berlin, Rome) would be great.

stbischof@bipolis.org

[2021-09-14 08:19] MMaiero commented on #3205
Hi @stbischof
I have sent out the invite.
Actually, I would like to have another committer of the project (@nicolatimeus ) to be at the call and he cannot be there before 5pm.
Is that possible to shift the meeting at 5?

Thanks.
Matteo

[2021-09-14 08:19] stbischof commented on #3205
Sure!

[2021-09-14 08:20] MMaiero commented on #3205
Thank you very much. I'll update the invite.

Thanks again for the availability

[2021-09-14 17:52] stbischof commented on #3205
Sorry, i got an conflict. I must cancel the  meeting

[2021-09-14 20:11] MMaiero commented on #3205
No problem, when do you have another slot available?

[2021-09-20 09:57] ctron opened #3587 "Fails to run on Java 11"
The most recent version of Kura fails to run on Java 11.

<details>

<summary>Full error log</summary>

[code]

</details>

Taking a closer look, it looks like `javax.activation` is missing:

[code]

[2021-09-23 09:08] pierantoniomerlino opened #3598 "The command service in unprivileged mode doesn't work"
**Describe the bug**
When set to unprivileged mode, the command service returns:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Command service, enable it and set the Unprivileged mode
2. Go to the Command tab and type any kind of command
3. See the error

**Additional context**
It seems that this issue doesn't appear in all devices. The UP2 and Rock960 are affected, but only i

[2021-09-24 08:28] pintify commented on #2312
I've created a PR that only considers the creation of the field and leaves to the developer of the driver its usage.

I wonder if it would be better to implement the scale directly. I can only think of a way to use the factor and therefore the code would be always the same in every driver. Besides it would guarantee that the feature is supported and compatible with current drivers.

[2021-09-24 08:59] pierantoniomerlino commented on #3598
Currently the following devices are affected:

- intel-up2-centos-7
- intel-up2-ubuntu-18
- rock960-ubuntu-16

The RPi seems not to be affected, but I strongly suggest to update the OS to the latest version (`Linux raspberrypi 5.10.17-v7+ #1414 SMP Fri Apr 30 13:18:35 BST 2021 armv7l` at the moment of writing).

[2021-09-24 11:38] salvatore-coppola opened #3605 "Updating KeystoreService in SSLManagerService doesn't trigger the sslContext update."
Updating KeystoreService in SSLManagerService doesn't trigger the sslContext update., this results in a wrong sslfactory retrieved when another service try to get it.

[2021-09-24 11:58] #3598 closed, assigned to pierantoniomerlino

[2021-09-27 13:44] #3605 closed, assigned to salvatore-coppola

[2021-09-28 10:02] salvatore-coppola opened #3613 "Syntax error in firewall.init"
Syntax error in https://github.com/eclipse/kura/blob/9f1b93fe32602bdf5c3926226d3cf05c02d62e36/kura/distrib/src/main/resources/raspberry-pi-2/firewall.init#L102 and all others firewall.init .

[2021-09-28 13:29] salvatore-coppola opened #3617 "ClockService requirements are not met"
In the newest Ubuntu versions ntpdate command is not present and timedatectl is enabled.

To fix:

1. Add ntpdate as required dependency.
2. Set ntp to false via timedatectl.

[2021-09-29 07:52] #3617 closed, assigned to salvatore-coppola

[2021-09-29 16:55] ctron opened #3624 "Getting properties fails with BLE"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

Not fail.

**Target Environment (please complete the following information):**
 - Raspberry Pi 3 / Container

[2021-09-30 12:35] MMaiero commented on #3613
Closed

[2021-09-30 12:35] #3613 closed, assigned to pierantoniomerlino

[2021-09-30 12:35] MMaiero commented on #3587
This should be closed now

[2021-09-30 12:35] #3587 closed, assigned to nobody

[2021-09-30 13:04] pierantoniomerlino commented on #3624
It seems that the property in Kura is WRITE_WITHOUT_RESPONSE, not WRITE-WITHOUT-RESPONSE...

[2021-10-22 13:38] robertodamiani opened #3663 "JAXB crashes on JAVA 8"
**Describe the bug**
JAXB crashes with a `NullPointerException` after the introduction of jakarta bundles in commit 90794b1b.

**To Reproduce**
Steps to reproduce the behavior:
1. use this snippet:
[code]
2. JAXB crashes with the following stack:
[code]

**Expected behavior**
In the previous commit, no crash happens.

**Target Environment (please complete the following information):**
Tested with

[2021-10-22 15:19] nicolatimeus commented on #3663
Hi, we noticed that the following bundle is referenced in the target platform and in the test runtime but not in kura distribution:

https://github.com/eclipse/kura/blob/ca623dcfc9304522ebf724a483e9f8a66deb00e0/target-platform/config/kura.target-platform.build.properties#L76

Can you please verify if including the bundle above in the distribution has any effect regarding your issue?
Thanks

[2021-10-22 16:14] robertodamiani commented on #3663
Hi @nicolatimeus,

we added the above line in `kura/distrib/config/kura.build.properties` and we compiled again, with no difference.

In a different test we also tried adding all jakarta related lines, but this too made no difference.

[2021-10-22 16:46] nicolatimeus commented on #3663
Hi,
Have you also modified [1] to add jaxb-osgi jar to the distribution and the corresponding reference in config.ini as done for the other jakarta bundles?

[1] https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/ant/build_equinox_distrib.xml

[2021-10-25 11:32] robertodamiani commented on #3663
Hi @nicolatimeus,

we also added this entry in the `config.ini` block of the `build_equinox_distrib.xml` file:

[code]

This made no difference too.

[2021-10-26 11:11] MMaiero commented on #3663
Hello,
what is the target used?
What profile are you using?
I am testing that with a raspberry pi freshly installed with java 8 212 and I have modified the heater demo to match what you put In the initial comment. But I was not able to recreate it.

Can you give me more pointers?

Matteo

[2021-11-24 16:00] robertodamiani commented on #3663
Hi @MMaiero,
we tested in a vanilla environment with these specs:
[code]

To test the problem we created a bundle with a single class doing a JAXB context initialization in the activate method:
[code]

The JAXB initialization in the activate method immediately crashes with a `NullPointerException`.
Here is the stacktrace:
[code]

Hope this is more helpful.

Thank you.

[2021-11-25 13:30] MMaiero commented on #3663
Hi @robertodamiani
I have created PR #3692. Could you please check if this solves your issue?

Thanks.

[2021-11-26 17:31] robertodamiani commented on #3663
hi @MMaiero,

I confirm that this solved the problem.

Thank you.

[2021-12-02 15:33] tutwi opened #3696 "Using code org.eclipse.kura.example.* raw code - no clean shutdown"
Hi,

I'm using this example code: **org.eclipse.kura.example.ibeacon.advertiser**
[https://github.com/eclipse/kura/tree/develop/kura/examples/org.eclipse.kura.example.ibeacon.advertiser](https://github.com/eclipse/kura/tree/develop/kura/examples/org.eclipse.kura.example.ibeacon.advertiser)

and it seems to be working fine.
However I did not follow standard way of deploying it but instead I created

[2021-12-03 08:05] MMaiero commented on #3696
Hello,
difficult to tell. The framework has been developed to be based on OSGi. So, the corresponding code has assumptions of that context being available.
I also believe that is difficult for us to make guesses due to the fact that we don't have the full setup available to test.

Maybe you can use our forum to try to see if other people tried something similar and may provide you some help.
I'll

[2021-12-03 09:06] tutwi commented on #3696
Thank you very much for the response. I have created BundleContext class and ComponentContext with empty implementations. I just added logging to see if they are called. However if I run example code I cannot see any events being logged.
However, I do not fully understand OSGI model yet.
Any help is appreciated :)

[2021-12-09 09:16] John89757 commented on #3211
Have you solved it?
I have the same problem and cannot show the web ui.

[2021-12-10 09:04] #3663 closed, assigned to MMaiero

[2021-12-10 12:34] pshashipreetham commented on #2409
Hi @MMaiero , following python code is used to to get the data from Kura which is getting published on the data/metrics, able to connect to broker but not able to receive the message.

@bitvijays  can you help me out here ?
followed this [link](https://github.com/eclipse/kapua/blob/develop/docs/kuraKapuaDocs.md)
[code]

[2021-12-13 08:26] pintify commented on #2312
Solved with https://github.com/eclipse/kura/pull/3694

[2021-12-13 08:26] #2312 closed, assigned to nobody

[2021-12-14 19:37] MMaiero opened #3712 "CVE-2021-44228"
## Summary

A new vulnerability ([CVE-2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228)) has been reported in the Java logging tool Log4j which could allow an attacker, who can control log messages or log message parameters, to execute arbitrary code loaded from LDAP servers via message lookup substitution.

CVE-2021-44228 has a CVSS 3.1 score of 10.0 (CRITICAL). The attac

[2021-12-15 13:28] pintify commented on #3712
Apparently in the [Log4J 2 website](https://logging.apache.org/log4j/2.x/security.html) it is stated that applying such property is not enough as some vulnerability is still present. There is also the consideration that usage of log4j-api is safe as long as log4j-core is no used. I think Kura only uses log4j-core on tests, (checked running `mvn dependency:tree` on the whole project) may this avoid

[2021-12-15 13:36] MMaiero commented on #3712
Hello,
we have seen that since the notice has been posted, the mitigation suggestion has changed. As you have seen from the notice, the mitigation suggested prevents the remote code execution but does not potentially prevent DoS attacks (https://security.snyk.io/vuln/SNYK-JAVA-ORGAPACHELOGGINGLOG4J-2320014).
Eclipse Kura do use log4j-core: the build system is based on Tycho so that the `mvn depend

[2021-12-15 14:26] pintify commented on #3712
That's perfectly clear now, thanks!

[2021-12-16 13:10] Govanm commented on #3712
Hi, we are using Kura 4.0.0 and waiting for new Kura release 4.1.3 to upgrade our system. Do you have a estimate when the new release will be out @MMaiero? Thanks

[2021-12-16 13:14] MMaiero commented on #3712
Hi, the changes have been committed here: https://github.com/eclipse/kura/tree/release-4.1.0

The idea is to tag and build the first release candidate today and start the testings.
If you could help us with the testing part, it would be great.

We expect to be able to release the updated version next week.

[2021-12-16 16:51] Govanm commented on #3712
Do you want us to test in our environment?

[2021-12-17 07:55] MMaiero commented on #3712
What is your target environment?
But yes, if you have bandwidth, having you help in testing Kura could help us on parallelising the test. So that we can release sooner.

[2021-12-17 10:02] nicolatimeus commented on #3712
Hi all, we tagged Kura 5.0.1 and 4.1.3 RC1 and created the first release candidate builds:

Kura 5.0.1:

* Tag: https://github.com/eclipse/kura/tree/KURA_5.0.1_RC1
* RC artifacts: https://ci.eclipse.org/kura/job/kura-release-candidates/job/kura-5-release-candidate/80/
* Docker images:
  * `eclipse/kura:5.0.1-RC1-centos-x86_64`
  * `eclipse/kura:5.0.1-RC1-alpine-x86_64`

Kura 4.1.3:

* Tag: https:/

[2021-12-19 16:26] MMaiero commented on #3712
Due to the new reported CVE-2021-45105, we are upgrading the release branches to Log4J 2.17.0

[2021-12-22 09:05] Govanm commented on #3712
Sorry we were busy with updating our own products. We will try to test Kura-04-0 in one of our test environments

[2021-12-22 09:54] MMaiero commented on #3712
Thanks.
We are going to release today both 5.0.1 and 4.1.3, if everything is ok.

[2021-12-23 08:02] Govanm commented on #3712
We tested 4.1.3_RC.1 in our environment. Couldn't find any issue

[2021-12-23 10:11] MMaiero commented on #3712
Kura 5.0.1 has just been built and uploaded.
Starting the 4.1.3 build

[2021-12-23 10:21] MMaiero commented on #3712
Kura 4.1.3 has been built and is now available in the download site

[2021-12-23 10:21] #3712 closed, assigned to nobody

[2021-12-27 15:30] mstankovic opened #3729 "Docker builds are failing"
**Describe the bug**
Docker builds are failing from develop branch

**To Reproduce**
try to build kura docker images from develop branch
-> Both UBI8 and Alpine builds are failing due to **_The requested profile "intel-up2-centos-7-nn" could not be activated because it does not exist._**

logs:
[code]

[2021-12-30 13:22] mstankovic opened #3730 "Wire Graph - Apply button disabled although there is a change"
**To Reproduce**
steps:
- go to wire graph
- create h2dbstore component - apply
- change the table name
-> apply is disabled

[2021-12-30 13:22] mstankovic opened #3731 "Wire Graph - Confirm saving dialog appears when applying changes"
**To Reproduce**
Steps
- you should have existing Wire Graph
- delete Graph
- confirm
- apply
-> There is one more Confirm dialog (should not be)

[2021-12-30 13:23] mstankovic opened #3732 "Wire Graph - Enter should should act as a Submit"
**To Reproduce**
Steps
- go to Wires
- click to add Timer component
- enter name
- hit Enter
-> Nothing happens

[2021-12-30 13:28] mstankovic opened #3733 "Jetty errors while working with Wire Graph"
**Describe the bug**
From time to time Im getting jetty errors while Im working with Wire Graphs. Find them bellow. P.S. I dont have exact steps to reproduce those errors.

error1:

[code]

error2:

[code]

[2021-12-30 13:38] mstankovic commented on #3211
Hi @John89757
this error still exists (since there is no Bluetooth available from the docker instance) and it is not causing broken web ui. Please open separate ticket for your problem so we can investigate. Thanks!

[2021-12-30 17:13] MMaiero commented on #3733
Hi @mstankovic
can you please detail the environment that is causing the issue?
Is it from develop?

[2021-12-30 17:14] MMaiero commented on #3730
Hi @mstankovic
can you please details if this issue is from develop or existing releases?
Is it a regression?
Thanks.

[2021-12-30 17:15] MMaiero commented on #3731
Hi @mstankovic
what is the environment used?
Is it a regression?

Thanks

[2021-12-30 17:56] MMaiero commented on #3730
Tested in my test environment using develop and seen that the apply button gets enabled once the focus is removed from the text field.

[2022-01-10 10:24] #3624 closed, assigned to nobody

[2022-01-11 13:14] MMaiero opened #3738 "GWT UI: unable to edit IP Forwarding/Masquerading entry"
**Describe the bug**
GWT UI: unable to edit IP Forwarding/Masquerading entry

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new IP Forwarding/Masquerading entry, the config is not important
2. Apply the changes and refresh the browser
3. Click on the newly created entry, observe that the entry gains the focus and the buttons “Edit” and “Delete” are enabled
4. Click on the “Port For

[2022-01-12 20:03] #3738 closed, assigned to MMaiero

[2022-01-17 13:44] MMaiero opened #3748 "Jetty version upgrade"
In order to keep the project aligned with the latest release of the Eclipse Jetty Webserver, the current version in develop should be updated to 9.4.44.v20210927

[2022-01-19 17:59] ftoure67 opened #3755 "Display the list of DHCP leases"
**Is your feature request related to a problem? Please describe.**
I want to see the DHCP leases IP Addresses and hostnames allocated by the Network interface (Wifi or Ethernet).
Only the mac address, IP address and Hostnames are needed for the moment.

**Describe the solution you'd like**
The lease list would be displayed in the DHCP tab of the network interface that used as a DHCP server.

**Des

[2022-01-23 14:14] spnettec commented on #3733
public void confirmIfUiDirty(final Runnable action) {
        this.wiresBinder.unload();     //  When switch tab should unload blink whtever blink is active. Add this line.
        if (isUiDirty()) {
            this.alertDialog.show(MSGS.deviceConfigDirty(), () -> {
                forceTabsCleaning();
                action.run();
            });
        } else {
            action.run();

[2022-01-23 15:29] spnettec commented on #3444
In EntryClassUi.ui.xml  line 162

b:TabListItem   should be b:AnchorListItem

[2022-01-23 15:50] spnettec commented on #3733
This bug has existed for several years. Frequent  switch from Wire Panel will cause the browser very slow. This will generate a lot of wiresBinder eventSource instance

[2022-01-23 16:05] spnettec commented on #3733
To ensure that there is only one instance. I change the wires_blink.js to this:
[code]

[2022-01-23 17:29] spnettec commented on #3308
CamelProduce should use send not asyncSend.

or use singleton FluentProducerTemplate. DefaultFluentProducerTemplate.on will ganarate a new DefaultProducerTemplate instance and asyncSend will ganarate a new DefaultThreadPool called "ProducerTemplate" and never shut down

[code]

[2022-01-26 13:48] pshashipreetham opened #3759 "Deployment Package issue in Docker"
From Kura sending the Kafka Messages to a Kafka Consumer, when the Kura is running through the Linux Emulator(Eclipse Neon IDE) the messages are sent fine and consumer is receiving to

But when the the DP(Deployment Package) is made and deployed on Kura(running on the docker), shows the below error:

[code]

how can this issue be solved ?

[2022-01-26 16:03] #3748 closed, assigned to MMaiero

[2022-01-27 14:49] robertodamiani opened #3761 "Firewall interface is broken"
**Describe the bug**
The firewall interface is broken in some installations.
A popup shows saying "_GwtNetworkService_Proxy: A generic unrecoverable error happened. Please refer to the device log._"

The bug seems to be related to commit [2ffabeb45c](https://github.com/eclipse/kura/commit/2ffabeb45c0056f199e8867423f8b33264c38b71).
The constructor of the `LinuxDnsSystemD` class searches the system

[2022-01-28 08:19] iacco opened #3762 "RawMqttCloudConnection cannot interact with the Wires Graph"
**Describe the bug**
It is not possible to interact with the RawMqttCloudConnection from the Wires graph.

By instancing a Raw Subscriber and assigning it to a Wires Subscriber, the message gets correctly received by the subscriber (visible from the kura.log), but the payload cannot be retreived in the Graph.

The publishing from Wires Graph does not work as well, since the publisher expects to re

[2022-01-28 12:44] MMaiero commented on #3761
Hello,
bind9 and named are Kura dependencies. That is the reason why the code, expected to manage the system dns server, shows an exception at boot.
I agree with you that the UI should not fail for the dns, while inspecting the firewall. That should be checked.

Matteo

[2022-01-31 09:33] pintify opened #3767 "Incorrect birth message in multiple CloudSerivces"
**Describe the bug**
When Kura is connected to two different accounts of Kapua in the same instance, the birth certificate is incomplete in one of them.

Specifically, KEYS-V1 seems to be omitted in the second connection.

**To Reproduce**
1. Create two different CloudServices with their corrsponding MqttDataTransport in the same Kura.
2. Connect both of them to the same Kapua instance but in diff

[2022-01-31 11:29] nicolatimeus commented on #3767
The `KEYS-V1` request handler uses the following DS reference to bind to `RequestHandlerRegistry`:

https://github.com/eclipse/kura/blob/8278c797b1efbdbcb1b2823c352655a37fa47279/kura/org.eclipse.kura.core.keystore/OSGI-INF/org.eclipse.kura.core.keystore.request.handler.keystoreRequestHandler.xml#L20

This reference is static and uses `1..1` cardinality, so it will bind to a single `RequestHandlerR

[2022-02-04 08:40] #3767 closed, assigned to MMaiero

[2022-02-04 09:28] pintify commented on #3767
Great, thanks!

[2022-02-04 11:14] MMaiero commented on #3308
Hello,
thanks for letting us know that.
Is it possible for you @spnettec to create a PR with the fix?

Thanks.
Matteo

[2022-02-04 11:15] MMaiero commented on #3759
Hello,
is the org.apache.kafka.common.serialization package defined in your bundle manifest file?

[2022-02-04 11:17] MMaiero commented on #3733
Hi @spnettec
Do you believe you can contribute your findings with a PR?

Thanks
Matteo

[2022-02-04 11:18] MMaiero commented on #3729
@salvatore-coppola is working to solve this issue

[2022-02-04 11:19] MMaiero commented on #3696
Hello, is this still an issue?
Can it be closed?

Thanks

[2022-02-04 11:20] MMaiero commented on #3444
Hello,
do you think you can contribute your changes with a PR?

Best regards,
Matteo

[2022-02-04 11:21] MMaiero commented on #3388
Hi @sterwen
Is this still an issue?

Matteo

[2022-02-04 11:22] MMaiero commented on #3369
Hello,
any additional details on this issue?

Thanks
Matteo

[2022-02-04 11:23] tutwi commented on #3696
Hi, the issue still exists.
But as I did not follow recommended installation guide, I understand you may not have enough resources to analyze this problem. Feel free to close this. If I find solution I will share it with the community. Thanks!

[2022-02-04 11:24] #3696 closed, assigned to nobody

[2022-02-04 11:26] #3216 closed, assigned to nobody

[2022-02-04 11:26] MMaiero commented on #3176
@pierantoniomerlino This can be closed, right? I believe we have solved it in 5.1.0

[2022-02-04 11:30] MMaiero commented on #3152
@salvatore-coppola Is this still open?

[2022-02-04 11:32] MMaiero commented on #2990
Closing as solved in 5.0.0

[2022-02-04 11:32] #2990 closed, assigned to nobody

[2022-02-04 11:33] pierantoniomerlino commented on #3176
@MMaiero Yes.

[2022-02-04 11:33] #3176 closed, assigned to nobody

[2022-02-04 13:27] salvatore-coppola commented on #3152
@MMaiero i'll do a check

[2022-02-15 09:13] MMaiero commented on #3729
Solved

[2022-02-15 09:13] #3729 closed, assigned to nobody

[2022-02-15 10:43] pintify opened #3796 "Server manager does not close properly"
**Describe the bug**
The bundle `org.eclipse.kura.http.server.manager` does not close properly. At least in case of error with the certificate. If you remove the certificate `localhost` from the default Httpskeystore, the server goes into error and leave the endpoint on port 443 opened, preventing any further deployment of the web interface.

**To Reproduce**
Steps to reproduce the behavior (it is

[2022-02-21 08:51] #3444 closed, assigned to nobody

[2022-02-23 16:53] ftoure67 opened #3815 "Add modem information in the Antenna Tab"
**Is your feature request related to a problem? Please describe.**
As a user, I would like to see more modem information like the Sim status, the IMSI, the LAC, CI, BAND, etc.

**Describe the solution you'd like**
I would like to see the additional modem information in the Antenna TAB.

**Describe alternatives you've considered**
It may be possible to query the modem information using tty commands

[2022-03-01 09:21] #3733 closed, assigned to nobody

[2022-03-01 13:30] GizmoIchitzo opened #3826 "[DOCKER] Build KO due to moquette repository jcenter.bintray.com"
Hello,

We cannot build Kura with docker due to moquette  repository wich is closed since several month
https://jcenter.bintray.com

Can you update moquette dependancy to fit the last version available in other repo plz ?

[2022-03-04 10:36] MMaiero commented on #3826
Hi,
right now the issue reported is not affecting our local or remote Jenkins builds.
We will, in any case, have a look at this after Kura 5.1.0 release

[2022-03-04 10:41] GizmoIchitzo commented on #3826
Hi,

clear .m2 repo and try again your remote build. Normally, the build will fail

[2022-03-04 10:44] MMaiero commented on #3826
Yes, we usually run our builds from that state.
But I'll try that again later

[2022-03-05 20:38] vincemulhollon commented on #2924
I can verify this problem exists in docker eclipse/kura:latest and does not exist in docker eclipse/kura 5.0.0-RC3-alpine-x86_64

Attempts at installing using docker image latest fail.

Testing kura 5.0.0-RC3-alpine-x86_64 will initially fail as the SSL certificate in the docker expired back on Sep 5, 2021, 7:15:31 PM

However, one can visit the marketplace.eclipse.org, then click on the padlock,

[2022-03-07 13:47] MMaiero commented on #2924
@mstankovic Can you please have a check?

[2022-03-09 19:32] vincemulhollon commented on #2924
From a clean docker install of tag 5.1.0-M1-alpine-x86_64 which was pushed to hub.docker.com 8 days ago, if I try to install the Eclipse Kura Heater Demo from the eclipse marketplace, the package install fails, then using the Kura web interface if I check Device then System Logs I see:

2022-03-09T18:39:41,307	[priority: ERROR]
Message: o.e.k.d.a.i.DeploymentAgent - Exception installing package at

[2022-03-15 12:54] MMaiero commented on #2924
This should be fixed now on develop as we have added the new Eclipse marketplace SSL certificate

[2022-03-20 09:21] #3762 closed, assigned to nobody

[2022-03-20 09:21] #3759 closed, assigned to nobody

[2022-03-20 09:22] #3755 closed, assigned to nobody

[2022-03-20 09:23] #3730 closed, assigned to nobody

[2022-03-20 09:23] #3388 closed, assigned to nobody

[2022-03-20 09:24] #3369 closed, assigned to nobody

[2022-03-20 09:24] #3308 closed, assigned to nobody

[2022-03-20 09:26] #3126 closed, assigned to nicolatimeus

[2022-03-20 09:32] MMaiero opened #3913 "Potential incorrect keystore password after rollback to snapshot0"
**Describe the bug**
cacerts.ks keystore may become unaccessible after a rollback to snapshot0

**To Reproduce**
Steps to reproduce the issue:

1. Install Kura and test if keystore is accessible with: keytool -list -keystore /opt/eclipse/kura/user/security/cacerts.ks. The default password is “changeit”.
2. Reboot the device, the password for the keystore changes (if you try the above command with

[2022-03-23 16:37] marcellorinaldo opened #3924 "Sometimes user is not logged in after changing password"
**Describe the bug**
This issue occurs from time to time and it is related to the new feature “Change password on first login“. Password is actually changed and you are able to log in with a new password. Sometimes, the issue is that the user is not logged in immediately after changing the password and it is needed to re-enter the (new) credentials.

**To Reproduce**
Steps to reproduce the behavio

[2022-04-19 09:51] pintify opened #3956 "Add regex filter to singleport operation"
**Is your feature request related to a problem? Please describe.**
I need to process an average calculation over a whole bunch of variables I have in a wire asset.

**Describe the solution you'd like**
I'd be interested in having a regex filter in the operand name to process them all instead of create a lot of average components of type org.eclipse.kura.example.wire.math.singleport.provider

**Add

[2022-05-04 14:54] spulci opened #3972 "Topic name validation: issue with names containing "//" (Cloud Subscriber)"
**Describe the bug**
Let Kura establish an MQTT connection as a Cloud Subscriber to a Topic having this kind of name:

[code]

Received Payload will not trigger a wiregraph component. No msg will be available on the log.

**To Reproduce**

1. Create a Cloud Connection with a Cloud Subscriber pointing to an MQTT Broker
2. Define the topic inside Kura as a valid one on your broker. Be sure that a va

[2022-05-05 15:40] MMaiero commented on #3972
Hello,
you can try to update the Paho version embedded in Kura to see if that solves the issue.

Best regards,
Matteo

[2022-05-05 15:48] spulci commented on #3972
Matteo,

I tried to replace the embedded Paho version updating to 1.2.5. Issue is fixed.

Do you want me to open a PR to propose the fix?

[2022-05-05 15:52] MMaiero commented on #3972
It would be great!
Thanks

[2022-05-10 14:47] spulci commented on #3972
I've got a feature branch on my fork with the proposed set of fixes. I've started from tag version 4.1.3 since I've only tested it with 4.1.3 (I'm using this version, not the latest 5.x one). Should your target branch in my PR be release-4.1.0? Is this branch a protected one to allow merging for future releases (like a potential 4.1.4)?

Thanks for your help, I want to make a pull request that tak

[2022-05-11 15:09] MMaiero commented on #3972
Usually changes are done in develop and then back ported (we have a label for that that triggers a GitHub action). So, no manual work should be needed for the back port.

[2022-05-11 15:35] spulci commented on #3972
This sounds great.....I will have to make my changes on a feature branch coming from develop.....I should have a few hours to test this on the develop branch that as far as I could understand is aligned to the latest majord version development (future Kura 5.x).

[2022-05-17 12:55] MMaiero commented on #3913
Closed by #3965

[2022-05-17 12:55] #3913 closed, assigned to nobody

[2022-05-24 13:12] mstankovic opened #3993 "Cloud Connection"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Target Environment (please complete

[2022-05-24 13:18] mstankovic opened #3994 "Cloud Connection | "Unsaved" warning appears after applying changes"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cloud Connection service
2. Select existing connection or create a new one
3. Go to DataService tab and change value for any field (ie: "Connect Auto-on-startup")
4. Do NOT apply changes
5. Go to "MqttDataTransport" tab
6. Warning dialog appears saying: "There are unsaved changes.."
7. Click No
8. Apply changes
9. Go to "MqttDataTransport"

[2022-05-25 06:56] #3993 closed, assigned to nobody

[2022-06-21 11:19] marcomatteo opened #4030 "Upload csv channels fails when a driver have duplicated columns (S7 Driver)"
**Describe the bug**
Assets created from the S7 Driver can't be configured with the "Upload Channels" functionality because the driver has a duplicated parameter:
- the "offset" specific parameter driver for the S7 Driver
- the "offset" independent parameter, common for all drivers.

This leads to a duplicated column in the CSV file downloaded from the "Download Channels" button.
Uploading the sam

[2022-06-24 14:07] #4030 closed, assigned to nicolatimeus

[2022-07-05 15:53] s-leo opened #4041 "SIGSEGV fatal error on USB device attach/detach with usb4java and oshi"
**Describe the bug**
A SIGSEGV fatal error occurs when USB devices get attached/detached and both the [usb4java](https://github.com/usb4java/usb4java) and [oshi](https://github.com/oshi/oshi) libraries are called, with usb4java being called first.

**To Reproduce**

1. Compile and deploy [this test bundle](https://github.com/s-leo/oshi-usb4java-test) to Kura.
2. Wait for the message `OshiTestServi

[2022-07-21 08:33] davide-prade commented on #4041
I have the same problem myself and it is quite serious. Can you please check it out?

[2022-07-21 08:51] pierantoniomerlino commented on #4041
@s-leo I cannot download the test bundle since it is private... Could you share it, so we can test on a device?
Thanks!

[2022-07-21 08:56] s-leo commented on #4041
my bad, I forgot to make it public. You should be able to see it now

[2022-07-24 15:59] MMaiero commented on #3815
Closing as done.

[2022-07-24 15:59] #3815 closed, assigned to nobody

[2022-07-26 12:05] #3994 closed, assigned to MMaiero

[2022-08-03 15:08] pierantoniomerlino commented on #4041
@s-leo I tried your test bundle also on a RPi3 with the same SIGSEGV. Without the bundle, indeed, the usb events are correctly caught and no crash accours. Definitely, more investigation is needed...

[2022-08-29 15:54] mattdibi opened #4133 "Error parsing Kura log timestamp"
From time to time Im able to see following error from kura.log file:

[code]

full kura.log file attached also

[kura.log](https://github.com/eclipse/kura/files/9446038/kura.log)

[2022-08-31 10:35] MMaiero opened #4138 "Container management feature is included in Docker images"
**Describe the bug**
The container management feature and container orchestration bundles are included by default in all the distributions, also docker.
In the docker case it may not make sense since it's a bit unusual that the container can manage the containers of the host machine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the bundles section of the Kura docker image
2. See the

[2022-09-01 09:38] kandrej opened #4141 "Sometimes DataService stops working after installing a .dp package on Java 11"
**Describe the bug**
Sometimes DataService stops working after installing a .dp package.

**To Reproduce**
Steps to reproduce the behavior:
1. Install/reinstall a .dp package

**Target Environment (please complete the following information):**
 - Any board or OS
 - Java 11

**Additional context**
2022-09-01T08:01:17,480 [DataServiceImpl:Submit] ERROR o.e.k.c.d.DataServiceImpl - Probably an unrecov

[2022-09-01 12:08] marcellorinaldo commented on #4141
Hi @kandrej! Thanks for the report.

Does it happen on every DP or is it a particular one?

[2022-09-15 07:30] ganzuoni opened #4162 "Kura 5 docker does not restart"
**Describe the bug**
A kura 5 container create with
docker create  -p 18080:8080 -p 1443:443  --name kura5 eclipse/kura
does not restart

**To Reproduce**
Steps to reproduce the behavior:
1. create docker as above
3. docker container start
4. docker container stop
5. docker container start
6. docker logs
Kura is still boxed, unpacking ...
Initial Kura instance unpacked, commencing start
Starting K

[2022-09-15 08:46] salvatore-coppola commented on #4162
Hi @ganzuoni .
We just tried the steps you reported and everything seems to to be working fine.
Perhaps you could provide us with more information?

[2022-09-15 11:15] ganzuoni commented on #4162
Docker version 17.12.0-ce, build c97c6d6
Strange enough
docker restart kura5 works
If I stop and the start I get filesystem corrupted
If I commit the container in a new image
docker commit kura5 kura5/failed
and the create a container with an alternative entrypoint
docker run --privileged --name kura5fail  -ti --entrypoint=/bin/bash kura5/failed
This is what I get

bash-5.1# ls -l /opt/eclipse/
to

[2022-09-18 19:59] apmcgregor opened #4171 "Fix Oomph installation, failure of install of SonarLint"
**Describe the bug**
Trying to install the Kura development environment via Oomph.
It looks like one of the SonarLint packages has changed

**To Reproduce**
Steps to reproduce the behavior:
1. Download Oomph install](https://eclipse.github.io/kura/dev/kura-setup.html#oomph-installer)
2. Follow the instructions
3. See error

**Expected behavior**
A clean install of the Kura development environment.

[2022-09-19 08:34] ganzuoni commented on #4162
A "simple" host restart made the trick....

[2022-09-19 08:34] #4162 closed, assigned to nobody

[2022-09-20 11:29] pintify opened #4173 "Integrate Machine Id to SystemService"
**Is your feature request related to a problem? Please describe.**
The need for a standard unique identifier of a device in any Linux system.

**Describe the solution you'd like**
Integrate into SystemService a new method to obtain the Machine Id of the device:
https://man7.org/linux/man-pages/man5/machine-id.5.html

**Describe alternatives you've considered**
The use of primary MAC or serial numb

[2022-09-20 13:56] #4133 closed, assigned to nobody

[2022-09-20 14:23] mattdibi commented on #4171
Hi there @apmcgregor,

thank you for reaching out and reporting the issue. Looks like I can reproduce it:
![Screenshot 2022-09-20 at 16 00 30](https://user-images.githubusercontent.com/22748355/191282968-401960cd-eba6-45d4-926c-d88b82c70dc6.png)

The new url for the [Sonarlint plugin](https://marketplace.eclipse.org/content/sonarlint) is in fact: `https://eclipse-uc.sonarlint.org`.

While you wait

[2022-09-20 15:26] mattdibi commented on #4171
@apmcgregor As noted in the PR please use Eclipse 2022-06 for the installation.

[2022-09-20 20:17] apmcgregor commented on #4171
Hello,
I made the change you suggested to the file and Kura installed correctly on 2022-06.
Thank you for your help and very quick response,
Andy

[2022-09-21 07:32] #4171 closed, assigned to nobody

[2022-09-21 07:33] mattdibi commented on #4171
Great! Thanks for the feedback :)

[2022-09-23 10:01] ganzuoni opened #4181 "WireAsset (Modbus) emits error just once"
**Describe the bug**
A WireAsset representing a Modbus device emits payload just once

**To Reproduce**
Steps to reproduce the behavior:
1. Starts a modbus slave simulator
2. Create a wire graph with a timer to acquire some channels with WireAsset connected to a Logger receiver
3. tail -f kura.log
4. You can see acquisition logged
5. Stop modbus slave simulator
6. logger shows the channel acquisit

[2022-09-24 11:39] fbertini opened #4183 "Docker Image: The configuration attribute clientId is required and no value has been specified."
**Bug Description**
Running the [official Docker Image](https://hub.docker.com/r/eclipse/kura) of Kura, shows the following error:
The configuration attribute clientId is required and no value has been specified.

**To Reproduce**
Steps to reproduce the behavior:
1. podman run -d -p 8080:8080 -t eclipse/kura
2. Access the podman container logs /var/log/kura.log
3. See the following error

[code]

[2022-09-28 09:18] s-leo commented on #4041
Any news on the issue @pierantoniomerlino ?

[2022-10-03 09:45] #3826 closed, assigned to MMaiero

[2022-10-03 12:35] MMaiero commented on #4138
Closed by #4178

[2022-10-03 12:35] #4138 closed, assigned to nobody

[2022-10-04 08:28] pierantoniomerlino commented on #4041
Hi @s-leo, sorry for the late reply. I should admit that I wasn't able to find the cause of this issue... I've planned to come back to this as soon as possible.

[2022-10-04 11:41] MMaiero commented on #4183
Hi, I just checked with eclipse/kura:5.2.0-alpine-x86_64 on top of docker and I could not see the issue reported.
I don't have available a windows machine, but maybe @salvatore-coppola can check if this issue happens in his windows setup.
More information on the setup may help with the issue.
Also, the client id can be configured and not selected by the framework.

[2022-10-04 12:20] fbertini commented on #4183
Hello,

thanks for replying. I've just noticed that the error I reported is still present of course, but it is "not blocking" if the following command is used to start the container:
`docker run -d -p 8443:443 -t eclipse/kura`
Then I can access the console via https://localhost:8443/

I think this page shuld be updated accordingly, since there are two errors: https://hub.docker.com/r/eclipse/kura/

[2022-10-04 12:45] salvatore-coppola commented on #4183
@fbertini the documentation page on dockerhub is not very up to date, please refer to https://eclipse.github.io/kura/docs-release-5.2/getting-started/docker-quick-start/#installation

[2022-10-14 11:18] davide-prade opened #4200 "Cloud connections units tests for custom component"
I would need to test a bundle that handles connections to multiple Kapua clusters according to custom logics.
I would like to run these tests along the lines of `org.eclipse.kura.core.cloud.factory.DefaultCloudServiceFactoryTest`.
Unfortunately, however, the `org.eclipse.kura.core.cloud.factory.DefaultCloudServiceFactory` class is not exposed in the related POM.

How can I then test the new bundle

[2022-10-21 12:24] MMaiero commented on #4183
Can this issue be closed, then?

[2022-10-21 12:29] fbertini commented on #4183
Yes please

[2022-10-21 12:29] #4183 closed, assigned to nobody

[2022-10-21 12:41] MMaiero commented on #4141
Any update on this? Is it solved?

[2022-10-21 12:45] #3368 closed, assigned to nobody

[2022-10-21 12:49] MMaiero commented on #170
Closing, as from Kura 5 the wifi passwords are encrypted

[2022-10-21 12:49] #170 closed

[2022-10-21 12:54] MMaiero commented on #364
This has been addressed years ago. Closing.

[2022-10-21 12:54] #364 closed

[2022-10-21 12:55] #389 closed, assigned to nobody

[2022-10-21 12:56] #601 closed

[2022-10-21 13:08] #1201 closed, assigned to ibinshtok

[2022-10-21 13:08] #1400 closed, assigned to nobody

[2022-10-21 13:10] #1562 closed, assigned to ibinshtok

[2022-10-21 13:10] #1578 closed, assigned to nobody

[2022-10-21 13:17] #1638 closed, assigned to nobody

[2022-10-21 13:18] MMaiero commented on #356
Closing as a refactoring and new policy defined. Please reopen if needed.

[2022-10-21 13:20] MMaiero commented on #1727
Managed now by the Kura installer + declared dependencies

[2022-10-21 13:20] #1727 closed, assigned to nobody

[2022-10-21 13:20] salvatore-coppola commented on #348
@MMaiero the `WpaSupplicantConfigReader` doesn't exist anymore, now the confuration is alway read from the snapshot.
In the snaphost if we find that no security is set we use NONE and i belive it is fine https://github.com/eclipse/kura/blob/bbe229b746f54c695f5e218119fd353bfc8fb76f/kura/org.eclipse.kura.core.net/src/main/java/org/eclipse/kura/core/net/NetworkConfiguration.java#L638

[2022-10-21 13:21] MMaiero commented on #348
Great! Thanks for the update. Closing.

[2022-10-21 13:21] #348 closed

[2022-10-21 13:21] #1803 closed, assigned to nobody

[2022-10-21 13:22] #1804 closed, assigned to nobody

[2022-10-21 13:22] #1805 closed, assigned to nobody

[2022-10-21 13:22] #1806 closed, assigned to nobody

[2022-10-21 13:28] #2647 closed, assigned to nobody

[2022-10-21 13:30] MMaiero commented on #2563
We have recently added Chrony support with secure NTP. So that the clock source can be trusted.

[2022-10-21 13:30] #2563 closed, assigned to nobody

[2022-10-21 13:31] MMaiero commented on #2508
@mattdibi Can you please have a look, when you have time, if the documentation is now more up-to-date?

[2022-10-21 13:31] #2367 closed, assigned to nobody

[2022-10-21 16:21] mattdibi commented on #2508
@MMaiero the latest page about the `DB Store` and `DB Filter` that I can find is [this one](https://eclipse.github.io/kura/docs-develop/kura-wires/single-port-wire-components/db-store-and-filter/) and looks like it's still lacking the information highlighted here. We might need to expand on this...

[2022-10-27 15:29] davide-prade opened #4212 "Wrong order of BIRTH/APPLICATION certificates for custom APP IDs registration"
**Describe the bug**
At every APP ID registration with `CloudServiceImpl.registerRequestHandler()` method an `APPLICATION` certificate is sent, causing a possible wrong order processing at server side.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a CloudService connection to a Eclipse Kapua server, and connect to it.
2. Call in rapid sequence the `CloudServiceImpl.registerReques

[2022-10-29 06:32] MMaiero commented on #4212
Hello,
do you have some logs to share that show the issue?

[2022-10-29 06:32] MMaiero commented on #4200
@nicolatimeus Any thoughts on this?

[2022-10-31 10:59] davide-prade commented on #4212
Hi @MMaiero,
here are the relevant device events: [container_device_events.csv](https://github.com/eclipse/kura/files/9900460/container_device_events.csv)
As you can see, if you order them by the `Created On` field, the last event is missing the `USER-INTERFACE-V1` custom APP ID.

I confirm that by creating an APP ID caching mechanism in one of our custom components and publishing the certificate

[2022-11-07 08:43] nicolatimeus commented on #4200
Hi, sorry for the late reply.

`org.eclipse.kura.core.cloud.factory.DefaultCloudServiceFactoryTest` works because it is an OSGi fragment [1], and therefore has access to all of the classes of its host bundle, even if they are not exported. I think that you can use the same approach if you want to access  `org.eclipse.kura.core.cloud.factory.DefaultCloudServiceFactory` directly.

An alternative can

[2022-11-08 08:05] MMaiero commented on #4181
Hello,
I think that the error emission depends mainly by the driver used.
What driver bundle are you using?

[2022-11-11 08:17] MMaiero commented on #4212
Are you seeingg this issue with only your custom component (USER-INTERFACE-V1) or also with other "native" Kura components?

[2022-11-11 08:21] davide-prade commented on #4212
This problem apparently occurs only with "non-native" APP IDs. I imagine that the native components are loaded before the connection is established due to dependencies and therefore the problem does not manifest because the APP IDs have already been collected.

[2022-11-11 08:28] MMaiero commented on #4212
The code that manages that publishing is this one: https://github.com/eclipse/kura/blob/657107fe5caa4c593995cd2e8782e99570172c62/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudServiceImpl.java#L947
Once the app registers itself to the cloud connection, it should be tracked and an app update should be published.

From that point on the app should be recorded in a ma

[2022-11-11 08:38] davide-prade commented on #4212
That's right, just to solve the problem of multiple sequential sending of multiple "non-native" APP IDs, I had to create three new methods, to avoid immediate sending of the certificate for each APP ID, which can cause server-side processing in the wrong order.

These are the methods in `kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/cloudconnection/request/RequestHandlerRegistry.java` i

[2022-11-11 08:41] MMaiero commented on #4212
Wouldn't be better to add a (maybe configurable) delay in the app processing? So the API stays the same and the code changes to accomodate this need?

[2022-11-11 08:43] davide-prade commented on #4212
We have multiple OSGi bundles that can load dynamically in rapid succession, and we have no control over the loading sequence and timing.

[2022-11-11 08:47] MMaiero commented on #4212
that's why I was suggesting a configurable delay to be specified in the Request Handler preferences so that the registering operation can stay the same. A separate thread can proceed on the APP/BIRTH publishing after x seconds or x seconds after the last registration events so that you can send only one message to the cloud with all your apps in it

[2022-11-11 08:55] davide-prade commented on #4212
It is not acceptable for us to delay loading our bundles, which may number in the dozens and interface directly with hardware components that need to be available to other bundles as soon as possible.

[2022-11-11 09:01] MMaiero commented on #4212
No, maybe I was not clear on my proposal: my idea would be to add a thread in CloudServiceImpl that processes the registrations in https://github.com/eclipse/kura/blob/657107fe5caa4c593995cd2e8782e99570172c62/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudServiceImpl.java#L947 and published the birth/APP update after x seconds after the last call of the method. In

[2022-11-11 09:05] davide-prade commented on #4212
Sorry, I didn't understand correctly.
Yes, that is exactly what would be needed.
I also don't understand why the APPLICATION certificate is not sent the same way in `CloudConnectionManagerImpl` and so that class should be corrected as well.

[2022-11-11 09:10] MMaiero commented on #4212
That would be a great contribution for the project if you are willing to partecipate to it. We would be happy to have new contributors to Eclipse Kura!

Not sure there too, it may be because of the different contract.

[2022-11-11 10:36] salvatore-coppola opened #4234 "H2 Database size continues to grow with high data entry rate"
**Describe the bug**
With high data insertion rate (about 20 ms) the size of h2 database in file mode continues to grow and the compact/defrag task seems to do nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a wire graph with an high data entry rate.
2. Disconnect the cloud publisher.
3. Observe the file size growing.
4. Reconnect the cloud publisher and disconnect the timer.

[2022-11-15 09:48] #4234 closed, assigned to nobody

[2022-11-16 07:29] davide-prade commented on #4200
Thank you very much for your reply.
As soon as I have some time I will try.

[2022-11-16 07:35] davide-prade commented on #4212
Thank you very much for your reply.
As soon as I have some time I will create a PR.

[2022-11-16 13:05] MMaiero opened #4246 "DataService not accepting null payload"
**Describe the bug**
This is a regression introduced in Kura 5.2.0.
If a message is pushed to the data service with a null payload, this causes the database backend to fail on the following line: [kura/DbDataStore.java at adcf5b813a035c3f7a66c99abda9416d9136d7d7 · eclipse/kura](https://github.com/eclipse/kura/blob/adcf5b813a035c3f7a66c99abda9416d9136d7d7/kura/org.eclipse.kura.core/src/main/java/or

[2022-11-16 13:05] MMaiero commented on #4246
Fix to be back ported to Kura 5.2.1

[2022-11-16 15:46] #4246 closed, assigned to marcellorinaldo