[2020-06-30 08:21] MMaiero commented on #2952
@mstankovic I'm not sure how you are getting that result: I've tried in my raspberry setting tun0 and eth0 as input output interfaces since now you cannot leave them empty. After applying this is the log:

[code]

That seems correct

[2020-06-30 11:57] mstankovic commented on #2952
@MMaiero that could be the problem: on the build im using (https://ci.eclipse.org/kura/job/kura-develop/1810/)

Im able to add rule without entering input/output interfaces. Once I open the dialog for adding rule im able to submit with only clicking on the submit button.

[2020-06-30 14:04] pierantoniomerlino commented on #2792
Ok. I reopen the issue to keep track of the new corner case.
@LeoNerdoG I confirm the issue.

[2020-06-30 14:05] BrunoJesus84 commented on #2681
Great! It works! (I'm feeling stupid for not thinking about it.)
Anyway, now I am connected with Kura, to the Mosquitto broker. Thank you so much for this.
Taking advantage (maybe this doubt I could already clarify in another place, I apologize if this is not the right place), but I confess that I still don't understand the functioning of the publisher bundle in Kura. Which of the settings corresp

[2020-06-30 14:42] MMaiero commented on #2681
An easy to use subscriber is in wires.
The publisher in Kura defines the application-id and application-topic in which the messages will be published as well as other publishing related parameters.
The resulting topic is usually in the form:
[code]

[2020-07-01 13:29] #2934 closed, assigned to MMaiero

[2020-07-01 14:25] MMaiero commented on #2888
@LeoNerdoG Since #2956 has been merged, can this be closed in your opinion?

[2020-07-01 14:26] MMaiero commented on #2886
Is this issue still there after the changes made?

[2020-07-01 14:43] MMaiero commented on #2871
Hi @Salvocll any update on this?
Can the issue be closed?

[2020-07-01 15:35] MMaiero commented on #2862
Is this error still there?

[2020-07-01 15:37] MMaiero commented on #2861
Is this issue still there after the changes made?

[2020-07-01 15:38] MMaiero commented on #2860
Is this issue still there after the changes made?

[2020-07-01 15:38] MMaiero commented on #2859
Is this issue still there after the changes made?

[2020-07-01 15:38] MMaiero commented on #2858
Is this issue still there after the changes made?

[2020-07-01 15:38] MMaiero commented on #2857
Is this issue still there after the changes made?

[2020-07-01 15:40] MMaiero commented on #2856
Is this issue still there after the changes made?
I have tested with latest develop and I don't see the issue.

[2020-07-01 15:41] MMaiero commented on #2855
Is this issue still there after the changes made?

[2020-07-01 15:50] MMaiero commented on #2773
Hi @Czou
as @LeoNerdoG stated, we need a description of the error and a way to recreate it.
If you can provide all the details, it will be really helpful.
In the meantime I'm closing the issue. Feel free to reopen it if needed.

[2020-07-01 15:50] #2773 closed, assigned to nobody

[2020-07-01 15:54] MMaiero commented on #2750
The download channels uses the stored/saved configuration.
So, yes, that was an initial choice made when the feature was developed.

[2020-07-01 17:01] #2871 closed, assigned to nobody

[2020-07-02 10:47] LeoNerdoG commented on #2934
I have verified that this issue has been resolved.

[2020-07-02 10:56] LeoNerdoG commented on #2888
Hey @MMaiero,
I have checked this and the original issue is resolved.
However, I have discovered that user can enter only spaces or semicolons and Kura will not report an error (screenshot bellow) - I think we should open a new issue for this - what do you think?
Or can you fix this with a new PR and link it with this issue?

![Screenshot 2020-07-02 at 12 54 50](https://user-images.githubuserconte

[2020-07-02 11:04] LeoNerdoG commented on #2886
Yes, the issue persists.

[2020-07-02 11:07] LeoNerdoG commented on #2862
I have checked this issue again and it seems to be resolved, I can add forwarded IP without a problem.

[2020-07-02 11:07] #2862 closed, assigned to nobody

[2020-07-02 11:14] LeoNerdoG commented on #2861
I have verified that this issue has been resolved - user has to enter all the mandatory parameters in order to add a forwarded port.

[2020-07-02 11:14] #2861 closed, assigned to nobody

[2020-07-02 11:15] LeoNerdoG commented on #2860
I have verified that this issue has been resolved.

[2020-07-02 11:15] #2860 closed, assigned to nobody

[2020-07-02 11:28] LeoNerdoG commented on #2859
I have verified that this issue has been resolved.

[2020-07-02 11:30] #2859 closed, assigned to nobody

[2020-07-02 13:03] #2870 closed, assigned to MMaiero

[2020-07-02 13:05] #2881 closed, assigned to MMaiero

[2020-07-02 13:37] MMaiero commented on #2886
Having another look, the field is reported in any case as erroneous when you select the WEP because the actual field is not a string allowed by WEP.
I believe there is little we can do there.

Also, the switch between wireless modalities causes the reloading of the current defaults. That is the reason why if you set a WEP compatible key and then switch, the password is not kept in any case.

[2020-07-02 14:00] mstankovic commented on #2952
@MMaiero confirming that it is unable to add rule without entering input/output interface fields..
trivial issue still exists: values "0.0.0.0/0" for source/destination fields are presented only after refreshing the page

[2020-07-02 15:28] MMaiero commented on #2952
I see that as a minor visual glitch. I propose to close this issue.

[2020-07-03 09:52] MMaiero commented on #2730
I believe we should remove the icons from all the buttons

[2020-07-03 12:58] #2723 closed, assigned to MMaiero

[2020-07-03 13:23] #2948 closed, assigned to pierantoniomerlino

[2020-07-03 14:48] MMaiero commented on #2865
Is this issue still there after the changes made?

[2020-07-03 14:49] #2730 closed, assigned to nobody

[2020-07-03 14:54] MMaiero commented on #2721
Don't know what sort of validation we can do here since it is a text field that will be passed directly to the jvm

[2020-07-03 14:58] MMaiero commented on #2704
The OSGi metatype that is the basis for the visualisation does not have a cron type.
So the field is set as a plain text field. That's the reason why there is no specific validation for that field.
Unfortunately there is not so much we can do at the moment for this.

[2020-07-03 14:58] #2704 closed, assigned to nobody

[2020-07-03 15:05] MMaiero commented on #2701
@LeoNerdoG Any update on this?

[2020-07-03 15:06] MMaiero commented on #2700
It's a design choice due to how things are managed in the interaction with OSGi

[2020-07-03 15:06] #2700 closed, assigned to nobody

[2020-07-03 15:15] MMaiero commented on #2697
I believe this has already been fixed in develop. @LeoNerdoG Please check

[2020-07-03 15:16] MMaiero commented on #2696
I believe this has been fixed in develop.

[2020-07-03 15:19] MMaiero commented on #2694
Can you double check if this still exists? I'm not able to recreate from develop

[2020-07-03 15:20] MMaiero commented on #2693
Duplicate to #2694

[2020-07-03 15:20] #2693 closed, assigned to nobody

[2020-07-03 15:22] MMaiero commented on #2691
I don't see it. Can you check with develop?

[2020-07-03 15:33] MMaiero commented on #2688
Not able to see this too from develop

[2020-07-06 06:10] LeoNerdoG commented on #2857
I have verified that this issue has been resolved.

[2020-07-06 06:10] #2857 closed, assigned to nobody

[2020-07-06 06:12] LeoNerdoG commented on #2858
I have verified that this issue has been resolved.

[2020-07-06 06:12] #2858 closed, assigned to nobody

[2020-07-06 06:21] LeoNerdoG commented on #2856
I have verified that this issue has been resolved.

[2020-07-06 06:21] #2856 closed, assigned to nobody

[2020-07-06 06:24] LeoNerdoG commented on #2855
I have verified that this issue has been resolved.

[2020-07-06 06:24] #2855 closed, assigned to nobody

[2020-07-06 06:25] LeoNerdoG commented on #2750
Closing due to upper comment.
@MMaier thanks for the clarification.

[2020-07-06 06:25] #2750 closed, assigned to nobody

[2020-07-06 06:46] LeoNerdoG commented on #2870
I have verified that this issue has been resolved.

[2020-07-06 06:50] LeoNerdoG commented on #2723
I have verified that this issue has been resolved.

[2020-07-06 07:09] MMaiero commented on #2685
In the current implementation, the name assigned to a component is directly used in OSGi and there, no duplicates are permitted. That is the reason of the error

[2020-07-06 07:13] MMaiero commented on #2684
Should be solved now in develop

[2020-07-06 08:52] LeoNerdoG commented on #2729
hey @MMaiero
I have checked this and if user changes service view (goes from Settings to e.g. CloudService), Kura asks the user if he wants to discard changes (which is OK), but if user clicks YES and then returns, this is the case:
![Screenshot 2020-07-06 at 10 51 23](https://user-images.githubusercontent.com/15121999/86574901-caf01800-bf76-11ea-9e35-cf13afa16248.png)

But: if user changes a tab

[2020-07-06 08:58] pierantoniomerlino commented on #2866
@LeoNerdoG could you please check if this issues is still present?

[2020-07-06 09:04] LeoNerdoG commented on #2865
I have verified that this issue has been resolved.

[2020-07-06 09:04] #2865 closed, assigned to pierantoniomerlino

[2020-07-06 10:12] sterwen commented on #2598
A new pull request will be issued

[2020-07-06 10:12] #2598 closed, assigned to nobody

[2020-07-06 10:54] LeoNerdoG commented on #2721
Yes, I agree, but we can at least check if there is a comma between two ciphers? What do you think, is this something doable or logical from JVM standpoint and from Kura's view?
So we don't end up with this:
![Screenshot 2020-07-06 at 12 53 10](https://user-images.githubusercontent.com/15121999/86586177-c8e28500-bf87-11ea-9c49-3f80aff0821c.png)

[2020-07-06 12:29] LeoNerdoG commented on #2701
Hey @MMaiero,
I was not able to reproduce the issue in the latest develop branch, so I am closing this.

[2020-07-06 12:29] #2701 closed, assigned to MMaiero

[2020-07-06 12:33] LeoNerdoG commented on #2881
Please see [this comment](https://github.com/eclipse/kura/pull/2966#issuecomment-652855336) for more clarification why this issue has been closed.

[2020-07-06 12:56] LeoNerdoG commented on #2697
Hey @MMaiero,
this is still not fiixed. Components turn into red only if user deletes a driver from Drivers list and then goes to Wire graph. Otherwise the components do not get coloured in red.

[2020-07-06 12:58] LeoNerdoG commented on #2696
Hey @MMaiero,
this still hasn't been fixed. This only happens if the screen is resized a bit though, so it does not manifest always, but only under certain circumstances.

[2020-07-06 13:38] MMaiero commented on #2696
ok, so let's keep it as a P2

[2020-07-06 13:39] MMaiero commented on #2697
yes, that is right. But when applying, the error message now reports the component(s) with issues.

[2020-07-06 13:45] MMaiero commented on #2721
The real limitation is in the current UI: being a configurable component and the UI makes the checks for the specific configurable component type, in this case String. At this time there is no specific enforcement that we can do in this section of the UI.

[2020-07-06 14:22] pierantoniomerlino commented on #2792
@LeoNerdoG Yes, indeed the first issue is not solved, but IMHO is not so critical. I'll close this issue anyway. @MMaiero what do you think about that?

[2020-07-07 06:44] #2699 closed, assigned to MMaiero

[2020-07-07 06:56] #2864 closed, assigned to pierantoniomerlino

[2020-07-07 06:57] #2703 closed, assigned to MMaiero

[2020-07-07 07:21] pierantoniomerlino commented on #2792
@LeoNerdoG does the first issue happen only when the mandatory field is filled with a wrong value? I mean, if a wrong value is written, you can keep pressed the "x" button and see that the field is red. This because the focus is changed and the field is evaluated. But if the value is correct, I don't see the red highlight.

[2020-07-07 08:04] LeoNerdoG commented on #2720
I have verified that this issue has been resolved.

[2020-07-07 08:04] #2720 closed, assigned to MMaiero

[2020-07-07 08:06] LeoNerdoG commented on #2703
I have verified that this issue has been resolved.

[2020-07-07 08:11] LeoNerdoG commented on #2699
I have verified that this issue has been resolved.

[2020-07-07 08:15] LeoNerdoG commented on #2864
I have verified that this issue has been resolved.

[2020-07-07 08:19] LeoNerdoG commented on #2694
Hey @MMaiero,
I was not able to reproduce this issue, so I am closing it for now. If I stumbel upon it again, I will reopen the issue.

[2020-07-07 08:24] LeoNerdoG commented on #2721
Ok so I would keep this issue open if you agree or label it somehow for future reference, so when/if UI gets changed/upgraded/modified, we check this issue and fix it.

[2020-07-07 11:47] MMaiero commented on #2721
ok

[2020-07-08 08:07] LeoNerdoG commented on #2694
Hey @MMaiero,
I was able to reproduce this issue (by accident but it doesn't matter).
Please follow the testflow bellow and please let me know if you can replicate it.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph, add some components to it (let them be unordered), apply the changes
3. Go to Packages, install a package (in my case it was wire-devel-component)
4. Return to Wire

[2020-07-08 08:11] LeoNerdoG commented on #2691
I was not able to reproduce this, I am closing the issue. Maybe there was some glitch in the browser (e.g. uncleared chacge or something similar).

[2020-07-08 08:11] #2691 closed, assigned to nobody

[2020-07-08 08:14] MMaiero commented on #2694
No, I'm still not seeing it. We can leave it open for a further review. But I see it as a P2 issue

[2020-07-08 10:24] LeoNerdoG commented on #2697
I am closing due to the upper comment.

[2020-07-08 10:24] #2697 closed, assigned to MMaiero

[2020-07-08 10:35] LeoNerdoG commented on #2684
I have verified that this issue has been resolved.

[2020-07-08 10:35] #2684 closed, assigned to nobody

[2020-07-08 10:38] LeoNerdoG commented on #2866
Hey @pierantoniomerlino,
I have verified that this issue has been resolved.

[2020-07-08 10:38] #2866 closed, assigned to pierantoniomerlino

[2020-07-08 10:40] LeoNerdoG commented on #2688
Hey @MMaiero,
When you open the new cloud connection window, click on "PID" (to set focus on it) and after that click Cancel - this way you will be able to reproduce the issue.

[2020-07-08 10:43] LeoNerdoG commented on #2792
Hey @pierantoniomerlino,
if I see correctly, user first has to enter something into the mandatory field and then delete it.
From this standpoint it is logical that the field is in error state for brief moment, but I suggest that if the focus changes to "X", that the fields do not get validated.

[2020-07-08 13:26] #2888 closed, assigned to nobody

[2020-07-08 15:14] pierantoniomerlino commented on #2835
@LeoNerdoG could you please take a look at the proposed solution?

[2020-07-08 15:20] MMaiero commented on #2688
ok, now I see it. But I'm not sure that is an issue.
I mean, the field is evaluated on focus lost (validateOnBlur)

[2020-07-08 15:22] #2921 closed, assigned to nobody

[2020-07-08 15:26] MMaiero commented on #2901
What are you setting in the TCP/IP section precisely?

[2020-07-10 06:10] LeoNerdoG commented on #2888
I have verified that this issue has been resolved.

[2020-07-10 08:06] LeoNerdoG commented on #2688
Hm, I understand. This is basically the same issue as the one where user clicks on "x" and all the fields in error state are for a brief moment in error state.
If you think this is not an error, I would close it, but if there is a way, to check this case in the code, I would preffer that ("if focus on field and user clicks on "x" or "cancel" -> don't validate).

[2020-07-10 08:45] LeoNerdoG commented on #2901
I leave all the parameters as they are from before (when DHCP assignes them):
 - Status: enabled for LAN
 - Configure: Manually
 - IP Address :10.19.40.105
 - subnet mask: 255.255.255.0

[2020-07-10 09:20] #2717 closed, assigned to pierantoniomerlino

[2020-07-10 09:22] MMaiero commented on #2688
I don't think there is such possibility, honestly. But I'll look again in it. If not, I'll close the issue

[2020-07-10 09:57] nicolatimeus commented on #2961
Something similar has been done as part of #2912 , but maybe it requires a couple more tweaks

[2020-07-10 11:43] MMaiero commented on #2961
@nicolatimeus that's great. Let's try to finalise the PR and let's see if we can extend those features through all the UI

[2020-07-10 13:09] mstankovic commented on #2952
agree - closing this one

[2020-07-10 13:09] #2952 closed, assigned to MMaiero

[2020-07-10 14:40] mstankovic opened #2981 "IP Forwarding/Masquerading -> Error dialog is missing when adding duplicated item"
**Describe the bug**
When Im trying to add duplicated item (with same input/output ports) nothing happens. item is not added and error dialog in not shown. This can is a bit confusing for user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firewall section -> Ip Forwarding tab
2. Click on New button and add rule with input/output ports (eth1, eth2)
3. Submit
4. Apply - optional step

[2020-07-13 06:17] LeoNerdoG commented on #2981
I am confirming this - I tried on my device with latest develop and was able to reproduce it.

[2020-07-13 08:25] ArashJavan opened #2982 "Connecting to Hono"
I have two related questions:

1) What is the difference between CloudService and CloudConnectionManager. Since from the GUI perspective they offer the same settings?

2) In the documentation is not really clear about connecting kura to hono. How can one connect kura to hono?
For example why should do we need both CloudConnectionManager and CloudService and how should they be configured?

Thanks a

[2020-07-13 08:46] MMaiero commented on #2982
Hi,
CloudService is a deprecated api that is still in the codebase for compatibility and legacy reasons.
To connect to Hono you can use the org.eclipse.kura.cloudconnection.eclipseiot.mqtt.provider bundle that should be ready to be used out of the box.

Best regards,
Matteo

[2020-07-13 08:57] ArashJavan commented on #2982
@MMaiero Thanks for your reply :)
I am following the kura official documentation from [here](https://eclipse.github.io/kura/cloud-stacks/kura-hono.html) to connect kura (v4.1.1) running on RP3 with the [hono-sandbox](https://www.eclipse.org/hono/getting-started/).

![Screenshot from 2020-07-13 10-52-16](https://user-images.githubusercontent.com/5918827/87284762-08185500-c4f7-11ea-865d-1621d7a75414

[2020-07-13 09:03] MMaiero commented on #2982
So, the documentation clearly states to create a new instance of org.eclipse.kura.cloudconnection.eclipseiot.mqtt.provider like you did. That is the endpoint that will be used to connect to the Hono instance. You just need to click on that line and configure the proper parameters in the tabs that appear in the bottom of the page.
You don't have to create another CloudService.

[2020-07-13 09:10] ArashJavan commented on #2982
@MMaiero Thanks for clearification. Ok, I have delted the CloudService and now have only one CloudConnectionManager, following hono-sand-box doc I have created a Tenant and added a device with credentials to it.

Settings are:
Broker-Url: mqtt://hono.eclipseprojects.io:1883/
Username: 1fe90395-4ffe-47e8-af50-e7058cfd677d@dbd00315-9be3-48ba-be3e-c0703587f327 (this device@tenant)
password: mypass in

[2020-07-13 09:11] MMaiero commented on #2982
If you access the kura.log file (usually is /var/log) what it does report?
I believe that Kura is not able to connect to the Hono instance

[2020-07-13 09:20] ArashJavan commented on #2982
This is the log-file content:

`2020-07-13T10:17:27,907 [qtp25490953-140] INFO  o.e.k.c.d.t.m.MqttDataTransport - Creating a new client instance
2020-07-13T10:17:27,907 [qtp25490953-140] INFO  o.e.k.c.d.t.m.MqttDataTransport - Using memory persistence for in-flight messages
2020-07-13T10:17:27,910 [qtp25490953-140] INFO  o.e.k.c.d.t.m.MqttDataTransport - # -----------------------------------------

[2020-07-13 09:21] ArashJavan commented on #2982
It says badusername or password. But I am not sure is the username schema device-id@tenant-id" correct? If yes shoudl i provide password in plain-text or hashed? What aboud client ID, is it the same as device-id?

[2020-07-13 09:22] MMaiero commented on #2982
The password is usually in plain text

[2020-07-13 09:47] ArashJavan commented on #2982
@MMaiero, It's connected now! Thanks!
What I did for others:
- Created a tenant, device and password using [Device Registry Management API](https://www.eclipse.org/hono/docs/api/management/), with user defined ids rather than those created randomly.

![Screenshot from 2020-07-13 11-47-21](https://user-images.githubusercontent.com/5918827/87290740-a6f47f80-c4fe-11ea-8f89-776b4523ba2b.png)

[2020-07-13 10:01] #2982 closed, assigned to nobody

[2020-07-13 13:11] LeoNerdoG commented on #2717
I have verified that this issue has been resolved.

[2020-07-15 08:49] MMaiero opened #2983 "UI Target selection is not working in all cases"
**Describe the bug**
Currently the target filter in UI is based on a Class.forName invocation that works only for the interfaces imported by the Web bundle, as it uses the local bundle class loader.
If the user tries to use the target filter with its own APIs, the filtering will return an empty list

**To Reproduce**
Steps to reproduce the behavior:
1. Develop a new bundle that implements an inter

[2020-07-15 10:10] #2983 closed, assigned to MMaiero

[2020-07-15 15:34] #2686 closed, assigned to MMaiero

[2020-07-16 08:30] LeoNerdoG commented on #2686
I have verified that this issue has been resolved. Now the the items cannot be unselected.

[2020-07-16 10:29] nicolatimeus opened #2985 "Asset channels cannot be removed from Wire composer"
**To Reproduce**
1. Create an Asset with some channels defined
2. Open the Wire Composer and delete at least one channel from the Asset
3. Save the graph
4. Reload the web ui

**Expected behavior**
The channels deleted at step 2. are non longer present

**Actual behavior**
The channels are still present

**Target Environment (please complete the following information):**
Kura develop branch

[2020-07-17 12:45] #2835 closed, assigned to pierantoniomerlino

[2020-07-20 10:16] sterwen commented on #2901
I have exactly the same behavior while generating a snapshot file with a router mode on WiFi (Version 4.0), it always appear as NAT Only. For all the parameters are OK in the snapshot, but I never succeeded to have the correct settings applied. Maybe not the same bug, but results looks similar.

[2020-07-20 10:22] sterwen commented on #2885
The management of WiFi channels needs anyway an overhaul. My proposal would be a least to replace the second column header by 'band' instead of frequency. The first column shall be 'central frequency' anyway.

[2020-07-20 10:24] sterwen commented on #2892
I agree, from a pure semantic point of view, 'status' is not something you set but something you read. So 'Mode' is a better wording.

[2020-07-20 11:12] mstankovic opened #2989 "Camel Factory cloud connection | Service PID field validation"
**Describe the bug**
Currently this (Camel Factory) cloud connection type doesn't have proper Service PID field validation. Currently able to add values:
- CamelFactory
- org.eclipse.kura.cloud.CloudService
- org.eclipse.kura.cloudconnection.eclipseiot.mqtt.ConnectionManager
as a Service PID. This should not be possible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cloud Connection

[2020-07-20 11:17] mstankovic commented on #2928
confirming - this is fixed. Closing.

[2020-07-20 11:17] #2928 closed, assigned to nobody

[2020-07-20 11:44] MMaiero commented on #2901
@sterwen Do you have any meaningful error in the logs?

[2020-07-20 12:01] MMaiero commented on #2892
The real problem in this is that, for uniformity, we should change also the name used to persist the property in the snapshot (i.e. net.interface.lo.config.ip4.status) to something like: net.interface.lo.config.ip4.mode. But this is a breaking change we need to take care of. I would not directly and only go for a label change in UI because then it will generate confusion to users when they have to

[2020-07-20 15:10] sterwen opened #2990 "WiFi channels selection improvement"
**Is your feature request related to a problem? Please describe.**
Currently, the WiFi channel selection is hard coded in the user interface package with 11 channels in the 2.4GHz band. This is not taking into account the countries that can allow channels 12 to 14, not the capabilities of the WiFi adapters. This is not allowing either the use of 5GHz channels (#2914). Automatic channel selection (

[2020-07-20 15:48] MMaiero commented on #2990
Hi,
for channels 12 to 14 I believe there was already an issue opened https://github.com/eclipse/kura/issues/2913 with a PR that went upstream to better manage channel 14 https://github.com/eclipse/kura/pull/2916

For 5ghz there is already an issue opened: https://github.com/eclipse/kura/issues/2914

Isn't this a duplicate?

[2020-07-20 21:24] sterwen commented on #2990
It is not a duplicate even if there are some overlap. The proposal is to restructure the user interface to cope with dual bands and more WiFi features like mesh networks in future improvements.
I agree that the #2914 could be merged with this one.

[2020-07-21 07:20] LeoNerdoG commented on #2985
I was able to reproduce the issue, confirming.

[2020-07-21 09:21] pierantoniomerlino opened #2992 "Quectel EG-25 context command is wrong"
**Describe the bug**
The chat script generated by Kura for the Quectel EG-25 is wrong. The result is:

[code]

Please note that the **at+cgdcont** command is splitted in to two rows.

**Expected behavior**
The **at+cgdcont** command has to be set on a single line.

[2020-07-21 09:25] LeoNerdoG commented on #2835
I have verified that this issue has been resolved.

[2020-07-21 10:29] MMaiero commented on #2992
I believe this also needs to be back-ported, right?

[2020-07-21 12:46] #2992 closed, assigned to pierantoniomerlino

[2020-07-21 12:49] #2739 closed, assigned to nicolatimeus

[2020-07-21 12:49] #2746 closed, assigned to nicolatimeus

[2020-07-21 12:49] #2748 closed, assigned to nicolatimeus

[2020-07-21 12:49] #2757 closed, assigned to nicolatimeus

[2020-07-21 12:49] #2758 closed, assigned to nicolatimeus

[2020-07-21 12:53] #2985 closed, assigned to nobody

[2020-07-21 14:57] sterwen commented on #2901
Did not find anything in the logs that trace an error while configure the wlan0. After further analysis, I am not convinced that the problem we observe has the same root cause.

[2020-07-22 06:18] LeoNerdoG commented on #2839
I have verified that this issue has been resolved in latest develop branch (July, 22, 2020).

[2020-07-22 06:18] #2839 closed, assigned to nobody

[2020-07-22 06:18] LeoNerdoG commented on #2944
I have verified that this issue has been resolved in latest develop branch (July, 22, 2020).

[2020-07-22 06:18] #2944 closed, assigned to nicolatimeus

[2020-07-22 06:22] LeoNerdoG commented on #2840
I should really read the descriptions more precisely, because in WebService is stated: "Web Console configuration. A change to this view will case the reload of the web server! Spurious error messages can be displayed during the restart."
I am closing this since this is not an issue.

[2020-07-22 06:22] #2840 closed, assigned to nobody

[2020-07-22 06:35] LeoNerdoG commented on #2985
I have verified that this issue has been resolved.

[2020-07-22 06:40] LeoNerdoG commented on #2758
I have verified that this issue has been resolved.

[2020-07-22 06:43] LeoNerdoG commented on #2739
I have verified that this issue has been resolved.

[2020-07-22 06:44] LeoNerdoG commented on #2748
I have verified that this issue has been resolved.

[2020-07-22 06:56] LeoNerdoG commented on #2746
I have verified that this issue has been resolved.

[2020-07-22 06:57] LeoNerdoG commented on #2757
I have verified that this issue has been resolved.

[2020-07-22 07:29] LeoNerdoG commented on #2746
I have verified that this issue has been resolved.

[2020-07-23 11:06] mstankovic commented on #2838
@MMaiero what's the status of this? Its blocking me while implementing new test cases for WebConsole service?

[2020-07-23 11:33] #2792 closed, assigned to pierantoniomerlino

[2020-07-24 08:06] LeoNerdoG commented on #2792
I have verified that this issue has been resolved.

[2020-07-27 11:00] LeoNerdoG commented on #2752
I have verified that this issue has been resolved.

[2020-07-27 11:00] #2752 closed, assigned to nobody

[2020-07-27 11:39] #2887 closed, assigned to MMaiero

[2020-07-27 12:08] #2963 closed, assigned to MMaiero

[2020-07-27 12:39] LeoNerdoG commented on #2887
I have verified that this issue has been resolved.

[2020-07-27 12:41] LeoNerdoG commented on #2963
I have verified that this issue has been resolved.

[2020-07-29 11:25] LeoNerdoG opened #3000 "Kura Reports "Duplicate Entry" if Space Last Character in Port Number (Firewall)"
This issue consists of two parts (there are two scenarios).
Sceanario/Issue 1:
If user enters a space character after the port number in Firewall -> Open Ports -> New (e.g. "123 "), Kura reports "duplicate entry" error, although the port entered is unique. What makes things worse, this does not happen always (at least on my side this was somehow random...).

Scenario/Issue 2:
If user enters "19823

[2020-07-29 11:25] LeoNerdoG opened #3001 "User Can Upload and Apply Nothing to a Device"
In Settings tab, there is a "Upload and Apply" button, which is used for uploading a device snapshot.
The problem is that user can "upload" nothing - so when nothing is selected and Upload is pressed - it looks like something happens, but nothing changes (logically).
I suggest we put a validation in place for scenario if user selects nothing.

**Testflow:**
1. Login to kura as admin/admin
2. Go to

[2020-07-29 11:25] LeoNerdoG opened #3002 "No Prompt When Reseting Changes in Settings Services"
When user clicks "Reset" button, there is normally a confirmation prompt that gives user one last chance to change his mind. But this is not the case for several services listed bellow. I think this should be unified, because it is always good to have a confirmation box in case reset was clicked by accident (it can happen, believe me).
Affected tabs:
 - Settings -> SSL Configuration (Already repor

[2020-07-29 11:25] LeoNerdoG opened #3003 "Wire Graph Not Centered If Maximally Zoomed Out And Changes Applied"
If user zooms out the wire graph so it is not visible at all and clicks Apply, it lookg like that the wire graph is empty. Same goes for zooming in.
I think a good idea would be to center the wire graph when clicking Apply, so user is not surpised or accidentally deletes graph thinking "there is nothing there, let's press "Delete Graph" button".

**Testflow:**
1. Login to Kura as admin/admin
2. Go

[2020-07-29 11:25] LeoNerdoG opened #3004 "Generic Error if Subscriber or Publisher Selected in Wire Graph"
If user selects Publisher/Subscriber from Wire Components list and puts it in the Wire graph, an error appears when user clicks on the component and trying to change its parameters (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WireGraph, add Publisher/Subscriber to the Wire Graph
3. Select the newly create Publisher/Subscriber and observe the error.

**Expected b

[2020-07-29 11:38] LeoNerdoG opened #3005 "Kura Gets Stuck in Loading View if Services Clicked Too Fast"
If user very fast clicks same service multiple times or if he circles through them very fast, the view gets stuck in loading screen and sometimes does not recover even after two minutes.
I don't think is a critical issue, but it can be confusing for end user if this happens, because it seems that Kura is doing something when it really isn't.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to

[2020-07-29 11:46] LeoNerdoG opened #3006 "Kura Ignores CSV if Contains More Than 1k+ Channels in Asset"
If user uploads an asset that has a lot of channels (I tried with more than 1k), Kura simply ignores it, without showing any kind of errors.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages and install Dummy wire development package
3. Go to Wire Graph and create a wireAsset (create a driver and an asset)
4. Upload a CSV file that has more than 1k channels - observe the behaviour

[2020-07-30 08:55] iacco opened #3008 "Boolean Multiport Components"
**Is your feature request related to a problem? Please describe.**
This feature would add to the Kura examples a multiport component which allows to perform booean operations (AND, OR, XOR, etc.) onto the Wire Graph.

**Describe the solution you'd like**
Input bits, output more bits :)

[2020-07-30 10:30] LeoNerdoG opened #3010 "Syntax Error in Watchdog Service"
There is a syntax error in the Watchdog Service (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Watchdog Service, observe the "Watchdog refresh interval" text

**Expected behavior**
There should be no syntax error.

**Screenshots**
![Screenshot 2020-07-30 at 12 24 00](https://user-images.githubusercontent.com/15121999/88912946-5d2ac980-d260-11ea-9cb0-d4a8bfc15e0c.p

[2020-07-30 15:37] iacco opened #3011 "More Singleport Mathematical components"
It would be nice to add minimum, maximum, median and square root to the single port wire mathematical components.

[2020-08-01 09:44] mstankovic opened #3013 "Missing "Close" button on modal warning dialog"
**Describe the bug**
User is unable to close warning dialog since there is no Close button (or X)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cloud Connection service
2. Try to delete some CC when there are pub (or/and sub) attached to that CC

**Expected behavior**
Warning dialog appears but user is able to close it using Close button (or via X)

**Screenshots**
![Capture](https:/

[2020-08-01 10:13] mstankovic opened #3014 "Example Publisher | Metric Short Array fields appear to be mandatory and unable to Apply changes without filling them"
**Describe the bug**
After adding Example publisher and configuring pub/sub user is unable to apple changes. Some fields appear to be mandatory but they are not marked as mandatory

**To Reproduce**
Steps to reproduce the behavior:
1. Add Example publisher
2. Configure Pub and Sub fields
3. click on Apply button

**Expected behavior**
Changes should be applied.

**Screenshots**
![Capture0](https:/

[2020-08-03 20:31] VarshneyNaupada opened #3017 "Issue while accessing properties in gatt characterstics"
Hi Team,
I have followed tinyB and example documentation to implement BLE devices.
I am able to get UUIDs for Services and GATT Characterstics., but unable to get the service name , GATT characteristic names and also Characteristic properties( Read/write..)

Kindly provide me some example codes to get these names and properties.

[2020-08-04 08:38] pierantoniomerlino commented on #3017
Hi @VarshneyNaupad,
the Kura Bluetooth and TinyB APIs don't expose a method for retrieving the service or characteristic names, since this property is vendor specific.
I can suggest to get the (optional) descriptors of the services/characteristics and see if these information are contained there. Regarding the characteristic properties, you can use the `getProperties` method that returns a List of

[2020-08-04 09:01] VarshneyNaupada commented on #3017
Hi @pierantoniomerlino ,

I understand your point on Service or Characteristic names.
 As you have mentioned this "  Regarding the characteristic properties, you can use the getProperties method that returns a List of BluetoothLeGattCharacteristicProperties  "

I have tested similar way to get let me share my code snippet used and also error which i am receiving

List < BluetoothLeGattCharacterist

[2020-08-04 10:01] pierantoniomerlino commented on #3017
@VarshneyNaupada Mhh.... it smells of a bug. IMHO, there is an issue related to the capitalization of the items in the enum.

[2020-08-04 10:04] VarshneyNaupada commented on #3017
Hi  @pierantoniomerlino

Could you please let me know, what is our next step to resolve it.

[2020-08-04 15:54] chris-gcn opened #3021 "KuraException with some KuraErrorCode are not printed properly."
Hi Kura Team,

**Describe the bug**
While trying to log some `KuraException`, a simple `System.out.println` or a logging of that exception are failing to retrieve the associated message:

`
WARN  o.e.k.KuraException - Could not load Exception Messages Bundle for Locale en_US
org.eclipse.kura.KuraException: Generic Error - INVALID_PARAMETER: {1}
	at org.eclipse.kura.core.configuration.Configuration

[2020-08-07 08:47] kandrej opened #3022 "DnsServerService doesn't work on Armbian (Ubuntu 20.04.1 LTS) anymore"
**Describe the bug**
There is no /etc/init.d/bind9 file in the new release of Armbian. /etc/init.d/named should be called if there is no bind9.

Also, the named.conf validation seems to have changed slightly.

**Invalid configuration**

// Forwarding and Caching Name Server Configuration
options {
        directory "/var/named";
        version "not currently available";
        forwarders {84.255

[2020-08-07 09:50] #3010 closed, assigned to MMaiero

[2020-08-07 10:17] #3014 closed, assigned to pierantoniomerlino

[2020-08-12 14:21] VarshneyNaupada opened #3028 "1Wire Communication(dsb18b20 sensor) with GPIO"
Hi Team,

I am able to control LED with GPIO Driver and Asset. I tried similar way to get data from temperature sensor which is dsb18b20.
As it uses 1-wire Communication, I am unable to get any data.

Kindly help me by providing the approach to get data as well as some code spinets.

[2020-08-12 16:06] #3013 closed, assigned to MMaiero

[2020-08-13 10:31] pierantoniomerlino commented on #3028
Hi @VarshneyNaupada,

the GPIO Driver can be used to simply read a GPIO value. It doesn't implement any kind of protocol such as 1-Wire.
So, if you want to decode the protocol and get the value, you'd develop a custom Driver that do the job.
You can use the GPIO Driver as a reference.

[2020-08-14 08:31] pierantoniomerlino commented on #3000
Both issues are caused by the failing conversion of the ports value to Integers. The first scenario can be avoided trimming the values passed in the "ports range" field.

[2020-08-14 08:50] pierantoniomerlino commented on #3000
For the second scenario we need an exception management during values conversion.

[2020-08-14 09:10] pierantoniomerlino commented on #2718
@LeoNerdoG Could you please check again this issue? I suppose that this could be solved with the last commits about the settings tab.

[2020-08-14 17:16] VarshneyNaupada commented on #3028
Hi @pierantoniomerlino ,

Thank you , I will look into it. I have tried using python script.. it actually reads from default pin (GPIO4), So for custom driver I need to include GPIO code also to read , guide me if i am going in other way round.

Also, would like to know , if we have any Drivers for Camera which Kura supports ?

Thanks Again :)

[2020-08-17 09:29] mstankovic commented on #3000
covered both scenarios in automated tests

[2020-08-17 10:20] mstankovic commented on #2719
@pierantoniomerlino  this issue doesn't occur with the #3034

[2020-08-19 07:04] #3017 closed, assigned to pierantoniomerlino

[2020-08-19 09:10] sterwen opened #3035 "Support of WPA-EAP authentication method in WiFi Station mode"
**Is your feature request related to a problem? Please describe.**
Support of WPA-EAP authentication method in WiFi Station mode

**Describe the solution you'd like**
Change the UI to add 4 fields when the WPA-EAP method is selected.
Make the corresponding change in the code that generates the wpa-supplicant file

**Describe alternatives you've considered**
Modifying the wpa-supplicant file outsid

[2020-08-19 09:28] MMaiero commented on #3028
Hi @VarshneyNaupada,
no, we currently don't have drivers for cameras.

In any case, if you are planning to implement one, please consider contributing back to the project and community.

Best regards,
Matteo

[2020-08-19 11:30] #3000 closed, assigned to pierantoniomerlino

[2020-08-24 11:38] MMaiero opened #3044 "Incorrect Asset status report from cloud call"
**Describe the bug**
When a read for all the channels is requested by the cloud, if an error happens, for example the driver is not able to reach the target PLC, the catcher error is not reported, resulting in an empty list of channels:

[code]

Asset 1 and 3 correctly report even if there is an error in a specific channel.
For asset 2, that has connection issues, what is reported is an empty list

[2020-08-25 08:36] #3044 closed, assigned to MMaiero

[2020-08-25 08:39] #2954 closed, assigned to MMaiero

[2020-08-25 08:40] #3001 closed, assigned to MMaiero

[2020-08-25 08:45] LeoNerdoG commented on #2718
Hey @pierantoniomerlino, I have verified that this issue has been resolved, I was unable to reproduce it.

[2020-08-25 08:45] #2718 closed, assigned to nobody

[2020-08-25 10:57] #2981 closed, assigned to MMaiero

[2020-08-25 11:58] LeoNerdoG opened #3045 "Same Port for HTTP and HTTPS Stop Kura Entirely"
If user sets HTTP's  service port to 443 (the same port as HTTPS service), Kura stops responding. user has to manually change settings in firewall on the device itself or reinstall Kura.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to HTTP Service and set HTTP's port to 443 (the same port as for HTTPS Service).
3. After several minutes try to refresh page - nothing happens, Kura does not s

[2020-08-25 12:18] MMaiero commented on #3045
We cannot currently address that due to OSGi meta type limitations

[2020-08-26 08:06] pierantoniomerlino commented on #2895
@LeoNerdoG Have you ran into the same problem again? I tried with my RPi (Linux raspberrypi 4.19.97-v7+ #1294 SMP Thu Jan 30 13:15:58 GMT 2020 armv7l GNU/Linux) and Kura 4.2.0-SNAPSHOT but I couldn't reproduce that.
BTW, the hostapd logs are ok.

[2020-08-26 08:08] LeoNerdoG commented on #2895
Hey @pierantoniomerlino I will check again today and let you know!

[2020-08-26 08:10] #2685 closed, assigned to nobody

[2020-08-26 09:50] MMaiero commented on #3045
Closing for now

[2020-08-26 09:50] #3045 closed, assigned to nobody

[2020-08-26 09:51] MMaiero commented on #3028
Closing for now. If you have any update, please feel free to reopen it

[2020-08-26 09:51] #3028 closed, assigned to nobody

[2020-08-26 10:05] MMaiero commented on #3021
Following the list of misaligned elements that needs to be fixed:

[code]

[2020-08-26 10:27] MMaiero commented on #2905
@MMaiero Can you check if you are able to reproduce? Otherwise, I believe we can close the issue for now

[2020-08-26 10:52] LeoNerdoG commented on #2905
Hey @MMaiero, I have checked this and the problem persists.
I have changed offices in the mean time, so the IP addresses are now 10.17.81.50 and 10.17.81.59 (but this is the same device, I checked MAC addresses).

[2020-08-26 12:45] MMaiero commented on #2905
@pierantoniomerlino any clue on this? I believe I have never seen it.

[2020-08-26 12:48] pierantoniomerlino commented on #2905
@LeoNerdoG on the terminal type `ip addr` and check if two addresses are associated to eth0. I saw that on my RPi... I think that is permitted by the OS [1]

[1] https://www.raspberrypi.org/forums/viewtopic.php?t=237765

[2020-08-27 10:33] pierantoniomerlino commented on #3004
@LeoNerdoG Hi, I can't reproduce the issue... could you please check it again with the last develop build? Or provide us more details? Thanks!

[2020-08-27 11:47] MMaiero commented on #3004
I have tested this before holidays and was happening also to me. Now testing with develop, the problem seems solved.

[2020-08-27 11:50] LeoNerdoG commented on #3004
Hey @pierantoniomerlino,
I have checked this in latest develop and as Matteo said - it seems resolved. I am closing this.

[2020-08-27 11:50] #3004 closed, assigned to pierantoniomerlino

[2020-08-27 13:02] LeoNerdoG commented on #3010
I have verified that this issue has been resolved.

[2020-08-27 13:14] LeoNerdoG commented on #3001
I have verified that this issue has been resolved.

[2020-08-27 13:17] LeoNerdoG commented on #3000
I have verified that this issue has been resolved.

[2020-08-27 13:26] LeoNerdoG commented on #2954
I have verified that this issue has been resolved.

[2020-08-27 13:30] LeoNerdoG commented on #2719
Hey @pierantoniomerlino,
I have rechecked this in develop and noticed that it has not been properly resolved.
If you go to Device SSL Certificates, click on "Private Key" and then somehwere outside (so field is in error state), you can change views easily between tabs and the field stays in error state.
Can you please check if you can reproduce this?

[2020-08-27 15:24] pierantoniomerlino commented on #2719
@LeoNerdoG Uff.... you're right! I reopen the issue. Thanks!

[2020-08-28 07:08] LeoNerdoG commented on #2905
Hey @pierantoniomerlino, Yes, I get two IPs:
![Screenshot 2020-08-28 at 09 08 26](https://user-images.githubusercontent.com/15121999/91534775-6c11a400-e912-11ea-890b-2693429f5b13.png)

So - do we keep this issue open?

[2020-08-28 07:32] pierantoniomerlino commented on #2905
@LeoNerdoG I don't see the two IPs: eth0 has only 10.17.81.59... It should be something like this:

[code]

However, IMHO we can close this issue since it's harmless.

Edit: now I see that! Thanks!

[2020-08-28 07:46] LeoNerdoG commented on #2905
Hey @pierantoniomerlino I have uploaded wrong screenshot - I have changed it, so now you can see the two different IPs.
Ok, I agree with you that this can be closed, I would just like to conduct several tests and then close it, just to be sure.

[2020-08-28 09:02] #3002 closed, assigned to MMaiero

[2020-08-31 08:09] LeoNerdoG commented on #2719
Hey @pierantoniomerlino,
the problem persists. If you change focus to one of the mandatory fields, enter nothing and swtich views, there is no prompt for inclomplete fields - cna you check again please?

[2020-08-31 11:04] LeoNerdoG commented on #2895
Hey @pierantoniomerlino,
I have retested this and could not replicate the error, so I am closing the issue.
If I find a way to recreate it in the future, I will update the issue.

[2020-08-31 11:04] #2895 closed, assigned to pierantoniomerlino

[2020-08-31 11:06] LeoNerdoG commented on #3002
I have verified that this issue has been resolved.

[2020-08-31 11:07] #2905 closed, assigned to nobody

[2020-09-01 07:06] LeoNerdoG commented on #2894
Hey @MMaiero,
I have checked this again and the error now is:
![Screenshot 2020-09-01 at 09 04 49](https://user-images.githubusercontent.com/15121999/91812985-3df1d400-ec32-11ea-8961-7498afd6a1ba.png)

which is OK from my standpoint so i am closing this issue. If you think that this should be upgraded, please feel free to reopen the issue.

[2020-09-01 07:06] #2894 closed, assigned to MMaiero

[2020-09-01 07:06] LeoNerdoG commented on #2889
I have verified that this issue has been resolved.

[2020-09-01 07:06] #2889 closed, assigned to nobody

[2020-09-01 07:54] LeoNerdoG commented on #2753
Although this issue has PR #2912 linked, we have decided to keep it open, becasue it has not been fixed yet (see [this comment](https://github.com/eclipse/kura/pull/2912#issuecomment-661820167))

[2020-09-01 11:03] LeoNerdoG commented on #2456
Hey @pierrepitiot,
were you able to reproduce this issue? What is the status now about this?

[2020-09-01 12:04] pierrepitiot commented on #2456
Sorry, I didn't work on that for a long time but as far as I remember I was not able to reproduce this issue...

[2020-09-01 12:22] #2841 closed, assigned to MMaiero

[2020-09-01 12:32] LeoNerdoG commented on #2456
ok cool, i am just asking since I was able to reproduce this on latest version of Kura and Kapua.
I will ask others if they can reproduce.

[2020-09-02 10:20] #3021 closed, assigned to pierantoniomerlino

[2020-09-02 10:27] nicolatimeus commented on #3006
Hi @LeoNerdoG, I tried to reproduce the reported behaviour.
I tested with the current develop branch (2/9/2020) with Chrome 84.0.4147.135 on OSX.
I tried uploading a CSV file containing 9999 channels to a `DummyDriver` Asset both in the Drivers and Assets and the Wires sections, I created the csv with the following script:

[code]

Uploading the snapshot took some time but eventually succeeded. I

[2020-09-02 11:14] LeoNerdoG commented on #3006
Hey @nicolatimeus,
thanks for the comment. I will recreate the issue with newest versions of kura and web browser. I will let you know how it goes.

[2020-09-02 12:31] iacco opened #3055 "Trigonometry components"
Is your feature request related to a problem? Please describe.
This feature would add to the Kura examples a singleport component which allows to perform trigonometric operations (sin, cos, tan, etc.) onto the Wire Graph.

[2020-09-02 13:17] MMaiero commented on #2836
I believe we can close this issue @LeoNerdoG: it is related to https://github.com/eclipse/kura/issues/2838 and for the Unauthorized message now it has been changed to a more descriptive message when the session ends.
What do you think?

[2020-09-02 15:40] pierantoniomerlino opened #3057 "Dirty modal in firewall tabs has cross button"
In the firewall section the modal that alerts the user that there are unsaved modifications has a cross button on the upper right side. Click on the button causes the closing of the modal, but no operations are performed.
Since in modals for other tabs the cross button is missing, it should be removed as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firewall -> Open Ports
2. Cl

[2020-09-03 08:49] LeoNerdoG commented on #2836
Hey @MMaiero,
Yes, you are correct about the situation when the session expires, but the problem here is in the moment when user changes the max session interval parameter - in that case we get this unescriptive error that is shown above or rather this one:

![Screenshot 2020-09-03 at 10 38 29](https://user-images.githubusercontent.com/15121999/92092987-11c18900-edd3-11ea-98a8-d388816f019d.png)

a

[2020-09-03 09:44] LeoNerdoG commented on #3006
hey @nicolatimeus,
thanks for the script you provided, it helped a lot.
I was able to reproduce the behaviour you described. Kura does not ignore the assets that are being uploaded, but it can get extremely slow (for example I tried to upload 12k channels in Wires and got error - see bellow), sometimes gets stuck, sometimes it takes a long time and nothing happens...so the behaviour is really not

[2020-09-03 11:43] MMaiero commented on #2836
I would keep only one issue. At least we don't have duplication that can be confusing.

The error you are seeing there is caused by the fact that after applying the config change the backend is restarted. So the front-end cannot interact and displays that error.

[2020-09-03 12:11] LeoNerdoG commented on #2836
Ok I am closing the issue due to upper comment.

[2020-09-03 12:11] #2836 closed, assigned to nobody

[2020-09-03 14:34] MMaiero commented on #3006
How is the CPU and ram usage? Maybe a lot changes with a more powerful device.

[2020-09-03 14:40] MMaiero commented on #3006
In any case 12k channels are **a lot**

[2020-09-03 14:45] MMaiero commented on #2760
@LeoNerdoG Do you have a proposal for that?
Otherwise I believe we can close this issue

[2020-09-03 15:33] MMaiero commented on #2756
Tested with Chrome on the latest develop, but I'm not able to see it.
I'm not sure if what you are seeing is kura Ui related

[2020-09-03 15:36] MMaiero commented on #2755
I believe #2996 has addressed also this issue.
@LeoNerdoG can you please check and close this issue if the assumption is correct?

[2020-09-04 05:42] LeoNerdoG commented on #2760
Hey @MMaiero,
yes, I suggest that all the items in Kura  (not only in CloudConenctions) are in "normal" order, so: 1,2,3,4,...10,11,12,13,...21,22,23,...
Otherwise it is very hard to track them.

[2020-09-04 05:56] LeoNerdoG commented on #2756
Hey @MMaiero,
I was unable to reproduce this issue, so I am closing.

[2020-09-04 05:56] #2756 closed, assigned to nobody

[2020-09-04 06:03] LeoNerdoG commented on #2755
Hey @MMaiero,
yes, you are right. I have checked this and it has been successfully resolved with PR #2996.

[2020-09-04 06:03] #2755 closed, assigned to nobody

[2020-09-04 07:55] mstankovic opened #3062 "Unable to deselect cloud connection item"
**Describe the bug**
User is not able to deselect cloud connection item holding CTRL key

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cloud Connection service -> First item (if exist) is already selected
2. Hold CTRL key and click on selected item in order to deselect it

**Expected behavior**
Should be able to deselect item so we can verify button statuses when there is nothing sel

[2020-09-04 14:05] MMaiero commented on #3062
Didn't we apply a fix to prevent this?
I believe there was a PR not long ago where we changed how the selection works in the cloud connection view

[2020-09-04 14:22] MMaiero commented on #2742
Do this still happen?

[2020-09-04 14:25] MMaiero commented on #2736
This was a precise choice taken in the past and that was kept for compatibility.
During time we added inside of the component view the definition of the factory that generated the instance. I will close it for now as we are interested in keeping the compatibility and the behaviour with previous versions of Kura

[2020-09-04 14:25] #2736 closed, assigned to nobody

[2020-09-04 14:27] MMaiero commented on #2734
@nicolatimeus Can we reference the documentation page instead of having a long description?

[2020-09-04 14:27] MMaiero commented on #2735
Related to #2734

[2020-09-04 14:27] #2735 closed, assigned to nobody

[2020-09-04 15:56] MMaiero commented on #2901
I cannot replicate this issue in my test gateway. I will try to verify again this with a raspberry

[2020-09-07 07:52] #2743 closed, assigned to MMaiero

[2020-09-07 07:52] #2767 closed, assigned to MMaiero

[2020-09-07 10:56] LeoNerdoG commented on #2743
Hey @pierantoniomerlino,
can you please check if the change made in PR #3063 is visible in develop branch? I have built it, but the change is not visible, the old text is still there? I deleted cache from my browser, built the right branch etc....but the change does not seem visible?

[2020-09-07 10:59] LeoNerdoG commented on #2767
i have verified that this issue has been resolved.

[2020-09-07 12:12] LeoNerdoG commented on #2742
Hey @MMaiero,
I was unable to reproduce this exact issue, but if user clicks several times on same service (or starts switching between them very fast), Kura gets stuck in "cog mode" - see screenshot bellow. This can be fixed only with reloading the whole browser window. I suggest to keep this open or rather to continue with resolving it.

![Screenshot 2020-09-07 at 14 11 19](https://user-images.g

[2020-09-07 12:14] LeoNerdoG commented on #3062
I believe this has been fixed in PR #2976, wihich fixed issue #2686. @MMaiero, if this is not an actual issue or is desired behaviour, please close it.

[2020-09-07 12:25] pierantoniomerlino commented on #2743
@LeoNerdoG Hi! Yes, the update is visible in develop... You can try to remove the .m2/repository/org/eclipse/kura in your home folder and re-build kura.

[2020-09-10 06:22] LeoNerdoG commented on #2743
Hey @pierantoniomerlino,
I cannot believe this - I tried eveerything, rebuilding kura from scratch, deelting .m2/, deleting caches in browser, using different browsers even reinstalling Raspbian on Rpi...but the change is not visible...am I missing something obvious??

[2020-09-10 07:05] pierantoniomerlino commented on #2743
Hi @LeoNerdoG , I really don't know... here is the screenshot of my installation:

<img width="1613" alt="Screen Shot 2020-09-10 at 9 01 31 AM" src="https://user-images.githubusercontent.com/2919570/92692578-a92f5a80-f344-11ea-8551-68ef4babe0c5.png">

[2020-09-10 07:09] LeoNerdoG commented on #2743
This is extremely annoying...I willt try to get to the bottom of this.

[2020-09-10 09:16] MMaiero opened #3068 "Review/Update servlet response headers"
The security level of the UI can be improved updating the servlets response headers.
In particular, the Ui can leverage the Content Security Policy feature implemented widely in most of the browsers (https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP)

GWT is not fully compliant with it. An investigation has to be performed to improve the configuration of the security-related headers. (https://

[2020-09-10 09:31] MMaiero commented on #3068
https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2020-09-10 09:31] MMaiero commented on #3068
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control

[2020-09-10 11:41] #3057 closed, assigned to pierantoniomerlino

[2020-09-14 10:07] MMaiero opened #3071 "Stale threads related to Paho"
**Describe the bug**
Eclipse Kura is affected by the following issue in Paho: https://github.com/eclipse/paho.mqtt.java/issues/654
When the broker is not able to manage messages but is still able to accept connections, it can happen that the connection times out, the framework requests disconnection and close of the MQTT client but the related threads are actually still there. After some time the

[2020-09-16 12:58] #2754 closed, assigned to nobody

[2020-09-16 13:46] #2837 closed, assigned to MMaiero

[2020-09-17 12:08] #2719 closed, assigned to pierantoniomerlino

[2020-09-18 09:25] nicolatimeus opened #3074 "Configuring ethernet interface for LAN might cause failure in networking.service"
**Describe the bug**

Configuring an ethernet interface for LAN in DHCP mode causes the following section to be added to /etc/network/interfaces:

[code]

The `post-up route del default dev eth0` line seem to cause issues when ethernet cable is not connected.
The `ifup eth0` command will fail causing the failure of the `networking.service` unit.
The following error message can be noted in the outp

[2020-09-23 10:29] #2724 closed, assigned to pierantoniomerlino

[2020-09-25 09:08] megla-tlanghorst opened #3084 "[question] How to create services via Kapua"
Following eclipse/kapua#3077 is there any way to create a new instance of a service that's automatable (via kapua or command line for specifically) for creating a new CloudService (and Data and MQTT Services)? We can't access the devices directly so something remote would be required for that. I've tried sending new configurations for the (not yet existing) kura services but that just seems to be

[2020-09-25 11:44] MMaiero commented on #3084
Hi, the easiest way, for now is to deploy a snapshot containing the new components that you want to be instantiated.

[2020-09-25 11:56] megla-tlanghorst commented on #3084
Yeah that seems to be doable if I figure out the format on disk, because it seems there's no endpoint in the kapua API for that, but thanks!

[2020-09-25 11:56] #3084 closed, assigned to nobody

[2020-09-25 14:28] #3074 closed, assigned to nobody

[2020-09-25 14:59] #3071 closed, assigned to MMaiero

[2020-09-25 15:41] MMaiero commented on #3074
I believe we need some updates to the install scripts associated to this PR

[2020-09-25 16:13] pierantoniomerlino commented on #3074
@MMaiero Yes, we'd to update the interfaces file.

[2020-09-30 16:04] nicolatimeus opened #3087 "Review ConfigurationService password management"
Currently the methods in `ConfigurationService` APIs that allow to retrieve `ComponentConfiguration`s differ in terms of password encryption in the returned configuration. Some methods return encrypted passwords and some others don't.
Examples of methods returning encrypted passwords:

* `getComponentConfigurations()`
* `getComponentConfigurations(org.osgi.framework.Filter)`

Examples of methods r

[2020-09-30 16:14] nicolatimeus opened #3088 "Encoding of passwords differ between graph snapshots and full snapshots"
**Describe the bug**
Currently a wire graph snapshot downloaded from the web ui contains encrypted passwords, unlike the ones obtained from the Settings -> Snapshot section.
The password properties in wire graph snapshots should be encoded in the same way as the ones returned by the Settings -> Snapshots section of the web ui.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a driver o

[2020-10-02 07:54] #3022 closed, assigned to pierantoniomerlino

[2020-10-02 15:54] malveo opened #3092 "Bundle org.eclipse.equinox.http.jetty stuck in STARTING state"
**Bug description**

The HTTP service stay stuck in STARTING state when building Kura on the branch
`develop` for target `intel-up2-ubuntu-18`

**Step to reproduce**
Steps to reproduce the behavior:
[code]

install Kura:

[code]

Verify HTTP service:

[code]

Start the bundle manually:
[code]

Verify HTTP service again:

[code]

**Expected behavior**
The bundle `org.eclipse.equinox.http.jetty` mus

[2020-10-05 08:42] #3088 closed, assigned to nobody

[2020-10-05 11:55] MMaiero commented on #3092
Hi,
do you have keytool in the path?
In the past we have seen a similar issue and the cause was due to an incomplete installation.

Matteo

[2020-10-12 02:30] Geonjae-Joo opened #3097 "Question about Cloud Connection mqttdata transport to eclipse iot packages"

[2020-10-12 02:50] #3097 closed, assigned to nobody

[2020-10-13 10:29] koiralo opened #3101 "Is it Possible to send data to Kafka directly from Kura?"
Recently I started to use Kura, Is it possible to send/receive data directly from/to Kafka as like in MQTT?
Or can we create Similar things as for MQTT, Is it possible to create a new Cloud connection for Kafka?
If there is no Cloud Connection Manager for Kafka and we have to implement a new Cloud connection can someone guide me?  I would be happy to contribute to it.

[2020-10-13 15:31] MMaiero commented on #3101
Hi,
we have never tested that.
But I believe that a specific cloud connection that sends data to Kafka can be done. As long as the CloudConnection APIs are implemented, the Kura applications will be unaware if they are publishing via MQTT or other means.

A contribution is more than welcome!

Best regards,
Matteo

[2020-10-13 16:45] koiralo commented on #3101
Thanks, @MMaiero for a quick response.
Are there any Docs or previous examples to follow for creating new CloudConnection Implementation?
I started looking at https://eclipse.github.io/kura/cloud-api/4-stack-dev-guide.html, bud didn't found anything else in detail.
Would be great If any references.

Also what are these two implementation for
**org.eclipse.kura.cloudconnection.eclipseiot.mqtt.provi

[2020-10-14 07:01] MMaiero commented on #3101
Correct. That is a guide made for developers. We have tried to summarise there all the info or starting points needed to develop a cloud connection stack for new cloud connections in Kura.

The two mentioned are implementations of that set of APIs. The first one is an MQTT cloud connector for the Eclipse IoT projects that utilises a specific contract agreed between different Eclipse projects. The

[2020-10-15 04:05] 97Albino opened #3103 "How can I solve this problem? (about SenseHat Diver)"
**Is your feature request related to a problem? Please describe.**
hi
I installed sensehat driver and set configurations like this.
https://marketplace.eclipse.org/content/sensehat-example-driver-eclipse-kura-4xy
![image](https://user-images.githubusercontent.com/58206274/96074670-35084980-0ee4-11eb-97a9-74853fbc093e.png)

I referred to the link below.
http://eclipse.github.io/kura/devices/senseha

[2020-10-15 15:00] MMaiero commented on #3103
Hi,
I believe the error is due to the fact that the Kura Driver is not able to communicate with the sensehat.

The connection to Hono is not affected as is a different thing but for sure, since the data cannot be fetched from the sensehat, that it cannot also be published.

Unfortunately I don't have at the moment a SenseHat to perform some tests
@pierantoniomerlino Do you have an idea on why is n

[2020-10-15 15:38] pierantoniomerlino commented on #3103
IMHO, the Kura Driver is not able to communicate with the SenseHat. Have you tried to communicate with the SenseHat from Linux? Maybe there is something that is not properly configured...
@nicolatimeus Any idea?

[2020-10-15 19:12] 97Albino commented on #3103
Thanks for your replies. :)

Below is the information of [Show Stack Trace].

org.eclipse.kura.example.driver.sensehat.SenseHatInterface.fetch(SenseHatInterface.java:129)
org.eclipse.kura.example.driver.sensehat.SenseHatInterface.runReadRequest(SenseHatInterface.java:206)
org.eclipse.kura.example.driver.sensehat.SenseHatDriver$SenseHatPreparedRead.execute(SenseHatDriver.java:182)
org.eclipse.kura.

[2020-10-16 09:07] MMaiero opened #3104 "XSRF error when resetting a configuration with target filters"
**Describe the bug**
When the configuration of a component with target filters is resetted using the "reset" button in the UI an XSRF error can be observed. The cause of the issue seems related to concurrent calls performed from the front-end to the backend one for fetching the target services, the other to reload all the services.

**To Reproduce**
Steps to reproduce the behavior:
1. Install an a

[2020-10-16 12:31] nicolatimeus commented on #3103
Do you have any error logged in `/var/log/kura.log` or `/var/log/kura-console.log`?
I the error is related to #2098 you should see some error there. In that case you can try downgrading the JVM.

[2020-10-16 13:05] pierantoniomerlino opened #3107 "The upload of zip archive with folders fails"
**Describe the bug**
The CommandService can be used to upload compressed files to the gateway. If the zip file contains directories, the procedure fails with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a zip file with a folder inside
2. Upload to the gateway with Device->Command tab
3. Check that there is an error in `kura.log` and in the /tmp folder t

[2020-10-16 15:21] MMaiero opened #3109 "Quectel modem fixed to PDP context 1"
**Describe the bug**
The current code fixes the PDP Context to 1 for the Quectel EG25. This is a restriction that, for example, does not work in my test setup, where I need to set Context 4.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The user should be able to set a PDP Context different from 1.

[2020-10-16 15:50] #3104 closed, assigned to MMaiero

[2020-10-19 07:24] #3109 closed, assigned to MMaiero

[2020-10-19 11:52] MMaiero commented on #3107
@LeoNerdoG can we define some test cases for this?

[2020-10-19 11:57] LeoNerdoG commented on #3107
Hey @MMaiero, yes we can! 😄  I will put it on my list and discuss together with testing team and try to get to it asap.

[2020-10-19 12:55] pierantoniomerlino opened #3113 "The iBeacon Scanner sometimes fails to detect beacons"
**Describe the bug**
The iBeacon Scanner example [1] sometimes fails to detect the incoming beacons. It seems that if the beacons are generated by the iBeacon advertiser [2] running in a RPi, it works as expected. When the iBeacons are emitted by an Android smartphone with some app, the iBeacon scanner cannot detect any packets.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the iBe

[2020-10-19 14:33] MMaiero commented on #3107
We decided to leave this open for further analysis

[2020-10-20 06:44] 97Albino commented on #3103
Here is the error logged in `/var/log/kura.log`

jdk.dio.UnavailableDeviceException: Locked by other application
        at com.oracle.dio.impl.AbstractPeripheral.conditionalLock(AbstractPeripheral.java:96)
        at com.oracle.dio.i2cbus.impl.I2CSlaveImpl.transfer(I2CSlaveImpl.java:257)
        at com.oracle.dio.i2cbus.impl.I2CSlaveImpl.write(I2CSlaveImpl.java:195)
        at com.oracle.dio.i2cb

[2020-10-20 07:35] nicolatimeus commented on #3103
Basing on the log it looks like you actually came across #2098.
That issue has been opened a few years ago and it is possible that in the meantime the Raspberry PI distribution changed and the `oracle-java8-jdk` package is no longer available by default. Maybe you can find it in external repositories.

Switching JVMs is not a reliable solution for fixing the problem, we should try to fix the incon

[2020-10-20 10:07] MMaiero commented on #3107
Closing as implemented fully now after #3116 for Kura 5.0.0 and #3117 for 4.1.2

[2020-10-20 10:07] #3107 closed, assigned to pierantoniomerlino

[2020-10-23 07:34] 97Albino commented on #3103
Thanks for your replies.

But I am not proceeding smoothly with the above process.

I changed `target-platform/jdk.dio-parent/src/dev/src/se/native/com/oracle/dio/dio_common.cpp`  `void -> jboolean`

![image](https://user-images.githubusercontent.com/58206274/96969840-c82d2900-154d-11eb-955e-f0767970d4a2.png)

Then, I followed belowing process.

`$ cd kura/target-platform/jdk.dio-parent/src/dev`

[2020-10-23 10:02] cdealti opened #3121 "Implement the antenna diversity API for Quectel EG25"
**Is your feature request related to a problem? Please describe.**

According to the document _Quectel_EG25-G_Hardware_Design_V1.2_ the AT command set of the EG25 supports enabling/disabling the antenna diversity

receive diversity

**Describe the solution you'd like**

Implement the diversity API that will be released with Kura 5.

**Describe alternatives you've considered**
N.A.

**Additional co

[2020-10-25 18:26] felipecapelli opened #3122 "Error While trying install eclipse"
ERROR: org.eclipse.equinox.p2.transport.ecf code=1002 Unable to read repository at http://eclipse.sonarlint.org/content.xml.
javax.net.ssl.SSLHandshakeException: Received fatal alert: handshake_failure
  at java.base/sun.security.ssl.Alert.createSSLException(Unknown Source)
  at java.base/sun.security.ssl.Alert.createSSLException(Unknown Source)
  at java.base/sun.security.ssl.TransportContext.fat

[2020-10-25 19:40] MMaiero commented on #3122
Hi,
could you please detail your environment?
I believe you are trying to setup eclipse to build/work on Kura. Could you please point out what guide you are using?

Best regards,
Matteo

[2020-10-25 20:05] felipecapelli commented on #3122
Hello, Matteo.

I just started to studdy Eclipe Kura and I was following the instructions
in the Eclipse IDE section in the readme.md of this page:
https://github.com/eclipse/kura
I was in my personal computer, so I believe it maybe wasn't a problem
caused by a proxy rule... I was wondering if I could learn how to use Java
Camel inside the kura Wires...
Sorry, I'm starting to study all this stuff,

[2020-10-26 04:44] 97Albino commented on #3103
Some updates are here.

I think I had some mistakes and edited them.

`$ cd kura/target-platform/jdk.dio-parent/src/dev`

edit `Makefile`

![image](https://user-images.githubusercontent.com/58206274/97132418-39f1b680-178a-11eb-9ea9-ce60f61bf1d7.png)

`$ export PI_TOOLS=/usr`
`$ export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-armhf`
`$ make`

`$ cd ~/kura/target-platform/jdk.dio-parent/src/dev/build/s

[2020-10-26 08:24] nicolatimeus commented on #3103
Good work, I think you understood how to build the library on the raspberry and made the necessary modification to the makefiles.

In your comments you said that you changed the return type of `com.oracle.dio.impl.Handle.tryLock(int)` from `void` to `jboolean` but you didn't mention any change to the function body.

You should also modify the function to always return true, in this way:

from:

[c

[2020-10-26 10:44] 97Albino commented on #3103
Thanks to your help, I solved the problem.

![image](https://user-images.githubusercontent.com/58206274/97153399-c6659e80-17b5-11eb-9a87-72fdf7efdab4.png)

Now I2C connection is enabled and sensors are work very well.

[2020-10-26 11:24] MMaiero commented on #3103
Great job @97Albino and @nicolatimeus!

[2020-10-26 11:24] #3103 closed, assigned to nobody

[2020-10-26 16:43] pierantoniomerlino commented on #3122
Hi @felipecapelli, which OS are you using?
You can find some more details on the installation in the official [Kura documentation](https://eclipse.github.io/kura/dev/kura-setup.html).
If you want to develop some code for Kura, I strongly suggest to start with the Kura User Workspace as explained in the link above.

[2020-10-27 09:46] MMaiero opened #3123 "Priority description is wrong in CloudPublisher"
**Describe the bug**
The description for the priority field is wrong in the CloudPublisher metatype in core.cloud.

**To Reproduce**
N/A

**Expected behavior**
N/A

**Screenshots**
N/A

**Target Environment (please complete the following information):**
 - Board [e.g. Raspberry Pi 3]
 - OS version: [e.g. provide the result of `uname -a`]
 - Additional info:

**Additional context**
Add any other co

[2020-10-27 11:09] #3123 closed, assigned to MMaiero

[2020-10-27 11:13] MMaiero commented on #3113
Closing as also https://github.com/eclipse/kura/pull/3118 is now merged for 5.0.0

[2020-10-27 11:13] #3113 closed, assigned to pierantoniomerlino

[2020-10-30 05:17] 97Albino opened #3126 "Maybe Sensehat Joystick Example has some errors."
**Describe the bug**
A clear and concise description of what the bug is.
Sensehat joystick example does not function normally.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow example : [Moving a pixel using the Joystick](http://eclipse.github.io/kura/devices/sensehat-driver.html)
2. No matter which button I press, the pixels move  `x-coordinate : +1` & `y-coordinate : +1` .

**Expecte

[2020-10-30 10:17] nicolatimeus commented on #3126
Hi @97Albino, the led matrix configuration in your photos seems consistent with the sin wave example and not with the joystick example.

The example scripts in documentation cannot be run concurrently on the same graph because they will ovewrite the entire framebuffer content.

I suggest you to delete the wire graph and start from scratch with the joystick example alone, If I remember correctly th

[2020-11-02 11:27] MMaiero commented on #3126
@97Albino Did you solve your issue?

Can this be closed?

[2020-11-02 11:38] 97Albino commented on #3126
I followed your advice but that was not solution.

I found the pixel moves when the joystick event occurs.

And through the kura.log, I confirmed that the joystick input is operating normally.

[2020-11-04 16:25] MMaiero opened #3128 "No configuration fetched from cloud with Kura Emulator"
When the Eclipse Kura emulator is connected to a Kapua instance, it is not possible to get the emulator services configuration from the cloud platform.

The error reported in the cloud is the following:

The same happens for the command service.

[2020-11-05 13:23] mstankovic commented on #3062
@MMaiero if this is not an issue I need to update automated test case. Please let me know

[2020-11-05 13:47] MMaiero commented on #3062
I don't think that there is a real need to support cloud service deselection. I would not invest on that.

[2020-11-05 13:49] mstankovic commented on #3062
ok, thank you. I will close this issue and modify test case.

[2020-11-05 13:49] #3062 closed, assigned to nobody

[2020-11-06 03:59] 97Albino opened #3129 "Is it unable to use Subscriber from ConnectionManager?"
Hi

I tried to add `org.eclipse.kura.cloudconnection.eclipseiot.mqtt.CloudSubscriber` from  `org.eclipse.kura.cloudconnection.eclipseiot.mqtt.ConnectionManager` to recive data from HONO.

I will control GPIO by using HONO.

But,  I can't find `org.eclipse.kura.cloudconnection.eclipseiot.mqtt.CloudSubscriber`.

![image](https://user-images.githubusercontent.com/58206274/98324588-05a2b380-2030-11eb-

[2020-11-06 12:04] nicolatimeus commented on #3126
Hi, can you please post a wire graph snapshot of your setup?

[2020-11-09 05:11] 97Albino commented on #3126
Here is my setup.

![image](https://user-images.githubusercontent.com/58206274/98512722-1cecd580-22aa-11eb-83dd-4dca3728ee75.png)

I only use joystick, PIXEL_MOVE, fb.

![image](https://user-images.githubusercontent.com/58206274/98502197-c032f000-2294-11eb-9b25-e8beaa78a404.png)

![image](https://user-images.githubusercontent.com/58206274/98502296-04be8b80-2295-11eb-8b24-585aac7356c8.png)

I used

[2020-11-09 08:19] LeoNerdoG opened #3132 "User Gets Logged Out if PDF File Uploaded in Device -> Command"
If user selects a .PDF fiel as file to be uploaded and executed in Device -> Command and clicks "Execute" several times (without adding a command to be executed, e.g. "pwd"), Kura logs user out and saying "Session has expired".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Device -> Command and select a .PDF document in "File" section
3. Without entering a command to execution, press "Ex

[2020-11-09 08:55] MMaiero commented on #3132
I believe we need to restrict the type of files that can be uploaded. I believe the code expects just zip and .sh files, isn't it @nicolatimeus ?

[2020-11-09 11:44] LeoNerdoG opened #3133 "500 Server Error if Timeout Field Contains Space"
If Timeout field in Command Service -> Timeout contains leading space characters, Kura reports a 500 Server error (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Command Service
3. Enter "       10" into timeout field
4. Press Apply - observe the error

**Expected behavior**
Kura should notpermitt user to apply changes if the field contains invalid symbols.

**Scre

[2020-11-09 11:44] LeoNerdoG opened #3134 "Should "Command Working Directory" be Moved to Device -> Command?"
When trying to execut certain commands and move from folder to folder this is pretty hard to do, since "cd" command does not do what it is supposed to. Instead you have to go to Command Service -> Command Working directory and change it there and then go back to Device -> Command.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Device -> command
3. Try to type ls -l command, observe the ou

[2020-11-09 12:32] MMaiero commented on #3134
The working directory is a configuration choice that can be made by a person different from the one that is actually executing the command.

[2020-11-09 13:07] LeoNerdoG commented on #3132
Hey guys, I have checked this again and it happens with a ZIP file also. When you unzip it or rather whe the command is executed, you get logged out.

[2020-11-09 15:24] nicolatimeus commented on #3132
Yes, probably the restriction is missing, we can add it as done in the other web UI sections.

[2020-11-09 17:00] manuelfa opened #3135 "Feedback in Wire-Graph"
My goal is to embed a PID-controller in my Wire-Graph.
In order to do this, I need a feedback between two components in the graph, but Kura doesn't enable the wires to connect.
I need to connect the output from compoent B with the input of component A and the ouput of A with the input of B.
There would not be a infinite recursion because A doesnt trigger its ouput if the onWireReceive() is called

[2020-11-10 12:23] MMaiero commented on #3135
Hi,
feedback was not enabled to prevent infinite recursion. As we don't know what the connected components are doing, we needed to block it in all cases.
The solution you pointed out is a possible way to achieve this. Or use a publisher/subscriber with the internal broker could be another solution.
If you have experience with loops and associated algorithms that can be implemented to improve the e

[2020-11-11 11:00] funnyboys1008 opened #3137 "Publishing Kurapayload on Kapua using data service"
Hi,

I'm trying to publish data on kapua ,through my osgi plugin. I want to send a kura payload  to kapua and for this i'm using  data service interface. It has a function to publish but it takes bytes[] as an input. Is there any way by which i can publish my kura payload through the data service ?

Here is an example for a payload in the demo heater plugin

[code]

The same thing i want to implem

[2020-11-11 15:10] MMaiero commented on #3137
Hi, the preferred and suggested way to publish a message is by using the CloudPublisher API. That is built on top of the DataService API and manages all the conversions, simplifying the publishing like you have shown in the example above.
As you have pointed out the DataService API can be used but only supports the message as a byte[].

Best regards

[2020-11-11 15:29] MMaiero opened #3138 "Update installation to have Kura running on kurad user"
The framework needs to be updated in the installation phase to be running on kurad user instead of being directly running on root user.

[2020-11-11 15:32] MMaiero opened #3139 "Build on Java11"
**Is your feature request related to a problem? Please describe.**
Sonarcloud instance seems to not accept anymore code built with Java 8. We should move the build to Java11 in order to have that feature restored.

**Describe the solution you'd like**
The build needs to be updated to work with Java11

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-11-11 15:34] MMaiero opened #3140 "Update Equinox dependency"
**Is your feature request related to a problem? Please describe.**
The Equinox instance bundled with Kura should be updated to leverage the latest features of the framework and APIs.

**Describe the solution you'd like**
The current available version of the Equinox SDK is 4.17

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-11-12 05:27] funnyboys1008 commented on #3137
okay,is there any way by which this payload can be sent through dataservice api ?

Regards

[2020-11-12 07:42] MMaiero commented on #3137
Sure there is. I suggest to have a look at the code of the CloudService.

[2020-11-12 09:47] funnyboys1008 commented on #3137
I tried using the encoding files  in "eclipse.kura.core.cloud" but everytime i try to import the packages , it shows some error related to cyclic dependency .

A cycle was detected when generating the classpath org.eclipse.kura.demo.heater_1.0.501.202011120945, org.eclipse.kura.core.cloud_1.1.401.202011120945, org.eclipse.kura.core_1.0.502.202011120945, org.eclipse.kura.core.configuration_2.0.201.

[2020-11-12 09:52] MMaiero commented on #3137
Yes, a cycle has been generated since you are using both the core.cloud and the core bundle that is used by the core.cloud bundle as well

[2020-11-12 09:57] funnyboys1008 commented on #3137
but i have only imported the kura.core.cloud package, and there is no other core packages imported like kura.core.configuration

[2020-11-15 17:26] MMaiero opened #3144 "UI Multi-role support"
**Is your feature request related to a problem? Please describe.**
The Kura Web UI is now tight to a single user (Admin) that has all the privileges. The UI should evolve to support multiple roles and permissions that can be assigned dynamically to the roles.

**Describe the solution you'd like**
The UI should provide a new view capable to allow the administrator of the system to define (also from

[2020-11-15 17:57] MMaiero opened #3145 "Review XSRF"
**Is your feature request related to a problem? Please describe.**
The current implementation of XSRF is limited and does not allow to have multiple users connected at the same time.

**Describe the solution you'd like**
The current XSRF implementation should be reviewed, maybe integrating the one provided by GWT, since now we are using a pretty updated version of it.

**Describe alternatives you'

[2020-11-16 19:20] LeoNerdoG opened #3146 "Reset Button on Login Page Not Working Properly"
If user selects "Certificate" from the dropdown menu on login page, the whole login box changes, which is OK. But if user now clicks "Reset", the value from dropdown menu changes from "Certificates" to "Password", but theer are no Username and Password field present, user has to manually reload the page in order to get Username and Password fields.

**Testflow:**
1. Go to https://(kura-ip)
2. Sele

[2020-11-16 19:20] LeoNerdoG opened #3147 "Wrong Buttons When Adding Certificates"
Adding certificate happens in two steps. First one is selecting the type of certificate and second one entering the certificates. The problem is that on first step the button name is "Submit" instead "Next", because we are not submitting the certificate just yet, but rather just entering first parameter. Also the button on the last step should be "Submit" and not "Close".

**Testflow:**
1. Login t

[2020-11-16 19:20] LeoNerdoG opened #3148 "Background not Properly Dimmed When Adding Certificate"
When user is adding a certificate, the background is not properly dimmed, as you can see in the screenshot below.

**Testflow:**
1. Login to kura as admin/admin
2 .Go to Security -> Add
3. Select "HTTPS Server Certificate", click "Submit"
4. Scroll down and observe the background - it is not properly dimmed.

**Expected behavior**
Background should be disabled/dimmed entirely.

**Screenshot:**
![S

[2020-11-16 19:23] LeoNerdoG opened #3149 "Certificates not Visible After Adding Them"
Kudos to @mstankovic for finding this issue. I am adding it here so we have a sepparate issue for it (for easier tracking).
When user tries to add a certificate, it does not get listed in the certificate list.

**Testflow:**
1. Login to kura as admin/admin
2. Go to Security -> Add
3. Select "HTTPS Server Certificate", click "Submit"
4. Enter all the necessary (valid!) parameters and click "Close"

[2020-11-16 19:26] LeoNerdoG opened #3150 "Error Message in Certificates not Visible Until Modal Closed"
Kudos to @mstankovic for finding this issue. I am adding it here so we have a sepparate issue for it (for easier tracking).
If user enters some invalid parameters in the certificate fields, Kura reports an error, which is OK, but the error message is hidden behind the modal, so user has to first close modal and after that the error message is visible.

**Testflow:**
1. Login to Kura as admin/admin

[2020-11-16 19:31] LeoNerdoG opened #3151 "Uninstall Button in Certificates Enabled by Default"
Kudos to @mstankovic for finding this issue. I am adding it here so we have a sepparate issue for it (for easier tracking).
"Uninstall" button is enabled by default, which is not OK, becasue if nothing is selected, it should be disabled.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> observe the Uninstall button; it is enabled, although nothing is selected.

**Expected behavio

[2020-11-17 08:01] LeoNerdoG opened #3152 "Kura not Accessible if Default Certificates Deleted"
Kudos to @mstankovic for finding this issue. I am adding it here so we have a sepparate issue for it (for easier tracking).
If user uninstall both default certificates there is no way to access Kura anymore.
BUT if user has enabled HTTP service prior to this (and added port 80 in the firewall), Kura is still accessible (even through HTTPS).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to S

[2020-11-17 08:01] LeoNerdoG opened #3153 "Disabling Password and Certificates not Mutually Exclusive"
Kudos to @mstankovic for finding this issue. I am adding it here so we have a sepparate issue for it (for easier tracking)
In WebConsole service in Certificates user can disable Password and/or Certificates authentication. The problem is that those two are not mutually execlusive, meaning that user can (accidentally or not) disable both of them and device becomes inaccessible. This can however be

[2020-11-17 08:01] LeoNerdoG opened #3154 "Selected Certificates not Highlighted When Selected"
Kudos to @mstankovic for finding this issue. I am adding it here so we have a sepparate issue for it (for easier tracking)
If user selects a certificate in the Certificate list, it does not get highlighted, so user doesn't know what has been selected (very annoying if there are a lot of certificates).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security
3. Select one of the default cer

[2020-11-17 08:13] MMaiero commented on #3153
I believe that is acceptable to be able to disable the authentication methods, if desired.
Probably we should add a message saying that no authentication method is currently enabled/available for the users

[2020-11-17 08:24] LeoNerdoG opened #3155 "No Description of Web Console Service and HTTP Service"
When user changes something in WebConsole or HTTP Service, various error messages might appear. Nontheless, user might not be aware of that, due to the lack of descriptions in these services (see screenshots bellow from Kura 4.2.0 version).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> WebConsole
3. Observe the lack of description
4. Go to Security -> HTTP Serivce -> observe

[2020-11-17 09:28] LeoNerdoG opened #3156 "Should "Uninstall" Button be Replaced With "Delete"?"
We have two buttons in Certificate service, which are "Add" and "Uninstall". My question is if "uninstall" button should be replaced with "Delete" since the button for adding is "Add" and not "Install"?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> observe the buttons

**Expected behavior**
Should "Uninstall" be renamed to "Delete"?

**Screenshot:**
![Screenshot 2020-11-17 at

[2020-11-17 09:28] LeoNerdoG opened #3157 "Modal for Adding "HTTPS Server Certificate" Does not Close"
When user adds a HTTPS Server Certificate, the modal for adding the certificate does not automatically close when the certificate is added.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte HTTPS Server Certificate
4. Add a valid certificate, click Apply
5. Observe behaviour when certificate is added

**Expected behavior**
When certificate is added (or error appear

[2020-11-17 10:02] LeoNerdoG opened #3158 "Rearranging Buttons in "Add Certificate" Modal"
Currently the "Add Certificate" modal has button arrangement as they are in services (e.g. in ClocService, where Apply and Reset buttons are in top left corner). I think this should be changed so the Apply (or rather Submit) and Reset buttons are in the bottomr right corner as in all other modals.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte HTTPS Server Certi

[2020-11-17 10:02] LeoNerdoG opened #3159 "Random Filtering by "Type" When Clicking "Refresh" in Certificates"
If user clicks "Refresh" button multiple times in Certificates, the certs are filtered randomly by "Type".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte HTTPS Server Certificate
4. Add a valid certificate, click Apply
5. Click "Refresh" several times and observe the list of certificates

**Expected behavior**
If user presses "Refresh", there should be no filter

[2020-11-17 10:02] LeoNerdoG opened #3160 "Dialogue Box for Deleting Certificate Contains Certificate Alias"
When deleting a certificate from the list, a dialogue box opens for confirming the decision. The problem here is that dialogue box contains certificate alias, which can lead to a very big dialogue box.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte Server SSL Certificate
4. Enter a very long name for certificate alias
5. Add a valid certificate, click Apply
6. S

[2020-11-17 10:07] LeoNerdoG opened #3161 "No Error Message for Duplicate Certificates"
If user wants to add e.g. Server SSL Certificate with name ssl-1 and afterwards another one with same content and alias, Kura does not return an error, but it seems that certificate is added anyway (it actually isn't, but behaviour of Kura implies that).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte HTTPS Server Certificate, add a valid certificate with alias "

[2020-11-17 11:28] LeoNerdoG opened #3162 "No Error When Trying to add Non-unique Certificate"
If user wants to add e.g. Server SSL Certificate with name ssl-1 and afterwards another one with same content and alias, Kura does not return an error, but it seems that certificate is added anyway (it actually isn't, but behaviour of Kura implies that).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte HTTPS Server Certificate, add a valid certificate with alias "

[2020-11-17 15:44] manuelfa commented on #3135
Thanks for your quick response.
Can you tell me at which point the schedul logik is implemented?

Best regards

[2020-11-18 07:51] MMaiero commented on #3135
I would suggest to start looking at the following bundles: org.eclipse.kura.wire.helper.provider and org.eclipse.kura.wire.provider. For the visual part that blocks the loop, have a look in the org.eclipse.kura.web2 bundle.

[2020-11-18 08:06] 97Albino commented on #3126
@nicolatimeus any updates?

[2020-11-18 09:01] LeoNerdoG opened #3164 "Cannot User Certificate Login Unless "Remember my decision" Selected"
If user does not check "Remember my decision" box when trying to login with a certificate, there is no way of logging into Kura. If the checkbox is checked, then user can login into Kura.
This can be a problem if Kura will contain multiple login certificates from multiple users.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte HTTPS Client Certificate, add a valid

[2020-11-18 09:01] LeoNerdoG opened #3165 "Adding Detailed Description to Security Service"
Currently there is no detailed description in Security Service nor in any of the modals when addin e.g. HTTPS Cliend Certificate. The problem here is that user should be warned that once this certificate is added, Kura/device should be restarted in order for changes to work.
I suggest adding a description into the Security Service saying: "Review and update the available security settings. After y

[2020-11-18 09:01] LeoNerdoG opened #3166 "No "Alias" for "HTTPS Client Certificate""
Curnetly there is no "Alias" field when adding "HTTPS Client Certificate" which results in a generic name. The problem is if user adds several LOGIN certificates - they are undistinguishable from one another.  Is it possible to add "Alias" field when creating "HTTPS Clietn Certificate"?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Selecte HTTPS Client Certificate, add

[2020-11-18 13:56] LeoNerdoG opened #3167 ""Impossible to remove certificate" Error in kura.log File When Deleting a Certificate"
If user deletes a certificate, there is a "Impossible to remove certificate" error in kura.log file, although the certificate is not visible in the UI anymore. I think that either logs should be changed or behaviour of the UI (add info windows that says "restart device for changes to take affect" or something similar).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Sele

[2020-11-18 13:56] LeoNerdoG opened #3168 "Apply and Reset Buttons Enabled Although Fields Empty"
If user enters something in some of the fields, clicks outside and then deletes the content of the fields, the Apply and Reset buttons stay active (see screenshot below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Select e.g. HTTPS Server Certificate
4. Enter a parameter into Alias and Certificate
5. Click somewhere outside of the fields
6. Delete contents of the fi

[2020-11-18 13:56] LeoNerdoG opened #3169 "Fields Stay in Error State Although Reset Button Clicked"
Although user clicks "Reset" button when adding a certificate, the Alias and Certificates stay in error state (see screenshot below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Select e.g. HTTPS Server Certificate
4. Enter a parameter into Alias and click Apply
5. Click Reset - obsrve the fields

**Expected behavior**
If user presses Reset, everything should get res

[2020-11-18 13:56] LeoNerdoG opened #3170 ""X" Button in Certificate Modals not Needed"
Because there is a "Close" button on all steps when adding certificates (and you can also cancel the process with pressing the ESC key on keyboard) I think that the "X" button in the top rigt corner can be removed.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Observe the "X" button in the top right corner

**Expected behavior**
See above.

**Screenshot:**
![Screenshot

[2020-11-18 13:56] LeoNerdoG opened #3171 "No Tooltip for Alias Field"
If you hover above the "Alias" field in Security Service, there is no tooltip.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Select one of the options and observe the Alias field - if you hover above there is no tooltip.

**Expected behavior**
I would add a tooltip becasue all other fields have them (either that or a detailed description as for example "Certificate" an

[2020-11-18 13:56] LeoNerdoG opened #3172 ""Private key" Field not Marked in Red if not Valid"
If user does not enter valid parameters in Private key field (where this is required/possible - if it remains empty), the field is not marked in red (see screenshot bellow). Also the Apply button works although it shouldn't, becasue Private key is a mandatory field? If not, the error message should be more specific.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add
3. Select

[2020-11-18 14:01] LeoNerdoG opened #3173 "No Filtering by Alias in Certificates"
Currently there is only "Type" filtering but it would be very nice to have filtering by Alias.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security, observe the filtering options
There is no option fo filtering by Alias.

**Expected behavior**
See above.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Screenshot:**
/

**Target Environment (please comple

[2020-11-18 14:21] LeoNerdoG opened #3174 "Syntax Errors in HTTPS Service"
There are two syntax errors in the HTTP Service Settings.
1. Instead "Specifies the path for the CRL for client certificate revcation check." in HTTPS Client Revocation URL" should be "Specifies the path for the CRL for client certificate revocation check."
2. Instead "Specifies whether to check revocation status of client certificats." in HTTPS Revocation Check Enabled" should be "Specifies wheth

[2020-11-18 14:27] LeoNerdoG opened #3175 "Changes Automatically Discarded When Switching Between Tabs in Security"
If user changes something in HTTP Service or Web Console and changes to different tab (Certificates list, http service, web console), changes get automatically discarded, without prompting user if he wants to discard changes.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> HTTP Service, change something in one of the fields
3. Without saving it, change the tab

**Expected behav

[2020-11-19 13:35] pierantoniomerlino opened #3176 "Modem interface number management"
**Describe the bug**
The #3141 adds the support for multiple modems. Since the user can modify the interface number (i.e. ppp0, ppp1, ecc.) and there aren't any restrictions on that, this can cause weird behaviors. If the interface numbers are the same, for example, Kura will apply the same configuration to the two interfaces. Moreover, if an old configuration is stored on the filesystem and a new

[2020-11-19 13:41] nicolatimeus commented on #3126
Sorry for the late reply, the problem is that I don't have a SenseHat available at the moment, I will try and let you know as soon as I can get one

[2020-11-20 11:17] LeoNerdoG opened #3177 "Kura Stops Working if Port Opened in Firewall"
If user adds a port to be opened in firewall, Kura stops working when rebooted. User is able to change things before rebooting the device, but after the reboot there is only blank screen when entering Kura's IP. I have cleaned all the cache and data, so this is not the problem. This only happens on branch from PR #3143; on develop firewall works fine.
Becasue of this issue I cannot check if HTTPS

[2020-11-20 11:39] LeoNerdoG opened #3178 ""Backspace" KeyBoard Key Logs User Out"
If user accidentally presses the "backspace" key on keyboard, he is immediatelly logged out. This can be a big problem if user has just spent several minutes creating a complex wire graph (without saving) or some other long lasting task.
I suggest that prior to logging the user out there is a prompt asking about saving changes. Is that doable?

**Testflow:**
1. Login to Kura as admin/admin
2. Afte

[2020-11-20 13:01] LeoNerdoG opened #3179 "Kura Breaks if "HTTPS Keystore Path" Does not Point to a File"
If user changes "HTTPS Keystore Path" so it does not point to a file, but rather leaves it like "/opt/" (or something similar), Kura is enable to restart and user has to reinstall Kura in order to get it work again.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> HTTPS Service -> "HHTPS Keystore Path"
3. Enter e.g. "/opt/" and wait for Kura to respond.
4. Try restarting device

[2020-11-20 13:21] MMaiero commented on #3179
I don't know if such check can be implemented: it will need to be able to inspect the path and access the keystore prior to saving the configuration.
With the current OSGi metatype is actually hard if impossible to achieve.

[2020-11-20 15:55] pierantoniomerlino commented on #3177
I confirm the issue.
`kura.log` reports the following error message:

[code]

[2020-11-20 16:57] #3132 closed, assigned to nicolatimeus

[2020-11-23 05:00] 97Albino commented on #3126
@nicolatimeus
Hi, I have some good news.

I solved that problem by modifying [**Moving a pixel using the Joystick example code**](http://eclipse.github.io/kura/devices/sensehat-driver.html).

git commit

    if (update) {
    // framebuffer update requested
    // clear old pixel
    state.fb[state.y*FB_SIZE + state.x] = 0

    // compute new pixel position
    // I revised here
    **if (state.dx

[2020-11-23 07:53] LeoNerdoG commented on #3132
I have verified that this issue has been resolved.

[2020-11-23 14:21] MMaiero commented on #3126
Hi @97Albino
thank you for the feedback. Why don't you create a pull request with the changes?
Due to the Eclipse rules we cannot merge directly or with our name code contributed by third parties.

Best regards,
Matteo

[2020-11-23 15:08] nicolatimeus commented on #3177
Commit 60a6ed6 in #3143 should fix this

[2020-11-24 11:50] LeoNerdoG opened #3181 "Reset Button not Needed if Password Authentication Disabled"
If user disabled password authentication, then login screen does not have a dropdown menu, which is ok, but the problem is that "Reset" button stays there, altohugh it doesn't have any function (user cannot reset anything, but just login with the certificate, if present).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Web Console -> Password authentication
3. Disable password

[2020-11-24 11:50] LeoNerdoG opened #3182 "Kura not Reporting Error for Failed Login"
if user presses "Login" button mutliple times when username and password credentials are wrong, Kura stops reporting error but instead only shows the rotating cog and that's it.

**Testflow:**
1. Open https://kura-ip
2. Without entering a usernaem or password start clicking on "Login" button
3. When error appears, press "ESC" key on the keyboard and continue with clicking on "Login"
4. After sever

[2020-11-24 11:50] LeoNerdoG opened #3183 "Unable to Login via HTTP in Firefox"
If user is trying to login via HTTP in Firefox, the HTTP (non secure) connection is not working - the login flashes like user is logging in, but then the login screen appears again.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> HTTPS Service -> HTTP Enabled -> set to True
3. Open port 80 in the firewall
4. Refresh page
5. Try to login via HTTP in Firefox
6. Observe the behavi

[2020-11-24 12:16] MMaiero commented on #3182
Was that already an issue or is added by the PR for certificate authentication?

[2020-11-24 12:17] MMaiero commented on #3183
Is this an issue already there in develop or added by the certificates login PR?

[2020-11-24 13:44] LeoNerdoG commented on #3183
hey @MMaiero,
I have checked this on develop branch and there the behaviour is Ok, so this has been introduced through PR.

[2020-11-24 13:45] LeoNerdoG commented on #3182
I have checked this and it tourns out this is also in develop.

[2020-11-24 13:49] LeoNerdoG commented on #3177
Hey @nicolatimeus,
I have checked this and for now it looks fine, the ports get opened normally.

[2020-11-24 13:49] #3177 closed, assigned to nobody

[2020-11-24 15:46] #3140 closed, assigned to nobody

[2020-11-24 16:58] MMaiero commented on #3161
Duplicate of #3162 ?

[2020-11-24 16:58] #3161 closed, assigned to nobody

[2020-11-25 11:39] mstankovic opened #3185 "Docker | Cannot start Kura container"
**Describe the bug**
Cannot start Kura docker container

**To Reproduce**
Steps to reproduce the behavior:
1. Build Kura Image from develop branch
[code]
2. Try to run container from Kura image
[code]
3. Check for running containers
[code]

**Expected behavior**
Kura docker container should start

**Additional context**
Also happens for **Alpine** image

[2020-11-25 13:59] LeoNerdoG opened #3186 "Kura Should be Rebooted After "HTTPS Client Authentication port" Changed"
If user changes the "HTTPS Client Authenticatio port", the device should be rebooted, otherwise the affects are not shown. There should be a special note under the field to warn the user that this will no work until device is rebooted. Otherwise user might think that the changes have been saved (Kura is working normally after the change) and this could comlipcate things.

**Testflow:**
1. Login to

[2020-11-25 13:59] LeoNerdoG opened #3187 "Firewall Error for "discarding changes" Although Nothing Changed"
If you follow the testflow below you will see, that Kura asks user if he wants to discard changes, although nothing has been changed in the Firewall. I have efound this issue in develop branch.

Error in Firewall "do you wnat to discard changes" althoug nothing has changed. Try to add port range 0:65535 and then try to change views.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall,

[2020-11-25 13:59] LeoNerdoG opened #3188 "Kura Unaccessible if HTTP and HTTPS Port the Same (No Validation)"
If user sets the same port for http and for https, kura is not accessible anymore. If (by some chance) the device is connected to Kapua, this can be changed and Kura can be access again, but I think, that there should be some kind of validation for HTTP, HTTPS and certificate HTTPS.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> HTTP Service
3. Set the http and https ports to

[2020-11-25 14:06] LeoNerdoG opened #3189 "HTTPS Keystore Path and Password not Mandatory Fields"
Currently HTTPS keystore and password fields are not mandatory, which can lead to some inconvenient scenarios and device being inaccessible (e.g. user accidentally deleting one of the fields, forgeting about it and saving changes -> afterwards device is not accessible anymore).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> HTTP Service, delete the HTTPS Keystore path and/or P

[2020-11-25 15:42] MMaiero commented on #3188
This is unfortunately not possible with basic OSGi metatype

[2020-11-26 06:47] LeoNerdoG commented on #3188
Hey @MMaiero,
I suggest to keep this open? Or should we close it as it is not possible to fix as you described above?

[2020-11-26 10:37] LeoNerdoG opened #3190 "Keystore Password Restored After Reboot"
If user deletes keystore password and reboots the device, password is restored - I don't think that this is desired behaviour, becasue if user for example deletes the keystore path, it stays empty after reboot.
I am sure that password is restored, because user can normally add and delete certificates.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> HTTP Service, delete the HTTP

[2020-11-26 10:37] LeoNerdoG opened #3191 "Kura Hangs After Keystore Password Deleted"
If user deletes Keystore password, Kura UI stops responding untill device is rebooted. This should not happen, as if user changes something in HTTP service, UI should be temporarily unavaliable, but should start working again after some time.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> HTTP Service, delete the HTTPS Keystore Password
3. observe the behaviour - you have to r

[2020-11-26 10:37] LeoNerdoG opened #3192 "Wrong Title for Error Messages"
There are some cases when adding certificate or changing HTTPS port number produces an error. Kura successfully reports those on the screen but the problem is that the name of the window is "Warning" but the actual content is an erronous. Below there is a full list of cases when this happens.

1. If you want to add a HTTPS Client Certificate that is not in correct form (Screenshot No. 1)
2. When y

[2020-11-26 10:37] LeoNerdoG opened #3193 "Login With Certificate Possible Although Keystore Path Missing?"
If user deletes the certificate Keystore path from the web UI and saves changes, it is still possible to login with a certificate - is this the desired behaviour? I would expect that if the path to keystore is incorrect or missing, login with certificate should not be possible.
I have tried deleteing browser cache, history and data, so browser was clean after the keystore path has been deleted.

*

[2020-11-26 11:21] MMaiero commented on #3190
Is actually there a password? I mean, if you download the snapshot, the password is reported?

[2020-11-26 11:23] MMaiero commented on #3191
Is this referred to develop?

[2020-11-26 11:24] MMaiero commented on #3192
The screenshot seems to be not based on develop

[2020-11-26 11:34] LeoNerdoG commented on #3191
Hey, I can confirm that this happens also in develop, so it is not issue introduced in PR 3143.

[2020-11-26 11:35] LeoNerdoG commented on #3192
You are right, this is from PR 3143, I have changed the "tested branch" to "PR 3143".

[2020-11-26 11:57] LeoNerdoG commented on #3190
Hey, yes there is a password in the downloaded snapshot.

[2020-11-26 12:00] LeoNerdoG opened #3194 "No Warning That Certificate Aliases Changed to Lower Case Letters"
If user wants to add two different e.g. Server SSL Certificates, one "abc" and other "ABC", this is actually one certificate, because Kura lowers all the characters. I think there should be some kind of warning about this.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Security -> Add Certificate
3. Add a SSL Server certificate with name "abc"
4. Add another SSL Server certificate with na

[2020-11-26 13:09] MMaiero commented on #3194
it is actually in the Java implementation for keystokes.
We could see if it is possible to forse a lowercase input. But I would call it as a P2 for now

[2020-11-27 08:07] mcarrer opened #3197 "Selecting a different CloudPublisher Target in the Publisher Wires Component stops the publishing processing"
**Describe the bug**
In a Wires Graph, a Publisher component is configured to use a given CloudPublisher Target.
In the Wire Graph web UI, when switching to another CloudPublisher Target and applying those changes, the Wires graphs stop publishing data.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Wires Graph with a Publishing component.
2. Create an additional Publisher on the s

[2020-11-27 11:42] LeoNerdoG opened #3198 "Kura not Accessible Anymore if HTTPS Access Disabled"
If user disables HTTPS access and enables HTTP access (on port 80, port added into Firewall), Kura is not accessible any more. You cannot acces via HTTP or with certificates (if firewall ports opened and certificates added, of course).

**Testflow:**
1. Login to Kura as admin/admin
3. Go to Firewall, open port 80
3. Go to Security -> HTTP Service
4. Enable HTTP service and disable HTTPS service
5.

[2020-11-27 13:31] LeoNerdoG opened #3199 "Kura Inaccessible if user Disables-Enables HTTP Service from Kapua"
I have found out that if user connects Kura to Kapua, disables and then enables HTTP Service on target device and finally adds a certificate, device is inaccessible. If user doesn' thave luck and the device is not connected to cloud instance, Kura has to be reinstalled.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Cloud Service, add Kapua's IP, username, account name
3. Connect the devi

[2020-11-27 16:12] #3138 closed, assigned to pierantoniomerlino

[2020-11-30 08:08] MMaiero commented on #3185
This should be solved now, right @mstankovic ?

[2020-11-30 13:49] mstankovic commented on #3185
yes @MMaiero
Im able to run containers with instructions from https://github.com/eclipse/kura/pull/3184

[2020-12-02 07:49] MMaiero opened #3203 "Project migration to EPL-2.0"
The Eclipse Foundation has issued a new Licence named EPL-2.0 that supersedes the current EPL-1.0 used by Kura. The project needs to switch to the new licence as soon as possible.

Here some useful references: https://www.eclipse.org/legal/epl-2.0/faq.php

[2020-12-02 23:30] stbischof opened #3205 "project layout maven/bnd"
Is there any plan to change the project layout to maven/bnd?

[2020-12-03 07:59] MMaiero commented on #3205
Hi,
not at the moment. But we are open to contributions!

Best regards,
Matteo

[2020-12-03 08:18] stbischof commented on #3205
Just wanted to know that you are open for. Maybe i can give aome support

[2020-12-03 15:26] nicolatimeus commented on #3183
This probably happens if the user tries to login with HTTP after logging in with HTTPS. The server probably asks the browser to replace over HTTP the session cookie that has been previously set via HTTPS.
A workaround should be clearing the Kura related cookies from the browser and retrying.
We can investigate if it is possible to fix this by changing server configuration.

[2020-12-03 15:38] MMaiero opened #3208 "Enable GPS support for Quectel EX-25 modems"
**Describe the bug**
All the EX-25 modems have an internal GPS module. Currently, the feature is disabled in Kura.

**To Reproduce**
N/A

**Expected behavior**
The code should be updated to allow the management of the internal GPS module in the Quectel modem.

**Screenshots**
N/A

**Target Environment (please complete the following information):**
N/A

**Additional context**
N/A

[2020-12-04 07:21] LeoNerdoG commented on #3183
@nicolatimeus actually user is not able to login at all, regardless if the session cookies are deleted or not. Login page is shown and user can enter username and password, but upon pressing "Login", screen flashes and user is thrown back to login page.
I deleted history, cache and cookies before testing this. My FF version is 83.0 (64-bit).

[2020-12-04 12:06] mstankovic opened #3211 "Kura Docker | Bluetooth error in log during starting service"
**Describe the bug**
Im running Kura docker (centos) and Im getting errors in log during starting Kura

**To Reproduce**
Steps to reproduce the behavior:
1. Stop Kura container with _docker stop <container_name>_
2. Start Kura container with _docker start <container_name>_
3. See /var/log/kura.log and observe errors:

[code]

**Target Environment (please complete the following information):**
- Ku

[2020-12-04 13:14] mstankovic opened #3212 "Cannot close modal dialog"
**Describe the bug**
Missing Close or X button on Error modal dialog. user is unable to close modal until page refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Packages item
2. Click to install new package
3. Select URl tab and set some invalid address: "mjasa.com"
4. Click on Submit button

**Expected behavior**
User should be able to close Error dialog that appears.

**Screen

[2020-12-07 12:32] mstankovic opened #3216 "Error in logs after stoping Kura service"
**Describe the bug**
There are a few error types in kura.log file which appear right after Kura service has been stopped.

**To Reproduce**
Steps to reproduce the behavior:
1. Add example publisher
2. Configure publisher
3. Stop Kura service with systemctl stop kura.service
4. See errors bellow

**ERROR**
[code]

**Additional Info:**
- after those errors in getting new errors when starting Kura se

[2020-12-07 12:44] LeoNerdoG opened #3217 ""New Identity Name" in Error State by Default"
If user wants to create new identity, the "new identity" field is in error state by default, because focus is on it and nothing has been entered (which is actually a valid behaviour, but the field should not be focused in the first place).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, click "New Identity"
3. Observe the identity name field - it is in error state, although not

[2020-12-07 12:44] LeoNerdoG opened #3218 "Possible to Create Two Identical Identities"
It is possible to create two identical identities if you add spaces after the valid name (first name is e.g. "name1 " and second one is "name1     ") - these two both get translated into "name1".  You can see below that I have created three identities with name "1".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, click "New Identity"
3. Enter "name1 " (with one space at the end

[2020-12-07 12:44] LeoNerdoG opened #3219 "Long Identity Name not Displayed Properly"
If user creates an identity with extremely long name (e.g. 30+ characters), it is not displayed properly (see screenshot below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, click "New Identity"
3. Add an identity with very long name (see example below) - observe the behaviour

**Expected behavior**
I suggest that identity name gets limited to some normal amount of character

[2020-12-07 12:44] LeoNerdoG opened #3220 "Wrong Title for Modal When User has no Permissions"
If you crate an identity/user without assigning permissions to it, then a modal opens up when you enter Kura with this user, wich notifies you that this user does not have any permissions. The problem here is that the title of the modal is "Warning" and the content looks erronous (although this is more Warning than an Error, or maybe even Info).

**Testflow:**
1. Login to Kura as admin/admin
2. Go

[2020-12-07 12:44] LeoNerdoG opened #3221 "No Paging in Identities"
If you create more than 15 identities in Identity Service, there is no way of accessing them.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add 15+ new identities
3. Try to access those on 2nd page - you cannot.

**Expected behavior**
I would expect to have either paging set on page or max 15 identities per device.

**Screenshot:**
![issue5](https://user-images.githubusercont

[2020-12-07 12:44] LeoNerdoG opened #3222 "Long Username Not Properly Displayed at the Top"
If you create a user with extremely long username, it is not properly displayed at the top (see GIF below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add an identity with extremely long name
3. Add password to the identity, login as this user
4. Observe name on the top  -it is not properly displayed

**Expected behavior**
Long usernames should be properly displayed.

**Sc

[2020-12-07 12:44] LeoNerdoG opened #3223 ""Menu" Button Showed When Window Resized, Although User has no Permissions"
If you create a user without permissions, and login as thi user, there is still icon with three horizontal lines in top left that shows menu, when browser window is resized. The problem is that there is nothing to be displayed. Is this the desired behaviour?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add an identity
3. Add password to the identity, login as this user
4. Ob

[2020-12-07 13:29] LeoNerdoG opened #3224 "Apply and Reset Buttons in Identities Activated Although no Changes Made"
If you only click on the Permissions field in Identities, Apply and Reset buttons get activated.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, click on existing identity
3. Click on one of permissions - observe the Apply and Reset buttons (see GIF below)

**Expected behavior**
Apply and Reset buttons should get activated if user actually changes something.

**Screenshot:**
![

[2020-12-07 13:29] LeoNerdoG opened #3225 "Spaces in Confirmation Modal Shown Properly, Ignored in Idnetities List"
If you create a user with name "        123        ", the spaces are properly shown when applying the changes, but not in the identities list itself (there yous ee only "123").

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add an identity "       123       "
3. Click Apply, observe the username in the confirmation box
4. After the changes are applied, observe the username in

[2020-12-07 13:29] LeoNerdoG opened #3226 "Username with all "O" not Properly Displayed"
If you create a user with only "O" (capital "O") characters, the name will not get displayed properly (see screenshot below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add an identity " OOOOO......OOOOOO" (with more than 30 Os)
3. Add a password to this user
4. Apply changes and observe the username ot being displayed properly in the modal
5. Logina s this user and observ

[2020-12-07 13:29] LeoNerdoG opened #3227 "All "Critical" Identities Always Shown in Confirmation Modal"
If you create several new users or if you have soem that have no permissions assigned or passwords, Kura always shwos these users in the confirmation modal, which can be very annoying for end user, if the list of "incomplete" users is long (see screenshot below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add several identities with no permissions
3. Observe the modal when

[2020-12-07 13:29] LeoNerdoG opened #3228 "Idnetities Displayed Randomly"
if you create several identities (even more than 15), they are randomly displayed after login/refresh.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add 15+ identities to the identities list
3. Refresh page or logout/login again and observe the identities list.

**Expected behavior**
I suggest that users/identities are displayed in a name ascending/descending order or somethi

[2020-12-07 13:29] LeoNerdoG opened #3229 "Kura Does Not Stop Refreshin Page if Certain Permissions Added"
If user adds kura.admin, kura.network.admin or kura.wires permissions to a user, user is not able to use Kura normally as UI is getting refreshed constantly with error "Session Expired".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add and identity
3. Login as newly created user when no permissions are added
4. Add kura.admin, kura.network.admin or kura.wires permissions to

[2020-12-07 13:29] LeoNerdoG opened #3230 "User Able to Operate Normally Although Permissions Removed"
If you remove permissions (e.g. kura.admin) from user when he is working on other browser, nothing happens until user logs out? Is this the desired behaviour?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add and identity, add some permissions to the identity
3. Login as newly created user
4. Remove permissions from newly created user from other browser and apply changes.
5.

[2020-12-07 13:29] LeoNerdoG opened #3231 ""Define new password" in Error State Although Nothing Entered"
If user wants to add a password to an identity, the "Define new password" field is in error state (and confirm password in the next modal also), although nothing has been entered. This is becasue the focus is on the empty field.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add a password to the user
3. Observe the Password/confirm password modals when they open - fields are

[2020-12-07 13:29] LeoNerdoG opened #3232 "User Unable to see Packages, Regardless of kura.packages.admin Permission"
Although user has kura.packages.admin permission, he is not able to see the packages (see screenshot below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add a user and a password to it (do not add kura.packages.admin permission just yet)
3. In second browser login as newly created user
4. In first user add kura.packages.admin permission
5. In second browser refresh page - o

[2020-12-07 13:36] LeoNerdoG opened #3233 "Syntax Error in Permission Section in Identities"
There is a syntax error in Permission description in Identities. It should be "Assign or revoke permissions to the selected identity." instead of "Assign or revoke permission to the selected identity.".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add a user with password
3. Add kura.packages.admin permission to the user, login as this user
4. Go to packages, observe the err

[2020-12-07 13:38] LeoNerdoG opened #3234 "User Operational Although Deleted From kura"
Although user is deleted, it is still operational (e.g. if user has kura.admin permission, you can actually create yourself again in Identities).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add a password to the user
3. Add some permissions to the user, login as this user
4. Delete the newly created user from another browser

**Expected behavior**
user sohuld not be operati

[2020-12-07 13:41] LeoNerdoG opened #3235 ""Session Expired" if User Click Apply Before Confirmin Password for New User"
If you click Apply before entering confirmation password into the confirmation Box, you have not only to refresh page, but reboot the device, becasue Kura is not responsive anymore.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to identities, add a user
3. Add another user, but this time add a password for the second user
4. Right before the secon modal for "confirm password" appears, click

[2020-12-08 13:45] LeoNerdoG opened #3236 "Connect/Disconnect Button Not Working in Cloud Connection Service"
If you create a user with only kura.cloud.connection.admin permission, the Connect/Disconnect button does not work when you enter all the necessary parameters. You get a "Session expired" error instead (see screeenshot below).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Identities, add a user with kura.cloud.connection.admin permission (e.g. user1)
3. Login as user1, enter all the nece

[2020-12-08 13:45] LeoNerdoG opened #3237 "Previous Asset Name Stays in "Asset Name" Field"
If you are trying to add several assets to a specific driver, then you will notice that if your first asset is "asset1" and when you want to add second asset, there is already "asset1" in the "Asset Name" field.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, install kura_wires_devel.dp deploymnet package
3. Go to Drivers and assets, add a driver
4. Add an asset to the driver (e.

[2020-12-08 13:45] LeoNerdoG opened #3238 "Kura UI not Refreshed With Changes From Other Users"
If you have several users that have same permissions (for same services, e.g. packages, wires,...), there is no refreshment of the UI when something is changed by another user.
Example: you have two users, userA and userB. They both have kura.wires.admin permission. You create a adriver and several assets (e.g. asset1, asset2) with userA, in second browser logged in as userB just refresh the page,

[2020-12-08 13:46] LeoNerdoG opened #3239 "Generic Error When Trying to Create a Non-unique Cloud Connection"
If user is trying to create a Cloud Connection with a non-unique name, Kura throws a generic error instead one with a detailed message.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Cloud Connections, create a new cloud connection(e.g. "org.eclipse.kura.cloud.CloudService-1")
3. Try to add another "org.eclipse.kura.cloud.CloudService-1" cloud connection - observe the error.

**Expected b

[2020-12-08 13:46] LeoNerdoG opened #3240 "Warning Instead Error When Creating a Driver Without Factory"
If user is trying to create a driver without seelcting a factory, Kura throws a Warning modal, which actually contains an error style message.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Drivers and Assets tab, click Add, add a driver name
3. Without selecting a factory, press Submit - observe the error

**Expected behavior**
Modal's title should be "Error" or the whole modal should be

[2020-12-09 07:49] LeoNerdoG opened #3241 "Cog Position Dependant on the Initial Browser Size"
This is not a fatal issue, but I have noticed it, so I am reporting it, before I forget.
If the browser window is very small before user logs into Kura and after login enlarges it, the cog position is in the same spot as before. A simple refresh fixes this, so there is a workaround, but is there a way to fix this without user having to refresh the UI?

**Testflow:**
1. Resize the browser window
2.

[2020-12-09 07:49] LeoNerdoG opened #3242 "Files Always Uploaded in /tmp Folder"
If you upload a file to Kura, it is always put into /tmp folder, and not to the updated destination (e.g. /home/pi or something else).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Command Service, enable it
3. Change the "Command working directory" to e.g. /home/pi
4. Go to Device -> Command service, upload a .sh or some other file
5. Execute command "ls -l" and observe that uploaded fi

[2020-12-09 12:31] #3203 closed, assigned to MMaiero

[2020-12-09 12:31] mstankovic opened #3243 "User is unable to login into Kura"
**Describe the bug**
After I perform some steps and restart kura service Im not able to login into Kura anymore. After this I need to reinstall Kura.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cloud Connection and create new connection, create pub and sub
2. Add Example publisher and configure it
3. Go to Cloud Connection and configure Publisher
- Retain = true
- Qos = 1
- Apply c

[2020-12-09 13:01] nicolatimeus commented on #3243
Hi @mstankovic does this happen with PR #3207?

[2020-12-09 13:39] MMaiero commented on #3230
Similar to https://github.com/eclipse/kura/issues/3234

[2020-12-09 13:53] MMaiero commented on #3222
We are going to limit the number of characters displayed to e.g. 25. For longer names we will "ellipsis" it

[2020-12-11 13:26] LeoNerdoG commented on #3199
I have verified that this issue has been fixed within PR #3207.

[2020-12-11 13:31] LeoNerdoG commented on #3198
Hey @nicolatimeus, I have checked the fix on PR #3207 and user is not able to login via HTTP, but is able to login with certificate if this option is enabled and certificate loaded, so it is still not fixed.

[2020-12-11 13:37] code-incubus commented on #3233
I've verified that this issue has been fixed within PR #3207.

[2020-12-11 13:43] LeoNerdoG commented on #3193
Hey @nicolatimeus,
I have checked this issue and now Kura reports an error if user wants to save empty keystore path (Screenshot No. 1). The only problem is that the fields keystore path and password are not labeled with asterix as mandatory and also not labeled red when empty (as all other fields when they do not contain valid parameters).

**Screenshot No. 1:**
![Screenshot 2020-12-11 at 14 33 4

[2020-12-11 13:45] LeoNerdoG commented on #3191
Hey @nicolatimeus,
I have checked this issue or rather its fix in PR #3207 and now Kura reports an error if user wants to save empty keystore path (Screenshot No. 1). The only problem is that the fields keystore path and password are not labeled with asterix as mandatory and also not labeled red when empty (as all other fields when they do not contain valid parameters).

![Screenshot 2020-12-11 at

[2020-12-11 13:47] LeoNerdoG commented on #3188
Hey @nicolatimeus,
I have checked fix for this issue in PR #3207 and have two comments:
 - modal title should be Error and nto Warning
 - Text should be: "HTTP connector port configuration is not valid or same port is used for more than one connector." instead "HTTP connector port configuration is not valid or some port is used for more than one connector."

![Screenshot 2020-12-11 at 14 46 31](ht

[2020-12-11 13:53] code-incubus commented on #3229
I've verified that this issue has been fixed within PR #3207.

[2020-12-11 14:03] code-incubus commented on #3218
I've verified that this issue has been fixed within PR #3207.

[2020-12-11 14:14] MMaiero opened #3244 "Update Kura folder structure"
In order to simplify the persistence of Docker, while keeping an alignment between native Kura and Kura on docker, the folder structure should be updated in the following way:

[code]

With this new folder structure, 2 new folders are added log4j that will contain logging configuration and console that contains the UI customisations.

[2020-12-11 14:14] code-incubus commented on #3225
I've verified that this issue has been fixed within PR #3207.

[2020-12-11 15:49] nicolatimeus commented on #3198
Hi @LeoNerdoG .
I've tried to reproduce again, after reboot in my case port 80 was reachable and I could get to the login screen. After entering username and password I encountered #3183.
I could login after closing all browser windows (I used a Chrome in incognito mode) and retrying.
Can this be a duplicate of #3183?

[2020-12-11 16:18] mstankovic commented on #3243
hey @nicolatimeus it seems that issue is fixed with #3207 I cannot reproduce it.

With this PR i noticed few other issues:
- something went wrong when connecting  to the cloud service
[code]
- fields are marked as invalid by default when opening add certificate dialog
![Screen Shot 2020-12-11 at 4 27 16 PM](https://user-images.githubusercontent.com/3385815/101927517-e1a93380-3bd4-11eb-944d-78422ab

[2020-12-11 16:36] nicolatimeus commented on #3193
Yes, the keystore path  and password fields are currently not marked as required in the metatype and for this reason they are not highlighted in red and have no asterisk.
They are currently defined as optional so that the user is not forced to fill them if HTTPS is disabled.

The Console section has some custom conditional validation logic executed when the apply button is pressed, this is not pre

[2020-12-11 16:36] nicolatimeus commented on #3191
See comment https://github.com/eclipse/kura/issues/3193#issuecomment-743297207

[2020-12-11 17:08] nicolatimeus commented on #3188
Commit 75328fb should implement the suggested changes

[2020-12-11 17:44] MMaiero commented on #3244
Also the packages folder and dpa.properties should be moved.

The proposal is to have a "packages" folder in the kura root with the dpa.properties file and all the needed *.dp files in it.

[2020-12-12 10:12] MMaiero opened #3246 "UserAdmin service should be hidden"
**Is your feature request related to a problem? Please describe.**
The new multi user service has a convenience view that simplifies the interaction and the definition of the user credentials and permissions. All this data is effectively stored in the UserAdmin Service that, at this point, should not be displayed in the services section.

**Describe the solution you'd like**
Do not show the UserAd

[2020-12-12 22:06] mstankovic commented on #3243
@nicolatimeus this Cloud Connection issue in not related to this PR. Im reproducing it on the last develop build https://ci.eclipse.org/kura/job/kura-develop/1900/

[2020-12-13 21:33] LeoNerdoG commented on #3198
Hey @nicolatimeus,
I should have added into the issue description the following:
 - after you open port 80, enable HTTP and disable HTTPS, you can access login page from every browser via HTTP (Chrome, FF, Opera, Safari), but you cannot login in FF (see below)
 - you are able to login only in Chrome, Opera and Safari, but not from FF -> this is actually issue #3183 and it looks like this issue is

[2020-12-13 21:33] #3198 closed, assigned to nobody

[2020-12-13 21:36] LeoNerdoG commented on #3193
Hey, thanks for the detailed answer. I guess that this is then desired behaviour? Should we close this issue or leave it open and re-mark it as an "enhancement" or "good to have" or something similar? I think it is not a P1 anymore.

[2020-12-13 21:37] LeoNerdoG commented on #3191
Hey, thanks for the detailed answer in issue 3193.
I guess that this is then desired behaviour? Should we close this issue or leave it open and re-mark it as an "enhancement" or "good to have" or something similar? I think it is not a P1 anymore.

[2020-12-13 21:41] LeoNerdoG commented on #3188
I have verified that this issue has been successfuly fixed with upper commit.

[2020-12-13 21:41] #3188 closed, assigned to nobody

[2020-12-13 21:44] LeoNerdoG commented on #3181
I have verified that this issue has been resolved.

[2020-12-13 21:44] #3181 closed, assigned to nobody

[2020-12-13 22:10] LeoNerdoG commented on #3178
Hey @nicolatimeus,
I have checked this on #3207 and it onnly ocours in FF. In Chrome, Opera and Safari backspace does not work and user does not get logged out. Can you please check again if this has been fixed?

[2020-12-13 22:14] LeoNerdoG commented on #3175
Hey @nicolatimeus,
I have checked this and found out that if you change something in "Https Service" tab and go to e.g. "Web console" tab, user is prompted to save/discrad changes, but if you change something in "Web console" and go to "Https Service" tab, there is not prompt for discarding changes - changes are automatically discarded. Can you please check?

[2020-12-13 22:21] LeoNerdoG commented on #3172
I have verified that this issue has been succesfully resolved.

[2020-12-13 22:21] #3172 closed, assigned to nobody

[2020-12-13 22:22] LeoNerdoG commented on #3170
I have verified that this issue has been resolved.

[2020-12-13 22:25] LeoNerdoG commented on #3169
Hey @nicolatimeus,
I have noticed that fields have "Field is required" note under if they are empty (even when user opens the modal for the first time).
Reset button works fine except if you delete something manually - after that Reset button still stays active. Can you please check?
![Screenshot 2020-12-13 at 23 23 08](https://user-images.githubusercontent.com/15121999/102025762-6abd9780-3d9a-11e

[2020-12-13 22:27] LeoNerdoG commented on #3168
Hey @nicolatimeus,
I have noticed that if user populates one out of two fields (e.g. Server SSL certificate) and focuses/clicks on the remaining empty filed, Apply button gets enabled and does nothing when clicked. It gets fully active when user actually populates the second field.
![Screenshot 2020-12-13 at 23 26 14](https://user-images.githubusercontent.com/15121999/102025826-c4be5d00-3d9a-11eb-

[2020-12-13 22:31] LeoNerdoG commented on #3167
@nicolatimeus if I see correctly - now there is no message when user deletes a certificate? If this is desired behaviour then this is fixed. Otherwise please provide an update or an idea of the expected behaviour.

[2020-12-13 22:33] LeoNerdoG commented on #3157
I have verified that now certificate window closes and error/warning window is fully visible if there is a problem with certificate parameters.

[2020-12-13 22:33] #3157 closed, assigned to nobody

[2020-12-13 22:33] LeoNerdoG commented on #3156
I have verified that this issue has been resolved.

[2020-12-13 22:33] #3156 closed, assigned to nobody

[2020-12-13 22:34] LeoNerdoG commented on #3154
I have verified that this issue has been resolved.

[2020-12-13 22:34] #3154 closed, assigned to nobody

[2020-12-13 22:35] LeoNerdoG commented on #3153
I have verified that this issue has been resolved.

[2020-12-13 22:35] #3153 closed, assigned to nobody

[2020-12-13 22:36] LeoNerdoG commented on #3151
I have verified that this issue has been resolved.

[2020-12-13 22:36] #3151 closed, assigned to nobody

[2020-12-13 22:40] LeoNerdoG commented on #3150
I have verified that this issue has been resolved.

[2020-12-13 22:40] #3150 closed, assigned to nobody

[2020-12-13 22:41] LeoNerdoG commented on #3149
I have verified that this issue has been resolved.

[2020-12-13 22:41] #3149 closed, assigned to nobody

[2020-12-13 22:42] LeoNerdoG commented on #3148
I have verified that this issue has been resolved.

[2020-12-13 22:42] #3148 closed, assigned to nobody

[2020-12-13 22:43] LeoNerdoG commented on #3147
I have verified that this issue has been resolved.

[2020-12-13 22:43] #3147 closed, assigned to nobody

[2020-12-13 22:44] LeoNerdoG commented on #3146
Reset button has been removed, therefore this issue has been resolved.

[2020-12-13 22:44] #3146 closed, assigned to nobody

[2020-12-13 22:51] LeoNerdoG commented on #3218
Hey @nicolatimeus,
I have checked this and found out that if user enters certain number of spaces between first and last character, they all get truncated to only one space, therefore user is able to implicitly create same user multiple times:
![Screenshot 2020-12-13 at 23 50 00](https://user-images.githubusercontent.com/15121999/102026435-13b9c180-3d9e-11eb-8eb8-5e7eaf33f5ee.png)

Another problem

[2020-12-14 08:07] #3208 closed, assigned to nobody

[2020-12-14 08:25] #3175 closed, assigned to nobody

[2020-12-14 08:25] #3178 closed, assigned to nobody

[2020-12-14 08:25] #3179 closed, assigned to nobody

[2020-12-14 08:25] #3186 closed, assigned to nobody

[2020-12-14 08:25] #3191 closed, assigned to nobody

[2020-12-14 08:25] #3193 closed, assigned to nicolatimeus

[2020-12-14 08:25] #3199 closed, assigned to nobody

[2020-12-14 08:42] #3244 closed, assigned to MMaiero

[2020-12-14 09:55] mstankovic opened #3247 "Unable to connect to the Cloud"
**Describe the bug**
After I configure org.eclipse.kura.cloud.CloudService cloud service (url, topic, username, password and clientID) and do connect. I got connected but immediately disconnected from the cloud.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cloud Connection item
2. Click on MqttDataTransport tab
3. Set url, topic, username, password and clientID
4. Click on Connect b

[2020-12-14 14:19] #3144 closed, assigned to nicolatimeus

[2020-12-14 14:19] MMaiero commented on #3139
Closed as PR has been merged

[2020-12-14 14:19] #3139 closed, assigned to MMaiero

[2020-12-15 09:04] LeoNerdoG opened #3248 "No Reset Button in Device -> Command for "File" Field"
If you select a file to be uploadad to Kura in Command Service, there is no way to clear this field if user does not want to use the selected file anymore. User has to change the view and come back in order to clear the field.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Command Service, enable it
3. Go to Device -> Command
4. Browse for a .sh file on your file system
5. Execute command

[2020-12-15 09:05] #3248 closed, assigned to nobody

[2020-12-15 09:05] LeoNerdoG commented on #3248
Ok, I was so focused on executing commands, that I missed the Reset button right next to Execute...sorry for this issue.

[2020-12-15 13:09] mstankovic commented on #3247
problem was since two devices use same clientID to connect on the cloud. Closing.

[2020-12-15 13:09] #3247 closed, assigned to nobody

[2020-12-15 13:52] LeoNerdoG commented on #3233
Closing due to upper comment.

[2020-12-15 13:52] #3233 closed, assigned to nobody

[2020-12-15 14:01] LeoNerdoG commented on #3229
Closing due to upper comment.

[2020-12-15 14:01] #3229 closed, assigned to nobody

[2020-12-15 14:02] LeoNerdoG commented on #3225
Closing due to upper comment.

[2020-12-15 14:02] #3225 closed, assigned to nobody

[2020-12-15 16:09] MMaiero commented on #3189
I can agree on the analysis, but since there is the possibility to have just http configured and enabled, I believe we cannot force the requirement on those fields. A misconfiguration is always possible but I don't know how we can prevent it right now.

[2020-12-15 16:56] MMaiero commented on #3243
@mstankovic Can this issue be closed?

[2020-12-16 12:28] LeoNerdoG commented on #3230
Hey @nicolatimeus,
I have checked this and not user gets these three notfications:
1.
![Screenshot 2020-12-16 at 13 12 39](https://user-images.githubusercontent.com/15121999/102347218-62cf4480-3fa0-11eb-87a8-bc79f579310a.png)

2.
![Screenshot 2020-12-16 at 13 11 35](https://user-images.githubusercontent.com/15121999/102347226-65ca3500-3fa0-11eb-8795-785f941a76a5.png)

3.
![Screenshot 2020-12-16 at

[2020-12-16 12:30] LeoNerdoG commented on #3234
I have verified that user gets logged out if his identity is deleted.

[2020-12-16 12:30] #3234 closed, assigned to nobody

[2020-12-21 14:33] pintify opened #3250 "Add "start now" property to timer configuration"
**Describe the solution you'd like**
An additional property (boolean) on the Timer Wire component to allow the first execution to be made immediatly. It is very useful when working with long periods to avoid the initial delay.

**Describe alternatives you've considered**
I currently add another timer programmer by cron to execute now. Not very efficient.

[2020-12-21 14:40] MMaiero commented on #3250
Hello,
something has been added in develop with this PR: https://github.com/eclipse/kura/pull/2727

[2020-12-21 14:46] pintify commented on #3250
Would it work also in cron mode? As I'm not sure by simply watching the commits.

In which release will it be included? I'm working on 4.1.2 but it is not there.

[2020-12-21 15:05] MMaiero commented on #3250
It will be released with the upcoming release.

What is the use case for the cron scheduler?

[2020-12-21 15:18] pintify commented on #3250
Great, thanks.

It may seem a bit specific, but I'm currently feeding a streaming operation component which in some operations require an initial read (such as a comparison between previous and current value) and when I use hourly timer I have to wait between 1 and 2 hours to see any result. An initial trigger would feed the operation and allow the data to be calculated in the first hour expected.

[2020-12-21 15:22] MMaiero commented on #3250
Using the simple timer with 1h interval and 0 initial delay is not possible?

In any case we will consider this use case even if the base case considered for the cron timer is to schedule an operation in the future, for example to happen at a certain time.

[2020-12-21 15:29] pintify commented on #3250
The processing must be done at exact hours. It is related with taxation of energy consumption. It would be more acceptable simply to leave that initial data go.

I don't understand this.

[2020-12-21 17:13] #3008 closed, assigned to nobody

[2020-12-22 09:44] #3011 closed, assigned to nobody

[2020-12-22 10:04] funnyboys1008 opened #3252 "Kura device Bundles"
Hi,

I was working on kura, just out of curiosity  i wanted to know how the bundles on kura device sent to kapua. Like are these bundles published on some mqtt topic and then displayed on the kapua console ? or is there any other way.It would be great if you could refer to me some code files where all this is going on.

[2020-12-22 10:35] MMaiero commented on #3252
Hi,
please have a look here: https://eclipse.github.io/kura/ref/mqtt-namespace.html

[2020-12-22 12:21] mstankovic commented on #3243
yes, this is fixed. Cannot reproduce. Closing as fixed.

[2020-12-22 12:21] #3243 closed, assigned to nobody

[2020-12-22 15:14] #3055 closed, assigned to nobody

[2021-01-02 15:19] MMaiero commented on #3252
Hi @funnyboys1008,
can this be closed?

[2021-01-07 08:18] #3252 closed, assigned to nobody

[2021-01-07 09:41] MMaiero commented on #3236
Closing for now. @LeoNerdoG can you confirm?

[2021-01-07 09:41] #3236 closed, assigned to nobody

[2021-01-07 09:42] MMaiero commented on #3235
Closing for now. @LeoNerdoG can you confirm?

[2021-01-07 09:42] #3235 closed, assigned to nobody

[2021-01-07 09:48] MMaiero commented on #3167
Yes, this is the desired behaviour since we have updated the code.

[2021-01-07 09:48] #3167 closed, assigned to nicolatimeus

[2021-01-07 10:16] LeoNerdoG commented on #3236
Hey @MMaiero I am confirming that this issue has been resolved.
I tried with my local instance of Kapua and the connection was sucessfull in first try.

[2021-01-07 10:18] LeoNerdoG commented on #3235
I have verified that this issue has been resolved.
Now the "confirm" modal is not a sepparate modal, so it is impossible to click Apply between the two modals.

[2021-01-07 12:47] MMaiero commented on #3183
I have tested with Firefox 81 and 84 without issues. As suggested, clearing the cookies solved the login issues when https and http are both used

[2021-01-08 08:29] #3168 closed, assigned to nicolatimeus

[2021-01-08 08:29] #3169 closed, assigned to nicolatimeus

[2021-01-08 08:29] #3218 closed, assigned to nicolatimeus

[2021-01-08 08:29] #3230 closed, assigned to nicolatimeus

[2021-01-08 10:32] LeoNerdoG commented on #3168
I have verified that this issue has been resolved.

[2021-01-08 10:32] LeoNerdoG commented on #3218
I have verified that this issue has been resolved.

[2021-01-08 10:33] LeoNerdoG commented on #3169
I have verified that this issue has been resolved.

[2021-01-08 10:47] LeoNerdoG commented on #3230
Hey @nicolatimeus, I have checked the fix in PR #3256 and I can see that the second modal has been changed to "The current identity is not allowed to perform the requested operation." which is OK, but the title of the modal is "Warning" instead of "Error" and the same goes for the third modal ("The curret user has no permissions") - can you please fix the modal's titles?

[2021-01-08 11:27] LeoNerdoG opened #3257 "Number of Spaces in Username not Shown Correctly"
If user adds a user with username "1 1 1 1 1         1", the username is shown as "1 1 1 1 1 1" in upper right menut (when logged in as this user), in confirmation box when appying configuration in Certificates (screenshot No. 2) and when second user strips permission from this user (screenshot No. 2)

**Testflow:**
1. Login to kura as admin/admin
2. Go to Identities, click Add
3. Add user with na

[2021-01-08 11:27] LeoNerdoG opened #3258 "Pressing Backspace in Certificate Fields Puts Them in Error State"
If user presses backspace key on keyboard when entering "alias", "server certificate" or "Client certificate", then the field gets into error state (see screenshot below).

**Testflow:**
1. Login to kura as admin/admin
2. Go to Certificates, click Add
3. Select one of the certificates and select "alias" field
4. Press "backspace" key on the keyboard
5. Observe how field gets into error state, alth

[2021-01-08 11:27] LeoNerdoG opened #3259 "Second Field in Error State if User Too Fast"
If user clicks on the second empty field in certificates too fast (before "Apply" button gets activated), the second field is set into error state, although nothing has been entered. See GIF below.

**Testflow:**
1. Login to kura as admin/admin
2. Go to Certificates, click Add
3. Select one of the certificates and select "alias" field
4. Hoover with mouse above second field (e.g. "Server certifica

[2021-01-08 11:27] LeoNerdoG opened #3260 "Certificates Fields in Error State Although not Empty if User too Fast"
If user is too fast when selecting other fields when adding certificates, this can result in Kura marking a valid field as invalid (see screenshot below). For more information please see testflow below.

**Testflow:**
1. Login to kura as admin/admin
2. Go to Certificates, click Add
3. Select one of the certificates and select "alias" field
4. Enter "1" and then populate other fields with valid par

[2021-01-08 11:28] LeoNerdoG opened #3261 "Possible to add Certificates With Erronous Fields"
If user is able to put one of the fields in error state, although parameters are entered (see issue #3260), the certificate can be added, but Kura reports an error and the modal disappears.
This behaviour is somwhere between adding a normal certificate (with valid parameters) and between adding an invalid certificate (when "dropdown" modal is shown).

**Testflow:**
1. Login to kura as admin/admin

[2021-01-08 12:27] LeoNerdoG opened #3262 "Modal in Certificates not Wide Enough"
If you open "Add certificate" modal, you will see, that it is not wide enough (there are some words that are "in the way" of the scrollbar"). This is only a minor issue, but should be addressed nontheless.

**Testflow:**
1. Login to kura as admin/admin
2. Go to Certificates, click Add
3. Try to resize the three windows (alias, server certificate, user certificate), so that the scrollbar disappears

[2021-01-08 15:16] mstankovic opened #3263 "Web Console Tab | Missing "unsaved warning" dialog when switching tabs"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Security Item
2. Click on Web Console tab
3. Change some field (e.g. value for "Web Server Entry Point")
4. Click on some other tab (Http Service) or some other Item (Command Service Item)

**Expected behavior**
There should pop up warning with message: "There are unsaved changes. Do you want to discard them and continue?"

**Target Enviro

[2021-01-11 09:04] mstankovic opened #3265 "Kura Docker | Folder structure | dpa.properties file"
**Describe the bug**
Related to #3244 and https://github.com/eclipse/kura/issues/3244#issuecomment-743333021 im expecting that **dpa.properties** file is in **packages** folder but that is not the case for Kura docker version. It is still in **data** folder

**Expected behavior**
**dpa.properties** file should be in **packages** folder

[2021-01-13 09:54] #3263 closed, assigned to nicolatimeus

[2021-01-13 13:09] LeoNerdoG commented on #3263
I have verified that this has been resolved in latest develop branch.

[2021-01-13 13:28] LeoNerdoG commented on #3183
Hey @MMaiero,
I have tested this and have to say that in order to be able to login via HTTP (non-secure), user actually has to close the browser first. I am adding flow for logging in in case somebody needs this.

If user has firstly logged in via HTTPS (secure), then logging via HTTP (non secure) is possible if:
**Login flow:**
1. User clears history and cookies
2. Opens port 80 and enables HTTP

[2021-01-13 13:28] #3183 closed, assigned to MMaiero

[2021-01-14 09:00] mstankovic opened #3268 "Problem after network configuration change"
**Describe the bug**
After network configuration change on Kura Im unable to ping outside (google.com) until device reboot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network and disable eth1
2. Enable eth1 for WAN
3. Try to ping google.com
4. Not able -> Workaround: reboot the device

**Expected behavior**
I should be able to ping outside (after network configuration change) witho

[2021-01-14 09:15] pierantoniomerlino commented on #3268
@mstankovic Is it a RPi3 with a USB dongle that provides eth1? The eth1 interface get an address from the DHCP server?
Finally, could you please send me the unencrypted last snapshots? You can download it from the Web Console.

Thanks!

[2021-01-14 09:24] mstankovic commented on #3268
@pierantoniomerlino Im using rpi3 in a small fixture. Eth1 gets address from DHCP server. Im using USB to ETH adapter for eth1.

[snapshot_1610557118168.zip](https://github.com/eclipse/kura/files/5813479/snapshot_1610557118168.zip)

[2021-01-14 09:29] pierantoniomerlino commented on #3268
Thanks @mstankovic! From the snapshot it seems that the eth1 interface is configured as LAN:

[code]

Could you please re-run the test and sent me the logs again? Proceed as described above, so:

1. Go to Network and disable eth1
2. Enable eth1 for WAN
3. Try to ping google.com

[2021-01-14 10:24] mstankovic commented on #3268
Hey @pierantoniomerlino i was wrong eth0 is the interface for WAN.

I repeated the test and reproducing issue.
1. disable eth0
2. enable eth0 for WAN
3. ping google.com

[snapshot_1610619440788.zip](https://github.com/eclipse/kura/files/5813776/snapshot_1610619440788.zip)
[cosole_log.txt](https://github.com/eclipse/kura/files/5813777/cosole_log.txt)
[kura.log](https://github.com/eclipse/kura/files

[2021-01-14 11:21] pierantoniomerlino commented on #3268
It seems that this rule

[code]

is not correctly applied, even if it written on the `/etc/sysconfig/iptables` file.

[2021-01-14 12:05] pierantoniomerlino commented on #3268
@mstankovic Could you please test the fixes in the draft PR?

[2021-01-14 14:46] mstankovic commented on #3268
@pierantoniomerlino still reproducing..
kura.log and the latest snapshot attached
[kura.log](https://github.com/eclipse/kura/files/5815102/kura.log)
[snapshot_1610635327538.zip](https://github.com/eclipse/kura/files/5815103/snapshot_1610635327538.zip)

[2021-01-18 09:48] #3268 closed, assigned to pierantoniomerlino

[2021-01-18 12:32] iacco opened #3270 "Typo in JS Filter"
**Describe the bug**
There is a typo in the Javascript Filter

**To Reproduce**
Steps to reproduce the behavior:
1. Instance a new JS Filter on the graph
2. Check the metatype, it reads "A wire component that provides **scrpiting** functionalities in JavaScript"

**Expected behavior**
A wire component that provides **scripting** functionalities in JavaScript

**Target Environment (please complete

[2021-01-18 14:34] pintify commented on #2908
But it would be interesting the option to force the UI through command line on boot, for example. This would avoid the "lock himself out" situation that @LeoNerdoG describes in case cloud platform connection fails or even is not even configured (both for error or lack of interest in the platform).

[2021-01-18 16:35] mstankovic commented on #3265
closing as fixed

[2021-01-18 16:35] #3265 closed, assigned to MMaiero

[2021-01-18 22:40] ashmookler1 opened #3275 "API Driver Interface has wrong property name"
**Describe the bug**
The Kura API Driver Interface has a field called DRIVER_PID_PROPERTY_NAME that is currently set to "driver.pid". This property doesn't exist in the drivers and throws an exception whenever it is used. The correct property name is "kura.service.pid".

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to run any function that relies on DRIVER_PID_PROPERTY_NAME. For ex

[2021-01-19 09:56] nicolatimeus commented on #3275
Yes, I don't think that any of the drivers in Kura codebase sets the `driver.pid` property as you reported. The drivers are identified by the `kura.service.pid` property just like other Kura `ConfigurableComponents`.
A property named `driver.pid` is used in `Asset` configuration and is set to the `kura.service.pid` of the attached Driver, but that is a different topic.

The `DriverService` impleme

[2021-01-19 11:09] #3270 closed, assigned to nobody

[2021-01-21 16:18] mstankovic opened #3277 "Kura Docker | Error building Alpine image"
**Describe the bug**
There is an error during building Kura Docker Alpine image

**To Reproduce**
Steps to reproduce the behavior:
1. cd kura/container/kura_alpine/
2. docker build -t kura_alpine .
-> log:

[code]

Additional:
- this started reproducing after merging #3267 (15. Jan)

[2021-01-24 15:13] JCodyA commented on #2935
Hello!  I'd love to contribute and this looks like a reasonable place to start but I'm a bit new to this.  I'll have a look at the code and return with questions more than likely.

[2021-01-25 08:02] MMaiero commented on #2935
Hi @JCodyA,
thanks! It would be a great first contribution to the project!
For any help needed, we are here.
Best regards,
Matteo

[2021-01-29 08:23] mstankovic commented on #3277
closing this. verified as fixed.

[2021-01-29 08:23] #3277 closed, assigned to MMaiero

[2021-02-11 13:25] iacco opened #3293 "Basic/Advanced differentiation in configuration properties"
A really neat feature to be added to Kura would be to have a distinction between Basic and Advanced (or possibly more) properties in the configuration.

To provide an example, the ClockService's metatype exposes the following properties:
- enabled
- set HW clock
- clock provider
- NTP host and port
- timeout, max retries, retry interval
- refresh rate
- RTC device

In most of the cases, users will

[2021-02-17 09:44] #3212 closed, assigned to nobody

[2021-02-26 13:00] MMaiero commented on #3275
@nicolatimeus Can we proceed with the deprecation?

[2021-02-26 13:02] MMaiero commented on #3242
This has been closed by Alessandro with PR https://github.com/eclipse/kura/pull/3285

[2021-02-26 13:02] #3242 closed, assigned to nobody

[2021-02-26 13:04] MMaiero commented on #3190
@LeoNerdoG Is this issue still there?

[2021-02-26 13:04] #3185 closed, assigned to nobody

[2021-02-26 13:05] MMaiero commented on #3176
@pierantoniomerlino any more thoughts on this? What is the effort needed?

[2021-02-26 13:07] LeoNerdoG commented on #3190
@MMaiero  I will check and let you know.

[2021-02-26 13:22] MMaiero commented on #3145
Done as per PR https://github.com/eclipse/kura/pull/3272

[2021-02-26 13:22] #3145 closed, assigned to MMaiero

[2021-02-26 13:23] MMaiero commented on #3133
Is this still an issue?

[2021-02-26 13:23] #3128 closed, assigned to nobody

[2021-02-26 13:26] MMaiero commented on #3005
Is this still an issue?

[2021-02-26 13:28] MMaiero commented on #2729
Is this still an issue?

[2021-02-26 13:30] MMaiero commented on #2546
Hi @pierrepitiot any update on this?

[2021-02-26 13:33] MMaiero commented on #2456
Is this still an issue?

[2021-02-26 13:34] LeoNerdoG commented on #3133
I will check and close if not recreatable.

[2021-02-26 13:35] LeoNerdoG commented on #3005
Will check and let you know.

[2021-02-26 13:35] LeoNerdoG commented on #2729
Will check and let you know.

[2021-02-26 13:35] LeoNerdoG commented on #2456
Will check and let you know.

[2021-03-01 08:18] LeoNerdoG commented on #3190
Kura now reports that keystore password is necessary if HTTPS enabled  - which is OK.
Password is successfully deleted if HTTPS is disabled, so i am closing this.

[2021-03-01 08:18] #3190 closed, assigned to nicolatimeus

[2021-03-01 08:19] LeoNerdoG commented on #3133
Hey @MMaiero, this is still an issue.

[2021-03-01 08:21] LeoNerdoG commented on #3005
Hey @MMaiero, this is still an issue.

[2021-03-01 08:34] LeoNerdoG commented on #2729
I have rechecked this and it is resolved (user gets asked if the changes should be reset or not).

[2021-03-01 08:34] #2729 closed, assigned to MMaiero

[2021-03-01 09:30] LeoNerdoG commented on #2456
Hey @MMaiero,
I have checked this on latest develop and it still happens.

[2021-03-02 13:27] MMaiero commented on #3137
Hello, is this still an issue? Can this be closed?

[2021-03-02 14:27] #2681 closed, assigned to nobody

[2021-03-02 14:36] MMaiero commented on #2629
Done

[2021-03-02 14:36] #2629 closed, assigned to nobody

[2021-03-03 12:48] mariosanroman opened #3308 "Camel: java.lang.OutOfMemoryError after a long time of execution"
Hello everyone.

I don't know if this is a bug or if it is that I'm doing something wrong. I hope someone could help me.

I'm basically following the example in https://dentrassi.de/2018/09/14/the-power-of-apache-camel-in-eclipse-kura/

I have kura installed in a raspberry pi 3 with this O.S.:
Linux raspberrypi 4.19.97-v7+ #1294 SMP Thu Jan 30 13:15:58 GMT 2020 armv7l GNU/Linux

I set up a wire wi

[2021-03-03 12:57] MMaiero commented on #3308
Hi @ctron, any clue on this issue?

Thanks.
Matteo

[2021-03-03 17:39] ctron commented on #3308
Good question. It would be helpful to know which threads are running. Attaching to the running instance using JMX (e.g. jconsole) and dump the threads.

[2021-03-04 08:20] MMaiero commented on #3308
@mariosanroman can you please provide the details requested by @ctron? Thanks

[2021-03-04 10:13] mariosanroman commented on #3308
I'm glad to do that, but I'm afraid I'm going to need some instructions.

How do I enable JMX for Kura in my raspberry?
or I should use this container (https://github.com/ctron/kura-container) with JMX enabled?

[2021-03-07 16:26] mstankovic commented on #2565
@MMaiero we should close this issue and related PR?

[2021-03-07 16:29] MMaiero commented on #2565
Issue fixed with latest changes in UI

[2021-03-07 16:29] #2565 closed, assigned to nobody

[2021-03-07 19:16] #3133 closed, assigned to MMaiero

[2021-03-08 12:03] mariosanroman commented on #3308
Hi. I tried to use the container (https://github.com/ctron/kura-container) with JMX enabled in my PC (not in api), but I couldn't connect with jconsole. I don't know if I was doing something wrong.

Could someone give me some information about how to get what @ctron is asking for, please?

[2021-03-09 07:58] LeoNerdoG commented on #3133
I have verified that this issue has been resolved.

[2021-03-09 08:09] MMaiero opened #3320 "Uniform Kura Bundles version"
**Is your feature request related to a problem? Please describe.**
Right now the set of versions used in Kura is very sparse: there are multiple versions tracked in the kura properties files and versions change for every maintenance branch. This makes versioning in the develop branch very hard to maintain.

**Describe the solution you'd like**
A single version for all the bundles that are part of

[2021-03-09 08:09] MMaiero commented on #3320
To start the discussion adding to the post @nicolatimeus @pierantoniomerlino @dwoodard1 @LucaDazi @cdealti

[2021-03-09 08:26] LeoNerdoG commented on #3242
I have verified that this issue has been resolved.

[2021-03-10 16:41] sterwen opened #3323 "Firewall settings not saved in the file system after network configuration change"
**Describe the bug**
When changing the network configuration, the firewall rules are not permanently saved to /etc/sysconfig/iptables. Therefore upon the next reboot the gateway is not accessible anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Start from a default network configuration Eth0 => WAN DHCP client, wlan0 LAN DHCP server.
2. Access to the gateway works (https/ssh/...). Ro

[2021-03-16 10:28] pierantoniomerlino commented on #3323
I follow the sequence of commands reported in the issue and I found that indeed `/etc/sysconfig/iptables` is not updated with all the needed rules. After a reboot, it is possible to access to the web console but the ip forwarding rules between wlan and ppp is gone. **Maybe** this is related to #1195.

[2021-03-17 16:41] pierantoniomerlino commented on #3323
This issue is not directly related to #1195, but it is due to a bug on the `LinuxFirewall`.

[2021-03-19 18:32] malveo opened #3332 "Unprivileged Command Service with 'su' invocation must be run from a terminal"
**Describe the bug**

Running command with  Command Service in Unprivileged mode return `su: must be run from a terminal`

**To Reproduce**

1. Go to 'Device' > 'Command'
2. Execute any command for example: 'id'
3. Return: 'su: must be run from a terminal'

**Expected behavior**
Executing command, returning command output.

**Screenshots**

![image](https://user-images.githubusercontent.com/619086

[2021-03-23 08:16] pierantoniomerlino commented on #3332
Hi @malveo, have you tried with the last build of develop branch? Which device are you using?

[2021-03-23 08:38] pierantoniomerlino commented on #3323
@sterwen I tried to fix this issue in #3334. Could you please test it on your device?

[2021-03-23 12:27] #1195 closed, assigned to ibinshtok, markoer

[2021-04-11 15:47] sterwen commented on #3323
Hello,

Tested and the correction is OK.

[2021-04-12 08:24] #3323 closed, assigned to pierantoniomerlino

[2021-04-12 12:47] MMaiero commented on #3332
@malveo Any update on this? Can it be closed?

[2021-04-13 14:00] #3332 closed, assigned to pierantoniomerlino

[2021-04-13 14:01] MMaiero commented on #3275
@nicolatimeus ping

[2021-04-13 14:01] MMaiero commented on #3246
Done. Closing

[2021-04-13 14:01] #3246 closed, assigned to nicolatimeus

[2021-04-14 08:13] nicolatimeus commented on #3275
Yes, maybe we can deprecate the `DriverService`.

[2021-04-14 08:14] MMaiero commented on #3275
Agreed. Can we make a PR with that? We need to update also the release notes.

[2021-04-14 09:04] marcellorinaldo commented on #3197
I was able to recreate the issue on Kura 4.1.0. As mentioned, restarting Kura restores the correct behavior.

On Kura 5.0.0 this issue seems to be resolved: changing the target in any of the created publisher components works (also if the publishers are on different cloud connections); no need for reboot.

[2021-04-27 10:00] iacco opened #3353 "H2DbStore issue with H2DbService's pid"
**Describe the bug**
When trying to interface an H2DbStore Wire Component, the _db.service.pid_ specifies to insert the kura service pid of the H2DbService component to be used.

If the user creates a second H2DbService, specifying a User Friendly name (e.g. H2DbService-Test), a factory configuration with pid _org.eclipse.kura.core.db.H2DbService-Test_ will be created by the configuration service.

[2021-04-28 15:43] robertodamiani opened #3357 "JAX-RS suppresses attributes with null value while serializing JSON"
**Describe the bug**
When a JAX-RS controller method returns an object, the object is serialized in JSON format, but fields having `null` value are suppressed.

The problem seems to be due to GSON default behavior, which suppresses fields having `null` value.
This behavior should be changed or at least configurable.

**To Reproduce**
Suppose that a controller returns this object:
[code]
the output

[2021-04-28 15:54] robertodamiani opened #3358 "JAX-RS deserializes a non boolean value in a JSON request as false"
**Describe the bug**
Boolean fields validation in received HTTP request JSON body seems to be broken for boolean values.

If a JSON field deserializes to a boolean field, any non-boolean value in the received JSON is deserialized as `false`, while the request should be refused with a Bad Request error (400).

Note that it is impossible to distinguish between a valid response having `false` as the

[2021-04-28 16:02] robertodamiani opened #3359 "JAX-RS validation support through @Valid annotation"
**Is your feature request related to a problem? Please describe.**
Currently the `@Valid` annotation seems not to work with Kura. Annotating controller method parameters, and adding javax.validation annotations to beans, does not seem to work.

**Describe the solution you'd like**
Just like other frameworks (eg. Spring), when an HTTP request is received, the controller method parameters which are

[2021-04-29 08:46] nicolatimeus commented on #3358
Hi @robertodamiani , the configuration of the Gson serializer should be performed by the `com.eclipsesource.jaxrs.provider.gson` bundle, see [1].

Maybe it is possible to change the serialization configuration by getting a reference to the `GsonProvider` instance, which should be registered as an OSGi service, and provide a custom `Gson` instance by calling the `setGson` [2] method.

[1] https://g

[2021-04-29 08:53] nicolatimeus commented on #3358
Maybe you can also try registering custom `MessageBodyReader/MessageBodyWriter` instances specific to your beans, without changing the global instance. I think you will have to register them as OSGi services as `com.eclipsesource.jaxrs.provider.gson` does to have them picked up by the runtime.

[2021-04-30 15:02] malveo opened #3361 "Iptables config rules for environment with ro rootfs"
Hello Folks,

For environments with the rootfs in read-only mode is preferred to make FIREWALL_CONFIG_FILE_NAME

https://github.com/eclipse/kura/blob/0d50f11782caf39c01249ea4ed4535323cb2762c/kura/org.eclipse.kura.linux.net/src/main/java/org/eclipse/kura/linux/net/iptables/IptablesConfigConstants.java#L17

configurable via Kura properties file.

Thank you!

[2021-04-30 15:05] malveo commented on #3332
Hi @MMaiero @pierantoniomerlino,

built today from develop branch the problem does not occur.

Thank you!

[2021-05-03 11:13] MMaiero commented on #3361
Hi @malveo
are you willing to submit a PR with the needed changes?

Thanks.
Matteo

[2021-05-03 15:59] mstankovic opened #3363 "Error appears after opening Security system item"
After fresh Kura installation an Error appears what trying to load certificates from Security system item

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Security item (Certificates list)
2. See error

**Expected behavior**
Security item should open without errors

**Screenshots**
![Capture](https://user-images.githubusercontent.com/3385815/116900478-11ff7600-ac39-11eb-82fb-13de5804

[2021-05-04 08:12] robertodamiani commented on #3357
I implemented [this suggestion](https://github.com/eclipse/kura/issues/3358#issuecomment-829058492) by @nicolatimeus in issue #3358, but unfortunately this looks unstable.

The effect is that, at each Kura restart:
* sometimes the new MessageBodyWriter is loaded, and all calls are correctly handled;
* sometimes the old MessageBodyWriter is loaded, and I have the same behavior as before.

This seem

[2021-05-05 16:31] MichalS-94 opened #3365 "Failed to connect to any of the matching endpoints"
Hi,
I have a problem with connection OPC Server simulator to the OPC Driver. I did everything like in this tutorial "https://eclipse.github.io/kura/wires/kura-wires-opcua.html" and when im trying to see Data in Asset I get this error:
![image](https://user-images.githubusercontent.com/64809601/117175462-2d03ee80-adcf-11eb-913f-1bbe34a54f65.png)

I checked IP (localhost) and the port number (1234)

[2021-05-06 07:06] iacco opened #3366 "Anonymization of MqttDataTransport metatype"
**Is your feature request related to a problem? Please describe.**
The description for the "broker-url" property of the MqttDataTransport contains URLs to various MQTT platforms. This means that it should be maintained and checked overtime, to ensure the links still work.

**Describe the solution you'd like**
"Anonymizing" the description in order to only provide information about the property's m

[2021-05-06 12:26] MMaiero commented on #3365
Hi,
did you try to perform a telnet to the server/port to see if a service is actually running and listening for connections?

[2021-05-06 13:10] MichalS-94 commented on #3365
![image](https://user-images.githubusercontent.com/64809601/117303434-f84e7080-ae7c-11eb-8933-1e63b72e1cbf.png)

I checked it and the server simulator port is listening

[2021-05-06 13:14] MMaiero commented on #3365
Can you show the configuration you have set for the asset?

[2021-05-06 13:23] MichalS-94 commented on #3365
![image](https://user-images.githubusercontent.com/64809601/117305389-000f1480-ae7f-11eb-91dd-7eb186aba11b.png)

Here is my configuration for asset

[2021-05-06 13:33] MMaiero commented on #3365
Can you also add the config for the corresponding driver?

[2021-05-06 13:42] MichalS-94 commented on #3365
Below config for the driver:

Endpoint IP: localhost
Endpoint port: 1234
Server Name: <empty>
Force endpoint URL: false
Session timeout: 120
Request timeout: 60
Acknowledge timeout: 40
Application name: opc-ua client
Application URI: urn:kura:opcua:client
Subscription publish interval: 1000
Keystore path: PFX or JKS Keystore
Security policy: None
Username: user123
Password: Kapu@12345678
Client ce

[2021-05-07 13:31] MichalS-94 commented on #3365
I removed the container with Kura and did the tutorial again and everything is working now. I don't know where I went wrong the first time.

[2021-05-07 14:21] #3365 closed, assigned to nobody

[2021-05-10 02:58] QiAnXinCodeSafe opened #3368 "There is a vulnerability in ActiveMQ Artemis 2.6.4 ,upgrade recommended"
https://github.com/eclipse/kura/blob/7140cd92eea7cd1ed81ed9823e9dc8e40d870453/target-platform/org.apache.activemq.artemis/pom.xml#L34

CVE-2021-26117 CVE-2020-13932

Recommended upgrade version：2.16.0

[2021-05-10 08:17] MichalS-94 opened #3369 "Simple Artemis MQTT Broker - Subscriber"
Hi,
I have a problem with subscribing data from Artemis broker. I connected the broker via Cloud Connections and created a subscriber. Next step I made a simple wire graph with subscriber and logger but its not working. Anybody knows how to properly subscribe from broker? Below are screenshots of subscriber configuration and python publisher code.
![image](https://user-images.githubusercontent.com

[2021-05-12 08:00] #3366 closed, assigned to nobody

[2021-05-13 15:28] #2705 closed, assigned to pierantoniomerlino

[2021-05-14 08:59] galps opened #3378 "NPE (Null pointer exception) on deployment agent"
**Describe the bug**

During the Kura startup, and more precisely during the DP's installation phase (using standard persistent dpa.properties),
the DeploymentAgent exits from the `installer` thread via the :
https://github.com/eclipse/kura/blob/7a6f69297952be68cb478b930291a132dc4cba34/kura/org.eclipse.kura.deployment.agent/src/main/java/org/eclipse/kura/deployment/agent/impl/DeploymentAgent.java#

[2021-05-17 17:23] mstankovic commented on #3363
This is fixed. Closing..

[2021-05-17 17:23] #3363 closed, assigned to nobody

[2021-05-18 17:10] #3378 closed, assigned to MMaiero

[2021-05-24 06:22] MichalS-94 opened #3384 "Filed to install deployment package - Apache Camel"
Hi,
I have problem with installing packages from Eclipse Marketplace. I'm trying to install below packages:
-Apache Camel MQTT endpoint
-Apache Camel Groovy language support
-Apache Camel GSON data format

and for each i have the same error:
![image](https://user-images.githubusercontent.com/64809601/119305171-a8d3b700-bc68-11eb-85a8-7205895c2a49.png)

Anybody knows is there any way to install thi

[2021-05-24 08:07] MMaiero commented on #3384
Kura accepts only OSGi deployment packages. If the packages you are trying to install are not .dp files, you will not be able to install them.
The kura.log file could also provide you with more details on what happened.

[2021-05-24 09:09] MichalS-94 commented on #3384
Thank you for your response.
The package im trying to install is .dp file but in logs I found an HTTP response code 501.
![image](https://user-images.githubusercontent.com/64809601/119324502-3242b380-bc80-11eb-961b-dede3f10951f.png)

Do you know how can I fix it?

[2021-05-24 11:20] MMaiero commented on #3384
it may be due to the fact that maven since some months access only https connections

[2021-05-24 13:13] sterwen opened #3385 "Snaphot_0 Firewall rules are not processed by Kura"
**Describe the bug**
In the snapshot_0 we add some rules for a second Ethernet port and they are simply ignored. So we need to add the rules manually.

Some rules for ports seems to be generated automatically like opening the ports for network 10.234.0.0/16 that is creating a security hazard.

**To Reproduce**
Steps to reproduce the behavior:
Here is the snapshot_0 firewall property
<esf:propertie

[2021-05-24 14:20] #3353 closed, assigned to nobody

[2021-05-25 02:44] zhanghenglang commented on #2929
How to solve this kind of problem? I installed de.dentrassi.camel.utgard-0.2.0 on kura4.1.2, but it cannot be used .

[2021-05-25 02:53] zhanghenglang opened #3386 "kura4.1.2安装de.dentrassi.camel.utgard-0.2.0，不能正常使用，依赖过时。"
After installing de.dentrassi.camel.utgard-0.2.0 on kura 4.x.y, it cannot be used normally because of the obsolescence of the dependency. How should this problem be solved?

[2021-05-25 07:01] MMaiero commented on #2929
You need a release of the package for Kura 4

[2021-05-25 10:04] Coduz opened #3387 "[KEYS-V1] - POST/keystore/entries/csr response format problems."
**Describe the bug**
When performing a request to Kura to `POST/keystores/entries/csr` the request is processed corretly but the format of the response not consistent with the other resources response (i.e. : `GET/keystores/entries`) and it has some unwanted `"` in it.

**To Reproduce**
1. Make a resquest to Kura via MQTT at: `POST/keystores/entries/csr` with a correct request.
2. Take a look at t

[2021-05-25 20:09] sterwen opened #3388 "Firewall block all ports if ppp configuration leads to not active link"
**Describe the bug**
When configuring a ppp connection with Kura, if this is not succeeded and the gateway is rebooted, then all ports are locked.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a ppp connection with either a wrong apn or even a network problem leading to a non active ppp link
2. Reboot to try fixing above
3. No way to access the gateway as all ports are closed

**

[2021-05-26 01:01] zhanghenglang commented on #3386
Are there any good thoughts and ideas when using the opcda driver on kura4.x.y? Can the dependencies of opcda be used normally on kura4.x.y?

[2021-05-26 03:22] zhanghenglang opened #3389 "VMware installs 2021-01-11-raspios-buster-i386.iso after installing kura3.2.0 access error"
![image](https://user-images.githubusercontent.com/70355661/119598015-b4fc7780-be14-11eb-88ae-07bb5de0816a.png)

[2021-05-26 06:58] MMaiero commented on #3389
Hello,
I'm sorry, but I'm not aware of such distribution.
In order to try to provide some help we'll definitely need the content of the kura.log and Kura-console.log files as well as a description of the setup.

[2021-05-26 07:00] MMaiero commented on #3386
The component you are looking for has been provided/supported by a single developer not by this project. I believe you should try to reach out the contributor of the bundle and see if there can be an update.

[2021-05-26 09:15] zhanghenglang commented on #3389
![image](https://user-images.githubusercontent.com/70355661/119635148-f78a7800-be45-11eb-80f9-64b893e75eb9.png)

[2021-05-26 09:25] zhanghenglang commented on #3389
![image](https://user-images.githubusercontent.com/70355661/119636520-4edd1800-be47-11eb-9828-64da21122a1b.png)

[2021-05-26 09:27] MMaiero commented on #3389
It seems that the database is not booting for a reason.
That may be also the cause of the UI not available.
Having the full log uploaded to this issue could help to see if there are other error s or problems with the installation.

[2021-05-26 09:29] zhanghenglang commented on #3389
[kura-console.log](https://github.com/eclipse/kura/files/6545506/kura-console.log)

[2021-05-26 09:29] zhanghenglang commented on #3389
[kura.log](https://github.com/eclipse/kura/files/6545513/kura.log)

[2021-05-26 09:34] MMaiero commented on #3389
From the Kura-console.log you'll see that almost every service failed to start, especially the ones with native code.
It may be because you are trying to run on a x86 platform. I'm not sure, but it may be that 32 bit intel is not a supported platform for 3.2.0

[2021-05-27 01:08] zhanghenglang commented on #3389
So which version of 3.x.y supports 32-bit Raspberry Pi? When installing the Raspberry Pi on the virtual machine, no 64-bit version was found.

[2021-05-27 05:26] MMaiero commented on #3389
Raspberry Pi is 32 bit, but it is ARM architecture. Are you installing in an ARM based virtual machine?

[2021-05-27 08:05] zhanghenglang commented on #3389
I installed it on a virtual machine, but not on an ARM-based virtual machine.

[2021-05-27 08:28] MMaiero commented on #3389
I believe that is the issue.

[2021-05-27 09:16] zhanghenglang commented on #3389
![image](https://user-images.githubusercontent.com/70355661/119799596-ccb82680-bf0e-11eb-87af-f1f56dc0e4a8.png)
If I want to use the DockerFile provided above to install kura 3.2.0, how should I change my GIT_REPO and GIT_BRANCH? Or can you use the DockerFile provided above to complete the deployment and installation on centos 7?

[2021-05-27 09:18] MMaiero commented on #3389
The containers are pre-built and available in the docker hub https://hub.docker.com/r/eclipse/kura but I believe we have introduced the containers only with Kura 4. Not sure if that works with Kura 3.

[2021-05-27 09:26] zhanghenglang commented on #3389
It can only be used on kura4, and cannot be used on kura3.

[2021-05-27 13:17] #3386 closed, assigned to nobody

[2021-05-27 13:18] MMaiero commented on #3384
@MichalS-94 Can this be closed?

[2021-05-27 13:20] MMaiero commented on #3275
Closing as `DriverService` has been deprecated

[2021-05-27 13:20] #3275 closed, assigned to nicolatimeus

[2021-05-27 13:21] MMaiero commented on #3216
Is this still an issue? In any case, I believe that this can happen during the shutdown phase.

[2021-05-27 13:22] MMaiero commented on #3197
Closing as solved in Kura 5

[2021-05-27 13:22] #3197 closed, assigned to nobody

[2021-05-27 13:23] MMaiero commented on #3135
Any feedback for this item? Can this be closed?

[2021-05-27 13:23] #3137 closed, assigned to nobody

[2021-05-27 13:25] MMaiero commented on #3129
I believe that the subscriber was not an option for the Hono contract that was decided.

[2021-05-27 13:25] #3129 closed, assigned to nobody

[2021-05-27 13:26] #3122 closed, assigned to nobody

[2021-05-27 13:26] #3101 closed, assigned to nobody

[2021-05-27 13:27] #3092 closed, assigned to nobody

[2021-05-27 13:28] MMaiero commented on #3035
@sterwen Was this added by your contribution to the wifi section?

[2021-05-27 13:28] #2914 closed, assigned to nobody

[2021-05-28 05:44] MichalS-94 commented on #3384
Yes, Thank you.

[2021-05-28 06:53] #3384 closed, assigned to nobody

[2021-05-28 14:54] salvatore-coppola opened #3391 "Unable to get IP address with wireless network interface"
Unable to get IP address through Wireless network interface using DHCP.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network menu item.
2. Select wireless interface
3. Select Enable for WAN and apply.
4. Configure settings in wireless tab and apply.
5. Go to TCP/IP and refresh or press Renew DHCP Lease button.

**Expected behavior**
Network interface get proper ip address, gateway a

[2021-05-28 15:10] MMaiero commented on #3391
Can you provide the full logs (kura.log, Kura-console.log) for the tested scenario?

[2021-05-31 13:44] #3135 closed, assigned to nobody

[2021-06-01 15:33] marcellorinaldo commented on #3232
@MMaiero solved in new Kura version

[2021-06-01 15:33] marcellorinaldo commented on #3231
@MMaiero solved in new Kura version

[2021-06-01 15:37] MMaiero commented on #3231
Thanks. Closing then. @LeoNerdoG please feel free to reopen it if needed

[2021-06-01 15:37] #3231 closed, assigned to nobody

[2021-06-01 15:37] MMaiero commented on #3232
Thanks. Closing then. @LeoNerdoG please feel free to reopen it if needed

[2021-06-01 15:37] #3232 closed, assigned to nobody

[2021-06-01 16:00] marcellorinaldo commented on #3217
@MMaiero solved.

[2021-06-01 16:01] marcellorinaldo commented on #3182
@MMaiero solved.

[2021-06-02 06:28] #3217 closed, assigned to nobody

[2021-06-03 07:17] marcellorinaldo commented on #3187
@MMaiero solved.

[2021-06-03 07:19] marcellorinaldo commented on #2935
@MMaiero solved.

[2021-06-03 07:21] #2935 closed, assigned to nobody

[2021-06-03 07:21] #3187 closed, assigned to nobody

[2021-06-03 07:24] #3182 closed, assigned to nobody

[2021-06-03 08:12] pintify opened #3395 "Add BaseDbService to provided interfaces of H2DbServiceImpl"
**Is your feature request related to a problem? Please describe.**
I've created an alternative database driver in Kura for SQLite implementing BaseDbService, now I intend to track this kind of services along with currently existent H2DbService from another component via interface reference. I've referenced BaseDbService but it seems that, even though the H2DbService implements that interface, it i

[2021-06-03 10:20] pierantoniomerlino commented on #3385
@sterwen Indeed the firewall rules in the snapshot are not directly applied to the system. When a rule is filled from the webUI, this is stored in the snapshot and saved in the filesystem. However, only the ones in the filesystem are re-applied at the startup. So, if you add a rules from the snapshot, not using the webUI, it is simply lost.

I think that we'd change this behavior since the snapsho

[2021-06-08 07:26] salvatore-coppola commented on #3258
I would not change this, when the user presses backspace he aims to modify the value so trigger the validation is a right behaviour.

[2021-06-08 07:37] salvatore-coppola commented on #3262
fixed

[2021-06-08 07:37] salvatore-coppola commented on #3260
fixed

[2021-06-08 07:37] salvatore-coppola commented on #3259
fixed

[2021-06-08 07:38] salvatore-coppola commented on #3261
fixed

[2021-06-08 07:53] #3262 closed, assigned to nobody

[2021-06-08 07:54] MMaiero commented on #3261
Thanks @salvatore-coppola for checking. @LeoNerdoG I'm going to close this issue but feel free to reopen it if needed.

[2021-06-08 07:54] #3261 closed, assigned to nobody

[2021-06-08 07:54] MMaiero commented on #3259
Thanks @salvatore-coppola for checking. @LeoNerdoG I'm going to close this issue but feel free to reopen it if needed.

[2021-06-08 07:54] #3259 closed, assigned to nobody

[2021-06-08 07:54] MMaiero commented on #3260
Thanks @salvatore-coppola for checking. @LeoNerdoG I'm going to close this issue but feel free to reopen it if needed.

[2021-06-08 07:54] #3260 closed, assigned to nobody

[2021-06-08 07:56] MMaiero commented on #3258
Thanks @salvatore-coppola for checking. @LeoNerdoG I agree with Salvatore's comment. I'm going to close this issue but feel free to reopen it if needed.

[2021-06-08 07:56] #3258 closed, assigned to nobody

[2021-06-09 08:58] salvatore-coppola commented on #3192
fixed

[2021-06-09 10:15] salvatore-coppola commented on #3194
fixed forcing lowercase in inputbox

[2021-06-09 10:23] salvatore-coppola commented on #3189
Since the latest kura snapshot version, keystore paths are mandatory. Keystore password could be blank because it's not alway required.
Wont'fix.

[2021-06-09 10:43] salvatore-coppola commented on #3174
1. Already fixed.
2. Fixed.
3. Fixed.
4. Fixed.
5. Fixed.
6. Fixed.

[2021-06-09 11:00] salvatore-coppola commented on #3173
There's no more filters on that table.
Won't fix.

[2021-06-09 12:00] salvatore-coppola commented on #3171
That view is no more available, replaced by keystore modal panel.
Won't fix.

[2021-06-09 12:01] salvatore-coppola commented on #3170
Resolved

[2021-06-09 12:10] salvatore-coppola commented on #3166
Now alias is present in the unified management of certificate list.
Wont' fix.

[2021-06-09 12:23] sterwen commented on #3385
@pierantoniomerlino ok, thanks for the feedback, at least this is a clear explanation. We will look to add these rules to Linux additionally as a stop gap solution.
What about the open parts ? Like 10.234.0.0/16. That should need to be removed or is there a specific reason to authorize this BIG subnetwork.

[2021-06-09 12:53] pierantoniomerlino commented on #3385
@sterwen We're trying to fix the firewall behavior in #3396.
Regarding the 10.234.0.0, indeed, I think that can be removed.

[2021-06-09 13:40] salvatore-coppola commented on #3165
Added a warning message about the system behaviour after a certificate installation.
Fixed.

[2021-06-09 15:14] salvatore-coppola commented on #3164
The behaviour in Firefox is as expected. if the User doesn't accept to remeber the use of the certificate each time a new connection is opened, a new authorization windows is displayed.
After some requests the users is allowed to login correctly but every time a resource is requested a new windows is displayed.
Other Browsers (e.g. Edge) don't allow user to not remember the authorization.
Won't fi

[2021-06-10 07:11] marcellorinaldo commented on #3227
At the moment, we decided to keep all the wrong user configurations visualized for better awareness/security for the system administrators.

[2021-06-10 08:34] salvatore-coppola commented on #3162
Fixed, new Validator has been added.

[2021-06-10 08:41] salvatore-coppola commented on #3160
Already patched.
Won't fix.

[2021-06-10 08:42] salvatore-coppola commented on #3159
The filter is not present anymore.
Won't fix.

[2021-06-10 11:10] pintify commented on #3395
Actually, I've reviewed H2DbService and I don't see anything specific about H2 database, wouldn't it make sense integrate both interfaces or convert H2DbService to GenericDbService (or anything else)?

I comment this because I was going to implement H2DbService in my SQLite service as a workaround but I think that the method required by this interface is useful even as a final solution.

Just as a

[2021-06-11 07:43] salvatore-coppola commented on #3158
Fixed.

[2021-06-11 09:29] salvatore-coppola commented on #3155
Fixed

[2021-06-11 10:22] #3223 closed, assigned to nobody

[2021-06-11 12:47] salvatore-coppola commented on #2908
User could choose to disable all http connectors and we have to keep the possibility to do that.
We have added a warning if there are no ports defined for any connectors.

[2021-06-11 14:26] salvatore-coppola commented on #3152
Won't fix.

[2021-06-11 15:52] MMaiero commented on #3152
Can we provide a reason why we are not fixing? Is that because it's not reproducible?

[2021-06-12 06:15] MMaiero commented on #3395
Hi @pintify
I agree in having the service exposing itself as a baseDbService. It makes sense.
I cannot recall if there was a specific reason for having the h2dbservice extending the interface. Maybe some sort of specificities.
We were discussing internally and the original proposal you made seems reasonable for us and we were going to make a PR for that.
Best regards,
Matteo

[2021-06-12 06:15] MMaiero commented on #3389
Hi @zhanghenglang
any feedback on this?

[2021-06-12 06:16] MMaiero commented on #3257
Closed by #3398

[2021-06-12 06:16] #3257 closed, assigned to nobody

[2021-06-12 06:16] MMaiero commented on #3220
Closed by #3398

[2021-06-12 06:16] #3220 closed, assigned to nobody

[2021-06-12 06:16] MMaiero commented on #3222
Closed by #3398

[2021-06-12 06:16] #3222 closed, assigned to nobody

[2021-06-12 06:16] MMaiero commented on #3219
Closed by #3398

[2021-06-12 06:16] #3219 closed, assigned to nobody

[2021-06-12 06:16] MMaiero commented on #3228
Closed by #3398

[2021-06-12 06:16] #3228 closed, assigned to nobody

[2021-06-12 06:16] MMaiero commented on #3221
Closed by #3398

[2021-06-12 06:16] #3221 closed, assigned to nobody

[2021-06-12 06:17] MMaiero commented on #3224
Closed by #3398

[2021-06-12 06:17] #3224 closed, assigned to nobody

[2021-06-12 06:17] MMaiero commented on #3227
Closed by #3398

[2021-06-12 06:17] #3227 closed, assigned to nobody

[2021-06-12 06:17] MMaiero commented on #3241
Closed by #3398

[2021-06-12 06:17] #3241 closed, assigned to nobody

[2021-06-14 07:16] salvatore-coppola commented on #3152
Now after a certificate remotion, if the certificate is in the httpskeystore, a refresh in the httpservice is triggered.
Regarding the problem that the user can still access through https, it is related to the handling of JSESSIONID and @nicolatimeus and are are working on it.

[2021-06-14 11:49] #3385 closed, assigned to pierantoniomerlino

[2021-06-15 08:11] salvatore-coppola commented on #3391
[code]

[2021-06-15 08:25] salvatore-coppola commented on #3391
After a reboot:
[code]

[2021-06-15 09:06] salvatore-coppola commented on #3391
I was able to figure out the issue cause:

If some network interface (e.g. enp2s0) has the dhcp router mode then, if the user try to get a network configuration, via dhcp client, on another network interface (e.g. wlp4s0), the following things happen:

1.  the second network interface get the network configuration from the local dhcp server and not from its network.
2. `/etc/resolv.conf` files is

[2021-06-15 11:00] salvatore-coppola commented on #2945
Fixed.
Added validation on keyup and blur events.

[2021-06-15 12:51] salvatore-coppola commented on #2901
I cannot replicate the issue either. The dns & nat parameters seem to be properly saved and displayed.
Won't fix.

[2021-06-15 12:57] salvatore-coppola commented on #2900
The wireless table in not present anymore.
Won't fix.

[2021-06-15 13:02] salvatore-coppola commented on #2892
@MMaiero what about this ? Do we let the name as is now and close the issue ?

[2021-06-15 13:30] salvatore-coppola commented on #2886
Since the last version the password is resetted with a placeholder after the change of the wireless mode..
Won't fix.

[2021-06-15 13:34] salvatore-coppola commented on #2885
The table is not present anymore.
Won't fix.

[2021-06-15 13:54] salvatore-coppola commented on #2883
Added a better errore message.
Fixed

[2021-06-15 15:27] salvatore-coppola commented on #2880
Fixed, the list is cleared befor it is loaded in the grid.

[2021-06-16 10:06] salvatore-coppola commented on #3391
Removing `/etc/hostapd.conf.tmp` file seems to fix all problems...

[2021-06-16 10:28] MMaiero commented on #3391
Maybe a leftover from a previous installation?

[2021-06-16 10:46] salvatore-coppola commented on #3391
I guess it is. Speaking with @nicolatimeus he have told me that kura 4.1.2 ran with a root user.

@MMaiero i can do this test on the intel up 2 board:

1. Cleanup current kura installation.
2. Install kura 4.1.2, do some network changes.
3. Reinstall kura 5.0.0 develop.
4. See if the problem persists and in positive case, add a cleanup of tempory files in /etc to the kura installer.

Is it ok for

[2021-06-16 11:49] MMaiero commented on #3391
Sure

[2021-06-16 15:19] salvatore-coppola opened #3418 "Intel UP2 Installer doesn't copy iptables in the right directory"
**Describe the bug**
Intel UP2 Installer doesn't copy iptables in the right directory, resulting in the system totally inaccessible after a reboot.

**To Reproduce**
1. Install Kura_5.0.0 with https://ci.eclipse.org/kura/job/kura-release-candidate/lastSuccessfulBuild/artifact/kura/distrib/target/kura_5.0.0_intel-up2-ubuntu-18_installer.deb
2. Reboot system
3. Unable to access to the system on ever

[2021-06-17 10:02] salvatore-coppola commented on #3391
I can confirm the behaviour.
The problem is on all `.conf` files previously created with root as owner by KURA_4.1.2 .

[code]

[2021-06-17 16:46] spnettec commented on #3391
I have disturbed  by this problem for a long time. Thanks @salvatore-coppola

[2021-06-18 12:32] #3391 closed, assigned to nobody

[2021-06-18 13:18] salvatore-coppola commented on #2877
Fixed

[2021-06-18 13:18] salvatore-coppola commented on #2878
Fixed

[2021-06-18 14:11] salvatore-coppola commented on #2868
Added regex to validet SSID name.
Fixed.

[2021-06-18 15:34] salvatore-coppola commented on #2892
For now the field mainteins its current name.
Won't fix.

[2021-06-21 07:51] #3389 closed, assigned to nobody

[2021-06-21 09:00] MMaiero commented on #2945
I can still confirm this issue. The verification works but the "Passwords do not match" still stays there until you change focus.

[2021-06-21 09:09] #3192 closed, assigned to nobody

[2021-06-21 09:09] #3194 closed, assigned to nobody

[2021-06-21 09:09] #3155 closed, assigned to nobody

[2021-06-21 09:09] #3158 closed, assigned to nobody

[2021-06-21 09:09] #3162 closed, assigned to nobody

[2021-06-21 09:09] #3165 closed, assigned to nobody

[2021-06-21 09:09] #3174 closed, assigned to nobody

[2021-06-21 09:51] salvatore-coppola commented on #2945
I have added a password check also on keyupevent for the verify password field.

[2021-06-21 13:01] salvatore-coppola commented on #3418
Solved in #3429

[2021-06-21 13:43] #2945 closed, assigned to MMaiero

[2021-06-21 13:43] #2868 closed, assigned to nobody

[2021-06-21 13:43] #2877 closed, assigned to MMaiero

[2021-06-21 13:43] #2878 closed, assigned to nobody

[2021-06-21 13:43] #2880 closed, assigned to MMaiero

[2021-06-21 13:43] #2883 closed, assigned to nobody

[2021-06-21 13:44] #2901 closed, assigned to MMaiero

[2021-06-21 13:44] #2900 closed, assigned to nobody

[2021-06-21 13:45] #2892 closed, assigned to nobody

[2021-06-21 13:45] #2886 closed, assigned to MMaiero

[2021-06-21 13:45] #2885 closed, assigned to nobody

[2021-06-22 07:11] salvatore-coppola commented on #3387
I modified the rest api to return the following json text, @Coduz is this ok ?

[code]

[2021-06-22 11:56] #3238 closed, assigned to nobody

[2021-06-23 07:36] #3418 closed, assigned to salvatore-coppola

[2021-06-23 07:49] pierantoniomerlino opened #3437 "Kura uninstaller behavior"
**Is your feature request related to a problem? Please describe.**
When Kura is installed, it copies/modifies several configuration files in the underlying system, especially when the network version is used. Currently no backup copies of the configuration files are saved, so when Kura is removed the previous configuration is not recovered.

**Describe the solution you'd like**
There isn't a right