[2020-01-09 09:00] mstankovic opened #2616 "Unable to install package if there is a "space" in package name"
**Describe the bug**
Unable to install package if there is a "space" in package name

**To Reproduce**
Steps to reproduce the behavior:
1. Use any package and rename it - add "space" somewhere in the name
2. Try to install that package -> System / Packages / Install

**Expected behavior**
Package should be installed without errors

**Target Environment (please complete the following information):*

[2020-01-09 09:01] pierantoniomerlino opened #2617 "Pid and ExitCode simplification"
**Is your feature request related to a problem? Please describe.**
The `Pid` and `ExitCode` objects used by the CommandExecutorService are interfaces that simply wrap the pid of a running process and the exit code of a command. The `LinuxPid` and `LinuxExitCode` classes are concrete implementations of these interfaces specific for Linux. However, they essentially wrap a Integer. Since in most OS b

[2020-01-09 16:49] pintify opened #2621 "Unable to download packages via HTTPS"
**Describe the bug**
I'm unable to install packages with HTTPS.

**To Reproduce**
1. Launch Kura from Docker
2. Try to download anything with HTTPS
3. The following exception is thrown:

[code]

**Expected behavior**
Normal download and installation of the package.

**Screenshots**
The following error appears on the web:

![imagen](https://user-images.githubusercontent.com/31854894/72087097-39c220

[2020-01-09 16:55] MMaiero commented on #2621
The certificate needs to be added to the Kura keystore.

[2020-01-09 17:12] pintify commented on #2621
I've downloaded the certificate using:

[code]

And installed the output in `Settings` ->`Server SSL Certificate` with a random name. However, the error remains. How should I do it instead?

The certificate appears well created in the keystore when I consult it with

[code]

[2020-01-09 17:43] MMaiero commented on #2621
Did you try to restart the framework?

[2020-01-10 07:43] pintify commented on #2621
Actually it didn't cross my mind. Now it works perfectly. Thank you very much!

However now I've a different problem: the server also requires basic authentication and it is not working. I'll reopen #2560

[2020-01-10 07:43] #2621 closed, assigned to nobody

[2020-01-10 07:44] pintify commented on #2560
SSL issue solved, but the authentication problem remains. Is this an expected behaviour? How could basic authentication be achieved?

[2020-01-10 08:03] MMaiero commented on #2560
From a brief look that should be the format for basic authentication.
Did you try with another tool to see if that resolves correctly?

[2020-01-10 09:41] pintify commented on #2560
Exactly the same URL works with curl or wget in the same device.

[2020-01-10 10:40] pintify commented on #2560
To remove any doubt, I've created a reproducible example.

1. Launch two Kura containers, one with host network configuration:

[code]

2. Enter in http://localhost:8080/kura with default credentials.
3. Try to install a package via URL from http://admin:admin@localhost:8081
4. Receive the error:

[code]

Not that such URL could ever install anything, but the authentication should be properly achi

[2020-01-10 16:02] #2605 closed, assigned to nicolatimeus

[2020-01-10 16:28] MMaiero commented on #2560
Having a look it seems that Java APIs do not support out of the box basic authentication as encoded directly in the URL.

[2020-01-14 09:14] pintify commented on #2560
Then, how would you suggest to make this? We are interested in use this service to install from Kapua.

[2020-01-14 10:34] MMaiero commented on #2616
Made PR #2624 to fix this. @mstankovic Can you please check if this works for you?

[2020-01-14 11:17] MMaiero commented on #2560
I believe you can use the deployment feature in Kapua that should also support basic authentication. Maybe refer to that project for more info.

[2020-01-14 13:25] pintify commented on #2560
And in order to do it directly through the Kura web?

[2020-01-14 14:29] MMaiero commented on #2560
That requires a new feature in develop.

[2020-01-14 14:30] mstankovic commented on #2616
@MMaiero
I checked this PR(#2624). works for me! Thanks.

[2020-01-14 15:22] pintify commented on #2560
Sorry for the wrong closing.
The feature will be part of the Deployment Package Service and integrated from Kapua? Just to be sure before making a decision regarding the deployment procedure.

[2020-01-14 15:33] MMaiero commented on #2560
The support for basic authentication is already there via deploy-v2 in Kapus.
It is not there in the url upload from the Kura web ui. Maybe with a contribution, it can be there in the next release.

[2020-01-15 14:44] #2616 closed, assigned to MMaiero

[2020-01-16 09:08] pintify commented on #2560
Ok, I've already achieved it through Kapua with a different [configuration](https://gitter.im/eclipse/kapua?at=5e20198965837104dad12509) thanks to @lorthirk.

[2020-01-17 09:19] alebianchin opened #2626 "Asset with only write channels still calls driver.read() method"
**Describe the bug**
If you develop a driver which does not support the read method (but it does support preparedRead()),
and you create a write channel, it will still call the read method, throwing an UnsupportedOperationException.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a driver which does not support the read method
2. Create a write only channel
3. Go to the data tab.
4. See

[2020-01-17 13:11] #2617 closed, assigned to pierantoniomerlino

[2020-01-20 10:27] pintify commented on #2555
Hi, the version with Paho upgraded is included release [4.1.0](https://github.com/eclipse/kura/releases/tag/KURA_4.1.0_RELEASE) or should I use develop branch?

[2020-01-20 10:35] MMaiero commented on #2555
The Paho version in 4.1.0 and develop is the same at the moment. There is a newly released version of Paho, but it's not currently in our dependencies.

[2020-01-20 10:47] pintify commented on #2555
Great, thank you.

[2020-01-20 11:18] MMaiero commented on #2596
Hi @sterwen
why not having such plugin able to inspect all the kura log and, based on configuration, publish messages to the cloud?
I mean: if the bundle is configured to report all the error/warn messages, the bundle will inspect kura log and publish a message when such event happens.
Furthermore, based on a request from the cloud, the bundle can publish in a message or set of messages all the lo

[2020-01-20 11:20] MMaiero commented on #2013
@tafitzgerald Any progress on this topic?

[2020-01-20 13:18] #1762 closed, assigned to nobody

[2020-01-20 13:30] tafitzgerald commented on #2013
Should be finished. I'm waiting to test before creating PR.

[2020-01-21 10:27] MMaiero opened #2629 "Build and test dependencies for Kura 4.2.0"
Build and test dependencies:
- maven-checkstyle-plugin: 3.1.0

[2020-01-21 11:26] pierantoniomerlino commented on #2626
As done in the [Eddystone Driver](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.driver.eddystone.provider/src/main/java/org/eclipse/kura/internal/driver/eddystone/EddystoneDriver.java), if a driver doesn't support read operation, the `read` method should return an empty `ChannelRecord`, setting the status to failed:

[code]

Moreover, the `PreparedRead` method should return nu

[2020-01-21 14:49] #2626 closed, assigned to pierantoniomerlino

[2020-01-21 16:41] takaw opened #2632 "Eclipse Kura Installation hangs when adding maven repository"
**Bug Description**

The Eclipse Installer hangs when trying to install Eclipse Kura. The error occurs when trying to add the http://repo1.maven.org/maven2/.m2e/connectors/m2eclipse-tycho/0.9.0/N/LATEST/ repository, as that URL needs to be accessed via HTTPS as of 15. January 2020.

**To Reproduce**
Steps to reproduce the behavior (from Eclipse Kura README):
1. Start the Eclipse Installer
2. Switc

[2020-01-23 13:40] mstankovic opened #2636 "Execute command over REST API not working"
**Describe the bug**
Executing REST API command for rebooting Kura (ESF) is not working

**To Reproduce**
- Method type:
`POST`
- Method URL:
`https://api-sandbox.everyware-cloud.com/v2/devices/{DUT_CLIENT_ID}/command.xml`
- Method body:
[code]

**Expected behavior**
Command should be executed

**Target Environment:**
 - Board RG10-20
 - OS version: el12
 - Additional info: ESF 6.2.0-SNAPSHOT
 - E

[2020-01-23 16:04] #1960 closed, assigned to tafitzgerald

[2020-01-23 21:27] tafitzgerald commented on #2013
Tested and submitted PR #2631

[2020-01-24 09:53] manuelfa opened #2639 "Asset configuration reseted after uploading new channels"
"Upload Channels" causes the reset of asset configurations like the timestamp.mode

**Steps to reproduce the behavior:**
1. Go to 'Driver and Assets'
2. Select a Driver and an Asset
3. Scroll down to 'Channels'
4. Click on 'Upload Channels'
5. Choose a csv
6. Click on 'Upload'
6. At the bottom of the side you will see that your configurations is reseted.

**Expected behavior**
Kura maintains the c

[2020-01-24 13:14] alebianchin opened #2640 "Wrong link on Eclipse Download page"
The download page for Kura 4.1 doesn't work for Intel UP2 Ubuntu 16 because it redirects to a file named `kura_4.1.0_intel-up2-ubuntu-16_installer.deb`. It should be `kura_4.1.0_intel-up2-ubuntu-18_installer.deb`and the name of the download should be changed to Intel UP2 Ubuntu 18 as well.

[2020-01-24 13:37] tafitzgerald commented on #1958
Created fork that orders wire components alphabetically. I would think it helpful to indent or stack similar components to make consumer/producer families more apparent. PR soon to come.

[2020-01-24 14:25] MMaiero commented on #2632
Hello, thanks for reporting. We are looking at this.

[2020-01-24 14:38] alebianchin commented on #2639
Hi, are the configurations that get deleted already saved or are you uploading your channels before applying changes? In case of the latter it is intended to work that way.

[2020-01-27 10:51] mstankovic commented on #2636
Hi @pierantoniomerlino @MMaiero
I checked PR #2638 and verified that issue is fixed!
Thank you!

[2020-01-27 14:54] leandrofabior commented on #2632
I had this error too!

[2020-01-27 14:59] leandrofabior commented on #2632
I found the problem.
The instalation is call maven using http but it is not support on maven

![image](https://user-images.githubusercontent.com/6151744/73185064-2c74a680-40fc-11ea-9f58-54b6bad687c8.png)

[2020-01-27 15:01] manuelfa commented on #2639
Yes, I saved the configurations before uploading the channels

[2020-01-27 17:21] leandrofabior commented on #2632
@MMaiero,
You need to change the line 90 to https on  kura.setup file.
![image](https://user-images.githubusercontent.com/6151744/73197492-238dd000-4110-11ea-909e-32c5979194d1.png)

[2020-01-28 09:07] #2636 closed, assigned to nobody

[2020-01-29 09:42] pierantoniomerlino opened #2645 "The command in IwCapabilityTool is wrong"
**Describe the bug**
The command launched by the `IwCapabilityTool` currently is `iw phy 0 info`, but is should be `iw phy0 info`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Kura with wifi configured as access point
2. See the following error on `kura.log`:
[code]

**Expected behavior**
No errors on the log file.

**Target Environment (please complete the following information):**

[2020-01-29 11:16] #2013 closed, assigned to tafitzgerald

[2020-01-29 13:43] #2645 closed, assigned to pierantoniomerlino

[2020-01-29 14:31] MMaiero opened #2647 "Review Rock960 support"
The Rock960 board seems to not have sufficient support from the community.

I would like to propose since now there is an AARCH64 Ubuntu distribution for Raspberry Pi, to investigate the feasibility of a profile for AARCH64 based on raspberry pi 3 or 4.

[2020-01-29 14:32] MMaiero commented on #2647
@tafitzgerald Do you have time to have a look at this and prepare a draft profile that we can review and test?

[2020-01-29 14:55] tafitzgerald commented on #2647
Yes, I can start while working issue #1958

[2020-01-30 08:41] alebianchin opened #2649 "Rock960 snapshot0 doesn't enable https"
**Describe the bug**
In the Rock960's `snapshot0.xml` there is no configuration for the HttpService, therefore https is not enabled by default, unlike all other distributions.

**Expected behavior**
The `snapshot0.xml` should contain the HttpService configuration, so it will be aligned with the other distributions.

[2020-01-30 13:02] #2602 closed, assigned to alebianchin

[2020-01-31 09:31] #2649 closed, assigned to alebianchin

[2020-01-31 10:19] iacco opened #2654 "Asset Write confirmation message has typos"
**Describe the bug**
Upon manually writing values on the assets, in the confirmation box there are some typos

**To Reproduce**
Steps to reproduce the behavior:
1. Instantiate an asset
2. Instantiate at least one write channel on the asset
3. Write a value in the Value box and press Write
4. See error, in the confirmation box the text is "Are you sure you want to write **modfied** channels **vaule

[2020-01-31 11:05] #2654 closed, assigned to nobody

[2020-01-31 14:04] leandrofabior opened #2658 "OPC-UA DRIVER - Return a String Array"
---
name: OPC-UA DRIVER - Return a String Array
about: I found a simple solution to return a StringArray from OPC UA.

---

**Is your feature request related to a problem? Please describe.**
My project need to process a StringArray from a OPC UA Server, I found a way to read it.

**Describe the solution you'd like**
On the DataTypeMapper class I insert the following code the map function.
![image]

[2020-01-31 14:35] leandrofabior opened #2659 "OPC-UA DRIVER - node.id is too small"
**Is your feature request related to a problem? Please describe.**
Some OPC-UA node names are too big to for the field, it makes reading difficult. The original field is smaller the 5 chars.
This is a sample on a node.id of a device from Altus:
`|var|XP300.Application.OPC_R.OPCUA_TAG`

**Describe the solution you'd like**
The ideal is that field (org.eclipse.kura.core.configuration.metatype.Tad) h

[2020-01-31 15:11] leandrofabior opened #2661 "Oomph installer - mvn needed to be installed"
**Describe the bug**
The mvn, higger than 3.3, needs to be installed on the machine to buid project correctly

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Oomph installer'
2. Do all the steps
3. The maven build process will return error because maven is not installed.
4. It's not possible to build without Eclipse. Using git/kura/build-all.sh

**Target Environment (please complete

[2020-02-04 09:09] MMaiero commented on #2658
@alebianchin Can you have a look at this issue?

[2020-02-04 09:09] MMaiero commented on #2659
@alebianchin Can you have a look at this issue?

[2020-02-04 09:12] MMaiero commented on #2639
@manuelfa we tried to reproduce the issue but, unfortunately, we couldn't confirm it.

Could you please provide us with more details, maybe the configuration you are using so that we can double-check?

[2020-02-04 09:15] nicolatimeus commented on #2659
Hi @leandrofabior, can you please try a Kura version built from the current develop branch? The changes introduced by PR [1] should allow you to manually resize configuration table columns.

[1] https://github.com/eclipse/kura/pull/2492

[2020-02-04 11:09] MMaiero commented on #2658
@leandrofabior Can you please have a look at the PR and provide comments on that?

[2020-02-04 14:38] #2488 closed, assigned to nobody

[2020-02-04 15:43] #1932 closed, assigned to nobody

[2020-02-04 16:28] leandrofabior commented on #2659
HI @nicolatimeus i will that, It's a good solution too.
Thanks!

[2020-02-05 03:30] eavelardev commented on #2661
Solution in process for Kura 4.2.0 #2643

[2020-02-05 09:04] #2601 closed, assigned to alebianchin

[2020-02-05 11:05] MMaiero commented on #2560
@alebianchin Can you take care of this enhancement in local web UI?

[2020-02-05 15:22] #2658 closed, assigned to nobody

[2020-02-05 15:23] #2659 closed, assigned to nobody

[2020-02-05 19:24] sebascarra opened #2671 "Minimum Kura build"
Hi everyone.

I am in an enterprise environment where I'm having issues procuring certain Kura's dependencies and plugins because of their vulnerabilities, which we will have to find a workaround for.

As a good starting point, we would like to focus on those components that are mandatory to build a Kura gateway. For the moment all the devices that will be linked to a Kura gateway will be TCP/IP d

[2020-02-05 19:27] sebascarra opened #2672 "Kura community on Slack/Gitter or similar site"
Hi everyone. Does Kura have a community of developers on something like Slack or Gitter (such as Kapua's on https://gitter.im/eclipse/kapua)???

I need to post several questions regarding changing some of Kura's dependencies and leaving out certain modules that we might not be able to build in a restricted environment.

I need to find an active community of Kura developers where we can discuss thi

[2020-02-06 15:58] manuelfa commented on #2639
I tried to reproduce it with the "normal" kura version but the bug appears too
Here is what i did:

1) Selected SINGLE_ASSET_GENERATED and applied
![1a](https://user-images.githubusercontent.com/60254601/73953220-631e9e00-4900-11ea-8221-da84ce5ab7e2.jpg)

2) Click on "Upload Channels", select file, check "Replace current channels", click on "Upload"
![2a](https://user-images.githubusercontent.com/

[2020-02-07 08:20] MMaiero commented on #2672
Hi @sebascarra,
we don't have a Slack or Gitter but you can use the developers mailing list or the Kura forum to post your questions.
Best regards,
Matteo

[2020-02-07 11:32] sebascarra commented on #2672
Thanks, I have posted a question. Expecting to get a shed of light soon :)

[2020-02-07 14:50] MMaiero commented on #2639
@manuelfa Thank you for the prompt response. That's definitely a bug.

Thank you for reporting.

[2020-02-07 16:38] MMaiero opened #2673 "CommandStatus should be bound to the executed command"
There should be a way to understand from the CommandStatus the command that originated the execution in the executor service.

[2020-02-08 16:49] MMaiero commented on #2671
Hi @sebascarra,
to build Kura from source you can use the script available here: https://github.com/eclipse/kura/blob/develop/build-all.sh
Out of the box, you can choose to build Kura with or without Can support.
If you need to manage what you want to build for your special case, you'll have to change and adapt the pom files.

To build the docker container you can use the instructions available he

[2020-02-08 16:49] #2672 closed, assigned to nobody

[2020-02-09 17:21] jameel89 opened #2674 "Eclipse kura on raspberry pi"
I installed eclipse kura on raspberry pi but getting the problem. It is not getting start
 Loaded: loaded (/etc/init.d/kura; generated)
   Active: active (exited) since Sun 2020-02-09 22:34:15 IST; 8min ago
     Docs: man:systemd-sysv-generator(8)
  Process: 399 ExecStart=/etc/init.d/kura start (code=exited, status=0/SUCCESS)

Feb 09 22:34:15 raspberrypi systemd[1]: Starting LSB: Kura initscript..

[2020-02-09 19:30] MMaiero commented on #2674
Hello,
do you see any log in /var/log/kura.log?

[2020-02-10 04:41] jameel89 commented on #2674
Yes I am attaching the kura.log an
![IMG_20200210_100222](https://user-images.githubusercontent.com/60852436/74121466-a4a79580-4bed-11ea-82ea-12e3308052cc.jpg)d kura-console.log

![IMG_20200210_100055](https://user-images.githubusercontent.com/60852436/74121454-9e191e00-4bed-11ea-8e40-fe86030f2e88.jpg)

[2020-02-10 08:23] MMaiero commented on #2674
Hi,
I believe you are trying to run Kura with a JVM later than version 8.
As of now, Kura is only compatible with Java 8.

Best regards,
Matteo

[2020-02-10 08:33] jameel89 commented on #2674
Thanks for your reply.

On Mon, 10 Feb 2020, 1:53 pm Matteo Maiero, <notifications@github.com>
wrote:

[2020-02-10 08:47] #2674 closed, assigned to nobody

[2020-02-10 08:51] jameel89 commented on #2674
Can we install kura on rasbean buster and rasbean full

[2020-02-10 08:52] MMaiero commented on #2674
Yes.
As pointed out in the official documentation, the strict requirement we have is in running on Java 8

[2020-02-10 16:37] jameel89 commented on #2674
Kura Started (pid=355) ...
Whats this

[2020-02-10 16:38] MMaiero commented on #2674
I'm sorry, but I don't understand your comment.
Can you provide more context?

[2020-02-10 17:37] jameel89 commented on #2674
Eclipse kura is running on my monitor, but wlan0 as configured in dhcp for static address is not available. I can only use internet through eth0 cable. wlan0 is not showing. If i see ifconfig again there is no ip address shown. The two lines representing internet status at the top are also showing two red cross

[2020-02-10 18:55] jameel89 commented on #2674
I mean can we run kura on wlan0. I am not getting kura on wlan but it's
working fine on ethernet cable.

On Mon, 10 Feb 2020, 10:08 pm Matteo Maiero, <notifications@github.com>
wrote:

[2020-02-10 19:23] MMaiero commented on #2674
By default, Kura should set wifi in access point mode. You should be able to see a new SSID if you perform a scan with your PC.
You can change this by simply logging into the Kura web UI and change the network configuration.

[2020-02-12 16:33] jameel89 commented on #2674
After installing kura, I am not able to use putty for the raspberry pi. How can I use putty or vnc.

[2020-02-12 16:52] MMaiero commented on #2674
Putty should be usable since Kura sets the gateway in dhcp mode: the gateway should receive an IP and you should be able to access it using that IP.
No idea about vnc, but the principle should be the same.

[2020-02-12 16:57] MMaiero commented on #2671
@sebascarra Can this issue be closed?
Any feedback you want to share?

[2020-02-12 17:01] jameel89 commented on #2674
How the gateway receive an ip address.

On Wed, 12 Feb 2020, 10:22 pm Matteo Maiero, <notifications@github.com>
wrote:

[2020-02-12 17:25] jameel89 commented on #2674
Thanks to you. I connected it through putty and vnc. But when I unplud ethernet cable raspberry is no longer work on putty and vnc. Is it mandatory to always connect R.Pi (kura installed) to the ethernet cable for the internet.

[2020-02-12 17:41] jameel89 opened #2676 "Eclipse Kura and Eclipse Unide (Production Performance Management Protocol)"
How can we use Eclipse unide (Production Performance Management Protocol) with kura.

[2020-02-12 18:18] MMaiero commented on #2674
It obviously depends on the network configuration you have defined in Kura.
If you choose, you can also connect to the Internet using wifi. You just simply need to configure your desired setup using the networking section in the Kura web UI.

[2020-02-12 18:21] MMaiero commented on #2676
We never tried out that. So, it probably needs some adaptation and integration work.

For future questions, that are not directly issues, I would suggest you to use the [Kura forum](https://www.eclipse.org/forums/index.php/f/273/). Maybe there, having a wider audience can provide you more feedback.

[2020-02-13 09:20] #2632 closed, assigned to nobody

[2020-02-13 09:21] pierantoniomerlino commented on #2632
We should update also the Kura documentation about the Oomph installation procedure.

[2020-02-13 12:40] #2673 closed, assigned to pierantoniomerlino

[2020-02-14 10:51] #1958 closed, assigned to tafitzgerald

[2020-02-14 14:45] #2676 closed, assigned to nobody

[2020-02-14 14:45] #2671 closed, assigned to nobody

[2020-02-14 14:46] #2661 closed, assigned to nobody

[2020-02-15 15:28] jameel89 commented on #2674
I installed eclipse kura on raspberry pi. What is the procedure to connect the sensors with the R.PI(Kura) and collect the data. How can I write the code for any iot application. How to deploy the package in Kura

[2020-02-15 16:48] jameel89 commented on #2674
Is there any end to end iot system using Eclipse paid training available.

[2020-02-15 19:28] MMaiero commented on #2674
Hi,
to learn how to use and develop on Kura you can use the official documentation available here: http://eclipse.github.io/kura/
This is an open source project. If you want support or training you have to refer to the companies that are basing their commercial products on the Eclipse Kura codebase.

[2020-02-18 09:49] MMaiero commented on #2640
Fixed upstream in Kura Website

[2020-02-18 09:49] #2640 closed, assigned to MMaiero

[2020-02-20 06:19] jameel89 commented on #2674
I connected temperature sensor to kura. Now where can I see output on kura.

On Sun, 16 Feb 2020, 12:58 am Matteo Maiero, <notifications@github.com>
wrote:

[2020-02-20 08:29] MMaiero commented on #2674
I'm sorry, but there is not enough context to provide you with some help.

[2020-02-20 08:50] alebianchin opened #2679 "One of two CloudConnections sometimes fails to connect and never tries to reconnect"
**Describe the bug**
If you have two different CloudConnections sometimes at startup one of them can't connect and throws this Exception :
[code]

**To Reproduce**
It is not easy to reproduce this issue since it rarely happens.
Steps to reproduce the behavior:
1. Create two CloudConnections
2. Create a WireGraph with two publisher using each of the Connection
3. Reboot
4. Sometimes you will see th

[2020-02-20 10:55] jameel89 commented on #2674
I made a system using eclipse kura wires. I also made the circuit and
connected the sensors. But as I am getting data from sensors. How can I
view the data. Do I need to connect cloud.

On Thu, 20 Feb 2020, 1:59 pm Matteo Maiero, <notifications@github.com>
wrote:

[2020-02-20 11:07] MMaiero commented on #2674
If you are using an asset, you can see the data in the "data" section of the corresponding asset.
Using plain wires, you can plug a logger and connect the data stream to the logger to see the data flowing.

[2020-02-24 06:27] jameel89 commented on #2676
I installed kura in raspberry pi. Connected sensors. Now I am unable to
connect to the cloud. Please help

On Fri, 14 Feb 2020, 8:15 pm Matteo Maiero, <notifications@github.com>
wrote:

[2020-02-24 06:42] aamirusman0 opened #2681 "Cloud connection"
I am unable to connect to the cloud

Unknown.lh(denali-0.js)
--
Unknown.new luc(denali-0.js)
Unknown.quc(denali-0.js)
Unknown.Geb(denali-0.js)
Unknown.Ceb(denali-0.js)
Unknown._cb(denali-0.js)
Unknown.Idb(denali-0.js)
Unknown.es(denali-0.js)
Unknown.rs(denali-0.js)
Unknown.eval(denali-0.js)
Unknown.Wh(denali-0.js)
Unknown.Zh(denali-0.js)
Unknown.eval(denali-0.js)

[2020-02-24 08:39] LeoNerdoG commented on #2681
Hi @aamirusman0,
this happens to me every now and then because one of the following reasons:
 - the IP address I type for the Cloud is not correct
 - the cloud's broker is not working properly, although IP is OK.
 - Username or Account name is not present in the cloud or there is a syntax mistake
 - Password is wrong (this happens most often on my side)

Try to reboot the device if possible and ch

[2020-02-24 08:43] MMaiero commented on #2676
I'm sorry, but once again there is no sufficient detail to understand what is the issue and how to suggest a proper solution.

Where are you trying to connect to?
What is the configuration?

Best regards,
Matteo

[2020-02-24 08:45] LeoNerdoG commented on #2676
Hi @jameel89,
as commented in one of the newest issue I would try the following (these are "generic" steps that you should always check before posting an issue):

 - the IP address I type for the Cloud is not correct
 - the cloud's broker is not working properly, although IP is OK.
 - Username or Account name is not present in the cloud or there is a syntax mistake
 - Password is wrong (this happe

[2020-02-25 14:42] #2679 closed, assigned to nobody

[2020-02-27 07:36] iacco opened #2682 "Kura docker container over Alpine Linux"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
This feature request is for the creation of a lightweight Kura docker image, based on Alpine Linux instead of CentOS, in order to shrink to the bare essential the image.

**Describe alternatives you've considered**
None

**Additional context**
None

[2020-02-28 15:10] LeoNerdoG opened #2684 "Default Cloud Conneciton Missing When Rolling Back to "0" Snapshot"
If user rolls back to seeded snapshot ("0" snapshot), the default Cloud Connection is missing (see screenshot bellow). Reload does not help, user has to restart the device entirely in order to get the default cloud connection.

**Testflow:**
1. Go to Cloud Connections, enter all the necessary information for cloud connection (local Kapua in my case).
2. Connect the device to Kapua
3. Go to Setting

[2020-02-28 15:12] LeoNerdoG opened #2685 "Cloud Publisher Name and Example Publisher Name Cannot be the Same"
If you want to create example publihser with name "publisher1" everything is fine.
But if you want to create Cloud publisher with the same name, Kura returns an error (and vice versa).
Is this OK? I guess there can be same names for Publisher Service and Cloud publisher.

**Testflow:**
1. Login to Kura with admin/admin credentials
2. Install Example Publisher package with name "publisher1"
3. Go t

[2020-03-02 13:42] LeoNerdoG opened #2686 "Buttons in Cloud Connection Still Active Although Nothing Selected"
If you select a cloud coneection in the Cloud Connection Service, all the buttons are activated ("New Connection, "New pub/sub", "delete", "Connect/disconnect", "Refresh") but if you deselect a cloud connection, only "New pub/sub" and "connect/disconnect" buttons get disabled instead of all.
So if you now press "Delete", the delete prompt shows, and you can actually click "Yes", but nothing happen

[2020-03-04 12:52] LeoNerdoG opened #2687 "Cloud Connection PID Field Not Limited"
Cloud Connection PID field is not limited, which can cause some unpleasant user experience.

**Testflow:**
1. Login as admin/admin into Kura
2. Go to Cloud Connections, click on "+ New Connection" an enter very long cloud connection PID (more than 100k characters)
3. Cloud connection gets created, but the user experience is really not good

**Expected behavior**
Cloud Connection PID field should b

[2020-03-04 12:53] LeoNerdoG opened #2688 "Kura Reports an Error When User Clicks "Cancel" at New CloudConnection Creation"
If user clicks on "+ New Connection" in Cloud Connections and clicking Cancel without entering anything in PID section (just clicking on it), kura returns an error that PID field cannot be empty, which is not OK, since user has pressed "Cancel" anyway.

**Testflow:**
1. Login as admin/admin into Kura
2. Go to Cloud Connections, click on "+ New Connection" and without populating the "PID" field (ju

[2020-03-05 12:26] mstankovic opened #2689 "Cloud Connection is disconnected when I try to connect second connection"
**Describe the bug**
Configure Cloud connection and connect it to the cloud - mqtt protocol (im using "mqtt://broker-sandbox.everyware-cloud.com:1883"). After that create second connection with ws protocol (ws://broker-sandbox.everyware-cloud.com:8080) and try to connect to the cloud. The first one is automatically disconnected. If you recreate this with reverse order it will not disconnect.

**To

[2020-03-05 14:52] MMaiero commented on #2689
Are you defining different client ids for the two connections?

[2020-03-06 08:17] mstankovic commented on #2689
No, I am using the same client id for both connections.

[2020-03-06 08:21] MMaiero commented on #2689
That is the problem. Have a look at "stealing link"

[2020-03-06 08:25] mstankovic commented on #2689
I got it! Thank you. Checked and verified - able to connect to the same broker with different client ids.
Closing this one.

[2020-03-06 08:25] #2689 closed, assigned to nobody

[2020-03-09 10:10] LeoNerdoG opened #2690 "Wrong Error Message When Trying to Create Wire Component With Invalid Name"
When trying to create a wire component that contains invalid symbols, Kura only returns error message ("Must be a valid service.pid") without any additional information regarding the symbols that can be in the wire component name.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wires, try to create a wire graph component with symbols that are not permitted
3. Observe the error message

**E

[2020-03-09 10:10] LeoNerdoG opened #2691 "Some Wire Components Not Transparent"
Some of the wire components in Wire graph service have transparent background and some do not - is this done on purpose?
Transparent background:
 - Camel Consumer
 - Timer
 - Logger

Non_transparent background:
 - All others

**Tesflow:**
1. Login to Kura as admin/admin
2. Go to Wires, try to create a wire component with name that has 10k+ characters
3. Observe the behaviour

**Expected behavior**

[2020-03-09 10:10] LeoNerdoG opened #2692 "Re-organization of Wire Graph Not Ideal"
if user creates a wire graph that has components that are overlaping one another, saves the graph, goes to e.g. Packages and then returns, the wire graph is rearranged so none of the componentes are overlapping. This is somehow OK, but the rearragement is not ideal, as you can see from the screenshots. And this is only with couple of components.
Can we upgrade this so the components are rearranged

[2020-03-09 10:10] LeoNerdoG opened #2693 "Kura Centers Wire Graph on First Created Item Uppon Return"
If user changes views from Wire graph to something else and then returns, the focus on wire graph is on the first created item and not on the graph as whole.
This should be changed, since it has no sense to have focus on one element, if you have a big wire graph.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wires, create several wire components, connect some of them
3. Go to "packages"

[2020-03-09 10:10] LeoNerdoG opened #2694 "Kura Centers Wire Graph on First Created Item Upon Return to Wire Service"
If user does something and then clicks "Reset", the focus on wire graph is on the first created item and not on the graph as whole.
This should be changed, since it has no sense to have focus on one element, if you have a big wire graph

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wires, create several wire components, connect some of them
3. Go to "packages" or any other service and th

[2020-03-09 10:10] LeoNerdoG opened #2695 "Component Names in Wires Not Limited"
Component names in wires are not limited, which can cause browser to stop responging or crash.
I suggest this gets limited to e.g. 255 characters, because this is more than enough to set a proper name for a component.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wires, try to create a wire component with name that has 10k+ characters
3. Observe the behaviour

**Expected behavior**
Compo

[2020-03-10 08:21] LeoNerdoG opened #2696 "Component Name Inteferes With Wire Graph Border"
When user creates a wire component and clicks on it to see its parameters, the component name interferes with the wire graph borders (see screenshot bellow). This happens for all components. I suggest that the bottom window gets moved down a bit.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph, create a component (e.g. Camel Publisher)
3. Select the newly created component and o

[2020-03-10 08:21] LeoNerdoG opened #2697 "Colouring Componets That Are in Error State"
if user has several dozens components in wire graph, it can get hard to track down the one, that is in error state (if any of the components has faulty parameters, you cannot save the configuration, which is OK).
I suggest that wire graph marks the components that have invalid configuration, when user is trying to save it (e.g. changing the box or text colour etc.).

**Testflow:**
1. Login to Kura

[2020-03-10 08:21] LeoNerdoG opened #2698 "Only Half of UI in "Disabled" View When Adding New Components"
if user minimizes Kura UI to a minimum, tries to create a new Wire component and then upscales the UI back to "normal" parameters, only half of it is black - "disabled". Items still cannot be clicked, but it looks strange (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Resize the browser window to almost minimal size (Sceenshot No. 1)
3. Navigate to Wire graph, click on

[2020-03-10 08:21] LeoNerdoG opened #2699 "Floppy Disk Symbol in "OK"/"Add" Button When Adding New Wire Graph Component or New Channel"
When adding new wire graph component, there is a floppy disk symbol next to it (see screenshot bellow), but this is not unified with the rest of the UI - only when adding new channel in "Drivers and Assets" there is a floppy disk symbol next to "Add" button, all other buttons do not have any symbol.
I suggest this gets changed so the whole UI will get a unifying look.

**Testflow:**
1. Login to Ku

[2020-03-11 07:37] LeoNerdoG opened #2700 ""Download Channels" Button Disabled in Wire Graph"
If user creates a wire graph asset and adds at least one channel to the asset, the "Download Channels" button is disabled until user click "Apply". is this normal behaviour or should "Download Channels" button be activated immediatelly after you create at least one channel (like "Delete channel" button is activated)?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to packages, install [Wires

[2020-03-11 07:37] LeoNerdoG opened #2701 "Assets And Drivers Can be Deleted From Wire Graph?"
if user creates an asset from Wire graph (driver already present), there are no problems, the asset shows in "Drivers and Assets" under the specified driver.
But if user deletes the asset from wire graph, it is also deleted from the driver itself - is this behaviour normal? Because if user creates an asset in "Drivers and assets" view and then adds this asset into the graph, when graph (or compone

[2020-03-11 07:49] LeoNerdoG opened #2702 "Error Message For Long Item Names Not Displayed Properly"
When trying to create an item with a long non-unique name Kura reports a warning, which is Ok, but the text is not properly shown 'see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to e.g. Wire Graph and try to create an asset with the same long name as its driver
3. Observe the error message

**Expected behavior**
Error message should be properly formatted.

**Screensho

[2020-03-11 08:05] MMaiero commented on #2701
Hi @LeoNerdoG,
can you please provide reference about the Kura version you have currently under test?
I believe we had such discussion in the issues not long ago and a fix was provided.

Matteo

[2020-03-11 08:23] LeoNerdoG commented on #2701
Hej @MMaiero,
I am testing the latest 4.1.0 release that can be found [here](http://www.eclipse.org/downloads/download.php?file=/kura/releases/4.1.0/kura_4.1.0_raspberry-pi-2-3_installer.deb).

[2020-03-11 08:31] MMaiero commented on #2701
Ok, for this specific issue, I would ask to give a try to 4.2.0-SNAPSHOT. It should contain some fixes for this item here.

[2020-03-11 08:32] LeoNerdoG commented on #2701
Ok I will try with the specified version and report back.

[2020-03-11 10:03] LeoNerdoG opened #2703 "Wrong Description in "Timer" Wire Component"
When creating a timer wire component, there is a description above "simple.interval" field, which says: "Interval of the timer ticks, in the time unit specified by the simple.time.unit property (Needs to be set if SIMPLE type is selected)"
The problem is in part "(Needs to be set if SIMPLE type is selected)" which is clearly not true, since this field has to be set in every case, since it is a man

[2020-03-11 10:03] LeoNerdoG opened #2704 "CRON Interval Field Not Validated Properly in Wire Graph"
When selecting "CRON" tye of interval in timer wire component, there is not validation for CRON field, user can write literally anything into it and Kura will accept it. Validation of this field is necessarry.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph, create a timer wire component (e.g. timer1)
3. Select timer1, select "CRON" type and type anything into the "cron.interval

[2020-03-11 15:32] srware opened #2705 "HCI 5.0 / Extended Advertising support"
Bluetooth adapters which support HCI 5.0 and extended advertising do not work with the current BluetoothLEBeacon implementation with newer Linux kernels and Bluez versions. This is because the current implementation is using deprecated command-line tools (hcitool and hcidump). The Bluetooth 5.0 spec states that if a card supports extended advertising this will be used by default which means legacy

[2020-03-12 09:23] MMaiero commented on #2705
@pierantoniomerlino Can you have a look at this and estimate a feasibility plan?

[2020-03-13 15:26] pierantoniomerlino commented on #2705
@srware Thank you for the issue report and the suggestion. I agree that the both `hcitool` and `hcidump` are deprecaded in favor of more modern commands like `bluetoothctl`.

I also agree with your solution, but Kura uses TinyB [1] to manage BLE devices (that is based on Bluez DBus API). So, to kickoff a beacon scan or advertising we'd modify the underlying library. Unfortunately, TinyB currently

[2020-03-16 11:26] LeoNerdoG opened #2706 "Behaviour Not as Expected When Trying to Install a Package Without a Name"
If user does not specify a file to upload and presses "Submit" button, Kura reports a warning, which is weird, becasue in cases like this Kura returns an error, not warning.
Second, Kura closes the "Install/uplaoad" view and shows another info box where the warning is printed.
I think that behaviour here should be the same as for all other views - if user does not specify a file to upload, the ent

[2020-03-16 11:26] LeoNerdoG opened #2707 "Last Package Stays Selected, Although it has Been Deleted"
When user deletes a package from Kura, it somehow stays selected and if user clicks "uninstall" button again, Kura user if he is sure he wants to delete this package (although package has been successfully uninstalled previously).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to packages, install Example Publisher package if not yet instaleld
2.1. This package should be the only one
3. Sele

[2020-03-16 11:26] LeoNerdoG opened #2708 "Vertical Line Moving When Clicking on "InstallUpgrade" Button in packages"
If user clicks on "Install/Upgrade" button in Packages, the whole vertical line moves a bit to the right as it would "compensate for something", although there is enough room for all the UI elements.
After the windows is closed, everything moves back.
This is not a serious bug, but I think it should be fixed, as it can get annoying (see GIF bellow)

**Testflow:**
1. Login to Kura as admin/admin
2.

[2020-03-16 11:26] LeoNerdoG opened #2709 ""Copyright" Footer Covers Installed Packages And All Other Content"
If user narrows the browser window vertically, the "Copyright" footer covers the packages list (and all other lists as well).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, install several packages
3. Narrow the browser window vertically (see screenshot bellow)
4. Observe the "Copyright" footer that covers packages list

**Expected behavior**
Footer should never cover anything r

[2020-03-20 14:17] nicolatimeus opened #2710 "Investigate PreparedRead thread safety"
The `PreparedRead` Javadoc reports that:

[code]

The Javadoc above assumes that the `PreparedRead` is used by a single thread.
This is not the case for the typical Driver client, that is the Asset.
For example an Asset can be used by more than one thread in a Wire Graph, by the Web UI, by the Asset Cloudlet and possibly by other user applications.

Moreover, concurrency inside BaseAsset has been

[2020-03-23 22:06] #2682 closed, assigned to nobody

[2020-03-24 14:56] LeoNerdoG opened #2712 "Cannot Create Cloud Connection With the Default Name"
If you delete the default CloudConnection "org.eclipse.kura.cloud.CloudService", you cannot create it again (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Cloud Connections, delete the default cloud connection
3. Try to create a cloud connection with same name as the deleted one had
4. Kura returns an error.

**Expected behavior**
If you delete the default cloudCo

[2020-03-24 15:06] LeoNerdoG opened #2713 "No Notification if User Drags and Drops Non-Kura-Package File"
If user drags and drops a quasi package file (not a real package file) into the Package Deployment screen, nothing happens - but Kura should at least notify the user that nothing is going to happen.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to package Deployment and drag-and-drop a file into it (a non package file)
3. Observe the behaviour - nothing happens.

**Expected behavior**
Kura

[2020-03-25 10:49] LeoNerdoG opened #2714 "Clickable Text in "Install/Upgrade Package" Dialogue Box"
When user opens "Install/Upgrade Package" window and clicks on "No file selected", this acts the same way as if user would click on the "Browse" button itself - is this the expected behaviour or not? Because it can be confusing for some users if they are not expecting this.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, click on "+ Install/Upgrade" button
3. Click on "No file se

[2020-03-25 10:49] LeoNerdoG opened #2715 "Why is There a "Refresh" Button in Package Deployment?"
In Package Deployment we have three buttons, Install, Uninstall and Refresh, but the latter one is not used at all, since the list gets refreshed when you install/uninstall a package anyway.
Is there really need for the refresh button here?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Package Deployment and try to install/uninstall a package
3. Observe the automatic refresh of the list

[2020-03-25 10:49] LeoNerdoG opened #2716 "No Icons for Some of the Buttons in UI"
There are some buttons in the UI that don't have icons in them as others buttons do.
 - Reset button in Devices -> Command
 - Exceute button in Devices -> Command
 - Renew DHCP Lease in Network

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Devices -> Command and observe the Reset annd Excecute buttons - there are no icons in them
3. Go to Network, observe the Renew DHCP lease - there is

[2020-03-25 12:35] LeoNerdoG opened #2717 ""Reset" Button Resets all the Fields in Settings?"
This is more a question than it is an actual issue.
If user enters something into varius fields in SSL Configuration, Server SSL Certificate and Device SSL Certificate and then presses "Reset" button, everything gets reset. I suggest that every view would have a different reset button, because user can do seomething in one field and want sto reset this, butthe side effect is that everything else g

[2020-03-25 12:35] LeoNerdoG opened #2718 "SSL Configuration Gets Saved Although User Does Not Save Them"
If user changes something in "ssl.default.trustStore" and then changes the view without saving the changes in this field, the changes are still there when you return.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Settings, click on SSL Configuration, change value of ssl.default.trustStore field
3. Without saving it change view to something else (e.g. Devices)
4. Change view back to Setti

[2020-03-25 13:27] LeoNerdoG opened #2719 "SSL Fields Stay in Error State Although Fields Reset"
Although user resets all the fields or changes the views without saving changes, all the fields are marked red.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Settings -> try to change anyt of the SSL fields
3. After you enter something in the fields, erase it and press Reset
4. Observe the fields that are marked in red

**Expected behavior**
After the Reset button is pressed, all the fie

[2020-03-25 13:39] LeoNerdoG opened #2720 ""Rollback" Button Enabled Although Nothing Selected"
When user navigates to Settings -> Snapshots, the Rollback button is enabled and clickable, but nothing happens when clicked becasue nothing is selected.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Settings -> Snapshots
3. Without selecting anything, try to click Rollback button
4. Observe how nothing happens

**Expected behavior**
Rollback button should be disabled if nothing is selec

[2020-03-26 13:26] LeoNerdoG opened #2721 "No Error if "SSL.default.cipherSuites" in Wrong Format"
Under the SSL.default.cipherSuites title there is a description "Comma-separated list of allowed ciphers..." but there is no verification of the field (user can enter literally anything and Kura will accept it).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Settings -> SSL.default.cipherSuites and try to enter anything
3. Click Apply and observe how Kura does not check the field.

**Expe

[2020-03-26 13:26] LeoNerdoG opened #2722 "Generic Undescriptive Error When Trying to Save Invalid Server SSL Certificate Parameters"
If user wants to save invalid parameters to "Storage Alias" and "Certificate" in SSL Certifcae Parameters, Kura throws an error, which is OK, but there is basically no information about what is exactly wrong (see screenshot bellow). I suggest that the warning error gets enhanced a bit so end-user would have a clue what to change. Also the critical fields are not in red as they should be.

**Testfl

[2020-03-26 13:26] LeoNerdoG opened #2723 ""Stop Bundle" Button Enabled Although Nothing Selected"
If user selects a bundle in Devices -> Bundles, the bundle is successfully stopped, but the Stop Bundle stays active, so it can be clicked. Nevertheless,

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Device -> Bundles -> select an active bundle (e.g. example publisher) and stop it
3. Observe the Stop bundle button - it is still active.

**Expected behavior**
Stop Bundle button should be

[2020-03-26 13:50] LeoNerdoG opened #2724 "Apply Button Always Enabled in Network"
If you navigate to Network tab, you will see that the Apply button is always enabled, although user does not change anything, which is not the desired behvaiour.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network, without changing anything try to press Apply button
3. Apply button is clickable, and it looks like Kura saves something, but really doesn't.

**Expected behavior**
Apply bu

[2020-03-26 14:05] LeoNerdoG opened #2725 "Different Pop-up Windows for Warnings"
There are several different pop-ups for Warnings, some are light yellow, some are red - I suggest this gets unified (see screenshots bellow).

**Testflow No. 1:**
1. Login to Kura as admin/admin
2. Go to Firewall service
3. Try to create a duplicate entry (try to open a port that is already opened) - Screenshot No. 1

**Testflow No. 2:**
1. Login to Kura as admin/admin
2. Go to Network
3. Try to s

[2020-03-27 09:19] #2639 closed, assigned to MMaiero

[2020-03-27 10:46] MMaiero opened #2726 "Kura 4.1.1 service release"
We are planning to release a Kura 4.1.1 service release by mid-April.
The base branch used for this drop is release-4.1.0 and the following PRs/Commits will be included:
- [x] https://github.com/eclipse/kura/pull/2586
- [x] https://github.com/eclipse/kura/issues/2679
- [x] https://github.com/eclipse/kura/pull/2558
- [x] https://github.com/eclipse/kura/pull/2511
- [x] https://github.com/eclipse/kur

[2020-03-27 14:00] LeoNerdoG opened #2728 "WireGraph Component Description Windows Too Wide"
When user clicks on a certain component in wire graph to see its options, the whole screen shifts, because the bottom window is too wide (see the GIF bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WireGraph Service and create a componet (e.g. Timer)
3. Select and deselect the timer component several times in the wire graph and observe the bottom window
4. Bottom window is a bit t

[2020-03-27 14:00] LeoNerdoG opened #2729 "No Confrmation When Trying to Reset SSL Configurations"
If user tries to reset certain configuration (e.g. in WireService) Kura always askas the user if he is sure that he wants to do that, but there is no pop-up window when user tries to reset SSL configuration - when Reset button is pressed, everything gets reset immediatelly.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Settings -> SSL Configuration/Server SSL Certificate/Device SSL Certi

[2020-03-27 14:01] LeoNerdoG opened #2730 "No Icons in "OK" and "Apply" Buttons in WireAsset in WireGraph"
There is no icon on "OK" and "Apply" buttons in WireAsset component in Wire Graph (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph and try to add WireAsset
3. Observe the "OK" and "Apply" button that don't have the icons

**Expected behavior**
"Apply" and "OK" buttons don't have any icons like other "OK" and "Apply" buttons.

**Screenshot No. 1:**
![Scree

[2020-03-30 10:32] LeoNerdoG opened #2731 "Generic Error When Trying to Download a Package (No "Enabled for WAN" Connection)"
If user has all the network connections set as "Enabled for LAN" everything works fine, but there is no way to download a package from Eclipse marketplace. There is also no additional info when Kura reports "Failed to install deployment package". I have just lost one hour because I completely forgot I changed this.
I suggest we add additional text into the warning message just for end user to know

[2020-03-30 11:01] LeoNerdoG opened #2732 "Should There be a "WireAsset" Component if no WireAsset Installed?"
If user does not install "Math component" package, there are no mach components in the Wire Graph. But there is "WireAsset" component regardless of user's installation of "wire development package" or not, so there is no consistency.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph and observe the components available - there is also a WireAsset component
3. Go to Pacakges - > in

[2020-03-30 12:02] LeoNerdoG opened #2733 ""Undefined" Error When Creating or Trying to Delete CamelCloud"
if user creates a org.eclipse.kura.camel.cloud.factory.camelFactory instance, there is a "Undefined" error when user navigates to "CloudConnecions" and this cloud instance cannot be deleted (see screenshots bellow). If user changes views and then returns he also gets error "Exception Undefined".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Services, click "+" and select org.eclipse.kura

[2020-03-30 13:00] LeoNerdoG opened #2734 "cloudCat Description not Formatted Properly"
When user creates instance of cloudCat service, its description is not very readable and also not formatted properly (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Create an instance of CloudCat (click "+" in Service)
3. Select the newly created CloudCat and observe its description (screenshot bellow)

**Expected behavior**
Description should be in more readable format.

[2020-03-30 13:07] LeoNerdoG opened #2735 "Tooltip of cloudCat Instance is Too Long"
When user creates an instance of CloudCat and then hovers above it, the tooltip appears, which is OK. The problem is that the tooltip is just too long - it should be shortened.

**Testflow:**
1. Login to Kura as admin/admin
2. Create an instance of cloudCat with unique name
3. When created, hover on it with mouse and observe the tooltip

**Expected behavior**
Tooltip should be short and descriptiv

[2020-03-30 13:28] LeoNerdoG opened #2736 "Everything Before "." Symbol Ignored When Creating New Service Instance"
When creating new instance of a service, everything before "." symbol is ignored, so user can presumably create instances with the same name. For example: "1.1" is transformed into "1" and "1.2" is transformed into "2".

**Testflow:**
1. Login to Kura as admin/admin
2. Click on "+" and select a factory component (not important which one)
3. In the "name" field enter "1"
4. Create another one with

[2020-03-30 13:35] LeoNerdoG opened #2737 "Wrong Buttons When Deleting Service Instance"
When user clicks on "Delete" button in one of the services, there are "Cancel" and "Delete" buttons as confirmation buttons, but they should really be "yes" and "no", as in all other views.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Services, click "+" and add e.g. cloudCat service with a unique name
3. Select the newly created service and click Delete
4. Observe the confirmatin butto

[2020-03-31 10:10] LeoNerdoG opened #2739 "No Confirmation if User Navigates Away From Wire Graph"
If user navigates to some other service without saving a wire graph, kura does not ask user if he wants to save a graph or not - and graph gets returned to previous state.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph, create several componetns and without applying the changes, switch view to some other service (e.g. example publisher).
3. Observ the lack of info message from

[2020-03-31 11:19] LeoNerdoG opened #2740 "Error Message Containing List of Components Insted of Simple Text?"
If user has a lot of wire components that are in error state (for example if a package that provides driver for those component) Kura correctly reports an error when trying to apply the changes but the list is not ver user-friendlt if there are a lot of components.
I suggest that error message contains a list of components that are affected with a optional scrollbar if the list is very long.

Exam

[2020-03-31 13:04] LeoNerdoG opened #2741 "Heater Package Cannot be Deleted"
If user installs Example Heater package to Kura, there is a "Delete" button on the right hand side, but it is not functional - user can delete this package only by uninstalling it (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, install Heater package [(click here)](http://download.eclipse.org/kura/releases/4.1.0/org.eclipse.kura.demo.heater_1.0.500.dp)
3.

[2020-04-01 10:05] LeoNerdoG opened #2742 "Generic Error When Switching Fast From "Packages" to "Wire Graph""
If user switches view between Packages and Wire Graph very fast, Kura reports an generic error (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages and click on "Wire graph"
3. Repeat second step several times and observe the behaviour

**Expected behavior**
If user switches between views veery fast this should not cause an error.

**Screenshots**
![Screenshot

[2020-04-01 10:05] LeoNerdoG opened #2743 "Syntax Error in Sink Wire Component Description"
There is a syntax error in Sink wire component description. It is "If set to true the component will print on the log the time interval in milliseconds between the last two received envelopes" but should be "If set to true, the component will print on the log the time interval in milliseconds between the last two received envelopes.".

**Testflow:**
1. Login to Kura as admin/admin
2. Go Packages,

[2020-04-01 10:05] LeoNerdoG opened #2744 ""Freezing" Menu Item on the Left When Selected?"
If user navigates to some service that he selects on the left side (e.g. Wire graph), that item does not get "non-selectable", so if user creates a component or changes something without applying changes or saving configuration and then clicks the menu item on the elft again, Kura shows info message for discarding changes - I think we should make selected menu item on the left non-selectable after

[2020-04-01 10:05] LeoNerdoG opened #2745 "Input Fields Change Dimensions When Clicking "Select available targets""
If you click on "Select available targets" in Subscriber or Publisher component in Wire graph, the input field for the CloudPublisher/Subscriber and all other shorten because of the scrollbar on the right.
I suggest this gets fixed so the input fields have the same lenght no matter if the scrollbar is present or not (it is just a matter of several pixels anyway).

**Testflow:**
1. Login to Kura as

[2020-04-01 10:05] LeoNerdoG opened #2746 "WireGraph Can be Saved Although CamelConsumer/Producer Fields Not Filled"
Although user does not fill the mandatory parameters into the CamelConsumer/CamelProducer, Kura does not throw an error (mandatory fields are "ID" and "EndpointURI").

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WireGraph and select CamelConsumer/CamelProducer
3. Without populating the mandatory fields, try to save the graph
4. Kura does not report an error when trying to do so.

**Expe

[2020-04-01 10:23] LeoNerdoG opened #2747 "No Spacing Between "Wire Components" and Error in Wire Graph"
If user installs for example Wires-developmnet-component package, creates a wire component and later deletes the package from Kura, there is an error message bellow the wire graph.
The problem is that the error message is touching the upper part of the screen but really should not, as it looks strage (see screenhsot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go Packages, install [w

[2020-04-01 10:29] LeoNerdoG opened #2748 ""Phantom" Component When Ignoring Error in Wire Graph"
If user tries to create a component with non-unique name and first presses "ESC" key on keyboard before closing the error message, the "phantom" component stays in the graph, you can even save the graph if you add another real component.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph
3. Drag and drop a component (e.g. publisher)
4. Enter a non-unique name so error appears
5. Pr

[2020-04-01 11:55] LeoNerdoG opened #2750 "Download Channels Button Not Active When Channel Created"
When user creates a channel in one of the component in a specific driver, the "Download channels" button is not active until user presses Apply button - is this on purpose? Because one would expect that the "Download Channels" button would be active as soon as the channel is created AND selected.

**Testflow:**
1. Login to Kura as admin/admin
2. Install Wires-development-package from Eclipse marke

[2020-04-01 12:13] LeoNerdoG opened #2751 "Different Style of Error When Trying Create Channel With Non-Unique Name"
If user tries to create a channel with a non-unique name in Wire Graph, Kura shows an error, which is OK, but the error style is like no other in the UI (see screenshot bellow). Usually when user does something wrong Kura opens a new error window which is not the case here.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to packages, install wires-development-package
3. Go to Wire Graph and c

[2020-04-01 12:37] LeoNerdoG opened #2752 "Uploading Channels Not Working Properly?"
The "Replace current channel" description in Wire graph -> Wire Asset -> upload channels is: "If checked, channels will be replaced by the imported ones. Otherwise, they will be appended to the list."
But if you download the channels, edit one of them and then upload it again, the channel gets updated - is this the desired behaviour or not? This is logical, but is not consistent with the descripti

[2020-04-02 06:19] #2437 closed, assigned to cdealti

[2020-04-02 06:28] LeoNerdoG opened #2753 "No File Check When Uploading Channels to Asset in Wire Graph"
If user tries to upload a non-CSV Channels file in Wire Graph, Kura reports an error, which is OK, but the output could be messy (it depends on the type of the file and length of it - in my case I uploaded a .txt file with a lot of contents) - see the screenshot bellow.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, install Wires-development-package from Eclipse Marketplace
3. G

[2020-04-02 07:20] pierantoniomerlino commented on #2547
Some comments regarding channel, frequencies and acs:

- Kura can configure wifi AP only at 2.4GHz even if the underlying hw/sw supports 5GHz. In particular, Kura supports ieee80211 b/g/n
- when acs is enabled, the channel is chosen accordingly the wifi version (1-11 for 2.4GHz and >36 for 5GHz)
- the `hostapd` service can be configured to use only a specific range of channels with the `chanlist`

[2020-04-02 14:10] LeoNerdoG opened #2754 "Driver Connection Delay Can be Set to Negative Value?"
If user tries to enter a negative value into the driver's Connection Delay field in Wire Graph, Kura does not report an error.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, install Wires-development-package from Eclipse Marketplace
3. Go to Wire Graph, create a wireAsset comonent and add a channel to it
4. Go to Driver tab and try to enter a negative value to Connection Delay f

[2020-04-02 14:10] LeoNerdoG opened #2755 "Different Behaviour When Adding and Uploading Channels"
If user adds a channel "manually" (by clicking "Add channel" button) to an asset in Wire Graph, the "Download" button gets disabled and Reset and Apply buttons get enabled. This is fine, but when user uploads channels, this does not happen, although user might add several new channels as well. We should unify this behaviour regardless of user adding channels manually or uploading them.

**Testflow

[2020-04-02 14:10] LeoNerdoG opened #2756 "Different Sizes of CheckBoxes in Wire Graph"
If user resizes the window size to 90%, the checkboxes in asset component get different sized (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, install Wires-development-package from Eclipse Marketplace
3. Go to Wire Graph, create a wireAsset comonent and add a channel to it
4. Try to resize the browser window, observe the size of checkboxes

**Expected beh

[2020-04-02 14:10] LeoNerdoG opened #2757 "True/False Icons in Asset Must be Double Clicked"
If user creates a wire asset in Wire graph, the "enabled" and "listen" checkboxes have to be doubl eclicked to be selected/deselected insteadn of being clicked once to achieve the desired status. This is because the fist click actually selects the channel (although it looks like selected when user hoovers above) and the second click actually selects/deselects the option.
Is this the corect behavio

[2020-04-02 14:16] LeoNerdoG opened #2758 ""Last Page" Button in Assets Not Working"
If user creates more than 15 channels in one asset, the "Last page" button is not active if user is on first page. "First page" button works fine, though.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, install Wires-development-package from Eclipse Marketplace
3. Go to Drivers and assets, create a driver with asset
4. Add at least 16 channels to this asset
5. Observe the "Last p

[2020-04-03 12:42] nicolatimeus opened #2759 "[DEPLOY-V2] Failure status reported by a verifier script is not published"
**Describe the bug**
Kura will publish the status reported by a verifier only if it is successful, this is caused by the fact that the code that computes the persistance file path from the verifier script path at the beginning of the following methods (that report success and failure) is different.

https://github.com/eclipse/kura/blob/baab630fb3c91b3b53dad4309a7b2d5e308876a9/kura/org.eclipse.kura

[2020-04-03 13:33] LeoNerdoG opened #2760 "Different Order of Cloud Connections?"
if user create e.g. cloudService-1, cloudService-2,  cloudService-3,  cloudService-11,  cloudService-111,  cloudService-20, the will not be listed from 1 to 111, but they will be listed as:
 - 1
 - 11
 - 111
 - 2
 - 20
 - 3

This way it is really hard to track a lot of cloud connections, so I suggest that the list gets order simply from 1 up.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to

[2020-04-03 13:33] LeoNerdoG opened #2761 "Warning or Error Message When Trying to Add Pub/Sub to Camel Cloud?"
If user wants to add a Pub/Sub to a CamelFactory cloud connection, a warning is thrown, but it looks like an error (the warning text is on red background). Either title should be changed from "Warnning" to "Error" or the text background should be changed from red to light yellow as it is for all errors.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Cloud Connectins, create a CamelFactory

[2020-04-03 13:33] LeoNerdoG opened #2762 "No Example for CamelFactory Connection Service PID ?"
When creating for example "org.eclipse.kura.cloud.CloudService" or "org.eclipse.kura.cloudconnection.eclipseiot.mqtt.ConnectionManager" cloud connections, there is an example in the input field that shows, how the field should be populated or rather in what form the new cloud connection should look like, but there is no such example when creating "CamelFactory" cloud connection  - see screenshot b

[2020-04-03 13:33] LeoNerdoG opened #2763 "Generic Error When Trying to Disconnect CamelFactory Connection"
When user creates a camelFactory cloud connection, its status is automatically set to "connected" and user cannot disconnect it (a generic undescriptive error appears - see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Cloud Connections, try to create CamelCloud
3. When created, ignore the error and obser the "status" - it is connected
4. Try to disconnect it - Kura r

[2020-04-06 08:32] #2759 closed, assigned to nobody

[2020-04-06 10:29] LeoNerdoG opened #2766 "Different Design for Presenting Cloud Connection Names"
If user creates e.g. CamelFactory cloud connection, its name in the bottom tab is presented as "cloudname"-CloudFactory (screenshot No. 1). But if user creates either "CloudService" or "ConnectionManager" cloud connection the name convention is simply the last part of its PID (screenshot No. 2 and No. 3). I suggest that the name when createing CloudFactory gets "standardized - so it looks like the

[2020-04-06 10:29] LeoNerdoG opened #2767 "No Description for Fields in Error State"
If user enters invalid parameters in any of the free entry fields in "Open Port Entry Information", the fileds are marked red, which is OK, but there is no description on what is allowed and/or what is wrong.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click on "new" and add invalid paramteres in all of the input fields
3. Observe the red markation but the lack of information

[2020-04-06 10:29] LeoNerdoG opened #2768 "New Firewall Fields Stay in Error State"
If user wants to open a port with invalid parameters, Kura colours the invalid fields in red. If user then cancels the operation and clicks "New" again, all the invalid fields from before are still marked red.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click "new" and enter all or some parameters that are invalid
3. Click Cancel and then "new" again - observe the fields that

[2020-04-06 10:30] LeoNerdoG opened #2769 "List of Cloud Connections in Status not user Friendly"
if user creates multiple cloud connections, they all get show in the "Status" tab - which is OK, but if user creates 10, 15+ cloud connections, they are all properly shown in the Status tab, but the UX is not very user friendly (see screenshots bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Cloud Connections, create 10+ connections (CamelFactory, CloudService)
3. Go to "Status" t

[2020-04-06 10:30] LeoNerdoG opened #2770 "Duplicate Entries Allowed in Firewall"
If user is trying to add a duplicate open port in firewall, Kura reports a warning, but the port is added anyway (see screenshot bellow). Follow the bottom testflow in order to duplicate the issue.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, add a port (e.g. 7100) wihtout specifying anything else
3. When you click Submit and the window closes, don't click anything before clic

[2020-04-06 10:30] LeoNerdoG opened #2771 "Edit Button in Firewall Active Although Nothing Selected"
If user navigates to Firewall tab and looks at the buttons that are active, there is Edit button that is active although nothing is selected. When pressed, nothing happens.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall tab and observe the Edit button
3. Although nothing is selected, the edit button is active. When pressed, nothing happens.

**Expected behavior**
Edit button shou

[2020-04-06 10:30] LeoNerdoG opened #2772 "Delete Button in Firewall Active Although Nothing Selected"
If user navigates to Firewall tab and looks at the buttons that are active, there is Delete button that is active although nothing is selected. When pressed, nothing happens.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall tab and observe the Delete button
3. Although nothing is selected, the delete button is active. When pressed, nothing happens.

**Expected behavior**
Delete but

[2020-04-06 10:32] Czou opened #2773 "public List<GwtClientExtensionBundle> getConsoleExtensions() will warn “The response could not be deserialized”"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Target Environment (please complete

[2020-04-06 10:34] LeoNerdoG commented on #2773
Hey @Czou,
can you please add a detailed description and testflow to the issue and possible screenshot? This way the development team will be able to solve the issue faster and without too much interaction with you.

Leo

[2020-04-06 10:52] LeoNerdoG opened #2774 "Wrongly Duplicate Entry When Adding Open Ports in Firewall"
If user clicks on "new" button in Firewall, and enters 123 in "port" number, Kura reports a Duplicate error, although there is no open port with the number 123.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click on "new", enter "123" as port number
3. Click "Submit"
4. Without clicking anything else click on "Delete" and confirm the deletion
5. Without anything else click on "

[2020-04-06 14:32] pierantoniomerlino commented on #2774
@LeoNerdoG Is it Kura 4.1.0?

[2020-04-06 14:47] pierantoniomerlino commented on #2774
I tried with Kura 4.1.0 and I cannot reproduce the issue. @LeoNerdoG Have you more datail on the procedure? Did you rebooted the device and re-tried?

[2020-04-07 05:28] LeoNerdoG commented on #2774
Hey @pierantoniomerlino,
yes, this is Kura 4.1.0 - I will try again today and update the testflow if you are unable to reproduce this. I was able to reproduce it several times following the testflow.

[2020-04-07 07:00] pierantoniomerlino commented on #2770
@LeoNerdoG I was able to reproduce the issue: it seems that the selected row object in the table is still active, so clicking on the edit or delete button, the methods are activated with that object. I'll fix it cleaning the selected row. BTW, this issue can be hidden deselecting the Edit and Delete buttons, as suggested in #2771 and #2772

[2020-04-07 08:14] LeoNerdoG commented on #2774
Hey @pierantoniomerlino,
I have updated the testflow above. The problem is if user does not apply changes between adding new port, deleting it and adding it again - so if you don't apply the changes after you delete the port, it is "stuck" somehow in some state inbetween "delete" and "apply" so...if you can't reproduce it, please let me know.

[2020-04-07 09:29] pierantoniomerlino commented on #2774
@LeoNerdoG After disabling the Edit and Delete buttons when nothing is selected, I can reproduce a similar issue:

1. Login to Kura as admin/admin
2. Go to Firewall, click on "new", enter "123" as port number
3. Click "Submit"
4. Without clicking anything else change tab (discarding the unsaved changes)
5. Go back to the firewall tab and try to add the "123" port
6. Observe the duplication error

[2020-04-07 11:04] LeoNerdoG opened #2776 "Edited Port Jumps to the Bottom of the List"
If user edits one of the port numbers in Firewall, this entry jumps to the end of the list (see screenshots bellow where I edited port number "11"). This is very impractical if there are other port entries or if the list is very long, becasue user than has to scroll down in order to make a change (if he accidentally edited it).
Entry also drops to the bottom if it is unsuccessfully edited (e.g. we

[2020-04-07 11:04] LeoNerdoG opened #2777 "Undescriptive Generic Error When Port Number Longer Than 4 Digits"
If user enters 5 digit number into the "Port on Port Range" field, Kura returns an undescriptive generic error (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click "new" and add "72000" as port number
3. Click Submit
4. After that click "Apply" and observe the error

**Expected behavior**
If error/warning is thrown, there should be a description of what

[2020-04-07 11:11] LeoNerdoG commented on #2774
Yes, you are right - I just tried this and i could replicate successfully.
Should this be issue on its own or we leave as part of the existing one?

[2020-04-07 11:15] LeoNerdoG opened #2778 "Possibility of Editigin Unexisting Port"
@pierantoniomerlino
This issue is similar to #2771, but I am reporting it anyway, so we don't forget about it.
If user deletes a port, clicks Apply and immediatelly after that the "Edit" button, an Edit window opens with the possibility of editing the previosly deleted port. This should not be possible, as Edit button should be disabled anyway.

**Testflow:**
1. Login to Kura as admin/admin
2. Go

[2020-04-07 12:34] pierantoniomerlino commented on #2774
IMHO, we could leave it to this issue.

[2020-04-07 12:38] pierantoniomerlino commented on #2778
Yes, it's related to the previous one, but it worth to report it anyway. The fact is that the selected row object is still active and can be indeed edited. This should be fixed if we disable the Edit button after the application and when no rows are selected.

[2020-04-07 13:39] LeoNerdoG opened #2779 "No Limit for "Port" Field in Firewall"
There are no limits for "Port or Port Range" field in Firewall. user only has to ignore the error thrown by Kura and Apply changes - although kura reports an error, all the changes are saved.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall and try to add a port with very long number (e.g. 900090990009099000909900090990009099000909900090990009099000909900090990009099000909900090990

[2020-04-07 13:39] LeoNerdoG opened #2780 "No Tooltips on "Open Port Entry Information" Window"
If you hover above the fileds in "Port or Port range", "Protocol", "Permitted network", "Permitted MAC address", "Source Port Range" no tooltips appear as in "Permitted interface name" and "unpermitted interface name".
I suggest we add tooltips to all the fields, so users will be able to fill the fields faster.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall service and click "new

[2020-04-07 13:39] LeoNerdoG opened #2781 ""Unsaved Changes" Warning Although Changes Reset in Firewall Service"
If user makes some changes in the Firewall settings and at the end click Reset, all the parameters are set to their initial value. "Apply" button is also disabled which indicates that there are no changes to be saved.
Nevertheless, if user navigates away from Firewall settings, Kura reports that there are unsaved changes, although this is not true.

**Testflow:**
1. Login to Kura as admin/admin
2.

[2020-04-07 13:41] LeoNerdoG opened #2782 "Port "00" is Acceptable in Firewall"
If user enters only "0" into Port number, Kura highlights the field in red, which is OK (Screenshot No. 1), but if user enters "00", there is no error, user can normally add port with "00" to the list.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall service and click "new"
3. Try to add "0" as port number and click Submit - there is an error, whichc is OK (Screenshot No. 1)
4. Try

[2020-04-08 07:06] LeoNerdoG opened #2784 "Lack of Tooltips on (Un)permitted Interface Fields if Changes not Applied"
If user does not apply the changes he has made to the new open port for the firewall configuration, the tooltips for permitted and unpermitted interfaces are not showing any more. This only happens when user enters a parameter in either the permitted interface or unpermitted interface field. If user only adds a port, the tooltip works for all next entries.

**Testflow:**
1. Login to Kura as admin/

[2020-04-08 07:06] LeoNerdoG opened #2785 "Generic Error When (Un)permitted Interface Name Too Long"
If user enters a (un)permitted interface name that is too long (see bellow), Kura throws a generic error. There should be an error thrown, but the lack of description makes it hard to debug (especially if user creates several open ports).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click "new" and add a very long (un)permitted interface name (e.g. "ioeirwroeriwepriweprwerwekr

[2020-04-08 09:27] LeoNerdoG opened #2786 "Firewall Port Range can be set in Reverse Order"
This issue is connected to issue #2502.
User can still enter port range in the reverse order, which is stiill not OK, but the firewall table does not get deleted. I suggest that this field gets additional validation that if user inputs a reverse port range, it produces an error.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click "new"
3. In "Port range" enter "7200:7100"
4. Cl

[2020-04-08 11:58] LeoNerdoG opened #2787 ""Source Port Range" Field Accepts Only One Number Without Error"
If user enters one number into the "Source Port Range", there is no error from Kura as one would expect, because the name of the field is port "range".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall service, click "new"
3. In "Source port range" enter only one number (e.g. 7100)
4. Press Submit and later Apply
5. Observe the lack of error/warning - is this OK?

**Expected behavio

[2020-04-08 13:32] LeoNerdoG opened #2788 "(Un)permitted Interface NameField Stays in Error State After Adding Spaces"
If you add something similar to the example bellow, in the (un)permitted interface name fields, they stay in error state, although user cleans everything and enteres something different in (e.g. "eth0").
Please follow the bellow testflow to recreate the issue.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click "new"
3. In (un)permitted interface name enter "asdasd

[2020-04-09 05:44] LeoNerdoG opened #2789 ""Internal Port" and "External Port" in Port Forwarding not Marked as Mandatory"
If user wants to set port forwarding, there are three fields that are marked as mandatory and those are:
 - input interface
 - output interface
 - Lan address

But when user clicks Submit after populating those fileds, the Internal port and External port are put in error state, because they were not populated (they are not marked as mandatory).

**Testflow:**
1. Login to Kura as admin/admin
2. Go

[2020-04-09 05:55] LeoNerdoG opened #2790 ""External Port" and "Internal Port" Not in Error State"
If user enters decimal numbers in "External Port" or "Internal Port" fields, Kura does not report an error, the fields are not marked in red but when user clicks on "Submit", nothing happens.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> port Forwarding
3. Click "new" and add valid parameters into Input/Output interface and Lan address
4. For External port put 1.0, for Intern

[2020-04-09 07:06] LeoNerdoG opened #2791 "Edit Button Actieve Although Nothing Selected in Firewall -> Port Forwarding"
This issue is best described through a testflow, which I am providing bellow. In short: if nothing is selected when clicking "Edit" button in Firewall -> Por Forwarding, then Kura gets an old configuration of the port that ise being forwarded (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> Port Forwarding
3. Click "new" and enter the following parameter

[2020-04-09 08:27] LeoNerdoG opened #2792 "Fields in Firewall Service Marked Red When Canceling Creation/Edit"
If user clicks on one of the mandatory fields when creating/editing an entry in "Open Ports", "Port Forwarding" or "IP Forwarding/Masquerading" and then the upper right "x" to close the window, the fields are for a brief moment in error state.
This is inot a critical issue, but some users could ask themselves what is wrong with the field. I know that every time you change the focus from empty mand

[2020-04-09 10:35] pierantoniomerlino commented on #2774
Ok. The issue is due to the fact that the onCreate method is called multiple times when the "New" button is clicked. I added a walkaround for this in my Kura fork.

[2020-04-09 13:08] pierantoniomerlino commented on #2777
@LeoNerdoG  I'm not able to reproduce this issue. AFAIK, Kura doesn't implement a rule on port digit length.

[2020-04-09 13:15] LeoNerdoG commented on #2777
Hej @pierantoniomerlino,
I have to update the testflow - after you press the Apply button, the error appears, not when you click Submit. Can you please follow the updated testflow above and report if you are able to reproduce?
I have rollback-ed the device to seeded snapshot, deleted cache and history in my brwoser and I was able to reproduce the issue. Can you please check again?

[2020-04-09 13:21] pierantoniomerlino commented on #2777
@LeoNerdoG Ah ok, thanks. I can reproduce the issue now. It is the same as #2779.
The port value has to be in (0:65535]. So I'll add an additional check.

[2020-04-09 14:50] pierantoniomerlino commented on #2782
BTW, "01" is accepted and it's equivalent to "1". But it doesn't trigger the duplication check...

[2020-04-09 16:31] nicolatimeus opened #2793 "Paho 1.2.1 overrides Kura SSL configuration"
**Describe the bug**
Paho 1.2.1 discards all SSL configuration parameters managed by Kura.

**To Reproduce**
1. Disable SSL hostname verification (either in SSLService configuration or in MqttDataTransport configuration)
2. Try to connect to a MQTTS broker using an host alias (for example after adding it to /etc/hosts)
3. Observe connection failure due to hostname verification failure

Connection

[2020-04-09 21:03] #2793 closed, assigned to nobody

[2020-04-14 07:32] pierantoniomerlino commented on #2785
It seems that the limit is 15.

[2020-04-14 14:49] mstankovic opened #2797 "Camel cloud service | Failed to run init code"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Packages and install "https://iot.comtrade.com/kuraTest/de.dentrassi.kura.addons.milo-0.5.1.dp"
2. Go to Cloud Connections and create new Camel cloud instance
---> `bug1: GUI error appears (screenshot1) without errors in kura.log` ignore this issue and continue:
3. S

[2020-04-17 05:06] liucunjie opened #2799 "Packages installed in kura disappear when reboot the Raspberry Pi after change CloudService Payload Encoding from Kura Protobuf to simple json"
**Describe the bug**
Packages installed in kura disappear when reboot the Raspberry Pi after change CloudService Payload Encoding from Kura Protobuf to simple json

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Packages' and Install/Update modbus driver downloaded from Eclipse Marketplace
2. Go to  'Cloud Connections' and change CloudService Payload Encoding from Kura Protobuf to sim

[2020-04-17 08:26] liucunjie commented on #2799
The Installed Packages is in /tmp Directory? So the /tmp is cleaned when reboot, is it reason?

[2020-04-17 10:10] MMaiero commented on #2799
Hi, the package from the eclipse marketplace is kept in /tmp only during downloading. If the downloading succeeds and the package is correctly installed, it is then moved inside /opt/eclipse/kura that is in persistent storage.

I will check with my raspberry if the issue occurs to me.

[2020-04-17 10:57] liucunjie commented on #2799
Hi, MMaiero, thanks for your great job first, i reproduce the issure
1、I download the driver .dp file from eclipse marketplace first
2、Second, I install the .dp file use the Kura web
3、I reboot my raspberry, and the Packages in the list
4、I reboot my raspberry again, and the Packages disappear
What I miss something?

I found kura cp the .dp file into /opt/kura, but not .jar
and the .jar file is in

[2020-04-17 11:34] MMaiero commented on #2799
So, the dp is what matters. Once installed you should have it in /opt/eclipse/kura/data/packages/. You can also check the content of dpa.properties file:

[code]

This is the file that will be used by Kura at every framework reboot to know which packages need to be reinstalled.

The content of /tmp/kura is just a working directory.

[2020-04-17 11:44] MMaiero commented on #2799
I've just checked with my Pi with the following OS:
[code]
I've used the modbus driver bundle in the marketplace and tested installing it both loading from my system and also using the drag and drop.
I've tested invoking a plain reboot command and a power cut off. In all the cases the bundle was there at reboot.

[2020-04-17 12:09] liucunjie commented on #2799
1、i install the .dp file,  the content of dpa.properties file is like yours, and the .dp file is also in the  /opt/eclipse/kura/data/packages/
2、when i reboot twice, the content of dpa.properties file is not changed,  but .dp file disappear in the  /opt/eclipse/kura/data/packages/

maybe i miss something, i will test carefully again, maybe something is wrong with my raspberry

[2020-04-17 12:19] MMaiero commented on #2799
You are correct: it gets loaded at first reboot but then is not there anymore.

I will check. But seems definitely a bug.

[2020-04-17 12:37] MMaiero commented on #2799
It seems that the issue is not there in the 4.1.x branch.

I will look in the 4.2.x commits to find where we broke things.

By the way, thank you for the feedback and for posting this!

[2020-04-17 15:01] cdealti opened #2800 "Switching from data mode to command mode does not work in pppd chat script"
**Describe the bug**

The generated `chat` scripts for a Telit LE910C1-EU modem are as follows

[code]

The one-second pause after `+++` is missing and the modem will not switch from data mode to command mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a cellular connection and wait until the PPP link is established (IP address and DNS servers visible in the Admin UI)
2. Execu

[2020-04-17 16:37] MMaiero commented on #2799
@liucunjie a PR has been created.
Any feedback on that is more than welcome :-)

[2020-04-21 06:56] cdealti commented on #2800
Please consider the method described in https://www.tldp.org/HOWTO/PPP-HOWTO/x1219.html

[2020-04-21 07:03] cdealti commented on #2800
A clarification: the problem is not specific to the LE910C1-EU. If it is not feasible to correct the generators for all the modems for Kura 4.1.1 and test the changes, let's keep this open. I can test the LE910-V2 and the Huawei.

[2020-04-21 11:36] MMaiero opened #2809 "Unescaped loop on modem reset failure"
**Describe the bug**
Taking as a reference the Telit modem implementation, in case of a reset failure (either in modem turn off or turn on), the surrounding while loop continues to cycle at high speed with the risk of taking all the available CPU resources as well as filling the logs.

**To Reproduce**
Steps to reproduce the behavior:
1. If a modem rest fails, the code will try continuously to res

[2020-04-22 07:08] #2800 closed, assigned to MMaiero

[2020-04-22 13:12] MMaiero opened #2811 "CanConnection service with multiple can interfaces"
**Describe the bug**
CanConnection Service seems to be unable to manage multiple can interfaces reading/writing at the same time.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable two can interfaces let's say can0 and can1
2. can1 is reading from the bus
3. If can0 starts writing, can1 is unable to read data from bus
**Expected behavior**
The service should be able to manage multiple ca

[2020-04-22 14:51] pierantoniomerlino commented on #2786
The same happens in the source port range field.

[2020-04-22 14:56] pierantoniomerlino commented on #2787
Since `iptables` accepts both a single source port or a range of ports, I prefer to modify the labels.

[2020-04-22 15:14] #2770 closed, assigned to pierantoniomerlino

[2020-04-22 15:18] pierantoniomerlino commented on #2771
Closed by #2796

[2020-04-22 15:19] pierantoniomerlino commented on #2772
Closed by #2796

[2020-04-22 15:19] #2772 closed, assigned to pierantoniomerlino

[2020-04-22 15:20] pierantoniomerlino commented on #2774
Closed by #2796

[2020-04-22 15:20] #2774 closed, assigned to pierantoniomerlino

[2020-04-22 15:20] pierantoniomerlino commented on #2776
Closed by #2796

[2020-04-22 15:20] #2776 closed, assigned to pierantoniomerlino

[2020-04-22 15:20] pierantoniomerlino commented on #2777
Closed by #2796

[2020-04-22 15:20] #2777 closed, assigned to pierantoniomerlino

[2020-04-22 15:20] pierantoniomerlino commented on #2778
Closed by #2796

[2020-04-22 15:20] #2778 closed, assigned to pierantoniomerlino

[2020-04-22 15:21] pierantoniomerlino commented on #2779
Closed by #2796

[2020-04-22 15:21] #2779 closed, assigned to pierantoniomerlino

[2020-04-22 15:21] pierantoniomerlino commented on #2782
Closed by #2796

[2020-04-22 15:21] #2782 closed, assigned to pierantoniomerlino

[2020-04-22 15:21] pierantoniomerlino commented on #2785
Closed by #2796

[2020-04-22 15:21] #2785 closed, assigned to pierantoniomerlino

[2020-04-22 15:58] pierantoniomerlino commented on #2788
@LeoNerdoG I think that this issue has been already fixed by #2796. Could you please check if you can reproduce it anymore?

[2020-04-22 18:40] #2811 closed, assigned to nobody

[2020-04-23 07:58] #2799 closed, assigned to MMaiero

[2020-04-23 13:41] pierantoniomerlino commented on #2792
The form fields are not cleared when the dismiss button is clicked.

[2020-04-23 15:56] #2809 closed, assigned to MMaiero

[2020-04-24 11:58] MMaiero commented on #2788
This is still happening to me even with #2814 fixes applied

[2020-04-24 12:06] LeoNerdoG commented on #2770
@pierantoniomerlino I have checked this and it seemed to be working but it is not properly fixed. If you select an entry and then deselect it, the Edit button stays enabled (see GIF bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, add a port (e.g. 7100) wihtout specifying anything else
3. Click Submit
4. Select an entry (any entry in the firewall list) and unselect it (CM

[2020-04-24 12:06] LeoNerdoG commented on #2771
I am confirming that this issue has been resolved, as Edit button is not active if nothing is selected.

[2020-04-24 12:07] LeoNerdoG commented on #2772
I am confirming that this issue has been resolved, as Delete button is not active if nothing is selected.

[2020-04-24 12:26] LeoNerdoG commented on #2771
@pierantoniomerlino I have checked this and it seemed to be working but it is not properly fixed. If you select an entry and then deselect it, the Delete button stays enabled (see GIF bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, add a port (e.g. 7100) wihtout specifying anything else
3. Click Submit
4. Select an entry (any entry in the firewall list) and unselect it (

[2020-04-24 14:08] MMaiero opened #2815 "Add favicon support"
**Is your feature request related to a problem? Please describe.**
Kura should support the displaying of favicon and be flexible to support change for third party adopters

**Describe the solution you'd like**
As above

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-04-24 15:58] MMaiero commented on #2681
@aamirusman0 Any update on this issue?

[2020-04-27 07:04] pierantoniomerlino commented on #2771
@LeoNerdoG I didn't know that it was possible to de-select a row with CMD+click/CTRL+click! Thanks.

[2020-04-28 15:43] #2780 closed, assigned to pierantoniomerlino

[2020-04-28 15:46] #2781 closed, assigned to pierantoniomerlino

[2020-04-28 15:46] #2784 closed, assigned to pierantoniomerlino

[2020-04-28 15:46] #2786 closed, assigned to pierantoniomerlino

[2020-04-28 15:46] #2787 closed, assigned to pierantoniomerlino

[2020-04-28 15:46] #2788 closed, assigned to pierantoniomerlino

[2020-04-28 15:46] #2790 closed, assigned to pierantoniomerlino

[2020-04-28 15:46] #2771 closed, assigned to pierantoniomerlino

[2020-04-29 10:33] MMaiero opened #2820 "Modem reset can lead to SIM card not ready"
**Describe the bug**
During some stress tests with a Telit LE910C1 we discovered that the modem can start reporting that the SIM card is not ready even if correctly installed.
Currently, in the monitor code, this case does not concur to the reset policy.

**To Reproduce**
Steps to reproduce the behavior:
1. Modem working in a tight cycle of resets
2. When the resets are ended the modem reports tha

[2020-04-29 12:38] #2815 closed, assigned to MMaiero

[2020-04-29 13:37] nicolatimeus opened #2822 "CommConnectionImpl constructor does not close the serial port on failure"
**Describe the bug**
If the `CommConnectionImpl` constructor is able to create a comm port but the configuration operations performed at [1] fail, the port will not be closed. This can leak resources held by the underlying serial library, such as lock files.

[1] https://github.com/eclipse/kura/blob/2ff4bf772e768658098318e464e430ab30973456/kura/org.eclipse.kura.core.comm/src/main/java/org/eclipse/

[2020-04-30 09:48] MMaiero opened #2825 "Kura 4.1.x SupportedUsbModems isAttached method can fail"
**Describe the bug**
In Kura 4.1.x, the SupportedUsbModems isAttached method relies on the Commons.exec DefaultExecutor to execute the lsusb command needed to understand if the modem is attached. The DefaultExecutor relies on ., if a different working directory is not specified. It may happen that other processes change the working directory and the slush command starts failing

**Expected behavio

[2020-04-30 11:57] #2822 closed, assigned to nicolatimeus

[2020-04-30 12:31] MMaiero opened #2827 "Entering wrong dial string and APN can cause a reset loop"
**Describe the bug**
This issue has been encountered with Telit LE910V2.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to modem management page
2. Inser a dial string unsupported by the carrier like `ATD*99***2#
3. See error: Kura will start resetting the modem in a loop that repeats every 30 seconds

**Expected behavior**
It should be give enough time to the user to correct the issue m

[2020-04-30 12:38] #2820 closed, assigned to MMaiero

[2020-05-04 08:58] #2825 closed, assigned to MMaiero

[2020-05-04 08:58] #2827 closed, assigned to pierantoniomerlino, MMaiero

[2020-05-05 09:34] MMaiero opened #2828 "Improve modem help section"
The modem help section should be improved to give to users a more accurate description on what PDP contexts to use in relation to the modem and wireless provider.

For example, we could update it with the following:

[code]

[2020-05-05 09:39] nicolatimeus opened #2831 "ModemMonitorServiceImpl should use monotonic clock"
`ModemMonitorServiceImpl` currently computes time differences using `System.currentTimeMillis()`, for example for the modem reset timeout. This can cause issues if system time changes.

[2020-05-05 09:41] cdealti commented on #2828
[code]

[2020-05-05 10:42] LeoNerdoG commented on #2780
I have verified that this issue has been resolved. If user hovers above the fields when creating new firewall rule, tooltips appear.

[2020-05-05 11:28] LeoNerdoG commented on #2788
I have verified that this isse has been resolved. I have tried this on Kura 4.2.0_SNAPSHOT from May 4th 2020.

[2020-05-05 11:40] LeoNerdoG commented on #2781
I have verified that this issue has been successfully resolved.

[2020-05-05 11:40] LeoNerdoG opened #2834 ""Duplicate Entry" Error When Submitting Empty Open Port Information"
If user opens "new" dialogue box in Firewall and clicks "Submit" without specifying a thing, Kura returns "duplicate entry" error, although there is no duplicate entry.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall, click "new"
3. Without entering anything click on Submit - observe the error.

**Expected behavior**
Kura should not report a "Duplicate error" if there are no dupli

[2020-05-05 11:41] LeoNerdoG commented on #2784
I have verified that this issue has been resolved.

[2020-05-05 11:55] MMaiero commented on #2828
Changes performed

[2020-05-05 12:24] LeoNerdoG opened #2835 ""401" Error When Sessions Ends"
If user reaches maximum time for the session and after that clicks something, Kura returns 401 error (see screenshot bellow). It is OK that Kura logs user out after time expires, but the error is not necessary here.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Web Console and set the "Session max inactivity interval" to "1".
3. Logout and login again
4. Wait for a minute and then click

[2020-05-05 12:24] LeoNerdoG opened #2836 "Undescriptive Generic Error if "Session max inactivity interval" Changed"
If user changes "Session max inactivity interval" and applies changes, Kura returns undescriptive generic error (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Web Console service
3. Change "Session max inactivity interval" to "1" and apply changes
4. Observe the error thrown.

**Expected behavior**
Kura should not throw generic error when logging out.

**Screensho

[2020-05-05 12:24] LeoNerdoG opened #2837 "Warning/Error Dialogue Box Problem When Logging in With Wrong Credentials"
If user enters invalid login credentials Kura reports a "Warning" but should really be an "Error", since the text is on red background.

**Testflow:**
1. Open https://[kura-ip]
2. Enter invalid login credentials
3. Press Login and observe the warning/error.

**Expected behavior**
Dialogue box that appears should be renamed to "Error" or the background of the message should be changed to yellow.

*

[2020-05-05 12:38] LeoNerdoG opened #2838 "404 Error When Changing Console Username And/or Password"
If user changes console username and/or password, Kura returns a 404 error, although nothing error prune happens.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Web Console service and change console username
3. Change console password also
4. Press "Apply"
5. Observe the 404 error

**Expected behavior**
If user changes console username and password, Kura should not throw an error (except

[2020-05-05 12:41] MMaiero commented on #2838
That has already been observed and reported as an issue.
We have also a PR that solves this issue but we kept that on hold due to the fact that there will be an important refactoring in Kura 5 to support multi users

[2020-05-05 12:52] #2828 closed, assigned to MMaiero

[2020-05-05 12:52] #2831 closed, assigned to nobody

[2020-05-05 13:23] LeoNerdoG opened #2839 "Password Login Field Modifiable Althought Error Thrown"
If user enters invalid username and/or password, an error is thrown bt Kura, which is Ok, but the problem is that the password field is still modifiable (see GIF bellow).

**Testflow:**
1. Go to https://<kura-ip>
2. Enter wrong username and/or password
3. Press Enter key (do not click the Login button)
4. Observe the password field (GIF bellow)

**Expected behavior**
Password and username fields s

[2020-05-06 05:56] LeoNerdoG opened #2840 "Blank Screen When "Web Console" Parameters Changed"
This issue is connected to issue #2839 - sometimes happens that when user changes a web console parameter, Kura returns 404 error and after user reloads the entire browser window, it gets blank for about 30 seconds - after that Kura shows login screen.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole service and change a paramtere (e.g. password, username,...)
3. Apply changes an

[2020-05-06 05:56] LeoNerdoG opened #2841 "Syntax Error in "Web Server Entry Point" in WebConsole Service"
There is a syntax error in one of the fields in WebConsole - Web Server Entry Point. The text should be "Default Web Server Entry Point for Applications running of framework's Web Server" and not "Default Web Server Entry Point for Applications running of framework\'s Web Server" (observe the backslash in word "framework")

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole service

[2020-05-06 05:56] LeoNerdoG opened #2842 "Console Password Can be One Character Long"
If user changes default console password from "admin" to something, there is a "Minimum password length" parameter, that specifies how long should the new password be (the default value is "8"). However, this parameter is ignored, as user can create new password with length of total one character.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole service and set new password to "1

[2020-05-06 06:06] LeoNerdoG opened #2843 "Access Banner Content All in One Line"
If user enters a lot of "O" characters into "Access Banner Content" field and sets the "Access Banner Enabled" to True, so the access banner is shown upon login, all the characters are stacked into one line (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole service and set "Access Banner Enabled" to True
3. Set the "Access Banner Conntent" to 20+ "O" charac

[2020-05-06 06:10] LeoNerdoG commented on #2770
I have verified that this issue has been successfully fixed - the select/deselect now works fine.

[2020-05-06 06:12] LeoNerdoG commented on #2771
I have verified that this issue has been resolved.

[2020-05-06 06:14] LeoNerdoG commented on #2774
I have verified that this issue has been successfully resolved.

[2020-05-06 06:15] LeoNerdoG commented on #2776
I have verified that this issue has been successfully resolved.

[2020-05-06 06:17] LeoNerdoG commented on #2777
I have verified that this issue has been successfully resolved.

[2020-05-06 06:17] LeoNerdoG commented on #2778
I have verified that this issue has been successfully resolved.

[2020-05-06 06:19] LeoNerdoG commented on #2779
I have verified that this issue has been successfully resolved.

[2020-05-06 06:55] LeoNerdoG commented on #2782
I have verified that this issue has been successfully resolved.

[2020-05-06 06:55] LeoNerdoG commented on #2784
I have verified that this issue has been successfully resolved.

[2020-05-06 06:56] LeoNerdoG commented on #2785
I have verified that this issue has been successfully resolved.

[2020-05-06 06:57] LeoNerdoG commented on #2786
I have verified that this issue has been successfully resolved.

[2020-05-06 06:58] LeoNerdoG commented on #2787
I have verified that this issue has been successfully resolved.

[2020-05-06 07:21] LeoNerdoG commented on #2789
@pierantoniomerlino

I have a question regarding solution for this issue - if user does not set the internal/external port, they get set to "0" (both). I think this is not the correct way, becasue if fields are amndatory, they should be filled by user. If not, they can get populated with some default values, like this solution provides. So I guess we just have to remove the asteriks "*" symbol fro

[2020-05-06 07:28] LeoNerdoG opened #2844 ""Open Ports" Changes Lost if View Changed"
If user has some unsaved changes in Open Ports in Firewall (e.g. some added port without clicking Apply), if the view changes to e.g."Port Forwarding", all the changes are lost.
This can be a real problem if user has entered a lot of open ports and then accidentally clicks on something else.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> Open ports
3. Create at least one calid

[2020-05-06 07:58] pierantoniomerlino commented on #2789
@LeoNerdoG Thank you for the check. I'll take a look at that. In the meantime, I reopen the issue to keep track of it.

[2020-05-06 08:13] LeoNerdoG opened #2845 "Multiple Colons Allowed in Port and Port Range Fields in Firewall"
If user enters e.g. 7100::::::7200 port range in Port range fields in Firewall, the fields are not in error state when Submit is clicked. Kura reports an error when trying to apply changes.
I think that Kura should mark the field in red earlier (whn Submit is clicked).

There is also another poblem (Screenshot No. 3) - because Kura does not recognize multiple semicolons as a bug, we can add as muc

[2020-05-06 09:24] LeoNerdoG opened #2846 "Port Forwarding Entries Not Properly Deleted"
If user has at least two entries in the Port Forwarding section of Firewall service, selects the second one, click on Delete and confirms, the entry is not deleted - it is still in the list (see the screenshots bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go Firewall -> Port Forwarding
3. Enter two different Ports to be forwarded
4. Apply changes
5. Select second one and click on Del

[2020-05-06 09:24] LeoNerdoG opened #2847 ""Port Forwarding" Changes Lost if View Changed"
If user enters a specific port to be forwarded (all valid parameters) and then changes views to e.g. "IP Forwarding/Masquerading" and then returns to "Port Forwarding", all the unsaved changes are saved.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> port Forwarding
3. Add an entry and without clicking on Apply change view to "IP forwarding/Masquerading"
4. Go back to Firewall

[2020-05-06 09:58] LeoNerdoG opened #2848 ""Require uppercase and lowercase characters in new passwords" Ignored When Updating Password"
If user sets "Require uppercase and lowercase characters in new passwords" to True, Kura ignores this setting when user is updating the console password.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole Service and set "Require uppercase and lowercase characters in new passwords" to True
3. Apply changes
4. Try to update password so it doesn't contain upper and lower case charact

[2020-05-06 09:58] LeoNerdoG opened #2849 "Minimum Password Lenght Ignored and No Limit Set"
User can set "Minimum password length" to "999999999", which is a pretty big minimum password lenght. I would change this that the maximum value is something similar to 255, as password with 255 characters is more then enoguh long.
Also for now this field is totally ignored when updating password.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole Service and change "Minimum passwo

[2020-05-06 09:58] LeoNerdoG opened #2850 ""Require special characters in new password" Ignored When Updating Password"
If user sets "Require special characters in new password" to True, Kura ignores this setting when user is updating the console password.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole Service and set "Require special characters in new password" to True
3. Apply changes
4. Try to update password so it doesn't contain special symbols
5. Apply changes
Kura does not return an error

[2020-05-06 09:58] LeoNerdoG opened #2851 ""Require digits in new password" Ignored When Updating Password"
If user sets "Require digits in new password" to True, Kura ignores this setting when user is updating the console password.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole Service and set "Require digits in new password" to True
3. Apply changes
4. Try to update password so it doesn't contain digits
5. Apply changes
Kura does not return an error (ignore the "404" error)

**Expe

[2020-05-06 09:58] LeoNerdoG opened #2852 "Should Empty Login Banner be Allowed?"
If user sets "Access Banner Enabled" to True and there is no content in "Access Banner Content" the message displayed upon login is empty - should this be allowed or not? What is the point to show an empty message?

Also the banner's dialogue box should not be named "Warning" but "Info". It makes more sense?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebConsole Service and change "Acc

[2020-05-06 10:15] MMaiero commented on #2848
That field is for now only limited to the wifi password, as far as I know.

I would suggest for now, since the development is in progress to keep the UI tests on hold

[2020-05-06 10:53] LeoNerdoG commented on #2848
OK cool. I have noticed this and reported so we have this in the issue list.

[2020-05-06 11:00] LeoNerdoG opened #2853 "Watchdog Syntax Errors"
There are some minor syntax errors in Watchdog service that should be fixed (ses creehsot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Watchdog Service and observe its descriptions
3. There are some syntax errors that need fixing

**Expected behavior**
/

**Screenshot:**
![Screenshot 2020-05-06 at 12 59 08](https://user-images.githubusercontent.com/15121999/81169665-7ee61e80-8f

[2020-05-06 11:02] nicolatimeus opened #2854 "Change WatchdogService refresh interval parameter description"
The current description in the metatype for the watchdog service refresh interval parameter is the following:

`Watchdog refresh interval in ms. The value can be set between 1 and 60 seconds.`

This might cause the user to assume that this parameter changes the hardware watchdog refresh interval. If the user sets it by mistake to a value above the hw watchdog expected refresh interval, the gateway

[2020-05-07 06:28] LeoNerdoG opened #2855 ""Internal port" And "External port" Defaultly Set to "0""
"Internal port" and "External port" properties are marked as mandatory when creating new port forward entry. However, if user does not populate them, the changes are saved nontheless (both ports have value "0", which is not ok, because this is not a valid port (see screenshot No. 1).
If user wants to enter "0" into both ports, Kura marks fields as in error state, which is ok, but is not consistent

[2020-05-07 06:37] LeoNerdoG opened #2856 "Default Title For Port Forwarding Entries That Are Being Edited"
If user decides to edit a port forwarding entry, the title is generic for all items in the list: "Update Port Forward Entry: 0". This should be changed.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> port forwading
3. Create new port forwarding entry
4. Click Submit and Apply
5. Select the newly created item and click Edit - observe the title

**Expected behavior**
The title s

[2020-05-07 06:58] LeoNerdoG opened #2857 "User Able to Submit Port Forward Entry With Just "Source port range""
User is able to submit a new port forward item jsut by entering the "Source Port Range" parameter (observe the screenshots bellow, follow the testflow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> port forwading
3. Create new port forwarding entry with only "Source port range" defined
4. Click Submit and Apply
Kura does not throw any error (ignore the generic error that sho

[2020-05-07 06:58] LeoNerdoG opened #2858 ""Permitted MAC Address" Field Permanently in Error State"
If user enters an invalid MAC address into the "Permitted MAC address" in Firewall ->Port Forwarding  -> New, Kapua marsk the field in red, which is OK. But if user fixes the issue, the field stays in error state.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> port forwading
3. Go to "Permitted MAC address" field and enter "aa:bb:cc:dd:ee:ff:gg" MAC address (invalid address)
4

[2020-05-07 07:05] LeoNerdoG opened #2859 "User Able to Submit Port Forward Entry With Just "Permitted MAC address""
User is able to submit a new port forward item jsut by entering the "Permitted MAC address" parameter (observe the screenshots bellow, follow the testflow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> port forwading
3. Create new port forwarding entry with only "Permitted MAC address" defined
4. Click Submit and Apply
Kura does not throw any error (ignore the generic error

[2020-05-07 11:14] LeoNerdoG opened #2860 "User Able to Submit Port Forward Entry With Just "Permitted Network""
This issue is basically the same as #2859 and #2857 but I am opening this just to have a clear thread for every issue reported. If fix will be provided for all of them at once, please reference them in the PR and then close them accordingly.
User is able to submit a new port forward item jsut by entering the "Permitted Network" parameter (observe the screenshots bellow, follow the testflow).

**Te

[2020-05-07 11:17] LeoNerdoG opened #2861 "User Able to Submit Port Forward Entry With Just One Mandatory Parameter"
This issue is basically the same as #2859, #2857, and #2860 but I am opening this just to have a clear thread for every issue reported. If fix will be provided for all of them at once, please reference them in the PR and then close them accordingly.
User is able to submit a new port forward item jsut by entering one of the mandatory paramters (only LAN address, or only Output interface, or only in

[2020-05-07 11:35] LeoNerdoG opened #2862 "User is unable to add IP forwarding Item to List"
I have encounter a problem in Firewall -> Ip forwarding/Masquerading. When I enter all the valid paramteres, click Submit and then Apply, I get a generic error and item is not added to the list (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> IP forwarding
3. Click "new" and add valid parameters to all the fields and click Submit
4. Click Apply and obser

[2020-05-07 11:37] MMaiero commented on #2862
Is some error log visible in kura.log or Kura-console.log files?

[2020-05-07 11:52] LeoNerdoG commented on #2862
Hey @MMaiero,
all I get is:
<img width="1275" alt="Screenshot 2020-05-07 at 13 51 33" src="https://user-images.githubusercontent.com/15121999/81291375-ef5c7080-9069-11ea-9290-e0391b80fe93.png">

[2020-05-07 11:54] MMaiero commented on #2862
Ok, it seems like there are new changes in the raspberry for iptables
@pierantoniomerlino can that affect the 4.1.1?

[2020-05-07 12:03] LeoNerdoG opened #2863 "Paging in Firewall Service for Better User Experience?"
**Is your feature request related to a problem? Please describe.**
If user creates a lot of items in "Open Ports", "Port Forwawrding" or "IP Forwarding/Masquerading", everything is stored in one list, with a scrollbar. This can be very annoying if there are for example 50 or 100 entries (for whatever reason).

**Describe the solution you'd like**
I would really like to see paging on these tabs and

[2020-05-07 15:11] pierantoniomerlino commented on #2862
@LeoNerdoG @MMaiero I'm not able to reproduce this error neither with the 4.1.1 nor 4.2.0-SNAPSHOT.
Here is my configuration:
Board: Raspberry Pi 3
OS version: Linux raspberrypi 4.19.97-v7+ #1294 SMP Thu Jan 30 13:15:58 GMT 2020 armv7l GNU/Linux
Kura version: 4.2.0_SNAPSHOT [Link to the last develop commit](https://github.com/eclipse/kura/commit/3c66c528070845edf4f928c873dc3e553e1a9371)

Which is

[2020-05-08 07:21] LeoNerdoG opened #2864 ""(Un)permitted interface name" Fields Both Modifiable After Browser Reload"
If user enteres either "permitted interface name" or "unpermitted interface name", submits and applies the changes and then reloads the whole browser page, the "unpermitted inteface name" and "permitted interface name" are both modifiable (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> Open Ports
3. Select some port and click "Edit", enter either "unper

[2020-05-11 05:54] LeoNerdoG commented on #2862
Hi @pierantoniomerlino,
I finally figured out how to reproduce the issue. It is not solely up to IP Forwarding/Masquerading tab, but also "Port Forwarding".
Plase follow the testflow bellow and let me know if you were able to reproduce the issue.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> Port Forwarding
3. Click on "New" and enter only "Source port range" (e.g. 1234)
4. C

[2020-05-11 06:36] LeoNerdoG opened #2865 "User Can Add Empty IP Forwarding/Masquerading Item"
If user does not enter any parameters into the input fields when creating new IP Forwarding/Masquerading, Kura reports an error when clicking Apply (nothing is thrown when Submit is clicked), but the item is added anyway (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall - > IP Forwarding/Masquerading
3. Click New, without entering any parameters click Submit

[2020-05-11 06:36] LeoNerdoG opened #2866 "Duplicate Entries in IP Forwarding/Masquerading When Deleting an Entry"
If user has for example two entries in IP Forwarding/Masquerading and then deletes first one, the second one gets duplicated (see screenshots bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall - > IP Forwarding/Masquerading
3. Create a unique entry (enter only mandatory parameters
4. Create another unique entry, Submit and Apply changes
5. Select first entry in the list and

[2020-05-11 08:25] pintify opened #2867 "Client Id set from hostname"
**Is your feature request related to a problem? Please describe.**
I'm interested in having multiple devices pre-defined with the same configuration. As this devices are univocally defined by a hostname used on other services, I would be interested in using it also for MQTTDataTransport similarly as it can be used in CloudService

**Describe the solution you'd like**
A choice box similar to CloudS

[2020-05-11 12:11] LeoNerdoG opened #2868 "Special Symbols in Network -> Wireless -> "Network Name" Not Parsed Properly"
If user enters invalid special characters into Network -> Wireless -> Network Name, they are not parsed correctly (see screenshot bellow). This network is also not visible in the neetwork list when searching for it.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> Wireless -> Network Name
3. Enter "!"#$%&'(){}~Ææ~¿ˇÈ" into Network name
4. Submit changes
5. Observe the result (in

[2020-05-11 12:11] LeoNerdoG opened #2869 ""Wlan0" Still Visible in RPi Configuration, Although Disabled"
If user sets Wireless Status to "Disabled" it is still seen in the network list, if user executes command "ifconfig" on Raspberry.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> Wireless -> Network Name
3. Set the Status to "Disabled"
4. SSH yourself to Raspberry and execute command "ifconfig"
5. Observe the list - wlan0 is there

**Expected behavior**
If user disables the Wlan

[2020-05-11 12:11] LeoNerdoG opened #2870 "Unscrollable Info Windows"
If user selects "Layer 2" from the "Status" dropdown menu in Network -> Wireless, under Information section there is its description. The problem is that the description is too long for the window and there is no way to scroll the scrollbar, because if user changes focus, the description disappears.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> Wireless -> Status
3. Select "La

[2020-05-12 10:11] mordredz opened #2871 "Wired subscriber and logger"
Hi, I'm building a system with this architecture:

Client MQTT (Python Paho) --> Mosquitto --> Kura (Docker) --> View Payload in kura.log

For Kura's subscription to a Mosquitto topic I created the CloudService and the subscriber. The subscription and the creation of the topic were successful, as I receive messages correctly.

![screenshot](https://user-images.githubusercontent.com/52132942/816708

[2020-05-13 15:42] MMaiero commented on #2871
Hi,
is it possible that the message content is in the body of the payload?
If that is true, the logger currently logs just the content of the metrics and not the content of the message body.

[2020-05-18 11:52] LeoNerdoG opened #2873 "Apply Button Active Although Nothing Changed"
In Network -> WLAN0 the "Apply" button is always active, although user does not change a thing.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> wireless
3. Observe the "Apply" button - it is always active

**Expected behavior**
If user does not change anything, the "Apply" button should not be active (clickable)

**Screenshots**
![Screenshot 2020-05-18 at 09 12 37](http

[2020-05-18 11:53] LeoNerdoG opened #2874 ""Passwords do not match" Error, Although WIfi Passwords Are Same"
If user deletes "Wireless Password" and "Verify Password" fields, and then enters "verify" before "wireless password", Kura returns an error, that passwords are not the same, although they are.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> wireless
3. Delete the "wireless password" and "verify password"
4. Enter new password in "verify password"
5. Enter the same pass

[2020-05-18 11:53] LeoNerdoG opened #2875 "Generic Error if User Applyes Changes Without Wifi Password"
If user tries to apply new changes without specifying password AND its "verification" part, Kura reports a generic undescriptive error (sees creenshot bellow). If user forgets to enter one of them, Kura returns a warning message

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> wireless
3. Delete the "wireless password" and "verify password"
4. Enter new password in "veri

[2020-05-18 11:53] LeoNerdoG opened #2876 "Generic Undescriptive Error When Network's Password Wrong"
When device is in station mode and you select an access point from the list, Kura reports and undescriptive generic error if the password is not correct (see the screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> wireless
3. Set the Wireless mode to "Station Mode"
4. Mistype the networks password
5. Click Apply

**Expected behavior**
Kura should report

[2020-05-18 12:15] LeoNerdoG opened #2877 ""Information" Section has Fixed Width"
If user narrows the browser window, the "Information" section in Network -> wlan0 -> Wireless does not shrink accordingly (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> wireless
3. Shrink the browser window and observe the "Information" section

**Expected behavior**
"Information" should be shrinked according to the browser width.

**Screenshot

[2020-05-18 12:16] LeoNerdoG opened #2878 ""Information" Changes to "Help" When Narrowing Browser Window"
If user has a "full size" browser window, there is an "Information" section in Network (see screenshot bellow). But if user narrows the browser window, the "Information" section gets replaced with small "?", question mark icons, and when pressed a "help" section opens up.
I suggetst that we change "Help" into "Information", because it is actual section with more information and not help directly.

[2020-05-19 08:38] LeoNerdoG opened #2879 "Menu on Left Disapperas at Certain Browser Size"
There is a certain point (size) of browser window when menu on the left is missing. I was able to recreate this issue several times and always the browser size was somewhere around 990 px (width) and 1000 pixels (heigth).

**Testflow:**
1. Login to Kura as admin/admin
2. When on home page, resize it to cca 990 x 1000 pixels
3. Observe the missing side bar on the left

**Expected behavior**
Sidebar

[2020-05-19 08:38] LeoNerdoG opened #2880 "Duplicated Results of Available Networks Search"
If user presses "search" button in Network -> wlan0 -> Wireless (station mode) for searching the available networks, Kura reports all the available networks multiple times (see screenshot bellow - the network names have been erased on purpose).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless (station mode)
3. Click several times on "search" button for searching

[2020-05-19 08:38] LeoNerdoG opened #2881 ""Wire Components" Too Small to Properly Display Certain Components"
The "Wire Components" section is too small to properly display "Emitters/Receivers" box, if the browser window is resizde even for just a bit (see screenshot bellow). If the window is narrowed even further, so that all components jump to the bottom, everything is shown perfectly.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Wire Graph
3. Resize browser window and observe the "Wire Compo

[2020-05-19 10:22] pierantoniomerlino commented on #2789
@LeoNerdoG Ahhh, now I understand! If a field in the form is not "touched", the check is not triggered and the user can submit an empty values... It applies also on the open ports and ip forwarding.

[2020-05-19 11:57] LeoNerdoG commented on #2789
Hey @pierantoniomerlino,
yes, exactly. Sorry if I didn't write it more accuratelly. If you'll have any more questions regarding my issues, just ping me, because sometimes I have multiple issues "under test" and I might not write the testflow or description down properly.

[2020-05-19 13:28] pierantoniomerlino commented on #2791
@LeoNerdoG Is it possible that this issue has been already addressed by #2814? Could you please check with the last build of Kura develop if this problem is still present?

[2020-05-19 13:37] pierantoniomerlino commented on #2846
@LeoNerdoG Same behavior in Ip Forwarding tab...

[2020-05-20 05:46] LeoNerdoG commented on #2791
Hey @pierantoniomerlino,
you are right, this issue indeed has been resolved via PR #2814.
I am closing this, becaus eit has been fixed.

[2020-05-20 05:46] #2791 closed, assigned to pierantoniomerlino

[2020-05-20 05:50] LeoNerdoG commented on #2846
hey @pierantoniomerlino,
I have checked this and it's still an issue (see GIF bellow) - latest build of kura develop has been used: [link to the newest kura build](https://ci.eclipse.org/kura/job/kura-develop/lastSuccessfulBuild/artifact/kura/distrib/target/kura_4.2.0-SNAPSHOT_raspberry-pi-2-3_installer.deb)

I have followed the testflow above and I was able to reproduce it.

![123](https://user-i

[2020-05-20 07:36] LeoNerdoG opened #2883 "Undescriptive Error Message For Wireless Password"
If user sets access point password that is too weak, Kura reports an error: "Password must be 5, 13 ASCII characters, or 10, 26 HEX characters", which is not very user friendly.
Can it be something like: "Password must be at least 8 characters long and must contain at least one lower case letter, one upper case letter, a number and a special symbol."?

**Testflow:**
1. Login to Kura as admin/admin

[2020-05-20 07:36] LeoNerdoG opened #2884 "Access Point Name Can be Blank"
If user deletes the default "Network Name" for Kura's access point, Kura does not report an error when you try to submit the changes. When you search for the "empty" network with your phone, it is not found (which is logical).
I suggest that "Network Name" is a mandatory parameter, or, if user submits an Access Point with empty Network Name, that default one is shown uppon applying changes.

**Tes

[2020-05-20 07:36] LeoNerdoG opened #2885 "Why Two Columns For Same Parameter (Channel Frequency)?"
If you navigate to Network -> wlan0 -> Wireless and observe the "Available Channels" table, there are two basically the same columns (Frequency (MHz)), one is slightly more accurate then the other. My question here is if we can ditch the rigth one, as the left column is much more precise and we get no additional data out of right one?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network

[2020-05-20 07:36] LeoNerdoG opened #2886 ""Wireless Password" Stays in Error State"
If user adds a bad WEP password, then changes Wireless mode from Access Point to Station Mode and back, the Wireless Password field is still in the error state, if WEP is selected. On the GIF bellow there is only the second part shown.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless
3. Select Station Mode, and WEP for Wireless Security
4. Enter a invalid WEP pa

[2020-05-20 07:36] LeoNerdoG opened #2887 ""Bgscan Short Interval" Can be Longer Than "Bgscan Long Interval""
If user sets Wireless Mode to Station Mode, two options open: Bgscan short and long interval. The short one specifies the minimum value and the long interval specifies the max scanning interval. However, user is able to set short interaval to be longer then the Long one - is this okay?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless
3. Select Station mode, ente

[2020-05-20 08:01] LeoNerdoG opened #2888 "Where is The DNS Server List?"
If user sets wlan0's status to "Enabled for WAN", the "DNS Servers" option gets enabled. If user hoovers above the field, it says:
"List of DNS servers. New servers can be added by entering an address and clicking apply.
To remove a server, delete the address from the list and click apply".
Is this list meant to be in the UI or on the device itself, and thereofre deletable only if user ssh's itsel

[2020-05-20 15:36] #2854 closed, assigned to nobody

[2020-05-20 16:00] MMaiero commented on #2888
@LeoNerdoG The issue is not clear to me.

In theory, the user can specify its own DNS server there like 1.1.1.1 and have dns names resolved from that instead of the one set by the network.

[2020-05-21 06:30] LeoNerdoG commented on #2888
Hey @Matteo,
the problem here is not in the field itself or with the DNS server entry , but in the description of the field. There is a part in decription that says: "To remove a server, delete the address from the list and click apply" - what does this actually mean? Shold there be a list of DNS servers in the UI? Because there isn't any and I was just wondering if this is an issue?

[2020-05-21 07:04] MMaiero commented on #2888
Ok, got it. I agree can be misleading. I believe that we can maybe remove that sentence. What do you think?

[2020-05-21 07:23] MMaiero commented on #2869
That is an intended behaviour. Disabled for kura means that there is no address assigned and services to have the wifi as access point or station mode are not running.
This corresponds to a de-facto disabled interface.

[2020-05-21 07:25] MMaiero commented on #2853
Fixed by PR #2872

[2020-05-21 07:25] #2853 closed, assigned to nobody

[2020-05-21 07:26] LeoNerdoG commented on #2869
Hey @matteo,
I am closing this issue due to the upper comment.

[2020-05-21 07:26] #2869 closed, assigned to nobody

[2020-05-21 07:29] LeoNerdoG commented on #2888
Yes, I agree. If there is no list in the UI that would made this possible (removing DNS entries),t hen this part should be removed.

[2020-05-21 08:57] LeoNerdoG opened #2889 "Apply Button in Stops Working if "Bgscan Interval" Out of Bounds"
If user enters too large number into "Bgscan Short Interval" or "Bgscan Long Interval", the Apply button does not work. There is no error in the fields so they are obviously not validated properly.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> TCP/IP
3. Set Status to "enabled for LAN"
4. Go to Wireless tab, connect to a access point (e.g. hotspot on phone)
5. Wait for

[2020-05-21 08:57] LeoNerdoG opened #2890 ""Bgscan Signal Strength Threshold (dBm)" Parameter Cannot be Changed"
If user has the option to change the "Bgscan Signal Strength Threshold (dBm)", the changes are not saved.
Also there is no validation done uppon the field, so user "can" enter symbols, strings etc... without Kura validationg the field (user can click Apply, but the changes are not saveda anyway).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> TCP/IP
3. Set Status to "e

[2020-05-21 08:57] LeoNerdoG opened #2891 "No Information When Hovering Above "Bgscan Signal Strength Threshold (dBm)""
If user has the option to change the "Bgscan Signal Strength Threshold (dBm)", there is no additional information if mouse is above the field.
However, if user narrows the window, so the question mark icons appear (you get more info when clicked), there is information regarding this field.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> TCP/IP
3. Set Status to "enabled

[2020-05-21 08:57] LeoNerdoG opened #2892 ""Status" Fields in Network -> wlan0 Should be Renamed to "Mode""
There are several mode options for wlan0 for end-user to choose from. The problem is that this field is named "status", which is not entirely correct. I suggest that this gets renamed to "Mode", becasue user is actually selecting the mode for this wlan and not setting its status (status should be "enabled/disabled", but we have other options too, so word "Mode" is more appropriate for this field)

[2020-05-21 08:57] LeoNerdoG opened #2893 "Only "Station Mode" Available When Wlan0 Status set to "Enabled for WAN"?"
If user sets the status of the wireless interface to "Enabled for LAN", then there are all options available in "wireless" tab (Station Mode and AP mode). But if user changes the status to "Enabled for WAN", the Wireless Mode status is automatically set to "Station Mode" - is this correct behaviour?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> TCP/IP
3. Set the statu

[2020-05-21 09:55] MMaiero commented on #2893
Yes, when wan is selected, the only way to reach internet for the gateway is if it is connected as a client in an existing network.

[2020-05-21 10:14] LeoNerdoG commented on #2893
I am closing this issue due to the upper comment.

[2020-05-21 10:14] #2893 closed, assigned to nobody

[2020-05-22 07:12] LeoNerdoG opened #2894 "Strange Error in Network Service When Web Session Ends"
If you reach the "Session max inactivity interval", which is set in WebConsole -> "Session max inactivity interval" and try to click e.g. Apply button in Newtork -> wlan0 -> Wireless, Kura reports a 401 error, stating: "NetwokButtonBarUI: 401 Unauthorized".
Can we make this error message a little more user friendly?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to WebService -> "Session max

[2020-05-22 07:12] LeoNerdoG opened #2895 "Hostapd Service Suddenly Not Working Any More"
Today I noticed a weird problem. When I tried to connect to Kura's wifi AP, I got an authentication error. I looked into logs and there was this log:

disable() :: killing DHCP client for wlan0
Attempting to send SIGKILL to process with pid 18875
enable() :: Starting DHCP client for wlan0
bringing interface wlan0 up
Attempting to send SIGKILL to process with pid 19224
starting hostapd for the wlan

[2020-05-22 07:12] LeoNerdoG opened #2896 "Wrong Description in Network (regarding DHCP & NAT)"
If you read the information text in Network (see screenshot bellow), there is clearly stated that: "DHCP Server and NAT can be configured only for interfaces enabled for LAN usage."
This is not true, because if user sets a particular interface to "Enabled for LAN", the DHCP & NAT option is disabled (Screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0/eth0
3

[2020-05-22 07:12] LeoNerdoG opened #2897 "No Description for "Group Ciphers" in Network -> wlan0"
If you hover above "Group Ciphers" field in Network -> wlan0 -> Wireless, the "additional" information is only "group ciphers" - but should really be at least more detailed description of the field.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless
3. Hover above the "Group Cihpers" field and obser the "information" section

**Expected behavior**
Description of t

[2020-05-22 08:02] LeoNerdoG commented on #2896
@MMaiero I have an update for this issue - DHCP & NAT tab gets enabled if Status is set to "Enabled for LAN" and Configure to "Manually" (if set to "DHCP", the tab is disabled) - is this the desired behaviour?

[2020-05-22 08:03] MMaiero commented on #2896
Yes. Once you are in DHCP client you cannot set DHCP and NAT acting as a server

[2020-05-22 08:05] LeoNerdoG commented on #2896
Ok. I think this can be closed then, because I thought that if you set "Enabled for LAN" this option gets automatically enabled. The description is OK I guess.

[2020-05-22 08:05] #2896 closed, assigned to nobody

[2020-05-22 11:08] LeoNerdoG opened #2898 "Syntax Errors in Network Service"
There are several syntax errors in Network service that should be fixed (see screenshots bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0/eth0
**2.1** Hover above the "IP Address" field and observe the "information" on the right (Screenshot No. 1)
Text should be: "For static configuration, enter an IP address that should be assigned to the device."
**2.2.** Hover a

[2020-05-22 13:29] LucaMannella commented on #2475
Hello,
I have a very similar issue but instead of having
`org.apache.logging.log4j2:type=org.eclipse.kura.linux.net`
I have:
`org.apache.logging.log4j2:type=org.eclipse.kura.linux.usb`
and the stack trace look quite identical.

Do you have any idea of what could be the issue?
I'm running the last version of Kura (4.1) inside a Docker container and I have this issue at start time.

Thank you in adv

[2020-05-22 14:06] MMaiero commented on #2475
Hi @Sarcares,
is the error affecting the framework in your case?

Best regards,
Matteo

[2020-05-22 14:28] LucaMannella commented on #2475
Hi @MMaiero,

it is one of the first times that I try Kura so I'm not completely sure.
Appparently, if I go to the dashboard http://localhost:8080/kura it seems that Kura is correctly running.

The strange fact is that I did not see this error the first time that I started the container, it appeared when I recreated it.

Thanks for your support!
Luca

[2020-05-22 14:33] MMaiero commented on #2475
It depends on the ways the Kura components are started.
From what we have seen it is just cosmetic, but we will try to solve it in one of the next releases.

[2020-05-22 14:37] LucaMannella commented on #2475
Ok, in case I'll experiment some particular issue related to him, I'll write again you!

Thank you again for your very fast answer!

[2020-05-22 15:28] pierantoniomerlino commented on #2895
@LeoNerdoG If you have time, could you stop Kura, run this command on the terminal and get the output?
`sudo hostapd -dd -B /etc/hostapd-wlan0.conf`

[2020-05-25 07:15] LeoNerdoG commented on #2895
Hi @pierantoniomerlino,
bellow is the log when I run this command. If you need anything else, please let me know.

[hostapd-log.txt](https://github.com/eclipse/kura/files/4675704/hostapd-log.txt)

[2020-05-25 11:04] LeoNerdoG opened #2899 "Tab Arrangement Distorted When Browser Window Resized"
If user resizes the browser window, there are some tabs that are not arranged as they should be (see screenshots bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Resize the browser window and go to Device and Firewall services
3. Observe the tab arrangement.

**Expected behavior**
Regardless of browser size, tabs should be arranged in some kind of order and not randomly.

**Screenshot No

[2020-05-25 11:06] LeoNerdoG opened #2900 "No Error When Trying To Apply Network Settings Without Specifying Channel (wifi)"
If you try to apply changes without specifying the channel for wireless network, Kura returns no errors, but instead seelcts channel-1 (it looks like that this is the default channel, although this is not stated anywhere).
Is this the desired behaviour? Is suggest that we change this so that Kura checks if a channel is selected or we ada  text to the description of the field (e.g. "If you don't se

[2020-05-25 11:06] LeoNerdoG opened #2901 ""Router Mode" Settings Ignored"
If user changes the "Router Mode" to DHCP & NAT, changes some settings (e.g. DHCP beginning and ending address), saves changes, reloads the page and returns to this tab, the "Router Mode" is in "NAT only".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> eth0 -> Configure
3. Set the Configure to "Manually"
4. Go to DHCP & NAT tab
5. Change the Router mode to DCHP & NAT
6. Change

[2020-05-26 07:16] LeoNerdoG opened #2902 "No Error if "Pairwise/Group Ciphers" Empty"
If user does not select a something from Pairwise Ciphers and/or Group Ciphers in Network -> wlan0 -> Wireless, Kura does not return an error, which is not OK, since this parameters are mandatory (and set to "default" values after clicking Apply - see screenshots bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless
3. Select Station Mode
4. Set Network Name

[2020-05-26 07:16] LeoNerdoG opened #2903 "Access Point Configuration Appliable Without Entering Passwords"
If user does not enter passwords when Kura is in Access Point mode, no error is thrown when usser applies the configuration.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless
3. Select Access Point Mode
4. Set the Wireless Security to WPA/WPA2, leave the password fields empty
5. Click Apply - observe the lack of the error

**Expected behavior**
If user does not e

[2020-05-27 07:25] LeoNerdoG opened #2904 "Password Field Stays in Error State When Changing From WEP to WPA/WPA2"
If user first select WPA/WPA2 from Wireless Security Menu, deletes password, selects WEP and then again WPA/WPA2, the error message "Password must be 5, 13 ASCII characters, or 10, 26 HEX characters" stays in place, which is not OK, because this error message should be associate with WEP wireless security and not WPA/WPA2.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 ->

[2020-05-27 07:25] LeoNerdoG opened #2905 "Kura Accessible on Two Different IPs?"
I think this is really not a Kura issue, but maybe you guys can help me out.
I have Kura 4.2.0_SNAPSHOT (latest) installed on my Raspeberry and the IP shown in Kura is 10.19.40.103 (screenshot bellow). But my Kura device is also accessible through IP 10.19.40.102? How is this possible, is there a residual configuration somewhere on my machine or...?
I have 2 devices on my network, but other is on

[2020-05-27 07:35] LeoNerdoG opened #2906 "Passwords Not Matching Error Persists Although Passwords Identical"
The best way to explain/reproduce this issue is to follow the testflow bellow, but the bottom line is this - if user enters Confirm Password before entering the Password, then the validation does not work.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless
3. Select Access Point Mode
4. Set the Wireless Security to WPA/WPA2
5. Delete the "Password" entry, then del

[2020-05-27 09:03] LeoNerdoG opened #2907 "HTTP Service Not Working Properly"
If user sets "HTTP Enabled" to "True", the service is not available (for HTTPS it works).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to HTTPService
3. Set HTTP Service to "True" (leave the port number at 80)
4. Try to connect to  [kura-ip]:[80]. - the connection cannot be established

**Expected behavior**
If user enables the HTTP Service, Kura should be accessible on the [kura-ip]:[port

[2020-05-27 09:03] LeoNerdoG opened #2908 "Should HTTP and HTTPS be Mutualy Exclusive?"
For now, user can switch both services, HTTP and HTTPS off, so effectivelly Kura is not accessible - at all. Should these two options be mutually exclusive, so user does not "lock himself out"?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to HTTPService
3. Set HTTP Service to "False"
4. Set the HTTPS Service to "False"
5. Try to acces Kura through UI - that is not possible

**Expected beha

[2020-05-27 09:03] LeoNerdoG opened #2909 "Kura Stops Responding if Port Number Above 65535"
If user enters a port number larger than 65535 (e.g. 999999), Kura stops responding entirely and device needs to be restarted (we get "port out of range" error in the logs, but no warning on the frontend side). The worst thing is that even reboot does not help, Kura has to be reinstalled entirely (at least nothing else worked for me).
I suggest that we add a check on the Port field to see, if the

[2020-05-29 16:01] #2726 closed, assigned to nobody

[2020-06-02 13:17] sterwen opened #2913 "WiFi Channels 12-14 not usable in AP mode"
**Describe the bug**
When the max WiFi channel is set to 14, channels 12-14 cannot be used in access point mode.
The table with the possible channels has always 11 rows.

In station mode, it possible to connect to access point using channels 12-14.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network/wlan0/wireless
2. Click on Wireless => Access point
3. Scroll down to "Channels"
4.

[2020-06-02 19:11] sterwen opened #2914 "Management of WiFi 5GHz channels"
**Is your feature request related to a problem? Please describe.**
More and more WiFi modules and chips are dual bands and more and more access points are also dual bands. So Kura need to have the dual band WiFi management feature.
Disclaimer: I looked into the issue list and in the release notes and did not found that feature. I may have overlooked it in that case just cancel this issue.

**Descr

[2020-06-03 12:31] MMaiero commented on #2913
From what I see testing on a sample device and looking at the code, channels 12 and 13 are supported.

![Screenshot 2020-06-03 at 14 29 04](https://user-images.githubusercontent.com/10448126/83636738-bf3fb900-a5a6-11ea-81f0-ff40e2ae126e.png)

I don't think I have a device supporting channel 14. It seems anyway not supported by our current UI.

[2020-06-03 23:52] BrunoJesus84 commented on #2681
Hi guys! First of all, I'm a newbie in Kura, just beginning (or trying) to use. So, sorry if my post is in the wrong place.

I'm having the same problem. I tried to connect to Cloud by pressing the button "Connect/Disconnect" on Cloud Connections entry, but it showed the message "Failed to connect! Please review your configuration and try again later." and the stack trace posted by @aamirusman0.

[2020-06-04 06:01] MMaiero commented on #2681
Hi,
first of all welcome to the project!
The Cloud Connections allows to have Kura being able to a MQTT broker. The URL, then, has to be configured with the broker URL and all the necessary informations needed to properly connect and authenticate to the end broker. We have some documentation for that. For example if you want to connect to Eclipse Kapua, here is the guide on how to do that: http://

[2020-06-04 09:58] #2913 closed, assigned to MMaiero

[2020-06-04 10:09] MMaiero commented on #2907
Hi @LeoNerdoG,
did you open the port 80 in the firewall configuration?

[2020-06-04 10:21] MMaiero commented on #2908
In theory, the user can also enable both and maybe associate that with a firewall policy to restrict accesses.
The other way around, the user can decide to disable UI access disabling both services and, maybe, enable them when needed from the cloud platform.

[2020-06-04 14:17] pierantoniomerlino commented on #2768
@LeoNerdoG this issue should be fixed with one of the last PR about firewall. Can you confirm?

[2020-06-04 17:56] BrunoJesus84 commented on #2681
Hi @MMaiero , passing by to thank you for the tips. Helped me a lot.

I'm running Kapua on my laptop and, finally, I managed to connect Kura via CloudService. However, I still don't know how to set up a publisher/subscriber. In fact, all I have achieved so far is to change the status to "connected" (which for me was a reason to celebrate). I don't know if I could open a new thread or there is anot

[2020-06-05 07:28] LeoNerdoG commented on #2681
Hey @BrunoJesus84,
as fas as for Kapua goes, it is primarly used to manage the devices (e.g. install packages, view and change assets, change configuration, etc.) so its focus is not data gathering and display, although it has a simple data service, that lists all the gathered data in a table.
If you woul like to have something more, I suggest you look at these videos:

 - [Setup Kapua for use wit

[2020-06-05 08:07] LeoNerdoG commented on #2907
hey @MMaiero,
yes, that was the problem. I suggest that we add a note above the field or maybe a tooltip saying: "Please ensure that this port is properly liste in Firewall" or something similar.
This way users will not forget about opening the port in Firewall which obviosluy happens very quickly 😄

[2020-06-05 08:07] #2907 closed, assigned to MMaiero

[2020-06-05 13:21] LeoNerdoG commented on #2768
@pierantoniomerlino I am confirming that PR #2915 fixes this issue.

[2020-06-05 15:17] MMaiero commented on #2900
Hi @LeoNerdoG,
right. But if you apply such configuration and reload the page, actually channel 1 is selected.
Anyways, I get your point, a check before applying is needed. But I see this as a p2 issue.

[2020-06-07 14:00] BrunoJesus84 commented on #2681
Hi @LeoNerdoG and other colleagues, I will take a little more of your patience.
First of all, thank you very much for the amazing detailed tutorial. Awesome!! I'm very happy with the help.
Unfortunately, I believe that there is still some problem in the connection of Kura with Kapua. I notice that it appears "connected" in the Kura Web UI...

![PrintKura0](https://user-images.githubusercontent.com

[2020-06-08 07:52] MMaiero commented on #2681
Regarding the inconsistence with the status reported in the cloud, maybe try to disconnect and reconnect the device. I've seen that a couple of times

[2020-06-08 09:00] pierantoniomerlino commented on #2708
@LeoNerdoG I can't reproduce this issue. Which browser are you using? Have you tried to modify the window size when this happen?

[2020-06-08 09:05] LeoNerdoG commented on #2708
Hey @pierantoniomerlino,
I have checkd this on Firefox (Version: 77.0.1 (64-bit)) and Safari (Version 13.1.1 (version: 15609.2.9.1.2).
I am able to reproduce this every time (browser window should not be full screen).

[2020-06-08 09:29] LeoNerdoG commented on #2681
Hey @BrunoJesus84,
this happens if the account/username in the CloudConnection -> MqttDataTransport are not set properly (kura connects, but the device is not in the list). Please check if all the credentials are ok and maybe disconnect/conenct couple of times like Matteo suggested.
You are not wasting our time, we are happy to help you 😄  sometimes we don't answer instantly, so don't be mad 😄

[2020-06-08 10:00] pierantoniomerlino commented on #2709
This is what I see on my installation:

![Kura](https://user-images.githubusercontent.com/2919570/84017838-86755a80-a97f-11ea-9918-8b276f0d85a7.gif)

[2020-06-08 10:09] pierantoniomerlino commented on #2709
The issue can be reproduced simply scrolling down the page with the list of installed packages.

[2020-06-08 16:42] tmontanaro opened #2921 "Documentation clarifications"
Hello, I'm approaching Kura in the last days as an iPOJO user who is looking for a consolidated infrastructure to enhance the developments of his team in IoT domain ... and I'm a little confused by the documentation.
I will report here the questions to which I cannot answer hoping that someone can help me in finding related answers.
What I understood is that Kura creates a sort of abstraction laye

[2020-06-08 20:31] MMaiero commented on #2921
Hi @tmontanaro,
first of all welcome to the project!

Regarding your questions:
1. Most of the components are described in the [official Kura documentation](http://eclipse.github.io/kura/). Regarding the Wires Components there is a specific section in the documentation with usage examples.
2. and 3. what you mean with "publishes data"? Publishes through MQTT? Or published a Kura Envelope through w

[2020-06-08 22:43] tmontanaro commented on #2921
Hello @MMaiero and thank you very much for your fast reply.
I will try to answer to your further questions following the same question numbers used in my previous post.

1. Ok. I will try to read everything again, however I have to say that I already tried to read it and sometimes the reported information are not enough to let a novice person understand how to do things (when and if I will be able

[2020-06-09 07:21] MMaiero commented on #2921
Hi @tmontanaro,
regarding 1, I would also suggest to reach out the Kura team via the [Eclipse Kura forum](https://www.eclipse.org/forums/index.php/f/273/), the [mailing list](https://accounts.eclipse.org/mailing-list/kura-dev), or even better via [Gitter](https://gitter.im/eclipse/kura). Any contribution to the documentation or the project in general is more than welcome!

The typical usage of a s

[2020-06-09 10:40] pierantoniomerlino commented on #2716
Also in Device->System Logs->Download

[2020-06-09 11:05] LeoNerdoG commented on #2709
Hey @pierantoniomerlino,
I have checked this PR and it looks good - I think it can be merged.

[2020-06-09 12:17] pierantoniomerlino commented on #2714
@LeoNerdoG I think that this is the expected behavior. The clickable area is defined by the widget itself.

[2020-06-09 12:18] LeoNerdoG commented on #2714
hey @pierantoniomerlino,
OK, I am closing this due to upper comment.

[2020-06-09 12:18] #2714 closed, assigned to pierantoniomerlino

[2020-06-09 14:02] pierantoniomerlino commented on #2717
I think that the "reset" button affects only the tab you're looking, but when you move to another tab, all the modifications are lost. IMHO, we could implement the same behavior of the firewall tab: when the user clicks to a tab, it'll be prompted with a confirmation window that alerts that all the modifications will be lost.

[2020-06-10 08:11] LeoNerdoG opened #2924 "Unable to Normally Add Packages From Eclipse Marketplace"
When user is trying to add multiple packages from Eclipse Marketplace (I tried to install with drag-and-drop), Kura starts reporting an error in /var/kura/kura.log (see bellow).
After some time packages start to appear (or not - i tried several times and sometimes they appeared, sometimes not).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Packages, start drag-and-dropping packages from

[2020-06-10 11:48] LeoNerdoG opened #2926 "Quotation Marks in Password Error (Network - WiFi)"
If user does not enter a wifi password when device in Access Point mode, error pops-up, which is ok. The only problem is that this error has quotation marks in the beginning and at the end (observe the screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> Wifi -> Wireless
3. Set the device to Access Point mode
4. Select WPA/WPA2 wireless security
5. Delete password

[2020-06-10 12:03] mstankovic opened #2927 "Firewall | Port Forwarding | Internal port field validation"
**Describe the bug**
User is able to add string "80:82" as a internal port for port forwarding item
field is not marked as invalid and submit button not responding

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firewall
2. Click on Port Forwarding tab
3. Click on new button
4. for Internal port add "80:82"

**Expected behavior**
Field should be marker as invalid

**Target Environment

[2020-06-10 12:44] mstankovic opened #2928 "Firewall | Port Forwarding | Able to add Forwarded Port although didn't fulfill mandatory fields"
**Describe the bug**
Some of fields in the "Port Forward Entry Information" dialog are marked as mandatory but user is able to add entry without fulfilling those fields

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firewall
2. Click on Port Forwarding tab
3. Click on +new
4. Click on submit

**Expected behavior**
A mandatory fields should get "invalid" and user should not be able to

[2020-06-10 14:50] #2706 closed, assigned to pierantoniomerlino

[2020-06-10 14:50] #2707 closed, assigned to pierantoniomerlino

[2020-06-11 01:59] BrunoJesus84 commented on #2681
Hey @LeoNerdoG and @MMaiero , thanks again for the precious tips.
I realized that Kura is not connecting to Kapua as I believed. The "connected" status refers to the Mosquitto broker that I installed on the same machine that I'm running Kapua on. When I stop the Mosquitto, the status of Kura's Cloud Connection immediately changes to "disconnected".
As suggested, I created a new user on Kapua and c

[2020-06-11 06:41] LeoNerdoG commented on #2707
I have verified that this issue is resolved in develop branch.

[2020-06-11 06:44] LeoNerdoG commented on #2706
I have verified that this issue is resolved in develop branch after merging the PR with the fix.

[2020-06-11 07:08] MMaiero commented on #2681
@BrunoJesus84 Regarding Kapua setup there is not much I can help. I can only think that maybe having Mosquitto and Kapua running on the same machine can have prevented Kapua from getting the usual MQTT ports: 1883 and 8883.
I would try restarting the Kapua instance and trying again.

Referring to Kura, you can use one of the many examples in the documentation on how to fetch data and publish it. A

[2020-06-11 07:10] #2709 closed, assigned to pierantoniomerlino

[2020-06-11 07:11] #2716 closed, assigned to pierantoniomerlino

[2020-06-11 07:25] LeoNerdoG commented on #2681
hey @BrunoJesus84,
the easiest way is, as Matteo suggested, to use Kapua and Kura "out-of-the-box" meaning:
 - Run Kapua with Docker containers
 - Install kura on Raspberry Pi and connect directly to Kapua Broker.
Bellow I am attachin a screenshot of docker containers that must be running in order to have everything you need to get started.

Executing "docker container list" command after deployin

[2020-06-11 11:25] BrunoJesus84 commented on #2681
Wonderful tips, again, guys. Thanks again!
Answering @MMaiero I need to reproduce the same scenario on different IoT gateways. For that, I chose a simple scenario with the components I have available (a Raspberry Pi, an ESP32 and a DHT11 sensor). The scenario is a simple collection of temperature and humidity data. I reproduced this scenario using Node-RED and show them from his Web UI. I am tryin

[2020-06-11 11:34] MMaiero commented on #2681
The greenhouse project was brought by a contributor but was a separate project from Kura itself.
I believe it can be run in new versions of Kura, but will need some work to adapt it to new apis and different environment.

[2020-06-11 11:39] LeoNerdoG commented on #2681
Hey @BrunoJesus84,
Can I ask you to follow the testflow bellow and report back what you get (everything is explained bellow)?

**testflow for Kapua:**
1. checkout the latest develop branch and build kapua (mvn clean install -DskipTests -Pconsole,docker)
2. Run kapua (go to deployment/docker/windows and run docker-deploy.ps1 (as administrator))
3. When everything is run, please copy the logs from a

[2020-06-11 12:08] LeoNerdoG opened #2929 "Installing Package for Kura 3.x.y on Kura 4.x.y"
I have noticed that user is able to install packages that are meant for kura 3.x.y. on Kura 4.x.y without an error - is this desired behaviour or not? I would say not, since there are two different versions of packages, one for each version?

**Testflow:**
1. Login to Kura as admin/admin
2.  Go to Packages, try to install a kura 3.x.y package on kura 4.1.1
3. There is no error, package gets instal

[2020-06-11 12:15] MMaiero commented on #2929
They can install it, but it will not start.
Unfortunately that is a limitation of the eclipse marketplace that we reported a long time ago.

[2020-06-11 12:59] LeoNerdoG opened #2930 "No Error When Adding Forwarding Port Without Populating Mandatory Fields"
User is able to add forwarded port without specifying any of the paramters. Kura reports nothing when "Apply" is clicked and when "Submit" is clicked, Kura reports an error, but nothing happens (if you discard changes, the entry is still there).
Moreover, if you enter invalid forwarded port and then try to open a port in "Open Ports" tab (which has nothing to do with port forwarding), you loose al

[2020-06-11 12:59] LeoNerdoG opened #2931 "Open Ports Disappear if Error in IP Forwarding"
If user enters invalid port forwarding information (see issue #2930), "Open Ports" disapper (after user wants to add a valid open port entry) - screenshot bellow.

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Port Forwarding, try to forward a port without specifying a thing
3. Click Apply and Submit
4. Observe the error when you click Apply
5. Navigate away from this tab, discard changes

[2020-06-11 19:42] BrunoJesus84 commented on #2681
Very good! I will follow the testflow and report here as soon as I have the results. Thanks for the effort in helping me!

[2020-06-12 08:11] mstankovic opened #2932 "Unable to execute reboot command over REST API"
**Describe the bug**
REST API call for executing (reboot) command is not working.

**To Reproduce**
1. Go to Command Service and set Command Enable to true
2. Connect Kura to Cloud
3. Try to execute reboot command over REST API
- Method type:
`POST`
- Method URL:
`https://api-sandbox.everyware-cloud.com/v2/devices/{KURA_CLIENT_ID}/command.xml`
- Method body:
[code]

**Expected behavior**
Command s

[2020-06-12 08:49] MMaiero commented on #2932
Hi,
do other commands work?
If you try to execute the same command locally or via EC console, do they succeed?
Any meaningful error in the logs?

[2020-06-12 09:29] MMaiero commented on #2932
Just tried with Kura develop locally and from console and it works for me on both a generic command and on reboot.
@mstankovic Can you check on your environment?

[2020-06-12 10:51] mstankovic commented on #2932
@MMaiero im able to execute commands via EC console for rapsberry pi connacted to the cloud but for 10-12 im getting error. see below
![Capture](https://user-images.githubusercontent.com/3385815/84494897-8db3a580-acaa-11ea-9943-507eefc79a48.PNG)

also able locally for kura and RPi. For 10-12 I will tell you a bit latter as son as I get into Comtrade

do you use the same url I provided in the descr

[2020-06-12 10:58] MMaiero commented on #2932
That message is because the gateway rebooted immediately not providing feedback. It's just a corner case.

I've not tried with rest apis but in theory they follow, device side, the same path as commands pushed via console.
So, device side everything seems to be working as expected, I would say

[2020-06-12 11:09] LeoNerdoG opened #2933 "No Error When Adding IP Forwarding Port Without Populating Mandatory Fields"
User is able to add IP Forwarding port without specifying any of the parameters. Kura reports nothing when "Apply" is clicked and when "Submit" is clicked, Kura reports an error, but nothing happens (if you discard changes, the entry is still there).
Moreover, if you enter invalid forwarded port and then try to open a port in "Open Ports" tab (which has nothing to do with port forwarding), you loo

[2020-06-12 11:12] LeoNerdoG opened #2934 "Wrong Description in IP Forwarding/Masquerading"
If there is nothing forwarded in IP Forwarding/Masquerading list, its description is "No ports forwarded", which is not ok, because we are not forwarding ports but rather IPs, so description should be something similar to: "No IP Addresses forwarded".

**Testflow:**
1. Login to Kura as admin/admin
2. Go to IP Forwarding, observe the description when no IPs are forwarded

**Expected behavior**
See

[2020-06-12 11:31] LeoNerdoG opened #2935 "No Check if Open Ports Have Mutual Excluding Parameters"
User can add two different open ports that have mutual excluding paramters (e.g. one's permitted interface name is eth0 and other's unpermitted interface name is eth0 - this means, that the created two ports (same port) is virtually unusable).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Firewall -> Open Ports
3. Add a port with following parameters:
 - Port or port range: 10
 - Protoco

[2020-06-12 15:03] MMaiero commented on #2905
Does this persist?
Does a reboot of the device or (more likely) of the router solves this?

I don't think this is indeed a problem in Kura if the ifconfig actually returns the expected IP

[2020-06-12 15:12] #2713 closed, assigned to pierantoniomerlino

[2020-06-12 15:12] #2715 closed, assigned to pierantoniomerlino

[2020-06-12 15:29] MMaiero commented on #2904
@LeoNerdoG I was unable to recreate the issue. In any case I believe this is also fixed by the currently proposed PRs for the wireless part of the UI

[2020-06-12 15:33] MMaiero commented on #2901
Hi @LeoNerdoG, It's not clear to me, from the steps if you are saving the configuration and when.

[2020-06-12 15:57] MMaiero commented on #2895
@pierantoniomerlino anything useful from the logs?

[2020-06-12 15:59] MMaiero commented on #2894
But the user actually is not authorised to perform actions since the session ended. Anyways, I will try to have a look if it's possible to improve the message or the change will affect other interactions

[2020-06-12 16:02] MMaiero commented on #2892
@pierantoniomerlino @nicolatimeus What do you think?

[2020-06-12 16:20] pierantoniomerlino opened #2940 "Drag and drop of deployment packages"
Currently the drag-and-drop feature for installing deployment packages is limited to the Eclipse marketplace. So, only a link to the marketplace is allowed in to the packages tab.

IMHO, a useful feature could be the upload of .dp files from the local filesystem with drag-and-drop.

[2020-06-15 07:56] mstankovic commented on #2932
confirming that this is not an issue. Im closing this one.

[2020-06-15 07:56] #2932 closed, assigned to MMaiero

[2020-06-15 08:11] #2906 closed, assigned to MMaiero

[2020-06-15 08:14] LeoNerdoG opened #2941 ""Passwords do not match" Error Although "Wireless Security" Set to "None""
If user mistypes the Wireless password (in "Confirm Pasasword" field), Kura reports an error (Passwords do not match), which is ok, becasue passwords indeed do not match.
The only problem is that this error persists even if user sets te "Wireless Security" to "None" (see screenshot bellow).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> Wlan0 -> Wireless
3. Enter a valid Passwo

[2020-06-15 08:33] MMaiero commented on #2886
Hi @LeoNerdoG,
not sure about this. What are you suggesting here? To keep the inserted password?

Matteo

[2020-06-15 09:15] LeoNerdoG commented on #2886
Hey @matteo,
basically if user selects "None" from Wireless Security, all the fields should be "reset" or cleared of their error message. I guess the password entry stays there if user changes wireless security from none to something else but I suggest that the fields get reset to some default values, because it is not logical for user to see the error, if the password has not been entered yet.

[2020-06-15 09:23] #2898 closed, assigned to MMaiero

[2020-06-15 11:16] LeoNerdoG commented on #2904
Hey @MMaiero,
I will check and let you know here.

[2020-06-15 11:40] #2941 closed, assigned to MMaiero

[2020-06-15 12:10] #2926 closed, assigned to MMaiero

[2020-06-15 12:14] MMaiero commented on #2880
I couldn't recreate the issue.
Can you double check with develop if this is still the case?

[2020-06-15 12:17] MMaiero commented on #2879
The side bar should be replaced by a menu that is made available by a "hamburger" button on the top left. It is not the case in your setup?
![Screenshot 2020-06-15 at 14 16 56](https://user-images.githubusercontent.com/10448126/84656454-fef59180-af12-11ea-8cce-f25833869bf9.png)

[2020-06-15 13:26] LeoNerdoG opened #2944 "Login Prompt Can be Closed"
If user enters invalid username/password a error prompt appears on login page.
However, if user presses ESC key on the keyboard when the error prompt is active, Kura wll close the login prompt, which is not very user friendly.
user can restore the login prompt with a reload, but this shouldn't happen.

**Testflow:**
1. Open browser window on address https://[kura-ip]
2. Enter a valid username but

[2020-06-15 13:29] LeoNerdoG opened #2945 "Confirm Password Field in Error State Without Description"
If user deletes the Password content, the "Confirm Password" is in error state, but there is no description of what is wrong (although it is obvious, there should be an error message, description).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to Network -> wlan0 -> Wireless
3. Select Access Point mode and enter a valid Password, confirm it in Confirm Password
4. Now clear the Password fiel

[2020-06-16 06:30] LeoNerdoG commented on #2879
Hey @MMaiero,
Yes, it is. But there is a certain point in browser's height and width, where this menu is not available any more. Beyond this point everything works fine again. So you have to find the "sweet spot" for this issue to manifest itself.

[2020-06-16 06:53] LeoNerdoG commented on #2901
Hey @MMaiero,
you are right, I forgot to add the applying part - it is in step 6, after you change the DHCP starting and ending address.

[2020-06-16 07:04] LeoNerdoG commented on #2880
Hey @MMaiero,
I have checked this on latest develop and the issue persists. I am attachin a GIF bellow to show you the problem "in action".

![123](https://user-images.githubusercontent.com/15121999/84742141-57c73780-afb0-11ea-9ed2-84d12ec5a371.gif)

[2020-06-16 07:13] MMaiero commented on #2880
ok, now is more clear. Thanks

[2020-06-16 09:49] LeoNerdoG commented on #2904
Hey @MMaiero,
I have checked PR #2925 and it fixes this issue.
After the mentioned PR is merged, we can close this issue.

[2020-06-16 09:57] LeoNerdoG commented on #2941
I have verified that this issue has been resolved.

[2020-06-16 09:58] LeoNerdoG commented on #2926
I have verified that this issue has been resolved.

[2020-06-16 09:59] LeoNerdoG commented on #2906
I have verified that this issue has been resolved.

[2020-06-16 10:04] LeoNerdoG commented on #2898
I have verified that this issue has been resolved.

[2020-06-16 10:20] LeoNerdoG commented on #2853
Hey @MMaiero and @iacco,
I have to report that this issue has not been resolved.
I have checked latest develop (build 1793 on https://ci.eclipse.org/kura/job/kura-develop/) and I have built develop branch on my machine and the result is the same, there are still the syntax errors as reported in the issue.
Can you please check on your side if this works or not?

[2020-06-16 10:59] LeoNerdoG commented on #2792
Hey @pierantoniomerlino,
I have checked this in latest develop branch and there is a corner case that is not being covered.
If user entere something in the mandatory field, then immediatelly deletes the content and clicks "x", the mandatory field is briefly in error state, because the focus did not change.
Should I open a new issue for this?
Otherwise the issue above has been successfully fixed.

[2020-06-16 11:01] LeoNerdoG commented on #2790
I have verified that this issue has been successfully resolved.

[2020-06-16 11:06] LeoNerdoG commented on #2716
I have verified that this issue has been resolved.

[2020-06-16 11:07] LeoNerdoG commented on #2715
I have verified that this issue has been resolved.

[2020-06-16 11:09] LeoNerdoG commented on #2713
I have verified that this issue has been resolved.
User gets the error as shown bellow, if a .dp package from desktop wants to be uploaded.
This will be changed in the future, see issue #2940.

![Screenshot 2020-06-16 at 13 08 46](https://user-images.githubusercontent.com/15121999/84767340-8950fa80-afd2-11ea-8d9e-73bbfb08eeaf.png)

[2020-06-16 11:15] LeoNerdoG commented on #2709
I have verified that this issue has been resolved.

[2020-06-16 11:50] MMaiero commented on #2853
Have a look at #2947

[2020-06-16 11:51] #2903 closed, assigned to MMaiero

[2020-06-16 11:52] #2904 closed, assigned to MMaiero

[2020-06-16 12:15] mstankovic opened #2948 "Firewall | Port Forwarding | Able to add duplicated items"
**Describe the bug**
User is able to add duplicated items - port forwarding rules

**To Reproduce**
Steps to reproduce the behavior:
1. Go to firewall service
2. Click on port forwarding tab
3. Fill all fields and click on submit
4. Click on New and type the same parameters for new item and click on submit button

**Expected behavior**
User should not be able to add the same rule twice

**Screensh

[2020-06-16 16:08] #2884 closed, assigned to MMaiero

[2020-06-16 18:54] #2902 closed, assigned to MMaiero

[2020-06-17 07:06] LeoNerdoG commented on #2902
I have verified that this issue has been resolved.

[2020-06-17 07:10] LeoNerdoG commented on #2853
I have verified that this issue has been resolved.

[2020-06-17 07:11] LeoNerdoG commented on #2903
I have verified that this issue has been resolved.

[2020-06-17 07:12] LeoNerdoG commented on #2884
I have verified that this issue has been resolved.

[2020-06-17 07:21] LeoNerdoG opened #2949 "Special Symbols in "Network Name" Not Properly Parsed"
User is able to enter various special symbols into "Network Name", which (after clicking on Apply) produces unrecogizable symbols (see screenshot bellow). Moreover, if user clicks Apply several times, the number of symbols increase, because unrecognizable symbols get "described" with more unrecognizable symbols.
The problem here is that the symbols are not properly parsed (they are allowed but sho

[2020-06-17 08:37] MMaiero commented on #2949
Is that issue specific for the network part or applicable, for example, for services?

[2020-06-17 08:40] MMaiero commented on #2945
Using the latest develop I get this:
![Screenshot 2020-06-17 at 10 40 19](https://user-images.githubusercontent.com/10448126/84875983-fcb44400-b086-11ea-9318-8201587b22e6.png)

[2020-06-17 10:55] LeoNerdoG commented on #2949
I will check and let you know.

[2020-06-17 11:29] #2891 closed, assigned to MMaiero

[2020-06-17 11:29] #2897 closed, assigned to MMaiero

[2020-06-17 11:29] #2909 closed, assigned to MMaiero

[2020-06-17 11:36] LeoNerdoG commented on #2945
hey @MMaiero,
I know what is the problem. If you delete the Password (Confirm Password stays intact) and focus does not change from Password to somewhere else, there is no error message, just Confirm Password is in error state. But if the focus changes, then error message appears.
Is this the desired behaviour or should error message be displayed immediatelly aftre the validation is done between t

[2020-06-17 11:37] MMaiero commented on #2945
I've seen that. But I believe it's just cosmetic at that point. What do you think?

[2020-06-17 11:44] LeoNerdoG commented on #2945
Maybe, but I just discovered another thing (it is best described through a testflow):

1. Enter password into Password field (e.g. 123123123)
2. Enter the same password in Confirm Password
3. click outside both boxes (so focus changes)
4. Add one character/number in Password field (e.g. 3)
5. Change focus to "Confirm Password" and then back to "Password" (so error message appears on Confirm Passwo

[2020-06-17 11:52] MMaiero commented on #2876
I'm not getting this error.
Are you sure that it is not related to the fact that the client part is not anymore able to connect to the Kura web server?

[2020-06-17 12:01] LeoNerdoG commented on #2876
Hey @MMaiero,
I checked this again and it seems that you are right. I am closing this, since the error message is fine in this case.

[2020-06-17 12:01] #2876 closed, assigned to MMaiero

[2020-06-17 12:08] LeoNerdoG commented on #2909
I have verified that this issue has been resolved.

[2020-06-17 12:09] LeoNerdoG commented on #2897
I have verified that this issue has been resolved.

[2020-06-17 14:15] MMaiero commented on #2875
I believe this should be solved now with the latest changes applied, right?

[2020-06-17 14:17] MMaiero commented on #2874
This should be solved due to the recent changes made

[2020-06-17 14:19] MMaiero commented on #2949
By the way, isn't this a duplicate of #2868?

[2020-06-17 14:23] MMaiero commented on #2741
Heater is a singleton component not one that is created from a factory.
The only way to delete a singleton component is by removing the bundle that provide such feature.

[2020-06-18 06:50] LeoNerdoG commented on #2949
Hey @MMaiero,
yes, you are right. Closing as duplicate.

[2020-06-18 06:50] #2949 closed, assigned to MMaiero

[2020-06-18 06:51] LeoNerdoG commented on #2741
Ok, I am closing the issue due to the upper comment.

[2020-06-18 06:51] #2741 closed, assigned to nobody

[2020-06-18 06:56] MMaiero commented on #2724
I believe this is a duplicate of #2873

[2020-06-18 07:00] MMaiero commented on #2766
I don't think that with the current design we can actually force it. Maybe we can make an alignment for the project distributed bundles. But everything in this case is decided by the cloud connection implementor.

[2020-06-18 07:02] MMaiero commented on #2762
Show an help message is decision of the implementor. In this case the Camel cloud connection was donated by a contributor.

[2020-06-18 07:04] MMaiero commented on #2760
I think a lexicographical ordering is applied there

[2020-06-18 07:04] LeoNerdoG commented on #2724
Hey @MMaiero,
you are right. I will close #2873 as duplicate.

[2020-06-18 07:05] LeoNerdoG commented on #2873
Closing as this is cuplicate of #2724.

[2020-06-18 07:05] #2873 closed, assigned to nobody

[2020-06-18 07:07] MMaiero commented on #2754
That depends on the driver metatype.
The dummy driver is just a simple example driver not meant for direct use but just for development purposes

[2020-06-18 07:12] LeoNerdoG commented on #2875
Hey @MMaiero,
I am confirming that this issue has been resolved.

[2020-06-18 07:12] #2875 closed, assigned to nobody

[2020-06-18 07:12] LeoNerdoG commented on #2874
I have verified that this issue has been resolved.

[2020-06-18 07:12] #2874 closed, assigned to nobody

[2020-06-18 11:36] #2852 closed, assigned to MMaiero

[2020-06-18 11:42] mstankovic opened #2952 "Firewall | IP Forwarding | Missing value for source/destination network if left empty while adding items"
**Describe the bug**
There is a tooltip saying if you adding items and left fields source/destination empty - there should be added item with valies 0.0.0.0/0
That is not the case

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firewall Service
2. Click on IP Forwarding tab
3. Click on New button
4. Left empty all fields and Click on submit button
5. Item is added but missing values fo

[2020-06-18 13:34] LeoNerdoG opened #2953 ""Cloud Services" Parameters Not Properly Parsed on "Status" Tab"
If user enters long item name (account name, broker URL, username, or Client ID), the name is not parsed well.
If there are no spaces or symbols in the string (e.g. "/", "-", "_", etc.) everything is in one line (Screenshot No. 1), otherwise everything is in multiple lines (Screenshot No. 2).
Also if user enters some specific symbols into the fields, they are not parsed properly - the fields are e

[2020-06-18 13:34] LeoNerdoG opened #2954 "Wireless Password Not Parsed Correctly"
If your Raspebrry is set as Access Point and your wireless password contains symbols such as ⁄‹›€ı–°·‚·±_‚ˇ¿ˇÈ~¿}{|Ææ etc. Kura reports an error "Password must be 8-63 characters" although the password has the required length (it looks like that very special symbols are not properly parsed).

**Testflow:**
1. Login to Kura as admin/admin
2. Go to network -> wlan0 -> wireless
3. Set Wireless Mode t

[2020-06-18 14:55] #2737 closed, assigned to MMaiero

[2020-06-19 07:55] LeoNerdoG commented on #2852
I have verified that this issue has been resolved.

[2020-06-19 08:55] LeoNerdoG commented on #2737
I have verified that this issue has been resolved.

[2020-06-19 12:11] MMaiero commented on #2888
I was reviewing this issue.
We actually have the possibility to add multiple dns server addresses using ; or spaces between IPs.
The view is actually not great.
I have tried to sketch a possible change in #2956. Maybe if you can have a look. Probably a change in the description is still needed but maybe the management is simple using a text area

[2020-06-22 19:51] BrunoJesus84 commented on #2681
Hello guys, sorry for the delay in returning.
I had some problems with the testflow. I tried to redo everything from scratch (new machine with Kapua on Ubuntu, via docker and Kura 4.1.1 on Raspberry Pi 3, with the newest version of Raspbian), however, I had problems on the Kura side. First, I followed the suggestion of @LeoNerdoG  and used dpkg, however, it is not possible to do just this command

[2020-06-23 06:52] MMaiero commented on #2681
Hi,
if you proceed with the steps do you succeed in accessing the UI?
Is that the only error you're getting?
I don't believe that is meaningful but I'll have to double check.

Regarding the connection, yes, kura will display in the devices sections of Kapua.

Best regards,
Matteo

[2020-06-23 09:58] MMaiero opened #2961 "Refactor UI fields check"
**Is your feature request related to a problem? Please describe.**
Extend the feeds verification through all the UI

**Describe the solution you'd like**
Currently an extensive verification, meta type driven, is only performed at the level of the service configuration. All the classes and interfaces there are private and cannot be reused in other parts of the UI.
The verification framework should

[2020-06-23 09:59] #2890 closed, assigned to MMaiero

[2020-06-23 10:00] MMaiero commented on #2961
E.g. #2955

[2020-06-23 12:57] LeoNerdoG commented on #2890
I have verified that this issue has been partially resolved. It will be fully resolved after we fix issue #2961.

[2020-06-23 18:13] BrunoJesus84 commented on #2681
Hi,
Yes, I strictly followed the steps in the tutorial http://eclipse.github.io/kura/intro/raspberry-pi-quick-start.html.
Are there other, more accurate tutorials?

I even removed the dhcpcd5 package (which, according to the tutorial, is not compatible with Kura). Unfortunately, I was unable to access the UI (I tried the combination of "localhost" and "127.0.0.1", with "https://" and also "http://

[2020-06-23 18:50] MMaiero commented on #2681
No, there is no other procedure apart the one documented to install Kura.
Is the kura process running? If you run
[code]
what does it return?

What version of kura are you installing now?
Thanks.

[2020-06-23 19:20] BrunoJesus84 commented on #2681
Hi, I'm using Kura version 4.1.1.

The procedure is to type https: // localhost to which "This site can't be reached" and the error ERR_CONNECTION_REFUSED is presented. (as shown) I went to the terminal and typed the command as instructed and here's the result.

![2020-06-22-205730_1920x1080_scrot](https://user-images.githubusercontent.com/41124627/85448667-d6af0800-b58e-11ea-947b-273626a3c1d2.png

[2020-06-23 19:38] MMaiero commented on #2681
with Kura 4.1.1 the UI is not protected with ssl. So, the web page should be accessed with http://<gateway-ip>.

Maybe also have a look at the content of Kura-console.log and kura.log both available in /var/log

[2020-06-23 19:48] BrunoJesus84 commented on #2681
I also tried access with http://, but the same problem...

![http](https://user-images.githubusercontent.com/41124627/85452316-a9fcef80-b592-11ea-97a6-51fdeec15339.png)

The kura-console.log has just this information:

Kura Started (pid=462) ...
Error occurred during initialization of boot layer
java.lang.module.FindException: Module java.xml.bind not found
Kura Started (pid=492) ...
Error occurre

[2020-06-23 19:49] MMaiero commented on #2681
what version of java are you running?

[2020-06-23 19:59] BrunoJesus84 commented on #2681
I saw now that I'm using the openjdk version "11.0.7".
I tried to stop the service and look at the status again, and this is showed:

![javaVersion](https://user-images.githubusercontent.com/41124627/85453982-58edfb00-b594-11ea-8d5f-10ffbc4664d9.png)

[2020-06-23 20:01] MMaiero commented on #2681
as reported in the guide you need java 8 to have kura working.
As you have seen in the log, the framework is trying to start but it cannot complete due to the wrong JVM installed

[2020-06-23 20:06] BrunoJesus84 commented on #2681
Okay, I believe I misunderstood the guide. I used the command requested, but I didn't realize that I would need to uninstall the current Java before proceeding. I figured that Java 8 would be the minimum and not the only one. I'll redo the whole process, this time uninstalling the current Java and installing Java 8.
As soon as I do it, I'll post it here again.
Thanks again, @MMaiero

[2020-06-23 20:16] MMaiero commented on #2681
You can simply uninstall java 11 and reboot the gateway.
it should be sufficient if you already have java 8 installed

[2020-06-23 20:26] BrunoJesus84 commented on #2681
Yes, sure, but to avoid any problems, I prefer to redo everything to keep the installation cleaner. It doesn't take long, I have a raspbian image ready, just before starting Kura installation. In a few minutes, I will reach the point again.

On enabling network interfaces again, the guide suggests using one of the methods listed here: https://raspberrypi.stackexchange.com/questions/37920/how-do-i-

[2020-06-23 22:35] BrunoJesus84 commented on #2681
Hello again, I apologize for the delay.
I finally got access to the Web UI and it took me a while because I was already trying to connect with Kapua. Unfortunately, I was unable to establish a connection, even with the steps reported by @LeoNerdoG .  As he suggested, I compressed the logs and put them in that zip file.

[logsKuraKapua.zip](https://github.com/eclipse/kura/files/4822282/logsKuraKapu

[2020-06-24 05:23] LeoNerdoG commented on #2681
Hey @BrunoJesus84,
I can see that there is a space between "//" and starting IP numbers in Kapua's machine IP - can you check if you just copy-pasted wrong or there is an actual space? This might be the reason for Kura not conencting.

[2020-06-24 08:27] #2940 closed, assigned to pierantoniomerlino

[2020-06-24 12:13] LeoNerdoG commented on #2940
Hey all,
I have checked this and now user gets an error message when trying to install multiple packages at once.
All other cases are also okay.

[2020-06-25 07:07] MMaiero commented on #2681
So, from the Kura logs I see:

[code]

and this:
[code]

There seems a configuration problem. At least for the first error that is reporting that the credentials provided are refused by the Kapua broker.
The second exception speaks of broker unavailable. It's a little bit strange as an exception. But also there the credentials provided does not seem so correct to me.
@LeoNerdoG Don't know what you

[2020-06-25 09:53] #2768 closed, assigned to pierantoniomerlino

[2020-06-25 09:53] #2789 closed, assigned to pierantoniomerlino

[2020-06-25 09:53] #2834 closed, assigned to pierantoniomerlino

[2020-06-25 09:53] #2844 closed, assigned to pierantoniomerlino

[2020-06-25 09:53] #2845 closed, assigned to pierantoniomerlino

[2020-06-25 09:53] #2846 closed, assigned to pierantoniomerlino

[2020-06-25 09:53] #2847 closed, assigned to pierantoniomerlino

[2020-06-25 10:26] MMaiero commented on #2952
Hi Milos,
If you apply the rule it is actually set as described as in the following screenshot:
![Screenshot 2020-06-25 at 12 25 54](https://user-images.githubusercontent.com/10448126/85702865-1d137c80-b6df-11ea-9847-d066635af8a6.png)
Can you check if that is also true for you?

[2020-06-25 10:30] pierantoniomerlino commented on #2948
@mstankovic Could you please try with the last develop build? I think that some improvements were introduced with the last PR about firewall.

[2020-06-25 11:38] MMaiero commented on #2933
I believe this is solved by the latest changes made in the firewall section: It is not possible to submit an empty rule now

[2020-06-25 11:39] MMaiero commented on #2930
This is not possible anymore with the latest changes made in the Firewall section of the UI

[2020-06-25 11:40] MMaiero commented on #2931
I believe this is not replicable now with the latest changes applied and due to the fact that now the precondition to this issue cannot be met.

[2020-06-25 11:41] MMaiero commented on #2928
This should be fixed with the latest changes made in the firewall section of the UI.

[2020-06-25 11:42] MMaiero commented on #2927
This is not anymore possible due to the fixed applied to the firewall section of the UI.

[2020-06-25 11:45] MMaiero commented on #2948
I believe I've tried that and was able to recreate the issue

[2020-06-25 14:14] pierantoniomerlino commented on #2948
@MMaiero @mstankovic I confirm the issue :-((((

[2020-06-25 18:23] BrunoJesus84 commented on #2681
Hi guys , thanks for the quick return.
@LeoNerdoG, on Kura there isn't a space, when I pasted here, it came up with this typo, but on Kura is correct (without spaces).
@MMaiero , I also tried to connect using new credentials created on Kapua (I created new credentials just for use with Kura, the username is "client".). But it continues not connecting. I can try to publish on Kapua broker by anothe

[2020-06-26 10:00] pierantoniomerlino commented on #2948
@MMaiero @mstankovic It seems that the issue is caused by the Integer objects comparison. Replace  the `==` with `equals` method fixes the problem.

[2020-06-26 10:05] pierantoniomerlino commented on #2948
This opens to another thought: which fields are required to set an entry as duplicate? Currently, in openPorts are all the fields, while in Port/IPForwarding are all the fields except `masquerading`. It makes sense? If we consider all the fields, the code is very simple, since we don't need to compare each field separately...

[2020-06-26 21:29] BrunoJesus84 commented on #2681
Hi guys, as I proposed last post, I tried to publish on Kapua broker by another client, without Kura. I used the mosquitto debug mode and got this return:

$ mosquitto_pub -h 192.168.1.73 -m "test message kapua broker" -t sensors/dht -d
Client mosq-IJaHC73o1ArBbJTisC sending CONNECT
Client mosq-IJaHC73o1ArBbJTisC received CONNACK (3)
Connection error: Connection Refused: broker unavailable.
Client

[2020-06-27 09:16] jiekechoo commented on #2671
Is there any docs show me how to rebuild Kura? I want to change bundles for my hardware, I just need a guide.

Thanks.
Jiekechoo

[2020-06-28 13:59] BrunoJesus84 commented on #2681
Hello again!
I was wondering about Kapua's broker, and I saw in other post the command **docker logs kapua-broker**. I ran the deploy script again and ran this command. That was the result:

$ sudo ./docker-deploy.sh
Deploying Eclipse Kapua...
compose_es_1 is up-to-date
compose_db_1 is up-to-date
compose_events-broker_1 is up-to-date
compose_broker_1 is up-to-date
compose_kapua-console_1 is up-to-

[2020-06-28 18:33] MMaiero commented on #2681
Hi,
I'm not an expert on Kapua. Maybe the best option is if you try to reach them for example using gitter.
I believe they can give you a more detailed help to solve the issue you are facing.

[2020-06-28 18:34] MMaiero commented on #2671
Hi,
did you try the links suggested in the previous comment (https://github.com/eclipse/kura/issues/2671#issuecomment-583754413)?

[2020-06-28 18:57] BrunoJesus84 commented on #2681
Thanks @MMaiero ,
In fact, I started trying to use Kapua at the suggestion of @LeoNerdoG  (to whom I am very grateful for all the tips given so far) but I would not have a real need to use it in the scenario proposal that I want to implement.

Could I, for example, set up that example Kura publisher that you developed to publish to a Mosquitto Broker? Would it be the same procedure? And another po

[2020-06-28 19:00] MMaiero commented on #2681
From the Kura point of view the framework knows only of using mqtt. So, you can use the broker of preference to publish your data.
The example publisher, as the name say, is just a simple publisher to show capabilities. To support your use case you’ll need to modify it or even create a whole new bundle.

[2020-06-28 19:03] BrunoJesus84 commented on #2681
Great! I'll try to use the example on a Mosquitto Broker and, if it works, I'll try to modify or create a new, as you suggest. Thanks again. If I have problems with the bundle code, where should I post my questions?

[2020-06-29 07:15] MMaiero commented on #2681
If you believe you have found an issue or you want to propose a feature, please open an issue here in GitHub.

Otherwise, you can use the usual channels of Gitter, Kura forum or developer mailing list

[2020-06-29 07:24] LeoNerdoG commented on #2681
Hey @BrunoJesus84,
sorry for late responses. I agree with @MMaiero on this - from kura standpoint it doesn't matter which endpoint you are using.
As far as for Kapua goes - have you been using latest develop branch? Or some other branch with random modifications?
I wondered if there was a permission problem when you created a new user in an account - it is best (for testing purposes like yours) to

[2020-06-29 09:02] LeoNerdoG commented on #2768
I have verified that this issue has been resolved.

[2020-06-29 11:37] LeoNerdoG commented on #2834
I have verified that this issue has been resolved.

[2020-06-29 11:37] LeoNerdoG commented on #2789
I have verified that this issue has been resolved.

[2020-06-29 11:38] LeoNerdoG commented on #2844
I have verified that this issue has been resolved.

[2020-06-29 11:44] LeoNerdoG commented on #2845
I have verified that this issue has been resolved.

[2020-06-29 11:46] LeoNerdoG commented on #2846
I have verified that this issue has been resolved.

[2020-06-29 11:48] jiekechoo commented on #2671
I mean, want to build a minimal Kura zip to deploy in an Embedded device, the device contains 256MB mem, so I want to remove unnecessary bundles, how to do it?

[2020-06-29 11:48] MMaiero commented on #2948
Can we have a PR that can help us to determine the corner cases?

[2020-06-29 11:50] MMaiero commented on #2671
I would suggest to create a new profile and start looking at this file https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/ant/build_equinox_distrib.xml that wraps all the profile creation to the final package

[2020-06-29 11:54] LeoNerdoG commented on #2792
Hey @pierantoniomerlino,
I have found another corner case for this issue - I will not open a new issue, since this is very similar to the existing issue.
If user selects a entry in "Open Ports", "Port Forwarding" or "Masquerading", clicks on one of the mandatoy fields (just click, so the focus is on the field, presses ESC key on keyboard and after that again "Edit" in kura, the selected field is i

[2020-06-29 11:55] LeoNerdoG opened #2963 ""New" Window Closes Without Prompt if User Clicks Outside the Window"
If user clicks outside the "new" windows in various services, the windows gets closed and changes are lost. Can we implement a check if user (especially if this happens accidentally) clicks outside the box/window?

**Testflow:**
1. Login to Kura as admin/admin
2. Go to e.g. Firewall -> Port Forwarding -> New
3. Click on New button, enter several parameters
4. Without clicking "Submit", click somew

[2020-06-29 11:55] LeoNerdoG commented on #2847
I have verified that this issue has been resolved.

[2020-06-29 11:56] LeoNerdoG commented on #2844
I have verified that this issue has been resolved.

[2020-06-29 11:59] LeoNerdoG commented on #2933
Hey @MMaiero, I am confirming that this has been resolved with PR #2915. Closing.

[2020-06-29 11:59] #2933 closed, assigned to nobody

[2020-06-29 12:00] LeoNerdoG commented on #2930
Hey @MMaiero, I am confirming that this has been resolved with PR #2915. Closing.

[2020-06-29 12:00] #2930 closed, assigned to nobody

[2020-06-29 12:03] jiekechoo commented on #2671
Thanks, MMaiero

Is the file build_equinox_distrib.xml  global ? Can I modify it for specific profile ? Such as I created a new hardware profile for my device.

Could you give me some advice? WeChat: jiekechoo

Jiekechoo

[2020-06-29 12:22] LeoNerdoG commented on #2931
Hey @MMaiero, I am confirming that this has been resolved with PR #2915. Closing.

[2020-06-29 12:22] #2931 closed, assigned to nobody

[2020-06-29 12:23] LeoNerdoG commented on #2928
Hey @mstankovic,
I have checekd this and it looks like it has been fixed with PR #2915 - please check on your side (with latest develop branch) and close it if it is fixed.

[2020-06-29 12:24] LeoNerdoG commented on #2927
Hey @mstankovic,
I have checekd this and it looks like it has been fixed with PR #2915 - please check on your side (with latest develop branch) and close it if it is fixed

[2020-06-29 14:39] MMaiero commented on #2671
The file is global, but can use properties provided by the profile.

[2020-06-29 14:42] #2927 closed, assigned to nobody

[2020-06-29 15:35] mstankovic commented on #2952
@MMaiero yes, issue is now partially fixed:
1. when applying added "empty" rule im getting Generic error and this error is kura.log

[code]

and if I refresh the page -> rule is added and values are OK - > issue is fixed

[2020-06-29 18:42] BrunoJesus84 commented on #2681
Hey guys, Let me use a little more of your patience...
As I mentioned earlier, I tried to connect Kura to Cloud Connection by pointing the MQTTDataTransport to the IP of a Mosquitto Broker (very simple that I have already tested from other publishers and is functional). I created the username and password in the broker and used them in Kura. I haven't been able to establish the connection yet. Con

[2020-06-29 20:09] MMaiero commented on #2681
The exception reported is java.net.SocketTimeoutException: connect timed out
So it was not able to connect. It seems like the broker is unaccessible for a reason. Is the port reachable?