[2018-05-21 08:42] MMaiero commented on #2052
Closing due to no feedback.
@Amar82 Feel free to reopen if needed.

[2018-05-21 08:42] #2052 closed, assigned to nobody

[2018-05-21 08:51] #1933 closed, assigned to nobody

[2018-05-21 08:54] MMaiero commented on #1957
Closing as #2081 is now merged

[2018-05-21 08:54] #1957 closed, assigned to nobody

[2018-05-21 13:40] #1921 closed, assigned to nobody

[2018-05-22 07:48] #2101 closed, assigned to nicolatimeus

[2018-05-22 10:35] MMaiero commented on #2067
@pierrepitiot Could it be that the reboot is caused by the date update?
I've tested in my environment and, if the RTC backup battery is not enabled, the system boots with a 2017 date. When the connection goes up, the date is updated and this causes the watchdog to trigger the reboot.

[2018-05-23 10:17] nicolatimeus commented on #2116
@Amar82 any update? can we close this?

[2018-05-23 10:20] Amar82 commented on #2116
Please give me few more days .
I ll try this and make it work.

I will close the case myself
Regards
Amar

On Wed, 23 May 2018 at 3:47 PM, nicolatimeus <notifications@github.com>
wrote:

--
  --amar

[2018-05-24 06:53] kartben opened #2130 "[website] Carousel has bogus ratio on small screen width"
![image](https://user-images.githubusercontent.com/128251/40469106-b4f2e6a8-5f2f-11e8-89ae-ab64fe538976.png)

[2018-05-24 06:57] kartben opened #2131 "[website] HTML content for the new HTML website is invalid"
There seems to be a few issues with the HTML content of the new website, and some closing tags are not properly matched with the corresponding ones, and vice-versa.

See https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.eclipse.org%2Fkura%2F

[2018-05-24 11:39] #2125 closed, assigned to MMaiero

[2018-05-24 15:20] nicolatimeus commented on #2131
Should be ok now. Remaining issues are likely related to the theme.

[2018-05-25 07:26] ctron commented on #2091
I think is was closed by @MMaiero's merge, right?

[2018-05-25 08:38] nicolatimeus commented on #2130
Should be fixed now

[2018-05-25 09:14] kartben commented on #2130
indeed! thx :)

[2018-05-25 09:14] #2130 closed, assigned to nicolatimeus

[2018-05-26 07:21] Amar82 commented on #2116
Yes ,

it is working fine now.
I deleted TCP  version.

And the Firewall port opening did the trick.

thank you.
closing the case now.

[2018-05-26 07:21] #2116 closed, assigned to nobody

[2018-05-28 07:47] pierrepitiot commented on #2067
I confirm that the issue is related to the RTC backup. If the battery is enabled, the problem does not exist. I think we can close the issue.

[2018-05-29 11:41] #2117 closed, assigned to MMaiero

[2018-05-29 19:11] #2068 closed, assigned to pierantoniomerlino

[2018-05-30 14:00] pierantoniomerlino opened #2138 "Cloud service selection in examples"
In the examples provided by Kura (iBeaconScanner/Advertiser, EddystoneScanner/advertiser, ecc.) it is not possible to select the Cloud service to use to publish messages.
So, if more than one Cloud service is instantiated, the examples choose a random one with unexpected results...

[2018-05-31 10:14] #651 closed

[2018-05-31 10:31] #2037 closed, assigned to nobody

[2018-06-01 06:51] ashubhatt commented on #459
I tried with the the following apis and it is still not supporting random ble address:
`org.eclipse.kura : org.eclipse.kura.api : 1.4.0`
`org.eclipse.kura : org.eclipse.kura.linux.bluetooth : 1.0.300`

[2018-06-01 07:11] cdealti commented on #2067
The WatchdogService should be modified to use [System.nanoTime](https://docs.oracle.com/javase/8/docs/api/java/lang/System.html#nanoTime--) to compute time differences that are not affected by changes to the system time/date.

[2018-06-01 15:01] #208 closed

[2018-06-04 07:47] pierantoniomerlino commented on #459
@ashubhatt The implementation of the new API is in `org.eclipse.kura.ble.provider`, `org.eclipse.kura.ble.ibeacon.provider` and `org.eclipse.kura.ble.eddystone.provider`.
Moreover, you should use the **new** `org.eclipse.kura.example.ble.tisensortag.tinyb` example instead of the old one.
Which device are you using?

[2018-06-04 09:28] markoer opened #2143 "Camel XML router service missing"
"Camel XML router" service is gone now that Camel has been upgraded.

- Component affected:
  - [] Distribution
    - Platform: RPi 3
    - Kura version affected: 3.3.0-SNAPSHOT
    - Java version: 1.8.0_65
    - Host OS: Raspbian
    - Host OS version: 9 Lite

[2018-06-04 12:20] CobraFlow opened #2144 "Missing tinyb package"
Please describe the issue you are encountering in Kura.
Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb):
    - Platform (e.g. Raspberry pi 2):
    - Kura version affected (e.g. Kura 3.1.0):
    - Java v

[2018-06-04 16:27] CobraFlow commented on #2144
Update.
Deleted initial tinyb folder from ~/.m2 and now build goes much further .
Now fails not finding :
`groupId org.eclipse.kura.feature`
`artifactId org.eclipse.kura.driver.s7plc`
`packaging dp`
`version 1.0.100`

[2018-06-04 16:48] dwoodard1 opened #2145 "Remove libmatthew-java"
The libmatthew-java code that is currently bundled with org.eclipse.kura.linub.usb [1] doesn't appear to be needed or used. This code should be removed from the bundle (and the project).

[1] https://github.com/eclipse/kura/tree/develop/kura/org.eclipse.kura.linux.usb/src/main/c/libmatthew-java

[2018-06-04 17:51] CobraFlow commented on #2144
Update.

The s7plc artifact is created but with a version of 1.0.200.

[2018-06-04 18:53] kartben opened #2146 "ChannelDescriptor are cached too aggressively and/or need a way to invalidate the channel descriptor for a Driver"
It looks like the Driver#getChannelDescriptor() method is only called during the initial creation of a particular driver (or when it is re-loaded from the preferences), which I don't think is right. The available channels and/or their topology might be depending on the configuration of the driver.

I looked at an API to 'invalidate' the channel descriptor of a particular driver but I don't believe

[2018-06-06 10:26] MMaiero opened #2147 "Travis CI failure"
It seems like the maven link in our travis file is currently broken and the automated builds are failing.

[2018-06-06 10:26] MMaiero commented on #2147
Trying to patch in the cloudPublisher branch. If works I'll commit to develop

[2018-06-06 12:27] MMaiero commented on #2147
Committed fix

[2018-06-06 15:06] #2057 closed, assigned to ctron

[2018-06-07 09:22] #2147 closed, assigned to MMaiero

[2018-06-07 15:29] markoer opened #2149 "Cloud zip file upload"
There is an issue with unzipping a .zip file uploaded through the cloud. This is part of tests CLD-COMMAND-003 and CLD-COMMAND-004.

Steps to reproduce:
* create a small txt file and zip it
* upload the file through the command interface on the cloud and run e.g. ls along with it
* the expected output is list of the files in /tmp

What happens instead is that the command doesn't run and this stack

[2018-06-08 11:35] #2149 closed, assigned to pierantoniomerlino

[2018-06-08 12:04] #2067 closed, assigned to pierantoniomerlino

[2018-06-11 10:17] kartben commented on #2146
Ping?

Having put a bit more thoughts into this, my impression is that the Driver API might be missing a way to register a listener notified when the configuration of the driver changes. Such an API would make it easy to keep the channel descriptor up-to-date in the BaseAsset class

[2018-06-11 10:30] LucaDazi commented on #2146
@kartben do you have a specific use case for such a behavior?
The original idea of the ChannelDescriptor was just to have a way to expose the specific configuration of a driver's channel, and it is meant to be static on the driver, because variations of the channel descriptor may lead a driver to be no more compatible with the assets it is assigned to.

The configuration of the assets linked to a

[2018-06-14 14:37] markoer opened #2151 "Wire graph creation inside a transaction"
Wire graph seems not to be applied inside a transaction i.e. creation can fail at some point and the graph will be left only partially working.
Scenario I'm referring to is not exactly reproducible, but came up while adding and removing many components. At a certain stage, this failed:
* create a few components
* apply the graph
* Kura instantiates components, creates a snapshot with graph configu

[2018-06-21 06:48] minikiller opened #2152 "can not run ctron/kura-emulator properly"
Dear Sir:
when i run
[code]
it show:
[code]
How to solve this problem? thanks

[2018-06-22 06:29] cdealti commented on #2152
Strangely enough, the Kura emulator is a separate project, not directly supported by Kura.
However, the two messages above should not cause any harm in practice.

[2018-07-02 09:57] nicolatimeus opened #2153 "[DEPLOY-V2] intallVerificationDir is never initialized"
The `installVerificationDir` variable [1] of `CloudDeploymentHandlerV2` is never initialised in the code, this prevents the install verification script feature from working.

[1] https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.core.deployment/src/main/java/org/eclipse/kura/core/deployment/CloudDeploymentHandlerV2.java#L114

[2018-07-06 13:25] MMaiero commented on #2153
This should be fixed now in the PR #2154 that covers also Cloud Services improvements.

[2018-07-06 13:30] MMaiero commented on #2152
Closing, as not directly related to the project

[2018-07-06 13:30] #2152 closed, assigned to nobody

[2018-07-09 10:31] MMaiero commented on #2143
@ctron Could you have a look at this, please?

[2018-07-09 10:32] #2115 closed, assigned to ctron

[2018-07-09 10:36] MMaiero commented on #2114
I believe that the following platforms can be removed:

- Fedora
- Fedora-nn
- Intel Edison-nn
- Raspberry-pi
- Raspberry-pi-nn
- Raspberry-pi-bplus
- Raspberry-pi-bplus-nn

Maybe we could create a specific profile for
- Raspberry-pi-3
- Raspberry-pi zero w

Still wondering if the
- pcengines-apu
- pcengines-apu-nn

profiles will have any future

[2018-07-09 10:37] #2091 closed, assigned to nobody

[2018-07-09 10:38] #2078 closed, assigned to ctron, dwoodard1

[2018-07-09 10:59] ctron commented on #2143
Yes, it is gone as it became a configurable component. You should be able the create a new instance using the Kura Web UI.

[2018-07-09 11:33] MMaiero commented on #2143
Do we have QA tests on this that need an update?

[2018-07-09 11:35] MMaiero commented on #2144
Hi @CobraFlow,
any update on this?
I've tested it, but it works for me.

Best regards,
Matteo

[2018-07-09 11:42] #1911 closed, assigned to ctron

[2018-07-09 11:43] MMaiero commented on #1663
@dwoodard1 Any update on this?

[2018-07-09 11:44] markoer commented on #2143
One or two tests will require a minor update, yes.

[2018-07-09 11:44] MMaiero commented on #1186
I believe this can be closed now.

[2018-07-09 11:45] #1186 closed, assigned to nobody

[2018-07-09 11:47] MMaiero commented on #689
Closing as superseded by https://github.com/eclipse/kura/pull/2084

[2018-07-09 11:47] #689 closed

[2018-07-09 11:50] MMaiero commented on #2143
@markoer Could you please update the tests and share the changes with @ctron? Then, I believe, we can close this issue.

Thanks

[2018-07-11 16:34] MMaiero commented on #1849
Closing as it should be solved now after the merge of PR #2095

[2018-07-11 16:35] #1849 closed, assigned to nobody

[2018-07-11 22:38] mohabh88 opened #2157 "Kura doesn't work properly on Raspberry Pi"
Please describe the issue you are encountering in Kura.

Every time when trying to connect to Kura via Raspberry pi "after following the tutorial steps", internal error occurs!.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Textual description of the issue:
- Component affected:
  - [ ] Distribution
    - Ins

[2018-07-12 14:26] mohabh88 commented on #2157
Hi @ctron. Could you please take a look and assist on this? I saw your contributions in resolving issues related to Kura from the previous tickets presented. Otherwise, could you please refer/suggest someone to assist? Thank you in advance for your time and help, that's greatly appreciated.

[2018-07-12 14:32] pierrepitiot opened #2158 "[GPS] Add missing fields in NMEA Position"
Some fields are missing in the NmeaPosition returned by the PositionService

- validFix : indicator of fix validity = A:active or V:void
- hemisphere of the latitude = N or S
- hemisphere of the longitude = E or W

[2018-07-13 07:35] MMaiero commented on #2157
Hello @mohabh88 ,
let's try to go in steps. From the log you posted I saw that there are some troubles with the MQTT Data transport.
Could you please report the result of `ifconfig` or `ip addr show`?

Thanks.
Best regards,
Matteo

[2018-07-13 14:05] markoer commented on #2143
Added to the beginning of CAMEL-XML-001:
In Services -> + add a new org.eclipse.kura.camel.xml.XmlRouterComponent component and name it CamelXMLRouter.

[2018-07-13 14:56] mohabh88 commented on #2157
Hi @MMaiero,
Thank you so much for replying.

Sure thing, here you are again the result of the `ifconfig` and `ip adds show`

ifconfig:

[code]

ip adds show

[code]

Please let me know if additional information is needed. Looking forward to your reply! And thank you in advance for assisting :)

[2018-07-16 08:03] MMaiero commented on #2157
Hi,
I've just tried in my installation to recreate your setup. Effectively, there seems to be some sort of incompatibility between Kura and Debian Stretch. Probably that old version of Kura uses configuration files that are incompatible with the current version of Raspbian.

If you still want to use that old version of Kura, I could suggest two paths: one could be to install from scratch and use t

[2018-07-16 13:52] markoer commented on #2157
Hi @mohabh88,

first let's take a step back and look at the broader picture. Kura 1.3.0 is almost 3 years old and 1.4.0 2.5 yo. And you're trying to run it on a relatively new OS (~1 year) and an unsupported Java (1.8 vs. 1.6). That being said, I also hope you ran dpkg -i, not dpkg -I as the former would install the package and latter would only output info about it.

DHCP server service crashing

[2018-07-16 15:06] mohabh88 commented on #2157
Hi @MMaiero and @markoer

Thank you so much for your replies and the informative information you have shared with me. That's greatly appreciated.

@MMaiero, as suggested, I tried the NN version of Kura (i.e., using the installation packages of 1.3.0-nn and 3.1.1-nn), unfortunately, still no one of them is working properly -- Invalid client configurations as well as some troubles with the MqttDataT

[2018-07-16 16:04] markoer commented on #2157
As @MMaiero explained you will only have a chance to run anything on Stretch, if you use Kura 1.3.0-nn/1.4.0-nn version. The other option is to install old Raspbian and old Java from the archives. Only in that case you have a chance at running greenhouse sample.
If you're not constrained to greenhouse, you can remain with current OS and Java, remove dhcpcd5 and network manager (OS won't have issue

[2018-07-16 17:12] mohabh88 commented on #2157
Thank you so much @markoer for your reply and suggestions. Greatly appreciated.

I'd prefer to continue with the tutorial provided and the greenhouse sample since I got all the required hardware listed in there. Also this is a part of a project that I am working on in meantime and I would like to get a grasp on how everything is working.

Could you please recommend and refer to the old Raspbian OS

[2018-07-17 08:34] markoer commented on #2157
As far as Raspbian goes, try this one: http://downloads.raspberrypi.org/raspbian_lite/images/raspbian_lite-2015-11-24/. If it happens not to boot, use a newer version. Use either Java oracle-java6-jdk, if available, or oracle-java7-jdk that comes with OS.

[2018-07-18 04:34] mohabh88 commented on #2157
Thank you so much @markoer for your suggestion and recommendation. I have tried the full version of the Raspbian "Raspbian_Jessie_2015-11-24" instead of the lite one as the later didn't work properly for me (specially faced some issues installing GUI on top of it and when I succeeded to do so, it froze and nothing worked on top of it) -- also I have used Java oracle-java7-jdk as Java 6 wasn't exis

[2018-07-18 07:15] markoer commented on #2157
OK, so you made some progress. What you can do now is download the .dp file manually (to your PC) and install it from this file (System->Packages->+Install->File) instead of URL. That way it will install and likely also work since you have the rest of the hardware available. Don't forget to enable I2C in Raspbian, if you haven't done it, yet.

[2018-07-18 09:21] #2143 closed, assigned to nobody

[2018-07-18 15:24] mohabh88 commented on #2157
Thank you so much @markoer for your reply.

I tried a lot to have the .dp file downloaded manually, but unfortunately, WebUI doesn't allow to do so. I tried from the RPI as well as regular machines (Windows, Linux and Unix) browsers, but the same thing. No "save as" or "save" is found there, and even when I have the link opened in regular browser's tab, I select all and then right click to downloa

[2018-07-18 17:15] mohabh88 commented on #2157
Here you are the updates:

After lots of searching, I was able to download the files from [here](https://www.eclipse.org/forums/index.php/t/1087274/) (i.e., the http and the https .dp) and the upload was successful to Kura. I was able to see the Greenhouse Publisher under the Services section and made the required changes :)

But I the Grove LED didn't light up :/ although the wires are correctly

[2018-07-19 07:30] nicolatimeus opened #2162 "[Wires] Implement rate limit in servlet for wires blinking"
With the changes introduced by #2161, `EventHandlerServlet` will send events for wire blinking to the browser per-wire instead of per-component.

This will cause more events to be sent to the web ui. Since the web ui implementation enforces that there can be at most one transition running per component, this will have no noticeable effect to the user.
This can however generate some more network tr

[2018-07-19 07:35] pierrepitiot opened #2163 "[Paho] WSS connection break silently after a few hours"
Kura 3.2.0 on Reliagate 10-11

- Textual description of the issue:

a Modbus application publishing every minute on Everyware Cloud broker, connected with WSS.

After a few hours, the Cloud connection disconnects but **Kura never tries to reconnect** (having DataService connect.auto-on-startup on true).

No exception reported in the logs, no error message, only :
**"DataServiceImpl - DataPublisher

[2018-07-19 07:58] markoer commented on #2157
This is actually the extent to which I can support you as I don't have the required hardware. Best of luck with getting it to work!

[2018-07-19 08:20] nicolatimeus opened #2164 "[Asset] Make configuration updates non-blocking"
Currently in `BaseAsset` there is some synchronisation between potentially blocking code that interacts with the underlying Driver and component lifecycle methods like activate() and deactivate().

This might block OSGi threads if the Driver is performing long running operations, increasing startup and configuration update times.

We should try to make Asset component lifecycle methods non-blockin

[2018-07-19 09:22] nicolatimeus opened #2165 "[PositionService] Investigate NMEA sentence parsing errors"
Using Kura 3.2.0 PositionService with the U-Blox NEO-M8U GPS device, sometimes parsing errors like this occur while parsing NMEA sentences:

[code]

Moreover, enabling debug for GPS device, it appears that the parser sometimes encounters lines like the following:

[code]

which seem to contain two NMEA sentences on the same line.

The parsing errors happen occasionally, and do not compromise Posit

[2018-07-19 14:28] mohabh88 commented on #2157
@markoer Thank you so much Matteo for your reply.

Fair enough, I'll try my best to get it working. I hope it will not be so complex to see the expected results.

However, I'd be more grateful and thankful if you refer me to other Kura IoT tutorials to get hands on experience while dealing with them and get to know more how they are working.

Thank you again for your continued assistance; that's r

[2018-07-20 19:53] rohitdubey12 opened #2166 "Need for a best practices or suggestions document to conserve data when using cellular links"
There're several different ways to optimize the Cloud connections to conserve data usage, especially when using cellular connection. However the impact and a measure of expected data savings is not always clear when setting up the configuration and the default values are often geared towards maximum availability and reliability, sacrificing the data usage.

It would be really helpful if a document

[2018-07-24 18:45] marentwickler opened #2168 "kura-raspberrypi(scanner) and DEVICES-WEMOS-D1-MINI-WIFI"
Hello,
who has Idea for binding kura-raspberrypi(scanner) and DEVICES-WEMOS-D1-MINI-WIFI?

thanks in advance

[2018-07-25 09:37] MMaiero commented on #2168
Hi,
what is the setup that you are trying to achieve?

Best regards,
Matteo

[2018-07-25 13:27] marentwickler commented on #2168
@MMaiero
Hi MMaiero,

-Kura 3.1 on raspberrypi 3
-WEMOS-D1-MINI-WIFI Arduino

I will get each measure values from devices(WEMOS-D1-MINI-WIFI Arduino) per wifi in real time and i forward it to cloud as json-package.

I prefer not using http-protocol for reading data from devices(WEMOS-D1-MINI-WIFI Arduino),i prefer , that kura scan wifi-IP addresses and read each measurements values from each devic

[2018-07-25 13:43] #2158 closed, assigned to pierrepitiot

[2018-07-26 07:40] MMaiero opened #2169 "H2DB file corruption"
Tested in Kura 3.3.0-SNAPSHOT but valid for all the versions since the introduction of the bundle.
When the database is in most persistent setup and a power loss happens, it could be that at the next boot the database file is corrupted.

In this case, an exception like this is thrown:
[code]

As of now, when this happens, the code in Kura simply drops the file and creates a new persistence file. O

[2018-07-27 07:20] pierrepitiot commented on #2169
@MMaiero I found this issue on Internet :
https://www.symmetricds.org/issues/view.php?id=0003606
I am currently testing with the new options on db.connector.url:
jdbc:h2:file:/opt/eurotech/esf/data/h2db;WRITE_DELAY=0;DB_CLOSE_ON_EXIT=false;

[2018-07-27 07:32] nicolatimeus commented on #2169
We can also try ACCESS_MODE_DATA=rws or ACCESS_MODE_DATA=rwd

[2018-07-28 18:19] Amar82 commented on #1849
Create a keystore at the default location /opt/eclipse/kura/security/cacerts.ks

How to do this.. in my Kura , the file or folder does not exist...

[2018-07-28 18:25] Amar82 opened #2170 "Azure IOT connection from KURA_3.1.0"
I went through the cases...seems
I am not able to create the key store
 /opt/eclipse/kura/security/cacerts.ks

how to get this... who will issue.. how to generate the .ks file ?

=====
I m connecting to Azure IOT

[2018-07-29 17:46] Amar82 commented on #2170
I have created the keystore using keytool command,
Keystore type: JKS
Keystore provider: SUN

Your keystore contains 3 entries

**ssl-azurecert, Jul 29, 2018, trustedCertEntry,
Certificate fingerprint (SHA1): 95:B4:61:DF:90:D9:D7:1D:15:22:D8:DB:2E:F1:7D:BC:F4:BB:41:D2**
mykey, Jul 29, 2018, PrivateKeyEntry,
Certificate fingerprint (SHA1): 7D:D6:1C:77:AA:3F:55:FD:4A:1B:29:D3:D1:79:91:3E:2E:E7:89:36

[2018-07-30 14:12] #2163 closed, assigned to MMaiero

[2018-07-30 15:51] MMaiero commented on #2170
Hi, I believe that the most meaningful part of the exception is this:
`MqttException (0) - java.net.UnknownHostException: IOTHub-Amar.azure-devices.net`

Are you able, from your device, to ping outside your network?

Best regards,
Matteo

[2018-07-30 15:53] MMaiero commented on #2168
Hi,
we never tested those devices so we cannot provide precise information if it will be working or not.

But, maybe, you could use the access point functionality of Kura instead to have Kura scan for the different devices.

Best regards,
Matteo

[2018-07-31 03:57] Amar82 commented on #2170
Matteo : Are you able, from your device, to ping outside your network?
Me : NO... :( i checked after u told ..
ping -c 1 google.com
ping: unknown host google.com
pi@raspberrypi:~ $ sudo wget https://github.com/Azure-Samples/azure-iot-samples-node/archive/master.zip
converted 'https://github.com/Azure-Samples/azure-iot-samples-node/archive/master.zip' (ANSI_X3.4-1968) -> 'https://github.com/Azure-S

[2018-07-31 07:43] MMaiero commented on #2170
Hi,
the configuration seems correct but I don't know the details of your setup. From what I see from the configuration, you are expecting to access internet using the eth0 port.

[2018-07-31 08:31] Amar82 commented on #2170
Yes ,true !

And WiFi as access point...

But the device is not connecting to Internet....The ethernet is connected
to router as well

But don't know why it's not connecting to Internet.
Regards
Amar

On Tue 31 Jul, 2018, 1:13 PM MMaiero, <notifications@github.com> wrote:

[2018-08-02 15:52] mpalmier74 opened #2174 "Enable HTTPS on Eclipse Kura 3.1.1"
As a user of Eclipse Kura 3.1.1 I want to enable HTTPS access to the Kura web console so that transactions between my web browser and Kura cannot be subject to man in the middle attack.

I tried to setup Eclipse Kura 3.1.1 based on Rohit Dubey suggestion at link:
https://dev.eclipse.org/mhonarc/lists/kura-dev/msg00712.html

Dubey's solution works fine on Eclipse Kura 2.1.0 but it does not work in

[2018-08-04 15:36] fwaznad opened #2176 "Cannot find Target Platform Location during build"
Hi,

I followed the instruction here https://wiki.eclipse.org/Kura/Getting_Started for kura eclipse configuration. I installed  "Eclipse for Committers" and followed the instruction. Unfortunately when I run eclipse kura Emulator there are problem occurred. it showed
`The org.eclipse.osgi plug-in is missing from this configuration.`
The target platform are not found as image below. What is the ste

[2018-08-06 08:36] #1644 closed, assigned to nobody

[2018-08-06 08:41] MMaiero commented on #2144
Closing as there seem to be no update.

Please feel free to reopen if needed.

[2018-08-06 08:41] #2144 closed, assigned to nobody

[2018-08-06 08:42] MMaiero commented on #2114
Discussed during the weekly meeting.

The proposal is available in the meeting notes: https://dev.eclipse.org/mhonarc/lists/kura-dev/msg01002.html

[2018-08-06 08:43] MMaiero commented on #2138
Maybe this can be associated to the new Cloud Connection APIs

[2018-08-06 08:46] MMaiero commented on #2157
Closing as most of the difficulties seem to be solved now.

Please feel free to reopen, if needed.

[2018-08-06 08:46] #2157 closed, assigned to nobody

[2018-08-06 08:48] MMaiero commented on #2170
Did you solve your networking issues?
Can this issue be closed now?

Thanks.
Best regards,
Matteo

[2018-08-06 08:55] Amar82 commented on #2170
No,
I am still working on this...
Please allow me this weekend.
Regards
Amar

On Mon 6 Aug, 2018, 2:18 PM MMaiero, <notifications@github.com> wrote:

[2018-08-06 08:58] MMaiero commented on #2176
Hi, it seems that the target platform is not filled.
You should follow the single steps build: https://wiki.eclipse.org/Kura/Getting_Started#Single_step_build
and see if it succeeds.

Otherwise you could also use the oomph setup as described here: https://eclipse.github.io/kura/dev/kura-setup.html

Best regards,
Matteo

[2018-08-06 09:34] fwaznad commented on #2176
Thanks Matteo, I will try to setup it again. I followed the oomph setup several times but no luck.

[2018-08-07 02:51] Amar82 commented on #2170
Hi Matteo,

even while connecting to eclipse mqtt sandbox, it is failing to connect;;; same unknown host. My network is connecting to internet...( as I am updating this issue web page )...here is the kura log:

======
Caused by: MqttException (0) - java.net.UnknownHostException: iot.eclipse.org
	at org.eclipse.paho.client.mqttv3.internal.ExceptionHelper.createMqttException(ExceptionHelper.java:38)

[2018-08-07 02:56] mohabh88 opened #2177 "Connecting Kura to Hono"
Hello there,

I am trying to connect my Kura gateway installed on Raspberry Pi 2 B+ to Hono. However, I could not do that. Is there any detailed documentation on how that is done? That would be very helpful.

For instance, I tried to have `minikube` and `kubectl` installed on the same Raspberry Pi, but unfortunately, every time I start them, I get the below errors:

[code]

[code]

I see in this [

[2018-08-07 03:00] Amar82 commented on #2170
here is the screen error
![screen shot 2018-08-07 at 8 27 12 am](https://user-images.githubusercontent.com/22346098/43751790-fa2d4d9a-9a1b-11e8-9004-24a7eda5cd99.png)

====

Unknown.Pg(denali-0.js)
--
Unknown.Xg(denali-0.js)
Unknown.new Drc(denali-0.js)
Unknown.Irc(denali-0.js)
Unknown.qgb(denali-0.js)
Unknown.mgb(denali-0.js)
Unknown.Keb(denali-0.js)
Unknown.rfb(denali-0.js)
Unknown.Pr(denali-0.j

[2018-08-07 07:08] MMaiero commented on #2170
Hi,
the real fact is that you seem not to be able to reach internet also directly from linux.
This means that the gateway network configuration is not correct.
I would suggest to check the DNS server configuration and see if able to ping an ip first and than try to see if dns resolution works.
If all succeeds, than Kura should be able to connect to the selected endpoint.

Best regards,
Matteo

[2018-08-08 02:14] mohabh88 commented on #2177
I hope that the below information would help further. Here is what I have:

- [ ] Hono is up and running on a local machine (minikube instance).

- [ ] Kura is up and running on a Raspberry Pi (RPI).

- [ ] Raspberry Pi IP address (connected to Ethernet): `132.207.28.202`.
Raspberry Pi IP address (connected to wlan0): `132.207.243.109`.
(N.B.: Raspberry Pi is plugged into Ethernet cable and also i

[2018-08-08 08:24] MMaiero commented on #2177
Hi,
I believe the issues are all related to the networking setup. Are you sure that the Hono services are effectively exposed outside to the network. Do you have proper routing rules?

Maybe you can try a simpler setup to test that the Kura-Hono integration works and start making things more complicated step by step.

Best regards,
Matteo

[2018-08-08 13:52] mohabh88 commented on #2177
Hi @MMaiero, thank you so much for replying back.

Could you please further explain you point? How would I expose out Hono services to the network? Possible if you point me to that (documentations, tutorials, etc.)? That would be greatly appreciated.

I have very small setup, just the Kura on the Raspberry Pi and Hono is on my local machine and I would like to have them integrated.

Here you are a

[2018-08-08 14:25] MMaiero commented on #2177
Hi,
if you can perform a telnet from the raspberry to the computer that is hosting Hono on port 1883 and it is working, it means that the ports are correctly exposed and that Kura should be able to connect there.

[2018-08-08 14:48] mohabh88 commented on #2177
Thank you for your prompt reply.

No, unfortunately, could not perform a telnet to my local machine (where minikube node is hosted) on the specified port "1883". Also tried to telnet minikube node itself, but still.

![2018-08-08-103402_1280x1024_scrot](https://user-images.githubusercontent.com/9646161/43844489-d9545280-9af7-11e8-9c24-eb030ebbfff1.png)

Furthermore, tried to re-install talent to m

[2018-08-08 14:53] MMaiero commented on #2177
As said, I believe you should check the networking configuration in your kubernetes instance in order to effectively expose the hosted hono service to the outside world.

Maybe refer to the Hono team to have more details, if your setup is one of the ones that support.

Best regards,
Matteo

[2018-08-09 02:28] Amar82 commented on #2170
Hi Matteo,
Thank you for your input; it really helped.
"I would suggest to check the DNS server configuration and see if able to ping an ip first and than try to see if dns resolution works."

I changed the DNS setting , as it was for the router, and it worked.

I am closing the case.

[2018-08-09 02:28] #2170 closed, assigned to nobody

[2018-08-09 14:12] #2145 closed, assigned to MMaiero

[2018-08-10 13:03] MMaiero commented on #2174
Hi,
did you correctly open the https port setting it in Kura's firewall configuration?

Best regards,
Matteo

[2018-08-10 13:53] nicolatimeus commented on #2169
It looks like fs mount parameters affect db corruption probability.

We set up a long running test performing periodic power cycles on a device configured to publish a message every second, with a db configured as follows (default parameters):

`jdbc:h2:file:/home/root/db`

On an ext4 fs mounted with the following options

`rw,relatime,nodelalloc,sync,data=journal`

we did not experience a single

[2018-08-10 14:15] nicolatimeus opened #2181 "H2DB file fragmentation"
In the long running tests mentioned in #2169, we noticed that the size of the database became excessively high (1.2 GB) after a few days.

The database only contained the `DS_MESSAGES` table with 10000 records.
Defragmenting the database reduced the file size to a few megabytes.
This is probably a known H2 issue. [1]

We should implement periodic defragmentation to avoid this problem.

[1] https:/

[2018-08-20 09:09] cdealti opened #2184 "[ConfigurationService] XML Marshaling Providers need to be started before"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb): Any
    - Platform (e.g. Raspberry pi 2): Any
    - Kura version affected (e.g. Kura 3.1.0): 3.2

[2018-08-20 09:57] cdealti opened #2185 "[Test] Cleanup tycho-surefire-plugin configurations a bit"
I've noticed a few things on the tycho-surefire-plugin configuration that maybe need some cleanup.

In the Kura parent pom:
[code]
According to the documentation, `<parallel>` and `<useUnlimitedThreads>` only apply to the `junit47` provider.

The above plugin configuration is overridden by the one in `tests/pom.xml`

[code]

Again,  `<useUnlimitedThreads>` should not be necessary with `junit4`.

A

[2018-08-21 14:53] ctron opened #2189 "HTTPS redirects to HTTP"
With Kura 3.2.0 (possibly with other versions as well) when the Kura web console is located behind a reverse proxy, which supports HTTPS, then Kura will still redirect from "https:" to "http:", dropping the "https:" protocol scheme:

[code]

It looks to me as if this is due to the fact that Jetty ignores the "forwarding" headers and Kura must take action in order enable Jetty to process then: http

[2018-08-22 08:40] svilenvul opened #2190 "[ConfigurationService] Service Components are not cleaned up at shutdown"
Hello, I would like to report a bug that is related with the ConfigurationService and more specifically with the lifecycle of the Service Components that it creates.

  - Distribution
    - OSGi Runtime (none Equinox, OSGi data is NOT cleaned at restart)
    - Kura version affected (Kura 3.2.0):

The issue can be reproduced:

- [osgi.clean](https://help.eclipse.org/neon/index.jsp?topic=%2Forg.ecli

[2018-08-23 09:35] MMaiero opened #2195 "Provide support for long running jobs in eclipseiot integration bundle"
As long as there will be specific APIs, the eclipseiot integration bundle should be updated to support notification messages in control topics to notify to the remote cloud platform the status of a long running task executed locally in the device.

Currently this feature is supported by DEPLOY-V2 bundle, but not supported by Hono.

[2018-08-23 12:07] markoer commented on #1255
Should be solved with #2059.

[2018-08-23 12:44] markoer opened #2196 "BLE provider logging failure"
iBeacon advertiser example uses o.e.k.ble.provider bundle for ble advertising. Since log4j was updated in #2059, the below issue manifested.

- Component affected:
  - [ ] Distribution
    - Platform: Raspberry pi 3
    - Kura version affected: Kura 3.3.0-SNAPSHOT
  - [ ] Add-ons
    - Name: iBeacon Advertiser
    - Version: 1.0.200-SNAPSHOT
- Textual description of the issue:
Beacon advertising d

[2018-08-23 12:47] #1255 closed, assigned to nobody

[2018-08-23 13:05] MMaiero commented on #2138
Will be solved by pr #2154

[2018-08-24 08:50] MMaiero commented on #2190
Hi,
at the moment the osgi.clean=false modality is not supported by Kura.

It's in the roadmap an exploration of this working configuration but it will imply heavy changes in the configuration service, as you correctly pointed out.

Best regards,
Matteo

[2018-08-24 12:46] markoer opened #2199 "BLE iBeacon scanner configuration not synched with code"
Configuration offers scan.interval, code expects scan.duration. Duration makes more sense.

- Component affected:
  - [ ] Distribution
    - Platform: Raspberry pi 3
    - Kura version affected: Kura 3.3.0-SNAPSHOT
  - [ ] Add-ons
    - Name: iBeacon Advertiser
    - Version: 1.0.200-SNAPSHOT

Solved in #2198.

[2018-08-24 12:57] #2199 closed, assigned to nobody

[2018-08-24 12:57] #2196 closed, assigned to nobody

[2018-08-24 14:51] #2184 closed, assigned to nicolatimeus

[2018-08-25 06:12] shivamcasit commented on #2157
@MMaiero as per your instruction i have tried as in 2157, but still no success.

https://www.eclipse.org/forums/index.php/t/1094212/

still I am not able to connect with wifi connectivity. Raspberry pi is out of network. please suggest.

[2018-08-25 06:14] MMaiero commented on #2157
Could you please detail your setup?
Just to understand if it can be referred to this case or is a different one.

Best regards,
Matteo

[2018-08-25 06:36] shivamcasit commented on #2157
@MMaiero Thank you for you quick reply.

As per Kura installation guide : http://eclipse.github.io/kura/intro/raspberry-pi-quick-start.html
Kura version : 3.2.0 and Raspberry Pi 3
Below are the commands used for download and installaltion.
wget http://download.eclipse.org/kura/releases/3.2.0/kura_3.2.0_raspberry-pi-2-3_installer.deb
Install Kura with: sudo gdebi kura_3.2.0_raspberry-pi-2-3_install

[2018-08-25 06:39] MMaiero commented on #2157
Hi,
if you are accessing the raspberry via wifi, what you are seeing is correct: kura is a network manager and, by default, it sets the wifi module in access point. In fact you should be able to see a new SSID if scanning from your device.
No changes should be applied to the eth interface that is configured to work in dhcp

[2018-08-25 10:00] shivamcasit commented on #2157
@MMaiero Thank you for your help.
I am able to add my wifi network through Kura UI.

Thanks & Regards,
Shivappa

[2018-08-27 09:06] MMaiero commented on #2177
Hi,
can this be closed now?

Best regards,
Matteo

[2018-08-27 14:24] mohabh88 commented on #2177
Thank you, Matteo, for the heads-up.

Still the issue is not fully resolved yet. But before we have this issue closed, have you ever tried to use [Eclipse Hono Sandbox](https://www.eclipse.org/hono/sandbox/) and connect it to Kura?

There is an issue while connecting Hono to Kura via port-forwarding and maybe one of the alternatives and-or workarounds is to involve Hono Sandbox. I used it with doc

[2018-08-27 14:53] MMaiero commented on #2177
Hi,
I've done tests with Kura and the Hono swarm setup for development purposes, but not using the Hono connection for Kura. And it seemed to be working fine.

Best regards,
Matteo

[2018-08-27 15:10] mohabh88 commented on #2177
Thank you so much Matteo, for the prompt reply. Greatly appreciated.

For me, I am not able to connect to the Sandbox. Even I am using MQTTFx and MQTTLens (for testing and see whether able to connect to the server), and no able is able to connect using the broker-url, port-number and the credentials.

What I am using in MQTTFx:

Broker-address: hono.eclipse.org
Broker-port: 1884
Client ID: 4711

-

[2018-08-27 15:22] #2189 closed, assigned to nobody

[2018-08-27 15:26] MMaiero commented on #2177
If the error is "broker unavailable" it has no connection to the password or credential used.
The broker seems unreachable. If you try to access to the server with the command

What do you get?

In any case, please refer to the Hono team that can give you more insight on their product.

Best regards,
Matteo

[2018-08-27 16:08] mohabh88 commented on #2177
Thank you Matteo. Telnet disconnects right after a couple of seconds

`telnet hono.eclipse.org 1884`

[code]

[2018-08-28 10:17] #2153 closed, assigned to MMaiero

[2018-08-28 13:17] gavinying opened #2202 "[DhcpClientLeaseBlock] Failed to add a lease block due to an error parsing dhclient lease file"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name: kura_3.2.0_raspberry-pi-2-3_installer.deb
    - Platform: Raspberry pi 3
    - Kura version affected: Kura 3.2.0
    - Java version (paste the re

[2018-08-28 14:16] #2181 closed, assigned to nicolatimeus

[2018-08-28 15:01] #2164 closed, assigned to nicolatimeus

[2018-08-28 15:02] #2162 closed, assigned to nobody

[2018-08-28 15:48] #2138 closed, assigned to MMaiero

[2018-08-29 03:54] gavinying commented on #2202
The reason is because some new type of network router will send "4294967295" as infinity lease time, so current "int" type is not able to parse.

[2018-08-29 14:13] nicolatimeus opened #2205 "[OPC-UA Driver] Authentication not working"
Currently certificate based authentication does not work in OPC UA driver because certificates are never loaded from keystore.

[2018-08-30 14:31] MMaiero commented on #2108
Closing as #2154 got merged

[2018-08-30 14:31] #2108 closed, assigned to MMaiero

[2018-08-30 14:31] MMaiero commented on #2107
Closing due to #2154 merge

[2018-08-30 14:31] #2107 closed, assigned to MMaiero

[2018-08-30 14:35] MMaiero opened #2210 "Remove HSQL db support from code and implementation"

[2018-08-30 14:36] #2169 closed, assigned to nicolatimeus

[2018-08-31 12:36] mohabh88 commented on #2177
Thank you so much Matteo for your efforts. Now I am able to connect Kura to Hono's Sandbox :)

[2018-09-02 11:03] ashubhatt commented on #459
@pierantoniomerlino I am using SensiBLE device from [SensiEdge](https://www.sensiedge.com/sensible). I would not prefer tinyb because it is architecture dependent. I would like to keep my code as generic as possible.

[2018-09-03 08:17] pierantoniomerlino commented on #459
@ashubhatt If you won't use tinyb, you'd use the old APIs. However, you have to modify the code to support random addresses.
As correctly explained by @tohosokawa you'd add the "-t random" option in

https://github.com/eclipse/kura/blob/07a77c2d730465844f2ddcb3fe6920a046be994a/kura/org.eclipse.kura.linux.bluetooth/src/main/java/org/eclipse/kura/linux/bluetooth/util/BluetoothUtil.java#L308

Then, c

[2018-09-03 09:39] #2205 closed, assigned to nobody

[2018-09-03 09:53] MMaiero commented on #2177
Thank you for the update.

Closing for now.

[2018-09-03 09:53] #2177 closed, assigned to nobody

[2018-09-03 12:49] markoer opened #2215 "NPE during package installation via cloud"
An additional property is needed during cloud package installation. Without it an NPE is thrown when publish is called.

- Component affected:
  - [ ] Distribution
    - Installer name: kura_3.3.0_SNAPSHOT_raspberry-pi-2-3_installer.deb
    - Platform: Raspberry pi 3
    - Kura version affected: Kura 3.3.0-SNAPSHOT

- Textual description of the issue:
Install example publisher package through clou

[2018-09-04 15:54] nicolatimeus commented on #2215
Closed by #2214

[2018-09-04 15:54] #2215 closed, assigned to nobody

[2018-09-05 13:55] MMaiero opened #2219 "Update Jetty to version 9.4.12"

[2018-09-06 09:29] #2219 closed, assigned to MMaiero

[2018-09-06 12:16] #2202 closed, assigned to nobody

[2018-09-06 14:50] markoer commented on #2185
Removal of extra <code>org.eclipse.kura.api</code> is OK, so is cleanup of junit47-related settings. Move of the offending configuration to test/pom.xml is appropriate.
org.hamcrest must remain where it is because otherwise mockito will not resolve its dependencies.

Changes are available in #2223.

[2018-09-06 14:59] MMaiero commented on #2176
Closing for now due to inactivity. Feel free to reopen it, if needed.

[2018-09-06 14:59] #2176 closed, assigned to nobody

[2018-09-06 14:59] MMaiero commented on #2168
Closing for now due to inactivity. Feel free to reopen it, if needed.

[2018-09-06 14:59] #2168 closed, assigned to nobody

[2018-09-07 07:12] #2210 closed, assigned to MMaiero

[2018-09-07 07:40] spnettec opened #2224 "Wire Publisher can't initialize properly at kura start"
On kura startting org.eclipse.kura.internal.wire.publisher.CloudPublisher activated after org.eclipse.kura.cloudconnection.publisher.CloudPublisher

change policy in  CloudPublisherComponent.xml  from static to dynamic

[2018-09-11 07:54] #518 closed

[2018-09-11 07:54] #520 closed

[2018-09-11 07:54] #2050 closed, assigned to nicolatimeus

[2018-09-12 14:44] #2113 closed, assigned to pierantoniomerlino

[2018-09-14 09:26] ctron opened #2232 "Linker issue with tinyb"
In one of he last commits a new linker issue has been introduced like we had it in the past with tinyb:

[code]

This currently breaks CentOS/RHEL. I think this should be fixed before the 3.3/4 release.

[2018-09-14 09:52] pierantoniomerlino commented on #2232
@ctron Probably the new tinyb lib broke something... On which device/OS did you find this issue? I'll try to reproduce the problem.

[2018-09-14 10:01] pierantoniomerlino commented on #2232
@ctron Yes, it's like #2091

[2018-09-14 10:21] spnettec commented on #2232
Can't compile ble provider

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:0.26.0:compile (default-compile) on project org.eclipse.kura.ble.provider: Compilation failure: Compilation failure:
[ERROR] /Users/heyoulin/iot-kura-develop/git/kura/kura/org.eclipse.kura.ble.provider/src/main/java/org/e

[2018-09-14 10:27] pierantoniomerlino commented on #2232
@spnettec Hi, you'd try to delete you local repository (~/.m2/repository/tinyb) and build kura again.

[2018-09-14 14:02] ctron commented on #2232
@pierantoniomerlino CentOS/RHEL 7.x

[2018-09-14 14:31] spnettec commented on #2232
@pierantoniomerlino I have tried but no lucky. This just can fix eclipse classpath error. The  build error still there.

[2018-09-15 15:51] spnettec commented on #2232
delete  local repository (~/.m2/repository/p2/osgi/bundle/tinyb) and build kura again is ok.

[2018-09-16 13:48] spnettec opened #2233 "Create CloudServiceFromFactory and Delete CloudServiceFromFactory cause null reference"
Should change this two function:

@Override
    public void createCloudServiceFromFactory(GwtXSRFToken xsrfToken, String factoryPid, String cloudServicePid)
            throws GwtKuraException {
        checkXSRFToken(xsrfToken);
        if (factoryPid == null || factoryPid.trim().isEmpty() || cloudServicePid == null
                || cloudServicePid.trim().isEmpty()) {
            throw new GwtK

[2018-09-17 12:05] ctron opened #2235 "Commit 2149c3280ae38cd77ca5edc619af2b5e80d5668a causes JVM to segfault"
The changes in commit 2149c3280ae38cd77ca5edc619af2b5e80d5668a cause the JVM to reproducibly segfault for me.

The segfault happens at a later state. When the JVM tries a hostname lookup, the "dl-init" call on `libnss_dns.so.2` causes a segfault by calling a wrong memory address.

Reverting commit 2149c3280ae38cd77ca5edc619af2b5e80d5668a does fix this issue.

[2018-09-17 12:12] MMaiero commented on #2235
Could you please link the PR that introduced the offending commit?
Searching for it in the list of commits returns nothing, in my case.

[2018-09-17 12:28] ctron commented on #2235
Sorry, I linked the commit of me reverting this actual commit. The actual commit is: 2149c3280ae38cd77ca5edc619af2b5e80d5668a

I think it came from PR #2178

[2018-09-18 03:00] spnettec commented on #2233
Ok.close this issue.

[2018-09-18 03:00] #2233 closed, assigned to MMaiero

[2018-09-18 17:31] spnettec opened #2239 "WireAsset Configuration UI check box status can not be saved"
![image](https://user-images.githubusercontent.com/1769060/45705230-9cd7f300-bbab-11e8-8b29-b6af03e7d0e1.png)

[2018-09-18 17:54] spnettec opened #2240 "Could you please add typed JSON to CloudPayloadJsonDecoder?"
According this [wiki:](https://github.com/eclipse/kapua/wiki/K-Payload-JSON-Format)

I add this patch:

diff --git a/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudPayloadJsonDecoder.java b/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudPayloadJsonDecoder.java
index 7ed8385..9b784d2 100644
--- a/kura/org.eclipse.kura.core.cloud/src/

[2018-09-18 18:02] spnettec opened #2241 "OpcUaDriver can not connect if OPC UA Server started after kura and can not reconnect after disconnect by exception"
I created this patch

[OpcUaDriver-reconect.txt](https://github.com/eclipse/kura/files/2393984/OpcUaDriver-reconect.txt)

[2018-09-18 18:12] spnettec commented on #2240
Sorry for the format. Paste agin

`diff --git a/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudPayloadJsonDecoder.java b/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudPayloadJsonDecoder.java
index 7ed8385..9b784d2 100644
--- a/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudPayloadJsonDecoder.java
++

[2018-09-18 18:16] spnettec commented on #2240
[code]

[2018-09-19 07:20] nicolatimeus commented on #2241
@spnettec can you please post more information describing the connection failure like the logged exception?

It should be possible to implement some connection monitoring logic without modifying the driver code by using Kura Wires:

* Create a Timer that ticks at a fixed rate (e.g. 10 seconds like in your patch).
* Connect it to an OPCUA asset that reads any variable from the server.
* Make sure t

[2018-09-19 08:43] spnettec commented on #2241
@nicolatimeus

Yes. I use this driver in event driven mode setting the "listen" flag

![image](https://user-images.githubusercontent.com/1769060/45741034-32fe2e80-bc29-11e8-951e-9b677d14f5f3.png)

![image](https://user-images.githubusercontent.com/1769060/45741120-62ad3680-bc29-11e8-9d63-8bf5b76f91ee.png)

If i start the kura emulator in eclipse debug pattern and then start prosys-opc-ua-simulatio

[2018-09-19 08:50] spnettec commented on #2241
If you want to reproduce this issue just use graph like this:

![image](https://user-images.githubusercontent.com/1769060/45742169-f1bb4e00-bc2b-11e8-80ba-3b090c984d2c.png)

Remove the subscriber. I use this to debug typed json.

[2018-09-19 09:15] MMaiero opened #2243 "[Security] Possible XML External Entity (XXE) attack"
An authenticated user can use the "Upload and Apply" functionality of the local Web UI to upload a malicious XML file that can be used, for example, to retrieve arbitrary system files on the device to create DoS attacks.

Kura should be adapted to prevent this type of attack.

References:
https://www.owasp.org/index.php/XML_External_Entity_(XXE)_Processing

[2018-09-19 11:36] nicolatimeus commented on #2241
Yes, this is known behaviour, the driver currently will not try to reconnect on connection failure if it is used in listening mode only.

This is generally not a problem in polling mode because a connection attempt will be made at every read/write, but if the driver is used in event driven mode only, it will not try to reconnect.

When we added support for event driven mode in the driver, we decid

[2018-09-19 23:04] spnettec commented on #2224
Use this snapshot file would cause org.eclipse.kura.cloudconnection.publisher.CloudPublisher start after org.eclipse.kura.internal.wire.publisher.CloudPublisher. And then can not bind org.eclipse.kura.cloudconnection.publisher.CloudPublisher.

[snapshot_1537396433078.txt](https://github.com/eclipse/kura/files/2398993/snapshot_1537396433078.txt)

Modified cardinality="0..1" to cardinality="1..1" ca

[2018-09-20 09:17] #2239 closed, assigned to nicolatimeus

[2018-09-20 10:05] #2232 closed, assigned to nobody

[2018-09-20 10:06] #2235 closed, assigned to nobody

[2018-09-20 10:09] #2224 closed, assigned to nobody

[2018-09-20 12:58] #2243 closed, assigned to nobody

[2018-09-24 08:08] #2185 closed, assigned to markoer

[2018-09-24 15:33] cdealti commented on #2165
The issue happens also at the system level and is not related to Kura.

[2018-09-24 15:33] #2165 closed, assigned to nicolatimeus

[2018-09-24 15:36] cdealti commented on #2131
closing

[2018-09-24 15:36] #2131 closed, assigned to nicolatimeus

[2018-09-24 15:36] cdealti commented on #2114
closing

[2018-09-24 15:36] #2114 closed, assigned to nobody

[2018-09-24 15:39] cdealti commented on #2098
Add the necessary documentation

[2018-09-24 15:41] cdealti commented on #2058
closing as Fedora is no longer supported

[2018-09-24 15:41] #2058 closed, assigned to ctron

[2018-09-24 15:45] cdealti commented on #2038
This should be logged by the mToolkit agent...

[2018-09-24 15:48] cdealti commented on #1995
Closing as Fedora will be discontinued in Kura 4.0.0.

[2018-09-24 15:48] #1995 closed, assigned to nobody

[2018-09-24 15:51] cdealti commented on #1969
closing

[2018-09-24 15:51] #1969 closed, assigned to nobody

[2018-09-24 15:54] cdealti commented on #1946
closing as Karaf support will be discontinued in Kura 4.0.0.

[2018-09-24 15:54] #1946 closed, assigned to nobody

[2018-09-24 15:56] cdealti commented on #1918
closing due to inactivity.

[2018-09-24 15:56] #1918 closed, assigned to nobody

[2018-10-01 12:26] Coduz opened #2256 "Deploy-V2 cloudlet GET status stops responding"
Environment
  - Distribution
    - kura_4.0.0-SNAPSHOT_raspberry-pi-2-3-nn_installer.deb
    - Vagrant
    - 4.0.0-M1
    - Java version

[code]

Issue:

When running a DEPLOY-V2 install or download it is possible to ask for the Download progress to the device using:

`$EDC/{accountName}/{clientId}/DEPLOY-V2/GET/download`

This will return few info about the package being downloaded, the status an

[2018-10-04 12:51] markoer opened #2262 "Cloud connection PID validation"
When adding a new cloud connection 2 incompatible PID validations are being performed, each with its own set of recommendations.

While field is empty:
![image](https://user-images.githubusercontent.com/22816717/46474956-77bac580-c7e4-11e8-8380-8da78338bd5c.png)

After Foo is entered:
![image](https://user-images.githubusercontent.com/22816717/46474961-7be6e300-c7e4-11e8-8439-1f8fce4c8fb2.png)

Al

[2018-10-04 12:55] markoer opened #2263 "Cloud connections table refresh"
After a new cloud connection is added the table with the list of available connections is (sometimes) not refreshed. Manual refresh or page reload helps.

Component affected:
- [ ] Distribution
  - Installer name kura_4.0.0-SNAPSHOT_raspberry-pi-2-3_installer.deb
  - Platform Raspberry Pi 3
  - Kura version affected 4.0.0-SNAPSHOT

[2018-10-05 13:31] cdealti opened #2264 "[Cellular] PDP Auth failed using context #1 in 4G network (Telit LE910-EU1 and LE910-V2 EU, possibly NA versions)"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb): All
    - Platform (e.g. Raspberry pi 2): All
    - Kura version affected (e.g. Kura 3.1.0): 3.2

[2018-10-05 13:36] cdealti commented on #2264
There's no easy fix for this.
First this (commit)[https://github.com/eclipse/kura/commit/52ebd68386ce2129890c4a59fd09908c2b4580cd] forces using CID 2 for LE910-EU1 and LE910-V2 EU, which is not always appropriate.

Second, to support these SIMs, the PDP context MUST not be set in the chat script because the Telit modem will attempt to update it with the network when pppd starts. This may easily le

[2018-10-06 16:52] #673 closed

[2018-10-08 07:39] cdealti commented on #2264
@dwoodard1 can you please test on a LE910-V2 NA with Verizon Wireless? Just to make sure I've not introduced a regression.

[2018-10-08 13:19] markoer opened #2271 "[Kura 4.0.0 QA] Adding wires components in IE/Edge"
Adding components has new issues in IE and Edge browsers.

IE:
- drag a component to canvas (drop target is not rendered)
- type in the name
- component should show up on the desired place
  - instead the component is out of viewport
- add another component by dragging it to canvas (and entering its name)
  - component should show up on the desired place
  - instead it is rendered next to the prev

[2018-10-08 15:25] nicolatimeus opened #2272 "Asset CSV upload/download issues if AD name and id differs"
If a Driver provides a channel descriptor with ADs defining a `name` different than the `id`, the corresponding columns in the CSV downloaded for an Asset will be empty.

[2018-10-10 15:12] #2262 closed, assigned to nobody

[2018-10-10 23:11] YassineElyk opened #2275 "Bundle creation for eclipse Kura"
Hello everyone,

I'm starting with kura development and I would like to know how you guys create OSGI bundles for kura? and what should I do to include non OSGI projects like for example in my case eclipse Leshan, that is provided as a maven project in github, as a bundle that can be used by other bundles, or as an inner dependency in a particular bundle?

[2018-10-11 13:44] cdealti commented on #2264
Updated to support LE910-VA NA with AT&T fw which does not support the PDP authentication AT command.

[2018-10-12 10:08] pierantoniomerlino commented on #2264
Successfully tested on BoltGATE 20-25 (with systemD) with Telit LE910 EU v2.
I deleted the context 2 before every tests. Works with Vodafone SIM (without authentication and 4G) and Arkessa SIM (with authentication but 2G).

[2018-10-12 14:33] darionct opened #2278 "Firewall, "Open port" dialog valiation"
Kura 4.0.0 RC 46, tested in Firefox 62

When adding a new port to firewall, if port value is incorrect (duplicate), validation message is not presented but dialog does not allow neither to "Submit nor "Cancel".

-Steps to reproduce
Select Firewall, New
Enter port 80 (already exists)
Try to submit, cancel or close dialog

-Expected result: validation message
-Result: dialog remains on the screen wi

[2018-10-12 15:30] markoer opened #2279 "[Kura 4.0.0 QA] Service disappears from menu when reconfigured"
ExamplePublisher disappears when it's reconfigured in a certain way:
* install ExamplePublisher
* add service
* service appears in the menu
* click on it and configure publisher and/or subscriber
* apply and confirm
* service disappears from the menu

It seems to be related to the selection of cloud connection(s). If I update some other parameter, it’s OK. When I change either one of those 2, it h

[2018-10-15 07:45] cdealti commented on #2271
@markoer can you close this if it has been fixed?

[2018-10-15 07:51] markoer commented on #2271
Issue is fixed (verified in RC b48). If the fix affects something else, a new issue can be added.

[2018-10-15 07:51] #2271 closed, assigned to nobody

[2018-10-15 19:47] dwoodard1 commented on #2264
@cdealti I can confirm that this PR works with both AT&T and Verizon LTE.

[2018-10-15 20:00] dwoodard1 commented on #2275
@Yalayak We are in the middle of releasing a new version of Kura, which is why the response to your question has been slow.

We have getting started documentation on Kura [here](http://eclipse.github.io/kura/dev/kura-setup.html). I would recommend going through the tutorial and reporting any issues you have.

There are several forum posts on embedding standard JAR files in an OSGi bundle. One exam

[2018-10-16 18:56] MMaiero commented on #2278
@darionct Could you please verify that the issue is now solved?

[2018-10-16 18:56] #2272 closed, assigned to MMaiero

[2018-10-16 18:56] #2264 closed, assigned to cdealti

[2018-10-16 18:57] MMaiero commented on #2263
@markoer Could you please verify that PR #2280 solves the issue?

[2018-10-16 18:58] MMaiero commented on #2279
@markoer Could you please verify if PR #2283 solves the issue?

[2018-10-17 09:10] darionct commented on #2278
Confirmed in Kura 4.0.0. RC#49.
Warning with appropriate message is shown in case of duplicate entry.

[2018-10-17 09:10] #2278 closed, assigned to MMaiero

[2018-10-17 11:58] markoer commented on #2279
Verified in RC b49.

[2018-10-17 11:58] #2279 closed, assigned to MMaiero

[2018-10-17 12:01] markoer commented on #2263
Looks OK in RC b49.

[2018-10-17 12:01] #2263 closed, assigned to nicolatimeus

[2018-10-17 14:45] hayrolr commented on #823
So, is there a solution or workaround for this?.. I mean, I am simply running the Kura Emulator inside Eclipse and the error appears always, in the console/log, when starting the platform.

I am using my CentOS 7 and connecting or disconnecting the network cable link does not make any difference.

Regards,

[2018-10-17 15:05] cdealti commented on #823
what is the name of the network interface in your CentOS box?

[2018-10-17 15:31] hayrolr commented on #823
It's enp0s25.
![screenshot from 2018-10-17 09-29-23](https://user-images.githubusercontent.com/3628798/47097778-51872380-d1ef-11e8-8e48-a84045bb9f2f.png)

[2018-10-18 06:40] cdealti commented on #823
any luck assigning `kura.primary.network.interface=enp0s25` in the `kura.properties` file in the emulator project?

[2018-10-18 11:46] MMaiero opened #2286 "[Documentation] No need to disable networking service"
On Raspberry pi, the documentation should be updated in order to do not disable networking service.
This will prevent having the raspberry pi booting without any interface enabled.

@markoer Could you please check and confirm?

[2018-10-19 14:05] markoer opened #2290 "[Kura 4.0.0 QA] Shutdown issue when started multiple times"
If we start Kura multiple times in succession, shutdown will not be possible due to improper update of kura.pid file due to improper running Kura detection, introduced in commit 6a260660.

- Component affected:
  - [ ] Distribution
    - Installer name: all
    - Platform: all
    - Kura version affected: Kura 4.0.0
    - Host OS: all

[2018-10-22 08:37] MMaiero opened #2293 "[Documentation] Remove pages referring to deleted hardware platforms"
For example the page referring to the Beaglebone installation should be removed, since that target is not anymore supported.

[2018-10-23 09:25] #2293 closed, assigned to nobody

[2018-10-23 09:27] #2098 closed, assigned to nobody

[2018-10-23 09:30] pierantoniomerlino opened #2296 "The BluetoothLE example fails when the cloudPublisher is undefined"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb): **kura_4.0.0_raspberry-pi-2-3.deb**
    - Platform (e.g. Raspberry pi 2): **Raspberry Pi 3 B+**

[2018-10-23 19:01] hayrolr commented on #823
It works if I set kura.primary.network.interface=enp0s25 in the kura.properties for the Emulator project... but only when I have the network cable linked, otherwise it fails with this exception:

12:41:00,840 [Component Resolve Thread] ERROR MqttDataTransport:804  - Invalid configuration
12:41:00,841 [Component Resolve Thread] ERROR MqttDataTransport:197  - Invalid client configuration. Service wi

[2018-10-26 08:26] ctron opened #2299 "Improve liveness/readyness check in container environment"
Running Kura inside a container environment, it is helpful to support health checks for readyness or liveness.

Currently Kura opens port 8080, but does require HTTP basic authentication in order to get access. This makes it problematic to create a good health check, as you can only check for "TCP port 8080 open". I completely understand that not requiring authentication is not a real option.

On

[2018-10-29 11:37] MMaiero opened #2300 "Drivers and Assets description is appended"
Selecting a service configuration from UI and then selecting the "Drivers and Assets" will result in the corresponding description being added to the service description.

[2018-11-04 18:51] cdealti opened #2301 "kura.data.dir unused"
Please describe the issue you are encountering in Kura.

Fill the following form and provide a textual description if you are reporting a bug.
Provide only a textual description otherwise.

- Component affected:
  - [ ] Distribution
    - Installer name (e.g. kura_3.1.0_raspberry-pi-2-3_installer.deb): N.A.
    - Platform (e.g. Raspberry pi 2): N.A.
    - Kura version affected (e.g. Kura 3.1.0): 4

[2018-11-05 12:25] #2290 closed, assigned to nobody

[2018-11-05 14:38] #2296 closed, assigned to pierantoniomerlino

[2018-11-10 13:26] MMaiero opened #2308 "Update documentation about Docker support"
Kura Docker support should be clearly stated in:
- Kura Website
- Kura Documentation with an hands on guide
- Kura GitHub page

[2018-11-13 09:12] MMaiero opened #2310 "Explore moving from Travis to Jenkins for branches automated builds"

[2018-11-13 11:32] pierantoniomerlino commented on #2301
@MMaiero **kura.data.dir** isn't used indeed... because the correct property is **kura.data** as reported in the kura.properties file and [here](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.api/src/main/java/org/eclipse/kura/system/SystemService.java#L69).

Maybe we should keep this property, but correct the one in the start script.

[2018-11-15 09:52] pintify opened #2312 "Asset configuration: Unit factor field"
We've recently started using Kura to read industrial devices on some plant we are monitoring to evaluate a full implementation in our systems but found a difficulty in variables processing. Most of the industrial devices we read on our systems requires some scale on the value read to convert to the proper unit:

- Modbus register: 42045 (cV)
- Value we intend to read: 420,45 V

We have solved the

[2018-11-15 12:11] markoer opened #2313 "Typos in ExamplePublisher metric name and descriptions"
**Describe the bug**
- metric.double has typo in the name
- metric.integer (including fixed), metric.short (including array) and metric.byte have typos in lower type value ranges

Similar to #889.

**To Reproduce**
Steps to reproduce the behavior:
1. Install org.eclipse.kura.example.publisher deployment package
2. Add a service based on org.eclipse.kura.example.publisher.ExamplePublisher factory
3

[2018-11-19 08:43] MMaiero commented on #2308
Added reference in Kura download page

[2018-11-19 08:44] MMaiero commented on #2174
Hi,
any update on this?

Can this be closed?

Best regards,
Matteo

[2018-11-19 11:00] mpalmier74 commented on #2174
Hi Matteo, sorry for the long delay. This issue can be closed as the problem was about a firewall rule

[2018-11-19 11:00] #2174 closed, assigned to nobody

[2018-11-20 08:43] #2313 closed, assigned to markoer

[2018-11-20 09:04] MMaiero commented on #2312
Hi @pintify,
thank you for the suggestion.
Are you gonna make a proposal in form of pull request?

Best regards,
Matteo

[2018-11-20 09:22] pintify commented on #2312
I'm not really familiarized with the source code of Kura neither have prepared the development environment properly, just implemented a couple of simple additional plugins. I could try anyway but I think it's very likely that I miss something and introduce a bug.

[2018-11-20 09:39] MMaiero commented on #2308
Updated the first page  of official Kura Website
Proposed update in repository documentation to reference the official image in docker hub

[2018-11-20 09:52] MMaiero commented on #2312
No worries, it will in any case be evaluated by the team before merging.

Matteo

[2018-11-20 10:27] markoer commented on #2286
I'm missing some context, here :(

[2018-11-20 10:32] MMaiero commented on #2286
Right,
I was seeing that if network service is disabled in raspberry, as suggested from instructions, Raspberry networking will not be available until Kura starts.

The same does not happen is networking service is not disabled: networking will be up and configured immediately and even before Kura startup.

No idea why we decided to disable network service by default. Maybe you remember something

[2018-11-21 10:22] MMaiero commented on #2308
Updated also the main readme file.

[2018-11-21 14:03] MMaiero commented on #2308
Created a simple page in Kura documentation.
The issue then should be covered.

[2018-11-22 00:24] amitjoy commented on #2312
That's a good enhancement proposal. I also had a similar idea to introduce units of measurements for channel emits that would enable us to perform scaling and factoring as well. I couldn't pull it off so far as I have been busy in the past weeks but I will resume my work asap. I am also encouraging you to keep us posted about your progress so that we can synchronize as well.

[2018-11-22 07:38] pintify commented on #2312
Not too much progress by now, just downloading the source, try to compile and look around for the classes implied

[2018-11-27 09:32] nicolatimeus opened #2324 "Possible OSGi framework refresh when a dp is reinstalled"
**Describe the bug**

When a dp is uninstalled and reinstalled in Kura 4.0.0, sometimes the framework refreshes a lot of bundles in the framework, even if these bundles seem to be completely unrelated with the ones in the dp. The effect is similar to the one described in #1928.

This behaviour sems to be caused by the `log4j2-api` bundle (`org.apache.logging.log4j.api_2.8.2`). This bundle seems to

[2018-12-02 08:43] jorge-recio opened #2326 "Plugin 'jdk.dio' does not include package 'jdk.dio.pwm'."
**Describe the bug**
Is impossible to use the package 'jdk.dio.pwm' when creating a plugin for Kura because it is not exported in the plugin 'jdk.dio'.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a plugin project.
2. Go to the plugin manifest.
3. Click on the dependency tab.
4. Go to section Imported Packages.
5. Search for package 'jdk.dio.pwm'.

**Expected behavior**
The package

[2018-12-03 09:50] #2300 closed, assigned to MMaiero

[2018-12-03 09:52] MMaiero commented on #2301
@pierantoniomerlino We should check for defaults. If the default Kura.data is taken, then we can remove the property from the start script as a duplication. Otherwise we should check why everything works.

[2018-12-03 14:54] #2301 closed, assigned to MMaiero

[2018-12-03 14:55] #2308 closed, assigned to nobody

[2018-12-03 14:58] MMaiero commented on #2240
Hi,
thank you for the comment.
I believe you should provide a pull request with your changes, in order also to give proper rights for your contribution and to start a discussion about this topic.

Best regards,
Matteo

[2018-12-03 15:28] LucaDazi commented on #2326
Hello,
jdk.dio has never been updated since its first introduction in Kura.

Inside the target-platform folder in the code base you'll find the source code for the modified version of jdk.dio we are using. We had to modify the original library, both for the Java code and the native libraries, starting from version 1.0.0.

A jdk.dio version with the jdk.dio.pwm package exported was released later,

[2018-12-05 15:12] jorge-recio commented on #2326
Thanks for the quick response.
I still think that in Kura develop branch threre is a version of jdk.dio.pwm package in folder 'target-platform/jdk.dio-parent/src/dev/src/share/classes/jdk/dio/pwm' but somehow it is not included in binaries.
I have checked for differences between source code in jdk.dio and jdk.dio-parent, both have the same package structure and both include jdk.dio.pwm package; di

[2018-12-06 14:37] matijaKnez-ct opened #2330 "BLE Beacon data assembly overflow"
**Describe the bug**
Beacons have a few fields of limited length reserved for their internal data or user data. Among them are major and minor code, and transmit power. All are Integers in the API. That means that they can reach up to 4B while length limit of those fields is 2B. Since API update is expensive, amend length check in [to2BytesHex()](https://github.com/eclipse/kura/blob/3a4cab49724321

[2018-12-11 09:06] MMaiero opened #2332 "Update AWS connection documentation"
**Describe the bug**
It seems that AWS is moving away from the old Verisign certificate https://docs.aws.amazon.com/iot/latest/developerguide/managing-device-certs.html

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.aws.amazon.com/iot/latest/developerguide/managing-device-certs.html

**Expected behavior**
None at the moment

**Screenshots**
If applicable, add screenshots

[2018-12-11 09:31] MMaiero commented on #2275
Hi @Yalayak, can this issue be closed?

[2018-12-11 09:32] MMaiero commented on #2240
Hi @spnettec any update on this topic?

[2018-12-11 10:56] YassineElyk commented on #2275
yes go ahead

[2018-12-11 10:57] #2275 closed, assigned to nobody

[2018-12-12 05:21] spnettec commented on #2240
Hi @MMaiero
Sorry for long time reply. I'm a little busy recently. I have not set up Create Pull Requests environment. Below attachment patch is used in my test project. The Publisher can publish json format topic to the Subscriber and then write to opc ua. I use prosys-opc-ua-simulation-server tool.
[CloudPayloadJsonDecoder.patch.txt](https://github.com/eclipse/kura/files/2670574/CloudPayloadJson

[2018-12-12 11:17] pierantoniomerlino opened #2334 "The old Bluetooth APIs should be deprecated"

[2018-12-12 14:00] MMaiero commented on #2240
We need to wait for your Pull request to be able to process it and eventually merge into the code.

Please have a look at: https://www.eclipse.org/contribute/ and, in particular, to the "Fix Bugs or Implement Enhancements" section.

Best regards,
Matteo

[2018-12-14 15:01] pierrepitiot commented on #2332
The documentation has been updated, please check the new link before closing the issue.

[2018-12-14 18:53] #2241 closed, assigned to nobody

[2018-12-18 13:57] cdealti commented on #1016
I've decided to give this a try [1].
The `ConfigurationService` implementation determines if the configuration area is available by looking for a `kura.config.dirty` property which it sets through the `ConfigurationAdmin`.
If the configuration area is clean it will load the configuration from the snapshot file.

To experiment with this branch, the `osgi.clean` property must be set to false. Altern

[2018-12-19 15:43] #2334 closed, assigned to pierantoniomerlino

[2018-12-19 16:13] MMaiero commented on #1016
Worked a little bit more on this and came up with this branch: https://github.com/eclipse/kura/tree/configService_osgi-clean-false
It seems to be working, but needs more testing

[2018-12-21 11:24] #2332 closed, assigned to pierrepitiot

[2018-12-22 16:30] aminesig opened #2350 "store/filter local mqtt broker payloads to h2 db instance from kura wire ?"
Is there some way to filter and persist mqtt broker incoming messages to the local sql database ? possibly from kura wire.

[2018-12-23 09:25] MMaiero commented on #2350
Hi, could you describe better your context?
Are you using the internal MQTT broker available in Kura or referring to something else?

Kura has already available a subscriber block that subscribes to an mqtt broker (internal or external) and other blocks for db storing and db filtering that may fit your needs.

Best regards,
Matteo

[2018-12-23 16:59] aminesig commented on #2350
I am using the embedded broker, just to explain better my use case

Embedded broker --> payload (wire subscriber** ) --> extract data from the payload(filter or conditional wire component) --> save it to the db dynamically(db store wire component ***) !
 ** Don't know how to do it using wire graph!
 *** don't know how to store dynamic data with dynamic values in a preconfigured table

BR,
Amine

[2018-12-23 17:51] MMaiero commented on #2350
For the first element you need to create a cloud connection pointing to the internal broker. Then, in wire composer, create a wire subscriber that uses the just created cloud connection and that subscribes to a certain topic.

For the db component, it will create the table depending on your data. You'll have just simply to wire it to the graph to have the messages automatically stored.

Give it a

[2018-12-26 17:25] aminesig commented on #2350
I have managed to subscribe to the local borker, publish messages and recieve them, I can see the messages on the console kura.log file **" INFO  o.e.k.i.c.e.m.c.CloudConnectionManagerImpl - Message arrived on topic: c/g/b/req/temp "**, but nothing get stored in the dedicated table for the mqtt payloads storage.
The only data I can see stored are the login and disconnection from the broker in this

[2018-12-26 19:55] MMaiero commented on #2350
Where are you looking at to get those results?
What is your wire graph? Could you post a picture?

[2018-12-27 07:29] aminesig commented on #2350
this is the H2db web console
![dbconsole](https://user-images.githubusercontent.com/2048486/50470582-5d425380-09b1-11e9-8318-1a385e9b531f.png)

and this is the graph
![graph](https://user-images.githubusercontent.com/2048486/50470583-5ddaea00-09b1-11e9-823d-ee94eee97375.png)

[2018-12-27 07:32] MMaiero commented on #2350
ok, the graph seems correct.
Could you also post the configuration of dbstore?
While running, is the graph blinking (meaning that there is data flow)?
Could you also post the values of kura.log and kura-console.log?

[2018-12-27 08:02] aminesig commented on #2350
these are the files as requested :
![dbconfig](https://user-images.githubusercontent.com/2048486/50471632-e3609900-09b5-11e9-947e-8289ca19144e.png)
[kura.log](https://github.com/eclipse/kura/files/2711866/kura.log)
[kura-console.log](https://github.com/eclipse/kura/files/2711870/kura-console.log)

[2018-12-27 09:23] MMaiero commented on #2350
I believe one issue is related to the database configuration: compared to the default configuration explained [here](http://eclipse.github.io/kura/builtin/h2-database.html) where db.connector.url is set to jdbc:h2:mem:kuradb, in your case is set to jdbc:h2:~/mqtt

[2018-12-27 09:38] aminesig commented on #2350
jdbc:h2:~/mqtt is just another db (a persistent one ) that I have created with it's own service and own PID, the kura graph creates the table automatically inside the in memory default database service (named "buf" which I didn't create manually ).
Anyways I tried to delete the mqtt db service and nothing changed.

PS: I don't see the kura wire graph blinking.

[2018-12-27 09:46] MMaiero commented on #2350
Got it.
From the log I don't see received messages. From what I remember something should be logged about received messages. I would check that.
And the fact that you don't see the graph blinking seems to confirm that hypothesis. Maybe connect the logger to the subscriber to log incoming messages received by the subscriber.

[2018-12-27 09:56] aminesig commented on #2350
I have connected the sub component to the logger, this is what I have got from the log file
![debugscreen](https://user-images.githubusercontent.com/2048486/50475711-e95e7600-09c5-11e9-8437-3fa357c661c0.png)
and this is the payload :
![payload](https://user-images.githubusercontent.com/2048486/50475732-f67b6500-09c5-11e9-98f6-94283e285609.png)
are there any problems with the mqtt payload structure

[2018-12-27 10:07] MMaiero commented on #2350
The message seems to be received by Kura's cloud stack but not propagated to the subscriber. And that is the reason why you see no message logged by the logger component.
I would check the cloud subscriber configuration to check that is actually bound to a proper subscriber component in the "Cloud Services" section.

[2018-12-27 10:34] aminesig commented on #2350
I don't understand this bit, I tried to check the configuration and the cloud connection I have set doesn't have any subscriber binding ? where do I find it ? the only thing I can add is a cloud publisher in that window(which I already did with the same topic I am sending the messages to).

[2018-12-27 10:42] MMaiero commented on #2350
Sorry, my bad. I forgot to ask which version of Kura you are running. I assumed you were running Kura 4. For this last version of Kura you need to:

1. Configure the cloud connection

2. Define a subscriber that refers to the cloud connection and where you specify the subscription topic (as depicted in the following image)
<img width="1381" alt="screenshot 2018-12-27 at 11 39 01" src="https://user

[2018-12-27 10:48] aminesig commented on #2350
I am running KURA_4.0.0, and that option is not available in my cloud settings to add, I don't have any subscribers as you can see in the pic below
![kuracloud](https://user-images.githubusercontent.com/2048486/50477588-49a4e600-09cd-11e9-89c8-10f5773459b1.png)

[2018-12-27 10:53] MMaiero commented on #2350
That is because you are using the Eclipse IoT integration connection. The protocol defined does not support custom subscriptions so that is the reason why you don't see it available in the list.

The option showed is, indeed, available in the default CloudService connection which support custom subscriptions.

[2018-12-27 12:10] aminesig commented on #2350
Ok it's working now, every time I publish the wire graph blinks, the new time stamp is inserted to the table created by the graph to store the messages, the only thing missing is the content of the message, this is the log generated.

2018-12-27T12:03:40,741 [MQTT Call: rpi] INFO  o.e.k.i.w.l.Logger - Received WireEnvelope from org.eclipse.kura.wire.H2DbWireRecordStore-1545911919247-12
2018-12-27T

[2018-12-27 12:21] MMaiero commented on #2350
As described [here](https://eclipse.github.io/kura/cloud-api/5-stack-components.html), the default cloud connection supports both [KuraProtobuf](https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/message/protobuf/KuraPayloadProto.java) and [simple JSON](https://github.com/eclipse/kapua/wiki/K-Payload-JSON-Format#simple-json-encoding).

[2018-12-27 12:22] aminesig commented on #2350
Never mind @MMaiero , I have already read the docs about the json file formatting and structure.
Thanks a lot! for everything.
You can close this issue.

[2018-12-27 12:30] MMaiero commented on #2350
Great!
Thank you for the update

[2018-12-27 12:30] #2350 closed, assigned to nobody

[2019-01-02 18:35] MMaiero opened #2351 "Unable to access networks with hidden SSID"
**Describe the bug**
As reported [here](https://www.eclipse.org/forums/index.php/t/1096573/) it seems that Kura is unable to access to wifi networks with an hidden SSID

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network and select wifi interface
2. set the hidden SSID and the corresponding password
3. Save the changes, Kura should be able to join the network
4. See error

**Expect

[2019-01-07 13:41] MMaiero opened #2352 "Guava CVE-2018-10237"
**Describe the bug**
Guava till version 24.1 is affected by a Deserialization of Untrusted Data issue and this affects projects using it like artemis-jms-server@2.5.0. org.apache.activemq:artemis-jms-server@2.6.0 seems to fix the issue.

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**
A clear and concise description of what you expected to happen.
N/A

**Screenshots**

[2019-01-07 15:29] pierantoniomerlino commented on #2351
The **Ignore Broadcast SSID** option in the **Wireless** tab can enable the access to networks with hidden SSIDs.
From the Kura documentation [1]:

    Ignore Broadcast SSID - operates as follows if set to true:
        In Access Point mode, sends an empty SSID in beacons and ignores probe request frames that do not specify full SSID.
        In Station mode, does not scan for the SSID before atte

[2019-01-07 20:51] MMaiero commented on #2351
Reported to the original author in the Kura forum.
Closing for now

[2019-01-07 20:51] #2351 closed, assigned to nobody

[2019-01-08 13:13] nicolatimeus opened #2353 "[ConfigurationService] Loading unencrypted snapshots discards line breaks"
**Describe the bug**
Currently unencrypted snapshots are loaded using the `BufferedReader.readLine()` method, which consumes all line breaks, removing them from property values.

**To Reproduce**
Replace `snaphsot_0.xml` with a snapshot containing a string property with a multi-line value.

**Expected behavior**
Line breaks are preserved in configuration property value.

[2019-01-09 13:10] nicolatimeus commented on #2324
An event that causes the unnecessary imports to appear is printing exception stack traces.

This is caused by the usage of `org.apache.logging.log4j.core.pattern.ExtendedThrowablePatternConverter`, for printing stack traces, which tries to get additional information about the classes appearing in the trace (e.g. provider jar) using `Class.forName()`.
See the source code of `org.apache.logging.log4

[2019-01-09 16:15] MMaiero commented on #2310
@dwoodard1 Any update on this?

[2019-01-10 14:49] #2353 closed, assigned to nicolatimeus

[2019-01-14 09:29] #2352 closed, assigned to nicolatimeus

[2019-01-15 14:36] nickes opened #2360 "Publish mqtt messages to kura from third party software"
**Describe the bug**
I'm trying to publish MQTT message to my kura gateway from a third party program like [eclipse/mqtt-spy](https://github.com/eclipse/paho.mqtt-spy).  _Simple JSON_ as payload format works great (first screenshot). But I'm forced to use **Kura Protobuf**, on grounds that I'm also using Kapua as a backend and this is where my problem begins:
Kura does not decode the same publishe

[2019-01-15 15:26] nickes commented on #2360
Maybe I don't see the bigger picture here. I'm just looking for a solution to publish a message from kapua or a third party software to kura. Is there any way to do that or have I misunderstood something?

[2019-01-17 14:47] MMaiero commented on #2360
Hi, maybe I'm not understanding your issue, but in the second screenshot I believe you received the message. The difference between the two messages displayed is that in the last one the content is in the body.

[2019-01-17 16:34] nickes commented on #2360
Hi @MMaiero, thank you for your reply.
I also think that the content is in the body, but I don't know a way to display the content of it (as shown in the first example). Do you know how to decode it?
My issue is that I don't see a way to send MQTT messages over kapua to my kura instance.

[2019-01-18 16:32] #2330 closed, assigned to pierantoniomerlino

[2019-01-21 08:56] MMaiero commented on #2360
Hi, to decode and display the message content, please have a look at the APIs.

The ability to send a message from Kapua to a target Kura device is supported through Kapua's REST APIs.

Best regards,
Matteo

[2019-01-21 10:01] #2069 closed, assigned to nobody

[2019-01-21 10:39] #2256 closed, assigned to nobody

[2019-01-21 12:12] nickes commented on #2360
Thank you for this information. I'll take a look at the REST API. I set the issue to closed for now.

[2019-01-21 12:12] #2360 closed, assigned to nobody

[2019-01-23 15:55] pintify commented on #2324
I've experienced this behaviour after uninstalling a meta package with multiple bundles declared inside, but it never happened with any of them separately. The issue does not happen when the package is installed, only when reinstalled or uninstalled.

[2019-01-30 05:27] avargun opened #2363 "REST API"
Hi,

I would like to connect to Kura from a remote application by using Kura's Rest API .
I am using Kura simulator.  I couldn't find exact url of Kura Api or any documentation how can i reach to rest services or send get or post requests. I tried http://--ip--/services,  http://--ip--/kura/services,  http://--ip--/services/assets as Kura Rest URL. Do i have to install something to start Rest Serv

[2019-01-30 12:47] matijaKnez-ct opened #2364 "BLE Example Beacon Scanner Input handling"
**Describe the bug**
The company code has an input which expects a string atleast 4 characters long and of hexadecimal value, but does not check if those two criterias are met. Because of the continues bluetooth scan, company codes invalid inputs trigger a rapid flow of exceptions. The bug was spoted when inputing too short or non-hex company code inputs.

**To Reproduce**
Steps to reproduce the b

[2019-01-30 16:43] nicolatimeus commented on #2363
Hi @avargun,

Some documentation about currently implemented REST APIs is available at [1].
If you are able to access the Kura Web UI at `http://ip/kura`, then Asset REST APIs should be reachable at `http://ip/services/assets`.

REST support is provided by the following bundles that should be included in the Kura distribution out of the box:

**org.eclipse.kura.rest.provider**
**org.eclipse.kura.r

[2019-02-01 13:47] darionct opened #2367 "Device profle, display and model name"
Kura shows device's "Display name" and "Model name" at Device/Profile page. Supposedly, the values should be the same. RPi and Rock 960 have the same values as expected, however that is not the case for Intel UP2 and "eclipse/kura" docker image. Please check [kura.properties](https://github.com/eclipse/kura/blob/develop/kura/distrib/src/main/resources/intel-up2-centos-7/kura.properties) for Intel

[2019-02-04 13:46] SubChord opened #2369 "org.eclipse.kura.protocol.can not available in eclipse repository"
**Describe the bug**
The dependency org.eclipse.kura.protocol.can is not available in the https://repo.eclipse.org/content/groups/releases/ repository.

**To Reproduce**
Browse to:  https://repo.eclipse.org/content/groups/releases/org/eclipse/kura/ and see that it is not there.

**Expected behavior**
I expect it to be there. Now I need to include a jar into my build in order to be able to use CAN

[2019-02-04 14:35] MMaiero commented on #2369
Hi,
unfortunately we cannot distribute that bundle in Eclipse repositories due to its dependency that is not Eclipse friendly.
You need to build it on your own using the -Pcan profile.

Best regards,
Matteo

[2019-02-05 13:13] ctron opened #2371 "Adding new cloud connection does not work"
**Describe the bug**
Creating a new cloud connection doesn't work. There also seems to be no more default connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "New connection"
1. Enter valid data
1. Press "Save"
1. Table reloads, nothing is in there
1. Manually reloading still shows an empty table

**Expected behavior**
The connection appears and can be configured.

**Logs**

[2019-02-05 16:17] MMaiero commented on #2371
Are you working with Kura 4.0 or 4.1-SNAPSHOT?

In theory there are, at the moment, no changes in cloud services that would affect the default connection.
What I believe is the fact that Kura is unable to get the MAC address of your host and, in this way, it is not able to have the MQTT data transport working due to a missing client id.
Maybe something has changed in your base image.

[2019-02-05 16:53] ctron commented on #2371
I think it should be. It is built from f9f969231892769a269876b23f19fa0e8173e3df ...

The base image didn't change, with a pre-4.0 commit it does work, with 4.0 it doesn't. I also did change the primary ethernet interface, so that it could find a mac address. But no connections get listed in the UI. And the bundle doesn't export any service.

I simple stick to my pre-4.0 image.

[2019-02-06 10:56] cdealti opened #2372 "Add Timestamp to Lifecycle Messages"
**Is your feature request related to a problem? Please describe.**
The lifecycle messages, `KuraBirthPayload` and `KuraDisconnectPayload` include a metric representing the system uptime. This time interval is relative to a (device) timestamp which is **not** set in the `KuraPayload`.

**Describe the solution you'd like**
Set the timestamp in the lifecycle messages.

**Describe alternatives you've

[2019-02-07 15:39] MMaiero commented on #2369
Closing for now. Please feel free to reopen it, if needed.

[2019-02-07 15:39] #2369 closed, assigned to nobody

[2019-02-07 15:40] MMaiero commented on #2363
@avargun Can this issue be closed?

Best regards,
Matteo

[2019-02-07 15:54] aycanvargun commented on #2363
yes. thank you.

[2019-02-08 10:04] #2364 closed, assigned to pierantoniomerlino

[2019-02-08 14:46] nickes opened #2375 "RequestHandler stops application"
**Describe the bug**
I'm trying to implement a **command-and-control functionality** into my **heater demo example**. That means that my demo implements the classes ConfigurableComponent, CloudSubscriberListener, CloudConnectionListener, CloudDeliveryListener and additionally **RequestHandler**. Unfortunately my demo stops responding (no logs) after installing the bundle in Kura with the RequestHa

[2019-02-08 15:02] nickes commented on #2375
Speaking of the **command-and-control** functionality:
It would be a great help if someone could give me information about sending command-and-control messages **from kapua's REST api to kura**. I was thinking about the **/{scopeId}/devices/{deviceId}/requests** template from swagger, but I'm not sure about the parameters.
Has anyone here done this before and tell her/his experiences?

[2019-02-08 16:16] MMaiero commented on #2375
Hi,
do you have any code snippet that we can use for debugging?
Even better if you can share a complete bundle that we can download and test.

Best regards,
Matteo

[2019-02-08 20:11] nickes commented on #2375
Hi @MMaiero,
thank you for your quick reply. I attached the files.
[org.eclipse.kura.example.zip](https://github.com/eclipse/kura/files/2846693/org.eclipse.kura.example.zip)

[2019-02-11 10:25] MMaiero commented on #2375
@nickes I would suggest to try to replicate what done, for example, in https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/cloud/app/command/CommandCloudApp.java that I believe matches what you want to achieve.
Please remember to update your component configuration as done here: https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.k

[2019-02-12 16:09] nicolatimeus opened #2382 "Asset operation failure messages are not always shown"
**Describe the bug**

Currently a Driver can report a failure state in a `ChannelRecord` by specifying an exception and/or a driver defined message.

The error information provided are not always completely shown in Assets and Driver section in the dedicated popup, for example the exception message can be reported as "Unknown", or empty, even if the driver a non empty message.

If the exception st

[2019-02-12 16:53] #362 closed

[2019-02-13 09:12] vikram919 opened #2384 "Extract only Kura BLE API component"
I wanted to use ble functionality in another project, apart from ble i do not require other components. Is it possible to use ble alone rather than extracting whole project?
Thank you

[2019-02-13 11:05] #2382 closed, assigned to nicolatimeus

[2019-02-13 11:12] #2324 closed, assigned to nicolatimeus

[2019-02-13 13:49] #2363 closed, assigned to nobody

[2019-02-15 17:00] MMaiero commented on #2375
@nickes Any updates?

[2019-02-16 12:30] nickes commented on #2375
@MMaiero I updated my application using the given example and it finally works.
Here are the changes that I made:

- I added the following lines to my **component.xml**:
`<reference name="RequestHandlerRegistry"
              policy="dynamic"
              cardinality="0..n"
              bind="setRequestHandlerRegistry"
              unbind="unsetRequestHandlerRegistry"
              interface="o

[2019-02-16 12:30] #2375 closed, assigned to nobody

[2019-02-19 14:20] MMaiero commented on #2371
Tested today the docker build with Kura 4.1.0-SNAPSHOT and everything seems to be working.

[2019-02-19 16:51] MMaiero commented on #2384
Hi, this is more a question for the [Kura Forum](https://www.eclipse.org/forums/index.php/f/273/) and not an issue or a feature request.

In general I would say that it is possible, not considering all the OSGi-related code.

Best regards,
Matteo

[2019-02-19 16:51] #2384 closed, assigned to nobody

[2019-02-19 16:53] #2166 closed, assigned to nobody

[2019-02-19 16:57] MMaiero commented on #133
Since it's available as a dp in the [marketplace](https://marketplace.eclipse.org/content/apache-felix-fileinstall-package), I would close this issue for now

[2019-02-19 16:57] #133 closed

[2019-02-19 16:59] MMaiero commented on #222
Reminder to check if the issue has been solved over time. @MMaiero @nicolatimeus @pierantoniomerlino

[2019-02-19 17:03] MMaiero commented on #459
Closing, as referring to old an deprecated APIs

[2019-02-19 17:03] #459 closed

[2019-02-20 16:15] nicolatimeus opened #2388 "Update Artemis to 2.6.4"
As an improvement, we can consider updating the embedded Artemis broker to the latest version for the next Kura release.

[2019-02-20 16:54] MMaiero commented on #456
It should be fixed now with the recent refactoring.
Closing for now

[2019-02-20 16:54] #456 closed

[2019-02-20 16:55] MMaiero commented on #608
Great improvement has been done for Kura 4.0.0.
I'm closing this for now. We will continue on specific issues.

[2019-02-20 16:55] #608 closed

[2019-02-20 16:57] #1004 closed, assigned to nobody

[2019-02-21 15:38] nicolatimeus opened #2389 "Unnecessary escaping in Drivers and Assets data UI"
**Describe the bug**
The driver and assets data section of the web ui reports result data for string channels with some characters escaped.
For example occurrences of the `"` characters will be shown as `&quot;`

**To Reproduce**
Try to read string data containing characters that can represent xml markup.

**Expected behavior**
Characters are not escaped.

[2019-02-22 14:49] cn73 opened #2391 "Multhitread: multiple instances of the same driver"
I set up a wire graph with 2 opcua driver instance connect two assets with different ip. In each asset we have an indipendent opcua server. Sometimes I get a connection timeout in one of the two, the real problem is that in the 60 seconds before the timeout triggers, the other one does not seem to work ... there is not a multithread management in the multiple instances of the same driver?

[2019-02-25 08:26] #2389 closed, assigned to nicolatimeus

[2019-02-25 08:27] nicolatimeus commented on #2391
Hi @cn73,

Separate OPC-UA driver instances should be able to operate concurrently if driven by different threads, regarding your problem, I can think about the following explanation:

If you are using Wires, and you have one Driver instance per server and one Asset per Driver instance, and you connect the two Asset instances to a same wires Timer, then the requests for the two servers will be car

[2019-02-25 08:56] cn73 commented on #2391
In the real case we have 8 asset, 4 OPCUA e 4 another driver. For each asset we set a single driver instance and a single timer. Now we'll try the FIFO component, your suggestion was very useful, thanks so much.

[2019-03-01 09:25] GiovanniFerrari commented on #196
Hi every one,

are there any news about this feature?

Thanks

[2019-03-08 15:56] MMaiero commented on #2388
CQs approved, ready to go.

[2019-03-08 15:56] #2372 closed, assigned to pierrepitiot

[2019-03-14 09:34] GuillaumeMilani opened #2396 "NullPointerException when trying to create HTTP session"
Hello,
I'm trying to set up a REST API based on a Kura 3.2.0 instance, so I use the embedded osgi-jax-rs-connector.
I'm trying to create a HttpSession, I injected the HttpServletRequest using the `@Context` annotation in my endpoint controller but a NullPointerException is thrown somewhere in `HttpServletRequestWrapperImpl.java` at the session creation.

The debugger tells me that a proxy is "corr

[2019-03-20 13:47] joerg-wille opened #2398 "Is Raspberry Pi 3 Model B+ fully supported?"
Could not find any information on the web site, nor in the release notes.
Which is the better board to buy for Kura Raspberry Pi 3 Model B or B+?
Or doesn't make any difference for Kura?
Edit: Since this is actually a question in the first place, I will ask in the [forum](https://www.eclipse.org/forums/index.php/f/273/).

[2019-03-20 16:11] MMaiero opened #2399 "Update Paho to latest version available"

[2019-03-23 18:08] 0xc0d opened #2406 "Use artemis mqtt data in kura"
Hi.

I want to send data that received in built-in MQTT broker, to the Cloud platform.

actually I'm following thos scenario to get collected data from remote MCU which is in same LAN (connected to LAN Access Point) and send them to the Eclipse Kapua.

thank you in advance

[2019-03-24 20:38] #2406 closed, assigned to nobody

[2019-03-25 08:49] #2399 closed, assigned to nobody

[2019-03-26 09:06] pierantoniomerlino opened #2407 "Can't set cellular connection attempts to 0"
**Describe the bug**
In the cellular tab, it's not possible to set the "Connections Attempts" to 0 (that means no limit). This because the webUI validates the value as strictly positive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Network' and select the cellular interface
2. Set the 'Connection Attempts' to 0
3. See that this error message is shown: "Connection Attempts" must be

[2019-03-26 14:16] #2407 closed, assigned to pierantoniomerlino

[2019-03-27 21:13] bitvijays commented on #2406
Hey @Aggr3ssor Hope you are doing well. I am just wondering how did you do this? Receive MQTT message on the built-in MQTT broker (part i am missing) and send them to Eclipse Kapua (Probably use the Publisher example).

I tried to use eclipse.paho.client. library. However, I believe we have to use CloudClient or CloudManager?

and possibly org.eclipse.kura.cloudconnection.eclipseiot.mqtt.Connectio

[2019-03-27 21:34] bitvijays opened #2409 "Documentation for subscribing data to in-built-MQTT Server and sending data to Kapua"
o/ Everyone. Hope you are doing well Thank you for the awesome work!

Is there any documentation (to create a program) which could help in the below :

1a) Connect/ subscribe to the in-built MQTT Server (or any MQTT Server) from Kura.
1b) Subscribe to the specific topics.
1c) Convert the messages to Kura-payload
1d) Send the kura-payload to Kapua (Probably, Example Publisher can be referred here)

[2019-03-28 00:16] 0xc0d commented on #2406
Hey
I believe you will find you answer in #2350

But I should tell you I left eclipse IoT because of poor documentation, there is more better free and open source platform out there which has more clear document and more up to date tutorials, if you had followed eclipse kura youtube tutorials you definitely noticed that the version they use to make is 3.0.0 at last and it's confusing, as  you know

[2019-03-28 13:15] MMaiero commented on #2409
Hi,
thank you for trying out Kura.
"org.eclipse.kura.cloud.CloudService" and "org.elclipse.kura.cloudconnection.eclipseiot.mqtt.ConnectionManager" are both two factories that can be used to connect to Mqtt brokers. The difference between them is that they use different mqtt namespaces.

To connect to the internal broker you have to instantiate a new cloud connection for example a new instance of "

[2019-03-28 17:25] MMaiero commented on #2406
Hi @Aggr3ssor ,
I am sorry that you did not have a positive experience with Kura.
As you know this is an open source project based on contributions and the documentation reflects this. We are trying our best to provide new features and documentation but feedback is really welcome to help us to improve. So, If you have changes that you want to submit, those are more than welcome and will help the p

[2019-03-29 13:58] markoer commented on #2398
We do most of the testing on a 3B, but also use a couple 3B+ RPis. So as @MMaiero answered in the forum, both are OK.

[2019-03-29 14:22] markoer opened #2410 "Deployment handler and URLs with many query parameters"
**Describe the bug**
When trying to install a package through deployment handler and URL to that package has too many/too long query parameters, the download will fail with an exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a link to a file stored in AWS S3 or some other parameterized location
2. Perform cloud package installation through a supported cloud platform

[2019-03-29 15:13] bitvijays commented on #2406
@Aggr3ssor Thank you for the honest feedback. @MMaiero Thank you for taking that feedback positively. we believe Eclipse IoT/ Kura are great products and you guys are doing amazing work. I might have few more questions regarding the connecting the MQTT Server which I will ask in the other thread. Will read more about MQTT Namespaces. Thank you @MMaiero and @Aggr3ssor ! Cheers!

[2019-03-31 13:20] bitvijays commented on #2409
@MMaiero Hope you are doing well. Thank you for your support. So, I was able to connect to a local MQTT Server and send a sample message to the Kapua platform. I have few more questions, would appreciate if you could answer them

https://github.com/eclipse/kapua/wiki/K-Payload-JSON-Format

a)  Does the format sent from the Sensor (constrained device) always have to be in the above format? If so, a

[2019-04-01 07:48] MMaiero commented on #2409
Hi,
related to a), you can create a specific cloud service or, even better, define a specific parser for your devices. We tried to design a general approach that is capable to use different message types. The only constraint is that, to enable processing, at the end the message managed by Kura applications has to be a Kura Message.

Apart from the Account_name/client_id, You can craft the topic as

[2019-04-01 09:50] MMaiero commented on #2388
PR #2397 closed this

[2019-04-01 09:50] #2388 closed, assigned to nobody

[2019-04-01 09:53] MMaiero commented on #2396
Hi @GuillaumeMilani,
sorry for the late response but I didn't get notified for your issue.
@nicolatimeus could you please have a look here?

Matteo

[2019-04-01 09:54] #2371 closed, assigned to nobody

[2019-04-01 12:08] bitvijays commented on #2409
Hey @MMaiero Thank you for your support. Quick Questions:

a) Is there a way to get the topic published? in Java code?

Example: sensor send the MQTT data on topic /account_name/client_id/app_id and the last topic is changing like

/account_name/client_id/app_id/SCK -- Smart Citizen Kit
/account_name/client_id/app_id/PySense - Data from PySense

Currently, whenever the data arrives, onMessageArriv

[2019-04-01 14:26] markoer opened #2412 "Paho issue with WS broker"
**Describe the bug**
There is an issue with the new Paho (#2405):
[code]

This is from RC build when connected to either ws://...:8080 broker or its secure counterpart.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Cloud Connections -> MqttDataTransport with a ws-protocol server
2. Click on Connect/Disconnect
3. Observe kura.log

**Expected behavior**
Cloud client connects and re

[2019-04-01 15:52] MMaiero commented on #2412
Probably related to https://github.com/eclipse/paho.mqtt.java/issues/637

[2019-04-02 13:03] MMaiero opened #2414 "Rock 960: cannot get client id"
**Describe the bug**
When the rock 960 is started, Kura is not able to get the client id even if the interface is specified in the kura.properties file.
Only stopping and restarting kura solves the issue

**To Reproduce**
Steps to reproduce the behavior:
1. Start the system
2. Wait for kura to start
3. Exceptions will be displayed in log showing that no client id was found
4. mqttdata transport co

[2019-04-02 13:25] MMaiero commented on #2409
Hi,
Regarding a), it depends your setup. But in general you should be able to get the publishing topic. Having a look here (https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.core.cloud/src/main/java/org/eclipse/kura/core/cloud/CloudServiceImpl.java#L529) you’ll see that the dispatching is done based on the topic.
If working with subscribers, the subscriber will get in KuraMessage

[2019-04-02 13:40] pintify opened #2415 "Uninstall leakage"
**Describe the bug**
The uninstallation scripts don't remove properly the Kura files. Specifically on the intel-up2-centos-7, the kura.service file is not removed in the prerm script.

**Expected behavior**
All the files included in install.sh should be removed or restored on the uninstallation. At least those that are intended to be managed only with Kura.

**Additional context**
There are other

[2019-04-02 15:42] markoer commented on #2415
Where did you find this service file (full path)?
In #2387 I had limited testing options, so I might have missed something. Would you care to test an update on your device?

[2019-04-03 07:02] pintify commented on #2415
Sorry, I've checked your commit and looks like the problem was solved, but I'm not working on the most recent version. I will use your changed script. Thanks for everything.

[2019-04-03 07:02] #2415 closed, assigned to nobody

[2019-04-04 14:09] #2412 closed, assigned to nobody

[2019-04-04 14:09] #2398 closed, assigned to nobody

[2019-04-05 12:35] markoer opened #2417 "[Kura 4.1.0 QA] Asset configuration radio buttons"
**Describe the bug**
Radio buttons on asset configuration page are displaced:
![image](https://user-images.githubusercontent.com/22816717/55627652-023dab00-57af-11e9-8e0f-0e8e55678fc9.png)

Example publisher is OK:
![image](https://user-images.githubusercontent.com/22816717/55627611-e76b3680-57ae-11e9-8e14-4def6ed426b3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Add OPC/SensorTag/..

[2019-04-05 14:33] nicolatimeus opened #2418 "Kura does not support systems without iwlist"
**Describe the bug**

Kura supports using the `iw` tool for scanning but still requires the deprecated `iwlist` tool for probing local wifi interface capabilities (e.g. supported chipersuites).
In particular the method below relies on `iwlist`, it should be adapted to support `iw` as well.

[1] https://github.com/eclipse/kura/blob/480d70ad90ae74389af8dd581470dfe505d3af89/kura/org.eclipse.kura.linu

[2019-04-08 09:19] #2418 closed, assigned to nicolatimeus

[2019-04-09 07:52] MMaiero opened #2421 "Artemis Server manager NullPointer exception"
**Describe the bug**
A null pointer exception is thrown by Artemis server manager class

**To Reproduce**

**Expected behavior**
No exception should be thrown when stopping or updating Artemis configuration

**Screenshots**
N/A

**Target Environment (please complete the following information):**
 - Board [e.g. Raspberry Pi 3]
 - OS version: [e.g. provide the result of `uname -a`]
 - Additional inf

[2019-04-09 08:04] MMaiero opened #2422 "Kura 4.1.0 QA"
Assignments:

- ~~Raspberry pi 2/3~~: @markoer
- ~~Rock960~~: @MMaiero
- ~~Upsquared Ubuntu~~: @pierantoniomerlino
- ~~Upsquared Centos 7~~: @pierantoniomerlino
- ~~Docker Image~~: @markoer
- ~~User Workspace~~: @pierantoniomerlino

[2019-04-09 08:05] MMaiero commented on #2422
Rock 960 is done. Spreadsheet available [here](https://eurotech2.sharepoint.com/sites/ETHCommunity/Shared%20Documents/Eclipse%20Kura/QA/4.1.0-RC1/qa_kura_4.1.0-RC1_rock960.ods?d=wcecb80b260d7466a8263381c43210e6b)

[2019-04-09 08:19] pierantoniomerlino commented on #2422
Also UP2 (ubuntu) is done. QA results [here](https://eurotech2.sharepoint.com/:x:/r/sites/ETHCommunity/_layouts/15/Doc.aspx?sourcedoc=%7B405A5701-5A52-4E2C-A5D1-434464693F93%7D&file=qa_kura_4.1.0-RC1_upsquared_ubuntu.ods&action=default&mobileredirect=true)

[2019-04-10 10:30] pierantoniomerlino opened #2423 "[Kura QA 4.1.0] Emulator in Oomph installer"
**Describe the bug**
The emulator is broken when Kura workspace is installed with Oomph. The Kura_Emulator_<OS>.launch configuration is wrong since all the bundles are selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Eclipse and Kura using Oomph installer.
2. Start the emulator.
3. See several errors on the console.

[2019-04-10 11:56] pierantoniomerlino commented on #2422
Kura partially tested on UP2 (Centos). Only installation and cloud connection tested. No spreadsheet available.

[2019-04-12 13:40] MMaiero commented on #2410
Hi @markoer,
I'm closing this as it seems related to a problem in the request. The following parameters are required by DEPLOY-V2: URL, bundle name and bundle version.
It seems that the request performed is wrong providing a bad bundle name and a null version to the request. This messes with DEPLOY-V2 and makes it fail.

[2019-04-14 08:05] #2423 closed, assigned to nobody

[2019-04-15 06:48] markoer commented on #2410
I have to disagree.
And I will reference EC for this. The only required parameter in EC is package URL: https://api-sandbox.everyware-cloud.com/docs/resource_Devices.html#POSTpath__devices_-clientId-_packages.html
In addition to this, it works with "nice" URLs i.e. URLs with no parameters.

[2019-04-15 07:39] #2421 closed, assigned to MMaiero

[2019-04-15 12:49] markoer commented on #2412
Verified in 4.1.0-RC b.52.

[2019-04-17 14:58] markoer commented on #2417
Verified in 4.1.0-RC b53. Closing.

[2019-04-17 14:58] #2417 closed, assigned to nobody

[2019-04-18 10:57] matijaKnez-ct opened #2430 "[Web UI] Command file upload dialog"
**Describe the bug**
Similar as #848, the upload button is covered by field and unevenly aligned. The bug appears in Firefox browsers (Firefox 65.0.1 used).

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Device
2. Click on Command tab

**Screenshots**
![screen1](https://user-images.githubusercontent.com/45663278/56356549-6e6dd500-61d9-11e9-9dc2-8ab7af12f04c.PNG)

**Target Environme

[2019-04-18 11:24] MMaiero commented on #2430
Hi, the service is now disabled by default. You need first to enable it before invoking new commands

[2019-04-20 02:40] ghost opened #2431 "Building Kura from source build-all.sh javax.comm error package not found"
I am trying to build kura from source with karaf using build-all.sh
I want to use karaf so that I can implement active-standby installations on 2 raspberry pi.
if there are an other approach to achieve high-availability of kura please inform me.

The error I get is the following:

[ERROR] Cannot resolve project dependencies:
[ERROR]   Software being installed: org.eclipse.kura.api 2.0.0
[ERROR]

[2019-04-23 11:50] MMaiero commented on #2431
Hi, could you please detail your setup?

We tried to build it with maven and it worked. Maybe you need to update your setup.

Best regards,
Matteo

[2019-04-28 07:42] spnettec commented on #2431
Same issue.  This happens in maven 3.6.1. When i swich to 3.5.4.  It's ok.

[2019-04-28 13:32] MMaiero commented on #2431
That's correct @spnettec, seen that too in these days.

[2019-04-29 10:36] #2422 closed, assigned to pierantoniomerlino, nicolatimeus, MMaiero, markoer

[2019-04-30 18:14] ghost commented on #2431
Thanks, I will check and let you know

[2019-05-09 14:51] cdealti opened #2437 "Add support for Huawei modem MS2372"
**Describe the solution you'd like**
Add support for the following Huawei part numbers

1. MS2372h-153 (EU)
2. MS2372h-517 (US)
3. MS2372-607 (Asia)

[2019-05-14 06:41] LeoNerdoG opened #2439 "Unable To Execute Commands On Kura 4.1.0 From Kapua"
I have opened an issue on Kapua project (eclipse/kapua#2307) some time ago, regarding command execution on a device for commands sent from Kapua.
For now, this is not possible, as I get errors that commands cannot be executed (on Kura version 3.2.0 everything works fine).
There has not be a fix for this yet from kapua team - can somebody from Kura team check this and try to replicate so we can see

[2019-05-14 06:45] LeoNerdoG commented on #2439
Ok I just got info that Command Service is not enabled by default.
After enabling it, everything works ok.

![Screenshot 2019-06-28 at 14 42 46](https://user-images.githubusercontent.com/15121999/60342946-1b6f8580-99b3-11e9-9bfb-f53bd5f5c76a.png)

[2019-05-14 06:45] #2439 closed, assigned to nobody

[2019-05-14 07:57] MMaiero opened #2440 "Channel csv sanitisation has to be performed only for channel name"
**Describe the bug**
Currently, the channel sanitisation for imported CSV is performed for all the fields in the channel description. Unfortunately, only the channel name has some restrictions: it cannot have, for example empty spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The sanitisation s

[2019-05-15 08:14] huangpeilong opened #2442 "error reported while building the project"
**Describe the bug**
A clear and concise description of what the bug is.
[INFO] Total time:  17:32 min
[INFO] Finished at: 2019-05-15T15:58:18+08:00
[INFO] ------------------------------------------------------------------------
[INFO] Scanning for projects...
[INFO] Computing target platform for MavenProject: org.eclipse.kura:org.eclipse.kura.api:2.1.100-SNAPSHOT @ /root/Documents/zjlab/code/kura

[2019-05-15 08:16] huangpeilong commented on #2442
I see the same issue in "Building Kura from source build-all.sh javax.comm error package not found #2431"
And I will follow suggestions in that topic

[2019-05-15 08:16] #2442 closed, assigned to nobody

[2019-05-16 15:36] pierrepitiot opened #2448 "Variable replacement in topic string does not work anymore in new Kura 4 Cloud Publisher"
In a Wires graph, we use a javascript filter to decode the data received from lora sensors, and we add a string metric named "mote" that represents the name of the channel (the sensor) to add it at the end of the general topic:

the javascript filter =
var outRecord = newWireRecord()
outRecord.assetName = newStringValue(record.assetName.getValue())
**outRecord.mote = newStringValue(prop)**

and in

[2019-05-20 07:57] #866 closed

[2019-05-20 11:25] nicolatimeus opened #2452 "Add a raw MQTT connection"
**Is your feature request related to a problem? Please describe.**

All MQTT based cloud connection implementations available out of the box in Kura currently enforce some restrictions on topic structure / payload format.
This is due to the fact that that each of these implementations target a specific cloud platform with its own requirements on topic structure and payload format.

We should creat

[2019-05-20 13:01] #2440 closed, assigned to MMaiero

[2019-05-23 13:15] #2452 closed, assigned to nobody

[2019-06-06 07:02] pierrepitiot opened #2455 "Clock synchronization with GNSS"
We have regularly the request of synchronizing the clock using GNSS for episodically connected systems.
Is it possible to consider adding this function to the clock service?

[2019-06-06 08:01] LeoNerdoG opened #2456 "After Rebooting Kura Device Packages Are Missing"
If user installs Kura packages from Kapua (one after another, without any timeout or waiting), the packages are not (properly) installed on the device - they are missing, when device is rebooted.
This is also reported on kapua side (eclipse/kapua#2596).

**Testflow:**
1. Login to Kapua with kapua-sys user (kapua-sys/kapua-password)
2. Connect a live Kura device to Kapua (e.g. device1)
3. Go to Dev

[2019-06-11 12:07] pierantoniomerlino opened #2457 "The DnsServerServiceImpl for SystemD contains illegal commands"
**Describe the bug**
The DnsServerServiceImpl for SystemD calls `/etc/init.d/named`.

**Additional context**
Here the link at the code:

https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.linux.systemd.provider/src/main/java/org/eclipse/kura/internal/linux/systemd/net/dns/DnsServerServiceImpl.java#L192

[2019-06-11 13:13] MMaiero opened #2458 "HTTPS port is set in the wrong property"
**Describe the bug**
As visible here: https://github.com/eclipse/kura/blob/develop/kura/org.eclipse.kura.http.server.manager/src/main/java/org/eclipse/kura/http/server/manager/HttpService.java#L156
The https port is wrongly set with the http key.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear

[2019-06-11 13:15] MMaiero commented on #2457
@pierantoniomerlino Are you taking care of this?

[2019-06-11 13:17] pierantoniomerlino commented on #2457
@MMaiero Not at the moment, but I can assign it myself.

[2019-06-19 16:05] giuseppeferro commented on #2375
Hi @nickes ,
I would to replicate your application using command-and-control functionality.
i'm following your hints but i was not able to publish into CTRL/DEVICES/{requester.client.id}/REALTIME-CMD-V1/REPLY/{request.id} topic.
i'm using Kura 4.1.0
Can you help me to use properly RequestHandlerRegistry?
have you some example code?
Thanks in advance

[2019-06-20 11:48] #2458 closed, assigned to MMaiero

[2019-06-20 14:53] pierrepitiot commented on #2430
After different tests and searches on the Internet it seems that this look & feel cannot be easily modified:
"Unfortunately, this is how the input type='file' /  renders in various browsers. The FileUpload widget just wraps that input type."

[2019-06-21 08:17] MMaiero commented on #2430
Since it seems an issue only related to Firefox, I would set is a Won't fix.

[2019-06-21 08:18] #2430 closed, assigned to pierrepitiot

[2019-06-24 12:55] MMaiero opened #2468 "Log UI failed access attempts"
The Kura web interface implementation should be able to log every successful and unsuccessful login.

[2019-06-25 07:35] #2457 closed, assigned to nicolatimeus

[2019-06-25 07:59] MMaiero opened #2471 "Provide a banner to be displayed at user UI access"
**Is your feature request related to a problem? Please describe.**
It should be possible to have a banner displayed to users that access to the Kura Web UI. It should be configurable to allow different messages to be displayed.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-06-25 14:39] ghost commented on #2448
looking at the code base it seems that only 'assetName' is taken over from wireRecordProp as property in the kuraMessage:

https://github.com/eclipse/kura/blob/f6e982a24e742ce4b7ae37d3aeb0e66fe8798705/kura/org.eclipse.kura.wire.component.provider/src/main/java/org/eclipse/kura/internal/wire/publisher/CloudPublisher.java#L294-L301

If i understand the code correctly that is the reason why the repla

[2019-07-02 07:59] miricy opened #2475 "Could not register mbeans javax.management.InstanceAlreadyExistsException"
**Describe the bug**
This exception only in this version ,No problem with previous versions
# ./start_kura_debug.sh
Listening for transport dt_socket at address: 8000
2019-07-02 07:42:27,392 ConfigurationListener Event Queue ERROR Could not register mbeans javax.management.InstanceAlreadyExistsException: org.apache.logging.log4j2:type=org.eclipse.kura.linux.net
	at com.sun.jmx.mbeanserver.Reposito

[2019-07-02 08:03] MMaiero commented on #2475
Hi,
this exception seems to be related to the new logging system.
We reviewed that, but it does not seem to affect the framework or the functionalities provided.

Best regards,
Matteo

[2019-07-02 08:19] miricy commented on #2475
Hi @MMaiero ：
       22	STARTING org.eclipse.equinox.http.jetty_3.4.0.v20170503-2025
Fragments=23
      The bundle "org.eclipse.equinox.http.jetty" status is STARTING,
       My web console can't run,  When I restart it, I can visit normally again.
       I don't know why. Is it related to this?

[2019-07-02 08:26] MMaiero commented on #2475
It is probably related to the new HTTPS feature. You may need to have a look at the logs to see if there is something wrong there. Is the https keystone available?

[2019-07-02 08:33] miricy commented on #2475
@MMaiero  Thanks for you reply,I check it first.

[2019-07-02 10:14] miricy commented on #2475
Hi @MMaiero
The https keystone not available,
When i set disable the https, or remove the bundle org.eclipse.kura.http.server.manager,
The web can't access,  the bundle org.eclipse.equinox.http.jetty status is STARTING.
But i restart the bundle org.eclipse.equinox.http.jetty, the web Visit normally.
It is probably not related to the new HTTPS feature.

The restart command is:
osgi> start org.eclip

[2019-07-02 13:18] nicolatimeus opened #2476 "Add support for getting the SSLContext from SslManagerService"
Currently the `SslManagerService` only returns `SSLSocketFactory` instances that reflect its configuration, but it does not provide access to the underlying `SSLContext`.
Some APIs allow configuring ssl parameters only by providing a `SSLContext` instance, for this reason the `SslManagerService` should expose that as well.

[2019-07-02 13:23] nicolatimeus opened #2478 "Expose the download functionality of DEPLOY-V2 as a service"
Currently the download implementation included in DEPLOY-V2 handler is only usable through the MQTT protocol.
DEPLOY-V2 provides support for "download manager" functionality such as download resume, verification and rate limiting.
These functionalities should be available to other Kura components as well.

[2019-07-03 13:00] MMaiero commented on #2475
the server manager bundle is a fragment that is related to the http.jetty bundle. If that doesn't start, then also the http.jetty will not start.
Obviously, if you remove the server manager and restart it will boot with defaults.

[2019-07-03 13:53] #2476 closed, assigned to nicolatimeus

[2019-07-03 15:01] #2471 closed, assigned to MMaiero

[2019-07-04 02:08] miricy commented on #2475
Whether I have it or not deleted “org.eclipse.kura.http.server.manager” in the plugin， started kura, the web console could not be accessed. I run ‘start org.eclipse.equinox.http.jetty’ command ， But the web Visit normally.  Just the first time can't start it.  Is it related to the plugin start sequence?

[2019-07-04 07:22] MMaiero commented on #2475
You may want to try to see why the bundle is in starting and what dependency is missing and preventing it to start

[2019-07-04 08:15] iacco opened #2480 "Kura Information for Support feature"
Hello Kura Team,

in order to speed up support for Kura users, whom often have to pose the question and then bounce back and forth gathering the usual informations such as Kura version, additional packages installed in the marketplace, or platform information such as OS versions or particular packages versions, it might make in my opinion to integrate a feature in Kura so that with e.g. a simple s

[2019-07-04 09:03] miricy commented on #2475
Hi @MMaiero
I regenerate the certificate httpskeystore.ks, Problem solved.
Thanks very much。

[2019-07-04 09:20] MMaiero commented on #2475
Thank you for the feedback.
Glad that it works.

[2019-07-04 09:20] #2475 closed, assigned to nobody

[2019-07-08 08:21] MMaiero opened #2483 "Update Eclipse MQTT server reference"
**Is your feature request related to a problem? Please describe.**
Eclipse is changing the MQTT endpoint from iot.eclipse.org to mqtt.eclipse.org.

**Describe the solution you'd like**
The mqttdatatransport needs to be updated with the new references

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-07-10 08:36] jread opened #2488 "kura boot error because of xml.bind with java11"
The current Kura stable 4.1.0 and the developer 4.2.0 exit at start when using java11 (as is now standard with Debian10). Currently Debian10 is not supporting older java versions.

Error:
Kura Started (pid=477) ...
Error occurred during initialization of boot layer
java.lang.module.FindException: Module java.xml.bind not found

I understand that java.xml.bind is now removed from java EE 11.
Is the

[2019-07-11 10:06] #2468 closed, assigned to MMaiero

[2019-07-11 10:06] nicolatimeus opened #2491 "Too narrow colums in channel config for parameters with short names"
If a driver defines a channel descriptor that contains a parameter with a short name, and the descriptor contains "many" parameters, the web ui will render a too narrow column that makes hard to read/modify configuration values.

[2019-07-11 10:09] nicolatimeus commented on #2491
As an improvement, we could also consider allowing to manually resize columns in asset configuration table

[2019-07-11 10:10] MMaiero commented on #2488
Hello,
we have not tested deeply the java 11 compatibility.
I believe that the only options for the missing xml.bind library is to provide it in the environment or maybe, if the dependency is at OSGi level see if OSGi can be updated to a newer version

[2019-07-11 10:13] MMaiero commented on #2456
Since @pierrepitiot was not able to recreate the issue and since there is a refactoring in progress,
we agreed to keep this on hold and try to revamp it later on.

The objective is to define with the help of @LeoNerdoG a set of tests related to deployment.

[2019-07-11 10:15] MMaiero commented on #2431
Closing as it is not a Kura specific issue

[2019-07-11 10:15] #2431 closed, assigned to nobody

[2019-07-11 10:16] MMaiero commented on #2396
Ping @nicolatimeus

[2019-07-11 10:18] MMaiero commented on #2391
@cn73 Can this be closed?

[2019-07-11 10:29] jread commented on #2488
I have tested a simple standalone OSGi (3.14) there and it seems not to have any problems.

[2019-07-11 12:17] LeoNerdoG commented on #2456
OK I agree with the plan. My team will review the tests regarding the deployment and suggest some changes regarding this.

[2019-07-12 11:49] cn73 commented on #2391
Yes, thank you

[2019-07-12 11:50] #2391 closed, assigned to nicolatimeus

[2019-07-18 08:37] #2491 closed, assigned to nicolatimeus

[2019-07-19 11:44] nicolatimeus opened #2496 "Add support for strength requirements for wifi password"
We should add support for defining and enforcing policy for new password strength.
This should be applied at least to the Wifi access point password.

[2019-07-22 10:06] MMaiero opened #2499 "Wrong port reference in Kura documentation"
**Describe the bug**
In [Eclipse Kura documentation for Docker](http://eclipse.github.io/kura/intro/docker-quick-start.html), the code snippet suggests to invoke Docker exposing port 443.
That is, indeed, wrong since the Dockerfile exposes port 8080.

[2019-07-22 10:19] #2496 closed, assigned to nicolatimeus

[2019-07-22 12:05] #2499 closed, assigned to nobody

[2019-07-22 14:46] mstankovic opened #2502 "Firewall rules are deleted after opening port with reverse range"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Kura UI web page
2. Click on Firewall system item
3. Click on "+ New" to add new open port
4. Enter port range in reverse order
5. Enter all fields with valid data (screenshot attached)
6. Click on Submit button - Warning message appears (screenshot attached)
7. Click on Close button
8. Click on Apply button

**Expected behavior**
After st

[2019-07-24 12:16] cdealti opened #2508 "Improve the documentation of DB Store and DB Filter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-26 08:09] MMaiero commented on #2502
@mstankovic Could you please test the PR submitted and verify if it solves the issue?

Thanks

[2019-07-26 11:41] mstankovic commented on #2502
@MMaiero i'm confirming. it solves the issue.
tested and verified as fixed.

[2019-07-26 12:19] MMaiero commented on #2502
@mstankovic @pasqualenaclerio I tried to have a look at the proposed PR but I'm not satisfied by it: it considers only the case where ports are provided in ranges. In case of a single port, it fails. Please review it

[2019-07-30 09:58] mstankovic opened #2512 "Dialog stays opened after applying changes for HttpServise"
**Describe the bug**
When I change some settings from HttpService and I apply those changes, after confirming on Yes, Confirmation dialog stays opened

**To Reproduce**
1. Go to HttpService service item
2. Do some changes (enable http/https or change port for some of them)
3. Click on Apply button
4. Click on "yes" - confirmation button

**Expected behavior**
Confirmation dialog should close and c

[2019-07-30 10:06] mstankovic opened #2513 "HttpService | User is able to disable both connectors"
**Describe the bug**
User is able to disable both connectors (http and https) and after that kura UI is not available

**To Reproduce**
1. Go to HttpService service item
2. Disable both connectors (tick false for HTTP Enabled and tick false for HTTPS Enabled)
3. Click on Apply to apply changes
4. Click on Yes - confirmation button

**Expected behavior**
User should not be able to tick both "false"

[2019-07-30 12:18] mstankovic opened #2514 "Error occurs when user change session timeout"
**Describe the bug**
Error occurs when user change session timeout

**To Reproduce**
1. Go to WebConsole service item
2. Change value for "Session max inactivity interval" from 15 to 2 minutes
3. Click on Apply button
4. Click on yes - Confirmation dialog

**Expected behavior**
Changes should apply without error messages

**Screenshots**
![timeout](https://user-images.githubusercontent.com/3385815

[2019-07-30 12:42] mstankovic opened #2515 "WebConsole | Labels for username and password should have friendly names"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to WebConsole service item

**Expected behavior**
Labels "console.username.value" and "console.password.value" should have friendly names

**Screenshots**
![labels](https://user-images.githubusercontent.com/3385815/62129946-38f87d80-b2d8-11e9-94d8-8ace2509e71b.PNG)

[2019-07-30 13:05] mstankovic opened #2516 "WebConsole | Password restrictions are not working"
**To Reproduce**
1. Go to WebConsole service item
2. Set password restrictions (minimum characters, require digits and/or other restrictions)
3. Apply and confirm changes
4. Try to set text without digits, for example, "text" for password
5. Apply and confirm changes

**Expected behavior**
Should not be able to text without digits if you tick "require digits" restriction

**Target Environment**
 -

[2019-07-30 13:24] MMaiero commented on #2516
@nicolatimeus Could you please check this?

[2019-07-30 13:26] MMaiero commented on #2514
That is now the expected behaviour when acting in the web service configuration. This is due to the fact that the whole web service is restarted.

I believe we thought about setting a message to warn the users about this. But I have to double check to see if it is there.

[2019-07-30 13:40] nicolatimeus commented on #2516
The enforcement of password strength for now is enabled only for Wifi Access Point mode password. Are you referring to that field or to other password fields?

The password strength requirements are not enforced to other fields for now since this would require some changes to enable distinguishing between fields for defining a new password (like for the access point mode) or just providing a passw

[2019-07-31 07:46] mstankovic commented on #2516
@nicolatimeus Sorry, my bad. i thought this is related to device's web console password since it's on the same page as fields for changing username/password. It's not clearly and it's not intuitive that it refers to wifi (access point mode) password.

[2019-07-31 08:18] nicolatimeus commented on #2516
I agree that the current implementation of the feature is a bit confusing.
It is still a work in progress, i think that before next release we will discuss about extending the support for password strength restrictions to other fields of the web and/or improve the configuration section of the web console.

[2019-07-31 08:59] MMaiero commented on #2502
@mstankovic I made some changes to the pull request. Could you please check that it is working with both single port and range?

[2019-07-31 14:59] mstankovic commented on #2502
@MMaiero i checked all scenarios. this issue is fixed.

Note:
-user cannot add port 3 since there is a validation error but im able to add port 003 (or 03) which actually adds port number 3.

-also im able to add range 1:3

[2019-08-01 09:34] mstankovic commented on #2502
@MMaiero
situation where user cannot add ports from 1 to 9 is reproducible on kura 4.1.0 too.
so it's not regression from #2502

from my point of view that is trivial issue and should not block this pr

[2019-08-01 09:54] MMaiero commented on #2502
Ok, so I'll merge it.

[2019-08-01 12:07] MMaiero commented on #2513
Hi @mstankovic, it is like that per design decision.

Matteo

[2019-08-01 12:08] #2513 closed, assigned to nobody

[2019-08-01 13:09] #2502 closed, assigned to nobody

[2019-08-01 14:36] #2515 closed, assigned to nobody

[2019-08-02 09:12] #2448 closed, assigned to pierrepitiot

[2019-08-02 11:55] #2514 closed, assigned to nobody

[2019-08-02 11:55] #2512 closed, assigned to MMaiero

[2019-08-02 12:18] MMaiero opened #2518 "Update Protobuf"
**Describe the bug**
Our current version of protobuf is affected by CVE. The Kapua team has already switched to [a later version](https://github.com/eclipse/kapua/pull/2659#event-2529463939)

[2019-08-02 14:32] raysad opened #2520 "Kura documentation"
Hi everyone,
I was trying to get started with Kura but I'm really stuck in trying to install it on my raspberry pi 3 B+.
In fact, the [quick-start](http://eclipse.github.io/kura/intro/raspberry-pi-quick-start.html) was a bit confusing.
The 3rd step in kura installation redirects to a response with two possible methods. Since step 2 consists in removing dhcpcd5 package, I **assumed** that I should

[2019-08-03 07:18] MMaiero commented on #2520
Hi, maybe you can try to follow the sub mentioned steps and skip point 3 as I believe it's not mandatory. In theory Kura should be able, after the reboot, to set the network for you.

If not, please report the content of Kura.log and Kura-console.log.

Best regards,
Matteo

[2019-08-07 08:57] pintify opened #2521 "Error connecting to H2DbService"
**Describe the bug**
I've experienced a problem connecting to the _H2DbService_. After changing the configuration of the service to store the data on disk instead of memory, a bundle developed by myself that used the service got stuck when trying to connect to the DB.

I'm trying to reproduce the error with debug logs (I experienced it on production environment), but what is clear is that the lock

[2019-08-08 15:38] raysad commented on #2520
Hi @MMaiero ,
Thank you for your response. In fact, it was my fault. I thought the **RPI** should connect to my local gateway while it became **the** gateway.
Since I didn't need the network management at the moment, I stuck with the **nn** version. To install it, I just skipped the first 3 steps and it's working fine.
Best regards.

[2019-08-08 15:38] #2520 closed, assigned to nobody

[2019-08-15 07:50] reda-alaoui opened #2522 "[Documentation] Mention that Kura performs "at least once" message delivery to the cloud"
I did not find any mention of message delivery "at least once" Qos.
Yet Kura seems to support it.

[2019-08-15 07:55] reda-alaoui opened #2523 "[Documentation] Add a Kura development environment setup centered around Maven"
http://eclipse.github.io/kura/dev/kura-setup.html only shows how to configure a Kura development environment requiring Eclipse IDE.
Many people use different IDEs with Maven.

I think it would be a good thing to have a tutorial explaining how to setup the environment based on Maven, regardless of the IDE.

It could take advantage of maven plugins `de.dentrassi.maven:osgi-dp` and `org.apache.felix:

[2019-08-15 07:58] reda-alaoui opened #2524 "[Documentation] Add informations about OSGI"
In the documentation, I did not find any mention of OSGI.
I think that the documentation should at least mention the supported OSGI version (OSGI 6 currently?).

[2019-08-15 08:03] reda-alaoui opened #2525 "[Documentation] Use annotation instead of XML for OSGI component declaration"
http://eclipse.github.io/kura/dev/serial-example.html shows how to develop a serial based module.

Although annotation component declaration is possible with OSGI 6 (supported by latest Kura), documentation and examples are still using XML component declaration. I think it can repel many people unfamiliar with OSGI.

IMO, XML component declaration should be replaced with annotation component decla

[2019-08-15 13:50] paulfehrenbach opened #2526 "Kura Routing Fuctionality with secondary ethernet port"
Hi,
we're trying to configure Kura's routing functionality to create a subnet on a second ethernet port (using a usb-to-ethernet adapter on a pi3).
If we configure the built in ethernet port for WAN and the wifi for LAN, everything works perfectly.
When connecting the usb-to-ethernet adapter, the interface gets displayed correctly and can be configured the same way as the wifi.
The attached device

[2019-08-19 08:01] MMaiero commented on #2526
Hello,
could you please provide more details on your setup?

Do you actually see errors in the Kura.log or Kura-console.log files?
Anything meaningful in system logs like syslog?

Best regards,
Matteo

[2019-08-19 09:19] MMaiero commented on #2522
Hi,
thank you for your feedback.
Actually it depends on the specific cloud connection implementation to provide that support.
Yet, there is no direct mention in the documentation for the currently supported cloud providers.

We will work on that.

Best regards,
Matteo

[2019-08-19 09:24] MMaiero commented on #2523
Hi,
our builds currently use maven to build the project https://github.com/eclipse/kura/blob/develop/build-all.sh

We also had a page describing how to use maven to build the project https://wiki.eclipse.org/Kura/Getting_Started#Building but it's a bit outdated, also sue to the fact that people preferred to use directly the IDE and have a simple setup.

But, If you are willing to update our docume

[2019-08-19 09:25] MMaiero commented on #2524
Hi,
a PR is more than welcome!

Best regards,
Matteo

[2019-08-19 09:27] MMaiero commented on #2525
Hi,
the documentation was made long before adopting OSGi v6 and was kept like that also for legacy support purposes.

If you are willing to provide an update adding the annotation counterpart, the contribution is more than welcome!

Best regards,
Matteo

[2019-08-19 09:29] MMaiero commented on #2521
Hi,
I believe that more context is needed here. Maybe also a test case is required to prove the issue and verify that it is actually solved.

Best regards,
Matteo

[2019-08-19 09:56] paulfehrenbach commented on #2526
Hi Matteo,
thank you for your reply. Of course, I will attach the logs:
Kura-Log after applying new config:
`2019-08-19T10:42:13,257 [EthernetMonitor_eth1] INFO  o.e.k.n.a.m.EthernetMonitorServiceImpl - Found a new Ethernet network configuration for eth1
2019-08-19T10:42:13,312 [EthernetMonitor_eth1] INFO  o.e.k.c.l.u.LinuxProcessUtil - stopping pid=19320
2019-08-19T10:42:13,336 [EthernetMonitor_e

[2019-08-19 09:59] MMaiero commented on #2526
Is the content of /etc/resolv.conf properly set or not?

[2019-08-19 11:48] paulfehrenbach commented on #2526
Yes, it seems configured correctly.

![image](https://user-images.githubusercontent.com/54138147/63263118-fe0ab980-c287-11e9-87fc-94e59705eb20.png)

[2019-08-19 12:05] MMaiero commented on #2526
Ok, so I suspect there is some sort of glitch, maybe in the web ui.

[2019-08-19 12:43] MMaiero commented on #2526
Can I have more details on the setup of the different ports?
From the screenshot I see that the port is set for LAN so it is not expected that the connected devices get a gateway or DNS.
Maybe I'm missing something in the context.

[2019-08-19 13:52] paulfehrenbach commented on #2526
This is the setting of eth0 (connected to the Router-network):
![image](https://user-images.githubusercontent.com/54138147/63270558-b4769a80-c298-11e9-81b5-c47b10d2a577.png)
This is the setting of eth1 (which should open the subnet):
![image](https://user-images.githubusercontent.com/54138147/63270684-f1429180-c298-11e9-93d5-f4cc80a9d5fb.png)
![image](https://user-images.githubusercontent.com/5413

[2019-08-20 07:49] reda-alaoui commented on #2522
Hi Matteo,

Just to be sure we are on the same page, in the eventuality of an unreachable cloud destination, the guarantee I am talking about should prevent Kura from loosing cloud targeted messages by storing them and retrying the message emission later.

Can you tell me which cloud connect implementation supports "at least once"?

[2019-08-20 07:53] MMaiero commented on #2522
In Kura you have the data service that stores the messages before sending them. Then you have the channel protection guaranteed by QoS 1 that is related also with the dataService: only the messages that are acked by the counterpart are then removed by Kura's database

[2019-08-20 07:54] MMaiero commented on #2522
Currently this level of protection is provided by all the cloud connections provided by the project.

[2019-08-20 15:43] MMaiero commented on #2526
ok, now it's more clear to me.
In theory you should be able to connect to the internet if connected to eth1.
I will try to have a look.

[2019-08-21 08:27] #2286 closed, assigned to markoer

[2019-08-26 08:09] RuslanLevond opened #2532 "Raspberry Pi 4"
I have a Raspberry Pi 4 and I tried to install Kura using two different ways which are listed on Kura documentation, one the normal way and the other one with docker. Both methods didn’t work, is there anyway you are able to install Kura on Raspberry Pi 4 and when will there be an official support for Raspberry Pi 4s?

[2019-08-26 08:19] MMaiero commented on #2532
Hi,
what are the issues you are seeing?
Do you have any log that can be shared?

Best regards,
Matteo

[2019-08-27 05:39] RuslanLevond commented on #2532
Hey Matteo,

I am away right now but from what I can remember. It said that it has installed and no errors had come up. However, I couldn’t access Kura’s web services and kura.log file was missing.

[2019-08-27 07:43] MMaiero commented on #2532
When you have the chance, please share the content of Kura-console.log. Were you using java 8?

[2019-08-27 14:15] MMaiero commented on #2521
Hello, any update on this?

[2019-08-27 15:03] #2483 closed, assigned to MMaiero

[2019-08-28 06:27] pintify commented on #2521
Well, I've been unable to reproduce the error. I though I had configured everything just the same way but there have been no problems yet. I may close the issue until I'm pretty sure of the issue. Sorry for the disturbance.

[2019-08-28 06:27] #2521 closed, assigned to nobody

[2019-08-28 07:28] RuslanLevond commented on #2532
Sure I will share the log. I am pretty sure I used java 8 as in the tutorial you install version 8.

[2019-08-28 12:37] iacco opened #2535 "Changing WLAN from AP to Station leaves DHCP server online"
**Describe the bug**
When you change the default WLAN interface of a device from Access Point to Station and connect to an SSID, the DHCP server you used to have active in the network, along with its network settings, stays active in the network you connected to, and becomes a "rogue" DHCP in the network.

**To Reproduce**
1. (if not already present) configure a WLAN interface as Access Point, and

[2019-09-02 14:38] paulfehrenbach commented on #2526
Hey Matteo,
Did you have a chance to check it yet?
Greetings

[2019-09-03 14:45] pierantoniomerlino commented on #2526
Hi @paulfehrenbach, could you please run this command on a terminal on the device?

`sudo cat /etc/sysconfig/iptables`

This will show the complete firewall configuration. Please check that there are a couple of rules that enable the forwarding between eth1 and eth0. Something like this (for wlan0):

`-A FORWARD -i wlan0 -o eth0 -j ACCEPT`
`-A FORWARD -i eth0 -o wlan0 -m state --state RELATED,ESTA

[2019-09-04 05:59] spnettec commented on #2488
remove java.xml.bind in --add-modules=java.sql,java.xml,java.xml.bind  or replace by --add-modules=ALL-SYSTEM

[2019-09-05 12:27] sharmmoh1983 opened #2538 "Kura Making Wifi disable"
After installing Kura successfully and enabling wireless on raspberry pi, internet gets lost and new ip gets assigned. How to get wifi/internet access post Kura installation

What are the steps to add my wifi network through Kura UI.

[2019-09-05 12:29] sharmmoh1983 commented on #2157
@shivamcasit

Can you let me know the steps to add my wifi network through Kura UI.

[2019-09-05 12:42] shivamcasit commented on #2157
@sharmoh1983
In kura ui you will get option to change the network settings.

[2019-09-05 12:47] sharmmoh1983 commented on #2157
@shivamcasit
Is this on Network Page on UI. I tried to remove   Kura Gateway Access Point and override my wifi Access Point. But post that wlan0 is not workingand hence no internet  Am i doing something wrong?

[2019-09-05 13:10] shivamcasit commented on #2157
@sharnmoh1983

Please try as below
->In browser type 172.16.1.1 you will get kura admin UI.
->Go to Network->Interface Name ->  wlan0 -> select TCP/IP ->
  configure DHCP-> Apply -> In wirless tab ->set wirless security and password ->Search Network Name -> Apply -> reboot
->Check below link for UI instructions.
  For more information check in link : https://www.hackster.io/naresh-krish/create-an-

[2019-09-05 13:19] sharmmoh1983 commented on #2157
@shivamcasit
Thanks a lot for your inputs

[2019-09-05 13:20] MMaiero commented on #2538
Hello,
it's not clear to me, from your description, what is the setup you defined. But I would suggest to have a look at the following document: http://eclipse.github.io/kura/config/wi-fi-configuration.html

[2019-09-05 13:21] sharmmoh1983 commented on #2157
@shivamcasit

Do you have any link to integrate modbus simulator to kura ?

[2019-09-05 13:25] sharmmoh1983 commented on #2538
@MMaiero

I am trying to integrate modbus device to Kura . Do you have any sample for Modbus Simulator?

[2019-09-05 13:30] MMaiero commented on #2538
The project currently does not have Modbus support apart from an old protocol implementation that is deprecated nowadays: http://eclipse.github.io/kura/dev/kura-modbus-protocol.html
In the marketplace you can find a modbus driver provided by a company with a commercial licence: https://marketplace.eclipse.org/content/esf-modbus-driver

[2019-09-05 13:36] sharmmoh1983 commented on #2538
So you are saying Kura doesnot have Modbus support hence no Modbus compatible device will work with Kura Gateway

[2019-09-05 13:38] MMaiero commented on #2538
Yes, there is no full open source solution at the moment.
As said, currently modbus is provided as a bundle from a separate company. To use it, you need to comply to the specific EULA.

[2019-09-09 08:12] pierantoniomerlino opened #2540 "Default gateway is not correctly parsed"
**Describe the bug**
When a network interface is configured as WAN, a default gateway is manually defined and it is directly connected to the device, the following error is reported on the log:

[code]

It seems that the output of the command is wrongly parsed by `/etc/network/if-up.d/ifup-local`. The command run by the script is:
`ip route show dev $DEVICE | grep default`
where DEVICE is eth0. Th

[2019-09-09 09:37] MMaiero commented on #2538
Hi, did you manage to solve your issue?
Can this be closed?

[2019-09-09 11:16] fallada commented on #2526
Hi, am having the same problem than @paulfehrenbach. After some testing, I got it running as a router over eth1 (wlan always worked for me).
This is the original config that _did not work_, after I enabled eth1 for LAN:
[code]
I got it working by adding the following lines _and_ disabling wlan over the webinterface.
[code]
Disabling wlan made these lines disappear in the config (which seems necess

[2019-09-12 09:29] #2540 closed, assigned to nobody

[2019-09-17 08:50] DhruvilDhanani opened #2543 "Data encoded as base64 in byte array value type"
In "Drivers and Assets" component, While reading the byte array getting the result as a base64 encoding scheme.

For example,Configuration  in "Drivers and Assets" is as per following:

In assets configuration: [Input]
- type : READ
- value.type : BYTE_ARRAY [Input : new byte[]{1,2,3}]

In assets data: [Output]
- Value : AQID

**Expected behavior**
Value : {1,2,3}

**Target Environment**
KURA 3.2.

[2019-09-17 12:15] pintify opened #2544 "Asset is removed from Drivers view when it is deleted in WireGraph"
**Describe the bug**
Given an Asset, and a WireGraph which uses it in the flow, when the asset is removed from the graph, then the asset is also removed from the Drivers & Assets view. It also happens when the whole WireGraph is removed.

**Expected behavior**
The asset remains in Drivers & Assets view and still available as a possible asset to include in the graph.

[2019-09-18 07:35] nicolatimeus commented on #2543
Before #1591 byte arrays were printed using the `java.lang.Object.toString()` method, so a byte array was displayed as something like `byte[]@aabbccdd`, which is a bug. This also implies that before #1591 it was not possible to perform a write to a byte array channel using the web ui.

The representation you propose is similar to the `java.util.Arrays.toString(byte[])` method (or maybe a modified

[2019-09-18 11:13] DhruvilDhanani commented on #2543
Hi @nicolatimeus,
Thanks you for your answer.

I am closing this issue.

[2019-09-18 11:13] #2543 closed, assigned to nobody

[2019-09-23 14:45] #2538 closed, assigned to nobody

[2019-09-23 14:47] MMaiero commented on #2532
Hi @RuslanLevond any update on this?

[2019-09-26 04:32] pstanton opened #2545 "upgrade minimal-json to reduce deadlock issue"
**Describe the bug**
Using the minimal-jsonproject at version 0.9.4 there is a high instance of deadlocking.
https://github.com/ralfstx/minimal-json/issues/77
This is improved yet not entirely fixed in version 0.9.5
https://github.com/ralfstx/minimal-json/issues/88

[code]

I recommend upgrading to 0.9.5 or removing the dependency.

[2019-09-26 09:40] pierrepitiot opened #2546 "Optimization and simplification of Network Monitor"
While working on the implementation of the diversity antenna programming, I noticed some strange behavior of the Network Monitor.
For example, when applying just a change in diversity antenna of the cellular connection while being connected to the gateway using eth1, the monitor restarts the eth1 connection causing an unnecessary loss of connection.
There are also unnecessary reconfiguration of DH

[2019-09-26 09:47] MMaiero commented on #2545
Hi @pstanton,
thank you for the suggestion.
If you are willing to make a pull request with the changes, it would be really appreciated.

Best regards,
Matteo

[2019-09-26 09:53] MMaiero commented on #2544
Hi,
this was an original choice to link the lifetime of an asset added to the graph to the graph itself.
For what I remember the decision was meant to keep the overall code simple and matching the behaviour of all the other wire components.

Best regards,
Matteo

[2019-09-26 10:48] pintify commented on #2544
I can see how that makes sense from programming point of view, but as user there is a non-reversible step when the asset is first included in the WireGraph:

Step 1: asset created from Drivers & Assets view
Status 1: asset existent but not present in WireGraph
Step 2: asset added to WireGraph
Status 2: asset both existent and present in WireGraph

Logic says that the status 1 is available after do

[2019-09-26 23:07] pstanton commented on #2545
I'm not familiar enough with your architecture.

[2019-09-27 12:51] pierantoniomerlino opened #2547 "WiFi Access Point should support the Automatic Channel Selection"
Currently Kura allows to set up a WiFi Access Point through the webUI. The wireless channel of the link can be statically configured at the bottom of the "Wireless" tab.

However, in some situations the channel cannot be statically chosen and a dynamic approach is preferable. The underlying Linux drivers typically support the Automatic Channel Selection [1], [2] which selects the communication cha

[2019-09-27 13:40] mtamigi opened #2548 "Serial port issues during flush operation"
I'm using the Kura 4.1 in order to communicate via serial port with an external device.
After a write operation on the com port I send a flush command in order to ensure the correct communication.
The thread get suspended in order to completes the operation but the operation stays pending until I restart all the Kura framework. If I stop the bundle Kura is unable to complete the the operation and

[2019-09-29 06:51] spnettec commented on #2544
Hi @MMaiero, The behaviour is wrong. When remove graph the Drivers & Assets can not be removed. It is huge bug for long time. I have fixed this bug for myself.
[patch.txt](https://github.com/eclipse/kura/files/3666520/patch.txt)

[2019-09-30 08:59] MMaiero commented on #2544
Hi @spnettec
thank you for your feedback.
I would suggest to open a pull request. Unfortunately we cannot merge directly a patch file, due to Eclipse Foundation rules and the fact that it is correct that you get the credits for your changes.

We will be very happy to review your PR.

Best regards,
Matteo

[2019-10-02 10:52] misterjimp opened #2553 "Ratelimit average above 1000 messages per seconds yields ArithmeticException"
**Describe the bug**

When setting the Rate Limit Average in Kura above 1000 with unit SECONDS you will get an ArithmeticException: / by zero.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a working cloudconnection
2. Click Enable Rate Limit true
3. Enter the value 10000 (just to be sure its high enough in case I'm wrong on the upper limit) in the Rate Limit Average box.
4. Select S

[2019-10-02 15:36] #2548 closed, assigned to nobody

[2019-10-02 15:53] MMaiero commented on #2553
Hi,
the code is designed to not manage a rate less than 1 message per millisecond.
This rate is very high, and in the usual context of IoT devices you should not normally go that fast.

Best regards,
Matteo

[2019-10-02 15:54] #2532 closed, assigned to nobody

[2019-10-03 13:28] misterjimp commented on #2553
Hi Matteo,

I can buy that. However, it is not acceptable behavior that the code
throws an exception and does not forward the messages when this value is
configured to a higher value.

Better behavior would be:

Text box does not allow a value over 1000 (currently textbox do not
allow values over 100000000 with an error which makes the user believe
values beneath that value are ok.)

A value over

[2019-10-04 09:26] MMaiero commented on #2553
You are right, but I believe we have not forced anything there since the value can be associated with different scales (defined in the next element in UI. The meta type does not allow us to set a smarter logic directly in UI.
We may force something in the backed, but that could result in unexpected behaviours from the user point of view. More or less what is happening now.

From a shallow analysis

[2019-10-07 08:03] pintify opened #2555 "Memory leak in delivery to Kapua"
I've been experiencing memory leakage with Kura and I've recently found that it was Kapua delivery the part which was causing such trouble. I've configured a wire graph with a periodic read each 10 seconds. It wasn't causing any trouble until I connected a Kapua delivery via Cloud Publisher component. If I disconnect the component, memory remains stable again.

As I had detected that data was stor

[2019-10-07 08:08] MMaiero commented on #2555
Hi,
the qos0 are stored in the db before sending and cleaned periodically (housekeeper task).
Is this behaviour not working for you?

[2019-10-07 08:37] pintify commented on #2555
Sorry for that, my mistake. Data is properly being removed every 15 minutes. I may have confused that part with a previous configuration attempt.

[2019-10-07 08:59] MMaiero commented on #2555
Can the issue be closed, then?

[2019-10-07 09:04] pintify commented on #2555
No, the actual issue (memory leakage when the Kapua delivery is connected) remains, the mistake was only regarding this assertion:

[2019-10-07 09:06] MMaiero commented on #2555
ok, but then the assertion is a little bit too weak.
As you may understand, we need some more data and references to understand if there is a leak and start working on it.

[2019-10-07 12:44] pintify commented on #2555
I understand that, it was my main concern before posting. What kind of data would you require? If possible I will collect it to try to narrow down the problem.

I'm trying also to reproduce the leakage using the docker image, but I require some time to notice if it is happening (the tendency is hardly appreciated unless a couple of days at least are considered).

[2019-10-07 13:22] MMaiero commented on #2555
Maybe use a profiler or something that can log the memory behaviour in order to demonstrate the bug and to try to isolate the root cause

[2019-10-11 11:52] pintify commented on #2555
I've been unable to reproduce reliably the issue neither find a more precise description using the profiler. I'll close it until I get a more accurate report of it.

[2019-10-11 11:52] #2555 closed, assigned to nobody

[2019-10-15 11:39] LeoNerdoG opened #2556 "Disabled Tabs On Connected Device"
I have reported this bug on Kapua a while back but closed it, as it is more a Kura bug then kapua (probably), so I am opening it here. Original issue description is bellow, I am also adding [link to the eclipse/kapua github issue. ](https://github.com/eclipse/kapua/issues/2081)

If user adds another cloudService (e.g. org.eclipse.kura.cloud.CloudService-2), enters all the correct parameters and th

[2019-10-15 15:43] MMaiero commented on #2556
Which version of Kura are you using?

[2019-10-16 06:05] LeoNerdoG commented on #2556
Hey,
this happened in October 2018 so I guess the 3.2.0.
I will check also with 4.1 to see if I can reproduce.

[2019-10-16 12:51] activey commented on #2556
Ok I think I've "resolved" it. It was all related to cloud service pid value in kura instance. It HAS to be **org.eclipse.kura.cloud.CloudService**, no suffix/prefix or anything. Great it was mentioned anywhere, wasted like three days on that...

[2019-10-21 08:56] MMaiero commented on #2556
@LeoNerdoG Any update on this?

[2019-10-21 09:17] LeoNerdoG commented on #2556
hey @MMaiero,
I will try to check this today/tomorrow morning and update the issue.

[2019-10-22 06:50] LeoNerdoG commented on #2556
I have checked this with Kura 4.1.0 and I could not reproduce it so I am closing the issue.

[2019-10-22 06:50] #2556 closed, assigned to nobody

[2019-10-23 15:03] pintify opened #2560 "Unable to install package with basic authentication"
**Describe the bug**
The download/install via URL is not capable to process URLs with user/pass authentication included.

**To Reproduce**
1. Go to Packages tab -> Install/Upgrade package -> URL
2. Insert a url with format https://username:password@myrepository.com/packages/package1.dp
3. Install fails with

[code]

The URL works perfectly when used from `curl`.

**Expected behavior**
Authenticati

[2019-10-23 17:04] sterwen commented on #2526
We are also struggling with this bug since some months. We have made our investigations and it looks that the DNS configuration does not take into account the Ethernet port. Our technical expert will post additional details.

Obviously the fix above is not a final solution.

[2019-10-25 09:18] nicolatimeus opened #2561 "Check DS dynamic reference bind/unbind methods"
Osgi DS spec [1] section 112.5.12 states that when a service instance bound using dynamic references is replaced with another one, the invocation of `bind()` method injecting the new service happens before the `unbind()` invocation for the old service.

We should check existing components that use this kind of references (e.g. wires publisher) to verify if their `bind()`/`unbind()` implementations

[2019-10-25 15:29] spnettec commented on #2561
Always before the unbind() invocation for the old service.
CloudSubscriber:
`
public void unsetCloudSubscriber(org.eclipse.kura.cloudconnection.subscriber.CloudSubscriber cloudSubscriber) {
        this.cloudSubscriber.unregisterCloudSubscriberListener(CloudSubscriber.this);
        if (this.cloudSubscriber == cloudSubscriber)
            this.cloudSubscriber = null;
    }
`
CloudPublisher:
`
publ

[2019-10-28 02:11] liucunjie opened #2562 "Kura is not able to reconnect the mqtt server when connectionLost"
**Describe the bug**
When the mqtt server is restarted, Kura is not able to reconnect the mqtt server.
Only manually reconnect to solve the issue.

**Kura.log**
2019-10-28T09:20:51,182 [MQTT Rec: B8:27:EB:04:78:18] WARN  o.e.k.c.d.t.m.MqttDataTransport - Connection Lost
Connection lost (32109) - java.io.EOFException
	at org.eclipse.paho.client.mqttv3.internal.CommsReceiver.run(CommsReceiver.java:1

[2019-10-28 06:54] spnettec commented on #2562
Which version of the kura?

[2019-10-28 09:02] liucunjie commented on #2562
Kura Version: 4.2.0
Maybe it is paho bundle issue, the link:  https://github.com/eclipse/paho.mqtt.java/issues/673
I am not sure

[2019-10-28 09:54] MMaiero commented on #2562
Hi, what is the configuration of the mqttdatatransport and data service you are using?

[2019-10-28 10:17] liucunjie commented on #2562
I just change the  broker-url value :  mqtt://mqtt.eclipse.org:1883/  and keep others default
restart my router, the result is same, but kura.log error msg is:

2019-10-28T18:04:44,517 [MQTT Ping: B8:27:EB:04:78:18] WARN  o.e.k.c.d.t.m.MqttDataTransport - Connection Lost
Timed out waiting for a response from the server (32000)
	at org.eclipse.paho.client.mqttv3.internal.ExceptionHelper.createMqttE

[2019-10-28 10:18] MMaiero commented on #2562
Did you enable the reconnect feature of data service?
Otherwise the framework will not try to reconnect if it looses the connection.

[2019-10-28 10:30] liucunjie commented on #2562
Sorry for that , It's my fault, and I will set connect.auto-on-startup to true
I misunderstand this value

[2019-10-29 01:23] liucunjie commented on #2562
Sorry for all things, thanks for your time, I read the documentation carefully and re-tested,
and I could not reproduce it so I am closing the issue.

[2019-10-29 01:23] #2562 closed, assigned to nobody

[2019-10-29 02:16] pstanton opened #2563 "NTP update setting time to 2036-02-07 epoch overflow"
**Describe the bug**
Over the last few days 3 systems in our fleet have had the system clock set to 2036-02-07. Each happened at different times. 2/3 were predicated by an error.

**To Reproduce**
Cannot intentionally reproduce

**Expected behavior**
Ability to trust NTP & implementation

**Target Environment (please complete the following information):**
 - Board: Custom
 - OS version: Linux - 4.

[2019-10-29 02:24] pstanton commented on #2563
another system:
[code]

[2019-10-29 02:26] pstanton commented on #2563
another system:

[code]

[2019-10-30 10:46] spnettec opened #2564 "why the cloudService must have predefined prefix pid name?"
Why the cloudService must have predefined prefix pid name?

I don't understand.

[2019-10-30 10:52] MMaiero commented on #2564
That was a simplification in order to match instances with factories in an easier way, without the need to perform costly introspection inside configurations.

[2019-10-30 10:54] MMaiero commented on #2563
From the log it seems that the systems received a wrong update.
I believe that if there is no implementation error, there is little that can be done client side.

[2019-10-30 10:59] pstanton commented on #2563
well ... there's always something that can be done!

one option would be, when receiving an update of more than N seconds offset, to pause and retry to confirm the update - perhaps more than once! updates of < a few seconds are routine, updates of tens of years are very out of the ordinary and should only ever be valid at the first boot up of the device. if an update occurs of this magnitude it's

[2019-10-30 11:02] MMaiero commented on #2563
We have seen examples of gateways without rtc persistence that, for example, start in a data in early 2000 and then, after getting network connection, they update their date to today. So a pre-emptive fix like that would not work in that context.

But I agree that it can be an option.
If you want to make a contribution, it is more than welcome.

Best regards,
Matteo

[2019-10-30 11:45] spnettec commented on #2564
Can this pid be generated automatically? I'm doing web localization work.  This pid does not need to be displayed. Replace with description. Like i have done with "Create a new Component". You can try `docker run -d -p 1883:1883 -p 1888:1888 -p 8080:80 -p 443:443 -p 8088:8088  --name kura heyoulin/kura:v4.2.10`

[2019-10-30 12:31] spnettec commented on #2564
Merged latest snapshot and pushed v4.2.11.

I don't know whether i can commit PR for my revision. Because i have gone far away.
I have fix many bugs and revise the api. I don't remember what bugs i have fixed.

[2019-10-30 12:36] mstankovic opened #2565 "Error appears after changing console username/password"
**Describe the bug**
Error message appears after changing console username and password
error message is `404 ProxyServlet: /admin/denali/xsrf`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WebConsole
2. Change values for username and password
3. Click on Apply button
4. Click "Yes" to confirm changing

**Expected behavior**
Username and password should be changed without error appea

[2019-10-30 12:55] MMaiero commented on #2564
I see. If you are willing to submit a PR, we will be very happy to review it.

Best regards,
Matteo

[2019-10-30 13:29] spnettec commented on #2565
I can't reproduce this. Can you try docker run -d -p 1883:1883  -p 8080:80 -p 443:443 -p 8088:8088  --name kura heyoulin/kura:v4.2.11   ?

[2019-10-30 16:13] nicolatimeus commented on #2565
It it probably caused by the fact that some Console servlets are unregistered and re-registered when the WebConsole configuration is updated.
Maybe we can improve the code to avoid unnecessary restarts depending on the parameters that actually changed.

[2019-10-30 16:27] solidrun-ejb commented on #2526
From what I can see when the /etc/bind/named.conf is created, the ```allow-query``` only includes the network range from the wlan0 interface and not any other interface that is configured for LAN which would cause clients on the other interfaces to fail to resolve.

[2019-10-30 18:38] spnettec commented on #2565
@nicolatimeus You are right. I compared my revision. I found i had resoved this bug long time ago.
You can see my fork. I can comiit a PR

[2019-10-31 08:20] #2545 closed, assigned to MMaiero

[2019-10-31 09:00] spnettec commented on #2564
Doublicate PID

![image](https://user-images.githubusercontent.com/1769060/67932926-c7dea400-fbff-11e9-8032-651a1c8ea743.png)

No error. Only show first created service configration

[2019-10-31 15:05] mstankovic commented on #2565
Im confirming that PR #2567 fixes this issue.
Thanks @spnettec @nicolatimeus

[2019-11-04 20:30] dwoodard1 opened #2571 "Custom firewall rule in snapshot_0"
In Eclipse Kura v.3.2.0 and v4.1.0 there is an issue when trying to add a custom firewall rule to snapshot_0. After installing Kura and modifying the snapshot_0.xml with a custom firewall rule, the subsequent reboot ignores the custom rule. Using the "Upload and apply" option after Kura has started allows the rule to be available.

Steps to reproduce the behavior:
1. On a running version of Kura,

[2019-11-05 08:58] pierantoniomerlino opened #2572 "Kura develop build fail"
The build of Kura develop branch fails after the merge of #2536. Probably this is due to some tests about the new executor service that are incompatible with Jenkins environment.

[2019-11-05 09:02] pierantoniomerlino opened #2573 "Sonar Lint issues after merging #2536"
After the merge of #2536 about the new command executor service, several issues are reported by Sonar Lint [1]. They are about core replication, bug and code smells.

[1] https://sonarcloud.io/dashboard?id=org.eclipse.kura%3Akura

[2019-11-05 20:49] MMaiero commented on #2526
@pierantoniomerlino Can you please follow up on this?
Thanks

[2019-11-06 09:03] #2573 closed, assigned to pierantoniomerlino

[2019-11-06 11:06] ossnoser commented on #2525
Could [this](https://github.com/eclipse/kura/tree/develop/kura/examples/bnd_examples/org.eclipse.kura.demo.bnd.heater) considered a valid starting point?

[2019-11-06 13:45] pierantoniomerlino opened #2575 "Network interfaces not detected on Kura webUI"
After the merge of #2570, the Kura WebUI cannot detect the network interfaces, probably because some bugs on the DnsServerService implementations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Network tab on the Kura webUI
2. See that the network interfaces are not listed

[2019-11-06 16:01] #2575 closed, assigned to pierantoniomerlino

[2019-11-07 09:08] pintify opened #2577 "Camel route gets stuck"
**Describe the bug**
I've configured the following route in camel:

[code]

With the packages `de.dentrassi.kura.addons.camel.gson`, `de.dentrassi.kura.addons.camel.http` and `de.dentrassi.kura.addons.camel.jetty` installed. And then I've configured in the Wire Graph the Endpoint `seda:output`.

The route works well in the beggining but somehow after a while (and particularly when multiple message

[2019-11-07 10:47] kandrej opened #2578 "DHCP client does not detect network IP changes"
**Describe the bug**
DHCP client does not detect network IP changes. In case of a very long lease time it could take days for the DCHP client to request a new valid IP address.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect the board on a router (IP address 192.168.1.1 subnet mask 255.255.255.0)
2. Boot the board
3. DHCP client acquires an IP (eg. eth0 IP 192.168.1.100)
4. Change th

[2019-11-07 12:23] markoer commented on #2544
Related to #1981.

[2019-11-07 16:24] MMaiero commented on #2577
Hi, maybe @ctron can give you some help on this.

Matteo

[2019-11-07 16:25] #2572 closed, assigned to pierantoniomerlino

[2019-11-07 16:26] #2518 closed, assigned to MMaiero

[2019-11-08 15:33] MMaiero opened #2580 "Setting modem reset timeout to 0 causes the modem to reset indefinitely"
**Describe the bug**
Setting the modem reset timeout to 0 causes the modem to be continuously reset. That is the exact opposite of what stated in the help area that says that the modem will try to connect without resetting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ppp section
2. Set the modem reset timeout to 0
3. See error in logs

**Expected behavior**
As stated in the help di

[2019-11-08 15:34] pierantoniomerlino commented on #2526
After some checks, to create a subnet on a second ethernet port (eth1) the following parameters should be configured:

- the firewall has to manage the forwarding of packets between eth0 (WAN) and eth1 (LAN);
- some ports should be opened on the firewall for the specific port (eth1);
- the dns server has to allow query from clients in to the subnet.

The first and third points are performed by Kur

[2019-11-08 16:02] pierantoniomerlino commented on #2578
@kandrej As far as I understand, you have changed the configuration of the DHCP server and Kura updates its IP address after a very long time. The expected behavior is that the IP address would be updated after half of the lease time. Of course it depends on when the DHCP server was changed compared the lease time, but typically the IP address will not be updated immediately.
In [1] and [2] it is

[2019-11-08 16:53] kandrej commented on #2578
The DHCP client works as it should, however it think if the link is dropped and then reestablished it should renew or reacquire a new IP.

Usually every OS reacquire a new IP as soon as the cable is plugged. In my case, the home router reboots on configuration changes dropping the link. When the router boots every device has a new IP except those running Kura

[2019-11-09 15:58] sterwen commented on #2526
Hello,

Thanks for the tip, but this is not the problem we are facing. We want to route from Eth0 to ppp0. From Wlan0 it works because the correct configuration is made in /etc/bind/named.conf.
However, if the eth0 is configured as LAN with a DHCP server the DNS is not forwarded due to the fact that the eth0 0 IP address range is not indicated /etc/bind/named.conf.

[2019-11-11 09:13] nicolatimeus opened #2581 "[DataService] Use System.nanoTime for token bucket"
**Describe the bug**
The current implementation of the token bucket algorithm performs time differences using the `System.currentTimeMillis()` method, this can cause issues if large system clock "jumps" occurs.
The `System.nanoTime()` function should be used instead.

[2019-11-11 10:30] pierantoniomerlino commented on #2578
@kandrej Ah ok, thank you for the clarification.

The network monitor in Kura runs every 30s, so I think that if the change is less than that period, the configuration change is lost (at least until the lease time expiration).
What happens if you unplug the cable for more than 30s and than replug it (of course with dhcp server changes)?

If so, it's not a good behavior...

[2019-11-11 10:47] kandrej commented on #2578
@pierantoniomerlino Ok, unplugging the cable for a longer period helps solving the problem.

Maybe the network monitor should also check **/sys/class/net/{interface}/carrier_changes**. If the number changes it could restart the DHCP client

[2019-11-11 13:55] pierantoniomerlino commented on #2526
@sterwen I'm sorry but I'm a bit lost on this issue...
I used a RPi with an external usb-2-ethernet dongle (eth1, as reported on the first posts), configured as follows

- eth0: WAN, DHCP client
- eth1: LAN, DHCP server, NAT and DNS server

This works on my setup and the correct configuration is made in `/etc/bind/named.conf`:

[code]

The first post, however, reports that the eth0 is configured a

[2019-11-11 21:57] sterwen commented on #2526
@pierantoniomerlino
Today it works with 1 LAN having 172.16.1.1/24 address range. With the WiFi as LAN and Cellular as WAN it works perfectly as you state in your comment.
The problem arise when you want to route a second LAN (eth0) with Cellular as WAN. The IP is routed but the DNS is not passing. And this is the reason of the discussion on the issue.
The reason why it is not working is that the

[2019-11-12 00:46] spnettec opened #2583 "Add asset and then delete the asset disappear in graph"
**Describe the bug**
When add an asset to graph and then delete it and want to add it again the Wire Asset Component don't display this asset. When refresh graph page or reload Wire Graph menu the asset display again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create one or more assets.
2. Go to Wire Graph and drag an asset to graph
3. Don't Apply and delete this asset
4. Don't Apply an

[2019-11-12 11:25] MMaiero opened #2585 "Asset blinking feature seems not to work"
**Describe the bug**
In current development version, the blinking feature of Kura Wires seems not to work properly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Kura Wires
2. Define a graph and save
3. See error

**Expected behavior**
The arcs between blocks should highlight when triggered.
From logs, there seems to be a data flow but no highlight in the arcs is displayed.

**Screens

[2019-11-12 11:55] spnettec commented on #2585
@MMaiero what error occur？

[2019-11-12 15:46] MMaiero commented on #2585
As described in the note. No visible error apart from the arcs not highlighted (probably events are not fired)

[2019-11-12 16:56] spnettec commented on #2585
Taken from my 4.3 snapshot. I have this problem before a month ago. I check my revision and find this PR can resolve this bug. Please test and review.

[2019-11-12 17:02] spnettec commented on #2585
I am pretty sure this bug is caused by compressed data by server.
So add this head can resolve the bug:
`response.setHeader("Content-Encoding", "identity"); `

[2019-11-13 10:44] #2581 closed, assigned to pierantoniomerlino

[2019-11-13 11:02] MMaiero commented on #2578
@kandrej It seems a good idea. Maybe there is space for a PR?

[2019-11-13 16:42] spnettec opened #2590 "System Clock Update Command error"
**Describe the bug**
There is always update system clock error.
`2019-11-13T18:30:15,281 [AbstractNtpClockSyncProvider:schedule] ERROR o.e.k.l.c.ClockServiceImpl - Unexpected error while updating System Clock - rc = 1, it should've been 2019-11-13T18:30:15.281+0800`

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the clock service
2. See log error

**Expected behavior**
Expected no er

[2019-11-13 17:36] sterwen commented on #2526
I made further tests today and after recheck the /etc/bind/named.conf looks OK.
Here is the Kura network configuration and it looks OK.
![image](https://user-images.githubusercontent.com/30366677/68788482-c8395f00-0643-11ea-9071-b3026440d578.png)

With this configuration, the routing from the wlan0 is OK, while there is no DNS request forwarding from eth0. Pure IP routing works.

The named.conf fi

[2019-11-14 11:20] pintify commented on #2577
The issue still remains. The Camel Route stucks after given time or requests (not entirely sure in this moment) and not only the Wire Graph does not receive data but also the HTTP service is no longer available.

In some cases it is necessary to restart the whole Kura application so that the problem gets solved

[2019-11-14 12:41] ctron commented on #2577
I am not sure what this could cause. Did you check for things like deadlocks?

[2019-11-14 13:12] pintify commented on #2577
There is no additional Camel routes. The WireGraph has more logic but nothing related with camel or the POST, just the processing and storage of the data.

[2019-11-15 10:06] pintify commented on #2577
I've found that the requests to the exposed URL is never closed as the service does not respond with any success message. I guess this has probably something to do with the issue.

I've also tried to modify the route to end in stream:out. In this case the request is answered, so I guess it has something to do with the seda:output endpoint. Maybe the response waits for something to happen on the se

[2019-11-15 10:16] ctron commented on #2577
Yes, that could be an explanation.

[2019-11-15 10:20] pintify commented on #2577
Hope so, as I've already solved the response issue. I've changed the seda endpoint to:

[code]

Right now the service responses with 200 code. I'll leave it working until monday to see if the issue is definitively solved.

[2019-11-15 17:10] ctron opened #2594 "Unable to connect with Let's Encrypt server certifcate"
**Describe the bug**

Connecting to an MQTT server, secured by a certificate signed by Let's Encrypt fails for me with:

[code]

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new connection for `mqtts`
1. Select SSL alias `le`
1. Upload (copy & paste) the Let's Encrypt Root certificate: https://letsencrypt.org/certs/isrgrootx1.pe

[2019-11-17 16:32] spnettec commented on #2594
inport this root crt. it works. I don't know why
[code]

[2019-11-18 11:48] cdealti opened #2595 "Unnecessary handling of driver's modified event by Base Asset?"
**Is your feature request related to a problem? Please describe.**

`BaseAsset` handles a modified service event of its driver as if the driver was removed and then added again, that is closing the `PreparedRead` and deregistering `ChannelListener`S, and setting them up again. This is the behavior since the first code drop.

I'm not sure why this is done but it should not be needed and it has a de

[2019-11-19 14:44] pierantoniomerlino commented on #2547
The RPi with Raspbian Buster (10) has the hostapd tool compiled with the `CONFIG_ACS=y`, so it is possible to enable the ACS.

[2019-11-21 08:13] pintify commented on #2577
The route now seems to work on long term (due to recent maintenance I've been unable to test it for more than two days in a row, so I'm still waiting), but it keeps getting stuck on Kura startup. I need to restart the route once in order to get it working

[2019-11-21 12:17] sterwen opened #2596 "Log report via MQTT"
Troubleshooting remote systems is always a challenge and we end up in general by looking at the traces (or logs). This can be Kura logs or any other log on the system. This is also linked to the fact that Kura is not designed to easily give a feedback on the behavior of the platform except for a limited number of parameters (MQTT connectivity)

The possibility that we are considering is to develop

[2019-11-21 12:52] pierantoniomerlino commented on #2526
@sterwen is the resolvconf service running?

[2019-11-23 22:00] sterwen opened #2597 "Expicit role and full list of parameters/keywords for kuranet.conf"
The file kuranet.conf seems to contain most of the parameters for the network configuration, but I haven't found the exhaustive list of parameters we can put in it and the associated keywords.
This could be very helpful to provide a default network configuration for a particular application.
Wat is the precedence between kuranet.conf and snapshot  and they have to be in sink at some point.

Unders

[2019-11-26 11:46] pintify commented on #2577
This issue remains unsolved. The camel route got stuck anyway. And the stuck on boot problem also keeps happening. Any clue?

[2019-11-26 13:44] sterwen opened #2598 "Add support for Quectel modems"
Support for Quectel modem is required.  At least EC25-EC21/BG96

Modify the the code to add this modems support.

**Additional context**
The code is existing on our repo and we can create a pull request to merge it with the main kura repo

[2019-11-26 17:34] MMaiero commented on #2598
Hi,
Any contribution is more than welcome!
Please remember to comply to Eclipse requirements.

Best regards,
Matteo

[2019-11-26 20:54] sterwen commented on #2598
Concerning the code, this is 100% original code. No license of whatsoever attached. I believe this is what you mean by Eclipse requirements.

[2019-11-27 12:52] pintify commented on #2560
Turned out it was the SSL the issue. We're working on it but it doesn't look like a Kura problem so I'm closing this issue.

[2019-11-27 14:27] llehman1 opened #2599 "no Publishing over mqtt on Yocto"
We're experiencing problems when trying to publish data over MQTT.
We're using an UP Squared Board running Yocto.
Yocto details:
Version: Sumo
Layers: meta-java, meta-mender, openembedded

Kura in general is running stable on the board, also MQTT birth messages are sent to Kapua backend (also setting pages can be viewed etc.), but telemetry data aggregated along our WireGraph setup is not publishe

[2019-12-02 15:18] #2590 closed, assigned to nobody

[2019-12-04 13:30] pierantoniomerlino commented on #2585
I confirm that the line added by @spnettec fixes the issue about the wires blink.

[2019-12-11 13:06] Viha1208 opened #2600 "[Web/UI] Cloud Service list items displays multiple times"
**Describe the bug**
Cloud status "Disconnected" displayed twice in "Cloud Services"

**To Reproduce**
Steps to reproduce the behavior:
1. Turned off(false) the "connect.auto-on-startup" option from "DataServices" tab. Cloud service is displays "Connected" status.
2.  Click on "Disconnect" option. Verified that 2 times Cloud status "Disconnected" displayed with "Cloud Factory PID" and "Cloud Servi

[2019-12-11 15:41] pierantoniomerlino commented on #2599
@llehman1 Hi. Did you apply the same wire graph as the Rpi? I mean, did you download the graph from the Rpi and then applied it to the UPSquared?
Is there any log message in the test_logger component?

[2019-12-11 15:53] pierantoniomerlino commented on #2553
I believe that this behavior should be documented both in the field description and official documentation.

[2019-12-11 16:24] sterwen commented on #2526
@pierantoniomerlino In fact the problem we were facing has been corrected on our side and was not linked to Kura. We found it after a long investigation

[2019-12-12 08:28] #2580 closed, assigned to MMaiero

[2019-12-12 09:12] pintify commented on #2577
After multiple tests it was finally fixed. I'm not sure if there was anything else relevant but it looks like I get a wrong configuration somewhere else by the time I made the right patch which was the inclusion of `waitForTaskToComplete=Never`. Once restored a whole new and well configured WireGraph and Camel route with that parameter it started work perfectly. It has been this way for a week now

[2019-12-12 09:12] #2577 closed, assigned to nobody

[2019-12-12 11:04] pierantoniomerlino commented on #2535
@liaconissi I wasn't able to reproduce the issue. So, I closed it, but please reopen it if you find again the problem.

[2019-12-12 11:04] #2535 closed, assigned to nobody

[2019-12-13 09:36] #2578 closed, assigned to nobody

[2019-12-13 10:07] MMaiero commented on #2600
Hello,
which version are you using?

From what I see, it seems a really old version of Kura.
Can you please provide more feedback?

Thanks.
Best regards,
Matteo

[2019-12-13 16:45] alebianchin opened #2601 "WirePublisher becomes unusable after configuring wrong CloudPublisher Target Filter"
If you put something which is not a valid OSGi target filter in the CloudPublisher Target Filter field the WirePublsher stops working even  after you correct the mistake and put a valid OSGi filter pointing at an existing CloudPublisher.
Note that if you put a valid filter that is not pointing to anything it doesn't break. The WirePublisher only breaks with an invalid filter.

Steps to reproduce t

[2019-12-14 01:44] spnettec commented on #2601
It is about the issue #2561

[2019-12-16 09:31] alebianchin opened #2602 "systemctl restart kura does not work properly"
When running the systemctl restart kura command the kura process stops but doesn't start properly

When Kura is running :
[code]

After systemctl restart kura :
[code]
kura-console.log :
`Failed to start Kura. It is already running ...`

By runnning ps -ef you can see that there is no kura process actually running.

To solve you have to run systemctl stop kura and then systemctl start kura.

Kura

[2019-12-16 10:57] Viha1208 commented on #2600
- Hi MMaiero,
I am using Kura 3.2.0 intel-edison build.

Is there any other information required?

[2019-12-16 11:03] MMaiero commented on #2600
That has been changed in newer versions of Kura. I would suggest you to move to a newer version of Kura

[2019-12-16 12:50] MMaiero commented on #2599
Hello @llehman1,
any update on this?
Otherwise we will close the issue for now.

Best regards,
Matteo

[2019-12-16 13:23] #2594 closed, assigned to nobody

[2019-12-16 13:25] MMaiero commented on #2564
The check is performed per factory. There is no overall check.
That could be an issue to be managed for example by the configuration service.

[2019-12-16 13:38] alebianchin commented on #2601
Actually it does not appear to be the same issue.
Th OSGi console outputs this when changing the configuration to the wrong one:
[code]

[2019-12-16 14:00] MMaiero commented on #2409
@bitvijays Can this issue be closed?
Thanks

[2019-12-16 14:11] MMaiero commented on #1533
Closing as the issue is solved in 4.2.0-SNAPSHOT probably due to the updated Paso dependency.

[2019-12-16 14:11] #1533 closed, assigned to nobody

[2019-12-17 07:14] #2409 closed, assigned to nobody

[2019-12-17 10:01] cdealti commented on #792
Compact2 validation has been removed in 5154e2550bd7dff99f49df6bd4ab2a0f431922a2. However, the README.md has not been updated accordingly. I guess this can be closed

[2019-12-17 10:23] #2583 closed, assigned to nobody

[2019-12-18 09:38] nicolatimeus opened #2605 "Wires Timer stop ticking if system time is set in the past"
**Describe the bug**
Changing the system time one our in the past causes all wires timers to stop ticking, the problem is not solved by setting the date back in the future. The only way for restoring behaviour as of now is updating Wire Graph configuration

**To Reproduce**
1. Create a Timer and connect it to a Logger.
2. Note current time
3. Set date one hour in the past

**Expected behavior**
Th

[2019-12-20 10:06] pierantoniomerlino commented on #2602
KURA_4.2.0-SNAPSHOT (develop) uses the old SysV start-up scripts. Since the last Raspbian version uses SystemD, the SysV scripts are converted to a `kura.service` unit by `systemd-sysv-generator` (see man page), that simply wraps the original scripts in a SystemD unit.

When the restart command is called (`systemctl restart kura`), the unit calls `/etc/init.d/kura restart` under the hood. The prob

[2019-12-20 10:16] MMaiero commented on #2599
Closing for now as there is no feedback from the user.
@llehman1 Please feel free to reopen it if needed.

[2019-12-20 10:16] #2599 closed, assigned to nobody

[2019-12-20 10:16] MMaiero commented on #2600
If it is ok, I'll close this issue since it should be fixed since Kura 4.0.0

[2019-12-20 10:16] #2600 closed, assigned to nobody

[2019-12-20 10:17] MMaiero commented on #2585
Closing as PR #2609 is now closed.

[2019-12-20 10:17] #2585 closed, assigned to nobody

[2019-12-20 10:19] pierantoniomerlino commented on #2602
According to [1] and [2], the default unit system in Raspbian is SystemD since 2015.
I think is time to drop the support for sysV init scripts...

[2019-12-20 10:19] MMaiero commented on #2544
Closing as this should be fixed now

[2019-12-20 10:19] #2544 closed, assigned to nobody

[2019-12-20 10:21] #2526 closed, assigned to nobody

[2019-12-20 10:30] MMaiero commented on #1710
We have recently added a "Download logs" feature in Kura that allows the user to download all the meaningful device logs directly from the UI.

Closing , then, for now.

[2019-12-20 10:30] #1710 closed, assigned to nobody

[2019-12-20 10:34] MMaiero commented on #1062
Since Kura 4.2.0 this class is now deprecated. Closing.

[2019-12-20 10:34] #1062 closed, assigned to nobody

[2019-12-20 10:44] MMaiero commented on #455
The passwords for ssl defined in kura.properties file are used for first boot and immediately changed by the framework.
I'm not aware of other passwords in there.

Closing for now

[2019-12-20 10:44] #455 closed

[2019-12-29 13:16] sterwen opened #2612 "Kura start a DHCP deamon on eth0 even if dhcpServer4.enabled is false"
**Describe the bug**
Even with the following properties setup:
net.interface.eth0.config.dhcpServer4.enabled = false
Kura enable both a client AND a server. snapshot and journal file attached.
[kura-journal.log](https://github.com/eclipse/kura/files/4008056/kura-journal.log)
[snapshot_0.zip](https://github.com/eclipse/kura/files/4008057/snapshot_0.zip)

**To Reproduce**
1. Start Kura (4.0) with th

[2019-12-30 07:48] MMaiero commented on #2612
Hi,
just a confirmation, is this an error coming from a default distribution of Kura or from your customisation?

[2019-12-30 21:15] tafitzgerald commented on #1960
Wires components are labeled differently than the services panel. I am working different options to display the component type on the main ui panel for services, but real estate can be tricky to display both component type and name.

[2019-12-30 21:20] tafitzgerald commented on #2013
I have seen this occur before as well and it happens irregularly. This is due to the field being marked as "dirty" when it is touched. This seems to be a minor bug in the system and will be corrected. Thanks for your input on this @ctron.

[2020-01-02 10:31] #2561 closed, assigned to nobody

[2020-01-02 10:43] pintify commented on #2555
I have detected again this leakage in the reconnection to Kapua. The delivery has been working ok for a while now but the last week Kapua server fell and the devices connected started to consume more and more memory trying to reconnect. As Kapua is not mandatory for us, the restart feature after X retries was disabled and the reconnection kept working until the device memory reached the maximum co

[2020-01-02 10:50] MMaiero commented on #2555
Hello,
can you detail your setup?
As you know, by default, the database that keeps the messages on hold until reconnection is stored in memory. This can be the cause of the memory usage you are seeing.
Other than that, what version of Kura are you using?

Maybe you can use a profiler, there are many around in the market, to properly identify where memory is used.

That would really help to determi

[2020-01-02 11:17] pintify commented on #2555
The H2 database is located on filesystem. Only one of the devices had it on memory. The memory graph is similar though.

I'll try with the profiler but I'm not sure I can reproduce the error precise enough because we can't afford to drop Kapua again and misconfigure the connection could lead to a different error and a different memory usage. In the meantime, I attach the exception recovered in the

[2020-01-02 12:16] MMaiero commented on #2555
Thank you for the exception. Still, from your report, it's not clear to me the Kura version: we updated recently Paho, maybe that solved the issue.
Another question: the database is stored in a file, but which is the H2 configuration?

[2020-01-02 13:10] pintify commented on #2555
All the devices are in version 4.0.0, so maybe the recent update has solved the issue, if I reproduce the error, I will try to update the version on one device.

The JDBC url is `jdbc:h2:file:/media/storage/h2.db` if that's what you mean, the rest of the parameters are by default. I send you the configuration of H2DbService and MqttTransport, Data and Cloud services as I'm not sure what you are lo

[2020-01-02 13:17] MMaiero commented on #2555
Just trying to see if you are in "Most persistent" or "Mostly persistent" mode. Than can have an effect in memory as well [1]

[1] http://eclipse.github.io/kura/builtin/h2-database.html#persistence-modes

[2020-01-07 10:52] pierantoniomerlino commented on #2612
@sterwen I couldn't reproduce the issue on a RPi. Even replacing the snapshot_0 file, the DHCP server is not started.
I can suggest to update also the `kuranet.conf` file, setting `net.interface.eth0.config.dhcpServer4.enabled=false` and check if there are OS services that start the DHCP server outside Kura.

[2020-01-07 11:47] pintify commented on #2555
Should I modify something in the configuration?

Regarding the reproduction of the error, I've been unable to fill the memory again with a wrong connection configuration. However, the conditions I created differs greatly as the original error was by timeout and I don't know how to dump that error with a wrong configuration. Modifying the port, the url, the user and the certificate dump their own s

[2020-01-07 16:42] #2553 closed, assigned to pierantoniomerlino

[2020-01-07 21:45] tafitzgerald commented on #1958
@ctron wires components are currently ordered by number of inputs vs outputs. Do you think that an alphabetical ordering would be better suited?

[2020-01-08 16:28] pierantoniomerlino commented on #2612
Closed for now since we weren't able to reproduce it.

[2020-01-08 16:28] #2612 closed, assigned to pierantoniomerlino

[2020-01-09 08:53] pierantoniomerlino opened #2615 "CommandExecutorService tests improvement"
**Is your feature request related to a problem? Please describe.**
The tests implemented for the new `CommandExecutorService` check the method functionality running simple command on the underlying OS. For example the `ls -all` command is run and the return code is checked.

This approach is problematic when the tests are run on a OS other than Linux (i.e. Mac OS X). Moreover, the `UnprivilegedExe